<template>
    <v-dialog value="visible" @click:outside="handleClose">
    <v-form @submit.prevent="certify">
      <v-card>
        <v-card-title>Submit Report</v-card-title>
        <v-card-text>
          <report-certification @reportCertified="userCertified" :report="report" :committeeId="committeeId" :notification-email="notificationEmail"/>
          <v-text-field :rules="[validEmails]" dense label="Notification email(s)" v-model="notification_email" hint="Use ; between each valid email address"></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn tabindex="0" type="submit" :disabled="!certificationBox || !report.user_data.treasurer" class="primary">Submit</v-btn>
          <v-btn tabindex="0" @click="handleClose">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
    </v-dialog>
</template>

<script>
import ReportCertification from "@/orca/reports/ReportCertification.vue";

export default {
  name: "CertificationDialog",
  components: {ReportCertification },
  props: {
    report: Object,
    committeeId: Number,
    notificationEmail: String
  },
  data () {
    return {
      certificationBox: '',
      notificaton_email: ""
    }
  },
  created() {
    this.notification_email = this.notificationEmail
  },
  methods: {
    validEmails( v) {
      function validEmail (email) {
        return !email || /.+@.+\..+/.test(email)
      }
      if (!v) return true
      let valid = true
      const emails = v.split(';')
      emails.forEach(email => {
        if (!validEmail(email)) {
          valid = false
        }
      })
      if (!valid) {
        return 'Invalid email'
      }
      return true
    },
    certify() {
      this.$emit('certified', this.notificaton_email);
    },
    userCertified(val) {
      this.certificationBox = val;
    },
    handleClose() {
      this.certificationBox = '';
      this.$emit('closed');
    }
  }
}
</script>

<style scoped>

</style>