<template>
  <v-dialog value="visible" max-width="600" @click:outside="handleSuccessOK">
    <v-card>
      <v-card-title class="headline">Success</v-card-title>
      <v-card-text>
        <slot></slot>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn tabindex="0" color="primary" @click.stop="handleSuccessOK">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "SuccessDialog",
  methods: {
    handleSuccessOK() {
      this.$emit('okClicked');
    }
  }
}
</script>

<style scoped>

</style>