<template>
  <InfoDialog title="Access token">
    <p>The purpose of these tokens are to allow you to take the data that you entered here to ORCA
      or other third party campaign finance systems, and to allow those systems to file expenditure and
      contribution reports (C3/C4).
    </p>
    <p>Steps to use the token.</p>
    <ol>
      <li>Generate a token here.</li>
      <li>Copy the token to your clipboard.</li>
      <li>You can go to the setup wizard and enter the access token when prompted for a new campaign or for an existing
        campaign and enter the token in the token info tab of the committee information page
      </li>
    </ol>
  </InfoDialog>
</template>
<script>
import InfoDialog from "./InfoDialog";

export default {
  components: {InfoDialog}
}
</script>