<template>
  <InfoDialog title="Affiliations">
    <p>Please disclose any other committees that you may be affiliated with.</p>
    <p><a
        href="https://www.pdc.wa.gov/rules-enforcement/guidelines-restrictions/affiliation"
        target="_blank">Click here to read more about affiliations</a></p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
