<template>
  <InfoDialog title="Non-Exempt vs. Exempt Bonafide Political Party Funds">
    <p>Contributions to non-exempt funds are subject to limits but can be used by party and caucus committees for any
      expenditure. Exempt funds, which are not subject to limits, can be used only for certain expenses not associated
      with individual candidates, such as: voter registration efforts, absentee ballot information, precinct caucuses,
      get-out-the-vote campaigns, precinct judges or inspectors, sample ballots, ballot counting or internal party
      expenses. Most party committees report all activity through non-exempt accounts.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
