<template>
  <InfoDialog title="Campaign books inspection">
    <p>Any individual may email a campaign to request to inspect its books of account. The email provided here is how
      they would contact the committee and must be monitored.</p>
    <p>In the 10 days prior to the election, any individual may email a campaign at the address reported to request a
      meeting to inspect its books of account. The appointment must be between 9 a.m. and 5 p.m. on a weekday, unless
      you both agree to meet at a different time.</p>
    <p>The inspection must be allowed within 48 hours of the date and time the request was made, provided that if the
      request is not made by 3 p.m. on the third day preceding an election, the candidate or political committee need
      only make best efforts to accommodate the request. </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
