<template>
  <info-dialog title="Campaign start date">
    <p v-if="pacType === 'candidate' ">According to the disclosure law, a person becomes a candidate when they do one of
      these
      things: accept a contribution or spend money for their campaign; reserve space or purchase advertising to promote
      their candidacy; authorize someone else to do any of these activities for them; state publicly that they are
      seeking
      office; or file a declaration of candidacy.
    </p>
    <p v-else>
      According to the disclosure law, an organization becomes a political committee when it first has the
      expectation of receiving contributions or making expenditures in support of, or opposition to, any candidate or
      any ballot proposition.
    </p>
  </info-dialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  name: "CampaignStartDate",
  components: {InfoDialog},
  props: {
    pacType: {
      type: String,
      default: "pac"
    }
  }
}
</script>

<style scoped>

</style>