<template>
  <InfoDialog title="Selecting a candidate">
    <p>Candidate identification is required for political committees who plan to support or oppose a political
      candidate.</p>
    <p>Committees are required to provide the candidates name, political affiliation and the office the candidate(s) is
      seeking for office. Searching and selecting the candidate will add the required information.</p>
    <p>Otherwise, selecting <strong>MY CANDIDATE IS NOT LISTED</strong> button means manually providing the candidate
      <strong>legal name</strong>, <strong>office</strong> and <strong>party affiliation</strong>.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
