<template>
  <InfoDialog title="Candidate info">
    <p><strong>Candidate Name:</strong> Use the candidate's name on the voter registration and include the middle
      initial.
      It's OK to include a nickname, (i.e John A "Jack" Jones, Jr), so long as the full legal name is listed.</p>

    <p><strong>Ballot Name:</strong> Use the candidate's name as appears on the ballot.
      It's OK to leave the ballot name field blank if the candidate name is the same as the ballot name.</p>

    <p><strong>Candidate Email:</strong> Provide a contact email for the candidate.
      Elected officials and public employees are not allowed to use their
      government agency contact information.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
