<template>
  <InfoDialog title="Candidate as treasurer">
    <p>
      The candidate can be the treasurer. Candidates who select full reporting are strongly encouraged to enlist the
      aid of a treasurer who has the time necessary to keep detailed, accurate records and to file frequent reports.
      A treasurer does not need to be a professional accountant.
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>