<template>
  <info-dialog title='What does "Carry-forward" mean?'>
    This is to indicate that the loan is being carried forward from a previous campaign, which
    will usually not be the case. If checked, the next three fields will be required. Enter the
    committee name and the election year of the campaign that originally incurred the loan.
    The last field, "Original loan date" is the date on which the loan was first initiated by
    the prior campaign. "Date Received" will be the date on which the current campaign assumed
    the loan balance.
  </info-dialog>
</template>

<script>
  import InfoDialog from "@/info/InfoDialog";

  export default {
    components: {InfoDialog}
  }
</script>
