<template>
  <InfoDialog title="Carry forward campaign data">
    <p><strong>You can carry forward data from a previous campaign using one of the following options:</strong></p>
    <ul>
      <li><strong>Yes, carryforward balances and contacts</strong> will import bank and cash account balances, loans, debts and contacts from a selected campaign.</li>
      <li><strong>Yes, but contacts only</strong> will import all contacts from a selected campaign.</li>
      <li><strong>No, don't import anything</strong> will start a fresh campaign.</li>
    </ul>
    <br/>
    <div>
      <p>
        <strong>Rules that govern which campaign you can bring forward money and debt obligations</strong>
      </p>
      <p>
        Consult <a href="https://www.pdc.wa.gov/rules-enforcement/guidelines-restrictions?combine=&field_type_of_guideline_target_id_1=All&field_topic_target_id%5B0%5D=101&field_topic_target_id%5B1%5D=101" target="_blank">Guidelines & Restrictions</a> for more details.
      </p>
    </div>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>