<template>
  <InfoDialog title="Carry forward balance">
    <p>Some campaigns carry forward funds from a previous campaign or previous calendar year to the new campaign or
      calendar year.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
