<template>
  <InfoDialog title="Naming the committee">
    <p>So that there is a distinction between this committee and others, a political committee name must be unique. No
      two active committees may have the same name. PDC staff will notify any committee that registers under a name
      already in use and instruct the committee to choose a different name.</p>
    <p>If the committee is a <a
        href="https://www.pdc.wa.gov/registration-reporting/candidates-committees/registration-reporting-basics/choosing-mini-or-full-reporting">sponsored
      committee</a>, the committee name must include the sponsor's name.</p>

    <div>
      <ul>
        <li>A sponsored committee must include its sponsor’s name in the committee’s name. A committee with multiple
          sponsors must include at least one – and may include all – sponsor names in the committee’s name. The PDC
          does not dictate how the sponsor’s name will be incorporated into the committee’s name.
        </li>
        <li>A political committee shall include a known sponsor in its name when registering. The committee must amend
          its registration 60 days before an election in which it participates if the sponsor has changed.
        </li>
      </ul>
    </div>

  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
