<template>
  <InfoDialog title="Searching for committees">
    <p>
      By default all searching is done by 'fuzzy' matching which is based on how similar the search
      text is to what is saved on the registration. By adding a '*' to your search you can have the
      text be matched directly. For example searching for 'John L' with the fuzzy search
      would return someone named 'John Paul' as well as 'John L'. But searching for '*John L'
      will only return names that end in 'John L'. Searching for '*John L*' would match any names containing
      the name 'John L'. Committee name, filer_id, email, treasurer name, and jurisdiction name are all text based that
      match on
      items that contain similar text values or exact strings when using the * within your search text.
    </p>
    <p>
      <strong>Committee Type</strong> - The committee type drop down is a multi-select meaning you can
      select as many as you wish to have in your results and all unselected will be filtered out.
    </p>
    <p>
      <strong>Election Year</strong> Specify the election year to see only active
      committees during the entered year. This includes both single election committees for that year as
      well as continuing committees that were active during that year.
    </p>
    <p>
      <strong>Address</strong> - Address searches operates similar to other text fields except you can specify
      any portion of the address (address, city, state, and postcode). For example you could search for '123 Main St'
      and if that does not narrow things down enough for you just
      add additional details to your search such as '123 Main St, Olympia, WA, 98501' you can add searches for as
      many or as few aspects of address as you wish just not that the more you search on the more narrow and specific
      the returned results will be.
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
