<template>
  <InfoDialog title="Contact information">
    <p>Committee contact information allows another person, business or entity to reach out to the committee. Show the
      committee’s full mailing address, including the nine-digit zip, if known. At a minimum, give the first five digits
      of the zip code. Also provide telephone number and email address.</p>
    <p>An email address is required and will be the primary means of communication by the Commission. Do not use a
      government email address for your campaign.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
