<template>
  <InfoDialog title="Single election committees">
    <p>Committees that are established in anticipation of a particular election, must indicate which candidates and/or
      ballot initiatives or propositions that they are formed to support. </p>
  </InfoDialog>

</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>