<template>
  <InfoDialog title="Election participation">
    <p>Participating in an election includes making expenditures, independent expenditures, or contributions to support
      or oppose a candidate or ballot measure on that ballot.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
