<template>
  <InfoDialog title="Incomplete Contact">
    <h3>Email address</h3>
    <p>All persons required to file reports must, at the time of initial filing, provide the Public Disclosure
      Commission an email address that shall constitute the official address for purposes of all communications from the
      Commission. See <a href="https://app.leg.wa.gov/RCW/default.aspx?cite=42.17A.055">RCW 42.17A.055</a>.</p>
    <h3>Address details</h3>
    <p>
      A mailing address is needed so that the Public Disclosure Commission has an additional means of
      contact with the committee.
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
