<template>
  <span class="InfoDialog">
    <v-btn :color="color" :light="light" :icon="!label" :depressed="depressed" small tabindex="-1"
           @click="onIconClick()">
      {{ label }}<v-icon>help</v-icon>
    </v-btn>
    <v-dialog v-model="infoActivated" @keyup="onKeyPress" max-width="55em">
      <v-card>
        <v-card-title v-if="dialogTitle">
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>
          <slot name="default">
          </slot>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="closeDialog()">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>

export default {

  name: "InfoDialog",
  props: {
    info: String,
    title: String,
    label: String,
    mode: String,
    color: String,
    light: Boolean,
    depressed: Boolean,
  },
  data() {
    return {
      dialogTitle: "",
      infoActivated: false,
    }
  },
  created() {
    this.dialogTitle = this.title;
  },
  methods: {
    onIconClick() {
      this.infoActivated = true;
    },
    closeDialog() {
      this.infoActivated = false;
    },
    onKeyPress(e) {
      if (e.key === "Enter") {
        this.closeDialog();
      }
    }
  }
}
</script>

<style scoped>
.InfoDialog {
  display: inline-block;
}

</style>