<template>
  <InfoDialog title="Itemize always">
    <p>
      Contributions from donors who have given ${{fund.thresholds.itemized_contributions}} or less in aggregate or expenditures of ${{fund.thresholds.itemized_expenses}} or
      less are normally not itemized. Use this option to make them show as itemized.
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";
import {useOrcaFund} from "@/orca/fund/Fund";

export default {
  components: {InfoDialog},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
}
</script>
