<template>
  <InfoDialog title="Local Filing Definition">
    <p>In addition to your state PDC filing requirement, the committee is required to file with the City of Seattle if
      any of the following are true:</p>

    <div>
      <ul>
        <li>The committee will make expenditures promoting or opposing candidates for Seattle Mayor, City Council or
          City Attorney, or
        </li>
        <li>The committee will make expenditures promoting or opposing City of Seattle ballot issues, or</li>
        <li>The committee will make contributions to a committee that makes expenditures listed above.</li>
      </ul>
    </div>

    <p>If you have any questions about this requirement, please contact the Seattle Ethics and Elections Commission
      Campaign Finance staff at <a href="https://www.seattle.gov/ethics/contact-us" target="_blank">https://www.seattle.gov/ethics/contact-us</a>
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
