<template>
  <InfoDialog title="Why a non-ministerial officer is required">
    <p>The committee must identify at least one non-ministerial officer.  The registration should report
      each person who authorizes expenditures or makes decisions for the candidate or political committee.
      Since a ministerial treasurer does not make these decisions for the campaign, you need to include the officer
      who does.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
