<template>
  <InfoDialog title="Definition of ministerial">
    <p>"<strong>Ministerial functions</strong>" means activities carried out as part of the duties of an administrative
      office
      without exercise of personal judgment or discretion. <a
          href="https://app.leg.wa.gov/rcw/default.aspx?cite=42.17A.005" target="_blank">RCW 42.17A.005(33)</a>.
      An example of ministerial would be a bookkeeper who is not involved in making decisions or setting strategy for
      the committee.
    </p>
    <p>A person who solely performs ministerial functions for both a candidate and a political committee would not limit
      that political committee’s ability to make independent expenditures or electioneering communications regarding
      that candidate.
    </p>
    <p>[See <a href="https://app.leg.wa.gov/rcw/default.aspx?cite=42.17A.005" target="_blank">RCW 42.17A.005
      (13)(b)(ix)</a> and <a href="https://app.leg.wa.gov/wac/default.aspx?cite=390-05-243" target="_blank">WAC
      390-05-243</a> for more detailed information.]
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
