<template>
  <InfoDialog title="Mini or full reporting">
    <p>All committees are required to register a campaign as either the full or mini reporting option. This choice is
      guided by the amount of money a committee intends to raise and spend.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
