<template>
  <InfoDialog title="Bank information">
    <p>A Committee that <strong>plans</strong> to receive or spend contributions is required by law to keep detailed,
      up-to-date, accurate records and must identify the bank, branch and city where the account exists or will exist.
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
