<template>
  <InfoDialog title="Local filing">
    <p>Please provide a two-hour time period between 8 a.m. and 8 p.m. on the Monday one week before the Primary and
      General when the books and a campaign representative will be available.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
