<template>
  <InfoDialog title="Why a treasurer is required">
    <p>The committee must identify at least one treasurer. A treasurer is responsible for keeping detailed, accurate
      records, and filing required reports.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
