<template>
  <InfoDialog title="Saving notification email addresses">
    <ul>
      <li>If you prefer to have the PDC send notifications about this report to alternate email addresses, type the
        email addresses and check the <strong>Save notification email addresses</strong> checkbox.
      </li>
      <li>If you prefer to have the PDC send notifications to your registered committee, uncheck the <strong>Save
        notification email addresses</strong> checkbox.
      </li>
    </ul>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
