<template>
  <InfoDialog title="Officers of a committee">
    <p>Officers of a candidate or political committee include any person who alone or in conjunction with other persons
      makes, directs, or authorizes contribution, expenditure, strategic or policy decisions on behalf of the committee.
      See <a href="https://apps.leg.wa.gov/wac/default.aspx?cite=390-05-245">WAC 390-05-245</a>.</p>
    <h3>Why title is required</h3>
    <p>A title distinguishes someone's position or job in the committee and describe a person's responsibility or
      decision-making authority for the committee.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
