<template>
  <InfoDialog title="Need assistance">
    <p>If you cannot locate either the office, jurisdiction or position contact the PDC.</p>

    <p><strong>Phone: </strong>(877) 601-2828 | (360) 753-1111</p>
    <p><strong>Office visit: </strong>711 Capitol Way Rm 206 | Olympia, WA 98504-0908</p>
    <p><strong>Email: </strong> <a href="mailto:pdc@pdc.wa.gov">pdc@pdc.wa.gov</a></p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
