<template>
  <InfoDialog title="To Be Determined (TBD)">
    <p><strong>Amending your registration</strong></p>
    <p>If the candidate has not yet decided which position they are running for, specify TBD. Please remember to amend
      your registration within 10 days of declaring which position or making any other material change to the campaign's
      information.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
