<template>
  <InfoDialog title="Reporting options explained">
    <p>All candidates and committees that are required to register a campaign must select either the full or mini
      reporting option. The choice is guided by the amount of money a candidate or political committee intends to raise
      and spend on the campaign. Regardless of which option is chosen, all candidates and political committees must keep
      accurate, detailed records and be prepared to receive requests to make these records available for public
      inspection during the 10 days preceding the primary, general or special election in which they're participating.
      Any candidate or political committee that later wants to move to full reporting must do so by the applicable
      deadline.</p>
    <p><a
        href="https://www.pdc.wa.gov/registration-reporting/candidates-committees/registration-reporting-basics/choosing-mini-or-full-reporting">See
      the website for more information</a>.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>