<template>
  <InfoDialog title="Continuing committee reporting year">
    <p>Continuing political committees set up an ORCA campaign for each calendar year.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
