<template>
  <InfoDialog title="Seattle Ethics and Elections">
    <p>Election Code Rule 12(B) states:</p>
    <p>2. On every day from the seventh day before an election through the day immediately before an election, other
      than Saturday, Sunday, or a legal holiday, campaign records must be available at the designated place for
      inspections (1) by appointment, and (2) for two hours, between 8:00 a.m. and 8:00 p.m. The appointment must be
      allowed at an authorized time and day for such inspections that is within 24 hours of the time and day that is
      requested for the inspection.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
