<template>
  <InfoDialog title="Sponsor definition explained">
    <p>Any person to whom any of the following applies:</p>

    <div>
      <ul>
        <li>The committee receives 80% of more of its contributions from the person or from the person's members,
          officers, employees, or shareholders.
        </li>
        <li>The person collects contributions for the committee by use of payroll deductions or dues from its members,
          officers, or employees.
        </li>
      </ul>
    </div>

    <p>"Person" includes an individual, partnership, joint venture, public or private corporation, association, federal,
      state, or local governmental entity or agency however constituted, candidate, committee, political committee,
      political party, executive committee thereof, or any other organization or group of persons, however organized.
      RCW 42.17A.005(42)(b).</p>
    <p>It is possible that a political committee will have one sponsor, multiple sponsors, or no sponsor. It is also
      possible that a contributor who is a sponsor under the 80% threshold described will not be a sponsor for the
      entire campaign.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
