<template>
  <InfoDialog title="Candidate surplus funds">
    <p>Surplus funds accounts are usually established by elected officials for the purposes of using campaign funds that
      remain after an election to pay for non-reimbursed public office related expenses.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
