<template>
  <InfoDialog title="An entire ticket">
    <p>When supporting or opposing a party ticket (the entire ticket) identify the party affiliation.</p>
    <p><strong>One or more candidates</strong></p>
    <p>Candidate identification is required for political committees that plan to support or oppose a candidate.</p>
    <p>Committees are required to provide the candidate’s name, political affiliation and the office the candidate(s) is
      seeking. Searching and selecting the candidate will add the required information.
    </p>
    <p>Otherwise, selecting <strong>MY CANDIDATE IS NOT LISTED</strong> button means manually providing the candidate
      <strong>legal name</strong>, <strong>office</strong> and <strong>party affiliation</strong>.</p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  components: {InfoDialog}
}
</script>
