<template>
  <div  v-if="draft_reports.length > 0">

    <h3>Vendor-provided reports not yet submitted</h3>
    <v-data-table
        :headers="[
          {text: 'Status', value: 'status'},
          {text: 'Report type', value: 'report_type'},
          {text: 'Period start', value: 'period_start'},
          {text: 'Period end', value: 'period_end'},
          {text: 'Date received', value: 'received_date'},
          {text: 'Actions', value: 'action', sortable: false},
        ]"
        style="max-width: 80em;"
        :items="draft_reports"
        :footer-props="{'items-per-page-options':[5, 100, -1]}"
    >
      <template v-slot:item.status="{item}">
        <accessible-button icon :button-tooltip="parseMessage(item.messages)">
          <v-icon v-if="item.processed && !item.messages" color="primary">check
          </v-icon>
          <v-icon  v-if="item.messages && item.processed" color="warning">
            warning
          </v-icon>
          <v-icon v-if="!item.processed" color="error">
            error
          </v-icon>
        </accessible-button>
      </template>
      <template v-slot:item.report_type="{item}">
        {{item.report_type}}
      </template>
      <template v-slot:item.period_start="{item}">
        {{item.period_start|formatDate}}
      </template>
      <template v-slot:item.period_end="{item}">
        {{item.period_end|formatDate}}
      </template>
      <template v-slot:item.received_date="{item}">
        {{item.received_date|formatDateTime}}
      </template>
      <template v-slot:item.action="{item}">
        <v-btn tabindex="0" v-if="item.processed" :to='{name: "draft-report", params: {committee_id: committee_id, draft_id:item.draft_id}}'><v-icon>visibility</v-icon></v-btn>
        <v-btn tabindex="0" v-else @click="onErrorButtonClick(item)"><v-icon   color="red">visibility</v-icon></v-btn>
        <v-btn tabindex="0" icon @click="deleteDraftReportDialog(item)"><v-icon>delete</v-icon></v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="draftReportDialog">
      <v-card>
        <v-card-title>Delete draft report?</v-card-title>
        <v-card-text>
          Are you sure you want to delete the {{draftReportDetails.report_type}} draft report for period
          {{draftReportDetails.period_start|formatDate}} - {{draftReportDetails.period_end|formatDate}} that was submitted on {{draftReportDetails.received_date|formatDate}}?
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="accent" @click="deleteDraftReport()">Delete Report</v-btn>
          <v-btn tabindex="0" @click="cancelDraftReportDelete()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="draftReportErrorDialog" width="50em">
      <v-card>
        <v-card-title>
          Errors found
        </v-card-title>
        <v-card-text>
          <div>This report can not be submitted as it contains the following errors:</div>
          <div>{{message}}</div>
          <div>Please contact your vendor for instructions on how to get these errors resolved.</div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="cancelReportErrorDialog()">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {app} from "../main";
import AccessibleButton from "../components/AccessibleButton";

export default {
  name: "DraftReports",
  components: {AccessibleButton},
  props: {
    committee_id: {
      type: Number,
      default: null,
    }
  },
  data() {
    return {
      draft_reports: [],
      draftReportDialog: false,
      draftReportErrorDialog: false,
      draftReportDetails: {},
      message: null,
    }
  },
  created() {
    this.getDraftReports();
  },
  watch: {
    committee_id() {
      this.getDraftReports();
    }
  },
  methods: {
    parseMessage(value) {
      if(value){
        const tooltip = Object.values(value);
        return tooltip ? tooltip.join('. ') : null;}
      return null;
    },
    onErrorButtonClick(item) {
      this.message = this.parseMessage(item.messages);
      this.draftReportErrorDialog = true;
    },
    deleteDraftReportDialog(item) {
      this.draftReportDialog = true;
      this.draftReportDetails = item;
      this.selected_draft_id = item.draft_id;
    },
    deleteDraftReport() {
      app.$container.dataService.deleteVendorDraftReport(
          () => {
            this.cancelDraftReportDelete();
            this.getDraftReports();
          }, {draft_id: this.selected_draft_id});
    },
    cancelDraftReportDelete() {
      this.draftReportDetails = {};
      this.selected_draft_id = null;
      this.draftReportDialog = false;
    },
    /**
     *  Retrieve a list of unfiled reports for display.
     **/
    getDraftReports() {
      app.$container.dataService.listDraftReports(this.committee_id,
          (data) => {
            this.draft_reports = data;
          });
    },
    cancelReportErrorDialog() {
      this.draftReportErrorDialog = false;
    },
  }
}
</script>
