<template>
  <div class="FinanceSummary">

    <div class="title">Submitted reports</div>
    <v-data-table
        style="max-width: 80em;"
        :items="filteredReports"
        :headers="headers"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
    >
      <template v-slot:header="headers">
        <thead>
        <tr>
          <th v-for="header in headers.props.headers" :key="header.value">
            <div v-if="filters.hasOwnProperty(header.value)">
              <v-select flat hide-details small multiple clearable :items="columnValueList(header.value)"
                        v-model="filters[header.value]">
              </v-select>
            </div>
          </th>
        </tr>
        </thead>
      </template>
      <template v-slot:item.status="{item}">
        <v-icon v-if=" item.report_type == 'LMC' || (item.processed && !item.message.toLowerCase().includes('warning'))" color="green">checkmark
        </v-icon>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-icon v-on="on" v-if="item.message && item.message.toLowerCase().includes('warning')" color="yellow">
              warning
            </v-icon>
          </template>
          <span>{{ item.message }}</span>
        </v-tooltip>
      </template>
      <template v-slot:item.period_start="{item}">
        {{ item.period_start|formatDate }}
      </template>
      <template v-slot:item.period_end="{item}">
        {{ item.period_end|formatDate }}
      </template>
      <template v-slot:item.report_id="{item}">
        <router-link v-if="item.report_type != 'LMC'" :to="{ path: 'report-overview', query: {report_number : item.report_id  } }">{{ item.report_id }}</router-link>
        <a v-if="item.report_type == 'LMC'" :href="'/lmc/admin/report/' + item.report_id">{{ item.report_id }}</a>
      </template>
      <template v-slot:item.superseded_id="{item}">
        <span><router-link
            :to="{ path: 'report-overview', query: {report_number : item.superseded_id } }">{{ item.superseded_id }}</router-link></span>
      </template>
      <template v-slot:item.action="{item}">
        <v-btn tabindex="0" icon @click="deleteReportDialog(item)">
          <v-icon>delete</v-icon>
        </v-btn>
        <v-btn tabindex="0" icon text small @click="editReportFields(item)">
          <v-icon>edit</v-icon>
        </v-btn>
      </template>
      <template v-slot:item.submitted_at="{item}">
        {{ item.submitted_at|formatDate }}
      </template>
    </v-data-table>
    <v-dialog v-model="reportDialog">
      <v-card>
        <v-card-title>Delete report?</v-card-title>
        <v-card-text>
          Are you sure you want to delete report {{ reportDetails.report_id }}, report type -
          {{ reportDetails.report_type }} for period
          {{ reportDetails.period_start|formatDate }} - {{ reportDetails.period_end|formatDate }} that was filed on
          {{ reportDetails.submitted_at|formatDate }}?
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="accent" @click="deleteReport()">Delete Report</v-btn>
          <v-btn tabindex="0" @click="cancelReportDelete()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editAmendmentChain">
      <v-card>
        <v-card-title>Edit report #{{ selected_report_id }}</v-card-title>
        <v-card-text>
          <DatePicker label="Submitted date" v-model="reportSubmittedDate"></DatePicker>
          <div class="mb-1">
            Do one of the following:
            <ul>
              <li>Amend a report</li>
              <li>Enter a external id</li>
            </ul>
          </div>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                variant="solo"
                v-model="input_external_id"
                label="External Id"/>
            </v-col>
            <v-col cols="12" md="6">
              #{{selected_report_id}}'s external id: <br/>{{ external_id }}
            </v-col>
          </v-row>
          <v-select
              v-if="reportType=='C3'"
              v-model="selectedReportToAmend"
              :items="depositReportsThisPeriod"
              item-value="report_id"
              label="Amends report"
              clearable
          >
            <template
                v-slot:item="{item}"
            >
              {{ item.submitted_at|formatDate }} - Report #{{ item.report_id }} for ${{ item.amount }}
            </template>
            <template
                v-slot:selection="{item}"
            >
              {{ item.submitted_at|formatDate }} - Report #{{ item.report_id }} for ${{ item.amount }}
            </template>
          </v-select>

        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="!disableSave" color="accent" @click="saveEditedReport()">Submit</v-btn>
          <v-btn tabindex="0" @click="cancelEditAmendmentChain()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {app} from "../main";
import {mapState} from 'vuex';
import DatePicker from "@/components/DatePicker";
import {dataService} from "@/DataService";

export default {
  name: "FinanceSummary",
  components: {DatePicker},
  data() {
    return {
      input_external_id: null,
      external_id: null,
      message: null,
      funds: [],
      reports: [],
      reportDetails: {},
      selected_external_id: null,
      selected_report_id: null,
      selectedReportToAmend: null,
      reportDialog: false,
      editAmendmentChain: false,
      reportSubmittedDate: null,
      reportType: null,
      depositReportsThisPeriod: [],
      filters: {
        report_type: [],
      }
      }
    },
    props: {
      committee_id: Number,
    },
    computed: {
      ...mapState(['registration', 'user']),
      disableSave(){
        let a = !this.selectedReportToAmend; // if selectedReportToAmend is null
        let b = !this.input_external_id; // if input_external_id is null
        return !(a && b) && !(!a && !b)
      },
      headers() {
        return [
          {text: 'Status', value: 'status'},
          {text: 'Report type', value: 'report_type'},
        {text: 'Period start', value: 'period_start'},
        {text: 'Period end', value: 'period_end'},
        {text: 'Repno', value: 'report_id'},
        {text: 'Repno amended by', value: 'superseded_id'},
        {text: 'Date filed', value: 'submitted_at'},
        this.user.rights.delete_wapdc_report ? {text: 'Actions', value: 'action'} : {sortable: false}
      ]
    },
      filteredReports() {
        return this.reports.filter(d => {
          return Object.keys(this.filters).every(f => {
            return this.filters[f].length < 1 || this.filters[f].includes(d[f])
          })
        })
      },
    },
    created() {
      this.getReports();
    },
    watch: {
      committee_id() {
        if (this.committee_id) {
          this.getReports();
      }
    }
  },
  methods: {
    getReportsForPeriod() {
      app.$container.dataService.adminQuery('get-aggregate-deposits-by-report-id', data => {
        this.depositReportsThisPeriod = data;
      }, {
        report_id: this.selected_report_id
      });
    },
    parseMessage(value) {
      let parse = Object.values(JSON.parse(value));
      let parsedMessage = parse.join('. ');
      return parsedMessage;
    },
    getReports() {
      app.$container.dataService.adminQuery('committee_reports',
          (data) => {
            this.reports = data;
          },
          {committee_id: this.committee_id})
      },

    deleteReportDialog(item) {
      this.reportDialog = true;
      this.reportDetails = item;
      this.selected_report_id = item.report_id;
    },
      cancelReportDelete() {
        this.reportDetails = {};
        this.selected_report_id = null;
        this.reportDialog = false;
      },
      editReportFields(item) {
        this.reportType = item.report_type;
        this.reportSubmittedDate = item.submitted_at;
        this.selected_report_id = item.report_id;
        this.external_id = item.external_id;
        this.selectedReportToAmend = item.amends;
        this.getReportsForPeriod();
        this.editAmendmentChain = true;
      },
      cancelEditAmendmentChain() {
        this.editAmendmentChain = false;
      },
    saveEditedReport: function () {
      let postObject = {};
      postObject.submitted_at = this.reportSubmittedDate;
      postObject.amends_id = this.selectedReportToAmend ?? null;
      postObject.external_id = this.external_id ?? null;
      postObject.input_external_id = this.input_external_id ?? null;

      dataService.put("service/campaign-finance/report/" + this.selected_report_id, (result) => {
        if (result.data.success) {
          this.getReports();
        } else {
          alert(result.data.error);
        }
      }, postObject);

      this.input_external_id = '';
      this.cancelEditAmendmentChain();
    },
      deleteReport() {
        app.$container.dataService.deleteFinanceReport(
          () => {
            this.cancelReportDelete();
            this.getReports();
          }, {report_id: this.selected_report_id});
    },
    columnValueList(val) {
      return this.reports.map(d => d[val]).sort();
    },
  }
}
</script>

<style scoped>

</style>
