<template>
  <div class="OrcaLogs">
    <v-data-table :items="submissions"
                  :headers="[
        {text: 'Status', value: 'status'},
        {text: 'Report Type', value: 'report_type'},
        {text: 'Submitted', value: 'submitted_at'},
        {text: 'Response', value: 'message'},
      ]"
    >
      <template v-slot:item.status="{item}">
        <v-icon v-if="item.report_id && item.processed && !item.message.toLowerCase().includes('warning')"
                color="primary">checkmark
        </v-icon>
        <v-icon v-else-if="item.report_id && item.message && item.message.toLowerCase().includes('warning')"
                color="accent">warning
        </v-icon>
        <v-icon v-else color="error">error</v-icon>
      </template>
      <template v-slot:item.submitted_at="{item}">
        {{ item.submitted_at|formatDate }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
import {app} from '../main'

export default {
  name: "OrcaLogs",
  props: {
    committee_id: Number,
  },
  data() {
    return {
      submissions: [],
    }
  },
  created() {
    this.getLogs();
  },
  watch: {
    committee_id() {
      this.getLogs();
    }
  },
  methods: {
    getLogs() {
      app.$container.dataService.adminQuery(
          'committee_finance_submissions',
          (data) => {
            this.submissions = data;
          },
          {committee_id: this.committee_id}
      );
    }
  }
}
</script>

<style scoped>

</style>