<template>
  <div>
    <v-card flat v-if="fund.orcaVersion<1.500 && canUpgradeToOnline ">
      <v-card-title >
        Upgrade to ORCA 1.500
      </v-card-title>
      <v-card-text>
        <p v-if="fund.orcaVersion">
          This campaign was last updated on {{ formatDateTime(fund.updated) }}, and is using ORCA version {{ fund.orcaVersion.toFixed(3) }}.
        </p>
        This action cannot be undone.
      </v-card-text>
      <v-card-actions>
        <v-btn tabindex="0" color="primary" @click="doUpgradeCampaign">UPGRADE</v-btn>
        <v-btn tabindex="0" :to="{name: 'committees'}">Cancel</v-btn>
      </v-card-actions>
    </v-card>
    <v-alert type="error" v-else-if="fund.restore_request_id!==null">
      A campaign archive restore operation is in progress. You can not access your campaign until the process completes.
    </v-alert>
    <v-alert type="info" v-else>
      You should have been redirected to your campaign, but something went wrong.  Please contact the PDC.
    </v-alert>

  </div>
</template>

<script>
import filters from "@/filters";
import {mapState} from "vuex";
import {orcaDataService} from "@/OrcaDataService";

export default {
  name: "OrcaLoader",
  props: {
    fund: {
      type: Object,
      default: () => {},
    },
  },
  watch: {
    fund() {
      this.autoNavigateIfPossible();
    }
  },
  created() {
    this.autoNavigateIfPossible();
  },
  computed: {
    ...mapState(['user']),
    canUpgradeToOnline() {
      return this.user.rights.orca_online;
    },
  },
  methods: {
    ...filters.filters,
    autoNavigateIfPossible() {
      if (this.fund && this.fund.orcaVersion >= 1.500) {
        this.openCampaign();
      }
    },
    async doUpgradeCampaign() {
      const result = await orcaDataService.postFundObject(this.fund.fund_id, 'upgrade', this.fund, true);
      if(result?.success) {
        this.showUpgradeDialog = false;
        this.openCampaign();
      } else {
        alert("Error upgrading campaign");
      }
    },
    openCampaign() {
      if (this.fund.restore_request_id === null) {
        this.$router.replace({name: 'ORCA.campaign.fund', params: {fund_id: this.fund.fund_id}})
      }
    },
  }
}
</script>
