<template>
  <div>
    <div class="d-flex justify-center align-content-center" v-if="reportLoaded && !report">
      No report found.
    </div>
    <ReportSummary v-if="reportLoaded && report" :report="report">
      <div>
        <v-list dense outlined class="mt-2 pa-2 record--list">
          <div class="text-xl-start">Official Report Record{{ recordLinks.length > 1 ? 's' : '' }}</div>
          <!-- replace with downloadPdf function when PDF functionality complete -->
          <v-list-item v-if="report.user_data && canAccessData ">
            <v-list-item-icon>
              <v-icon color="error">picture_as_pdf</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <router-link
                  :to="`fund/report/${report_number}`">
                <v-list-item-title>
                  Preview HTML report
                </v-list-item-title>
              </router-link>
            </v-list-item-content>
          </v-list-item>
          <!-- recordsExits computed property suppresses the PDF View so it doesn't present along side pdf links-->
          <v-list-item v-if="!report.user_data && !recordLinksExists ">
            <v-list-item-icon>
              <v-icon color="error">picture_as_pdf</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <a :href="report.url" target="_blank">
                <v-list-item-title>View PDF</v-list-item-title>
              </a>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
              v-for="(reportLink, i) in recordLinks"
              :key="i"
          >
            <!-- reportLink.url: handles cases when a invalid url is requested. -->
            <v-list-item-icon v-if="reportLink.url !== null">
              <v-icon color="error">picture_as_pdf</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <a :href="reportLink.url" target="_blank">
                <v-list-item-title>{{reportLink.description}}</v-list-item-title>
              </a>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <template v-if="canAdministerCF" slot="reportAttachment">
        <ReportAttachment @report-attachments-updated="loadReport" :report_number="report_number"></ReportAttachment>
      </template>
    </ReportSummary>
  </div>
</template>

<script>
import {mapState} from "vuex";
import {app} from "@/main";
import ReportSummary from "@/finance/ReportSummary";
import ReportAttachment from "@/components/ReportAttachment";
import socrataDataService from "@/SocrataDataService";
import filters from "@/filters";

const buildImageUrl = (report_id) => {
  return `http://web.pdc.wa.gov/rptimg/default.aspx?batchnumber=${report_id}`
}

export default {
  name: "ReportOverview",
  components: {ReportAttachment, ReportSummary},
  data() {
    return {
      report_number: '',
      admin_report_dialog: false,
      report: {},
      reportLoaded: false,
      recordLinks: []
    }
  },
  computed: {
    ...mapState(['user']),
    canAdministerCF() {
      return this.user.rights.administer_wapdc_campaign_finance;
    },
    canAccessData() {
      return this.user.rights.access_wapdc_data;
    },
    recordLinksExists(){
      return this.recordLinks && this.recordLinks.length > 0;
    },
  },
  created() {
    this.report_number = this.$route.query.report_number;
    this.loadReport();
  },
  methods: {
    downloadPdf() {
      const report = {...this.report, user_data: {...this.report.user_data}}
      switch (this.report.report_type) {
        case 'C3':
          report.user_data.contributions = report.user_data.contributions.map(cont => {
            const contact = report.user_data.contacts.find(contact => cont.contact_key === contact.contact_key)
            return {...cont, contact}
          })
          app.$container.pdf.C3.make(report);
          break;
        case 'C4':
          app.$container.pdf.C4.make(report);
          break;
      }
    },
    loadReport() {
      app.$container.dataService.getCFReportData(([report]) => {
        app.$container.dataService.getCFReportUserData(({user_data}) => {
          report.user_data = user_data
          this.report = report
          this.report.url = buildImageUrl(this.report.report_number)
          if (!user_data) {
            if (this.report_number >= 1000000000) {
              this.getPaperFiledRecords();
            } else {
              const {origin, receipt_date} = this.report
              const url = this.report.report_number ? buildImageUrl(this.report.report_number) : null;
              const description = this.report.report_number ? `${origin} - ${receipt_date}` + ' - View Document': 'Invalid document request';
              this.recordLinks = [{description, url}];
            }
          }
          this.reportLoaded = true;
        }, this.report_number);
      }, {
        repno: this.report_number,
      })
    },
    getPaperFiledRecords() {
      socrataDataService.getRecords('IMAGED_DOCUMENTS', {
        filer_id: `${this.report.filer_id}`,
        election_year: `${this.report.election_year}`,
        origin: this.report.origin,
        period_start: `${this.report.report_from || ''}`,
        period_end: `${this.report.report_through || ''}`
      }).then(data => {
        const records = data.data.map(({url, receipt_date, document_description}) => ({
          url: url.url,
          description: `${document_description} - ${filters.filters.formatDate(receipt_date)}`
        }));
        this.recordLinks = [...this.recordLinks, ...records];
      });
    },
  },
  watch: {
    '$route.query'() {
      this.loadReport();
    }
  }
}
</script>

<style scoped>
.record--list {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
</style>