<template>
  <committee-page title="Select reporting year" @load-committee="onCommitteeLoad">
    <p>Continuing committees file campaign finance reports for each year of their existence.</p>
    <v-simple-table style="max-width:80em;">
      <thead>
        <tr>
          <th>Year</th>
          <th>Vendor</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="year in years" :key="year.election_code">
          <td><router-link :to="{name: 'committee.finances.year', params: {election_code: year.year.toString()}}">{{year.year}}</router-link></td>
          <td><v-btn tabindex="0" color="primary" v-if="!year.fund_id" :to="{name: 'committee.finances.year', params: {election_code: year.year.toString()}}">Set up</v-btn>{{year.vendor}} <span v-if="year.vendor === 'PDC'"> ORCA {{year.orcaVersion}}</span></td>
          <td>{{formatDateTime(year.updated)}}</td>
        </tr>
      </tbody>
    </v-simple-table>
  </committee-page>
</template>

<script>
import CommitteePage from "../committee/CommitteePage";
import filters from "../filters";
export default {
  name: "SelectFinanceYear",
  components: {CommitteePage},
  data() {
    return {
      committee: {},
      years: {}
    }
  },
  methods: {
    ...filters.filters,
    onCommitteeLoad(committee) {
      this.committee = committee;
      const start_year = committee.start_year;
      let current_year = new Date().getFullYear();
      let end_year;
      if (!committee.end_year || committee.end_year > current_year) {
        end_year = current_year
      } else {
        end_year = this.committee.end_year;
      }

      // Manufacture an array of objects like [{year: 2021, updated: "2022-01-01", orcaVersion: 1.501}]
      // for all years that the committee should exist for.
      this.years = Array.from(
          {
            length: end_year - start_year + 1
          },
          (_, i) => {
            const year = start_year + i;
            let updated = null;
            let orcaVersion = null;
            let fund_id = null;
            let vendor = null;
            if (committee.funds) {
              const fund = committee.funds.find(e => e.election_code === year.toString());
              if (fund) {
                fund_id = fund.fund_id;
                updated = fund.updated;
                vendor = fund.vendor;
                orcaVersion = fund.orcaVersion;
              }
              return {fund_id, year, updated, orcaVersion, vendor };
            }
          }
        );
    }
  }
}
</script>

