<template>
  <div>
    <h3>Submitted Reports</h3>
    <v-data-table
        :headers="[
          {text: 'Status', value: 'status'},
          {text: 'Report type', value: 'report_type'},
          {text: 'Period start', value: 'period_start'},
          {text: 'Period end', value: 'period_end'},
          {text: 'Repno', value: 'report_id'},
          {text: 'Repno amended by', value: 'superseded_id'},
          {text: 'Date filed', value: 'submitted_at'},
        ]"
        :items="reports"
    >
      <template v-slot:item.status="{item}">
        <accessible-button :button-tooltip="item.message" icon>
          <v-icon v-if="item.message && item.message.toLowerCase().includes('warning')" color="warning">
            warning
          </v-icon>
        </accessible-button>
      </template>
      <template v-slot:item.period_start="{item}">
        {{ formatDate(item.period_start)}}
      </template>
      <template v-slot:item.period_end="{item}">
        {{ formatDate(item.period_end) }}
      </template>
      <template v-slot:item.report_id="{item}">
       <router-link
            :to="{ name: 'committee.report', params: {report_number : item.report_id  } }">{{ item.report_id }}</router-link>
      </template>
      <template v-slot:item.superseded_id="{item}">
        <router-link v-if="item.superseded_id"
            :to="{ name: 'committee.report', params: {report_number : item.superseded_id } }">{{ item.superseded_id }}</router-link>
      </template>
       <template v-slot:item.submitted_at="{item}">
        {{ formatDate(item.submitted_at) }}
      </template>

    </v-data-table>
  </div>
</template>

<script>
import AccessibleButton from "../components/AccessibleButton";
import filters from "../filters";
import {dataService} from "../DataService";

export default {
  name: "SubmittedReports",
  components: {AccessibleButton},
  props: {
    committee_id: {
      type: Number,

    }
  },
  data() {
    return {
      reports: [],
    }
  },
  created() {
    if (this.committee_id) {
      this.loadReports()
    }
  },
  watch: {
    committee_id() {
      this.loadReports()
    }
  },
  methods: {
    ...filters.filters,
    loadReports() {
      dataService.submittedReports(this.committee_id,
          (data) => {
            this.reports = data;
          });
    }
  }
}
</script>
