<template>
  <v-form ref="vendorSelectForm" @submit.prevent="saveVendorChoice">
    <v-card flat>
      <v-card-title>
        Campaign finance reporting {{election_code}}
      </v-card-title>
      <v-card-text>
        <p>To set up campaign finance reporting you should first select a vendor that will facilitate filing of campaign
        finance reports.</p>
        <v-radio-group v-model="usePDC" :rules="[validations.required]" @change="defaultVendor">
          <v-radio value="PDC" label="Use PDC's ORCA product"/>
          <v-radio value="Vendor" label="Use reporting software provided by another vendor"/>
        </v-radio-group>
        <v-combobox v-model="vendor"
                    label="Providing vendor"
                    v-if="usePDC==='Vendor'"
                            clearable
                    :items="['Aristotle','BlueUtopia','Campaign Deputy', 'Cision', 'DDC', 'IsPolitical', 'NGPVAN', 'Patton']"
                    :rules="[validations.requireString]"
                    >
        </v-combobox>
      </v-card-text>
      <v-card-actions>
        <v-btn tabindex="0" type="submit" color="primary">Choose</v-btn>
        <v-btn tabindex="0" @click="cancel">Not now</v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>
<script>
import {dataService} from "../DataService";
import FormValidations from "../formValidations";
export default {
  name: "VendorChoice",
  props: {
    election_code: {
      type: String,
      default: null,
    },
    committee_id: {
      type: Number,
      default: null,
    }
  },
  data() {
    return {
      vendor: "",
      usePDC: null,
      validations: FormValidations
    };
  },
  methods: {
    defaultVendor() {
      this.vendor = this.usePDC==='PDC' ? this.usePDC : "";
    },
    saveVendorChoice() {
      if (this.election_code && this.committee_id && this.$refs.vendorSelectForm.validate()) {
        dataService.campaignFinancePost(this.committee_id, 'fund', {vendor: this.vendor, election_code: this.election_code})
            .then(() => {
              this.$emit('save');
            });
      }
    },
    cancel() {
      this.$router.replace({name: 'committees'});
    }
  }
}
</script>
