<template>
  <div>
    <v-btn class="mr-2" @click="initAdd">
      <v-icon>add</v-icon>
      Add sponsor
    </v-btn>

    <!-- First check to see if the filer has any existing entities that could end up filing C6's. -->
    <v-dialog persistent v-model="askExistingEntity" max-width="50em;">
      <v-card>
        <v-card-title>Existing political action committee</v-card-title>
        <v-card-text>
          <p>Is the sponsor one of the following committees that you already file for?</p>
          <v-radio-group v-model="entity_id">
            <v-radio v-for="entity in nonC6Entities" :label="entity.name" :value="entity.entity_id"
                     :key="`entity-${entity.entity_id}`"/>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn :disabled="!entityMatchFound" @click="addExistingEntity">Select</v-btn>
          <v-btn @click="askExistingEntity=false;askNewFiler=true;">No it is not one of these</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Starting question about new or old -->
    <v-dialog persistent v-model="askNewFiler" max-width="50em;">
      <v-card>
        <v-card-title>
          Add sponsor
        </v-card-title>
        <v-card-text>
          Has this sponsor filed C6 reports before?
        </v-card-text>
        <v-card-actions>
          <v-btn @click="findSponsor=true; askNewFiler=false">Yes</v-btn>
          <v-btn @click="sponsorDataEntry=true; askNewFiler=false">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Find an existing sponsor -->
    <v-dialog v-model="findSponsor">
      <v-form ref="sponsorSearchForm" @submit.prevent="searchForSponsor">
        <v-card>
          <v-card-title>
            Add existing sponsor
          </v-card-title>
          <v-card-text>
            <v-text-field label="name" v-model="searchName">
              <template slot="append">
                <v-btn type="submit">
                  <v-icon>search</v-icon>
                </v-btn>
              </template>
            </v-text-field>
            <v-radio-group v-model="accessRequest.sponsor_id">
              <v-radio v-for="match in searchResults" :value="match.sponsor_id" :key="`match-${match.sponsor_id}`"
                       :label="match.name"></v-radio>
            </v-radio-group>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="selectMatchingSponsor" :disabled="!sponsorMatchFound">Select</v-btn>
            <v-btn @click="sponsorNotFound">I can't find my sponsor</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- Enter sponsor access request form -->
    <v-dialog v-model="sponsorDataEntry">
      <v-form @submit.prevent="submitSponsorForm" ref="sponsorRequestForm">
        <v-card>
          <v-card-title>
            Request access to file C6
          </v-card-title>
          <v-card-text>
            <v-text-field label="Name" v-model="accessRequest.name" :rules="[validations.required]"/>
            <v-autocomplete label="Type of filer" :items="sponsor_types" v-model="accessRequest.sponsor_type"
                            :rules="[validations.required]"/>
            <v-text-field label="Email" type="email" v-model="accessRequest.email" :rules="[validations.required]"/>
            <v-text-field label="Address" v-model="accessRequest.address" :rules="[validations.required]"/>
            <v-text-field label="City" v-model="accessRequest.city" :rules="[validations.required]"/>
            <v-text-field label="State" v-model.trim="accessRequest.state" :rules="[validations.required]"/>
            <v-text-field label="Zip" v-model="accessRequest.postcode" :rules="[validations.required]"/>
            <v-text-field label="Phone" v-model="accessRequest.phone"/>
          </v-card-text>
          <v-card-actions>
            <v-btn type="submit" color="primary">Submit</v-btn>
            <v-btn @click="cancelAdd">
              <v-icon>cancel</v-icon>
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

  </div>
</template>

<script>
import {ieDataService} from "@/IExpendituresDataService";
import {useIE} from "@/IE";

export default {
  name: "AddSponsor",
  components: {},
  data() {
    return {
      askExistingEntity: false,
      askNewFiler: false,
      askHavePassword: false,
      getPassword: false,
      findSponsor: false,
      sponsorDataEntry: false,
      searchName: "",
      searchResults: [],
      nonC6Entities: [],
      entity_id: 0,
      accessRequest: {
        sponsor_id: 0,
        name: "",
        sponsor_type: "",
        email: "",
        address: "",
        city: "",
        state: "",
        postcode: "",
        phone: ""
      },
      granted_name: "",
      authMessage: ""
    };
  },
  computed: {
    sponsorMatchFound() {
      return !!this.accessRequest.sponsor_id;
    },
    entityMatchFound() {
      return !!this.entity_id;
    }
  },
  setup() {
    const {validations, sponsor_types} = useIE();
    return {validations, sponsor_types};
  },
  methods: {
    async initAdd() {
      // Determine if we have entities to prompt for.
      const result = await ieDataService.getFilerData('non-c6-entities');
      this.entity_id = 0;
      if (result.queryResult && result.queryResult.length > 0) {
        this.askExistingEntity = true;
        this.nonC6Entities = result.queryResult;
      } else {
        this.askNewFiler = true;
        this.nonC6Entities = [];
      }
      this.findSponsor = false;
      this.getPassword = false;
      this.sponsorDataEntry = false;
      this.accessRequest.sponsor_id = 0;
      this.accessRequest.name = "";
      this.accessRequest.email = "";
      this.accessRequest.address = "";
      this.accessRequest.premise = "";
      this.accessRequest.city = "";
      this.accessRequest.state = "";
      this.accessRequest.postcode = "";
      this.accessRequest.phone = "";
    },
    clearPasswordForm() {
      this.authMessage = "";
    },
    cancelAdd() {
      this.askNewFiler = false;
      this.findSponsor = false;
      this.getPassword = false;
      this.sponsorDataEntry = false;
    },
    addExistingEntity() {
      ieDataService.entityApiPost(this.entity_id, {sponsor_type: "E"}, 'enable-c6-for-entity').then(result => {
        if (result.success) {

          this.askExistingEntity = false;
          this.$emit('sponsors-changed');
        }
      });
    },
    submitSponsorForm() {
      if (this.$refs.sponsorRequestForm.validate()) {
        ieDataService.filerApiPost('c6-sponsor-request', this.accessRequest)
            .then((result) => {
              if (result.success) {
                this.$emit('sponsors-changed');
                this.sponsorDataEntry = false;
              }
            });
      }
    },
    searchForSponsor() {
      if (this.searchName) {
        ieDataService.getFilerData('sponsor-request-search', {search: this.searchName}).then(result => {
          this.searchResults = result.queryResult ?? [];
        })
      } else {
        this.searchResults = [];
      }
    },
    selectMatchingSponsor() {
      const sponsor = this.searchResults.find(s => this.accessRequest.sponsor_id === s.sponsor_id);
      if (sponsor) {
        this.accessRequest.name = sponsor.name;
      }
      this.findSponsor = false;
      this.sponsorDataEntry = true;
    },
    sponsorNotFound() {
      this.accessRequest.name = this.searchName;
      this.findSponsor = false;
      this.sponsorDataEntry = true;
    },
  }
};
</script>
