<template>
  <InfoDialog title="Type of sponsor">
    <p>
      When indicating the type of sponsor, the terms <strong>own funds</strong> implies that these funds are part of the
      general treasury of the organization.
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/components/InfoDialog";

export default {
  name: "SponsorTypeInfo.vue",
  components: {InfoDialog}
}
</script>

<style scoped>

</style>