<template>
  <div class="admin-view">
    <CardNavigation :items="tasks"/>
  </div>
</template>

<script>
import CardNavigation from "../components/CardNavigation";

export default {
  name: "Admin",
  components: {CardNavigation},
  data() {
    return {
      tasks: [
        {
          icon: 'search',
          title: 'Committee Search',
          link: '/committee-search',
          description: 'Search for candidates, campaigns or political committees.'
        },
        {
          icon: 'search',
          title: 'Person Search',
          href: '/data-admin/people/search',
          description: 'Search for people.'
        },
        {
          icon: 'search',
          title: 'Campaign Contact Search',
          link: '/contact-search',
          description: 'Search for candidates, campaigns or political committees by which officers or contacts are on the registration.'
        },
        {
          icon: 'location_on',
          title: 'Jurisdictions',
          href: '/data-admin/jurisdiction',
          description: 'View information about jurisdiction',
        },
        {
          access: "enter_wapdc_data",
          icon: 'check_circle_outline',
          title: 'Unverified Registrations',
          link: '/admin/unverified-committees',
          description: 'Verify registrations that need to be matched to candidates and people.',
        },
        {
          access: "enter_wapdc_data",
          icon: "check_circle_outline",
          title: "Unverified C6 Sponsors",
          href: "/iexpenditures/admin",
          description: "Verify sponsor and access requests required to allow C6 filing"
        },
        {
          icon: 'attachment',
          title: 'Unattached Paper Registrations',
          link: '/admin/paper-registrations',
          description: 'Paper registrations with no attached image.',
        },
        {
          icon: 'assignment_late',
          title: 'C6 Reports',
          link: '/admin/c6-reports',
          description: 'View and manage c6 reports.',
        },
        {
          icon: 'assignment_late',
          title: 'C6 Candidates Missing Filer ids',
          link: '/admin/candidates-missing-filer-ids',
          description: 'View and manage candidates with missing filer ids.',
        },
      ]
    }
  }
}
</script>

<style scoped>

</style>