<template>
    <div>
    <h1>Online ORCA Campaigns</h1>
        <v-row>
          <v-col>
            <v-text-field
                label="Search for campaign"
                type="search"
                v-model="search"
                single-line
                hide-details
            >
            </v-text-field>
          </v-col>
          <v-col>
            <v-select
                label="Filter by year"
                v-model="filterYear"
                :items="this.orcaFunds.map(of => of.election_code)"
                clearable
            >
            </v-select>
          </v-col>
          <v-col></v-col>
          <v-col></v-col>
        </v-row>
      <v-data-table
        :items="filteredOrcaFunds"
        :search="search"
        :item-key="filterYear"
        :custom-filter="similarityFilter"
        sort-by="['year']"
        :headers="[{ text: 'Year', value: 'election_code' }, { text: 'Name', value: 'name' },  { text: 'Election', value: 'title' }]"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
      >
        <template v-slot:item.name="{item}">
          <router-link :to="{name: 'ORCA.campaign.fund', params: {fund_id: item.fund_id }}">{{ item.name }}</router-link>
        </template>
        <template slot="no-data">
          <div>Sorry, you have no campaigns with ORCA version 1.500 or greater.</div>
        </template>
      </v-data-table>
    </div>
</template>

<script>
import {app} from "@/main";
import filters from "@/filters";

export default {
  name: "CampaignChange",
  data() {
    return {
      headers: [
        {text: "Year", value: "election_code"},
        {text: "Name", value: "name"},
        {text: "", value: "actions"}
      ],
      orcaFunds: [],
      years: [],
      search: "",
      filterYear: ""
    }
  },
  created() {
    this.loadOrcaFunds();
  },

  computed: {
    filteredOrcaFunds() {
      if(this.filterYear) {
        return this.orcaFunds.filter(of => of.election_code === this.filterYear);
      }
      else {
        return this.orcaFunds;
      }
    }
  },
  setup() {
  },
  methods: {
    ...filters.filters,
    async loadOrcaFunds() {
      await app.$container.dataService.query('my_orca_funds',
          data => {
            this.orcaFunds = data;
          });
    }
  }
}
</script>