<template>
  <div class="committee">
    <v-tabs show-arrows>
      <v-tab class="d-print-none">
        <v-icon>description</v-icon>
        View
      </v-tab>
      <v-tab-item>
        <v-container fluid class="d-print-none;">
          <v-btn tabindex="0" :style="'width:' + buttonWidth" v-if="canAdministerCF || coreDataAccess"
                 class="primary noPrint buttonPadding" @click="openEditCommittee()">
            <v-icon>edit</v-icon>
            Edit Committee
          </v-btn>
          <v-btn tabindex="0" :style="'width:' + buttonWidth"
                 v-if="dataLoaded && committee && committee.pac_type === 'candidate' && registration.meta_data && (canAdministerCF || coreDataAccess)"
                 class="primary noPrint buttonPadding"
                 @click="editCandidacyMetadata()">
            <v-icon>how_to_reg</v-icon>
            Candidacy
          </v-btn>
          <v-btn tabindex="0" :style="'width:' + buttonWidth"
                 v-if="dataLoaded && committee.reporting_type === 'mini' && (canAdministerCF || coreDataAccess)"
                 class="primary noPrint buttonPadding"
                 @click="editMiniFullPermission">
            <v-icon>zoom_out_map</v-icon>
            Mini-Full
          </v-btn>
          <v-btn tabindex="0" :style="'width:' + buttonWidth" v-if="registration.verified && (canAdministerCF || coreDataAccess)"
                 class="noPrint buttonPadding" color="accent" @click="unverifyDialog=true">
            <v-icon>remove</v-icon>
            Unverify
          </v-btn>
          <v-btn tabindex="0" :style="'width:' + buttonWidth" class="primary noPrint buttonPadding" :disabled="registration.draft"
                 @click="amendCommittee=true">Amend
          </v-btn>
          <v-btn tabindex="0" :style="'width:' + buttonWidth" class="noPrint buttonPadding" v-if="seattleFiler"
                 @click="doTransmit=true">Send to SEEC
          </v-btn>
          <v-btn tabindex="0" :style="'width:' + buttonWidth" class="noPrint buttonPadding" v-if="showCopy" @click="copying = true">
            <v-icon>call_split</v-icon>
            Copy
          </v-btn>
        </v-container>
        <v-card class="noPrint" tile raised :style="'margin-bottom: 2px; width:' + alertBoxWidth"
                v-if="registration.draft">
          <v-card-title style="background-color: #FFC107">You have unfinished work</v-card-title>
          <v-card-text>
            <ul>
              <li>
                You have an incomplete amendment. Please
                <router-link :to="{name: 'registration-draft', params: {id: registration.committee.committee_id}}">
                  complete or delete the amendment
                </router-link>
              </li>
            </ul>
          </v-card-text>
        </v-card>
        <RegistrationView v-if="dataLoaded && (registration.registration_id || committee.filer_id)"/>
      </v-tab-item>

      <v-tab class="d-print-none" v-if="canAdministerCF || coreDataAccess">
        <v-icon>list</v-icon>
        Registrations
      </v-tab>
      <v-tab-item v-if="canAdministerCF || coreDataAccess">
        <Registrations/>
      </v-tab-item>

      <v-tab class="d-print-none">
        <v-icon>lock</v-icon>
        Access
      </v-tab>
      <v-tab-item>
        <GrantUserAccess v-if="dataLoaded"/>
      </v-tab-item>

      <v-tab class="d-print-none" v-if="canAdministerCF || coreDataAccess">
        <v-icon>list</v-icon>
        Orca
      </v-tab>
      <v-tab-item v-if="canAdministerCF || coreDataAccess">
        <CommitteeFunds :committee_id="registration.committee.committee_id"/>
        <div v-if="canAdministerCF || coreDataAccess">
          <h2>Submission Logs</h2>
          <OrcaLogs :committee_id="registration.committee.committee_id"/>
        </div>
      </v-tab-item>

      <v-tab class="d-print-none" v-if="canAdministerCF || coreDataAccess">
        <v-icon>monetization_on</v-icon>
        Finances
      </v-tab>
      <v-tab-item>
        <FinanceSummary :committee_id="registration.committee.committee_id"
                        v-if="dataLoaded && (canAdministerCF || coreDataAccess)"/>
      </v-tab-item>

      <v-tab class="d-print-none" v-if="coreDataAccess">
        <v-icon>list</v-icon>
        Logs
      </v-tab>
      <v-tab-item v-if="canAdministerCF">
        <CommitteeLogs v-if="dataLoaded"/>
      </v-tab-item>
    </v-tabs>

    <v-dialog v-model="showEditCommittee">
      <v-form>
        <v-card>
          <v-card-title>Edit committee</v-card-title>
          <v-card-text>
            <v-autocomplete v-if="categorySelections.length > 0" :disabled="committee.pac_type !== 'pac'" clearable :items="categorySelections"
                            v-model="committeeCategorySelected" label="Category"></v-autocomplete>
            <v-select clearable :items="generatePotentialEndYears(committee)" v-if="committee.continuing"
                      v-model="committeeEndYear" label="Ending Year"
                      hint="Indicates the last year the committee was in operation" persistent-hint/>
            <v-textarea label="Description" v-model="committeeMemo"></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" @click="updateCommittee()">Save</v-btn>
            <v-btn tabindex="0" @click="showEditCommittee = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <v-dialog v-model="editCommitteeResponseDialog">
      <v-card>
        <v-card-title>Edit committee response</v-card-title>
        <v-card-text>
          {{ editCommitteeResponse }}
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="editCommitteeResponseDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="copying">
      <v-card>
        <v-card-title>Copy committee</v-card-title>
        <v-card-text>
          Copy this campaign to a new draft campaign for a different election.
          <v-select v-model="electionCode" :items="filteredElections()" item-value="election_code" item-text="title"
                    label="Election"></v-select>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="copyCampaign">Copy</v-btn>
          <v-btn tabindex="0" @click="copying=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="doTransmit">
      <v-card>
        <v-card-title>Send to SEEC</v-card-title>
        <v-card-text>
          <p v-if="!isTransmitting">When ready please choose transmit to file your verification to the Seattle Ethics
            and Election Commission.</p>
          <v-progress-circular v-else indeterminate></v-progress-circular>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="transmitToSeattle()">Transmit</v-btn>
          <v-btn tabindex="0" @click="doTransmit=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="seecResponse">
      <v-card>
        <v-card-title>Send to SEEC</v-card-title>
        <v-card-text>
          <div v-if="seecSuccess">
            Registration successfully submitted to the SEEC.
          </div>
          <div v-if="!seecSuccess">
            <p>Due to technical problems your eFiling was NOT successfully uploaded to the Seattle Ethics and Elections
              Commission. Please try again in a little while. If you are still not successful, please <a
                  href="https://www.seattle.gov/ethics/contact-us" target="_blank">contact the SEEC</a>. We appreciate
              your patience!</p>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="seecResponse=false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editCandidacyDialog">
      <v-card>
        <v-card-title><h3>Candidate status</h3></v-card-title>
        <v-card-text>
          <v-select :items="primaryOptions"
                    v-model="candidacyMetadata.primary_result"
                    label="Primary Election">
          </v-select>
          <v-select :items="generalOptions"
                    v-model="candidacyMetadata.general_result"
                    label="General Election">
          </v-select>
          <v-text-field v-model="candidacyMetadata.exit_date"
                        label="Exit Date" placeholder="e.g. 2000-01-01">
          </v-text-field>
          <v-select :items="exitOptions"
                    v-model="candidacyMetadata.exit_reason"
                    label="Exit Reason">
          </v-select>
          <v-text-field v-model="candidacyMetadata.declared_date"
                        label="Declared Date" placeholder="e.g. 2000-01-01">

          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="updateCandidacyMetadata()">Update</v-btn>
          <v-btn tabindex="0" color="accent" @click="cancelCandidacyMetadata()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="unverifyDialog">
      <v-card>
        <v-card-title>
          <h3>Unverify registration?</h3>
        </v-card-title>
        <v-card-text>
          Unverifying this committee will unverify the most recent registration.
          <v-radio-group v-model="deleteFilerId">
            <v-radio value="no" label="Keep filer id on committee"></v-radio>
            <v-radio value="yes">
              <template v-slot:label>
                <div>Delete filer id from committee <span v-if="registration.committee.pac_type == 'candidate'"> and delete candidacy</span>
                </div>
              </template>
            </v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="goUnverifyRegistration">Confirm</v-btn>
          <v-btn tabindex="0" @click="unverifyDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editMiniFullDialog">
      <v-card>
        <v-card-title>
          <h3>Mini-to-full permission</h3>
        </v-card-title>
        <v-card-text>
          Allow user to update filing status from mini to full?
          Before granting the user permission make sure that the request has been properly investigated before hand.
          <v-radio-group v-model="miniFullPermission">
            <v-radio :value="false" label="No">Not permitted to switch from mini-to-full</v-radio>
            <v-radio :value="true" label="Yes">Permission granted by executive director</v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="saveMiniFullPermission">Confirm</v-btn>
          <v-btn tabindex="0" @click="editMiniFullDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="amendCommittee">
      <v-card>
        <v-card-title>Amend registration</v-card-title>
        <v-card-text>Are you sure you want to amend this registration?</v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="amendCommitteeRegistration()">Amend registration</v-btn>
          <v-btn tabindex="0" @click="amendCommittee=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import {app} from "@/main";
import {mapState, mapActions} from 'vuex';
import RegistrationView from '../components/RegistrationView';
import Registrations from '../components/Registrations';
import CommitteeLogs from '../components/CommitteeLogs';
import GrantUserAccess from '../components/GrantUserAccess';
import OrcaLogs from "../finance/OrcaLogs";
import FinanceSummary from "../finance/FinanceSummary";
import SEECDataService from "../SEECDataService";
import CommitteeFunds from "@/orca/CommitteeFunds";

export default {
  name: "Committee",
  data() {
    return {
      editCandidacyDialog: false,
      editMemoDialog: false,
      editMiniFullDialog: false,
      miniFullPermission: false,
      unverifyDialog: false,
      amendCommittee: false,
      doTransmit: false,
      seecResponse: false,
      seecSuccess: false,
      isTransmitting: false,
      copying: false,
      showEditCommittee: false,
      committeeCategorySelected: '',
      editCommitteeAvailable: false,
      editCommitteeResponseDialog: false,
      editCommitteeResponse: '',
      electionCode: "",
      deleteFilerId: "no",
      generalOptions: [
        {text: '-', value: ''},
        {text: 'Certified', value: 'C'},
        {text: 'Lost', value: 'L'},
        {text: 'Not in Election', value: 'N'},
        {text: 'Unopposed', value: 'U'},
        {text: 'Won', value: 'W'}
      ],
      primaryOptions: [
        {text: '-', value: ''},
        {text: 'Certified', value: 'C'},
        {text: 'Did not advance', value: 'L'},
        {text: 'Not in Election', value: 'N'},
        {text: 'Unopposed', value: 'U'},
        {text: 'Advanced to general', value: 'W'}
      ],
      exitOptions: [
        {text: '-', value: ''},
        {text: 'Deceased', value: 'deceased'},
        {text: 'Discontinued', value: 'discontinued'},
        {text: 'Withdrew', value: 'withdrew'}
      ],
      candidacyMetadata: {
        primary_result: '',
        general_result: '',
        declared_date: '',
        exit_date: '',
        exit_reason: ''
      },
      committeeMemo: "",
      committeeEndYear: null
    }
  },
  components: {
    CommitteeFunds,
    OrcaLogs,
    FinanceSummary,
    GrantUserAccess,
    Registrations,
    RegistrationView,
    CommitteeLogs
  },
  computed: {
    ...mapState(['registration', 'dataLoaded', 'user', 'elections', 'committeeCategories']),
    filerId() {
      return this.registration.committee.filer_id;
    },
    committee() {
      return this.registration.committee ? this.registration.committee : {};
    },
    canAdministerCF() {
      return this.user.rights.administer_wapdc_campaign_finance;
    },
    coreDataAccess() {
      return this.user.rights.access_wapdc_data;
    },
    seattleFiler() {
      return (this.registration.local_filing && this.registration.local_filing.seec && this.registration.local_filing.seec.required);
    },
    categorySelections() {
      // if committeeCategories hasn't been loaded from the state (this only happens for pacs) then use the existing category
      if (!this.committeeCategories.length) {
        const category = this.committee.category;
        return category ? [category] : [];
      }
      return this.committeeCategories.filter(cc => {
        return cc.pac_type === this.pac_type;
      }).reduce((a, b) => {
        if (b.name) {
          a.push(b.name);
        }
        return a;
      }, []);
    },
    pac_type() {
      return this.registration.committee.pac_type;
    },
    buttonWidth() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
        case 'sm':
          return '100%';
        default:
          return '';
      }
    },
    alertBoxWidth() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
        case 'sm':
          return '100%';
        default:
          return '50%';
      }
    },
    showCopy() {
      return this.registration.committee.election_code && !this.registration.committee.continuing;
    },
  },
  methods: {
    ...mapActions(['updateCandidacyStatus', 'updateAdminMemo', 'getCurrentRegistration', 'unverifyRegistration', 'getAuthorizedUsers', 'getElections', 'amendRegistration', 'getCommitteeCategories']),
    filteredElections() {
      let prevYear = new Date();
      prevYear.setFullYear(prevYear.getFullYear() - 1);
      prevYear = prevYear.toISOString();
      let recentElections = this.elections.filter(e => e.election_date > prevYear);
      if (this.registration.committee.committee_type === 'CA') {
        return recentElections.filter(e => !e.is_primary);
      }
      return recentElections;
    },
    amendCommitteeRegistration() {
      this.amendCommittee = false;
      this.amendRegistration();
    },
    updateCommittee() {
      let committeeUpdateData = {
        committee_id: this.registration.committee.committee_id,
        category: this.committeeCategorySelected,
        memo: this.committeeMemo,
      };
      if (this.committee.continuing) {
        committeeUpdateData.end_year = this.committeeEndYear ? this.committeeEndYear : "";
      }
      app.$container.dataService.editCommittee(
          (result) => {
            this.showEditCommittee = false;
            this.getCurrentRegistration();
            this.editCommitteeResponseDialog = true;
            if (result.success) {
              this.editCommitteeResponse = 'Committee successfully updated';
            } else if (!result.success) {
              this.editCommitteeResponse = result.errors[0];
            }
          },
          committeeUpdateData);
    },
    updateCandidacyMetadata() {
      this.updateCandidacyStatus(this.candidacyMetadata);
      this.editCandidacyDialog = false;
    },
    editCandidacyMetadata() {
      this.candidacyMetadata = this.registration.meta_data.candidacy;
      this.editCandidacyDialog = true;
    },
    cancelCandidacyMetadata() {
      this.editCandidacyDialog = false;
    },
    openEditCommittee() {
      if (this.committee.pac_type === 'pac') {
        this.getCommitteeCategories();
      }
      this.showEditCommittee = true;
      this.committeeCategorySelected = this.registration.committee.category;
      this.committeeMemo = this.committee.memo;
      this.committeeEndYear = this.committee.end_year;
    },
    goUnverifyRegistration() {
      this.unverifyRegistration(this.deleteFilerId);
      this.unverifyDialog = false;
    },
    editMiniFullPermission() {
      this.miniFullPermission = this.registration.admin_data.mini_full_permission;
      this.editMiniFullDialog = true;
    },
    saveMiniFullPermission() {
      app.$container.dataService.updateMiniFullPermission(
          () => {
            this.editMiniFullDialog = false;
            this.registration.admin_data.mini_full_permission = this.miniFullPermission;
          },
          {
            committee_id: this.registration.committee.committee_id,
            boolean: this.miniFullPermission
          }
      );
    },
    copyCampaign() {
      app.$container.dataService.copyCommittee(
          this.registration,
          this.electionCode,
          () => this.$router.push("committees")
      )
    },
    transmitToSeattle() {
      let ds = new SEECDataService();
      let data = this.registration;
      this.isTransmitting = true;
      ds.post(data, result => {
        this.seecSuccess = result.success;
        this.doTransmit = false;
        this.seecResponse = true;
        this.isTransmitting = false;
      });
    },
    generatePotentialEndYears(committee) {
      let possibleEndYears = [];
      let maxEndYear = new Date().getFullYear();
      if (maxEndYear > committee.start_year) {
        for (let y = parseInt(committee.start_year); y <= maxEndYear; y++) {
          possibleEndYears.push({'text': y.toString(), value: y});
        }
      } else {
        possibleEndYears.push({'text': committee.start_year.toString(), value: parseInt(committee.start_year)})
      }
      return possibleEndYears;
    }
  },
  created() {
    this.getCurrentRegistration();
    this.getElections();
  }
}
</script>


<style scoped>
.v-card .v-card__title {
  color: black;
  font-size: large;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

i {
  margin-right: 0.25em;
}

h2 {
  padding-top: 2em;
}

.buttonPadding {
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
</style>
