<template>
    <committee-page ref="committeePage" title="Finance reporting" @load-committee="committeeInfoLoad">
      <template v-slot:toolbar>
        <v-btn
            v-if="lmcAccess"
            small color="primary"
            @click="openLMC"
        >
          File LMC
        </v-btn>
        <accessible-button :to="{name: 'committee.finance-years'}" v-if="switchYearButton && canUseOrcaOnline" button-tooltip="Switch year" small><v-icon>calendar_month</v-icon></accessible-button>
      </template>
      <div v-if="!committee.filer_id">
        <v-alert type="info" outlined>
          <p>
            You cannot file campaign finance reports until your committee has been verified.  You will receive an
            email once your committee has been verified.  Please allow 2 business days for PDC staff to process your
            request.
          </p>
          <p>If you believe this to be in error please contact the PDC.</p>
        </v-alert>
      </div>
      <div v-else-if="(this.fundIndex === -1) && canUseOrcaOnline  || (currentFund.vendor === null || undefined)" >
        <vendor-choice :committee_id="committee_id" :election_code="electionCode" @save="onVendorChoice"/>
      </div>
      <div v-else-if="currentFund.vendor==='PDC'">
        <orca-loader v-if="currentFund.updated" :fund="currentFund" :committee="committee"/>
        <online-campaign-setup v-else :committee="committee" :election_code="currentFund.election_code"/>
      </div>
      <div v-else>
          <draft-reports :committee_id="committee_id"/>
          <submitted-reports :committee_id="committee_id"/>
      </div>
    </committee-page>

</template>

<script>
import DraftReports from "../finance/DraftReports";
import CommitteePage from "../committee/CommitteePage";
import SubmittedReports from "../finance/SubmittedReports";
import OrcaLoader from "../finance/OrcaLoader";
import VendorChoice from "../finance/VendorChoice";
import {mapState} from "vuex";
import OnlineCampaignSetup from "../orca/OnlineCampaignSetup";
import AccessibleButton from "../components/AccessibleButton";

export default {
  name: "CommitteeFinances",
  components: {
    AccessibleButton,
    OnlineCampaignSetup, VendorChoice, OrcaLoader, SubmittedReports, CommitteePage, DraftReports},
  created() {
    this.committee_id = Number.parseInt(this.$route.params.committee_id);
  },
  data() {
    return {
      committee_id: null,
      committee: {
        funds: [],
      },
      fundIndex: -1,
      version: null,
      showUpgradeDialog: false,
      fund: {orcaVersion: 0},
      lastUpdated: null,
    }
  },
  computed: {
    ...mapState(['user']),
    lmcAccess() {
      return this.user.rights.lmc_access && this.currentFund.fund_id;
    },
    lmcUrl() {
      return `/lmc/fund/${this.currentFund.fund_id}/reports`;
    },
    canUseOrcaOnline() {
      return this.user.rights.orca_online;
    },
    currentFund() {
      return (this.committee.funds.length > 0 && this.fundIndex >= 0 && this.fundIndex <= (this.committee.funds.length - 1))
        ?  this.committee.funds[this.fundIndex] : {};
    },
    electionCode() {
      if (this.committee.continuing) {
        if (this.$route.params.election_code) {
          return this.$route.params.election_code;
        }
        return (this.currentFund && this.currentFund.election_code) ? this.currentFund.election_code : this.committee.start_year.toString();
      } else {
        return this.committee.start_year.toString();
      }
    },
    /**
     * Displays the button for switching to a different reporting year
     * @returns {boolean}
     */
    switchYearButton() {
      if (this.committee.continuing && this.committee.funds?.length) {
        if (this.committee.pac_type !== 'surplus')
          return true;
      }
      return false;
    }
  },
  methods: {
    openLMC() {
      window.open(this.lmcUrl, '_blank');
    },
    onVendorChoice() {
      this.$refs.committeePage.loadCommittee();
    },

    committeeInfoLoad(committee) {
      this.committee = committee;
      if (!this.committee.funds) {
        this.committee.funds = [];
      }
      if (this.$route.params.election_code && committee.continuing ) {
        this.fundIndex = this.committee.funds.findIndex( e => e.election_code === this.$route.params.election_code);
      }
      else {
        if (this.committee.funds.length >= 1) {
          this.fundIndex = 0;
        }
        else {
          this.fundIndex = -1;
        }
      }
    }
  },
}
</script>
