<template>
  <div class="committee-search">
    <v-form id="search-form" @submit.prevent="doSearch()">
      <v-card>
        <v-card-title>
          Committee search
          <CommitteeSearchInfo/>
        </v-card-title>
        <v-card-text>
          <v-expansion-panels v-model="openPanel" flat accordion hover>
            <v-expansion-panel>
              <v-expansion-panel-header>
                <template v-slot:actions>
                  <v-icon color="primary">
                    $expand
                  </v-icon>
                </template>
                <div v-if="!(openPanel===0)">
                  Searching for:
                  <span v-if="searchCriteria.election_year">Election Year - {{ searchCriteria.election_year }}, </span>
                  <span
                      v-if="searchCriteria.pac_type && searchCriteria.pac_type.length > 0">{{ searchCriteria.pac_type | validation(this.pac_types, 'pac_type', 'label') }}, </span>
                  <span v-if="searchCriteria.name">{{ searchCriteria.name }}, </span>
                  <span v-if="searchCriteria.filer_id">{{ searchCriteria.filer_id }}, </span>
                  <span v-if="searchCriteria.email">{{ searchCriteria.email }}, </span>
                  <span v-if="searchCriteria.contact_name">{{ searchCriteria.contact_name }}, </span>
                  <span v-if="searchCriteria.jurisdiction">{{ searchCriteria.jurisdiction }}, </span>
                  <span v-if="searchCriteria.address">{{ searchCriteria.address }}, </span>
                  <span
                      v-if="searchCriteria.office_code">{{ searchCriteria.office_code | validation(this.offices, 'offcode', 'offtitle') }}, </span>
                  <span
                      v-if="searchCriteria.jurisdiction_category">{{ searchCriteria.jurisdiction_category | validation(this.jurisdictionCategories, 'jurisdiction_category_id', 'name') }}, </span>
                  <span v-if="searchCriteria.proposal_title">{{ searchCriteria.proposal_title }}, </span>
                  <span v-if="searchCriteria.proposal_number">{{ searchCriteria.proposal_number }}, </span>
                  <span v-if="searchCriteria.proposal_type">{{ searchCriteria.proposal_type }}, </span>
                  <span v-if="searchCriteria.submitted_days">registered in the last {{ searchCriteria.submitted_days }} days</span>
                </div>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-container>
                  <v-row>
                    <v-col cols="3">
                      <v-text-field type="number" label="Election Year"
                                    v-model="searchCriteria.election_year"></v-text-field>
                    </v-col>
                    <v-col cols="3">
                      <v-select multiple clearable v-model="searchCriteria.pac_type" :items="pac_types"
                                label="Committee Type" item-value="pac_type" item-text="label"/>
                    </v-col>
                    <v-col cols="3">
                      <v-text-field type="number" v-model="searchCriteria.submitted_days"
                                    label="Days Since Submission"></v-text-field>
                    </v-col>
                    <v-col cols="3">
                      <v-switch label="Include unfiled committees" v-model="searchCriteria.include_unfiled"/>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="8">
                      <v-text-field type="search" label="Candidate/Committee Name" v-model="searchCriteria.name"/>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field type="search" label="Filer ID" v-model="searchCriteria.filer_id"/>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="5">
                      <v-text-field type="search" label="Email" v-model="searchCriteria.email"/>
                    </v-col>
                    <v-col cols="7">
                      <v-text-field type="search" label="Treasurer Name" v-model="searchCriteria.contact_name"/>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-text-field type="search" label="Jurisdiction Name" v-model="searchCriteria.jurisdiction"/>
                    </v-col>
                    <v-col>
                      <v-text-field type="search" label="Address" v-model="searchCriteria.address"/>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="6">
                      <v-autocomplete clearable :items="offices" item-text="offtitle" item-value="offcode"
                                      label="Office" v-model="searchCriteria.office_code"></v-autocomplete>
                    </v-col>
                    <v-col cols="6">
                      <v-autocomplete clearable :items="jurisdictionCategories" item-text="name"
                                      item-value="jurisdiction_category_id" label="Jurisdiction Category"
                                      v-model="searchCriteria.jurisdiction_category"></v-autocomplete>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="5">
                      <v-text-field type="search" label="Proposal Title" v-model="searchCriteria.proposal_title"/>
                    </v-col>
                    <v-col cols="3">
                      <v-text-field type="search" label="Proposal Number"
                                    v-model="searchCriteria.proposal_number"></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-select clearable label="Proposal Type" :items="proposal_types" item-text="text"
                                item-value="value" v-model="searchCriteria.proposal_type"/>
                    </v-col>
                  </v-row>
                  <v-btn tabindex="0" @click="clearSearchCriteria()">Clear Search</v-btn>
                </v-container>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>
        <v-card-actions>
          <v-toolbar flat>
            <v-btn tabindex="0" type="submit" color="primary">Search</v-btn>
            <v-btn tabindex="0" @click="onClickAddNewCommittee()">Add new Committee</v-btn>
            <v-switch label="Display results in table" v-model="tableSearchResults" class="ml-4 mt-5"/>
          </v-toolbar>
        </v-card-actions>
      </v-card>
    </v-form>
    <p>
      <v-icon>info</v-icon>
      This tool searches only registered candidate and political action committees. To search for candidates who have
      not registered use <a href="/data-admin/people/search">person search</a>.
    </p>
    <v-container v-if="!tableSearchResults" fluid grid-list-md>
      <v-data-iterator v-if="committees.length" :items="committees" content-tag="div"
                       :search="searchResults" :sort-by="sortBy" :sort-desc="sortDesc"
      >
        <template v-slot:header>
          <v-toolbar dark color="primary darken-2"
                     class="mb-1">
            <v-text-field v-model="searchResults" label="Find in results" single-line hide-details
                          append-icon="search"/>
            <template v-if="$vuetify.breakpoint.mdAndUp">
              <v-spacer></v-spacer>
              <v-select
                  v-model="sortBy"
                  flat
                  solo-inverted
                  hide-details
                  dark
                  chips
                  :items="sortFields"
                  label="Sort by"
                  prefix="Sort by:"
              ></v-select>
              <v-spacer></v-spacer>
              <v-btn-toggle
                  v-model="sortDesc"
                  mandatory
              >
                <v-btn
                    large
                    depressed
                    color="primary"
                    :value="false"
                >
                  <v-icon>keyboard_arrow_up</v-icon>
                </v-btn>
                <v-btn
                    large
                    depressed
                    color="primary"
                    :value="true"
                >
                  <v-icon>keyboard_arrow_down</v-icon>
                </v-btn>
              </v-btn-toggle>
            </template>
          </v-toolbar>
        </template>
        <template v-slot:item="props">
          <v-card raised>
            <v-card-title>
              <router-link :to="{path: '/committee', query: {committee_id: props.item.committee_id}}">
                 <span v-if="props.item.pac_type=='candidate'">
                   {{ props.item.person | defaultText('!Missing Name!') }} {{ props.item.ballot_name | parenthetical }}
                 </span>
                <span v-else>
                   {{ props.item.name }}
                 </span>
              </router-link>
            </v-card-title>
            <v-card-text>
              <v-container fluid grid-list-md>
                <v-layout row wrap>

                  <v-flex xs6>
                    <div class="c-info">
                      <div v-if="props.item.pac_type=='candidate'"><strong>{{ props.item.name }}</strong></div>
                      <div v-if="props.item.filer_id">{{ props.item.filer_id }}</div>
                      <div v-if="props.item.election">{{ props.item.election }}</div>
                      <div v-if="props.item.continuing === true">{{ props.item.start_year }} -
                        {{ props.item.end_year | defaultText('present') }}
                      </div>
                      <div>
                        {{ props.item.pac_type | titleCase }}
                        <span v-if="props.item.pac_type == 'bonafide' && props.item.bonafide_type">{{
                            props.item.bonafide_type | titleCase
                          }}</span>
                        <span v-if="props.item.pac_type == 'bonafide' && props.item.exempt === true"> Exempt</span>
                        <span v-else-if="props.item.pac_type == 'bonafide'"> Non-Exempt</span>
                      </div>
                      <div v-if="props.item.pac_type == 'candidate'"><span
                          v-if="props.item.position_id">{{ props.item.position }}</span><span
                          v-else>{{ props.item.office }}</span> of {{ props.item.jurisdiction }}
                      </div>

                      <div>{{ props.item.reporting_type | titleCase | suffix(' Reporting') }}</div>
                      <div v-if="props.item.registered_at"><span
                          class="flyout-label">First filed on {{ props.item.registered_at | formatDate }} </span></div>
                      <div v-if="props.item.proposals">
                        <div v-for="(proposal, index) in props.item.proposals" :key="index">
                          <span v-if="proposal.stance">{{ proposal.stance }}: </span>
                          <span v-if="proposal.title">{{ proposal.title }}</span>
                          <span v-if="proposal.number">({{ proposal.number }})</span>
                        </div>
                      </div>
                    </div>
                  </v-flex>
                  <v-flex xs4>
                    <div class="c-contact">
                      <div v-if="props.item.treasurer_name">Treasurer: {{ props.item.treasurer_name }}</div>
                      <address>
                        {{ props.item.address }}<br/>
                        {{ props.item.city }}
                        {{ props.item.state }}
                        {{ props.item.postcode }}
                      </address>
                      <div v-if="props.item.email">{{ props.item.email }}</div>
                      <div v-if="props.item.phone">
                        {{ props.item.phone }}
                      </div>


                    </div>
                  </v-flex>
                </v-layout>
              </v-container>

            </v-card-text>
          </v-card>
        </template>
      </v-data-iterator>
    </v-container>
    <v-data-table v-else :items="committees"
                  no-data-text="Could not find any committees matching your search term."
                  :headers="searchTableHeaders">
      <template v-slot:item.name="{item}">
        <router-link :to="{path: '/committee', query: {committee_id: item.committee_id}}">{{ item.name }}
          {{ item.ballot_name | parenthetical }}
        </router-link>
      </template>
      <template v-slot:item.reporting_type="{item}">
        {{ item.reporting_type | titleCase }}
      </template>
      <template v-slot:item.start_year="{item}">
        <span v-if="item.start_year === item.end_year">{{ item.start_year }}</span>
        <span v-else>{{ item.start_year }} - {{ item.end_year | defaultText('present') }}</span>
      </template>
    </v-data-table>


    <p v-if="dataReturned && committees.length === 0">Could not find any results matching your search criteria.</p>

    <v-dialog v-model="add_new_committee_modal">
      <v-card>
        <v-card-title><h3>Add New Committee</h3></v-card-title>
        <v-card-text>
          <v-form id="new-committee" @submit.prevent="createNewCommittee()">

            <v-text-field label="Committee Name" v-model="committee.name"/>

            <v-select label="PAC Type" v-model="committee.pac_type" :items="pac_types" item-text="label"
                      item-value="pac_type" @change="pacTypeChanged"/>

            <v-select v-if="committee.pac_type === 'bonafide'" label="Bonafide type" :items="bonafide_types"
                      item-text="label" item-value="bonafide_type" v-model="committee.bonafide_type"/>

            <v-select
                v-if="committee.pac_type === 'bonafide'"
                label="Exempt"
                v-model="committee.exempt"
                :items="[{ text: 'Yes', value:'true' }, { text: 'No', value: 'false' } ]"
            ></v-select>

            <v-select v-if="committee.pac_type === 'pac' || committee.pac_type === 'candidate'"
                      v-model="committee.election_code" label="Election Year" :items="elections" item-text="title"
                      item-value="election_code"/>

          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="createNewCommittee()">Save</v-btn>
          <v-btn tabindex="0" @click="cancelAddNewCommitteeDialog()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import {app} from "@/main";
import {mapState, mapActions} from 'vuex';
import CommitteeSearchInfo from "@/info/CommitteeSearchInfo";

export default {
  name: 'CommitteeSearch',
  components: {CommitteeSearchInfo},
  data() {
    return {
      add_new_committee_modal: false,
      searchTableHeaders: [
        {text: "Name", value: "name"},
        {text: "Filer ID", value: "filer_id"},
        {text: "Report Type", value: "reporting_type"},
        {text: "Committee Type", value: "pac_type"},
        {text: "Valid Years", value: "start_year"},
        {text: "Election", value: "election_code"},
      ],
      sortBy: '',
      sortDesc: false,
      sortFields: [
        {text: "Score", value: ""},
        {text: "Name", value: "name"},
        {text: "Filer ID", value: "filer_id"},
        {text: "Report Type", value: "reporting_type"},
        {text: "Committee Type", value: "pac_type"},
        {text: "Valid Years", value: "start_year"},
        {text: "Election", value: "election_code"},
      ],
      committees: [
        {
          name: "",
          filer_id: "",
          reporting_type: "",
          committee_type: "",
          committee_id: "",
          election_code: ""
        }
      ],
      committee: {
        name: '',
        committee_type: '',
        pac_type: '',
        bonafide_type: '',
        election_code: '',
        exempt: false
      },
      openPanel: 0,
      electionCode: "",
      searchResults: "",
      searchReturned: false,
      dataReturned: false,
      tableSearchResults: false,
      jurisdictionCategories: [],
      offices: [],
      searchCriteria: {
        jurisdiction: null,
        email: null,
        filer_id: null,
        name: null,
        contact_name: null,
        address: null,
        pac_type: null,
        jurisdiction_category: null,
        office_code: null,
        submitted_days: null,
        election_year: null,
        include_unfiled: false,
        proposal_title: null,
        proposal_type: null,
      },
      proposal_types: [
        {text: "Levy, Bond or Advisory Vote", value: "levy"},
        {text: "Local Initiative", value: "local"},
        {text: "Recall", value: "recall"},
        {text: "Statewide Initiative", value: "statewide"}
      ],
    }
  },
  computed: {
    ...mapState(['elections', 'pac_types', 'bonafide_types']),
  },
  mounted() {
    app.$container.wire.$emit('breadcrumbs',[])
    this.getElections();
    this.getOffices();
    this.getJurisdictionCategories();
    if (Object.keys(this.$route.query).length > 0) {
      if (typeof this.$route.query.pac_type === 'string') {
        this.$route.query.pac_type = [this.$route.query.pac_type];
      }
      Object.assign(this.searchCriteria, this.$route.query);
      this.doSearch();
    }
    this.setDataLoaded(true);
    this.search = this.searchString;
    if (this.search && this.search.length) {
      this.doSearch();
    }
  },
  methods: {
    ...mapActions(['setDataLoaded', 'getElections']),
    pacTypeChanged() {
      this.committee.election_code = '';
      this.committee.exempt = false;
      this.committee.bonafide_type = '';
    },
    normalizeLabel(key) {
      key.replace()
    },
    doSearch() {
      this.searchResults = "";
      let params = Object.assign({}, this.searchCriteria);
      params.similarity = 0.3;
      this.$router.push({path: 'committee-search', query: this.emptyRemover(params)});
      this.dataReturned = false;
      this.searchReturned = false;
      this.setDataLoaded(false);
      app.$container.dataService.adminQuery('committee_search', data => {
        this.setDataLoaded(true);
        this.committees = data;
        if (this.committees.length > 0) {
          this.openPanel = null;
        } else {
          this.openPanel = 0;
        }
        this.committees.forEach((committee) => {
          if (committee.contact_json) {
            committee.contact_json = JSON.parse(committee.contact_json);
          }
          if (committee.prop_json) {
            committee.proposals = JSON.parse(committee.prop_json);
          }
        });
        this.dataReturned = true;
        this.searchReturned = true;
      }, params);
    },
    emptyRemover(object) {
      for (const property in object) {
        if (object[property] === null) {
          delete object[property];
        }
      }
      return object;
    },
    onClickAddNewCommittee() {
      this.add_new_committee_modal = true;
    },
    cancelAddNewCommitteeDialog() {
      this.add_new_committee_modal = false;
    },
    createNewCommittee() {
      if (this.committee.pac_type === 'candidate' && this.committee.election_code === '') {
        alert('Error: Candidate requires election year.');
        return;
      }

      if (this.committee.pac_type === 'candidate' || this.committee.pac_type === 'surplus') {
        this.committee.committee_type = 'CA'
      } else {
        this.committee.committee_type = 'CO'
      }

      let committeeData = {
        name: this.committee.name,
        committee_type: this.committee.committee_type,
        pac_type: this.committee.pac_type,
        bonafide_type: this.committee.bonafide_type,
        election_code: this.committee.election_code,
        exempt: this.committee.exempt
      };

      app.$container.dataService.createCommittee(committeeData, data => {
        this.committee = data;
        this.$router.push({name: 'registration-draft', params: {id: this.committee.committee_id}});
      });
    },
    getJurisdictionCategories() {
      app.$container.dataService.query(
          'jurisdiction_category',
          data => {
            this.jurisdictionCategories = data;
          }
      );
    },
    getOffices() {
      app.$container.dataService.query(
          'office_types',
          data => {
            this.offices = data;
          }
      );
    },
    clearSearchCriteria() {
      this.searchCriteria = {};
      this.resultsEmpty = 0;
    }
  }
}
</script>
<style lang="scss" scoped>
.v-card {
  margin-bottom: 1em;
}
</style>

