<template>
  <div>
    <h2>Committees I file for</h2>
    <div v-if="committees.length === 0 && !loading">
      <v-row>
        <v-col cols="12" md="6" lg="4">
          <v-card hover @click="referenceWhenAvailable" style="width: 100%">
            <v-card-title>Create new committee
              <v-spacer></v-spacer>
              <v-icon>touch_app</v-icon>
            </v-card-title>
            <v-card-text>Register a new candidate or committee.</v-card-text>
            <v-card-actions>
              <AddCommittee ref="addCommitteeRef"></AddCommittee>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <v-text-field v-model="search" label="Search" single-line></v-text-field>
      <v-data-table :items="committees" :loading="loading" :loading-text="loading_text" :search="search" sort-by="year"
                    sort-desc :custom-sort="customSort" :headers="[
          { text: 'Name', value: 'name' },
          { text: 'Year', value: 'year' },
          { text: 'Position', value: 'position' },
          { text: 'Registration', value: 'registration' },
          { text: 'Actions', value: 'actions' } ]">
        <template v-slot:item.name="{item}">
          <a :href="navigationLink(item)">{{ item.name }}</a>
        </template>
        <template v-slot:item.year="{item}">
          <div>{{ calculate_election(item) }}</div>
        </template>
        <template v-slot:item.registration="{item}">
          <v-icon :color="registrationState(item).iconColor">{{ registrationState(item).icon }}</v-icon>
          {{ registrationState(item).state }}
        </template>
        <template v-slot:item.actions="{item}">
          <v-btn tabindex="0" :color="registrationState(item).buttonColor" :href="editLink(item)" style="margin-right: .5em" >
            {{ registrationState(item).button }}
          </v-btn>
          <accessible-button :to="{name: 'committee.finances', params: {committee_id: item.committee_id}}" button-tooltip="Campaign Finance Reports">
            <v-icon>monetization_on</v-icon>
          </accessible-button>
        </template>
      </v-data-table>
      <div>
        <AddCommittee></AddCommittee>
      </div>
    </div>
    <v-dialog v-model="loginResponseDialog">
      <v-card>
        <v-card-title>
          <span v-if="responseSuccess">Success</span>
          <span v-else>Something went wrong</span>
        </v-card-title>
        <v-card-text>
          <div v-if="responseSuccess">Prior committee registrations under that filer ID have been added to your account
            and you may now view and amend them.
          </div>
          <div v-else>There were no committee registrations found associated with this filer ID. Perhaps this filer id
            was only used for filing financial affairs statements?
          </div>
          <div v-if="responseMessage">The specific error was: {{ responseMessage }}</div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="loginResponseDialog=false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {app} from "@/main";
import AddCommittee from "../registration/AddCommittee";
import AccessibleButton from "../components/AccessibleButton";

export default {
  name: "Committees",
  components: {AccessibleButton, AddCommittee},
  data() {
    return {
      loading: true,
      loading_text: "Loading... Please wait",
      search: "",
      committees: [],
      loginResponseDialog: false,
      responseMessage: "",
      responseSuccess: false,
      filerId: "",
      passwordOne: "",
      passwordTwo: ""
    }
  },
  created() {
    app.$container.wire.$emit('breadcrumbs',[])
    this.loadCommittees();
  },
  methods: {
    calculate_election(item) {
      let election_value = null;
      if (item.election_code) {
        election_value = item.title;
      }
      else {
      election_value = String(item.start_year) + ' - ' + 'Present';
      }
      return election_value;
    },
    referenceWhenAvailable() {
      this.$refs.addCommitteeRef.committeeDialog();
    },
    navigationLink(committee) {
      if (committee.draft && !committee.registration_id) {
        return '/campaigns/committee/' + committee.committee_id + '/draft';
      } else {
        return '/campaigns/committee?committee_id=' + committee.committee_id;
      }
    },
    editLink(committee) {
      if (committee.draft) {
        return '/campaigns/committee/' + committee.committee_id + '/draft';
      } else {
        return '/campaigns/committee?committee_id=' + committee.committee_id;
      }
    },
    loadCommittees() {
      app.$container.dataService.query('my_committees',
          data => {
            this.loading = false;
            this.committees = data;
          });
    },
    customSort(items, index, isDesc) {
      items.sort((a, b) => {
        if (index[0] === "year") {
          let ae = a.end_year;
          let be = b.end_year;
          if (!ae) ae = new Date().getFullYear();
          if (!be) be = new Date().getFullYear();
          let order = isDesc[0] ? 1 : -1;
          if (ae === be && a.start_year === b.start_year) {
            return 0;
          } else if (ae > be) {
            return order * -1;
          } else if (be > ae) {
            return order;
          } else if (ae === be && a.start_year > b.start_year) {
            return order * -1;
          } else {
            return order;
          }
        } else {
          if (!isDesc[0]) {
            return a[index] < b[index] ? -1 : 1;
          } else {
            return b[index] < a[index] ? -1 : 1;
          }
        }
      });
      return items;
    },
    registrationState(committee) {
      let display = [];
      if (committee.registration_id && committee.draft) {
        display.icon = 'edit';
        display.button = 'Edit';
        display.state = 'Amending';
        display.buttonColor = 'accent';
        display.iconColor = '';
      } else if (committee.draft) {
        display.icon = 'edit';
        display.button = 'Edit';
        display.state = 'Draft';
        display.buttonColor = 'accent';
        display.iconColor = '';
      } else if (committee.registration_id && !committee.registration_verified) {
        display.icon = 'done';
        display.button = 'View';
        display.state = 'Processing';
        display.buttonColor = 'success';
        display.iconColor = 'warning';
      } else {
        display.icon = 'verified_user';
        display.button = 'View';
        display.state = 'Complete';
        display.buttonColor = 'success';
        display.iconColor = 'success';
      }
      return display;
    }
  },
}
</script>

<style scoped>

</style>