<template>
  <div class="contact-search">

    <v-form id="contact-search" @submit.prevent="doSearch()">
      <v-card>
        <v-card-title>
          Contact search
        </v-card-title>
        <v-card-text>
          <v-text-field label="Search" v-model="search" :rules="searchRule" prepend-icon="search"></v-text-field>
          <v-select label="Role" v-model="role" :items="roleValues" prepend-icon="people"></v-select>
          <v-switch label="Treasurers Only" v-model="treasurer" prepend-icon="attach_money">
          </v-switch>
        </v-card-text>
        <v-card-actions>
          <v-toolbar flat>
            <v-btn tabindex="0" type="submit" color="primary" :disabled="!search">Search</v-btn>
          </v-toolbar>
        </v-card-actions>
      </v-card>
    </v-form>

    <v-data-table :items="results" v-if="results.length" :headers="resultHeaders">
      <template v-slot:item.committee_name="{item}">
        <router-link :to="{path: '/committee', query: {committee_id: item.committee_id}}">{{
            item.committee_name
          }}
        </router-link>
      </template>
    </v-data-table>

    <p v-if="!search.length>0">Please enter name, address, phone or title in the search field</p>
    <p v-else-if="dataReturned && !results.length>0">No results found</p>
  </div>
</template>

<script>
import {app} from "@/main";

export default {
  name: 'ContactSearch',
  data() {
    return {
      results: [],
      dataReturned: false,
      search: "",
      role: "",
      similarity: 0.3,
      treasurer: null,
      similarityValues: [
        {text: "0.1", value: 0.1},
        {text: "0.2", value: 0.2},
        {text: "0.3", value: 0.3},
        {text: "0.4", value: 0.4},
        {text: "0.5", value: 0.5},
        {text: "0.6", value: 0.6},
        {text: "0.7", value: 0.7},
        {text: "0.8", value: 0.8},
        {text: "0.9", value: 0.9},
        {text: "1.0 - Exact", value: 1.0}
      ],
      roleValues: [
        {text: "All", value: ""},
        {text: "Officer", value: "officer"},
        {text: "Candidate", value: "candidate"},
        {text: "Committee", value: "committee"},
        {text: "Bank", value: "bank"},
        {text: "Books", value: "books"}
      ],
      resultHeaders: [
        {text: "Name", value: "name"},
        {text: "Email", value: "email"},
        {text: "Committee Name", value: "committee_name"},
        {text: "Title", value: "title"},
        {text: "Address", value: "address"},
        {text: "City", value: "city"},
        {text: "Phone", value: "phone"},
        {text: "Role", value: "role"},
        {text: "Name Similarity", value: "similarity_name"}
      ],
      searchRule: [value => !!value || 'Required.']
    }
  },

  methods: {
    created() {
      app.$container.wire.$emit('breadcrumbs',[])
    },
    doSearch() {
      this.dataReturned = false;
      app.$container.dataService.query('contact_search', data => {
        this.results = data;
        this.dataReturned = true;
      }, {search: this.search, similarity: this.similarity, role: this.role, treasurer: this.treasurer})
    }
  }
}
</script>
