<template>
  <div>
    <div class="report" v-if="report && !errorDialog" id="report">
      <certification-dialog v-if="certificationDialog && report.user_data" @certified="submitVendorReport"
                            @closed="certificationDialog = false" :report="report" :committeeId="committeeId"
      :notification-email="notification_email"/>
      <success-dialog v-if="successDialog" @okClicked="handleSuccessOK" @closed="successDialog = false">
        {{ messages.success }}
      </success-dialog>
      <div class="d-print-none">
        <report-errors :errors="messages.errors" :warning-label="warningLabel"/>
        <v-toolbar flat class="action-toolbar">
          <accessible-button icon button-tooltip="Back" @click="navigateBack()">
            <v-icon>arrow_back</v-icon>
          </accessible-button>
          <v-btn tabindex="0" v-if="!report.view_only" :disabled="!report.processed" color="primary" @click="handleFileReport">File Report</v-btn>
          <v-btn tabindex="0" @click="doPrint">Print</v-btn>
        </v-toolbar>
        {{notification_email}}
      </div>
      <C3 v-if="report_type.toUpperCase()==='C3'" :report="report"/>
      <C4 v-if="report_type.toUpperCase()==='C4'" :report="report"/>
    </div>
  <div v-if="errorDialog">
    <v-card>
      <v-card-text>
        <p>The report cannot be found. It may have already been submitted or you do not have access.</p>
      </v-card-text>
    </v-card>
  </div>
  </div>
</template>

<script>
import C3 from "../reports/C3";
import C4 from "../reports/C4";
import CertificationDialog from "@/components/draft-report/CertificationDialog"
import ReportErrors from "@/orca/reports/ReportErrors";
import SuccessDialog from "@/components/draft-report/SuccessDialog.vue";
import { app } from "@/main";
import AccessibleButton from "../components/AccessibleButton";

export default {
  name: "DraftReport",
  components: {AccessibleButton, C3, C4, CertificationDialog, ReportErrors, SuccessDialog },
  data() {
    return {
      errorDialog: false,
      report: {},
      report_type: "",
      committeeId: null,
      draftId: null,
      certificationDialog: false,
      fromVendorDraft: false,
      messages: [{ success: '', errors: [] }],
      successDialog: false,
      reportId: null,
      hasErrors: false,
      notification_email: ""
    }
  },
  computed: {
    warningLabel() {
      return this.report.processed ? "Warning" : "Error";
    }
  },
  methods: {
    doPrint() {
      window.print();
    },
    handleFileReport() {
      this.certificationDialog = true
    },
    handleSuccessOK() {
      this.successDialog = false;
      const location = { name: 'report', params: { report_number: this.reportId }}
      if (this.fromVendorDraft) {
        location.query = {vendor_draft: true}
      }
      this.$router.replace(location);
    },
    toggleCertDialog() {
      this.certificationDialog = !this.certificationDialog;
    },
    submitVendorReport(notificationEmail) {
      this.toggleCertDialog()
      app.$container.dataService.post(`service/campaign-finance/committee/${ this.committeeId }/vendor-report/${ this.draftId }`, data => {
        if (data.success) {
          this.successDialog = true;
          this.reportId = data.report_id;
          this.messages.success = data.message;
        } else {
          this.messages.errors = data.messages;
        }
      }, {"treasurer": this.report.user_data.treasurer, "notification_email": notificationEmail})
    },
    async getDraftReport() {
      try {
        const res = await app.$container.dataService.getDraftReport(this.committeeId, this.draftId)
        this.report = { ...res.data, is_draft: true }
        this.messages.errors = res.data.messages
        if (this.report.metadata && this.report.metadata.notification_emails && this.report.metadata.notification_emails.length) {
          this.notification_email = this.report.metadata.notification_emails.join(';')
        }
        this.report_type = res.data.origin
      } catch (e) {
        this.errorDialog = true
      }
    },
    navigateBack() {
      if (this.fromVendorDraft) {
        this.$router.replace({name: 'committee.finances', params: {committee_id: this.committeeId}})
      }
      else {
        this.$emit('navigate-back');
        if (window.history.length > 0) {
          this.$router.go(-1);
        } else {
          this.$router.replace({name: 'committees'})
        }
      }
    }
  },
  async created() {
    this.certificationDialog = this.$route.query.need_cert
    this.committeeId = +this.$route.params.committee_id
    this.draftId = this.$route.params.draft_id
    if (this.$route.query.vendor_draft) {
      this.fromVendorDraft = true
    }
    await this.getDraftReport()
  }
}

</script>

