<template>
  <div>
    <VerifyRegistration v-if="user.rights.administer_wapdc_campaign_finance" @registration-handled="verifiedHandler"/>
    <v-alert v-show="alert" type="success">{{ alertMessage }}</v-alert>
    <RegistrationView/>
  </div>
</template>

<script>
import RegistrationView from "../components/RegistrationView";
import VerifyRegistration from "../admin/VerifyRegistration";
import {mapState, mapActions} from 'vuex';

export default {
  name: "Registration",
  components: {VerifyRegistration, RegistrationView},
  data() {
    return {
      alert: false,
      alertMessage: ''
    }
  },
  computed: {
    ...mapState(['user'])
  },
  mounted() {
    this.loadRegistration();
  },
  methods: {
    ...mapActions(['getRegistration']),
    loadRegistration() {
      let registration_id = this.$route.query.registration_id;
      this.getRegistration(registration_id);
    },
    verifiedHandler(language) {
      this.alertMessage = language
      this.alert = true;
    }
  }
}
</script>

<style scoped>

</style>