<template>
  <div class="report" v-if="report" id="report">
    <div class="d-print-none">
      <v-toolbar flat>
        <accessible-button icon button-tooltip="Back" @click="navigateBack()">
          <v-icon>arrow_back</v-icon>
        </accessible-button>
        <v-btn tabindex="0" @click="doPrint">Print</v-btn>
      </v-toolbar>
    </div>
    <C3 v-if="report.origin==='C3'" :report="report"/>
    <C4 v-if="report.origin==='C4'" :report="report"/>
  </div>
</template>

<script>
import C3 from "../reports/C3";
import C4 from "../reports/C4";
import {app} from "../main";
import AccessibleButton from "../components/AccessibleButton";

export default {
  name: "Report",
  components: {AccessibleButton, C3, C4},
  created() {
    this.report_number = this.$route.params.report_number;
    this.originalTitle = document.title;
    this.loadReport();
    if (this.$route.query.vendor_draft) {
      this.fromVendorDraft = true
    }
  },
  data() {
    return {
      report: {user_data: {}, committee: {}, metadata: {}},
      columns: [],
      categoryList: [],
      originalTitle: "",
      fromVendorDraft: false
    }
  },
  methods: {
    doPrint() {
      window.print();
    },
    loadReport() {
      this.getCategoryList();
      app.$container.dataService.getCFReportData(([report]) => {
        app.$container.dataService.getCFReportUserData(({user_data, categorylist, version}) => {
          report.user_data = user_data;
          report.categorylist = categorylist;
          report.version = version;
          this.report = report
          if (!user_data) {
            alert("Missing Report data");
          } else {
            document.title = user_data.committee.name + " " + user_data.report_type.toUpperCase() + " " + this.report_number;
          }
        }, this.report_number);
      }, {
        repno: this.report_number,
      })
    },
    getCategoryList() {
      app.$container.dataService.query('expense_categories', data => {
        if (data) {
          this.categoryList = data;
        }
      })
    },
    navigateBack() {
      if (this.fromVendorDraft) {
        this.$router.replace({name: 'committee.finances', params: {committee_id: this.report.committee_id}})
      }
      else {
        this.$emit('navigate-back');
        if (window.history.length > 1) {
          this.$router.go(-1);
        } else {
          if(this.$router.history._startLocation.includes('/ORCA/campaign')) {
            this.$router.replace({name: 'ORCA.campaign.fund', params: this.fund_id});
          } else {
            this.$router.replace({name: 'committees'});
          }
        }
      }
    }
  }
}

</script>

<style scoped>

</style>