<template>
  <campaign-page ref="campaignPage" title="Pledge" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit auctions from ORCA version 1.490 or
      greater.
    </v-alert>
    <template v-slot:toolbar>
      <v-btn tabindex="0" color="primary" small :to="{name: 'ORCA.fund.pledge-search'}">
        <v-icon>search</v-icon>
        Pledge Search
      </v-btn>
    </template>
    <v-form ref="pledgeForm" lazy-validation @submit.prevent="doSave">
      <v-card flat max-width="800">
        <v-card-text>
          <contact-select
            ref="contactSelect"
            label="Pledge Maker"
            type="!CAN"
            autofocus
            v-model.number="pledge.contid"
            @contact-selected="onContactSelect"
            :election="pledge.elekey"
            :disable-contact-select="hasChildPledge"
          />
          <v-text-field
            v-model.number="pledge.amount"
            label="Amount"
            ref="amountEntry"
            type="text"
            inputmode="decimal"
            prefix="$"
            maxLength="50"
            :rules="[validations.required, validations.positiveAmount]"
          ></v-text-field>
          <date-picker v-model="pledge.date_" label="Date" ref="dateEntry" required></date-picker>
          <election-select v-model="pledge.elekey" ref="elekeyEntry" item-text="name" :rules="[validations.required]"
                           disabled="false"></election-select>
          <v-text-field v-model="pledge.description" ref="description" label="Description"
                        :rules="[validations.required]" type="text"></v-text-field>
          <v-textarea v-model="pledge.memo" ref="memo" label="Memo (optional)" type="text"></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-spacer/>
          {{ message }}
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import ElectionSelect from "../contributions/ElectionSelect";
import ORCA from "@/ORCABridge";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import ContactSelect from "../contacts/ContactSelect";
import formValidations from "@/formValidations";


export default {
  name: "EditPledge.vue",
  components: {ContactSelect, ElectionSelect, DatePicker, CampaignPage},
  created() {

  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.490);
    },
  },
  data() {
    return {
      pledge_id: null,
      pledge: {
        contid: null,
        amount: null,
        date_: null,
        elekey: 0,
        description: null,
        memo: null,
        itemized: 0
      },
      hasChildPledge: false,
      newPledge: true,
      validations: {
        ...formValidations
      },
      message: null
    }
  },
  methods: {
    async initPage() {
      if (this.fund.fund_id) {
        this.pledge_id = parseInt(this.$route.params?.id ?? 0);
        this.newPledge = this.pledge_id === 0;
        if (!this.newPledge) {
          this.pledge = await orcaDataService.getFundObject(this.fund.fund_id, 'pledge', this.pledge_id)
          this.hasChildPledge = this.pledge.amount !== this.pledge.balance;
        } else {
          this.resetPledge();
        }
      }
    },
    onContactSelect() {
      setTimeout(() => this.$refs.amountEntry.focus(), 200)
    },
    resetPledge() {
      this.pledge = {
        contid: null,
        amount: null,
        date_: this.pledge.date_,
        elekey: this.pledge.elekey,
        description: null,
        memo: null,
        itemized: 0
      }
    },
    async doSave() {
      if (this.$refs.pledgeForm.validate()) {
        let savedPledge = await orcaDataService.postFundObject(this.fund.fund_id, 'pledge', this.pledge);

        if (!this.pledge_id) {
          await this.orcaFund.reloadFund();
        }

        if (savedPledge) {
          let orcaPledge = JSON.parse(JSON.stringify(savedPledge));
          orcaPledge.rds_id = orcaPledge.trankeygen_id;
          orcaPledge.contid = orcaPledge.contid_orca;
          await ORCA.savePledge(orcaPledge);
          this.message = 'Saved Pledge';

          if (this.newPledge && savedPledge) {
            this.resetPledge();
            setTimeout(() => {
              this.$refs.contactSelect.focus();
              this.$refs.pledgeForm.resetValidation()
            }, 200)
          } else if (!this.newPledge && savedPledge) {
            this.$refs.pledgeForm.resetValidation();
            this.$refs.campaignPage.navigateBack();
          }
        }
      } else {
        this.message = 'Please ensure all required fields are complete.';
      }
    }
  }
}
</script>
