<template>
  <div class="EditPledgeCancel">
    <campaign-page ref="campaignPage" title="Pledge Cancel">
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access {{ pageTitle }} from the ORCA version 1.490 or
        greater.
      </v-alert>
      <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
        <v-icon>error</v-icon>
        Missing accounts for fund. Please contact support
      </v-alert>
      <template>

      </template>
      <v-form ref="pledgeCancelForm" lazy-validation @submit.prevent="doSave">
        <v-card flat max-width="400">
          <v-card-text>
            <v-text-field
              v-model.number="pledgeCancel.amount"
              ref="cancelAmount"
              type="text"
              inputmode="decimal"
              maxlength=50
              prefix="$"
              label="Amount"
              :rules="[validations.required, validations.positiveAmount, validations.cancelledTooLarge]"
            ></v-text-field>
            <p>Balance: {{ formatMoney(amountToCancel) }}</p>
            <date-picker v-model="pledgeCancel.date_" ref="dateEntry" label="Date" required></date-picker>
            <v-textarea v-model="pledgeCancel.memo" ref="cancelMemo" label="Memo (optional)" type="Text" rows="2"
                        maxlength=1000></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import formValidations from "@/formValidations";
import ORCA from "@/ORCABridge"
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "../fund/Fund";
import filters from '@/filters';

export default {
  name: "PledgeCancel.vue",
  components: {DatePicker, CampaignPage},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  created() {
    this.initPage();
  },
  data() {
    return {
      pledgeCancel_id: null,
      pledge: {},
      originalCancelledAmount: 0.0,
      pledge_id: null,
      newPledgeCancel: false,
      pledgeCancel: {
        amount: null,
        date_: null,
        memo: null,
        pid: null
      },
      validations: {
        ...formValidations,
        cancelledTooLarge:
            v => (!v || (this.amountToCancel >= 0)) || 'Total cancelled exceed the current balance'
      },
      message: null
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.490)
    },
    pageTitle() {
      return this.pledgeCancel_id ? "Edit Pledge Cancellation" : "New Pledge Cancellation"
    },
    amountToCancel() {
      if (this.originalCancelledAmount) {
        return parseFloat(this.pledge.balance + this.originalCancelledAmount - this.pledgeCancel.amount);
      } else {
        return parseFloat(this.pledge.balance - this.pledgeCancel.amount);
      }
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      if (this.fund.fund_id) {
        this.pledge_id = parseInt(this.$route.params.pledge_id);

        if (this.pledge_id) {
          this.pledge = await orcaDataService.getFundObject(this.fund.fund_id, 'pledge', this.pledge_id);
        }

        this.pledgeCancel_id = this.$route.params.id ? parseInt(this.$route.params?.id) : null

        this.newPledgeCancel = !this.pledgeCancel_id;

        if (!this.newPledgeCancel) {
          this.pledgeCancel = await orcaDataService.getFundObject(this.fund.fund_id, 'pledge-cancel', this.pledgeCancel_id);
          this.originalCancelledAmount = this.pledgeCancel.amount
        } else {
          this.resetPledgeCancel();
        }
      }
    },
    async doSave() {
      if (this.$refs.pledgeCancelForm.validate()) {
        let response = await orcaDataService.postFundObject(this.fund.fund_id, 'pledge-cancel', this.pledgeCancel)

        if (response) {
          let pledgeCancellation = JSON.parse(JSON.stringify(response));
          if (!pledgeCancellation.orca_id) {
            pledgeCancellation.orca_id = 0
          }

          pledgeCancellation.pid = pledgeCancellation.pid_orca;
          pledgeCancellation.rds_id = pledgeCancellation.trankeygen_id;
          pledgeCancellation.contid_rds = pledgeCancellation.contid_orca;

          await ORCA.savePledgeTransaction(pledgeCancellation);
          this.message = "Saved cancelled pledge"

          this.$refs.pledgeCancelForm.resetValidation();
          this.$refs.campaignPage.navigateBack();
        } else {
          alert('Unable to save pledge cancellation');
        }
      } else {
        this.message = "Please ensure all required fields are complete.";
      }
    },
    resetPledgeCancel() {
      this.pledgeCancel = {
        amount: null,
        date: null,
        memo: null,
        pid: this.pledge_id
      }
    }
  }
}
</script>

<style scoped>

</style>