<template>
  <campaign-page ref="campaignPage" title="Pledge search" @load="loadTransactions">
    <template v-slot:toolbar>
      <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.add-pledge'}">
        <v-icon>add</v-icon>
        New Pledge
      </v-btn>
    </template>
    <v-expansion-panels v-model="searchOpen" accordion>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <div>
            <v-icon>search</v-icon>
            Find pledge matching...
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-form @submit.prevent="loadTransactions()">
            <p>Enter some information to help us find what you're looking for.
              If everything is left blank, we will select some of the most recent transaction for you.</p>
            <v-text-field v-model="searchFilter.name" label="Name" clearable></v-text-field>
            <v-row align="start" dense>
              <v-col md="6" lg="3" cols="12">
                <date-picker v-model="searchFilter.start_date" label="Earliest date" clearable></date-picker>
              </v-col>
              <v-col md="6" lg="3" cols="12">
                <date-picker v-model="searchFilter.end_date" label="Latest date" clearable></date-picker>
              </v-col>
            </v-row>
            <v-btn tabindex="0" type="submit" color="primary">Search</v-btn>
            <v-btn tabindex="0" @click="clearSearch()">Clear</v-btn>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <v-text-field type="search" label="Search" v-model="search" clearable></v-text-field>
    <v-data-table
        :items="transactions"
        :single-expand="true"
        item-key="trankeygen_id"
        :headers="[
          {text: 'Date', value: 'date_'},
          {text: 'Name', value: 'name'},
          {text: 'Pledge', value: 'pledge', align: 'end'},
          {text: 'Balance', value: 'balance', align: 'end'},
          {text: '', value: 'actions'}
        ]"
        :footer-props="{'items-per-page-options': [25, 50, 100, -1]}"
        :search="search"
    >
      <template v-slot:item.name="{item}">
        <router-link :to="{name: 'orca.fund.contact', params: {contact_id: item.contid}}">
          {{ item.name }}
        </router-link>
      </template>
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.pledge="{item}">
        {{ formatMoney(item.pledge) }}
      </template>
      <template v-slot:item.balance="{item}">
        {{ formatMoney(item.balance) }}
      </template>
      <template v-slot:item.actions="{item}">
        <accessible-button v-if="getEditRoute(item)" :to="getEditRoute(item)" button-tooltip="Edit pledge">
          <v-icon>edit</v-icon>
        </accessible-button>
        <accessible-button @click="tryDelete(item)" button-tooltip="Delete pledge">
          <v-icon>delete</v-icon>
        </accessible-button>
      </template>
    </v-data-table>
    <v-dialog v-model="showDeleteDialog" persistent max-width="50em">
      <v-card>
        <v-card-title>
          Delete pledge
        </v-card-title>
        <v-card-text>
          <v-alert v-if="selectedPledge.readOnly" outlined color="error" border="left">
            The pledge for {{ selectedPledge.name }} for {{ formatMoney(selectedPledge.pledge) }} made on
            {{ formatDate(selectedPledge.date_) }} has one or more transactions associated with it and cannot be
            deleted.
          </v-alert>
          <p class="subtitle-1 font-weight-bold" v-else>
            Are you sure you want to permanently delete the {{ selectedPledge.name }} pledge of
            {{ formatMoney(selectedPledge.pledge) }} made on
            {{ formatDate(selectedPledge.date_) }}?
          </p>

        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" :disabled="selectedPledge.readOnly" @click="doDeletion">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog = false; selectedPledge = {}">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </campaign-page>
</template>

<script>
import ORCA from '@/ORCABridge';
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "@/orca/fund/Fund";
import CampaignPage from '@/orca/CampaignPage';
import DatePicker from '@/components/DatePicker';
import filters from "@/filters";
import {computed} from "vue";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "PledgeSearch",
  components: {AccessibleButton, DatePicker, CampaignPage},
  props: {
    query: {
      type: String,
      default: 'pledge-search'
    },
    maxResults: {
      type: Number
    }
  },
  data() {
    return {
      selectedPledge: {},
      readOnly: true,
      expanded: [],
      showMaxResultMessage: false,
      showDeleteDialog: false,
      transactions: [],
      search: '',
      searchOpen: true,
      searchFilter: {
        start_date: null,
        end_date: null,
        min_value: null,
        max_value: null,
        name: null,
      },
      pledge: {id: 4900, value: 'Pledge', route: 'ORCA.fund.add-pledge'},
    }
  },
  computed: {
    version() {
      return ORCA.version;
    }
  },
  methods: {
    ...filters.filters,
    loadTransactions() {
      if (this.fund.fund_id) {
        orcaDataService.getFundData(this.fund.fund_id, this.query, this.searchFilter).then(data => {
          if (data.success) {
            this.transactions = data["pledge-search"];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length)
          } else {
            this.transactions = [];
            this.showMaxResultMessage = false;
          }
          this.searchOpen = this.transactions.length === 0 ? 0 : null;
        })
      } else {
        this.transactions = []
      }
    },
    clearSearch() {
      Object.keys(this.searchFilter).forEach((i) => this.searchFilter[i] = null);
    },
    getEditRoute(item) {
      const paramsReceipt = {fund_id: this.fund.fund_id, id: item.receipt_id};
      if (ORCA.version >= 1.490) {
        return {name: 'ORCA.fund.edit-pledge', params: paramsReceipt};
      }
      return null;
    },
    tryDelete(pledge) {
      this.selectedPledge = pledge;
      this.selectedPledge.readOnly = !(this.selectedPledge.pledge === this.selectedPledge.balance);
      this.showDeleteDialog = true;
    },
    doDeletion() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'pledge', this.selectedPledge.receipt_id).then(response => {
        if (response.success) {
          const orcaPledge = JSON.parse(JSON.stringify(this.selectedPledge));
          orcaPledge.contid = this.selectedPledge.contid;
          orcaPledge.rds_id = this.selectedPledge.contid_orca;
          ORCA.deleteReceipt(orcaPledge);
          this.loadTransactions();
        }
      });
      this.showDeleteDialog = false;
    },
  },
  setup() {
    const {fund} = useOrcaFund();
    const orcaVersion = computed(() => ORCA.version);
    return {fund, orcaVersion}
  },
  created() {
    if (this.fund.fund_id) {
      this.loadTransactions();
    }
  },
}
</script>
