<template>
  <div>
    <v-form ref="sponsorEditForm" @submit.prevent="updateSponsorProfile">
      <v-card>
        <v-card-title>Edit sponsor profile</v-card-title>
        <v-card-text>
          <v-text-field label="Name" v-model="sponsor.name" :rules="[validations.required]"/>
          <v-autocomplete label="Type of filer" :items="sponsor_types" v-model="sponsor.sponsor_type"
                          :rules="[validations.required]"/>
          <v-text-field label="Email" type="email" v-model="sponsor.email" :rules="[validations.required]"/>
          <v-text-field label="Address" v-model="sponsor.address" :rules="[validations.required]"/>
          <v-text-field label="City" v-model="sponsor.city" :rules="[validations.required]"/>
          <v-text-field label="State" v-model.trim="sponsor.state" :rules="[validations.required]"/>
          <v-text-field label="Zip" v-model="sponsor.postcode" :rules="[validations.required]"/>
          <v-text-field label="Phone" v-model="sponsor.phone"/>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" type="submit">
            <v-icon>save</v-icon>
            Save
          </v-btn>
          <v-btn @click="cancelSponsorEdit">
            <v-icon>cancel</v-icon>
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import {ieDataService} from "@/IExpendituresDataService";
import {useIE} from "@/IE";

export default {
  name: "SponsorProfile",
  setup() {
    const {validations, sponsor_types} = useIE();
    return {validations, sponsor_types}
  },
  data() {
    return {
      sponsor: {}
    }
  },
  created() {
    if (this.$route.params?.sponsor_id) {
      this.getSponsorData();
    }
  },
  methods: {
    getSponsorData() {
      ieDataService.getFilerData('sponsor', {sponsor_id: this.$route.params.sponsor_id}).then(result => {
        this.sponsor = result.queryResult[0] ?? {};
      });
    },
    updateSponsorProfile() {
      ieDataService.entityApiPut(this.sponsor.entity_id, this.sponsor).then(result => {
        if (result?.success) {
          this.$router.replace({path: '/'});
        } else {
          alert("Unable to update sponsor!")
        }
      })
    },
    cancelSponsorEdit() {
      this.$router.replace({path: '/'});
    }
  },
}
</script>

<style scoped>

</style>