<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ attrs, on }">
      <v-btn
          v-on="on"
          v-bind="$attrs"
          :aria-haspopup="attrs['ARIA-HASPOPUP']"
          :aria-expanded="attrs['ARIA-EXPANDED']"
          :aria-label="buttonTooltip"
          @click="$emit('click', $event)"
      >
        <slot name="default" :aria-hidden="doNotRead"></slot>
      </v-btn>
    </template>
    <span>{{ buttonTooltip }}</span>
  </v-tooltip>
</template>

<script>

export default {
  name: "AccessibleButton",
  props:{
    buttonTooltip: {
      type: String,
      required: false
    },
  },
  computed: {
    doNotRead() {
      return !!this.buttonTooltip;
    }
  }
}
</script>
