<template>
  <v-card v-if="dataLoaded">
    <v-card-title><h3>{{ title }} attachments</h3></v-card-title>
    <v-card-actions>
      <!-- ---------------------- add attachment dialog ------------------------- -->
      <v-dialog v-model="attachment_dialog" v-if="canEnterData" persistent>
        <template v-slot:activator="{ on }">
          <v-btn tabindex="0" v-if="canAccessData && canAdministerCF" v-on="on" color="primary">Add {{ title }} attachment</v-btn>
        </template>
        <v-card>
          <v-card-title primary-title>Add {{ title }} attachment</v-card-title>
          <v-card-text>
            <v-file-input clearable label="Choose file..." v-model="attachmentInput"
                          @change="selectFile"></v-file-input>
            <v-text-field label="Description" v-model="attachment.description">Description</v-text-field>
            <v-select
              item-text="label"
              item-value="value"
              label="Document Type"
              :items="documentTypes"
              v-model="attachment.document_type">
            </v-select>
            <DatePicker v-model="attachment.submitted_at" label="Submitted At Date" :required="true"></DatePicker>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn tabindex="0" :loading="fileUploading" :disabled="!attachment.file" color="primary" @click="getUploadRequest">
              Upload
              <v-icon right dark>cloud_upload</v-icon>
            </v-btn>
            <v-btn tabindex="0" @click="resetUploadDialog">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-actions>
    <!-- ----------------------------- Attachment list ------------------------- -->
    <v-card-text>
      <v-data-table
        v-show="dataLoaded && canAccessData"
        :items="this.attachments"
        :headers="[
          { text: 'Name', value: 'file_name' },
          { text: 'Description', value: 'description' },
          { text: 'Submitted At', value: 'submitted_at' },
          { text: 'Document Type', value: 'document_type' },
          { text: 'Actions', value: 'actions' } ]">
        <template v-slot:item.file_name="{item}">
          <a target="_blank" :href="item.file_service_url">{{ item.file_name }}</a>
        </template>
        <template v-slot:item.document_type="{item}">
          {{ documentTypeLabel(item.document_type) }}
        </template>
        <template v-slot:item.actions="{item}">
          <v-btn tabindex="0" icon @click="selected_attachment = item; attachment_edit_dialog = true;" v-if="canEnterData">
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn tabindex="0" icon @click="selected_attachment = item; attachment_delete_dialog = true;" v-if="canEnterData">
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card-text>

    <!-- ---------------------- edit attachment dialog ------------------------- -->
    <v-dialog v-model="attachment_edit_dialog" persistent>
      <v-card>
        <v-card-title primary-title>Edit Attachment</v-card-title>
        <v-card-text>
          <v-text-field label="Description" v-model="selected_attachment.description">Description</v-text-field>
          <DatePicker label="Submitted At Date" v-model="selected_attachment.submitted_at"></DatePicker>
          <v-select
            item-text="label"
            item-value="value"
            label="Document Type"
            :items="documentTypes"
            v-model="attachment.document_type">
          </v-select>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn tabindex="0" :loading="fileEditing" color="primary" @click="editAttachment">Save</v-btn>
          <v-btn tabindex="0" @click="resetEditDialog">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- ---------------------- delete confirm attachment dialog ------------------------- -->
    <v-dialog v-model="attachment_delete_dialog" persistent>
      <v-card>
        <v-card-title primary-title>Delete Attachment</v-card-title>
        <v-card-text>
          Are you sure you want to delete the attachment <strong>{{ selected_attachment.file_name }}</strong>?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn tabindex="0" :loading="fileDeleting" color="primary" @click="deleteAttachment">Delete</v-btn>
          <v-btn tabindex="0" @click="resetDeleteDialog">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import {mapState} from 'vuex';
import {app} from '../main.js';
import axios from 'axios';
import DatePicker from './DatePicker';

export default {
  name: "AttachFile",
  components: {DatePicker},
  props: {
    target_type: String,
    target_id: Number,
    title: {
      type: String,
      default: 'Committee'
    },
    category: {
      type: String,
      default: 'committee'
    }
  },
  data() {
    return {
      dataLoaded: false,
      fileUploading: false,
      fileEditing: false,
      fileDeleting: false,
      attachment_dialog: false,
      selected_attachment: '',
      attachment_edit_dialog: false,
      attachment_delete_dialog: false,
      attachments: [{}],
      attachment: {
        target_type: '',
        target_id: '',
        file_service_url: '',
        file: '',
        description: '',
        document_type: '',
        access_mode: 'public'
      },
      attachmentInput: null,
      documentTypes: []
    }
  },

  mounted() {
    app.$container.dataService.adminQuery('lookup-document-by-category', data => {
      this.documentTypes = data;
    }, {category: this.category});
    this.loadAttachments();
  },

  computed: {
    ...mapState(['user']),
    canEnterData() {
      return this.user.rights.enter_wapdc_data;
    },
    canAccessData() {
      return this.user.rights.access_wapdc_data;
    },
    canAdministerCF() {
      return this.user.rights.administer_wapdc_campaign_finance;
    }
  },
  methods: {
    loadAttachments() {
      app.$container.dataService.get('service/data-admin/query/attachments',
          (result) => {
            this.attachments = result.data;
            this.dataLoaded = true;
          }, {
            'target_type': this.target_type,
            'target_id': this.target_id
          }
      )
    },
    selectFile(e) {
      this.attachment.file = e;
    },

    editAttachment() {
      app.$container.dataService.put('service/attachment/' + this.selected_attachment.attachment_id + '/edit-attachment',
          () => {
            this.loadAttachments();
            this.resetEditDialog();
          },
          this.selected_attachment);
    },

    deleteAttachment() {
      app.$container.dataService.delete('service/attachment/' + this.selected_attachment.attachment_id + '/delete-attachment',
          () => {
            this.loadAttachments();
            this.resetDeleteDialog();
          }
      );
    },

    getUploadRequest() {
      this.fileUploading = true;
      app.$container.dataService.post('service/attachment/null/request-upload',
          this.startFileUpload,
          {
            file_name: this.attachment.file.name,
            target_type: this.target_type,
            target_id: this.target_id,
            access_mode: this.attachment.access_mode,
            content_type: this.attachment.file.type,
            meta_data: {}
          })
    },

    startFileUpload(result) {
      let upload_request_data = result.upload_form;
      let policy = upload_request_data.formElements.formInputs;
      let url = upload_request_data.formElements.formAttributes.action;
      let file = this.attachment.file;
      var formData = new FormData();
      formData.append('key', policy.key);
      formData.append('acl', policy.acl);
      formData.append('x-amz-credential', policy['X-Amz-Credential']);
      formData.append('x-amz-algorithm', policy['X-Amz-Algorithm']);
      formData.append('x-amz-date', policy['X-Amz-Date']);
      formData.append('policy', policy.Policy);
      formData.append('x-amz-signature', policy['X-Amz-Signature']);
      formData.append('content-type', policy['content-type']);
      formData.append('x-amz-meta-target_type', this.target_type);
      formData.append('x-amz-meta-target_id', this.target_id);
      // todo: loop through any additional metadata and append it here
      formData.append('file', file);
      this.attachment.file_service_url = upload_request_data.url;
      this.attachment.alias = policy.key;
      this.attachment.file_name = this.attachment.file.name;
      this.attachment.target_type = this.target_type;
      this.attachment.target_id = this.target_id;
      app.$container.dataService.setPending();
      axios.post(url, formData)
          .then(() => {
            this.createRegistrationAttachment();
            app.$container.dataService.resolvePending();
          })
          .catch(r => {
            app.$container.dataService.handleError(r);
          });
    },

    createRegistrationAttachment() {
      app.$container.dataService.post('service/attachment/null/add-attachment', () => {
        this.resetUploadDialog();
        this.loadAttachments();
      }, {
        alias: this.attachment.alias,
        file_name: this.attachment.file_name,
        target_type: this.target_type,
        target_id: this.target_id,
        description: this.attachment.description,
        submitted_at: this.attachment.submitted_at,
        document_type: this.attachment.document_type,
        access_mode: this.attachment.access_mode,
        file_service_url: this.attachment.file_service_url,
        meta_data: this.attachment.metadata,
      })
    },

    resetUploadDialog() {
      this.fileUploading = false;
      this.attachment_dialog = false;
      this.attachment.description = '';
      this.attachment.submitted_at = null;
      this.attachment.file = '';
      this.attachment.document_type = '';
      this.attachment.file_service_url = '';
      this.attachmentInput = null;
    },

    resetEditDialog() {
      this.attachment_edit_dialog = false;
      this.selected_attachment = '';
    },

    resetDeleteDialog() {
      this.attachment_delete_dialog = false;
      this.selected_attachment = '';
    },
    documentTypeLabel(value) {
      let label = "";
      this.documentTypes.forEach(item => {
        if (item.value === value) {
          label = item.label;
        }
      });
      return label;
    }
  },
  watch: {
    target_id() {
      this.loadAttachments();
    }
  }
}
</script>

<style scoped>
.v-card {
  margin-top: 2em;
}

.v-card .v-card__title {
  background-color: lightgray;
  color: black;
  font-size: large;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

@media print {
  .v-card__actions {
    display: none !important;
  }

  .v-data-footer {
    display: none !important;
  }

}

</style>
