<template>
  <div>
    <v-card>
      <v-card-title><h2>Committee logs</h2></v-card-title>
      <v-card-text>
        <v-data-table :items="logs" :headers="[
          { text: 'Transaction Type', value: 'transaction_type' },
          { text: 'Action', value: 'action' },
          { text: 'Message', value: 'message' },
          { text: 'User', value: 'user_name' },
          { text: 'Tx Id', value: 'transaction_id' },
          { text: 'Updated At', value: 'updated_at' }
        ]"
                      no-data-text="No logs for this committee.">
          <template v-slot:item.transaction_type="{item}">
            {{ item.transaction_type | titleCase }}
          </template>
          <template v-slot:item.action="{item}">
            {{ item.action | titleCase }}
          </template>
          <template v-slot:item.updated_at="{item}">
            {{ item.updated_at | formatDateTime }}
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import {app} from "@/main";

export default {
  data() {
    return {
      logs: []
    }
  },
  mounted() {
    this.setDataLoaded = false;
    app.$container.dataService.adminQuery('committee_logs', data => {
      this.logs = data;
    }, {committee_id: this.$route.query.committee_id});
  },
}
</script>

<style lang="scss" scoped>
.md-card {
  margin-top: 2em;
  border: 1px solid darkgray;
}

.md-card .md-card-header {
  background-color: lightgray;
  color: black;
  font-size: large;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}
</style>