<template>
  <div :class="`${fullWidth === true ? '' : 'datePickerDiv'}`">
      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
      <template v-slot:activator="{ on }">
        <v-text-field
          ref="dateEntry"
          prepend-icon="event"
          placeholder="MM/DD/YYYY"
          lazy-validation
          :rules="dateRules"
          :label="label"
          :autofocus="autofocus"
          :dense="dense"
          v-model="dateString"
          v-bind="$attrs"
          v-on="on"
          @change="dateSelected"
        ></v-text-field>
      </template>
      <v-date-picker v-model="date" @input="dateSelected"></v-date-picker>
    </v-menu>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: "DatePicker",
  props: {
    value: String,
    label: {
      type: String,
    },
    required: {
      type: Boolean,
      default: false,
    },
    minDate: String,
    minDateModifier: {
      type: Object,
    },
    maxDate: String,
    maxDateModifier: {
      type: Object,
      value: {}
    },
    message: {
      type: String,
      default: ''
    },
    dense: {
      type: Boolean,
      default: false
    },
    fullWidth: {
      type: Boolean,
      default: false
    },
    autofocus: {
      type: Boolean,
      default: false,
    },
  },
    data() {
      return {
      valid: true,
      menu: false,
      dateString: null,
      dateRules: [
        d => (d === null || d.length === 0) || new RegExp("^(0?[1-9]|1[012])[/-](0?[1-9]|[12][0-9]|3[01])[/-](\\d{4}|\\d{2})$").test(d)
            || new RegExp("^(((January?|March?|May?|July?|August?|October?|December?) 31)|((January?|March?|May?|April?|July?|June?|August?|October?|September?|November?|December?) (0?[1-9]|([12]\\d)|30))|(February? (0?[1-9]|1\\d|2[0-8]|(29(?=, ((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))))), ((1[6-9]|[2-9]\\d)\\d{2})").test(d)
            || 'Please enter valid date (MM/DD/YY or MM/DD/YYYY)',
        d => (!!d || !this.required) || this.label + ' required. (e.g. MM/DD/YY or MM/DD/YYYY)',
        d => !this.minDateString || (d === null || d.length === 0) || this.getFormattedDate(d) >= this.minDateString || 'Date must be after ' + this.message + this.getFormattedDateString(this.minDateString),
        d => !this.maxDateString || (d === null || d.length === 0) || this.getFormattedDate(d) <= this.maxDateString || 'Date must be before ' + this.message + this.getFormattedDateString(this.maxDateString),
      ]
    }
  },
  computed: {
    //keep from getting a billion errors in console when we enter invalid dates...
    date: {
      get() {
        let f = this.dateRules[0];
        if (this.dateString && f(this.dateString) === true) {
          return this.getFormattedDate(this.dateString);
        } else if (!this.dateString) {
          return null;
        }
        return this.value;
      },
      set(value) {
        if (value) {
          this.dateString = this.getFormattedDateString(value);
        } else {
          this.dateString = null;
        }
      }
    },
    maxDateString() {
      if (this.maxDateModifier) {
        let date = new moment(this.maxDate).add(new moment.duration(this.maxDateModifier));
        return date.format('YYYY-MM-DD');
      }
      if (this.maxDate) {
        return this.maxDate;
      }
      return null;
    },
    minDateString() {
      if (this.minDateModifier) {
        let date = new moment(this.minDate).add(new moment.duration(this.minDateModifier));
        return date.format('YYYY-MM-DD');
      }
      if (this.minDate) {
        return this.minDate;
      }
      return null;
    },
  },
  mounted() {
    this.dateString = this.value;
    this.setUp();
  },
  methods: {
    getFormattedDateString(date) {
      if (date) {
        let m = moment(date);
        return m.format('MM/DD/YYYY')
      }
      return null;
    },
    getFormattedDate(dateString) {
      let bool = (new RegExp("^(((January?|March?|May?|July?|August?|October?|December?) 31)|((January?|March?|May?|April?|July?|June?|August?|October?|September?|November?|December?) (0?[1-9]|([12]\\d)|30))|(February? (0?[1-9]|1\\d|2[0-8]|(29(?=, ((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))))), ((1[6-9]|[2-9]\\d)\\d{2})").test(dateString));
      if (dateString) {
        let m = null;
        if(bool) {
          m = moment(dateString, 'MMMM DD, YYYY');
        } else {
          m = moment(dateString, 'MM/DD/YYYY');
        }
        return m.format('YYYY-MM-DD');
      }
      return null;
    },
    setUp() {
      this.dateString = this.getFormattedDateString(this.value);
      this.setLabel();
    },
    setLabel() {
      let width = 10;
      let len = this.label.length;
      width = Math.max(10, (3 * len) / 4 + 1);
      width += 'em';
      let dpClass = document.getElementsByClassName('datePickerDiv');
      let i = 0;
      for (i = 0; i < dpClass.length; i++) {
        dpClass[i].style.maxWidth = width;
      }
    },
    dateSelected() {
      this.menu = false;
      this.$emit('input', this.date);
    },
    focus() {
      this.$refs.dateEntry.focus();
    }
  },
  watch: {
    value: function () {
      this.setUp();
    }
  }
}
</script>

<style lang="scss" scoped>
.datePickerDiv {
  max-width: 30em;
}
</style>
