<template>
  <div>
    <v-container>
      <v-alert color="error" text v-if="error_text !== '' " dismissible @click="error_text = '' ">
        <v-icon>error</v-icon>
        {{ error_text }}
      </v-alert>

      <v-card class="mb-4">
        <v-card-title>PDC Access</v-card-title>
        <v-row>
          <v-col cols="4">
            <v-btn
                color="primary"
                class="ma-4 ma-4"
                @click="pdc_access_dialog_is_open = true">{{ pdc_access_label }}
            </v-btn>
          </v-col>
          <v-col cols="8">
            <div v-if="pdc_has_access" class="larger-text pt-6">
              The PDC has access <span v-if="pdc_pdc_user.expiration_date">until {{ formatDate(pdc_pdc_user.expiration_date) }} end of day.</span>
            </div>
          </v-col>
        </v-row>
      </v-card>

      <v-card class="mb-4">
        <v-card-title>Authorized User</v-card-title>
        <v-data-table
          v-if="canAdministerCF"
          :items="authorized_users"
          :headers="userHeaders"
        >
          <template v-slot:item.actions="{item}">
            <v-btn tabindex="0" color="accent" @click="revokeUserShowConfirm(item)">Revoke</v-btn>
          </template>
        </v-data-table>

        <v-btn
          v-if="canAdministerCF"
          color="primary"
          class="mb-4 ml-4"
          @click="addUser=true">{{$t('message.label.add_user')}}
        </v-btn>
      </v-card>

      <v-card class="mb-4">
        <v-card-title>Tokens</v-card-title>
        <v-data-table :items="token" :headers="tokenHeaders" no-data-text="Add a new access token">
          <template v-slot:item.date_generated="{item}">
            {{ item.date_generated | formatDate }}
          </template>
          <template v-slot:item.actions="{item}">
            <v-btn tabindex="0" color="accent" @click="revokeTokenDialog(item.api_key_id)">Revoke</v-btn>
          </template>
        </v-data-table>

        <v-btn tabindex="0" color="primary" class="mb-4 ml-4" @click="addTokenDialog = true">Add Token</v-btn>
      </v-card>
    </v-container>

    <v-dialog v-model="apiTokenRevoke">
      <v-card>
        <v-card-title>Revoke token?</v-card-title>
        <v-card-text>
          Warning once a token is revoked it cannot be recovered! All applications using this token will need to be
          updated with a new one.
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="accent" @click="revokeToken()">Revoke</v-btn>
          <v-btn tabindex="0" @click="apiTokenRevoke = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addTokenDialog">
      <v-card>
        <v-card-title>Add access token
          <InfoAccessToken/>
        </v-card-title>
        <v-card-text>
          <p>An access token is like a password. Each campaign will need its own token to file reports from ORCA or a
            third-party vendor.</p>
          <v-text-field label="Please describe the token here"
                        hint="e.g. (Candidate or committee name) token for 2019 campaign"
                        v-model="tokenMemo"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="!tokenMemo" color="primary" @click="addToken()">Add Token</v-btn>
          <v-btn tabindex="0" @click="addTokenDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="apiTokenReturned">
      <v-card>
        <v-card-title>This token can only be accessed this once, so please make sure to document it before closing this
          window.
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="newToken"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="accent" @click="apiTokenReturned = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addUser">
      <v-form ref="authorizeUserForm" @submit.prevent="authorizeUser">
        <v-card>
          <v-card-title>
            <h3>{{ $t('message.label.add_user') }}</h3>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="requestEmail"
                  :rules="[validations.requireString]"
                  label="Email"
                  autofocus
                >
                </v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="reason"
                  :rules="[validations.requireString]"
                  label="Reason"
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn
              type="submit"
              color="primary"
            >
              Authorize
            </v-btn>
            <v-btn tabindex="0" @click="authorizeUserClose()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <v-dialog v-model="revokeUserConfirm">
      <v-card>
        <v-card-title>
          <h3>{{ $t("message.label.revoke_user") }}</h3>
        </v-card-title>
        <v-card-text>
          {{
          $t("message.label.revoke_user_confirm", {
            committee: registration.committee.name,
            user: selected_user.user_name
          })
          }}
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="revokeUser()" color="primary">{{ $t("message.label.revoke") }}</v-btn>
          <v-btn tabindex="0" @click="revokeUserClose()">
            <v-icon color="red" class="pr-2">cancel</v-icon>
            {{ $t("message.label.cancel") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="pdc_access_dialog_is_open">
      <v-form ref="pdcAccessForm" lazy-validation @submit.prevent="onSubmitPDCAccess()">
      <v-card>
        <v-card-title class="pb-6"><h3>PDC Access</h3></v-card-title>
        <v-card-text class="larger-text">
          To allow the PDC access to review data and offer assistance for detail that has not yet been submitted, enter a date in the field titled “Until” and then select “Grant”. Taking these steps will grant the PDC access to unsubmitted data until the date entered.
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-col cols="4">
              <date-picker label="Until" required :min-date="today()" :max-date="currentDatePlusTwoWeeks()" v-model="pdc_has_access_until"></date-picker>
            </v-col>
            <v-col cols=8>
            </v-col>
            <v-col cols="12">
              <v-btn
                class="ma-2"
                color="primary"
                type="submit"
              >
                Grant
              </v-btn>
              <v-btn
                v-if="pdc_has_access"
                @click="onRevokePDCAccess()"
                :disabled="! pdc_pdc_user_exists"
                class="ma-2"
                color="warning"
              >
                Revoke
              </v-btn>
              <v-btn
                @click="pdc_access_dialog_is_open = false"
                class="ma-2"
              >
                Cancel
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
  import { app } from "@/main"
  import { mapState } from 'vuex'
  import InfoAccessToken from '@/info/AccessToken'
  import formValidations from "../formValidations"
  import DatePicker from "@/components/DatePicker"
  import {orcaDataService} from "@/OrcaDataService";
  import filters from "@/filters";

  export default {
    components: {InfoAccessToken, DatePicker},
    data() {
      return {
        userHeaders: [
          {text: this.$i18n.t("message.label.user_name"), value: "user_name"},
          {text: 'Actions', value: 'actions', sortable: false}
        ],
        tokenHeaders: [
          {text: this.$i18n.t("message.label.memo"), value: "memo"},
          {text: this.$i18n.t("message.label.date_generated"), value: "date_generated"},
          {text: 'Actions', value: 'actions', sortable: false}
        ],
        token: [
          {
            memo: "",
            date_generated: "",
          }
        ],
        validations: {
          ...formValidations
        },
        addTokenDialog: false,
        addUser: false,
        apiTokenReturned: false,
        apiTokenRevoke: false,
        authorized_users: [],
        curTokenId: "",
        dataReturned: false,
        requestEmail: "",
        error_text: '',
        newToken: "",
        pdc_access_dialog_is_open: false,
        pdc_pdc_user: null,
        pdc_has_access_until: null,
        reason: '',
        resultLoading: false,
        revokeUserConfirm: false,
        selected_user: "",
        tokenMemo: "",
      }
    },
    computed: {
      ...mapState(['registration', 'user']),
      committeeId() {
        return this.registration.committee.committee_id;
      },
      canAdministerCF() {
        return this.user.rights.administer_wapdc_campaign_finance;
      },
      pdc_access_label() {
        return (this.pdc_has_access) ? 'Edit PDC Access' : 'Grant PDC Access'
      },
      pdc_has_access() {
        return this.pdc_pdc_user_exists && (!this.pdc_pdc_user.expiration_date || this.dateIsAfterToday(this.pdc_pdc_user.expiration_date))
      },
      pdc_pdc_user_exists() {
        return this.pdc_pdc_user !== null && this.pdc_pdc_user !== undefined
      },
    },
    mounted() {
      if (this.canAdministerCF) {
        this.getAuthorizedUsers();
      }
      if (this.committeeId) {
        this.getTokens();
      }
    },
    methods: {
      ...filters.filters,
      dateIsAfterToday(expiration) {
        if (!expiration) {
          return true
        }
        return (expiration >= this.today())
      },
      authorizeUser() {
        if (this.$refs.authorizeUserForm.validate()) {
          this.resultLoading = true
          const role = "owner"
          app.$container.dataService.authorizeUser(
            this.committeeId,
            this.requestEmail,
            role,
            this.reason,
            data => {
              this.getAuthorizedUsers()
              this.resultLoading = false
              this.reason = ''
              if (data === true) {
                this.closeEverything()
              }
              else {
                this.error_text = String(data)
                this.closeEverything()
                window.scrollTo({top: 0, behavior: 'smooth'})
              }
            }
          )
        }
      },
      revokeUser() {
        this.resultLoading = true;
        app.$container.dataService.revokeUserAccess(
          this.committeeId, this.selected_user,
          data => {
            this.getAuthorizedUsers();
            this.resultLoading = false;
            if (data === true) {
              this.closeEverything();
            } else {
              this.error_text = String(data)
            }
        });
      },
      closeEverything() {
        this.resultLoading = false;
        this.authorizeUserClose();
        this.revokeUserClose();
      },
      authorizeUserClose() {
        this.requestEmail = "";
        this.dataReturned = false;
        this.selected_user = "";
        this.addUser = false;
      },
      revokeUserClose() {
        this.selected_user = "";
        this.revokeUserConfirm = false;
      },
      revokeUserShowConfirm(user) {
        this.selected_user = user;
        this.revokeUserConfirm = true;
      },
      getTokens() {
        app.$container.dataService.getUserToken(this.$route.query.committee_id, data => {
          this.token = data;
        });
      },
      getAuthorizedUsers() {
        try {
          app.$container.dataService.getAuthorizedUsers(this.$route.query.committee_id, data => {
            this.pdc_pdc_user = data.find(user => user.user_name === 'pdc@pdc.wa.gov')
            this.authorized_users = data.filter(user => user.user_name !== 'pdc@pdc.wa.gov')
            this.pdc_has_access_until = this.pdc_pdc_user?.expiration_date
          })
        }
        catch (error) {
          this.error_text = 'Error: ' + error
        }
      },
      addToken() {
        app.$container.dataService.addApiToken(this.$route.query.committee_id, this.tokenMemo, data => {
          this.addTokenDialog = false;
          this.apiTokenReturned = true;
          this.newToken = data;
          this.getTokens();
        });
      },
      revokeTokenDialog(token_id) {
        this.curTokenId = token_id;
        this.apiTokenRevoke = true;
      },
      revokeToken() {
        app.$container.dataService.revokeApiToken(this.$route.query.committee_id, this.curTokenId, () => {
          this.apiTokenRevoke = false;
          this.getTokens();
        });
      },
      async onSubmitPDCAccess() {
        if(this.$refs.pdcAccessForm.validate()){
          const result = await orcaDataService.pdcAccessPost(
              this.committeeId, 'grant',
              {
                expiration_date: this.pdc_has_access_until
              })
          if(result.success) {
            this.getAuthorizedUsers()
          }else{
            alert(result.message)
          }
        }
        this.pdc_access_dialog_is_open = false

      },
      async onRevokePDCAccess() {
        const result = await orcaDataService.pdcAccessPost(
            this.committeeId, 'revoke')
        if(result.success) {
          this.getAuthorizedUsers()
        }
        else {
          alert("Unable to revoke access.");
        }

        this.pdc_access_dialog_is_open = false
      },
    }
  }
</script>
<style>
 .larger-text {
   font-size: 1.2em;
 }
</style>
