<template>
  <div>
    <span v-show="hasError()"></span>
    <v-autocomplete ref="officeSelect" :items="offices" :rules="[rules.required]" item-text="offtitle"
                    item-value="offcode"
                    v-model="item.offcode" @change="onOfficeChange()" label="Office"/>
    <v-autocomplete ref="jurisdictionSelect" :disabled="!item.offcode" :rules="[rules.required]"
                    :items="jurisdictions" item-text="name" item-value="jurisdiction_id"
                    v-model="item.jurisdiction_id" @change="onJurisdictionChange()" label="Jurisdiction"/>
    <v-autocomplete ref="positionSelect" v-show="item.multiPosition" :disabled="!item.jurisdiction_id"
                    :items="positions" item-text="title" item-value="position_id"
                    v-model="item.position_id" @change="onPositionChange()" label="Position"/>
  </div>
</template>

<script>
import {app} from "@/main";
import {mapState} from "vuex";

export default {
  name: "OfficeSelect",
  props: {
    item: Object,
  },
  data() {
    return {
      fieldError: false,
      jurisdictions: [],
      offices: [],
      positions: [],
      rules: {
        required: v => !!v || 'Required',
      },

    }
  },
  created() {
    app.$container.dataService.query('office_types', data => {
      this.offices = data;
      this.$refs.officeSelect.blur();
    });
    if (this.item.offcode) {
      this.jurisdictionLoad();
    }
  },
  computed: {
    ...mapState(['wizardMessages']),
  },
  methods: {
    hasError() {
      let errorMessage = "";
      if (!this.item.offcode)
        errorMessage += "office name, ";
      if (!this.item.jurisdiction_id)
        errorMessage += "location, ";
      if (errorMessage.length > 2)
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      if (!this.item.offcode && !this.item.jurisdiction_id)
        errorMessage = '';
      this.wizardMessages.error = errorMessage;
    },
    onOfficeChange() {
      this.item.jurisdiction_id = "";
      this.item.jurisdiction = "";
      this.item.position_id = "";
      this.item.position = "";
      if (this.selectedJurisdiction) {
          this.selectedJurisdiction.name = "";
          this.selectedJurisdiction.jurisdiction_id = "";
      }
      let selOffice = this.offices.find(o => o.offcode === this.item.offcode);
      this.item.office = selOffice.offtitle;
      this.jurisdictionLoad();
    },
    onJurisdictionChange() {
      this.item.position_id = "";
      this.item.position = "";
      let selectedJurisdiction = this.jurisdictions.find(j => j.jurisdiction_id === this.item.jurisdiction_id);
      this.item.partisan = selectedJurisdiction.partisan;
      this.item.jurisdiction = selectedJurisdiction.name;
      this.item.jurisdiction_id = selectedJurisdiction.jurisdiction_id;
      this.positionLoad();
    },
    onPositionChange() {
      let selPosition = this.positions.find(o => o.position_id === this.item.position_id);
      this.item.position = selPosition.title;
    },
    jurisdictionLoad() {
      app.$container.dataService.query('jurisdiction_names', data => {
        if (data.length === 1) {
          this.item.jurisdiction = data[0].name;
          this.item.jurisdiction_id = data[0].jurisdiction_id;
          this.item.partisan = data[0].partisan;
        }
        this.item.multiLocation = !(data.length <= 1);
        this.jurisdictions = data;
      }, {office_code: this.item.offcode});
      this.positionLoad();
    },
    positionLoad() {
      app.$container.dataService.query('position_number', data => {
        this.item.multiPosition = data.length > 1;
        if (data.length === 1) {
          this.item.position_id = data.position_id;
          this.item.position = data.position;
        }
        this.positions = data;
        if (data.length > 1) {
          this.positions.unshift({title: 'TBD', position_id: null});
        }
      }, {jurisdiction_id: this.item.jurisdiction_id, office_code: this.item.offcode});
    },
  }
}
</script>

<style scoped>

</style>