<template>
  <v-card v-if="dataLoaded">
    <v-card-title><h3>Registration attachments</h3></v-card-title>
    <v-card-actions>
      <!-- ---------------------- add attachment dialog ------------------------- -->
      <v-dialog v-model="attachment_dialog" v-if="canAdministerCF" persistent>
        <template v-slot:activator="{ on }">
          <v-btn tabindex="0" v-on="on" color="primary">Add registration attachment</v-btn>
        </template>
        <v-card>
          <v-card-title primary-title>Add attachment</v-card-title>
          <v-card-text>
            <v-file-input clearable label="Choose file..." v-model="attachmentInput"
                          @change="selectFile"></v-file-input>
            <v-text-field label="Description" v-model="attachment.description">Description</v-text-field>
            <v-select
              item-text="label"
              item-value="value"
              label="Document Type"
              :items="documentTypes"
              v-model="attachment.document_type">
            </v-select>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn tabindex="0" :loading="fileUploading" :disabled="!attachment.file" color="primary" @click="getUploadRequest">
              Upload
              <v-icon right dark>cloud_upload</v-icon>
            </v-btn>
            <v-btn tabindex="0" @click="resetUploadDialog">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-actions>
    <v-card-text>
      <v-data-table
        v-show="dataLoaded"
        :items="registration.attachments"
        :headers="[
          { text: 'Name', value: 'file_name' },
          { text: 'Description', value: 'description' },
          { text: 'Document Type', value: 'document_type' },
          { text: 'Actions', value: 'actions' } ]">
        <template v-slot:item.file_name="{item}">
          <a target="_blank" :href="item.file_service_url">{{ item.file_name }}</a>
        </template>
        <template v-slot:item.document_type="{item}">
          {{ documentTypeLabel(item.document_type) }}
        </template>
        <template v-slot:item.actions="{item}">
          <v-btn tabindex="0" icon @click="selected_attachment = item; attachment_edit_dialog = true;" v-if="canAdministerCF">
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn tabindex="0" icon @click="selected_attachment = item; attachment_delete_dialog = true;" v-if="canAdministerCF">
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card-text>

    <!-- ---------------------- edit attachment dialog ------------------------- -->
    <v-dialog v-model="attachment_edit_dialog" persistent>
      <v-card>
        <v-card-title primary-title>Edit attachment</v-card-title>
        <v-card-text>
          <v-text-field label="Description" v-model="selected_attachment.description">Description</v-text-field>
          <v-select
            item-text="label"
            item-value="value"
            label="Document Type"
            :items="documentTypes"
            v-model="attachment.document_type">
          </v-select>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn tabindex="0" :loading="fileEditing" color="primary" @click="editAttachment">Save</v-btn>
          <v-btn tabindex="0" @click="resetEditDialog">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- ---------------------- delete confirm attachment dialog ------------------------- -->
    <v-dialog v-model="attachment_delete_dialog" persistent>
      <v-card>
        <v-card-title primary-title>Delete attachment</v-card-title>
        <v-card-text>
          Are you sure you wan to delete the attachment <strong>{{ selected_attachment.file_name }}</strong>?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn tabindex="0" :loading="fileDeleting" color="primary" @click="deleteAttachment">Delete</v-btn>
          <v-btn tabindex="0" @click="resetDeleteDialog">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import {app} from '../main.js';

export default {
  name: "RegistrationAttachments",

  data() {
    return {
      fileUploading: false,
      fileEditing: false,
      fileDeleting: false,
      attachment_dialog: false,
      selected_attachment: '',
      attachment_edit_dialog: false,
      attachment_delete_dialog: false,
      attachment: {
        file_service_url: '',
        file: '',
        description: '',
        document_type: ''
      },
      attachmentInput: null,
      documentTypes: []
    }
  },

  mounted() {
    app.$container.dataService.adminQuery('lookup-document-by-category', data => {
      this.documentTypes = data;
    }, {category: 'registration'});
  },

  computed: {
    ...mapState(['registration', 'dataLoaded', 'attachments', 'user']),
    canAdministerCF() {
      return this.user.rights.administer_wapdc_campaign_finance;
    }
  },

  methods: {
    ...mapActions(['setDataLoaded', 'getRegistration']),
    selectFile(e) {
      this.attachment.file = e;
    },

    editAttachment() {
      app.$container.dataService.post('service/admin-process/edit-attachment',
          () => {
            this.getRegistration(this.registration.registration_id);
            this.resetEditDialog();
          },
          this.selected_attachment);
    },

    deleteAttachment() {
      app.$container.dataService.post('service/admin-process/delete-attachment',
          () => {
            this.getRegistration(this.registration.registration_id);
            this.resetDeleteDialog();
          },
          this.selected_attachment);
    },

    getUploadRequest() {
      this.fileUploading = true;
      app.$container.dataService.post('service/admin-process/upload-request',
          this.startFileUpload,
          {
            registration_id: this.registration.registration_id,
            file_name: this.attachment.file.name,
            description: this.attachment.description,
            content_type: this.attachment.file.type,
            document_type: this.attachment.document_type
          })
    },

    startFileUpload(result) {
      let upload_request_data = result.data;
      let policy = upload_request_data.formElements.formInputs;
      let url = upload_request_data.formElements.formAttributes.action;
      let file = this.attachment.file;
      var formData = new FormData();
      formData.append('key', policy.key);
      formData.append('acl', policy.acl);
      formData.append('x-amz-credential', policy['X-Amz-Credential']);
      formData.append('x-amz-algorithm', policy['X-Amz-Algorithm']);
      formData.append('x-amz-date', policy['X-Amz-Date']);
      formData.append('policy', policy.Policy);
      formData.append('x-amz-signature', policy['X-Amz-Signature']);
      formData.append('content-type', policy['content-type']);
      formData.append('file', file);
      this.attachment.file_service_url = upload_request_data.url;
      app.$container.dataService.fileUpload(url, this.createRegistrationAttachment, formData, () => {
        this.resetUploadDialog();
      });
    },

    createRegistrationAttachment() {
      app.$container.dataService.post('service/admin-process/add-attachment', result => {
        if (!result.success) {
          result.errors.forEach(error => {
            alert(error);
          });
        }
        this.resetUploadDialog();
        this.getRegistration(this.registration.registration_id);
      }, {
        registration_id: this.registration.registration_id,
        file_name: this.attachment.file.name,
        description: this.attachment.description,
        content_type: this.attachment.file.type,
        file_service_url: this.attachment.file_service_url,
        document_type: this.attachment.document_type
      })
    },

    resetUploadDialog() {
      this.fileUploading = false;
      this.attachment_dialog = false;
      this.attachment.description = '';
      this.attachment.file = '';
      this.attachment.document_type = '';
      this.attachment.file_service_url = '';
      this.attachmentInput = null;
    },

    resetEditDialog() {
      this.attachment_edit_dialog = false;
      this.selected_attachment = '';
    },

    resetDeleteDialog() {
      this.attachment_delete_dialog = false;
      this.selected_attachment = '';
    },

    documentTypeLabel(value) {
      let label = "";
      this.documentTypes.forEach(item => {
        if (item.value === value) {
          label = item.label;
        }
      });
      return label;
    }
  }
}
</script>

<style scoped>
.v-card {
  margin-top: 2em;
}

.v-card .v-card__title {
  background-color: lightgray;
  color: black;
  font-size: large;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

@media print {
  .v-card__actions {
    display: none !important;
  }

  .v-data-footer {
    display: none !important;
  }

}

</style>
