<template>
  <div>
    <v-card>
      <v-card-title><h2>Registrations</h2></v-card-title>
      <v-card-text>
        <v-data-table :items="registrations" :headers="permissionBasedRegistrationHeaders">
          <template v-slot:item.name="{item}">
            <router-link :to="{path: '/registration', query: {registration_id : item.registration_id}}">
              {{ item.name | titleCase }}
            </router-link>
          </template>
          <template v-slot:item.verified="{item}">
            {{ item.verified | yesNo }}
          </template>
          <template v-slot:item.submitted_at="{item}">
            {{ item.submitted_at | formatDateTime }}
          </template>
          <template v-if="canAdministerCF" v-slot:item.memo="{item}">
            {{ item.memo }}
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import {app} from "@/main";
import {mapState} from 'vuex';

export default {
  data() {
    return {
      registrationHeaders: [],
      registrations: [],
    }
  },
  computed: {
    ...mapState(['user']),
    canAdministerCF() {
      return this.user.rights.administer_wapdc_campaign_finance;
    },
    permissionBasedRegistrationHeaders() {
      this.registrationHeaders = [
        {text: "Name", value: "name"},
        {text: "Verified", value: "verified"},
        {text: "Submitted", value: "submitted_at"},
      ];
      if (this.canAdministerCF) {
        this.registrationHeaders.push({text: "Memo", value: "memo"});
        return this.registrationHeaders;
      } else {
        return this.registrationHeaders;
      }
    }
  },
  mounted() {
    this.setDataLoaded = false;
    if (this.$route.query.registration_id) {
      app.$container.dataService.adminQuery('registrations_by_rid', data => {
        this.registrations = data;
      }, {registration_id: this.$route.query.registration_id});
    } else if (this.$route.query.committee_id) {
      app.$container.dataService.adminQuery('registrations_by_cid', data => {
        this.registrations = data;
      }, {committee_id: this.$route.query.committee_id});

    }

    app.$container.wire.$on('registration_list', rid => {
      app.$container.dataService.adminQuery('registrations_by_rid', data => {
        this.registrations = data;
      }, {registration_id: rid});
    });
    app.$container.wire.$on('committee_registration_list', cid => {
      app.$container.dataService.adminQuery('registrations_by_cid', data => {
        this.registrations = data;
      }, {committee_id: cid});
    });
  },
}
</script>

<style lang="scss" scoped>
.md-card {
  margin-top: 2em;
  border: 1px solid darkgray;
}

.md-card .md-card-header {
  background-color: lightgray;
  color: black;
  font-size: large;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}
</style>
