<template>
  <div>
    <v-btn tabindex="0" @click="admin_report_dialog = true">Manage Attachments</v-btn>
    <v-dialog v-model="admin_report_dialog" persistent>
      <v-card>
        <v-card-title class="mt-4">Report: {{ report_number }}</v-card-title>
        <v-card-text>
          <AttachFile category="report" title="Report" target_type="report" :target_id="parseInt(report_number)"/>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="closeModal">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>

</template>

<script>
import AttachFile from "@/components/AttachFile";

export default {
  props: {
    report_number: null
  },
  name: "ReportAttachment",
  components: {
    AttachFile
  },
  data() {
    return {
      admin_report_dialog: false,
      attachmentsLoaded: false,
      report: {}
    }
  },
  methods: {
    closeModal() {
      this.admin_report_dialog = false;
      this.$emit('report-attachments-updated');
    }
  }

}
</script>

<style scoped>

</style>