<template>
  <v-autocomplete
      v-model="selectedJurisdiction"
      :items="filteredJurisdictions"
      :loading="isLoading"
      :search-input.sync="search"
      hide-no-data
      hide-selected
      item-text="name"
      item-value="Jurisdictions"
      label="Jurisdiction search"
      clearable
      :disabled="selected_office_id === '-1'"
      placeholder="Start typing to Search"
      prepend-icon="search"
      :rules="[validations.required]"
      return-object
      @change="() => $emit('jurisdiction-selected', selectedJurisdiction)"
  ></v-autocomplete>
</template>

<script>
import {dataService} from "@/DataService";

export default {
  name: "SelectJurisdiction",
  props: {
    required: {
      type: Boolean,
      default: false
    },
    selected_office_id: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      selectedJurisdiction: null,
      isLoading: false,
      search: null,
      jurisdictions: [],
      validations: {
        required: v => !!v || !this.required || 'Must select a jurisdiction.'
      }
    }
  },
  computed: {
    filteredJurisdictions() {
      return !this.selected_office_id ? this.jurisdictions : this.jurisdictions.filter(this.supportsOffice(this.selected_office_id));
    }
  },
  created() {
    dataService.query('jurisdiction_all', data => {
      this.jurisdictions = data
          .map((entry) => {
            let offices = JSON.parse(entry.offices);
            return Object.assign({}, entry, {offices})
          })
    });
  },
  watch: {
    selected_office_id() {
      if (this.filteredJurisdictions.length === 1) {
        this.selectedJurisdiction = this.filteredJurisdictions[0];
        this.$emit('jurisdiction-selected', this.selectedJurisdiction);
      }
    }
  },
  methods: {
    supportsOffice(selected_office_id) {
      return function (element) {
        return element.offices.find(o => o.offcode === selected_office_id);
      }
    }
  }
}
</script>