<template>
  <v-autocomplete
      v-model="model"
      :items="items"
      :loading="isLoading"
      :search-input.sync="search"
      hide-no-data
      hide-selected
      :filter="filter"
      item-text="Description"
      label="Candidacy search"
      placeholder="Start typing to Search"
      prepend-icon="search"
      return-object
      clearable
      v-bind="$attrs"
      :rules="[validations.required]"
      @change="() => $emit('candidacy-selected', { candidacy: model, search: search})"
  ></v-autocomplete>
</template>

<script>
import {dataService} from "@/DataService";

export default {
  name: "SelectCandidacy",
  props: {
    year: {
      type: String,
      required: true
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      descriptionLimit: 60,
      model: null,
      isLoading: false,
      search: null,
      entries: [],
      validations: {
        required: v => !!v || !this.required || 'Must specify a candidate.'
      }
    }
  },
  computed: {
    items() {
      return this.entries?.map((entry) => {
        let Description;
        if (entry?.candidacy_id !== -1) {
          const {ballot_name, jurisdiction_name, office_title} = entry;
          Description = `${ballot_name} (${office_title}, ${jurisdiction_name})`;
        } else {
          Description = "I can't find the candidacy I'm looking for."
        }
        return Object.assign({}, entry, {Description})
      })
    },
  },
  watch: {
    search(val) {
      // Items have already been loaded
      if (this.items.length > 0 && val?.length > 4) return
      // Don't search if there is no input
      if (!val || val.length === 0) return
      // Items have already been requested
      if (this.isLoading) return

      this.isLoading = true

      // Lazily load input items
      dataService.getCandidacies(this.year, this.search)
          .then(candidacies => {
            this.count = candidacies?.length;
            this.entries = this.count === 1
                ? [{candidacy_id: -1}, ...candidacies]
                : [{candidacy_id: -1}, {divider: true, disabled: true}, ...candidacies];
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => {
            this.isLoading = false
          })
    },
  },
  methods: {
    filter(item, queryText, itemText) {
      const nonCandidacyOption = item?.candidacy_id === -1 || this.count > 1 && item.divider;
      return nonCandidacyOption || itemText.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1;
    }
  }
}
</script>

<style scoped>

</style>