<template>
  <v-autocomplete
      v-model="selectedOffice"
      :items="offices"
      :loading="isLoading"
      :search-input.sync="search"
      hide-selected
      item-text="offtitle"
      item-value="Offices"
      label="Office search"
      clearable
      placeholder="Start typing to Search"
      prepend-icon="search"
      :rules="[validations.required]"
      return-object
      @change="() => $emit('office-selected', selectedOffice)"
  ></v-autocomplete>
</template>

<script>
import {dataService} from "@/DataService";

export default {
  name: "SelectOffice",
  props: {
    required: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      offices: [],
      selectedOffice: null,
      search: null,
      isLoading: false,
      validations: {
        required: v => !!v || !this.required || 'Must select an office.'
      }
    }
  },
  created() {
    dataService.query('office_types', data => {
      this.offices = data;
    })
  }
}
</script>