<template>
  <div>
    <h1 v-if="fund.fund_id" :class="printClass">{{ election }} - {{ fund.name }}</h1>
    <h1 v-else>{{ title }}</h1>
    <v-spacer/>

  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import {ref} from 'vue';

export default {
  name: "Campaign",
  components: {},
  props: {
    print: {
      type: Boolean,
      default: false,
    }
  },
  setup() {
    const title = ref("");

    const {fund, orcaFund} = useOrcaFund();
    return {title, fund, orcaFund};
  },
  computed: {
    election() {
      let election_code = !this.fund.continuing ? this.fund.committee_election_code : this.fund.election_code;
      return election_code.length > 4 ? this.fund.election : this.fund.election_code
    },
    printClass() {
      return this.print ? "text-h4" : "d-print-none"
    }

  },
  watch: {
    $route() {
      if (this.$route.params && this.$route.params.fund_id) {
        if (this.$route.params.fund_id.toString() !== this.fund.fund_id.toString()) {
          this.orcaFund.loadFund(this.$route.params.fund_id)
        }
      }
    }
  },
  created() {
    if (this.$route.params && this.$route.params.fund_id) {
      if (this.$route.params.fund_id.toString() !== this.fund.fund_id.toString()) {
        this.orcaFund.loadFund(this.$route.params.fund_id)
      }
    }
    if (window.orcaJava && window.orcaJava.title) {
      this.title = window.orcaJava.title;
    }
  },
}
</script>

<style scoped>

</style>