<template>
  <div>

    <v-dialog v-model="showCommitteesDetailsDialog">
      <v-card>
        <v-card-title><h3>Setup for {{ committee.name }} {{ committee.title }}</h3></v-card-title>
        <v-card-text>
          <v-form class="outer">
            <div v-if="this.continuing  && this.pacType !== 'surplus'">
              <p><strong>Select the reporting year for this continuing committee.</strong>
                <InfoReportingYear/>
              </p>
              <v-autocomplete clearable :items="yearRange" item-text="year" item-value="year"
                              v-model="selectedStartYear"></v-autocomplete>
              <div v-if="orcaVersion >= 1.440 && this.pacType !== 'surplus'">
                <p><strong>Select all the elections the committee intends to participate in this year.</strong>
                  <InfoElectionParticipation/>
                </p>
                <v-select multiple v-model="selectedElections" :items="filteredElections" item-text="title"
                          item-value="election_code"></v-select>
              </div>
            </div>
            <div v-if="!this.continuing || this.pacType === 'surplus' || (committee.start_year === selectedStartYear)">
              <h4>Enter the campaign start date:</h4>
              <div>The date should be the same or prior to the first contribution or expenditure received or made by the
                campaign.
                <InfoCampaignStartDate pac-type="committee.pac_type"/>
              </div>
              <DatePicker label="Campaign start date" @change="onStartDateChange()"
                          v-model="campaignStartDate">
              </DatePicker>
            </div>
            <div v-if="orcaVersion >= 1.440">
              <p><strong>Enter any carry forward balance from a previous campaign or calendar year.</strong>
                <InfoCarryForwardBalance/>
              </p>
              <v-text-field v-model="carryForwardAmount" prefix="$" type="number"
                            :rules="carryForwardRules"></v-text-field>
            </div>
            <div v-if="this.pacType==='surplus'">
              <div>Surplus Committee</div>
              <div>Started: {{ committee.start_year }}</div>
            </div>
            <!--
            <div>
              <v-card class="my-3" elevation="2"  color="secondary" dense >
                <v-card-text>
                  <strong><em>Next: Review the committee settings and get started!</em></strong>
                </v-card-text>
              </v-card>
            </div>
            -->
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="setupNewCampaign()"
                 :disabled="!committeeDetailsButton" color="primary">
            Setup
          </v-btn>
          <v-btn tabindex="0" @click="showCommitteesDetailsDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showCommitteesDialog">
      <v-card>
        <v-card-title><h3>Select a committee</h3></v-card-title>
        <v-card-text>To begin setting up your campaign, please select from this list of valid committees you have
          registered.
          <v-radio-group v-if="committeesList.length > 0" v-model="selectedCommitteeId">
            <v-radio v-for="committee in committeesList" :key="committee.committee_id"
                     :value="committee.committee_id">
              <template v-slot:label>
                {{ committee.name }}&nbsp;<span v-if="committee.title && !continuing"> ({{ committee.title }})</span>
              </template>
            </v-radio>
          </v-radio-group>
          <p v-else>No existing committees found.</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="doShowCommitteeDetailsDialog()" :disabled="!this.selectedCommitteeId" color="primary">
            Next
          </v-btn>
          <v-btn tabindex="0" @click="showCommitteesDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="campaignExistsDialog" persistent>
      <v-card>
        <v-card-title>Campaign already exists</v-card-title>
        <v-card-text>
          <v-alert v-if="!this.fundGuid" color="warning">
            <v-icon>error</v-icon>
            Campaign already exists. Are you sure you want to do this? If you choose to proceed, a new campaign will be
            created.
          </v-alert>
          <v-alert v-else color="warning">An ORCA file already exists for this campaign. You should be restoring that
            campaign rather than creating a new campaign. If you believe this to be in error please contact PDC Support.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" :disabled="!!fundGuid" @click="submitNewCampaign()">OK</v-btn>
          <v-btn tabindex="0" @click="campaignExistsDialog = false">Cancel</v-btn>
          <v-btn tabindex="0" v-if="user.rights.administer_wapdc_campaign_finance && fundGuid" @click="restoreCampaign">Restore
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {orcaDataService} from "@/OrcaDataService";
import ORCA from "@/ORCABridge";
import DatePicker from "@/components/DatePicker";
import InfoCampaignStartDate from "@/info/CampaignStartDate";
import InfoCarryForwardBalance from "../info/CarryForwardBalance";
import InfoElectionParticipation from "../info/ElectionParticipation";
import InfoReportingYear from "../info/ReportingYear";
import {app} from "@/main";
import {mapState} from "vuex";

export default {
  name: "CampaignSetup",
  components: {
    DatePicker,
    InfoCampaignStartDate,
    InfoCarryForwardBalance,
    InfoElectionParticipation,
    InfoReportingYear
  },
  data() {
    return {
      showCommitteesDialog: false,
      showCommitteesDetailsDialog: false,
      campaignExistsDialog: false,
      yearRange: [],
      committeesList: [],
      selectedCommitteeId: null,
      selectedStartYear: null,
      continuing: false,
      campaignStartDate: null,
      committeeId: null,
      pacType: '',
      committee: {},
      fundId: [],
      fundGuid: null,
      carryForwardAmount: null,
      elections: [],
      selectedElections: [],
      carryForwardRules: [
        v => !/\.\d{3,}/.test(v) || 'Fractional cents are not allowed.'
      ]
    }
  },
  computed: {
    ...mapState(['user']),
    committeeDetailsButton() {
      switch (true) {
        case (this.campaignStartDate != null):
        case (this.selectedStartYear != null):
          return true;
        default:
          return false;
      }
    },
    filteredElections() {
      if (!this.selectedStartYear)
        return [];
      if (this.committee.pac_type === 'candidate') {
        return this.elections.filter(e => parseInt(e.election_code.substring(0, 4)) === this.selectedStartYear && !e.is_special);
      }
      return this.elections.filter(e => parseInt(e.election_code.substring(0, 4)) === this.selectedStartYear);
    },
    branchDisplay() {
      return this.branches[this.branch].display;
    },
    orcaVersion() {
      return ORCA.version;
    }
  },
  created() {
    app.$container.dataService.query('elections', result => {
      this.elections = result;
    });
    ORCA.$on('CampaignSetup', this.showCommitteesListDialog);
  },
  beforeDestroy() {
    ORCA.$off("CampaignSetup", this.showCommitteesListDialog);
  },
  methods: {
    showCommitteesListDialog() {
      this.resetAllData();
      this.selectedCommitteeId = null;
      this.showCommitteesDialog = true;
      orcaDataService.getGeneralData('setup-committees-list').then(data => {
        if (data.committees) this.committeesList = data.committees;
      });
    },
    onStartDateChange(startDate) {
      this.campaignStartDate = startDate;
    },
    doShowCommitteeDetailsDialog() {
      this.committee = this.committeesList.find(({committee_id}) => {
        return parseInt(committee_id) === this.selectedCommitteeId;
      });
      this.continuing = this.committee.continuing && this.committee.continuing.toString() === 'true';
      this.pacType = this.committee.pac_type;
      if (this.continuing && this.pacType !== 'surplus') {
        let current_year = new Date().getFullYear();
        let end_year = null;
        if (!this.committee.end_year || this.committee.end_year > current_year) {
          end_year = current_year
        } else {
          end_year = this.committee.end_year;
        }
        this.yearRange = this.getCommitteeYears(this.committee.start_year, end_year);
        this.selectedStartYear = current_year;
        this.campaignStartDate = null;
        this.selectedElections = [];
      } else if (this.continuing) {
        this.yearRange = [];
        this.selectedStartYear = this.committee.start_year;
        this.selectedElections = [];
      } else {
        this.yearRange = [];
        this.selectedElections = [this.committee.election_code];
        this.selectedStartYear = this.committee.start_year;
        this.campaignStartDate = this.committee.campaign_start_date;
      }
      this.committeeId = this.selectedCommitteeId;
      this.showCommitteesDialog = false;
      this.showCommitteesDetailsDialog = true;
    },
    getCommitteeYears(start_year, end_year) {
      const range = (start, stop, step) => Array.from({length: (stop - start) / step + 1}, (_, i) => start + (i * step));
      return range(end_year, start_year, -1);
    },
    register() {
      window.orcaJava.setTitle = (title) => {
        this.title = title;
      }
      this.title = window.orcaJava.title;
    },
    restoreCampaign() {
      orcaDataService.getFundData(this.fundId, 'orca-campaign-restore').then(
          (data) => {
            ORCA.restoreCampaignFromRDS(data);
            this.campaignExistsDialog = false;
          });
    },
    setupNewCampaign() {
      this.spinner = true;
      orcaDataService.getGeneralData('setup-check-existing-fund', {
        committee_id: this.committee.committee_id,
        election_code: this.selectedStartYear
      }).then(data => {
        if (data.fund && data.fund.fund_id > 0) {
          this.fundId = data.fund.fund_id;
          this.fundGuid = data.fund.guid;
          this.campaignExistsDialog = true;
        } else {
          this.submitNewCampaign();
        }
      });
    },
    submitNewCampaign() {
      this.campaignExistsDialog = false;
      let object = "committee/" + this.selectedCommitteeId + "/fund";
      let fundData = {
        campaign_start_date: this.campaignStartDate,
        election_year: this.selectedStartYear,
        carry_forward_cash: this.carryForwardAmount,
      };
      if (ORCA.version >= 1.440) {
        fundData.election_codes = this.selectedElections;
      }
      orcaDataService.post(object, fundData).then((result) => {
        if (result.data.success) {
          ORCA.createCampaign(result.data);
          this.resetAllData();
        } else {
          alert(result.data.error);
        }
      }).catch(r => {
        orcaDataService.handleError(r);
      });

    },
    resetAllData() {
      this.spinner = false;
      this.showCommitteesDialog = false;
      this.showCommitteesDetailsDialog = false;
      this.campaignExistsDialog = false;
      this.yearRange = [];
      this.committeesList = [];
      this.selectedCommitteeId = null;
      this.selectedStartYear = null;
      this.fundId = [];
      this.continuing = false;
      this.campaignStartDate = null;
      this.pacType = '';
      this.committee = {};
      this.fundGuid = null;
      this.selectedElections = [];
      this.carryForwardAmount = null;
    }
  }
}
</script>

<style scoped>

</style>