<template>
  <div>
    <Campaign/>
    <div>
      <v-toolbar class="my-3" elevation="2" color="secondary" dense>
        <v-btn tabindex="0" small color="primary" @click="navigateTo('campaign-info')">
          <v-icon>info</v-icon>
          Campaign Info
        </v-btn>
        <make-deposit-button/>
        <v-btn tabindex="0" v-if="orcaEmbedded && orcaVersion < 1.440" small color="primary"
               @click="executeMenuItem({value: 'submitReport'})" :disabled="!orcaEmbedded">Submit Report
        </v-btn>
        <v-btn tabindex="0" v-else-if="orcaVersion < 1.470" small color="primary" @click="navigateTo('c3-reports')">Submit Report
        </v-btn>
        <v-btn tabindex="0" small @click="executeMenuItem({value: 'backupCampaign'})" v-if="orcaEmbedded">Backup</v-btn>
        <accessible-button  v-if="switchYearButton && !orcaEmbedded" :to="{name: 'committee.finance-years', params: {committee_id: fund.committee_id}}"  button-tooltip="Switch year" small>
          <v-icon >calendar_month</v-icon>
        </accessible-button>
        <accessible-button
            v-if="this.fund.version >= 1.500"
            button-tooltip="Change Campaign"
            small
            :to="{name: 'MyOrcaFunds'}"
        >
          <v-icon>folder_open</v-icon>
        </accessible-button>
        <accessible-button
            small
            button-tooltip="Exit campaign"
            @click="closeCampaign"
        >
          <v-icon>exit_to_app</v-icon>
          Exit
        </accessible-button>
      </v-toolbar>
      <v-alert color="warning" v-if="inconsistentElectionParticipation">
        <v-icon>error</v-icon>
        Your C4 reporting periods do not appear to match the PDC's records for your participation in the primary/general elections.
        <v-btn tabindex="0" @click="showElectionUpdateDialog = true" small color="primary">Fix It</v-btn>
      </v-alert>
      <v-alert color="warning" v-if="readOnlyAlert">
        <v-icon>error</v-icon>
        ORCA campaign finance accounting is in a read only mode. To modify data, you must access this from the ORCA
        application.
      </v-alert>
      <v-alert color="warning" v-if="updateAlert">
        <v-icon>error</v-icon>
        ORCA has been updated and has been migrated to fully online. Please visit the PDC website to manage your
        campaigns.
        <v-btn tabindex="0" @click="openApollo" small color="primary">ORCA Online</v-btn>
      </v-alert>
      <div v-else class="wrapper">
        <v-card class="orca-menu" v-if="orcaVersion >= 1.470">
          <v-card-title>File reports</v-card-title>
          <v-list>
            <v-list-item-group>
              <v-list-item dense class="orca-menu-item" @click="navigateTo('c3-reports')">
                <v-list-item-icon>
                  <v-icon class="material-icons-outlined">description</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <div>
                    C3 - Cash receipts and monetary contributions
                    <span v-if="depositReportsToFile > 0">({{ depositReportsToFile }})</span>
                  </div>
                </v-list-item-content>
              </v-list-item>
              <v-list-item dense class="orca-menu-item" @click="navigateTo('c4-reports')">
                <v-list-item-icon>
                  <v-icon class="material-icons-outlined">description</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <div>C4 - Summary, receipts and expenditures <span
                      v-if="summaryReportsToFile > 0">({{ summaryReportsToFile }})</span></div>
                </v-list-item-content>
              </v-list-item>
              <v-list-item v-if="lmcAccess"
                  dense class="orca-menu-item" @click="openLMC()">
                <v-list-item-icon>
                  <v-icon class="material-icons-outlined">description</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <div>LMC - Last Minute Contributions</div>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
        <div v-for="group in filteredMenuGroups(menuItems)" :key="`tile_${group.title}`">

          <v-card class="orca-menu">
            <v-card-title>{{ group.title }}</v-card-title>
            <v-list>
              <v-list-item-group>

                <v-list-item dense v-for="item in filteredItems(group)" class="orca-menu-item"
                             @click="executeMenuItem(item)"
                             :key="`menu-item-${item.value}`"
                             :disabled="(!item.always && !(orcaEmbedded || orcaVersion >= 1.500))||(item.candidateOnly && !fund.isCandidate)
                             ||(item.pacOnly && !fund.isPac)"
                >
                  <v-list-item-icon>
                    <v-icon>{{ getIcon(item) }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>{{ item.text }}</v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </div>
      </div>
    </div>

  <v-dialog v-model="showElectionUpdateDialog" max-width="55em">
    <v-card>
      <v-card-title>
        Fix Election Participation
      </v-card-title>
      <v-card-text>
        <p>
          We are going to adjust your reporting period in accordance with your participation in the primary and the general elections.
          If this participation is not correct, please press cancel and contact PDC.
        </p>
        <br>
        Participation in General: {{ this.fund.in_general }}
        <br>
        Participation in Primary: {{ this.fund.in_primary }}
      </v-card-text>
      <v-card-actions>
        <v-btn tabindex="0" color="primary" @click="updateElectionParticipation">Confirm</v-btn>
        <v-btn tabindex="0" @click="showElectionUpdateDialog = false">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import Campaign from "@/orca/Campaign";
import {useOrcaFund} from "@/orca/fund/Fund";
import {computed, ref} from "vue";
import MakeDepositButton from "./deposits/MakeDepositButton";
import {orcaDataService} from "@/OrcaDataService";
import AccessibleButton from "@/components/AccessibleButton";
import {mapState} from "vuex";

export default {
  name: "CampaignDashboard",
  components: {AccessibleButton, MakeDepositButton, Campaign},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const orcaEmbedded = computed(() => ORCA.orcaEmbedded);
    const orcaVersion = computed(() => ORCA.version);
    const menuItems = ref([
      {
        title: "Contributions",
        items: [
          {
            text: "Monetary contribution",
            value: "openMonetaryContributions",
            limitTo: () => !(orcaVersion.value >= 1.460)
          },
          {
            text: "Monetary contribution",
            value: "add-monetary-contribution",
            limitTo: () => orcaVersion.value >= 1.460,
            online: true
          },
          {
            text: "Monetary group contribution",
            value: "openGroupContributions",
            limitTo: () => orcaVersion.value < 1.500,
            pacOnly: true
          },
          {
            text: "Monetary group contribution" ,
            value: "add-monetary-group-contribution",
            limitTo: () => orcaVersion.value >= 1.500,
            online: true,
            pacOnly: true
          },
          {
            text: "In-kind contribution",
            value: "openInkindContributions",
            limitTo: () => !(orcaVersion.value >= 1.460)
          },
          {
            text: "In-kind contribution",
            value: "add-inkind-contribution",
            limitTo: () => orcaVersion.value >= 1.460,
            online: true
          },
          {
            text: "Candidate's personal funds",
            value: "openCandidatePersonalFunds",
            candidateOnly: "true",
            limitTo: () => !(orcaVersion.value >= 1.470)
          },
          {
            text: "Anonymous contribution",
            value: "openAnonymousContributions",
            limitTo: () => !(orcaVersion.value >= 1.460)
          },
          {
            text: "Anonymous contribution",
            value: "add-anonymous-contribution",
            limitTo: () => orcaVersion.value >= 1.460,
            online: true
          },
          {
            text: "Import contributions",
            value: "import-contribution",
            online: true, always: true,
            query: {showImport: true}
          },
          {
            text: "Contribution search",
            value: "contribution-search",
            online: true, always: true, icon: "search"
          },
        ]
      },
      {
        title: "Expenditures",
        items: [
          {text: "Monetary expenditure", value: "monetaryExpenditure", limitTo: () => !(orcaVersion.value >= 1.420)},
          {
            text: "Monetary expenditure",
            value: "add-expenditure",
            limitTo: () => orcaVersion.value >= 1.420,
            online: true
          },
          {text: "Refund contribution", value: "refundContribution", limitTo: () => !(orcaVersion.value >= 1.420)},
          {
            text: "Refund contribution",
            value: "add-refund-contribution",
            limitTo: () => orcaVersion.value >= 1.420,
            online: true
          },
          {
            text: "Spend surplus funds",
            value: "add-surplus-expenditure",
            limitTo: () => orcaVersion.value >= 1.430,
            online: true
          },
          {text: "Advertisements", value: "add-advertisement", limitTo: () => orcaVersion.value >= 1.600, online: true},
          {
            text: "Recent expenditures",
            value: "recent-expenditures",
            limitTo: () => !(orcaVersion.value >= 1.420),
            always: true,
            icon: "search"
          },
          {text: "Expenditure search", value: "expenditure-search", always: true, icon: "search"},
          {
            text: "Advertisement search",
            value: "advertisement-search",
            limitTo: () => orcaVersion.value >= 1.600,
            icon: "search"
          }
        ]
      },
      {
        title: "Miscellaneous receipts",
        items: [
          {text: "Vendor refund", value: "vendorRefund", limitTo: () => !(orcaVersion.value >= 1.490)},
          {text: "Vendor refund", value: 'add-vendor-refund', limitTo: () => orcaVersion.value >= 1.490, online: true},
          {text: "Other receipts", value: 'otherReceipt', limitTo: () => !(orcaVersion.value >= 1.470)},
          {text: "Other receipts", value: 'add-misc-other', limitTo: () => orcaVersion.value >= 1.470, online: true},
          {text: "Bank interest", value: 'bankInterest', limitTo: () => !(orcaVersion.value >= 1.470)},
          {
            text: "Bank interest",
            value: 'add-misc-bank-interest',
            limitTo: () => orcaVersion.value >= 1.470,
            online: true
          },
          {
            text: "Miscellaneous receipt search",
            value: "search-misc-receipts",
            online: true,
            always: true,
            icon: "search"
          },
        ]
      },
      {
        title: "Fundraising",
        items: [
          {text: "Cash fundraiser", value: 'cashFundraiser', limitTo: () => orcaVersion.value < 1.480},
          {
            text: "Cash fundraiser",
            value: 'add-cash-fundraiser',
            limitTo: () => orcaVersion.value >= 1.480,
            online: true
          },
          {text: "Low-cost fundraiser", value: 'lowcostFundraiser', limitTo: () => orcaVersion.value < 1.470},
          {
            text: "Low-cost fundraiser",
            value: 'add-low-cost-fundraiser',
            limitTo: () => orcaVersion.value >= 1.470,
            online: true
          },
          {text: "Auction", value: 'auction', limitTo: () => orcaVersion.value < 1.490},
          {text: "Auction", value: 'add-auction', limitTo: () => orcaVersion.value >= 1.490, online: true},
          {text: "Pledges", value: 'pledges', limitTo: () => orcaVersion.value < 1.490},
          {text: "Pledge", value: 'add-pledge', limitTo: () => orcaVersion.value >= 1.490, online: true},
          {text: "Pledge search", value: 'pledge-search', online: true, always: true, icon: "search"},
          {
            text: "Fundraiser search",
            value: 'fundraiser-search',
            limitTo: () => orcaVersion.value >= 1.470 || !orcaEmbedded.value,
            online: true,
            always: true,
            icon: "search"
          },
        ]
      },

      {
        title: "Debt and Loan",
        items: [
          {text: "Cash loan", value: "cashLoan", limitTo: () => orcaVersion.value < 1.480},
          {text: "Cash loan", value: 'add-cash-loan', limitTo: () => orcaVersion.value >= 1.480, online: true},
          {text: "In-kind loan", value: "inkindLoan", limitTo: () => orcaVersion.value < 1.490},
          {text: "In-kind loan", value: "add-in-kind-loan", limitTo: () => orcaVersion.value >= 1.490, online: true},
          {text: "Vendor debt", value: "vendorDebt", limitTo: () => orcaVersion.value < 1.490},
          {text: "Vendor debt", value: "add-invoiced-expense", limitTo: () => orcaVersion.value >= 1.490, online: true},
          {text: "Credit card debt", value: "creditCardDebt", limitTo: () => orcaVersion.value < 1.490},
          {text: "Debt and loan search", value: 'search-debt', online: true, always: true, icon: "search"},
        ]
      },
      {
        title: "Contacts",
        items: [
          {text: "Individual contacts", value: "individualContacts", limitTo: () => orcaVersion.value < 1.450},
          {text: "Couples contacts", value: "couplesContacts", limitTo: () => orcaVersion.value < 1.450},
          {text: "Other contacts", value: "othersContacts", limitTo: () => orcaVersion.value < 1.450},
          {text: "Group contacts", value: "groupsContacts", limitTo: () => orcaVersion.value < 1.450, pacOnly: true},
          {text: "Contact search", value: "contact-search", always: true, online: true, icon: "search"},
          {
            text: "Duplicate contact analysis",
            value: "contact-duplicates",
            limitTo: () => orcaVersion.value >= 1.450,
            online: true,
            icon: "search"
          }
        ]
      },
      {
        title: "Accounting",
        items: [
          {text: "Bank accounts", value: "bank-accounts", icon: "account_balance", online: true, always: true},
          {text: "Account summary", value: 'account-summary', icon: "search", online: true, always: true},
          {text: "Chart of accounts", value: "chartOfAccounts", limitTo: () => orcaVersion.value < 1.490},
          {
            text: "Transfer funds between accounts",
            value: "add-account-transfer",
            limitTo: () => orcaVersion.value >= 1.470,
            online: true
          },
          {text: "Adjustment search", value: "search-adjustments", always: true, online: true, icon: "search"}
        ]
      },
      {
        title: "Logs",
        items: [
          {text: "Deleted transaction logs", value: "deleted-transactions", always: true}
        ]
      }
    ]);
    const title = ref("");
    const showElectionUpdateDialog = ref(false);
    return {fund, menuItems, title, orcaEmbedded, orcaVersion, showElectionUpdateDialog, orcaFund};
  },
  data() {
    return {
      depositReportsToFile: 0,
      summaryReportsToFile: 0,
    }
  },
  computed: {
    ...mapState(['user']),
    lmcAccess() {
      return this.user.rights.lmc_access;
    },
    lmcUrl() {
      return `/lmc/fund/${this.fund.fund_id}/reports`;
    },
    switchYearButton() {
      if (this.fund.continuing){
        if(this.fund.pac_type !== 'surplus')
        return true;
      }
      return false;
    },
    readOnlyAlert() {
      return !!(!this.orcaEmbedded && this.orcaVersion < 1.500 && this.fund.fund_id);

    },
    updateAlert(){
      return this.orcaEmbedded && this.orcaVersion >= 1.500;

    },
    inconsistentElectionParticipation() {
      const electionCodes = this.fund?.election_codes ?? [];
      return (
          (this.fund.in_primary === true && !electionCodes.includes(`${this.fund.election_code}P`)) ||
          (this.fund.in_general === true && !electionCodes.includes(this.fund.election_code)) ||
          (this.fund.in_primary === false && electionCodes.includes(`${this.fund.election_code}P`)) ||
          (this.fund.in_general === false && electionCodes.includes(this.fund.election_code))
      );
    }
  },
  methods: {
    openLMC() {
      window.open(this.lmcUrl, '_blank');
    },
    closeCampaign() {
      if (this.orcaEmbedded) {
        ORCA.closeCampaign();
      } else if (this.orcaVersion >= 1.500) {
        const urlBack = this.$router.history._startLocation;
        const urlCurrent = this.$router.history.current.path;
        if (urlBack !== urlCurrent) {
          this.$router.replace({path: `${urlBack}`})
        } else {
          const closeTab = () => window.top.close();
            closeTab();
        }
      } else {
        const committee_id = this.fund.committee_id.toString();
        this.$router.push({path: '/committee', query: {committee_id: committee_id}});
      }
    },
    executeMenuItem(menuItem) {
      if (!menuItem.always && !menuItem.online) {
        ORCA.executeMenu(menuItem.value)
      } else {
        const fund_id = Number(this.fund.fund_id).toString();
        menuItem.query ? this.$router.push({
          name: "ORCA.fund." + menuItem.value,
          params: {fund_id: fund_id},
          query: menuItem.query
        }) : this.$router.push({name: "ORCA.fund." + menuItem.value, params: {fund_id: fund_id}})
      }
    },
    navigateTo(name) {
      this.$router.push({name: "orca.fund." + name, params: {fund_id: this.fund.fund_id}})
    },
    getIcon(menuItem) {
      return menuItem.icon ? menuItem.icon : "add";
    },
    filteredItems(group) {
      return group.items.filter((item) => {
        if (item.limitTo) {
          return item.limitTo()
        } else {
          return true;
        }
      });
    },
    filteredMenuGroups(menuItems) {
      if (menuItems) {
        return menuItems.filter((item) => {
          if (item.limitTo) {
            return item.limitTo()
          } else {
            return true;
          }
        });
      }
    },
    async countUndepositedItems() {
      if (this.fund.fund_id) {
        const result = await orcaDataService.getFundData(this.fund.fund_id, 'get-c3-reports-count');
        if (result && result.success) {
          this.depositReportsToFile = result['get-c3-reports-count'][0].items;
        }
      }
    },
    async countSummaryItems() {
      if (this.fund.fund_id) {
        const result = await orcaDataService.getFundData(this.fund.fund_id, 'get-c4-reports-count');
        if (result && result.success) {
          this.summaryReportsToFile = result['get-c4-reports-count'][0].items;
        }
      }
    },
    async openApollo() {
      ORCA.openApollo();
    },
    async updateElectionParticipation() {
      let updatedElectionCodes = [...(this.fund.election_codes ?? [])];
      const primaryCode = `${this.fund.election_code}P`;
      const generalCode = this.fund.election_code;
      if (this.fund.in_primary) {
        if (!updatedElectionCodes.includes(primaryCode)) {
          updatedElectionCodes.push(primaryCode);
        }
      } else if (this.fund.in_primary === false){
        updatedElectionCodes = updatedElectionCodes.filter(code => code !== primaryCode);
      }
      if (this.fund.in_general) {
        if (!updatedElectionCodes.includes(generalCode)) {
          updatedElectionCodes.push(generalCode);
        }
      } else if (this.fund.in_general === false) {
        updatedElectionCodes = updatedElectionCodes.filter(code => code !== generalCode);
      }
      await orcaDataService.postFundObject(this.fund.fund_id, 'save-campaign-settings', { election_codes: updatedElectionCodes }, true).then((result) => {
        if (result.success) {
          ORCA.setDerbyProperties(result.properties);
          this.orcaFund.loadFund(this.fund.fund_id);
        }
      });
      this.showElectionUpdateDialog = false;
    },
  },
  created() {
    this.title = ORCA.title;
    ORCA.$on('setTitle', (title) => {
      this.title = title;
    });
    ORCA.$on('setSyncActive', (active) => {
      this.syncActive = active;
    });
    this.countUndepositedItems();
    this.countSummaryItems();
  },
}
</script>

<style scoped>
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 2fr));
  grid-gap: 1em;
}
.orca-menu {
  width: 20em;
  height: 25em;
}
</style>
