<template>
  <campaign-page title="Committee info" @load="setupCommitteeInfo">
    <v-tabs v-model="active_tab" color="primary">
      <v-tab key="settings">Settings</v-tab>
      <v-tab key="registration">Registration</v-tab>
      <v-tab key="limits" v-if="fund.has_limits">Limits</v-tab>
      <v-tab key="archive">Archive</v-tab>

      <v-tab-item key="settings">
        <v-container class="settings">
          <div v-if="!fund.continuing || (fund.start_year.toString() === fund.election_code)">
            <v-layout>
              <v-flex>
                <h3>Campaign start date</h3>
              </v-flex>
              <v-flex class="settings-icon">
                <accessible-button v-if="orcaVersion >= 1.440" icon @click="data.showCampaignStartDateSelector = true" button-tooltip="Edit campaign start date">
                  <v-icon>edit</v-icon>
                </accessible-button>
                <InfoCampaignStartDate :pac-type="fund.pac_type" v-if="orcaVersion >= 1.440"/>
              </v-flex>
            </v-layout>
            <p>{{ formatDate(data.campaignStartDate) }}</p>
          </div>

          <v-divider v-if="!fund.continuing"></v-divider>

          <v-layout v-if="orcaVersion >= 1.440" class="settings-title">
            <v-flex>
              <h3>Elections</h3>
            </v-flex>
            <v-flex class="settings-icon">
              <accessible-button icon @click="data.showElectionChoices=true" button-tooltip="Edit election">
                <v-icon>edit</v-icon>
              </accessible-button>
              <InfoElectionParticipation/>
            </v-flex>
          </v-layout>
          <v-list>
            <v-list-item v-for="(election, index) in fund.election_codes" :key="index">
              <v-list-item-content>{{ electionText(election) }}</v-list-item-content>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <div v-if="orcaVersion >= 1.440">
            <v-layout>
              <v-flex>
                <h3>Carry forward cash</h3>
              </v-flex>
              <v-flex class="settings-icon">
                <accessible-button icon @click="data.showCarryForwardEditor = true" button-tooltip="Edit carry forward cash">
                  <v-icon>edit</v-icon>
                </accessible-button>
              </v-flex>
            </v-layout>
            <v-list>
              <v-list-item v-for="(carryForward, index) in fund.carry_forward" :key="`carryforward-${index}`">
                <v-list-item-content>{{ carryForward.account_name }} : {{ formatMoney(carryForward.amount) }}
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </div>

          <v-divider></v-divider>

          <div>
            <v-layout>
              <v-flex>
                <h3>Itemize always</h3>
              </v-flex>
              <v-flex class="settings-icon">
                <accessible-button v-if="orcaVersion >= 1.440" icon @click="data.showItemizeAlways = true" button-tooltip="Edit itemize always">
                  <v-icon>edit</v-icon>
                </accessible-button>
                <InfoItemizeAlways v-if="orcaVersion >= 1.440"/>
              </v-flex>
            </v-layout>
            <p>{{ data.campaignItemizeAlways }}</p>
          </div>

        </v-container>
      </v-tab-item>

      <v-tab-item key="registration">
        <v-card flat>
          <v-card-title>Committee name & acronym</v-card-title>
          <v-card-text>
            <dl>
              <dt>Name</dt>
              <dd>{{ fund.name}}</dd>
            </dl>
            <dl>
              <dt>Filer id</dt>
              <dd>{{ fund.filer_id }}</dd>
            </dl>
            <dl>
              <dt>Last Updated</dt>
              <dd>{{ formatDateTime(fund.updated) }}</dd>
            </dl>
            <dl>
              <dt>Election Year</dt>
              <dd>{{ fund.election_code }}</dd>
            </dl>
          </v-card-text>
        </v-card>
        <v-card flat>
          <v-card-title>Contact info</v-card-title>
          <v-card-text v-if="fund.committee_contact_info">
            <dl>
              <dt>Address</dt>
              <dd>{{ fund.committee_contact_info.address }} <br/>
                {{ fund.committee_contact_info.city }}, {{ fund.committee_contact_info.state }}
                {{ fund.committee_contact_info.postcode }}
              </dd>
            </dl>
            <dl>
              <dt>Phone</dt>
              <dd>{{ fund.committee_contact_info.phone }}</dd>
            </dl>
            <dl>
              <dt>Email</dt>
              <dd>{{ fund.committee_contact_info.email }}</dd>
            </dl>
          </v-card-text>
        </v-card>
        <v-card flat v-if="fund.committee_treasurers">
          <v-card-title>Treasurer(s) info</v-card-title>
          <div v-for="treasurer in fund.committee_treasurers" :key="treasurer.contact_id">
            <v-card-text>
              <dl>
                <dt>Name</dt>
                <dd>{{ treasurer.name }}</dd>
              </dl>
              <dl>
                <dt>Email</dt>
                <dd>{{ treasurer.email }}</dd>
              </dl>
            </v-card-text>
          </div>
        </v-card>
      </v-tab-item>

      <v-tab-item key="limits" v-if="fund.has_limits">
        <v-card>
          <v-card-title>
            Contribution limits
          </v-card-title>
          <v-card-text>
            <div v-for="item in limits" :key="item.type_code">
              <dl>
                <dt>{{ item.label }}</dt>
                <dd>{{ formatMoney(item.amount) }}</dd>
              </dl>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item key="archive">
        <Archive />
      </v-tab-item>

      <v-dialog persistent v-if="orcaVersion >= 1.440" v-model="data.showCampaignStartDateSelector">
        <v-card>
          <v-card-title>Update campaign start date</v-card-title>
          <v-card-text>
            <strong>Changes made to campaign start date may require updates to your registration.</strong>
            <DatePicker label="Campaign start date" v-model="data.modifiedCampaignStartDate"></DatePicker>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" :disabled="!data.campaignStartDate"
                   @click="saveCampaignSettings('campaign_start_date', data.modifiedCampaignStartDate)">Update Campaign
              Start Date
            </v-btn>
            <v-btn tabindex="0" @click="resetAll()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persistent v-if="orcaVersion >= 1.440" v-model="data.showElectionChoices">
        <v-card>
          <v-card-title>Election choices</v-card-title>
          <v-card-text>
            <strong>Changes made to election choices may require updates to your registration.</strong>
            <v-alert color="error" v-if="fund.isCandidate && data.selectedElections.length === 0">At least one election is
              required for a candidate committee.
            </v-alert>
            <v-select clearable multiple v-model="data.selectedElections" :items="filteredElections"
                      item-value="election_code" item-text="title"></v-select>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" :disabled="fund.isCandidate && data.selectedElections.length === 0"
                   @click="saveCampaignSettings('election_codes', data.selectedElections)">Update Elections
            </v-btn>
            <v-btn tabindex="0" @click="resetAll()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persistent v-if="orcaVersion >= 1.440" v-model="data.showCarryForwardEditor">
        <v-card>
          <v-card-title>Carry forward</v-card-title>
          <v-card-text>
            <v-row v-for="(carryForward, index) in data.carryForward" :key="index">
              <v-col cols="2">
                <v-subheader>{{ carryForward.account_name }}</v-subheader>
              </v-col>
              <v-col cols="3">
                <v-text-field label="Amount" type="number" v-model="carryForward.amount" :rules="data.carryForwardRules"
                              prefix="$"></v-text-field>
              </v-col>
              <v-col cols="7">
                <v-text-field label="Memo" v-model="carryForward.memo"></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" @click="saveCampaignSettings('carry_forward', data.carryForward)">Save</v-btn>
            <v-btn tabindex="0" @click="resetAll()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persistent v-if="orcaVersion >= 1.440" v-model="data.showItemizeAlways">
        <v-card>
          <v-card-title>Itemize always</v-card-title>
          <v-card-text>
            <strong>Itemize all contributions and expenditures.</strong>
            <v-checkbox tabindex="0" label="Itemize always" v-model="data.selectedItemizeAlways"/>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" :disabled="data.campaignItemizeAlways === data.selectedItemizeAlways"
                   @click="saveCampaignSettings('itemize_always', data.selectedItemizeAlways)">Update Itemize Always
            </v-btn>
            <v-btn tabindex="0" @click="resetAll()">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-tabs>
  </campaign-page>
</template>

<script>
import CampaignPage from "@/orca/CampaignPage"
import filters from "@/filters"
import DatePicker from "@/components/DatePicker"
import ORCA from "@/ORCABridge"
import InfoElectionParticipation from "../info/ElectionParticipation"
import InfoCampaignStartDate from "../info/CampaignStartDate"
import InfoItemizeAlways from "../info/ItemizeAlways"
import moment from "moment"
import AccessibleButton from "@/components/AccessibleButton"
import Archive from "@/orca/archive/Archive"
import { mapState } from 'vuex'
import { useOrcaFund } from "@/orca/fund/Fund"
import { orcaDataService } from "@/OrcaDataService"
import { app } from "@/main"
import { computed, reactive } from "vue"

export default {
  name: "CampaignInfo",
  components: {
    AccessibleButton,
    CampaignPage,
    DatePicker,
    InfoElectionParticipation,
    InfoCampaignStartDate,
    InfoItemizeAlways,
    Archive
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const orcaVersion = computed(() => ORCA.version);
    const data = reactive({
      periods: [],
      selectedElections: [],
      showCampaignStartDateSelector: false,
      showCarryForwardEditor: false,
      showElectionChoices: false,
      elections: [],
      campaignStartDate: null,
      modifiedCampaignStartDate: null,
      campaignCarryForward: [],
      carryForward: [],
      committee_id: null,
      electionsSelectionError: false,
      showItemizeAlways: false,
      campaignItemizeAlways: false,
      selectedItemizeAlways: false,
      committee_contact_info: null,
      committee_treasurers: [],
      carryForwardRules: [
        v => !/\.\d{3,}/.test(v) || 'Fractional cents are not allowed.'
      ]
    });
    return {fund, ...filters.filters, data, orcaVersion, orcaFund};
  },
  data() {
    return {
      active_tab: 0
    }
  },
  beforeDestroy() {
    ORCA.$off('accounts.change', this.reloadFund);
  },
  created() {
    ORCA.$on('accounts.change', this.reloadFund);
    app.$container.dataService.query('elections', result => {
      this.data.elections = result;
    });
    if (window.location.hash === '#archive') {
      this.active_tab = 3
    }
  },
  computed: {
    ...mapState(['user']),
    limits() {
      return this.fund.limits;
    },
    filteredElections() {
      // A candidate committee can pick the general election. The primary and general should show in the list but no special elections.
      if (this.fund.pac_type === 'candidate' && this.fund.committee_election_code.length === 4) {
        return this.data.elections.filter(e => e.election_code.substring(0, 4) === this.fund.election_code && !e.is_special);
      }
      // A candidate committee can pick a special election. In that case the primary and general should not show in the list.
      if (this.fund.pac_type === 'candidate' && this.fund.committee_election_code.length > 4) {
        return this.data.elections.filter(e => e.election_code === this.fund.committee_election_code);
      }
      // A single election committee can only choose the one that matches the committee's election_code.
      if (this.fund.pac_type === 'pac' && this.fund.continuing !== true) {
        return this.data.elections.filter(e => e.election_code === this.fund.committee_election_code);
      }
      // A continuing PAC can pick any election they wish from the list.
      return this.data.elections.filter(e => e.election_code.substring(0, 4) === this.fund.election_code);
    }
  },
  methods: {
    // Retrieve a property
    getProperty(name) {
      if (this.fund.properties && this.fund.properties.length) {
        const prop = this.fund.properties.find(item => item.name === name);
        if (prop) {
          return prop.value;
        }
      }
    },

    ballotChoice(choice) {
      choice = parseInt(choice);
      switch (choice) {
        case 1:
          return "Participates in Primary";
        case 2:
          return "Does not participate in General";
        case 3:
          return "Participates in General";
        case 4:
          return "Participates in General Only";
        case 5:
          return "Custom Reporting Periods";
        default:
          return "Unknown Ballot";
      }
    },

    electionText(election_code) {
      let election = this.data.elections.filter(e => e.election_code === election_code);
      if (election && election.length>0) {
        return election[0]['title'];
      }
      else {
        return null;
      }
    },

    reloadFund() {
      this.orcaFund.loadFund(this.fund.fund_id);
    },

    saveCampaignSettings(type, value) {
      let fundData = {};
      if (type === 'campaign_start_date') {
        fundData.campaign_start_date = value;
      } else if (type === 'election_codes') {
        fundData.election_codes = value;
      } else if (type === 'carry_forward') {
        fundData.carry_forward = value;
      } else if (type === 'itemize_always') {
        fundData.itemize_always = value;
      }

      orcaDataService.postFundObject(this.fund.fund_id, 'save-campaign-settings', fundData, true).then((result) => {
        if (result.success) {
          ORCA.setDerbyProperties(result.properties);
          this.reloadFund();
          if (fundData.campaign_start_date) {
            this.data.campaignStartDate = fundData.campaign_start_date;
          }
          if (fundData.hasOwnProperty('itemize_always')) {
            this.data.campaignItemizeAlways = this.data.selectedItemizeAlways = fundData.itemize_always;
          }
          if (fundData.hasOwnProperty('carry_forward')) {
            this.data.carryForward = fundData.carry_forward;
            // Force reactivity change after modification.
            this.data.campaignCarryForward = this.data.carryForward = this.data.carryForward.splice(0, this.data.carryForward.length);
            this.saveCarryForwardToOrca(result.carry_forward);
          }
          this.resetAll();
        }
      });
    },

    saveCarryForwardToOrca(carryForward) {
      // Clone object so that we don't modify the original
      let payload = JSON.parse(JSON.stringify(carryForward))

      payload.forEach((cf) => {
        cf.id = cf.orca_id;
        cf.cid = cf.cid_orca;
        cf.did = cf.did_orca;
      });
      ORCA.updateCarryForward({'receipts': payload});
    },
    resetAll() {
      this.data.showElectionChoices = false;
      this.data.showCampaignStartDateSelector = false;
      this.data.electionsSelectionError = false;
      this.data.modifiedCampaignStartDate = this.data.campaignStartDate;
      this.data.showItemizeAlways = false;
      this.data.selectedItemizeAlways = this.data.campaignItemizeAlways;
      this.data.showCarryForwardEditor = false;
      this.data.carryForward = this.data.campaignCarryForward;
    },
    setupCommitteeInfo() {
      this.data.committee_id = this.fund.committee_id;
      let dateReformatted = moment(this.getProperty("CAMPAIGNINFO:STARTDATE")).format('Y-MM-DD');
      this.data.campaignStartDate = this.data.modifiedCampaignStartDate = dateReformatted;
      this.data.selectedElections = this.fund.election_codes ?? [];
      this.data.campaignCarryForward = this.data.carryForward = this.fund.carry_forward;
      if (this.getProperty("OPTION:ORCA.UTIL.ERRORLIST.ITEMIZEMISSCONTINFO") === 'true') {
        this.data.campaignItemizeAlways = this.data.selectedItemizeAlways = true;
      } else {
        this.data.campaignItemizeAlways = this.data.selectedItemizeAlways = false;
      }
    }
  }
}
</script>

<style scoped>
dl {
  margin-left: 1em;
}
dt {
  vertical-align: top;
  font-weight: bold;
  width: 16em;
}
dl dd, dl dt {
  display: inline-block
}
.settings {
  max-width: 40em;
  margin-left: 0;
}
.settings-icon {
  text-align: right;
}
.settings-title {
  margin-top: 2em;
}
</style>
