<template>
  <div>
    <campaign />
    <v-card class="mt-4" v-if="fund && fund.fund_id">
      <v-toolbar flat class="d-print-none">
        <accessible-button v-if="notPopup" icon @click="navigateBack()" button-tooltip="Back">
          <v-icon>arrow_back</v-icon>
        </accessible-button>
        <span class="title">{{ title }}</span>
        <v-spacer/>
        <slot name="toolbar"/>
        <accessible-button
          button-tooltip="Campaign dashboard"
          small
          :to="{name: 'ORCA.campaign', params: {fund_id: fund.fund_id}}">
          <v-icon>apps</v-icon>
        </accessible-button>
        <accessible-button
          v-if="this.fund.version >= 1.500"
          button-tooltip="Change Campaign"
          small
          :to="{name: 'MyOrcaFunds'}"
        >
          <v-icon>folder_open</v-icon>
        </accessible-button>
        <accessible-button
          small @click="closeCampaign"
          button-tooltip="Exit campaign"
        >
          Exit
          <v-icon>exit_to_app</v-icon>
        </accessible-button>
      </v-toolbar>
      <v-card-text>
        <slot name="default"/>
      </v-card-text>
      <v-card-actions>
        <slot name="actions"/>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import Campaign from "@/orca/Campaign";
  import ORCA from "@/ORCABridge";
  import AccessibleButton from "@/components/AccessibleButton";
  import { orcaDataService } from "@/OrcaDataService"
  import { useOrcaFund } from "@/orca/fund/Fund";
  import { computed, ref } from "vue";

  export default {
    name: "CampaignPage",
    components: {AccessibleButton, Campaign},
    props: {
      title: {
        type: String,
        default: ""
      },
      returnRoute: {
        type: String,
        default: "ORCA.campaign.fund"
      }
    },
    setup() {
      const orcaEmbedded = computed(() => ORCA.orcaEmbedded);
      const {fund, orcaFund} = useOrcaFund();
      const notPopup = new ref();
      notPopup.value = !(window.opener && window.opener !== window)
      return {fund, orcaFund, notPopup, orcaEmbedded}
    },
    data() {
      return {
        current_save_count: -1,
        previous_save_count: -1
      }
    },
    created() {
      ORCA.$on("fundLoaded", this.onFundLoaded);
      if (this.fund) {
        this.$emit('load', this.fund);
      }
      this.handleSaveCountReload()
    },
    beforeDestroy() {
      ORCA.$off("fundLoaded", this.onFundLoaded);
    },
    methods: {
      closeCampaign() {
        if (this.orcaEmbedded) {
          ORCA.closeCampaign();
        } else if (ORCA.version >= 1.500) {
          if(this.$router.history._startLocation === '/committees') {
            this.$router.replace({path: `${this.$router.history._startLocation}`});
          }
          const closeTab = () => window.top.close();
          closeTab();
        } else {
          const committee_id = this.fund.committee_id.toString();
          this.$router.push({path: '/committee', query: {committee_id: committee_id}});
        }
      },
      onFundLoaded(fund) {
        this.$emit('load', fund);
      },
      navigateBack() {
        this.$emit('navigate-back');
        if (window.history.length > 0) {
          this.$router.go(-1);
        } else {
          this.$router.replace({name: this.returnRoute, params: {fund_id: this.fund.fund_id.toString()}})
        }
      },
      async handleSaveCountReload() {
        if (this.fund.save_count === undefined) {
          return
        }
        this.current_save_count = await this.getSaveCount()
        this.previous_save_count = orcaDataService.saveCount
        if (this.current_save_count !== this.previous_save_count) {
          await this.orcaFund.reloadFund()
        }
      },
      async getSaveCount() {
        try {
          const save_count = await orcaDataService.getFundData(
            this.fund.fund_id,
            'get-save-count'
          )
          return save_count['get-save-count'][0]['save_count']
        }
        catch (error) {
          console.log(error)
        }
      }
    }
  }
</script>

<style>
 /*reduce padding of input text top & bottom*/
 .v-input input {
   padding-top: 2px;
   padding-bottom: 2px;
 }

 /*reduce margin for text field*/
 .v-text-field .v-input__append-inner {
   margin-top: 0;
 }
</style>
