<template>
  <div>
    <v-card v-if="funds.length" style="max-width: 750px" flat>
      <v-card-title>Campaigns</v-card-title>
      <v-card-text>
        <v-simple-table>
          <thead>
          <tr>
            <th>
              Current Vendor
            </th>
            <th>
              Election
            </th>
            <th>
              Last Updated
            </th>
            <th>
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="fund in funds" :key="fund.fund_id">
            <td v-if="fund.vendor === 'PDC'">
              {{ fund.vendor }} (ORCA {{ fund.orca_version }})
            </td>
            <td v-else-if="fund.vendor !== 'PDC'">
              {{ fund.vendor }}
            </td>
            <td>
              <router-link v-if="canAccessFund(fund) && fund.campaign_fund" :to="{name: 'ORCA.campaign.fund', params: {fund_id: fund.fund_id }}" target="_blank">
                {{ fund.election_code }}
              </router-link>
              <span v-else>
                {{ fund.election_code }}
              </span>
            </td>
            <td>
              {{ formatDateTime(fund.last_updated) }}
            </td>
            <td>
              <v-icon v-if="canDeleteCampaign && fund.campaign_fund" @click="preDeleteCampaign(fund.fund_id)">delete</v-icon>
              <v-icon v-if="canUpdateVendor" @click="preUpdateVendor(fund.fund_id, fund.vendor)">edit</v-icon>
            </td>
            <v-divider></v-divider>
          </tr>
          </tbody>
        </v-simple-table>
      </v-card-text>
    </v-card>
    <v-alert color="secondary" v-else>
      <v-icon>info</v-icon>
      No ORCA data was found for this committee. This could be because they are a mini-filer, they use
      a third-party vendor or the campaign was never opened in ORCA 1.400 or later.
    </v-alert>

    {{ message }}

    <v-dialog v-model="errorsDialog" width="30em">
      <v-card>
        <v-card-title>
          Caution: this cannot be undone.
        </v-card-title>
        <v-card-text>

          <v-alert color="warning" border="left">

            <p>This action removes all non-reported data from the PDC servers. Generally, you would take this action if
              a campaign was created by mistake, or created and then deleted by the filer.</p>

            <p>This action is final and cannot be undone.</p>
          </v-alert>

        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="deleteCampaign(selectedFund)">Delete campaign</v-btn>
          <v-btn tabindex="0" @click="errorsDialog=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="vendorUpdateDialog" width="30em">
      <v-form ref="vendor_update_form" @submit.prevent="updateVendor(selectedFund, selectedVendor ? selectedVendor : vendorRadio)">
      <v-card>
        <v-card-title>
          Switch Vendor
        </v-card-title>
        <v-card-text>
          <p>
            Your current vendor is: {{ currentVendor }}.
          </p>
          <v-radio-group v-model="vendorRadio">
            <v-radio id="PDC" value="PDC" >
              <template v-slot:label>
                PDC (ORCA)
              </template>
            </v-radio>
            <v-radio id="otherVendor" value="otherVendor">
              <template v-slot:label v-if="vendorRadio !== 'otherVendor'">
                Other Vendor
              </template>
              <template v-slot:label v-else>
                <v-form ref="form_combobox">
                  <v-combobox v-model="selectedVendor"
                              v-if="vendorRadio && vendorRadio !== 'PDC'"
                              label="Providing vendor"
                              clearable
                              :items="['Aristotle','BlueUtopia','Campaign Deputy', 'Cision', 'DDC', 'IsPolitical', 'NGPVAN', 'Patton']"
                              :rules="[validations.requireString]"
                  >
                  </v-combobox>
                </v-form>
              </template>
            </v-radio>
          </v-radio-group>
          <div v-if="selectedVendor && selectedVendor !== 'PDC'">
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" type="submit" color="primary">Update</v-btn>
          <v-btn tabindex="0" @click="cancelVendorUpdate">Cancel</v-btn>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-dialog>

  </div>
</template>

<script>
import {ref} from "vue";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import {mapState} from "vuex";
import FormValidations from "@/formValidations";

export default {
  name: "CommitteeFunds",
  props: {
    committee_id: {
      type: Number
    }
  },
  setup() {
    const funds = ref([]);
    return {funds};
  },
  data() {
    return {
      errorsDialog: false,
      vendorUpdateDialog: false,
      selectedFund: null,
      message: '',
      selectedVendor: null,
      vendorRadio: 'PDC',
      currentVendor: null,
      vendorChanged: false,
      validations: {
        ...FormValidations
      },
      vendor: null
    }
  },
  watch: {
    committee_id() {
      this.loadFunds();
    },
    vendorUpdateDialog() {
       if(this.vendorChanged === true)
        this.loadFunds();
    },
  },
  created() {
    this.loadFunds();
  },
  computed: {
    ...mapState(['user']),
    canDeleteCampaign() {
      return this.user.rights.delete_orca_campaign;
    },
    canUpdateVendor() {
      return this.user.rights.access_wapdc_data;
    },
  },
  methods: {
    preDeleteCampaign(fund_id) {
      this.message = '';
      this.selectedFund = fund_id;
      this.errorsDialog = true;
    },
    preUpdateVendor(fund_id, vendor) {
      this.message = '';
      this.selectedFund = fund_id;
      this.selectedVendor = null;
      this.currentVendor = vendor;
      this.vendorUpdateDialog = true;
    },
    canAccessFund(fund){
      const today =  new Date();
      return fund.role && new Date(fund.expiration_date) > today   || this.user.rights.access_all_private_data;
    },
    deleteCampaign(fund_id) {
      if (fund_id) {
        orcaDataService.deleteCampaign(fund_id).then((result) => {
          this.errorsDialog = false;
          if (result.data && result.data.success) {
            this.message = "Campaign successfully deleted for fund id " + fund_id;
            this.postActionMessage();
          } else {
            this.message = "Unable to delete campaign. Please notify IT if this problem persists."
          }
        })
            .catch(r => {
              orcaDataService.handleError(r);
            });
      }
    },
    cancelVendorUpdate() {
      this.vendorUpdateDialog = false;
      this.vendorChanged = false;
    },
    updateVendor(fund_id, vendor) {
      if (!fund_id) {
        return
      }
      if (vendor !== 'PDC') {
        if (this.$refs.form_combobox.validate() === false) {
          return
        }
      }
      orcaDataService.postFundObject(fund_id, 'update-campaign-vendor', {vendor: vendor}, true);
      this.vendorUpdateDialog = false;
      this.vendorChanged = true;
      this.selectedVendor = null;
    },
    postActionMessage() {
      this.loadFunds(this.message);
    },
    loadFunds(message = null) {
      this.message = message;
      if (this.committee_id) {
        orcaDataService.getCommitteeData(this.committee_id, "funds").then(data => {
          this.funds = data.funds;
        });
      } else {
        this.funds = [];
      }
    }, ...filters.filters
  },
}
</script>

<style scoped>

</style>
