<template>
  <div>
    <campaign-page title="Deleted transaction logs">
      <v-list>
        <v-list-item v-for="log in logs" :key="log.date">
          <v-list-item-content>{{ log.memo }}: {{ formatDateTime(log.date) }}
            <slot name="header"/>

            <v-tabs>
              <v-tab>Expenditures</v-tab>
              <v-tab>Contacts</v-tab>
              <v-tab>Receipts</v-tab>
              <v-tab>Auction Items</v-tab>
              <v-tab>Accounts</v-tab>

              <v-tab-item>
                <v-data-table
                    :items="JSON.parse(log.data).expenditures"
                    :headers="expenditureHeaders"
                    :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
                >
                  <template v-slot:item.date_="{item}">
                    {{ formatDate(item.date_) }}
                  </template>
                  <template v-slot:item.amount="{item}">
                    <router-link :to="{name: 'ORCA.fund.edit-expenditure', params: {id: item.trankeygen_id}}">
                      {{ formatMoney(item.amount) }}
                    </router-link>
                  </template>
                </v-data-table>
              </v-tab-item>

              <v-tab-item>
                <v-data-table
                    :items="JSON.parse(log.data).contacts"
                    :headers="contactsHeaders"
                    :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
                >
                  <template v-slot:item.type="{item}">
                    {{ formatType(item.type) }}
                  </template>
                </v-data-table>
              </v-tab-item>

              <v-tab-item>
                <v-data-table
                    :items="JSON.parse(log.data).other_receipts"
                    :headers="receiptsHeaders"
                    :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
                >
                  <template v-slot:item.date_="{item}">
                    {{ formatDate(item.date_) }}
                  </template>
                  <template v-slot:item.amount="{item}">
                    <router-link :to="{name: 'ORCA.fund.edit-expenditure', params: {id: item.trankeygen_id}}">
                      {{ formatMoney(item.amount) }}
                    </router-link>
                  </template>
                </v-data-table>
              </v-tab-item>

              <v-tab-item>
                <v-data-table
                    :items="JSON.parse(log.data).auction_items"
                    :headers="contactsHeaders"
                    :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
                >
                  <template v-slot:item.type="{item}">
                    {{ formatType(item.type) }}
                  </template>
                </v-data-table>
              </v-tab-item>

              <v-tab-item>
                <v-data-table
                    :items="JSON.parse(log.data).accounts"
                    :headers="accountsHeaders"
                    :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
                >
                  <template v-slot:item.type="{item}">
                    {{ formatType(item.type) }}
                  </template>
                </v-data-table>
              </v-tab-item>

            </v-tabs>
          </v-list-item-content>
        </v-list-item>
      </v-list>


    </campaign-page>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "@/orca/fund/Fund";
import filters from "@/filters";
import CampaignPage from "./CampaignPage";

export default {
  name: "DeletedTransactionLog",
  components: {CampaignPage},
  props: {},
  data() {
    return {
      search: "",
      showMaxResultMessage: false,
      showDeleteDialog: false,
      selectedExpenditure: {},
      selectedLog: {},
      logs: [],
      expenditureHeaders: [
        {text: "Name", value: "name"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Date", value: "date_"},
        {text: "Description", value: "description"},
        {text: "Check No.", value: "checkno"},
        {text: "Memo", value: "memo"}
      ],
      contactsHeaders: [
        {text: "Name", value: "name"},
        {text: "Type", value: "type"},
        {text: "Address", value: "street"},
        {text: "City", value: "city"},
        {text: "State", value: "state"},
        {text: "Postcode", value: "zip"},
        {text: "Occupation", value: "occupation"},
      ],
      receiptsHeaders: [
        {text: "Name", value: "name"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Date", value: "date_"},
        {text: "Transaction type", value: "transaction_type"},
        {text: "Description", value: "description"}
      ],
      auctionItemsHeasres: [
        {text: "Item Description", value: "itemdescription"},
        {text: "Item Number", value: "itemnumber"},
        {text: "Market Value", value: "marketval", align: "end"},
        {text: "Memo", value: "memo"},
      ],
      accountsHeaders: [
        {text: "Name", value: "name"},
        {text: "Account Number", value: "acctnum"},
        {text: "Code", value: "code"},
      ],
    }
  },
  methods: {
    formatType(type) {
      if (type === 'IND') {
        return 'Individual';
      } else if (type === 'GRP') {
        return 'Group';
      } else if (type === 'CPL') {
        return 'Couple';
      } else if (type === 'BUS') {
        return 'Business';
      } else if (type === 'CAN') {
        return 'Candidate';
      } else {
        return type;
      }
    },
    loadTransactions(fund) {
      if (fund.fund_id) {
        orcaDataService.getFundData(fund.fund_id, 'logs').then(data => {
          this.logs = data['logs'] ?? [];
          //this.expenditures = data['expenditures'] ?? [];
          //this.contacts = data['contacts'] ?? [];
          //this.receipts = data['other_receipts'] ?? [];
        });
      } else {
        this.logs = [];
      }
    },
    ...filters.filters
  },
  computed: {
    expenditures() {
      if (this.selectedLog.expenditure) {
        return this.selectedLog.expenditure;
      }
      return [];
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {

    ORCA.$on('loadFund', this.loadTransactions);
    this.loadTransactions(this.fund);
  },
  beforeDestroy() {
    ORCA.$off('loadFund', this.loadTransactions);
  }
}
</script>

<style scoped>

</style>