<template>
  <div>
    <div v-if="orcaEmbedded">
      <v-alert v-for="(item, index) in newsItems" color="secondary" :key="index">
        <v-icon>info</v-icon>
        {{ item.title[0].value }}
        <v-btn tabindex="0" small rounded @click="readNews(index)">Read more...</v-btn>
      </v-alert>
      <v-container>
        <v-row>
          <v-col cols="12" md="12" lg="12">
            <v-card
                @click="openApollo();"
                class="pa-2"
                hover
            >
              <v-list-item>
                <v-list-item-avatar
                    tile
                    size="50">
                  <v-icon size="50">open_in_browser</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-card-title>
                    ORCA online! Click here to open the new ORCA in your web browser.
                  </v-card-title>
                  <v-card-text class="v-card-text">More information about the new ORCA is available at the PDC website. Be sure to read about what you need to do before removing the ORCA application from your computer.</v-card-text>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>

        <v-row no-gutters v-if="version >= 1.440">
          <v-col cols="12" md="12" lg="12">
            <v-card
                @click="executeMenuItem('openCampaign')"
                class="pa-2"
                hover
            >
              <v-list-item>
                <v-list-item-avatar
                    tile
                    size="50">
                  <v-icon size="50">cloud_sync</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-card-title>
                    Sync campaign to the cloud
                  </v-card-title>
                  <v-card-text class="v-card-text">Open a previously created campaign to sync with the ORCA Online cloud. You only need to do this once per campaign.</v-card-text>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>

        <v-row no-gutters>
          <v-col cols="12" md="6" lg="6">
            <v-card
                @click="executeMenuItem('backupCampaign')"
                class="pa-2"
                hover
            >
              <v-list-item>
                <v-list-item-avatar
                    tile
                    size="50">
                  <v-icon size="50">backup_table</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-card-title>
                    Backup campaign data
                  </v-card-title>
                  <v-card-text class="v-card-text">WARNING! Only use this to archive inactive campaigns. Use ORCA Online for campaigns in the cloud.</v-card-text>
                </v-list-item-content>
              </v-list-item>

            </v-card>
          </v-col>
          <v-col cols="12" md="6" lg="6">
            <v-card
                @click="executeMenuItem('restoreCampaign')"
                class="pa-2"
                hover
            >
              <v-list-item>
                <v-list-item-avatar
                    tile
                    size="50">
                  <v-icon size="50">restore_page</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-card-title>
                    Restore campaign data
                  </v-card-title>
                  <v-card-text class="v-card-text">Restore an inactive campaign so you can sync with the cloud.</v-card-text>
                </v-list-item-content>
              </v-list-item>

            </v-card>
          </v-col>
        </v-row>
        <v-row no-gutters v-if="version >= 1.440">
          <v-col cols="12" md="12" lg="12">
            <v-card
                @click="executeMenuItem('logout')"
                class="pa-2"
                hover
            >
              <v-list-item>
                <v-list-item-avatar
                    tile
                    size="50">
                  <v-icon size="50">power_settings_new</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-card-title>
                    Logout
                  </v-card-title>
                  <v-card-text class="v-card-text">Log out of ORCA</v-card-text>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>

      </v-container>
    </div>
    <div v-else>
      This page can only be accessed from inside the ORCA application.
    </div>

    <campaign-setup/>
    <v-dialog v-model="showNews" max-width="80em">
      <v-form @submit.prevent="showNews = false">
        <v-card v-if="selectedNews">
          <v-card-title>
            {{ selectedNews.title[0].value }}
          </v-card-title>
          <v-card-text>
            <span v-html="getProcessedHtml(selectedNews.body)"/>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" type="submit">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import CampaignSetup from "@/orca/CampaignSetup";
import {dataService} from "@/DataService";

export default {

  name: "Desktop",
  components: {CampaignSetup},
  data: () => {
    return {
      title: "",
      spinner: false,
      newsItems: [],
      showNews: false,
      selectedNewsIndex: 0,
    };
  },
  computed: {
    orcaEmbedded() {
      return ORCA.orcaEmbedded;
    },
    selectedNews() {
      return this.newsItems[this.selectedNewsIndex];
    },
    version() {
      return ORCA.version;
    }
  },
  created() {
    this.loadNews();
    /* Recheck 15 minutes */
    setInterval(this.loadNews, 900000);
  },
  methods: {
    campaignSetup() {
      ORCA.$emit('CampaignSetup');
    },
    executeMenuItem(menuItem) {
      ORCA.executeMenu(menuItem)
    },
    navigateToVueApp() {
      ORCA.navigateToVueApp()
    },
    loadNews() {
      dataService.getPassive(
          'public/service/taxonomy/1',
          (data) => {
            this.newsItems = data;
          },
          {_format: "json"});
    },
    readNews(index) {
      this.selectedNewsIndex = index;
      this.showNews = true;
    },
    getProcessedHtml(field) {
      if (field && field[0]) {
        return field[0].processed;
      } else {
        return ""
      }

    },
    async openApollo() {
      ORCA.openApollo();
    }
  }
}
</script>

<style scoped>
.v-card-text {
  overflow-y: auto;
  height: 50px;
}
</style>