<template>
  <div>
    <v-alert color="secondary">
      <v-icon>warning</v-icon>
      This feature is in the experimental stages. Treat it with care
    </v-alert>
  </div>
</template>

<script>
export default {
  name: "ExperimentalWarning"
}
</script>

<style scoped>

</style>