<template>
  <campaign-page title="File open and exit menus have moved">
    <p>Please use the <strong>Exit</strong> button to close the campaign (if open) and then use the <strong>Open
      Campaign</strong>
      to open a campaign.
    </p>
  </campaign-page>
</template>

<script>
import CampaignPage from "./CampaignPage";

export default {
  name: "FileMenusMoved",
  components: {CampaignPage}
}
</script>

<style scoped>

</style>