<template>
  <div v-if="committee.committee_id">
    <v-form ref="orcaSetupForm" @submit.prevent="createCampaign">
      <v-card flat>
        <v-card-title><h3>Setup for {{ committee.name }} {{ committee.title }} {{ election_code }}</h3></v-card-title>
        <v-card-text>
            <div v-if="committee.continuing  && committee.pac_type !== 'surplus'">
                <p><strong>Select all the elections the committee intends to participate in this year.</strong>
                  <InfoElectionParticipation/>
                </p>
                <v-select  multiple v-model="selectedElections" :items="filteredElections" item-text="title"
                          item-value="election_code"

                           ></v-select>
            </div>
            <div v-if="!committee.continuing || committee.pac_type === 'surplus' || (committee.start_year.toString() === election_code.toString())">
              <h4>Enter the campaign start date:</h4>
              <div>The date should be the same or prior to the first contribution or expenditure received or made by the
                campaign.
                <InfoCampaignStartDate pac-type="committee.pac_type"/>
              </div>
              <DatePicker :required="true" label="Campaign start date" @change="onStartDateChange()"
                          v-model="campaignStartDate"
                          :max-date="maxCampaignStartDate"
              >
              </DatePicker>
            </div>
          <p>
            <strong>Import data from prior campaign?</strong>
            <InfoCarryForwardCampaignData/>
          </p>
            <v-radio-group v-model="radioImport" :rules="[validations.required]">
              <v-radio value="importData" id="importData">
                <template v-slot:label>
                  Yes, carryforward balances and contacts
                </template>
              </v-radio>
              <v-radio value="importContacts" id="importContacts">
                <template v-slot:label>
                  Yes, but contacts only
                </template>
              </v-radio>
              <v-radio value="newCampaign" id="newCampaign">
                <template v-slot:label>
                  No, don't import anything
                </template>
              </v-radio>
            </v-radio-group>
            <v-card max-width="50%" flat>
              <v-select
                  v-model="selectedCampaign"
                  @input="selectedCampaignDataList"
                  :items="filteredCampaigns"
                  item-value="fund_id"
                  item-text="campaign_name"
                  v-if="!!radioImport && radioImport!== ('newCampaign')"
                  label="Select a campaign"
                  :rules="[validations.required]"
                  >
              </v-select>
              <div v-if="showTable">
                <p>
                  <v-alert color="warning">
                    Please check and confirm the following balances are correct.
                    If they are not, you can edit the balances to accurately reflect balances after import or select another option and enter balances manually.
                  </v-alert>
                </p>
                <v-simple-table>
                  <thead>
                    <tr>
                      <th>
                        Account
                      </th>
                      <th>
                        Type
                      </th>
                      <th>
                        Ending balance
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                        v-for="item in selectedCampaignData"
                        :key="item.name"
                    >
                      <td>  {{ item.name }}  </td>
                      <td>  {{ item.title }} </td>
                      <td>  {{ item.total }}  </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </div>
            </v-card>
            <div v-if="committee.pac_type==='surplus'">
              <div>Surplus Committee</div>
              <div>Started: {{ committee.start_year }}</div>
            </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" type="submit"
                  color="primary" :disabled="clicked">
            Setup Campaign
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </div>
</template>

<script>

import DatePicker from "@/components/DatePicker";
import InfoCampaignStartDate from "@/info/CampaignStartDate";
import InfoElectionParticipation from "@/info/ElectionParticipation";
import {dataService} from "@/DataService";
import {orcaDataService} from "@/OrcaDataService";
import FormValidations from "@/formValidations";
import {mapState} from "vuex";
import InfoCarryForwardCampaignData from "@/info/CarryForwardCampaignData";

export default {
  name: "OnlineCampaignSetup",
  components: {
    InfoCarryForwardCampaignData,
    DatePicker,
    InfoCampaignStartDate,
    InfoElectionParticipation,
  },
  props: {
    committee: {
      type: Object,
      default: () =>  {}
    },
    election_code: {
      type: String,
    }
  },
  data() {
    return {
      radioImport: null,
      campaignStartDate: null,
      fundId: [],
      carryForwardAmount: null,
      elections: [],
      selectedElections: [],
      selectedCampaign: null,
      importCampaignData: false,
      importCampaignContacts: false,
      accessibleCampaigns: [],
      selectedCampaignData: [],
      carryForwardRules: [
        v => !/\.\d{3,}/.test(v) || 'Fractional cents are not allowed.'
      ],
      validations: {
        ...FormValidations
      },
      clicked: false,
    }
  },
  computed: {
    ...mapState(['user']),
    maxCampaignStartDate() {
      let max = +this.election_code +1;
      return (max.toString() + '-01-01')
    },
    filteredElections() {
      if (!this.election_code)
        return [];
      if (this.committee.pac_type === 'candidate') {
        return this.elections.filter(e => e.election_code.substring(0, 4) === this.election_code && !e.is_special);
      }
      return this.elections.filter(e => e.election_code.substring(0, 4) === this.election_code);
    },
    filteredCampaigns() {
      if(!this.accessibleCampaigns) {
        return [];
      }
      return this.accessibleCampaigns;
    },
    showTable() {
      if(this.radioImport === 'importData') {
        if(this.selectedCampaign) {
          return true;
        }
      }
      return false;
    }
  },
  created() {
    dataService.query('elections', result => {
      this.elections = result;
    });

    dataService.query('get_campaigns_by_committee_id', result => {
      this.accessibleCampaigns = result;
    }, {
      committee_id: this.committee['committee_id'],
      election_code: this.election_code,
    });

    if (this.committee.continuing && this.committee.pac_type !== 'surplus') {
      this.campaignStartDate = null;
      this.campaignStartDate = null;
      this.selectedElections = [];
    } else if (this.committee.continuing) {
      this.selectedElections = [];
    } else {
      this.selectedElections = [this.committee.election_code];
      this.campaignStartDate = this.committee.registered_at;
    }
  },
  methods: {
    selectedCampaignDataList() {

      orcaDataService.getFundData(this.selectedCampaign, 'get-import-fund-info').then(
          data => {
              return this.selectedCampaignData = data;
          }
      )


    },
    onStartDateChange(startDate) {
      this.campaignStartDate = startDate;
    },
    resetAllData() {
      this.spinner = false;
      this.campaignStartDate = null;
      this.committee = {};
      this.selectedElections = [];
      this.carryForwardAmount = null;
      this.import = null;
    },
    createCampaign() {
      if (this.$refs.orcaSetupForm.validate()) {
        this.clicked = true;
        orcaDataService.committeePost(this.committee.committee_id, 'create-campaign',
                {election_code: this.election_code, campaignStartDate: this.campaignStartDate, carryForwardAmount: this.carryForwardAmount, election_codes: this.selectedElections, importFund: this.selectedCampaign, import: this.radioImport})
                .then(result => {
                  if (result && result.success) {
                    this.$router.replace({name: "ORCA.campaign.fund", params: {fund_id: result.fund_id}});
                  }
                  else  if (result) {
                    alert(result.error);
                  }
                });
      }
    }
  }
}
</script>