<template>
  <span>
    <v-dialog v-model="needsFullSyncDialog" peristent>
      <v-card>
        <v-card-title>Cloud synchronization needed</v-card-title>
        <v-card-text>
          <p>
            It appears that data in the Washington Public Disclosure Commission servers does not match the data in your
            local ORCA file.  We need to perform a full synchronization of your campaign.  This may take some time for
            large campaigns.
          </p>
          <p>Please make sure that you have a stable internet connection prior to proceeding.</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="finishOpen(true)">Synchronize</v-btn>
          <v-btn tabindex="0" @click="finishOpen(false)">Not now</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showOutOfSyncDialog" persistent>
      <v-card>
        <v-card-title>Data conflict detected</v-card-title>
        <v-card-text>
          <div><p>This campaign cannot be loaded because newer campaign data has been previously synchronized.
            This can happen if an older campaign file was restored from a backup or if someone else updated the campaign.
            If you continue, the newer data will be lost, and missing transactions will need to be manually entered.</p>
          <p>After the transactions are deleted you will be able to see a list of them in the transaction log.</p>
          <p>If you are unsure which option to , please press 'Cancel' and contact PDC Support.</p>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="clearOutOfSyncTrans"> Confirm: Delete transactions</v-btn>
          <v-btn tabindex="0" @click="closeCampaignAndOpenSyncDialog">Cancel: Close the campaign</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="campaignOpenErrorDialog" persistent>
      <v-card>
        <v-card-title>Campaign file mismatch</v-card-title>
        <v-card-text>
          <v-alert color="warning"><v-icon>error</v-icon>Your campaign files are mismatched or incorrectly synced. Orca cannot load this campaign. Please contact PDC Support.</v-alert>
        </v-card-text>
        <v-card-actions>
         <v-btn tabindex="0" color="primary" @click="closeCampaign()">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="securityDialog" persistent>
      <v-card>
        <v-card-title>Access denied</v-card-title>
        <v-card-text>
          <v-alert color="warning"><v-icon>error</v-icon>Our records indicate that you do not have access to the campaign
            and the token used  in this campaign is no longer valid.  If you believe this to be in error, please contact PDC Support.</v-alert>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="securityDialog = false">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showUpdateDialog" persistent>
      <v-card v-if="fund && fund.updates">
        <v-card-title>
          Campaign data fixes required
        </v-card-title>
        <v-card-text>
          <p>The following update(s) need to be run:</p>
          <v-list dense>
            <v-list-item v-for="update in fund.updates" :key="update.update_id">
              {{ update.message }}
            </v-list-item>
          </v-list>
          <p>Click “Update” to allow ORCA to correct the error. If you have questions, email pdc@pdc.wa.gov.</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doUpdates">Update</v-btn>
          <v-btn tabindex="0" @click="showUpdateDialog = false">Not Now</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import {orcaDataService} from "../OrcaDataService";

export default {
  name: "OrcaVueController",
  data() {
    return {
      showOutOfSyncDialog: false,
      campaignOpenErrorDialog: false,
      maxDerbyTrankeyGen: null,
      validationPayload: {properties: []},
      needsFullSyncDialog: false,
      securityDialog: false,
      showUpdateDialog: false,
    }
  },
  setup() {
    let campaignDialog = false;
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund, campaignDialog}
  },
  created() {

    // Respond to ORCA navigation events
    ORCA.$on('navigateTo', (locStr) => {
      this.navigateTo(locStr);
    });

    // Respond to campaign load events
    ORCA.$on('openORCACampaign', () => {
      this.handleOpenCampaign();
    })

    ORCA.init();
  },
  methods: {

    navigateTo(locStr) {
      this.$router.push(locStr).catch((err) => {
        if (err.name !== "NavigationDuplicated") {
          throw(err);
        }
      });
    },

    finishOpen(fullSync) {
      if (fullSync) {
        this.validationPayload.properties.push({name: "DERBY_TO_RDS", value: "2020-01-01 00:00:01"});
      }
      this.needsFullSyncDialog = false;
      ORCA.finishOpen(this.validationPayload);
    },

    async getFundId(campaign) {
      let fundIdProperty = campaign.orcaProperties.find((p) => p.name === 'FUND_ID');
      if (fundIdProperty) {
        return new Promise(resolve => {
          resolve(fundIdProperty.value ?? null);
        });
      } else {
        let fund_id = await this.getExistingFundId(campaign);
        return new Promise(resolve => {
          resolve(fund_id)
        });
      }
    },

    async getExistingFundId(campaign) {
      let filer_id = campaign.orcaProperties.find((p) => p.name === 'COMMITTEEINFO:FILERID');
      let election_year = campaign.orcaProperties.find((p) => p.name === 'DATE');
      if (filer_id && election_year) {
        let r = await orcaDataService.getGeneralData('get-fund-id-by-filer-id', {
          'filer_id': filer_id.value,
          'election_year': election_year.value
        });
        return new Promise(resolve => {
          resolve(r.fund_id)
        });
      } else {
        return new Promise(resolve => {
          resolve(null)
        })
      }
    },

    async requestAccess(campaign) {
      let filer_id_p = campaign.orcaProperties.find((p) => p.name === 'COMMITTEEINFO:FILERID');
      let token_p = campaign.orcaProperties.find(p => p.name === 'TOKEN');
      if (token_p && filer_id_p) {
        let request_data = {filer_id: filer_id_p.value, token: token_p.value}
        let hasPermission = await orcaDataService.requestFundAccess(request_data);
        if (!hasPermission) {
          this.securityDialog = true;
        } else {
          this.finishOpen(this.payload);
        }
      }
    },

    doUpdates() {
      ORCA.runUpdates(this.fund.updates);
      this.showUpdateDialog = false;
    },


    // Navigate to and open campaign, checking first to ensure that GUIDs match.
    async handleOpenCampaign() {
      let campaign = ORCA.campaign;
      this.validationPayload = {properties: []};
      let filer_id = campaign.orcaProperties.find((p) => p.name === 'COMMITTEEINFO:FILERID')?.value;
      let fund_id = await this.getFundId(campaign);
      if (fund_id) {
        await this.orcaFund.loadFund(fund_id).catch(error => {
          if (!filer_id.startsWith('TEST.')) {
            if (error && error.response && error.response.status === 403) {
              this.requestAccess(campaign);
            } else {
              ORCA.closeCampaign();
            }
          }
        });

        // Compare funds to make sure we have the same one.
        let loaded_filer_id = this.fund.properties.find((p) => p.name === 'COMMITTEEINFO:FILERID')?.value;
        let election_year = campaign.orcaProperties.find((p) => p.name === 'DATE')?.value;
        if (!this.fund.fund_id || filer_id !== loaded_filer_id) {
          // Attempt to find a fund based on filer_D election year match.
          let existing_fund_id = await this.getExistingFundId(campaign);
          this.validationPayload.properties.push({name: "DERBY_TO_RDS", value: "2020-01-01 00:00:01"});
          if (!existing_fund_id && filer_id.startsWith("TEST.")) {
            let response = await orcaDataService.setupExistingCampaign({
              filer_id: filer_id,
              election_year: election_year
            });
            existing_fund_id = response.data.fund_id;
          }

          if (existing_fund_id) {
            await this.orcaFund.loadFund(existing_fund_id).catch(error => {
              if (!filer_id.startsWith('TEST.')) {
                if (error && error.response && error.response.status === 403) {
                  this.requestAccess(campaign);
                } else {
                  ORCA.closeCampaign();
                }
              }
            });
            if (this.fund.fund_id) {
              this.validationPayload.properties.push({name: "FUND_ID", value: this.fund.fund_id.toString()});
            } else {
              this.validationPayload.properties.push({name: "FUND_ID", value: ""});
            }
          }
        }

        if (this.fund.fund_id) {
          //Add registration related props to validation payload so they will be saved on campaign open
          if (this.fund.registrationProps) {
            this.fund.registrationProps.forEach(prop => this.validationPayload.properties.push(prop));
          }
          if (this.fund.reportingPeriods) {
            this.validationPayload.reportingPeriods = this.fund.reportingPeriods;
          }
          if (this.fund.fund_id) {
            this.navigateTo('/ORCA/campaign/' + this.fund.fund_id);
          }

          if (this.fund.updates) {
            this.showUpdateDialog = true;
          }

          // Check to see if we have a GUID conflict
          let campaignGuid = campaign.orcaProperties.find((p) => p.name === 'GUID');
          let fundGuid = this.fund.properties.find((p) => p.name === 'GUID');
          let fundSync = this.fund.properties.find((p) => p.name === "DERBY_TO_RDS");
          let campaignSync = campaign.orcaProperties.find((p) => p.name === 'DERBY_TO_RDS');
          let forceSync = this.fund.properties.find((p) => p.name === 'FORCE_SYNC');

          if (!fundGuid || (campaignGuid && fundGuid && campaignGuid.value === fundGuid.value)) {
            if (this.fund.max_orca_id > campaign.maxId) {
              this.maxDerbyTrankeyGen = campaign.maxId;
              this.showOutOfSyncDialog = true;
            } else if (this.fund.max_orca_id < campaign.maxId || (campaign.transactions && campaign.transactions !== this.fund.transactions)) {
              // We have an ORCA id that's newer so we need to force a full sync.
              if (campaignSync && fundSync && campaignSync.value <= fundSync.value) {
                this.needsFullSyncDialog = true;
              } else {
                ORCA.finishOpen(this.validationPayload);
              }
            } else if (forceSync) {
              this.needsFullSyncDialog = true;
            } else {
              ORCA.finishOpen(this.validationPayload);
            }
          } else {
            this.campaignOpenErrorDialog = true;
          }
        } else {
          alert("Could not find fund indicated in campaign file! Contact PDC");
          ORCA.closeCampaign();
        }
      }
      if (!fund_id || !this.fund.fund_id) {
        this.finishOpen()
      }
    },
    async clearOutOfSyncTrans() {
      await orcaDataService.postFundObject(this.fund.fund_id, 'purge', {
        max_id: this.maxDerbyTrankeyGen,
        version: ORCA.version
      }).then(
          r => {
            if (r != null) {
              this.showOutOfSyncDialog = false;
              this.handleOpenCampaign();
            } else {
              this.closeCampaignAndOpenSyncDialog();
            }
          }
      );
    },
    closeCampaign() {
      this.campaignOpenErrorDialog = false;
      ORCA.closeCampaign();
    },
    closeCampaignAndOpenSyncDialog() {
      this.showOutOfSyncDialog = false;
      ORCA.closeCampaign();
    }
  }
}
</script>
