<template>
  <span style="width: 7em;" v-if="devMode || version">
    <v-combobox
        style="margin-top: 20px;"
        clearable v-if="devMode"
        label="orca version"
        :items="orcaVersions"
        v-model="version"
        @change="onVersionChange"
        @click:clear="onVersionChange">
    </v-combobox>
    <span v-else>ORCA {{ version }}</span>
  </span>
</template>

<script>
import {ref} from "vue";
import ORCA from "@/ORCABridge";

export default {
  name: "OrcaVersion",
  setup() {
    const devMode = ref(window.location.href.includes("://localhost"));
    const orcaVersions = [
       "1.600",
       "1.500",
       "1.490",
       "1.480",
       "1.470",
       "1.460",
       "1.450",
       "1.440",
       "1.433"
    ]
    if (devMode.value) {
      ORCA.version = 0;
    }
    const version = ref(ORCA.version.toString());
    const onVersionChange = () => {
      ORCA.version = Number.parseFloat(version.value);
      ORCA.orcaEmbedded = !Object.values(window.orcaJava).includes("mock")
    };
    ORCA.$on('init', (v) => {
      ORCA.version =  Number.parseFloat(v);
      version.value = ORCA.version.toLocaleString(undefined, {minimumFractionDigits: 3})
    })
    return {devMode, version, onVersionChange, orcaVersions}
  }

}
</script>
