<template>
  <InfoDialog title="Note on fuzzy-searching">
    <p>
      By default, all text searches are done by "fuzzy-matching," which return results based on the
      similarity of the provided search text. For example, searching for "John L" will return contacts
      named "John Paul" as well as "John L". For more precise searching, the "*" wildcard character
      can be used. Searching for "*John L" will return all names that end in "John L" while searches
      for "*John L*" will match all names containing the exact phrase "John L" - regardless of any
      characters before or after.
    </p>
  </InfoDialog>
</template>

<script>
  import InfoDialog from "@/info/InfoDialog";
  export default {
    components: {InfoDialog},
    name: "SearchTextInfo"
  }
</script>
