<template>
  <div v-if="fund_id">
    <!-- Default template is used to control search display -->
    <v-form ref="search" @submit.prevent="loadTransactions">
      <slot name="default">
        <v-expansion-panels v-if="!noSearch" v-model="searchOpen" accordion>
          <v-expansion-panel>
            <v-expansion-panel-header>
              <div>
                <v-icon>search</v-icon>
              </div>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <p>Enter some information to help us find what you're looking for.
                If everything is left blank, we will select some of the most recent transactions for you.</p>
              <v-text-field v-model="queryParameters.name" label="Contact name" clearable></v-text-field>
              <v-row align="start" dense>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="queryParameters.start_date" label="Earliest date" clearable></date-picker>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="queryParameters.end_date" label="Latest date" clearable></date-picker>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="queryParameters.min_value"
                                label="Minimum"></v-text-field>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="queryParameters.max_value"
                                label="Maximum"/>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <v-select
                      v-model="queryParameters.transaction_type"
                      label="Transaction type"
                      :items="transactionTypes"
                      item-text="value"
                      item-value="id"
                      clearable
                  >
                  </v-select>
                </v-col>
              </v-row>
              <v-btn tabindex="0" type="submit" color="primary" @click="loadTransactions()">Search</v-btn>
              <v-btn tabindex="0" @click="clearSearch()">Clear</v-btn>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </slot>
    </v-form>
    <v-data-table
        :items="transactions"
        :single-expand="true"
        item-key="trankeygen_id"
        :headers="headers"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
    >
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.updated_at="{item}">
        {{ formatDateTime(item.updated_at) }}
      </template>
      <template v-slot:item.amount="{item}">
        <transaction-link :transaction="item"></transaction-link>
      </template>
      <template v-slot:item.deposit_date="{item}">
        <deposit-link :receipt="item"/>
      </template>
      <template v-slot:item.actions="{item}">
        <accessible-button v-if="canDeleteTransaction(item)" @click="tryDeleteTransaction(item)" button-tooltip="Delete transaction">
          <v-icon>delete</v-icon>
        </accessible-button>
      </template>
    </v-data-table>

    <v-dialog v-model="showDeleteTransaction">
      <v-card>
        <v-card-title>Delete {{ transaction.transaction_type.toLowerCase() }}</v-card-title>
        <v-card-text>
          <v-alert type="error" v-if="transaction.deposit_id">
            You can not delete this {{ transaction.transaction_type.toLowerCase() }} after it has been deposited.
          </v-alert>
          <p v-else>
            Are you sure you want to delete this {{ transaction.transaction_type }} of
            {{ formatMoney(transaction.amount) }} on {{ formatDate(transaction.date_) }}
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" :disabled="transaction.deposit_id" @click="doDeleteTransaction">
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteTransaction=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import filters from "../filters";
import {useOrcaFund} from "./fund/Fund";
import {orcaDataService} from "../OrcaDataService";
import TransactionLink from "./TransactionLink";
import DatePicker from "../components/DatePicker";
import DepositLink from "./deposits/DepositLink";
import ORCA from "../ORCABridge";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "TransactionSearch",
  components: {AccessibleButton, DepositLink, DatePicker, TransactionLink},
  props: {
    // The default fund query path for the search.
    query: {
      type: String,
      default: 'transaction-search',
    },
    // Headers to add to the list of possible headers established by the control as a default
    parameters: {
      type: Object,
      default: () => {
      },
      additionalHeaders: [],
    },
    noSearch: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      showDeleteTransaction: false,
      transaction: {transaction_type: '', date: null, amount: 0.0},
      searchOpen: true,
      queryParameters: {},
      transactions: [],
      possibleHeaders: [
        {text: "Date", value: "date_"},
        {text: "Name", value: "name", limitTo: () => !this.queryParameters.contid},
        {text: "Amount", value: "amount", align: "end"},
        {
          text: "Type",
          value: "transaction_type",
          limitTo: () => !this.queryParameters.type && !this.queryParameters.transaction_type
        },
        {text: "Description", value: "description"},
        {text: "Deposited", value: "deposit_date"},
        {text: "Updated", value: "updated_at"},
        {text: "", value: "actions"},
      ]
    }
  },
  setup() {

    const {fund_id} = useOrcaFund();
    return {fund_id}
  },
  created() {
    // Perform property initialization.
    this.loadTransactions();
    this.buildParameters();
  },
  watch: {
    fund_id() {
      this.loadTransactions();
    },
    parameters() {
      this.buildParameters();
      this.loadTransactions();
    }
  },
  computed: {
    headers() {
      return this.possibleHeaders.filter(c => {
            return !c.limitTo || c.limitTo()
          }
      );
    }
  },
  methods: {
    ...filters.filters,
    buildParameters() {
      Object.assign(this.queryParameters, this.parameters);
    },
    loadTransactions() {
      if (this.fund_id) {
        orcaDataService.getFundData(this.fund_id, this.query, this.parameters).then(data => {
          if (data.success) {
            this.transactions = data[this.query];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length);
          } else {
            this.transactions = [];
            this.showMaxResultMessage = false;
          }
          this.$emit('load', this.transactions.length)
        });
      } else {
        this.transactions = [];
      }
    },
    canDeleteTransaction(transaction) {
      return ORCA.version >= 1.480 && transaction.transaction_type
          && transaction.transaction_type
          && transaction.transaction_type !== 'Pledge'
          && transaction.transaction_type !== 'Expenditure'
          && transaction.transaction_type !== 'Debt'
          && transaction.transaction_type !== 'Loan'
          && transaction.transaction_type !== 'In Kind Loan'
          && transaction.transaction_type !== 'Low Cost Fundraiser'
          && transaction.transaction_type !== 'Refund From Vendor'
          && !transaction.transaction_type.startsWith('Correction')
          && !transaction.transaction_type.startsWith("Auction")
    },
    tryDeleteTransaction(transaction) {
      this.transaction = transaction;
      this.showDeleteTransaction = true;
    },
    doDeleteTransaction() {
      orcaDataService.deleteFundObject(this.fund_id, 'transaction', this.transaction.trankeygen_id)
          .then(result => {
            if (result && result.success) {
              ORCA.deleteReceipt(this.transaction);
              this.loadTransactions();
              this.showDeleteTransaction = false;
              this.$emit('transaction-delete');
            } else {
              alert("Unable to delete " + this.transaction.transaction_type)
            }
          });
    },
  }
}
</script>

