<template>
  <span>
    <span v-if="route && icon">
      <accessible-button :to="route" button-tooltip="Edit"><v-icon>{{ icon }}</v-icon></accessible-button>
    </span>
    <router-link v-else-if="route" :to="route">
      {{ linkLabel }}
    </router-link>
    <span v-else-if="!icon">{{ linkLabel }}</span>
  </span>
</template>

<script>
import filters from "../filters";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "TransactionLink",
  components: {AccessibleButton},
  props: {
    // Indicates the label for the transaction
    label: String,
    // vreceipt entry that matches the transaction.
    transaction: Object,
    icon: String,
  },
  computed: {
    route() {
      let route = {params: {id: this.transaction.trankeygen_id}};
      switch (this.transaction?.transaction_type) {
        case "Personal Funds":
        case "Monetary Contribution":
        case "Monetary Pledge":
          route.name = "ORCA.fund.edit-monetary-contribution"
          break;
        case "Monetary Group Contribution":
          route.name = "ORCA.fund.edit-monetary-group-contribution"
          break;
        case "In Kind Contribution":
        case "In Kind Pledge Payment":
          route.name = "ORCA.fund.edit-inkind-contribution"
          break;
        case "Anonymous Contribution":
          route.name = "ORCA.fund.edit-anonymous-contribution"
          break;
        case "Expenditure":
          route.name = "ORCA.fund.edit-expenditure";
          route.params.id = this.transaction.pid;
          break;
        case "Refund Contribution":
          route.name = "ORCA.fund.edit-refund-contribution";
          break;
        case "Fundraiser Contribution":
          route.name = "ORCA.fund.add-fundraiser-contribution";
          break;
        case "Low Cost Fundraiser":
          route.name = "ORCA.fund.edit-low-cost-fundraiser";
          break;
        case "Other Receipt":
          route.name = "ORCA.fund.edit-misc-other"
          break;
        case "Bank Interest":
          route.name = "ORCA.fund.edit-misc-bank-interest"
          break;
        case "Refund From Vendor":
          route.name = "ORCA.fund.edit-vendor-refund"
          break;
        case "Correction Expense":
        case "Correction Receipt":
        case "Correction In Kind":
          if ((this.transaction.reported_type === 34) || (this.transaction.reported_type === 24)) {
            route.name = 'ORCA.fund.math-error-adjustment';
          } else {
            route.name = 'ORCA.fund.transaction-adjustment';
          }
          break;
        case "Account Adjustment":
          route.name = "ORCA.fund.edit-account-transfer"
          break;
        case "Loan Endorsement":
          route.name = "ORCA.fund.loan"
          route.params.id = this.transaction.pid;
          break;
        case "Pledge Cancelled" :
          route.name = "ORCA.fund.edit-pledge-cancel"
          route.params.id = this.transaction.trankeygen_id;
          route.params.pledge_id = this.transaction.pid;
          break;
        default:
          return null;
      }
      return route;
    },
    linkLabel() {
      if (this.label) {
        return this.label;
      } else {
        return this.formatMoney(this.transaction.amount);
      }
    }
  },
  methods: {
    ...filters.filters
  }
}
</script>
