<template>
  <div class="transactionSelect">
          <span v-if="transaction_id">
            <slot name="display" :transaction="transaction">
              <strong>{{ displayName }}</strong> {{ transaction.transaction_type }} {{ formatDate(transaction.date_) }} {{ formatMoney(transaction.amount) }}
            </slot>
          </span>
    <span v-else>
            {{ label }}
          </span>
    &nbsp;<v-btn tabindex="0" small @click="onShowTransactionSelectDialog()" v-if="!disabled">
    <v-icon small>search</v-icon>
    Find
  </v-btn>

    <v-dialog v-model="showTransactionSelectDialog" width="40em" persistent>
      <v-card>
        <v-card-title>
          {{ label }}
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>

          <v-data-table
              :search="search"
              :items="transactions"
              item-key="trankeygen_id"
              :headers="headers"
              :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
              @click:row="onTransactionSelect"
          >
            <template v-slot:item.amount="{item}">
              {{ item.amount }}
            </template>
            <template v-slot:item.date_="{item}">
              {{ formatDate(item.date_) }}
            </template>
            <template v-slot:item.elekey="{item}">
              {{ getElectionName(item.elekey) }}
            </template>

          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="onCloseTransactionSelectDialog()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import filters from "../filters";
import {orcaDataService} from "../OrcaDataService";
import {useOrcaFund} from "./fund/Fund";
// noinspection ES6ShorthandObjectProperty,BadExpressionStatementJS
export default {
  name: "TransactionSelect",
  props: {
    query: {
      type: String,
      default: 'transaction-search'
    },
    params: {
      type: Object,
      default: () => {
      },
    },
    label: {
      type: String
    },
    value: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    autoOpen: {
      type: Boolean,
      default: true,
    }
  },
  emits: [
    'input',
    'refund-amount',
    'transaction-loaded'
  ],
  setup() {
    const {fund} = useOrcaFund();
    return {fund,};
  },
  data() {
    return {
      transaction: {},
      search: "",
      showTransactionSelectDialog: false,
      transactions: [],
      transaction_id: null,
      headers: [
        {text: "Amount", value: "amount", align: "end"},
        {text: "Name", value: "name"},
        {text: "Date", value: "date_"},
        {text: "Election", value: "elekey"},
        {text: "", value: "actions"}
      ],
    }
  },
  computed: {
    displayName() {
      return this.transaction.name;
    },
  },
  created() {
    this.transaction_id = this.value;
    if (this.transaction_id) {
      this.loadTransaction();
    }
  },
  mounted() {
    if (this.autoOpen && !this.disabled) {
      this.onShowTransactionSelectDialog();
    }
  },
  watch: {
    value: function (value) {
      if (value) {
        this.transaction_id = value;
        this.loadTransaction();
      } else {
        this.transaction = {};
        this.transaction_id = null;
      }
    },
  },
  methods: {
    async loadTransaction() {
      const transaction = await orcaDataService.getFundObject(this.fund.fund_id, 'transaction', this.transaction_id);
      if (transaction) {
        this.transaction = transaction
      } else {
        this.transaction = {};
      }
      this.$emit('transaction-loaded', this.transaction);
    },
    onShowTransactionSelectDialog() {
      this.loadTransactions();
      this.showTransactionSelectDialog = true;
    },
    onCloseTransactionSelectDialog() {
      this.showTransactionSelectDialog = false;
    },
    async onTransactionSelect(transaction) {
      this.transaction_id = transaction.trankeygen_id
      await this.loadTransaction();
      this.$emit('input', this.transaction_id);
      this.showTransactionSelectDialog = false;
    },
    getElectionName(code) {
      switch (code) {
        case 0:
          return 'Primary'
        case 1:
          return 'General'
        default:
          return "";
      }
    },
    loadTransactions() {
      if (this.fund.fund_id)
        orcaDataService.getFundData(this.fund.fund_id, this.query, this.params).then(data => {
          if (data.success) {
            this.transactions = data[this.query];
          } else {
            this.transactions = [];
          }
        });
    },
    ...filters.filters
  }
}
</script>