<template>
  <div>
    <slot name="header"/>
    <v-text-field v-model="search" append-icon="mdi-magnify" label="Search in results" single-line
                  hide-details></v-text-field>
    <v-data-table
        :search="search"
        :items="transactions"
        :headers="headers"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
    >
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.amount="{item}">
        {{ formatMoney(item.amount) }}
      </template>
    </v-data-table>
    <slot name="maximumResultMessage" v-if="showMaxResultMessage">
      <v-alert color="secondary">
        <v-icon>info</v-icon>
        Only showing the first {{ maxResults }} results.
      </v-alert>
    </slot>
    <slot name="default"/>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "@/orca/fund/Fund";
import filters from "@/filters";

export default {
  name: "TransactionDataTable",
  props: {
    query: {
      type: String
    },
    parameters: {
      type: Object
    },
    maxResults: {
      type: Number
    }
  },
  data() {
    return {
      search: "",
      showMaxResultMessage: false,
      transactions: [],
      headers: [
        {text: "Date", value: "date_"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Type", value: "transaction_type"},
        {text: "Description", value: "description"},
        {text: "Name", value: "name"}
      ],
    }
  },
  methods: {
    loadTransactions(fund) {
      if (fund.fund_id) {
        orcaDataService.getFundData(fund.fund_id, this.query, this.parameters).then(data => {
          if (data.success) {
            this.transactions = data[this.query];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length);
          } else {
            this.transactions = [];
            this.showMaxResultMessage = false;
          }
          this.$emit('load', this.transactions.length)
        });
      } else {
        this.transactions = [];
      }
    },
    ...filters.filters
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {

    ORCA.$on('loadFund', this.loadTransactions);
    this.loadTransactions(this.fund);

  },
  beforeDestroy() {
    ORCA.$off('loadFund', this.loadTransactions);
  }
}
</script>

<style scoped>

</style>