<template>
  <div>
    <v-menu v-if="version>=1.460">
      <template v-slot:activator="{attrs, on}">
        <v-btn tabindex="0" small color="primary" v-bind="attrs" v-on="on">
          <v-icon>add</v-icon>
          New expense
        </v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(expense, index) in filteredAddExpenseTypes" :key="index" link :to="{name: expense.route}">
          <v-list-item-title>{{ expense.value }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>

import ORCA from "@/ORCABridge"

export default {
  name: "AddExpenses",
  data() {
    return {
      addExpenseTypes: [
        {value: 'Monetary expenditure', route: 'ORCA.fund.add-expenditure', version: 1.420},
        {value: 'Vendor debt', route: 'ORCA.fund.add-invoiced-expense', version: 1.490},
        {value: 'Debt payment', route: 'ORCA.fund.add-vendor-debt-payment', version: 1.490},
        {value: 'Refund contribution', route: 'ORCA.fund.add-refund-contribution', version: 1.460},
        {value: 'Loan payment', route: 'ORCA.fund.add-loan-payment', version: 1.480},
        {value: 'Credit card payment', route: 'ORCA.fund.add-credit-card-payment', version: 1.490},
      ]
    }
  },
  computed: {
    version() {
      return ORCA.version;
    },
    filteredAddExpenseTypes() {
      return this.addExpenseTypes.filter(item => ORCA.version >= item.version)
    }
  }
}
</script>