<template>
  <div class="addExpenditure">
    <campaign-page :title="pageTitle" return-route="ORCA.fund.expenditure-search" @load="setupEditExpenditure">
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access {{ pageTitle }} from the ORCA version 1.420 or
        greater.
      </v-alert>
      <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
        <v-icon>error</v-icon>
        Missing accounts for fund. Please contact support.
      </v-alert>
      <template v-slot:toolbar>
        <v-btn
          v-if="is_editing && expenses.length<=1 && orcaVersion >= 1.490"
          :to="{name: 'ORCA.fund.edit-vendor-refund', params: {pid: firstExpenseItem.trankeygen_id}}"
          small
          color="primary"
        >
          <v-icon>u_turn_left</v-icon>
          Vendor Refund
        </v-btn>
        <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.expenditure-search'}">
          <v-icon>search</v-icon>
          Expenditure Search
        </v-btn>
        <add-expenses/>
      </template>
      <v-form ref="expenditureForm" lazy-validation @submit.prevent="trySave()">
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6">
                <v-row>
                  <v-col cols="6">
                    <ContactSelect
                      autofocus
                      ref="vendorEntry"
                      label="Vendor paid"
                      v-model="expenditureEvent.contid"
                      :testEmpAddress="false"
                      :requireAddress="true"
                      :rules="[validations.required]"
                      @valid-contact="onValidVendorContact"
                      @contact-selected="updateOrcaContact"
                    />
                  </v-col>
                  <v-col cols="6">
                    <date-picker
                      ref="expense_date"
                      label="Expense date"
                      v-model="expenditureEvent.date_"
                      :required=true
                      :max-date="maxExpenditureDate"
                    >
                    </date-picker>
                  </v-col>
                </v-row>
                <v-autocomplete
                  v-if="!hideBankAccount"
                  :items=bankAccounts
                  v-model="expenditureEvent.bnkid"
                  label="Account name"
                  item-text="name"
                  item-value="trankeygen_id"
                  :rules="[validations.required]"
                  @change="expenseActions.loadAvailableBalance()"
                >
                </v-autocomplete>

                <template v-if="displayBalance">
                  <div v-if="expenditure.acctnum < 2000">Available:
                    {{formatMoney(expenditureBalance)}}
                  </div>
                  <div v-else>Balance: {{ formatMoney(expenditure.balance) }}</div>
                </template>
                <div class="info-icon-positioning">
                  <v-checkbox tabindex="0"
                    v-if="showSubvendors"
                    v-model="hasSubvendor"
                    @change="onSubvendorChange"
                    :disabled="hasSubvendorContactsSpecified"
                    label="This expenditure includes a reimbursement or payment to a sub-vendor."
                  >
                    <template v-slot:append>
                      <subvendor-info/>
                    </template>
                  </v-checkbox>
                </div>

              </v-col>
              <v-col cols="12" md="6" lg="6" sm="12" xs="12">
                <!--This column will hold the expense item form. Once there are more than 1 expense items, it will become a dialog for multi-edit.-->
                <div v-if="expenses.length <= 1">
                  <v-autocomplete
                    :items=expenseItemAccounts
                    v-model="firstExpenseItem.cid"
                    label="Category or account"
                    item-text="name"
                    item-value="trankeygen_id"
                    :rules="[validations.required]"
                    @change="setDefaultFirstExpenseDescription()"
                  >
                    <template v-slot:item="{item}">
                      <v-list-item-icon>
                        <v-icon v-if="item && item.usage_count > 0" color="warning">star</v-icon>
                        <v-icon v-else-if="item.deprecated" color="error">dangerous</v-icon>
                        <v-icon v-else color="primary">circle</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title v-text="item.name"></v-list-item-title>
                      </v-list-item-content>
                    </template>
                    >
                  </v-autocomplete>

                  <ContactSelect
                    v-if="hasSubvendor"
                    v-model="firstExpenseItem.contid"
                    @contact-selected="updateExpenseContact(firstExpenseItem, $event)"
                    :rules="[validations.required]"
                    label="Providing vendor"
                    ref="firstExpenseVendorEntry"
                  />
                  <v-text-field
                    v-model="firstExpenseItem.amount"
                    label="Amount"
                    type="Number"
                    :rules="[validations.required, validations.positiveAmount]"
                    prefix="$"
                  ></v-text-field>
                  <v-textarea
                    v-model="firstExpenseItem.user_description"
                    label="Expense item description"
                    auto-grow
                    :rules="[validations.max1000, validations.requireString]"
                  >
                  </v-textarea>
                  <p class="help-text" v-if="this.descriptionHelpText">{{ descriptionHelpText }}</p>

                  <SelectAdvertisement v-if="requiresAd && showAd" v-model="firstExpenseItem.ad_id"/>
                </div>
                <div v-if="expenses.length > 1">
                  <v-simple-table>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">
                            Vendor
                          </th>
                          <th class="text-left">
                            Amount
                          </th>
                          <th class="text-left">
                            Description
                          </th>
                          <th class="text-left">
                          </th>
                          <th class="text-left">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="(item,index) in expenses"
                          :key="index"
                        >
                          <td>{{ (contacts.find(contact => contact.trankeygen_id === item.contid)).name }}</td>
                          <td>{{ formatMoney(item.amount) }}</td>
                          <td>{{ item.user_description }}</td>
                          <td>
                            <v-btn tabindex="0" icon text small @click="chooseExpenseItem(index)">
                              <v-icon>edit</v-icon>
                            </v-btn>
                          </td>
                          <td>
                            <v-btn tabindex="0" icon text small @click="tryDeleteExpense(index)">
                              <v-icon>delete</v-icon>
                            </v-btn>
                          </td>
                          <td>
                            <span v-if="item.type!==27 && orcaVersion >= 1.490">
                              <accessible-button
                                v-if="is_editing && item.trankeygen_id"
                                icon
                                text
                                small
                                button-tooltip="Vendor refund"
                                :to="{name: 'ORCA.fund.edit-vendor-refund', params: {pid: item.trankeygen_id}}"
                              >
                                <v-icon>u_turn_left</v-icon>
                              </accessible-button>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>Total</td>
                          <td>{{ formatMoney(expenditureEvent.amount) }}</td>
                          <td colspan="3"></td>
                        </tr>
                      </tfoot>
                    </template>
                  </v-simple-table>
                </div>
                <p v-if="!surplusFunds">How do I properly report expenses?
                  <expense-entry-help/>
                </p>
                <p v-if="surplusFunds">How do I properly dispose of surplus funds?
                  <surplus-funds-help/>
                </p>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col cols="12" md="6">
                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      v-model="expenditureEvent.checkno"
                      label="Check number (optional)"
                      width="50px"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-checkbox tabindex="0"
                      v-model="expenditureEvent.itemized"
                      v-bind:false-value=0
                      v-bind:true-value=1
                      :label="'Itemize (optional)'"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="expenditureEvent.memo"
                      label="Memo"
                      :rules="[validations.max255]"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-btn tabindex="0" color="primary" @click="addExpenseItem()">
              Add more expenses
            </v-btn>
            <v-btn tabindex="0" v-if="is_editing && ! vendorDebt" @click="showDeleteExpenditure=true">Delete</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>

      <v-dialog v-model="expenseItemDialog" width="30em">
        <v-form ref="expenseItemForm" @submit.prevent="tryPersistExpenseItem(false)" lazy-validation>
          <v-card>
            <v-card-title>Add/edit expense item</v-card-title>
            <v-card-text>
              <v-autocomplete
                :items=expenseItemAccounts
                v-model="selectedExpenseItem.cid"
                label="Enter account name"
                item-text="name"
                item-value="trankeygen_id"
                :rules="[validations.required]"
                @change="setDefaultSelectedExpenseDescription()"
              >
                <template v-slot:item="{item}">
                  <v-list-item-icon>
                    <v-icon v-if="item && item.usage_count > 0" color="warning">star</v-icon>
                    <v-icon v-else-if="item.deprecated" color="error">dangerous</v-icon>
                    <v-icon v-else color="primary">circle</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.name"></v-list-item-title>
                  </v-list-item-content>
                </template>
              </v-autocomplete>

              <ContactSelect
                v-if="hasSubvendor"
                v-model="selectedExpenseItem.contid"
                @contact-selected="updateExpenseContact(selectedExpenseItem, $event)"
                :rules="[validations.required]"
                ref="selectedExpenseVendorEntry"
                label="Providing vendor"
              />

              <v-text-field
                v-model="selectedExpenseItem.amount"
                label="Amount"
                type="Number"
                :rules="[validations.required, validations.positiveAmount]"
              ></v-text-field>

              <v-textarea
                v-model="selectedExpenseItem.user_description"
                auto-grow
                label="Description"
                :rules="[ validations.requireString, validations.max1000]"
              >
              </v-textarea>
              <p class="help-text" v-if="this.requiresDescription">{{ descriptionHelpText }}</p>
              <SelectAdvertisement
                v-if="selectedExpenseItem.has_ad && showAd"
                v-model="selectedExpenseItem.ad_id"
              />
            </v-card-text>

            <v-card-actions>
              <v-btn tabindex="0" type="submit" color="primary">Ok</v-btn>
              <v-btn tabindex="0" @click="expenseItemDialog=false">Cancel</v-btn>
              <v-btn tabindex="0" v-if="!editFlag" @click="tryPersistExpenseItem(true)">Add another</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>

      <v-dialog v-model="showDeleteExpense" width="30em">
        <v-card>
          <v-card-title>Confirm delete</v-card-title>
          <v-card-text>
            Are you sure you want to remove {{ selectedExpenseItem.user_description }} for
            {{ formatMoney(selectedExpenseItem.amount) }}?
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" @click="doDeleteExpense">
              <v-icon>check</v-icon>
              Ok
            </v-btn>
            <v-btn tabindex="0" @click="showDeleteExpense=false">
              <v-icon>cancel</v-icon>
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="showDeleteExpenditure" width="30em">
        <v-card>
          <v-card-title>Confirm delete</v-card-title>
          <v-card-text>
            Are you sure you want to remove expenditure by {{ expenditureEvent.name }}?
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" @click="deleteExpenditure">
              <v-icon>check</v-icon>
              Ok
            </v-btn>
            <v-btn tabindex="0" @click="showDeleteExpenditure=false">
              <v-icon>cancel</v-icon>
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="expenditureErrorsDialog" width="30em">
        <v-card>
          <v-card-title>
            Transaction warnings
          </v-card-title>
          <v-card-text>
            <div v-if="!hasSufficientFunds">
              <v-alert color="warning" border="left">Funds notice: You do not have sufficient funds in the selected
                account.
              </v-alert>
            </div>
            <p>Do you wish to ignore warnings and continue?</p>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" @click="confirmErrors">Yes</v-btn>
            <v-btn tabindex="0" @click="expenditureErrorsDialog=false">No</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </campaign-page>
  </div>
</template>

<script>
  import AccessibleButton from "@/components/AccessibleButton";
  import AddExpenses from "./AddExpenses";
  import CampaignPage from "@/orca/CampaignPage";
  import ContactSelect from "@/orca/contacts/ContactSelect";
  import DatePicker from "@/components/DatePicker";
  import ExpenseEntryHelp from "./ExpenseEntryHelp";
  import ORCA from "@/ORCABridge";
  import SelectAdvertisement from "@/orca/advertisements/SelectAdvertisement";
  import SubvendorInfo from "./SubvendorInfo";
  import SurplusFundsHelp from "./SurplusFundsHelp";
  import filters from "@/filters";
  import formValidations from "@/formValidations";
  import { useContactList } from '@/orca/contacts/ContactList';
  import { useExpenditure } from "@/orca/expenditures/Expenditure";
  import { useOrcaFund } from "@/orca/fund/Fund";

  export default {
    name: "EditExpenditure",
    components: {
      AccessibleButton,
      AddExpenses,
      CampaignPage,
      ContactSelect,
      DatePicker,
      ExpenseEntryHelp,
      SelectAdvertisement,
      SubvendorInfo,
      SurplusFundsHelp,
    },
    setup() {
      const { fund, orcaFund } = useOrcaFund();
      const { expenditure, expenseActions } = useExpenditure();
      const { contacts } = useContactList();
      return {fund, orcaFund, expenditure, expenseActions, contacts}
    },
    data() {
      return {
        accounts: [],
        amount: 0.0,
        descriptionHelpText: '',
        editFlag: false,
        expenditureErrorsDialog: false,
        expenseItemDialog: false,
        hasSubvendor: false,
        hasSufficientFunds: false,
        lastSelectedAdId: null,
        layoutSelection: "single",
        message: "",
        requiresAd: false,
        requiresDescription: false,
        saveRequested: false,
        selectedContact: {},
        selectedExpenseIndex: -1,
        showDeleteExpenditure: false,
        showDeleteExpense: false,
        surplusFunds: false,
        vendorDebt: false,
        selectedExpenseItem: {
          cid: null,
          user_description: '',
          amount: null,
          contid: null,
          bnkid: null,
          has_ad: null
        },
        messages: [
          {
            errorText: "",
            buttonText: "",
            buttonAction: ""
          }
        ],
        validations: {
          ...formValidations
        },

      }
    },
    computed: {
      /**
       * Returns expenditure balance.
       *   Minus any expenses present on the expenditure.
       *
       * @returns {<number>|number}
       */
      expenditureBalance(){
        let expenditure_total = 0;
        this.expenditure.expenses.map(e => expenditure_total += parseFloat(e.amount));
        if(isNaN(expenditure_total)){
          return this.expenditure.balance;
        }
        return this.expenditure.balance - expenditure_total;
      },
      displayBalance() {
        return !!this.expenditureEvent.bnkid
            && Number.parseInt(this.expenditure.acctnum) !== 2000
            && this.expenditureEvent.acctnum !== 2000;
      },
      firstExpenseItem() {
        return this.expenditure.expenses[0];
      },
      expenditureEvent() {
        return this.expenditure.expenditureEvent;
      },
      expenses() {
        return this.expenditure.expenses;
      },
      bankAccounts() {
        if (this.fund.accounts) {
          return this.fund.accounts.filter(a => a.acctnum === 1000 || a.acctnum === 1800 || (a.acctnum === 2600 && ORCA.version >= 1.490));
        } else {
          return [];
        }
      },
      expenseItemAccounts() {
        if (this.fund.accounts) {
          let accountNameSort = function (a, b) {

            if (a.usage_count > 0 && b.usage_count <= 0) return -1;
            if (a.usage_count <= 0 && b.usage_count > 0) return 1;

            if (a.deprecated && !b.deprecated) return 1;
            if (!a.deprecated && b.deprecated) return -1;

            if (a.name > b.name) return 1;
            if (a.name < b.name) return -1;

            return 0;
          };

          if (this.surplusFunds) {
            return this.fund.accounts.filter(a => a.cat_lookup === 'surplus').sort(accountNameSort);
          } else {
            return this.fund.accounts.filter(a => a.acctnum >= 5000 && !a.pid && a.cat_lookup !== 'surplus').sort(accountNameSort);
          }
        } else {
          return [];
        }
      },
      maxExpenditureDate() {

        return this.currentDatePlusOneMonth();
      },
      disableEdit() {
        return (ORCA.version < 1.420)
      },
      showSubvendors() {
        return (ORCA.version > 1.420)
      },
      orcaVersion() {
        return (ORCA.version)
      },
      pageTitle() {
        if (this.vendorDebt) {
          return "Vendor debt"
        } else {
          return this.surplusFunds ? 'Spend surplus funds' : 'Monetary expenditure';
        }
      },
      hasSubvendorContactsSpecified() {
        return !!(this.hasSubvendor && this.expenses.find((exp) => exp.contid && exp.contid !== this.expenditureEvent.contid));
      },
      showAd() {
        return (ORCA.version >= 1.600)
      },
      hideBankAccount() {
        return this.expenditureEvent.acctnum === 2000;
      },
      is_editing() {
        return 'id' in this.$route.params
      }
    },
    created() {
      this.$on('input', (ad_id) => {
        this.lastSelectedAdId = ad_id;
      });
    },
    watch: {
      $route() {
        this.onRouteChange()
      }
    },
    methods: {
      ...filters.filters,
      setupEditExpenditure() {
        this.onRouteChange()
        this.setDefaultBankId()
      },
      clearForm() {
        this.$refs.expenditureForm?.reset()

        this.expenditure.expenditureEvent.bnkid = 0
        this.expenditure.expenditureEvent.itemized = 0
      },
      ignoreVueDuplicateRouteError(error) {
        // Ignore the vue router error regarding navigating to the page they are already on.
        if (
          error.name !== 'NavigationDuplicated' &&
          ! error.message.includes('Avoided redundant navigation to current location')
        ) {
          console.log(error);
        }
      },
      async onRouteChange() {
        if (this.fund.fund_id === 0) {
          return
        }

        this.vendorDebt = this.$route.name.includes("invoiced-expense")

        if (this.is_editing) {
          try {
            const result = await this.expenseActions.loadExpenditure(this.$route.params.id)
            const expenditure_event = result.expenditureEvent

            // This safety precaution would only happen if you navigated to the expense by URL
            // and you ended up on the wrong one
            if (! this.vendorDebt && expenditure_event.acctnum === 2000) {
              this.vendorDebt = true
              this.$router.replace({
                name: 'ORCA.fund.edit-invoiced-expense',
                params: { id: expenditure_event.trankeygen_id }
              }).catch(error => this.ignoreVueDuplicateRouteError(error))
            }
            if (! this.surplusFunds && expenditure_event.uses_surplus_funds) {
              this.surplusFunds = true
              this.$router.replace({
                name: 'ORCA.fund.edit-surplus-expenditure',
                params: { id: expenditure_event.trankeygen_id }
              }).catch(error => this.ignoreVueDuplicateRouteError(error))
            }
            if (this.surplusFunds && ! expenditure_event.uses_surplus_funds) {
              this.surplusFunds = false
              this.$router.replace({
                name: 'ORCA.fund.edit-expenditure',
                params: { id: expenditure_event.trankeygen_id }
              }).catch(error => this.ignoreVueDuplicateRouteError(error))
            }

            // Determine whether subvendors exist on this expense item.
            if (this.expenses.find(exp => exp.contid !== this.expenditureEvent.contid)) {
              this.hasSubvendor = true
            }

            this.expenditure.acctnum = expenditure_event.acctnum
          }
          catch (error) {
            console.log(error)
          }
        }

        // on create
        else {
          this.clearForm()

          this.expenseActions.newExpenditure()
          this.hasSubvendor = false
          this.$nextTick(() => this.$refs.expenditureForm.resetValidation())

          this.surplusFunds = this.$route.name.includes('add-surplus-expenditure')

          if (this.vendorDebt) {
            this.expenditureEvent.acctnum = 2000
            this.expenditure.acctnum = 2000
          }
          else {
            this.expenditureEvent.acctnum = null
            this.expenditure.acctnum = null
          }
        }
      },
      onValidVendorContact() {
        this.expenseItemSoftValidation(true);
      },
      updateUsageCount(expenseItem) {
        let accountIndex = this.fund.accounts.findIndex((a) => a.trankeygen_id === expenseItem.cid);
        this.fund.accounts[accountIndex].usage_count++;
      },
      setDefaultFirstExpenseDescription() {
        this.firstExpenseItem.user_description = null;
        this.descriptionHelpText = null;
        let account = this.fund.accounts.find((a) => a.trankeygen_id === this.firstExpenseItem.cid);
        if (!account.has_ad) {
          this.firstExpenseItem.ad_id = null;
        } else {
          this.firstExpenseItem.ad_id = this.lastSelectedAdId;
        }
        this.requiresDescription = account.requires_description;
        this.requiresAd = account.has_ad;
        if (this.firstExpenseItem.cid) {
          if (!this.requiresDescription) {
            this.firstExpenseItem.user_description = account.label;
          }
          this.descriptionHelpText = account.help_text;
        }
      },
      setDefaultSelectedExpenseDescription() {
        this.selectedExpenseItem.user_description = null;
        this.descriptionHelpText = null;
        let account = this.fund.accounts.find((a) => a.trankeygen_id === this.selectedExpenseItem.cid);
        if (!account.has_ad) {
          this.selectedExpenseItem.ad_id = null;
        } else {
          this.selectedExpenseItem.ad_id = this.lastSelectedAdId;
        }
        this.requiresDescription = account.requires_description;
        this.selectedExpenseItem.has_ad = account.has_ad;
        if (this.selectedExpenseItem.cid) {
          if (!this.requiresDescription) {
            this.selectedExpenseItem.user_description = account.label;
          }
          this.descriptionHelpText = account.help_text;
        }
      },
      setDefaultBankId() {
        if (this.bankAccounts.length <= 2 && this.bankAccounts.length > 0 && !this.expenditureEvent.bnkid && !this.vendorDebt) {
          this.expenditureEvent.bnkid = this.bankAccounts[0].trankeygen_id;
          this.expenseActions.loadAvailableBalance();
        }
      },
      async confirmErrors() {
        if (this.saveRequested) {
          try {
            await this.expenseActions.saveExpenditure()

            this.message = "Saved expense #" +
                           this.expenditure.expenditureEvent.rds_id +
                           " at " +
                           this.formatDateTime(this.expenditure.expenditureEvent.updated_at)

            if (! this.is_editing) {
              this.expenseActions.newExpenditure()
              this.hasSubvendor = false
              this.setDefaultFirstExpenseDescription()
              this.$nextTick(() => this.$refs.expenditureForm.resetValidation())
            }
          }
          catch (error) {
            console.log(error)
          }
        }
        else {
          if (this.expenses.length > 0 && this.$refs.expenseItemForm.validate()) {
            this.setSelectedExpenseItem();
            this.selectedExpenseItem.amount = null;
            this.setDefaultSelectedExpenseDescription();
          }
        }
        this.expenditureErrorsDialog = false;
      },

      async trySave() {
        if (this.$refs.expenditureForm.validate()) {
          this.updateUsageCount(this.firstExpenseItem);
          this.firstExpenseItem.did = this.expenditureEvent.bnkid;
          if (await this.$refs.vendorEntry.contactSelectSoftValidation()) {
            this.expenseItemSoftValidation(true);
          }
        } else {
          this.message = "Please ensure all required fields are complete.";
        }
      },

      addExpenseItem() {
        if (this.$refs.expenditureForm.validate()) {
          this.updateUsageCount(this.firstExpenseItem);
          this.selectedExpenseIndex = -1;
          this.selectedExpenseItem.amount = null;
          this.selectedExpenseItem.rds_id = null;
          this.selectedExpenseItem.orca_id = null;
          this.selectedExpenseItem.trankeygen_id = null;
          this.editFlag = false;
          this.expenseItemDialog = true;
        } else {
          this.message = "Please ensure all required fields are complete.";
        }
      },

      tryPersistExpenseItem(dialogFlag = true) {
        if (this.$refs.expenseItemForm.validate() && this.selectedExpenseItem) {
          this.updateUsageCount(this.selectedExpenseItem);
          this.expenseItemSoftValidation(false);
          if (dialogFlag === false)
            this.expenseItemDialog = false;
        }
      },

      expenseItemSoftValidation(requestSave = false) {
        this.saveRequested = requestSave;
        this.hasSufficientFunds = this.expenseActions.hasSufficientFunds(this.selectedExpenseItem.amount);
        if (!this.hasSufficientFunds) {
          this.expenditureErrorsDialog = true;
        } else {
          this.expenditureErrorsDialog = false
          this.confirmErrors();
        }
      },

      setSelectedExpenseItem() {
        if (this.$refs.expenseItemForm.validate()) {
          if (!this.hasSubvendor) {
            this.selectedExpenseItem.contid = this.expenditureEvent.contid
          }
          this.selectedExpenseItem.did = this.expenditureEvent.bnkid
          if (this.selectedExpenseIndex === -1) {
            this.expenses.push(Object.assign({}, this.selectedExpenseItem));
          } else {
            Object.assign(this.expenses[this.selectedExpenseIndex], this.selectedExpenseItem);
          }
          this.expenseActions.updateExpenditureBalance();
        }
      },

      chooseExpenseItem(idx) {
        this.editFlag = true;
        let expense = this.expenseActions.getExpense(idx);
        if (expense) {
          this.selectedExpenseIndex = idx;
          Object.assign(this.selectedExpenseItem, expense);
          this.expenseItemDialog = true;
        }
      },
      deleteExpenditure() {
        this.expenseActions.deleteExpenditure().then(() => {
          this.showDeleteExpenditure = false;
          if (window.history.length > 0) {
            this.$router.go(-1);
          } else {
            this.$router.replace({name: 'ORCA.fund.expenditure-search'});
          }
        });
      },
      tryDeleteExpense(idx) {
        let expense = this.expenseActions.getExpense(idx);
        if (expense) {
          this.selectedExpenseIndex = idx;
          Object.assign(this.selectedExpenseItem, expense);
          this.showDeleteExpense = true;
        }
      },
      doDeleteExpense() {
        this.expenseActions.removeExpense(this.selectedExpenseIndex);
        this.showDeleteExpense = false;
        this.expenseActions.updateExpenditureBalance();
      },
      getAccountName(value) {
        const account = this.expenseItemAccounts.find(item => item.trankeygen_id === value);
        if (account) {
          return account.name;
        }
      },
      updateOrcaContact(contact, prevContact) {
        if (contact) {
          this.selectedContact = contact;
          this.expenditureEvent.contid_orca = this.selectedContact?.orca_id;
        } else {
          this.expenditureEvent.contid_orca = null;
        }
        this.expenses.forEach((exp) => {
          if (!this.hasSubvendor || !prevContact || !exp.contid || exp.contid === prevContact.trankeygen_id) {
            exp.contid = contact.trankeygen_id;
            exp.contid_orca = contact?.orca_id;
          }
        });
        this.$nextTick(() => this.$refs.expense_date.focus())
      },
      updateExpenseContact(expense, contact) {
        expense.contid_orca = contact?.orca_id;
        expense.contid = contact?.trankeygen_id;
        expense.name = contact.name;
      },
      onSubvendorChange() {
        if (this.hasSubvendor) {
          // Remove the default expense contact if and only if we are calling this for the first time.
          if (this.expenses.length === 1 && this.expenditureEvent.contid === this.firstExpenseItem.contid) {
            this.firstExpenseItem.contid = null;
            this.firstExpenseItem.contid_orca = null;
          }
        } else {
          // We need to default in the correct contact for all expenses.
          this.expenses.map(e => {
            e.contid = this.expenditureEvent.contid;
            e.contid_orca = this.expenditureEvent?.contid_orca;
          })
        }

      }
    },
  }
</script>
<style scoped>
 tfoot td {
   color: grey;
 }
 p.help-text {
   margin-top: 1em;
 }
 .info-icon-positioning {
   display: flex;
   justify-content: flex-start;
 }
 v-checkbox {
   position: relative;
   margin-left: 0;
 }
 v-icon {
   position: relative;
   left:0;
 }
</style>
