<template>
  <div>
    <slot name="header"/>
    <v-text-field v-model="search" append-icon="mdi-magnify" label="Search in results" single-line
                  hide-details></v-text-field>
    <v-data-table
        :search="search"
        :items="transactions"
        :single-expand="true"
        :expanded.sync="expanded"
        item-key="trankeygen_id"
        show-expand
        :headers="headers"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
        @dblclick:row="navigateToExpenditure"
    >
      <template v-slot:item.name="{item}">
        <router-link :to="{name:'orca.fund.contact', params: {contact_id: item.contid}}">
          {{ item.name }}
        </router-link>
      </template>
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.amount="{item}">
        <router-link
            :to="{name: item.uses_surplus_funds ? 'ORCA.fund.edit-surplus-expenditure': 'ORCA.fund.edit-expenditure', params: {id: item.trankeygen_id}}">
          {{ formatMoney(item.amount) }}
        </router-link>
      </template>
      <template v-slot:item.actions="{item}">
        <template v-if="item.acctnum === 2000">
          <accessible-button
              :to="{name: 'ORCA.fund.vendor-debt-view', params: {id: item.bnkid, fund_id: fund.fund_id}}"
              button-tooltip="View debt">
            <v-icon>visibility</v-icon>
          </accessible-button>
        </template>
        <template v-else>
          <accessible-button
              :to="{name: item.uses_surplus_funds ? 'ORCA.fund.edit-surplus-expenditure': 'ORCA.fund.edit-expenditure', params: {id: item.trankeygen_id}}"
              button-tooltip="Edit expenditure">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button
              @click="loadDeleteDialog(item)"
              button-tooltip="Delete expenditure">
            <v-icon>delete</v-icon>
          </accessible-button>
        </template>

      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <td class="list-td" :colspan="headers.length">
          <v-list dense class="pl-6" :elevation="0">
            <v-subheader>Expenses</v-subheader>
            <v-list-item v-for="expense of item.expenses" :key="expense.trankeygen_id">
              <v-list-item-content class="d-flex pl-10 justify-space-between">
                <v-list-item-title>
                  <router-link :to="{name:'orca.fund.contact', params: {contact_id: expense.contid}}">
                    {{ expense.name }}
                  </router-link>
                </v-list-item-title>
                <div>${{ expense.amount }}</div>
                <div>{{ expense.description }}</div>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </td>
      </template>
    </v-data-table>

    <slot name="maximumResultMessage" v-if="showMaxResultMessage">
      <v-alert color="secondary">
        <v-icon>info</v-icon>
        Only showing the first {{ maxResults }} results.
      </v-alert>
    </slot>
    <slot name="default"/>
    <div><v-btn tabindex="0" @click="downloadFile" ><v-icon>file_download</v-icon>Download csv</v-btn></div>

    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete Expense</v-card-title>
        <v-card-text>
          <div>Are you sure you want to delete the expense to {{ expenditure.expenditureEvent.name }} for
            {{ formatMoney(expenditure.expenditureEvent.amount) }} on
            {{ formatDate(expenditure.expenditureEvent.date_) }}?
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" @click="deleteExpenditure">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "@/orca/fund/Fund";
import filters from "@/filters";
import {useExpenditure} from "./Expenditure";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "ExpendituresDataTable",
  components: {AccessibleButton},
  props: {
    query: {
      type: String,
      default: "expenditure-search",
    },
    parameters: {
      type: Object
    },
    maxResults: {
      type: Number
    }
  },
  data() {
    return {
      expanded: [],
      search: "",
      showMaxResultMessage: false,
      showDeleteDialog: false,
      transactions: [],
      headers: [
        {text: "Name", value: "name"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Date", value: "date_"},
        {text: "Check No.", value: "checkno"},
        {text: "Memo", value: "memo"},
        {text: "", value: "actions"}
      ],
      expenseHeaders: [
        {text: "Name", value: "name"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Date", value: "date_"},
        {text: "Check No.", value: "checkno"},
        {text: "Memo", value: "memo"},
        {text: "", value: "actions"}
      ],
    }
  },
  methods: {
    ...filters.filters,
    loadTransactions(fund) {
      if (fund.fund_id) {
        orcaDataService.getFundData(fund.fund_id, this.query, this.parameters).then(data => {
          if (data.success) {
            this.transactions = data[this.query].map(ex => {
              ex.expenses = JSON.parse(ex.expenses)
              return ex
            });
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length);
          } else {
            this.transactions = [];
            this.showMaxResultMessage = false;
          }
          this.$emit('load', this.transactions.length)
        });
      } else {
        this.transactions = [];
      }
    },
    navigateToExpenditure(event, info) {
      this.$router.push({name: "ORCA.fund.edit-expenditure", params: {id: info.item.trankeygen_id}});
    },
    async loadDeleteDialog(e) {
      await this.expenseActions.loadExpenditure(e.trankeygen_id);
      this.showDeleteDialog = true;
    },
    deleteExpenditure() {
      this.expenseActions.deleteExpenditure().then(
          () => {
            this.showDeleteDialog = false;
            this.loadTransactions(this.fund);
          });
    },
    downloadFile() {
      const expenses = [];
      const expenseCols = [
        {text: "Amount", value: "amount"},
        {text: "Description", value: "description"}
      ]
      const headers =  [
        {text: "Name", value: "name"},
        {text: "Date", value: "date_"},
        {text: "Amount", value: "amount"},
        {text: "Check No.", value: "checkno"},
        {text: "Description", value: "description"},
        {text: "Address", value: 'street'},
        {text: "City", value: "city"},
        {text: "State", value: "state"},
        {text: "Zip", value: 'zip'},
        {text: "Memo", value: "memo"},
      ];
      this.transactions.forEach(t => {
        const expense = {};
        headers.forEach(h => {
          expense[h.value] = t[h.value] ?? null;
        });
        expense.amount = null;
        t.expenses.forEach(item => {
          expenseCols.forEach(c2 => {
            expense[c2.value] = item[c2.value] ?? null;
          });
          expenses.push(Object.assign({},expense))
        })
      });

      this.generateCSV('expenses.csv', expenses, headers)
    },
    ...filters.filters
  },
  setup() {
    const {fund, generateCSV} = useOrcaFund();
    const {expenseActions, expenditure} = useExpenditure();
    return {fund, expenseActions, expenditure, generateCSV}
  },
  created() {
    ORCA.$on('loadFund', this.loadTransactions);
    this.loadTransactions(this.fund);
  },
  beforeDestroy() {
    ORCA.$off('loadFund', this.loadTransactions);
  }
}
</script>

<style scoped>
.list-td {
  padding: 0 !important;
}

.v-list-item__content > * {
  flex: 1;
}
</style>