<template>
  <div style="max-width: 1100px;">
    <campaign-page title="Expenditure search">
      <template v-slot:toolbar>
        <add-expenses></add-expenses>
      </template>
      <v-expansion-panels v-model="searchOpen" accordion>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <div>
              <v-icon>search</v-icon>
              Find expenses matching...
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form @submit.prevent="reloadDataTables()">
              <p>Enter some information to help us find what you're looking for.
                If everything is left blank, we will select some of the most recent transaction for you.</p>
              <v-text-field v-model="search.name" label="Contact name" clearable>
              </v-text-field>
              <v-row align="start" dense>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="search.start_date" label="Earliest date" clearable></date-picker>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="search.end_date" label="Latest date" clearable></date-picker>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.min_value"
                                label="Minimum"></v-text-field>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.max_value"
                                label="Maximum"/>
                </v-col>
              </v-row>
              <v-btn tabindex="0" type="submit" color="primary" @click="reloadDataTables()">Search</v-btn>
              <v-btn tabindex="0" @click="clearSearch()">Clear</v-btn>
            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <expenditures-data-table @load="onTableLoad" query="expenditure-search" :parameters="search" :maxResults=5000
                               ref="table"/>
    </campaign-page>
  </div>
</template>

<script>
import CampaignPage from "@/orca/CampaignPage";
import DatePicker from "@/components/DatePicker";
import {useOrcaFund} from "@/orca/fund/Fund";
import ExpendituresDataTable from "@/orca/expenditures/ExpendituresDataTable";
import AddExpenses from "@/orca/expenditures/AddExpenses";

export default {
  name: "ExpenditureSearch",
  components: {ExpendituresDataTable, CampaignPage, DatePicker, AddExpenses},
  data() {
    return {
      parameters: [],
      searchOpen: true,
      search: {
        start_date: null,
        end_date: null,
        min_value: null,
        max_value: null,
        name: null
      },
    }
  },
  methods: {
    onTableLoad(length) {
      this.searchOpen = (length === 0) ? 0 : null;
    },
    reloadDataTables() {
      this.$refs.table.loadTransactions(this.fund);
    },
    clearSearch() {
      Object.keys(this.search).forEach((i) => this.search[i] = null);
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
}
</script>

<style scoped>

.amount {
  width: 10em;
}
</style>