<template>
  <InfoDialog title="Expense Entry Help">
    <h2>Reimbursements</h2>
    <p>When reimbursing the candidate or another campaign worker for out-of-pocket campaign expenses, you list each
      expense being reimbursed by showing the vendor's name and address, what was paid for, and amount paid.</p>

    <h2>Campaign Consultants, Advertising Agencies</h2>
    <p>Supply a breakdown of each expense incurred by the consultant along with the payment made directly to the
      consultant. Each sub-vendor must be entered along with a description of the work performed.</p>

    <h2>Media Buys</h2>
    <p>Expenditures for media buys must be broken down by the date the expenditure was made, amount paid, the date the
      ad is first broadcast or published if known, and each media outlet (newspaper, radio or TV station, billboard
      company, etc.). ORCA users who purchase flight time through an agent or broker, enter one expenditure with the
      broker as the vendor and each broadcast outlet is entered as a separate expense with the station name in the
      description.</p>

    <h2>Printing</h2>
    <p>Supply the name of the vendor, how many pieces were printed and the cost. See <a
        href="https://apps.leg.wa.gov/wac/default.aspx?cite=390-16-037">WAC 390-16-037</a> for an example.</p>

    <h2>Credit Cards</h2>
    <p>When reporting payments to credit card companies, disclose each charge that is being paid by the campaign. Each
      charge should be entered as a separate expense – show the date, vendor, purpose and amount of each expense.</p>

    <h2>Travel</h2>
    <p>When reporting direct payments to vendors for campaign-related travel expenses incurred by the candidate or a
      campaign worker, report the date of payment, the vendor's identity, the traveler's name in the
      <em>description</em> field, and the amount spent.</p>

    <div v-if="fund.isCandidate">
      <h2>Payments for Lost Wages</h2>
      <p>When reporting payments to the candidate or another campaign staff member to offset salaries or wages lost as a
        result of campaigning, include a description that explains how the amount paid was calculated.</p>
    </div>

  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";
import {useOrcaFund} from "../fund/Fund";

export default {
  name: "ExpenseEntryHelp",
  components: {InfoDialog},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  }
}
</script>

<style scoped>
h2 {
  font-size: 1.25em
}
</style>