<template>
  <div>
    <campaign-page title="Recent expenditures">
      <transaction-data-table query="recent-expenditures"/>
      <p>Includes the last 1000 expenditures based on the transaction date</p>
      <experimental-warning/>
    </campaign-page>
  </div>
</template>

<script>
import CampaignPage from "@/orca/CampaignPage";
import ExperimentalWarning from "@/orca/ExperimentalWarning";
import TransactionDataTable from "@/orca/TransactionDataTable";

export default {
  name: "RecentExpenditures",
  components: {TransactionDataTable, ExperimentalWarning, CampaignPage},
}
</script>

<style scoped>

</style>