<template>
  <info-dialog title="Expenditures with reimbursements or sub-vendors">
    <p>
      When working with reimbursements or sub-vendors, use the <strong>Vendor paid</strong> field to report the person
      or
      business entity that the committee paid. Use the <strong>Providing vendor</strong> field to indicate the person or
      business that provided the goods or services and ultimately received the funds.
    </p>
  </info-dialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  name: "SubvendorInfo",
  components: {InfoDialog}
}
</script>

<style scoped>

</style>