<template>
  <info-dialog title="Spending Surplus Funds">
    <p>Surplus funds are contributions given for an election that remain after the election and that are not needed to
      pay obligations from the election campaign and may only be disposed of in one or more ways permitted by law.
      Review the candidate instruction manual found under the Learn tab on the PDC website for a more detailed
      description of what is allowed. Below is only a brief summary:</p>

    <ul>
      <li>Return to contributors, so long as the amount returned does not exceed the aggregate amount contributed by
        that donor; refunds of contributions made by the candidate to his or her own campaign are subject to restriction
      </li>
      <li>Transferred without limit to a political party or legislative caucus committee</li>
      <li>Held for use in a future campaign for election</li>
      <li>Transferred to the candidate’s personal account as payment for earnings lost as a result of campaigning</li>
      <li>Donated to a charity registered with the Secretary of State’s Office</li>
      <li>Transferred to the state treasurer for deposit in the general fund, oral history, state library and archives
        or the international trade account
      </li>
      <li>Deposited in a separate Surplus Funds Account and then used to pay non-reimbursed public office related
        expenses or for any of the six purposes outlined above
      </li>
    </ul>
  </info-dialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  name: "SurplusFundsHelp",
  components: {InfoDialog}
}
</script>

<style scoped>

</style>