<template>
  <div style="max-width: 1100px;">
    <campaign-page title="Advertisement search">
      <template v-slot:toolbar>
        <v-btn tabindex="0" small :to="{name: 'ORCA.fund.add-advertisement'}">
          <v-icon>add</v-icon>
          New Advertisement
        </v-btn>
      </template>
      <v-expansion-panels v-model="searchOpen" accordion>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <div>
              <v-icon>search</v-icon>
              Find advertisements matching...
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form @submit.prevent="reloadDataTables()">
              <p>Enter some information to help us find what you're looking for.
                If everything is left blank, we will select some of the most recent advertisements for you.</p>
              <v-row align="start" dense>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="search.start_date" label="Earliest run date" clearable></date-picker>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="search.end_date" label="Latest run date" clearable></date-picker>
                </v-col>
              </v-row>
              <v-btn tabindex="0" type="submit" color="primary" @click="reloadDataTables()">Search</v-btn>
            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <advertisement-data-table @load="onTableLoad" query="advertisement-search" :parameters="search" :maxResults=5000
                                ref="table"/>
    </campaign-page>
  </div>
</template>

<script>
import CampaignPage from "@/orca/CampaignPage";
import DatePicker from "@/components/DatePicker";
import {useOrcaFund} from "@/orca/fund/Fund";
import AdvertisementDataTable from "@/orca/advertisements/AdvertisementDataTable";

export default {
  name: "AdvertisementSearch",
  components: {AdvertisementDataTable, CampaignPage, DatePicker},
  data() {
    return {
      parameters: [],
      searchOpen: true,
      search: {
        start_date: null,
        end_date: null,
      },

    }
  },
  methods: {
    onTableLoad(length) {
      this.searchOpen = (length === 0) ? 0 : null;
    },
    reloadDataTables() {
      this.$refs.table.loadAdvertisements(this.fund);
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
}
</script>

<style scoped>

</style>