<template>
  <div>
    <slot name="header"/>
    <v-data-table
        :items="advertisements"
        :headers="headers"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
        @dblclick:row="navigateToAdvertisement"
    >
      <template v-slot:item.first_run_date="{item}">
        {{ formatDate(item.first_run_date) }}
      </template>
      <template v-slot:item.description="{item}">
        <router-link :to="{name: 'ORCA.fund.edit-advertisement', params: {id: item.ad_id.toString() }}">
          {{ item.description }}
        </router-link>
      </template>
      <template v-slot:item.outlets="{item}">
        {{ item.outlets }}
      </template>
      <template v-slot:item.actions="{item}">
        <v-btn tabindex="0" @click="selectedAdvertisement = item; deleteAdDialog = true">
          <v-icon>delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <slot name="maximumResultMessage" v-if="showMaxResultMessage">
      <v-alert color="secondary">
        <v-icon>info</v-icon>
        Only showing the first {{ maxResults }} results.
      </v-alert>
    </slot>
    <slot name="default"/>

    <v-dialog v-model="deleteAdDialog">
      <v-card>
        <v-card-title>Delete Advertisement</v-card-title>
        <v-card-text>
          <div>Are you sure you want to delete this advertisement entry?</div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" @click="deleteAdvertisement">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="closeDeleteReport()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "@/orca/fund/Fund";
import {useAdvertisement} from "@/orca/advertisements/Advertisement";
import filters from "@/filters";

export default {
  name: "AdvertisementDataTable",
  props: {
    query: {
      type: String,
      default: "advertisement-search",
    },
    parameters: {
      type: Object
    },
    maxResults: {
      type: Number
    }
  },
  data() {
    return {
      deleteAdDialog: false,
      search: "",
      showMaxResultMessage: false,
      selectedAdvertisement: {},
      advertisements: [],
      headers: [
        {text: "First Run", value: "first_run_date"},
        {text: "Description", value: "description"},
        {text: "Outlets", value: "outlets"},
        {text: "", value: "actions"},
      ],
    }
  },
  methods: {
    closeDeleteReport() {
      this.deleteAdDialog = false;
    },
    async deleteAdvertisement() {
      await orcaDataService.delete(this.fund.fund_id, 'advertisement', this.selectedAdvertisement.ad_id).then(
          () => {

            this.deleteAdDialog = false;
            this.loadAdvertisements(this.fund);
          });
    },
    loadAdvertisements(fund) {
      if (fund.fund_id) {
        orcaDataService.getFundData(fund.fund_id, this.query, this.parameters).then(data => {
          if (data.success) {
            this.advertisements = data[this.query];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.advertisements.length);
          } else {
            this.advertisements = [];
            this.showMaxResultMessage = false;
          }
          this.$emit('load', this.advertisements.length)
        });
      } else {
        this.advertisements = [];
      }
    },
    navigateToAdvertisement(event, info) {
      this.$router.push({name: "ORCA.fund.edit-advertisement", params: {id: info.item.ad_id}});
    },
    ...filters.filters
  },
  setup() {
    const {fund} = useOrcaFund();
    const {advertisement} = useAdvertisement();
    return {fund, advertisement}
  },
  created() {
    ORCA.$on('loadFund', this.loadAdvertisements);
    this.loadAdvertisements(this.fund);
  },
  beforeDestroy() {
    ORCA.$off('loadFund', this.loadAdvertisements);
  }
}
</script>

<style scoped>

</style>