<template>
  <div class="editAdvertisement">
    <campaign-page title="Advertisement" @return-route="ORCA.fund.advertisement-search" @navigate-back="clearFormData">
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Advertisements are in read only mode. To modify advertisements, you must access this from the ORCA version 1.600
        or
        greater.
      </v-alert>

      <v-form ref="advertisementForm" lazy-validation @submit.prevent="checkForm()">
        <v-card class="pa-md-4-4 mx-lg-auto" elevation="0">
          <v-card-text class="mx-4">
            <SelectTargets v-if="adLoaded" @revalidate-form="revalidate" :initial-targets="advertisement.targets"
                               :year="targetYear" :isPac="fund.isPac" @ad-target-changed="setTargets">
                  <v-row>
                    <v-col cols="12" class="mb-n10"><span
                        class="text-sm-caption">During what period did the ad run?</span></v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" sm="5">
                      <date-picker
                          v-model="advertisement.ad.first_run_date"
                          clearable
                          class="foobar"
                          full-width
                          label="First run"
                      ></date-picker>
                    </v-col>
                    <v-col cols="2" sm="1" class="d-flex flex-column justify-center">
                      <v-icon>remove</v-icon>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <date-picker
                          v-model="advertisement.ad.last_run_date"
                          clearable
                          full-width
                          label="Last run"
                      ></date-picker>
                    </v-col>
                  </v-row>

                  <v-textarea
                      v-model="advertisement.ad.description"
                      label="Description"
                      :rules="[validations.required, validations.max1000]"
                      auto-grow
                  >
                  </v-textarea>
                  <v-text-field
                      v-model="advertisement.ad.outlets"
                      label="Media outlets"
                  >
                  </v-text-field>
                  <template slot="contributions">
                    <SelectContributions v-if="adLoaded" :initial-contributions="advertisement.contributions"
                                         @ad-contribution-change="setContributions"/>
                  </template>
                  <template slot="actions">
                    <v-card-actions>
                      <v-btn tabindex="0" type="submit" color="primary" :disabled="disableEdit || !completeAd">Save</v-btn>
                      <v-btn tabindex="0" color="primary" v-if="showDelete" @click="tryDelete">Delete</v-btn>

                      <div v-if="errors.length" class="mx-2">
                        <div v-for="error in errors" :key="error"><em>Error: {{ error }}</em></div>
                      </div>
                      <div v-if="warnings.length" class="mx-2">
                        <div v-for="warning in warnings" :key="warning"><em>Warning: {{ warning }}</em></div>
                      </div>
                      <div v-else-if="saved" class="mx-2">
                        Advertisement saved at: {{ lastSaved }}
                      </div>

                    </v-card-actions>
                  </template>
                </SelectTargets>
          </v-card-text>
        </v-card>
      </v-form>

    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import DatePicker from "@/components/DatePicker";
import CampaignPage from "@/orca/CampaignPage";
import filters from "@/filters";
import {useAdvertisement} from "@/orca/advertisements/Advertisement";
import SelectTargets from './SelectTargets'
import SelectContributions from './SelectContributions'
import formValidations from "@/formValidations";

export default {
  name: "EditAdvertisement",
  components: {SelectTargets, SelectContributions, DatePicker, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    const {
      advertisement,
      loadAdvertisement,
      saveAdvertisement,
      warnings,
      errors,
      resetAdvertisement
    } = useAdvertisement();
    resetAdvertisement();
    return {fund, advertisement, loadAdvertisement, saveAdvertisement, warnings, errors, resetAdvertisement}
  },
  data() {
    return {
      adLoaded: false,
      newAdvertisement: true,
      saved: false,
      lastSaved: null,
      validations: {
        ...formValidations
      },
      ...filters.filters

    }
  },
  props: {
    ad_id: String
  },
  created() {
    this.setAd();
  },
  computed: {
    orcaVersion() {
      return ORCA.orcaEmbedded ? "ORCA" + Number(ORCA.version) : null;
    },
    showDelete() {
      return this.advertisement.ad.fund_id > 0;
    },
    disableEdit() {
      return (!ORCA.version || ORCA.version < 1.600)
    },
    targetYear() {
      return this.advertisement.ad?.first_run_date?.substring(0, 4) || ((new Date()).getFullYear()).toString();
    },
    completeAd() {
      return this.advertisement.ad.description && !this.errors.length;
    }
  },
  methods: {
    setTargets(targets) {
      this.advertisement.targets = targets;
    },
    setContributions(contributions) {
      this.advertisement.contributions = [];
      for (let i = 0; i < contributions.length; i++) {
        this.advertisement.contributions.push({contribution_id: contributions[i].contribution_id});
      }
    },
    tryDelete() {
      this.advertisement.deleteAdvertisement().then(
          () => {
            this.$router.push({name: 'ORCA.fund.advertisement-search', params: this.fund.fund_id});
          });
    },
    trySave() {
      if (this.$refs.advertisementForm.validate()) {
        this.saveAdvertisement().then(
            (result) => {
              if (result) {
                this.saved = true;
                this.lastSaved = (new Date()).toLocaleTimeString();
                this.$emit('adSaved', this.advertisement);
              }
            }
        )
      }
    },
    async setAd() {
      if (this.ad_id) {
        const advertisement = await this.loadAdvertisement(this.ad_id)
        this.newAdvertisement = false;
        this.advertisement = advertisement;
      } else {
        this.newAdvertisement = true;
        this.advertisement = useAdvertisement().advertisement;
      }
      this.adLoaded = true;
    },
    checkForm: function () {
      this.trySave();
      return true;
    },
    revalidate() {
      this.$refs.advertisementForm.validate();
    },
    clearFormData() {
      this.resetAdvertisement();
      this.setAd();
    },
  },
  watch: {
    ad_id() {
      this.setAd();
    }
  },
}
</script>

<style scoped>

</style>