<template>
  <EditAdvertisement v-if="fundLoaded" :ad_id="ad_id" @adSaved="onSave"/>
</template>

<script>
import EditAdvertisement from "./EditAdvertisement";
import {useOrcaFund} from "@/orca/fund/Fund";

export default {
  name: "EditAdvertisementPage.vue",
  components: {EditAdvertisement},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund};
  },
  data() {
    return {
      ad_id: "",
      fundLoaded: false
    }
  },
  created() {
    this.setAdId();
    if (!this.fund.fund_id) {
      this.orcaFund.loadFund(this.$route.params.fund_id).then(() => {
        this.fundLoaded = true;
      })
    } else {
      this.fundLoaded = true;
    }
  },

  watch: {
    $route() {
      this.setAdId();
    }
  },
  methods: {
    onSave() {
    },
    setAdId() {
      if (this.$route.params.id) {
        this.ad_id = this.$route.params.id.toString();
      } else {
        this.ad_id = "";
      }
    }
  }
}
</script>

<style scoped>

</style>