<template>
  <div>
    <v-autocomplete
        @change="changeValue"
        :items=ads
        v-model="ad_id"
        label="Advertisement"
        :item-text="item =>item.description + ' (first run on ' + formatDate(item.first_run_date) + ')'"
        item-value="ad_id"
    >
      <v-list
          slot="append-item"
          class="grey--text">
        <v-btn
            dense
            @click="showNewAd = true"
        >
          <v-icon>add</v-icon>
          Create new ad
        </v-btn>
      </v-list>
    </v-autocomplete>

    <v-dialog v-model="showNewAd">
      <EditAdvertisement v-if="showNewAd" @adSaved="onSave"/>
    </v-dialog>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import EditAdvertisement from "./EditAdvertisement";

export default {
  name: "SelectAdvertisement.vue",
  components: {EditAdvertisement},
  props: {
    value: Number
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  data() {
    return {
      ad_id: "",
      ads: [],
      showNewAd: false,
    }
  },
  created() {
    this.ad_id = this.value;
    this.getAds();
  },
  methods: {
    ...filters.filters,
    changeValue: function () {
      this.$emit('input', this.ad_id)
    },
    async getAds() {
      let result = await orcaDataService.getFundData(this.fund.fund_id, 'advertisement-search')
      if (result['advertisement-search']) {
        this.ads = result['advertisement-search']
      }
    },
    onSave(e) {
      this.ads.push(e.ad);
      this.ad_id = e.ad.ad_id;
      this.showNewAd = false;
    }
  }
}
</script>

<style scoped>

</style>