<template>
  <v-card class="w-100">
    <v-card-text>
      <v-tabs
          color="primary"
          left
          v-model="tab"
      >
        <v-tab>General</v-tab>
        <v-tab v-if="isPac">Contributions</v-tab>
        <v-tab @change="clearEditing" v-if="isPac">Candidacies</v-tab>
        <v-tab @change="clearEditing" v-if="isPac">Proposals</v-tab>

        <!-- slot for general information (supplied by parent component) -->
        <v-tab-item key="general">
          <div class="new-target--container pa-4">
            <slot></slot>
          </div>
        </v-tab-item>

        <!-- slot for contributions (supplied by parent component) -->
        <v-tab-item>
          <div class="new-target--container pa-6">
            <slot name="contributions"></slot>
          </div>
        </v-tab-item>

        <!-- Candidates target tab/list -->
        <v-tab-item key="candidacies">
          <div class="new-target--container pa-2" v-if="displayAltCandidateForm">
            <v-row class="align-center mb-n10">
              <v-col cols="1" class="mb-5">
                <accessible-button icon @click="displayAltCandidateForm = false" button-tooltip="Back">
                  <v-icon>arrow_back</v-icon>
                </accessible-button>
              </v-col>
              <v-col cols="11">
                <v-alert
                    color="warning"
                    dense
                    outlined
                    text
                    type="warning"
                >You are specifying a candidacy that does not exist.
                </v-alert>
              </v-col>
            </v-row>
            <v-row class="mb-n8 mx-4">
              <v-col cols="12">
                <v-text-field label="Ballot name" color="primary" v-model="targetData.ballot_name"></v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-4">
              <v-col cols="12" sm="6">
                <SelectOffice required @office-selected="handleOfficeSelected" ref="selectOfficeAlt"/>
              </v-col>
              <v-col cols="12" sm="6">
                <SelectJurisdiction :selected_office_id="targetData.office && targetData.office.offcode || '-1'"
                                    :year="year" @jurisdiction-selected="handleJurisdictionSelected"
                                    ref="selectJurisdictionAlt"/>
              </v-col>
            </v-row>
            <div class="d-flex">
              <v-select label="Stance (optional)"
                        @change="() => $emit('revalidate-form')"
                        :items="stanceItems"
                        clearable
                        v-model="targetData.stance"
                        class="mx-8"
              >
              </v-select>
              <v-text-field @change="() => $emit('revalidate-form')" v-model="targetData.percent" type="number"
                            label="Percentage (optional)" @keydown.enter.prevent="saveTarget('candidacies')"
                            :rules="[validations.percentage]"></v-text-field>
            </div>
            <v-btn tabindex="0" @click="() => saveTarget('candidacies')" color="primary" small :disabled="!completeCandidacy">Add
              Candidacy
            </v-btn>
          </div>
          <div class="new-target--container pa-2" v-else>
            <SelectCandidacy :required="!!targetData.stance || !!targetData.percent" :year="year"
                             @candidacy-selected="handleCandidacySelection" ref="selectCandidacy"/>
            <div class="d-flex">
              <v-select label="Stance"
                        @change="() => $emit('revalidate-form')"
                        :items="stanceItems"
                        clearable
                        v-model="targetData.stance"
                        class="mx-8"
              >
              </v-select>
              <v-text-field @change="() => $emit('revalidate-form')" v-model="targetData.percent" type="number"
                            label="Percentage (optional)" @keydown.enter.prevent="saveTarget('candidacies')"
                            :rules="[validations.percentage]"></v-text-field>
            </div>
            <v-btn tabindex="0" @click="() => saveTarget('candidacies')" color="primary" small :disabled="!completeCandidacy">Add
              Candidacy
            </v-btn>
          </div>

          <v-list three-line>
            <template v-for="(item, index) in targets.candidacies">
              <v-list-item :key="item.candidacy_id">
                <v-list-item-content>
                  <v-list-item-title
                      v-text="item.display_name"
                  ></v-list-item-title>
                  <div v-if="editing('candidacies', index)">
                    <v-list-item-subtitle class="d-flex">
                      <v-select label="Stance" :items="stanceItems" clearable v-model="editingTarget.stance">
                      </v-select>
                      <v-text-field small v-model="editingTarget.percent" type="number" label="Percentage" class="mx-4"
                                    :rules="[validations.percentage]" @keyup.enter="SaveTarget"></v-text-field>
                    </v-list-item-subtitle>
                  </div>
                  <div v-else>
                    <v-list-item-subtitle v-if="item.stance">
                      <label :for="`stance-${index}`" class="mr-2 text-body-2">Stance:</label>
                      <span :id="`stance-${index}`">{{ item.stance }}</span>
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      <span class="mr-4 text--darken-4">{{
                          displayFraction(item.percent) || displayFraction(item.calculatedPercentage)
                        }}%
                        <em v-if="item.calculatedPercentage">(calculated by system)</em>
                        <em v-else>(provided by campaign)</em>
                      </span>
                    </v-list-item-subtitle>
                  </div>
                </v-list-item-content>
                <div v-if="editing('candidacies', index)">
                  <v-list-item-action class="mx-0">
                    <v-btn tabindex="0" icon @click="clearEditing">
                      <v-icon>cancel</v-icon>
                    </v-btn>
                  </v-list-item-action>
                  <v-list-item-action class="mx-0">
                    <v-btn tabindex="0" icon @click="() => saveEditedTarget('candidacies', index)">
                      <v-icon>save</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </div>
                <div v-else>
                  <v-list-item-action class="mx-0">
                    <v-btn tabindex="0" icon @click="() => editTarget('candidacies', index)">
                      <v-icon>edit</v-icon>
                    </v-btn>
                  </v-list-item-action>
                  <v-list-item-action class="mx-0">
                    <v-btn tabindex="0" icon @click="() => deleteTarget('candidacies', index)">
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </div>
              </v-list-item>
              <v-divider
                  :key="index"
                  :inset="true"
              ></v-divider>
            </template>
          </v-list>

        </v-tab-item>

        <!-- Proposals target tab/list -->
        <v-tab-item key="proposals">
          <div class="new-target--container pa-2">
            <SelectJurisdiction :required="!!proposalTitle" :year="year"
                                @jurisdiction-selected="handleJurisdictionSelected" ref="selectJurisdiction"/>
            <v-text-field @change="() => $emit('revalidate-form')" label="Proposal name or ballot number"
                          v-model="proposalTitle"></v-text-field>
            <div class="d-flex">
              <v-select
                  label="Stance"
                  :items="stanceItems"
                  clearable v-model="targetData.stance"
                  @change="() => $emit('revalidate-form')"
                  :rules="[validations.proposalStance]"
              >
              </v-select>
              <v-text-field v-model="targetData.percent" type="number" label="Percentage (optional)" class="ml-5"
                            @keydown.enter.prevent="saveTarget('proposals')"></v-text-field>
            </div>
            <v-btn tabindex="0" @click="() => saveTarget('proposals')" color="primary" small :disabled="!completeProposal">Add
              Proposal
            </v-btn>
          </div>
          <v-list three-line>
            <template v-for="(item, index) in targets.proposals">
              <v-list-item :key="item.ballot_name">
                <v-list-item-content>
                  <div v-if="editing('proposals', index)">
                    <v-text-field label="Proposal or ballot number" v-model="editingTarget.ballot_name"></v-text-field>
                    <v-list-item-subtitle class="d-flex">
                      <v-select :rules="[validations.editingProposalStance]" label="Stance" :items="stanceItems"
                                v-model="editingTarget.stance"></v-select>
                      <v-text-field small v-model="editingTarget.percent" type="number" label="Percentage"
                                    class="mx-4"></v-text-field>
                    </v-list-item-subtitle>
                  </div>
                  <div v-else>
                    <v-list-item-title
                        v-text="`${item.ballot_name} (${item.jurisdiction_name})`">
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      <label :for="`stance-${index}`" class="mr-2 text-body-2">Stance:</label>
                      <span :id="`stance-${index}`">{{ item.stance }}</span>
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      <span class="mr-4 text--darken-4">
                        {{
                          item.percent && displayFraction(item.percent) || displayFraction(item.calculatedPercentage)
                        }}%
                        <em v-if="item.calculatedPercentage">(calculated by system)</em>
                        <em v-else>(provided by campaign)</em>
                      </span>
                    </v-list-item-subtitle>
                  </div>
                </v-list-item-content>
                <div v-if="editing('proposals', index)">
                  <v-list-item-action class="mx-0">
                    <v-btn tabindex="0" icon @click="clearEditing">
                      <v-icon>cancel</v-icon>
                    </v-btn>
                  </v-list-item-action>
                  <v-list-item-action class="mx-0 mt-8">
                    <v-btn tabindex="0" icon @click="() => saveEditedTarget('proposals', index)">
                      <v-icon>save</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </div>
                <div v-else>
                  <v-list-item-action class="mx-0">
                    <v-btn tabindex="0" icon @click="() => editTarget('proposals', index)">
                      <v-icon>edit</v-icon>
                    </v-btn>
                  </v-list-item-action>
                  <v-list-item-action class="mx-0">
                    <v-btn tabindex="0" icon @click="() => deleteTarget('proposals', index)">
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </div>
              </v-list-item>
              <v-divider
                  :key="index"
                  :inset="true"
              ></v-divider>
            </template>
          </v-list>
        </v-tab-item>
      </v-tabs>
      <slot name="actions"></slot>
    </v-card-text>
  </v-card>
</template>

<script>
import SelectCandidacy from "@/components/SelectCandidacy";
import SelectJurisdiction from "@/components/SelectJurisdiction";
import SelectOffice from '@/components/SelectOffice';
import {useAdvertisement} from "@/orca/advertisements/Advertisement";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "SelectTargets",
  components: {AccessibleButton, SelectCandidacy, SelectJurisdiction, SelectOffice},
  props: {
    year: {
      type: String,
      required: true
    },
    isPac: {
      type: Boolean,
      required: true
    },
    initialTargets: {
      type: Object,
      required: false
    }
  },
  setup() {
    const {recalculatePercentages} = useAdvertisement()

    const displayFraction = (num) => {
      return Number(Math.round(parseFloat(num + 'e3')) + 'e-3');
    }

    return {recalculatePercentages, displayFraction}
  },
  data() {
    return {
      displayAltCandidateForm: false,
      editingTarget: null,
      editingIndex: null,
      selectedCandidacy: null,
      selectedJurisdiction: null,
      selectedOffice: null,
      proposalTitle: null,
      targetData: {},
      proposalSearch: null,
      targets: {
        candidacies: [],
        proposals: []
      },
      stanceItems: [{text: 'For', value: 'for'}, {text: 'Against', value: 'against'}],
      tab: "",
      validations: {
        percentage: v => !v || 0 < v && v <= 100 || 'Amount between 1-100',
        proposalStance: v => !!v || !this.proposalTitle || 'Must enter a stance',
        editingProposalStance: v => !!v || !this.editingTarget.ballot_name || 'Must enter a stance'
      }
    }
  },
  computed: {
    completeCandidacy() {
      if (this.displayAltCandidateForm) {
        return (
            this.targetData.ballot_name &&
            this.targetData.office &&
            this.targetData.jurisdiction &&
            (!this.targetData.percent || (0 <= this.targetData.percent && this.targetData.percent <= 100))
        );
      } else {
        return (this.selectedCandidacy && this.selectedCandidacy.ballot_name
            && (!this.targetData.percent || (0 <= this.targetData.percent && this.targetData.percent <= 100))
        );
      }
    },
    completeProposal() {
      return (this.selectedJurisdiction && this.selectedJurisdiction.jurisdiction_id && this.proposalTitle && this.targetData.stance
          && (!this.targetData.percent || (0 <= this.targetData.percent && this.targetData.percent <= 100))
      );
    }
  },
  created() {
    if (this.initialTargets) {
      this.targets = this.initialTargets;
    }
  },
  methods: {
    saveEditedTarget(type, index) {
      this.editingTarget.ballot_name = this.editingTarget.ballot_name.trim();
      if (this.editingTarget.percent === '') this.editingTarget.percent = null;
      this.targets[type][index] = {...this.editingTarget};
      this.editingTarget = null;
      this.editingIndex = null;
      this.recalculatePercentages(this.targets);
      this.$emit('ad-target-changed', this.targets);
    },
    editTarget(type, index) {
      this.editingTarget = {...this.targets[type][index]};
      this.editingIndex = index;
      this.$emit('ad-target-changed', this.targets);
    },
    deleteTarget(type, index) {
      this.targets[type] = this.targets[type].filter((target, i) => i !== index);
      this.recalculatePercentages(this.targets);
      this.$emit('ad-target-changed', this.targets);
    },
    saveTarget(type) {
      let fields = {};
      switch (type) {
        case 'proposals':
          if (this.targets.proposals && this.targets.proposals
              .filter(p => p.title === this.proposalTitle && p.jurisdiction_id === this.selectedJurisdiction.jurisdiction_id).length) {
            return
          }
          fields = {
            title: this.proposalTitle,
            jurisdiction_id: this.selectedJurisdiction.jurisdiction_id,
            jurisdiction_name: this.selectedJurisdiction.name,
            target_type: 'proposal',
          }
          fields.ballot_name = fields.title;
          if (this.targetData.percent) fields.percent = this.targetData.percent;
          if (this.targetData.stance) fields.stance = this.targetData.stance;
          this.proposalTitle = null;
          this.selectedJurisdiction = null;
          break;
        case 'candidacies':
          if (
              this.targets.candidacies &&
              !this.displayAltCandidateForm &&
              this.targets.candidacies.filter(c => c.candidacy_id === this.selectedCandidacy.candidacy_id).length) {
            return
          }
          if (this.displayAltCandidateForm) {
            const {
              ballot_name,
              office: {offtitle: office_title, offcode: office_code},
              jurisdiction: {name: jurisdiction_name, jurisdiction_id},
              stance,
              percent
            } = this.targetData;

            fields = {
              ballot_name,
              office_code,
              jurisdiction_id,
              stance,
              percent,
              display_name: `${ballot_name} (${office_title}, ${jurisdiction_name})`,
            };
          } else {
            const {stance, percent} = this.targetData;
            fields = {
              candidacy_id: this.selectedCandidacy.candidacy_id,
              ballot_name: this.selectedCandidacy.ballot_name,
              stance,
              percent,
              display_name: this.selectedCandidacy.Description
            }
            this.selectedCandidacy = null;
          }
          fields.target_type = 'candidacy';
          break;
        default:
          throw Error('Invalid target type');
      }
      fields.ballot_name = fields.ballot_name.trim();
      fields.title = fields.ballot_name.trim();
      fields.percent = fields.percent === '' ? null : fields.percent;
      this.targets[type].push({...fields});
      this.targetData = {};

      this.recalculatePercentages(this.targets);
      this.$emit('ad-target-changed', this.targets);
      if (this.$refs.selectCandidacy) {
        this.$refs.selectCandidacy.model = null;
      }
      if (this.$refs.selectJurisdiction) {
        this.$refs.selectJurisdiction.model = null;
        this.selectedJurisdiction = null;
      }
      if (this.displayAltCandidateForm) {
        this.$refs.selectOfficeAlt.model = null;
        this.$refs.selectJurisdictionAlt.model = null;
        this.displayAltCandidateForm = false;
      }
    },
    clearEditing() {
      this.editingTarget = null;
      this.editingIndex = null;
    },
    editing(type, index) {
      return this.editingIndex === index;
    },
    handleJurisdictionSelected(jurisdiction) {
      if (this.displayAltCandidateForm) {
        this.targetData = {...this.targetData, jurisdiction}
      } else {
        this.selectedJurisdiction = jurisdiction;
      }
    },
    async handleOfficeSelected(office) {
      this.$emit('revalidate-form');
      if (this.displayAltCandidateForm) {
        this.selectedOffice = office
        this.targetData = {...this.targetData, office}
      } else {
        this.selectedOffice = office;
      }
    },

    handleCandidacySelection(args) {
      if (args?.candidacy?.candidacy_id === -1) {
        this.displayAltCandidateForm = true
        this.targetData.ballot_name = args?.search;
      } else {
        this.selectedCandidacy = args.candidacy;
      }
    },
  },
}
</script>

<style scoped>
.w-100 {
  width: 100%
}

.new-target--container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
</style>
