<template>
  <div>
    <v-row>
      <p><em>Here you can specify which contributions were made to fund this advertisement. Use the search box below to
        find the contribution, then click the "add contribution" button.</em></p>
    </v-row>
    <v-row>
      <v-autocomplete
          v-model="selectedContribution"
          :items="items"
          :loading="isLoading"
          :search-input.sync="search"
          hide-no-data
          hide-selected
          item-text="calculatedDescription"
          item-value="trankeygen_id"
          label="Contribution search"
          placeholder="Start typing to Search"
          prepend-icon="search"
          return-object
          clearable
          @change="() => $emit('contribution-selected', selectedContribution)"
      ></v-autocomplete>
      <v-btn tabindex="0" color="primary" @click="addContribution" class="mx-2 mt-2" :disabled="!selectedContribution">Add
        contribution
      </v-btn>
    </v-row>
    <v-row>
      <v-layout child-flex>
        <v-data-table :headers="headers" :items="contributions" :footer-props="footerProps">
          <template v-slot:item.amount="{item}">
            {{ formatMoney(item.amount) }}
          </template>
          <template v-slot:item.actions="{item}">
            <v-btn tabindex="0" icon @click="() => deleteContribution(contributions.indexOf(item))">
              <v-icon>delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-layout>
    </v-row>
  </div>
</template>

<script>
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "@/orca/fund/Fund";
import filters from "@/filters";
import _ from "lodash";

export default {
  name: "SelectContribution",
  props: {
    initialContributions: {
      type: Array,
      required: false
    }
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund};
  },
  data() {
    return {
      descriptionLimit: 60,
      selectedContribution: null,
      isLoading: false,
      search: null,
      lastNotNullSearch: null,
      tooFastTyping: false,
      entries: [],
      contributions: [],
      headers: [
        {text: 'Date', value: 'date_'},
        {text: 'Amount', value: 'amount'},
        {text: 'Name', value: 'name'},
        {text: '', value: 'actions', sortable: false}
      ],
      footerProps: {
        'options': {'itemsPerPage': 25},
        'items-per-page-options': [25]
      }
    }
  },
  computed: {
    items() {
      return this.entries.map((entry) => {
        const calculatedDescription = this.formatDate(entry.date_) + ' - ' + this.formatMoney(entry.amount) + ' - ' + entry.name + (entry.memo ? ' - ' + entry.memo : '');
        return Object.assign({}, entry, {calculatedDescription})
      })
    },
    searchVal() {
      return this.search?.substring(0, 1);
    }
  },
  watch: {
    searchVal: "getContribs"
  },
  created() {
    if (this.initialContributions) {
      this.contributions = this.initialContributions;
    }
  },
  methods: {
    ...filters.filters,
    addContribution() {
      if (this.contributions.filter(c => c.contribution_id === this.selectedContribution.trankeygen_id).length) {
        return
      }
      if (!('contribution_id' in this.contributions)) {
        this.contributions.push({
          contribution_id: this.selectedContribution.trankeygen_id,
          name: this.selectedContribution.name,
          date_: this.selectedContribution.date_,
          amount: this.selectedContribution.amount,
          memo: this.selectedContribution.memo,
        });
      }
      this.$emit('ad-contribution-change', this.contributions);
      this.selectedContribution = null;
    },
    deleteContribution(index) {
      this.contributions = this.contributions.filter((c, i) => i !== index);
      this.$emit('ad-contribution-change', this.contributions);
    },
    getContribs: _.debounce(function (val) {
      // Don't search if there is no input
      if (!val || val.length === 0) return
      // use the last not-null search value when determining whether to re-trigger the search
      // otherwise, nulling the value and retyping the previous value will trigger a network call
      if (this.lastNotNullSearch && this.lastNotNullSearch === val) return

      // this.tooFastTyping = false;
      // if already loading, someone is typing very fast
      if (this.isLoading) {
        this.tooFastTyping = true;
        return
      }
      this.isLoading = true

      this.lastNotNullSearch = val;
      // Lazily load input items
      orcaDataService.getContributions(this.fund.fund_id, val)
          .then(c => {
            this.count = c.contributions.length
            this.entries = c.contributions
          })
          .catch(err => {
            console.error(err)
          })
          .finally(() => {
            this.isLoading = false;
            if (this.tooFastTyping) {
              this.tooFastTyping = null;
              this.getContribs(this.search);
            }
          });
    })
  }
}
</script>
