<template>
  <div>
    <h2>Independent Expenditures</h2>
      <v-row class="mt-3">
        <v-col cols="12" sm="5" md="3" lg="2">
          <v-btn tabindex="0" color="success" @click="loadReports">Reload Reports</v-btn>
        </v-col>
        <v-col cols="12" sm="6" md="3" lg="3">
          <v-text-field type="number" label="Election Year" v-model="election_year"
                        @keyup.enter="loadReports"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="6" lg="7">
          <v-text-field v-model="search" label="Type here to start searching..." single-line></v-text-field>
        </v-col>
      </v-row>
    <v-data-table :items="reports" :search="search" :headers="[
          { text: 'Name', value: 'name' },
          { text: 'Date Filed', value: 'date_filed' },
          { text: 'Election Year', value: 'election_year' },
          { text: 'Report Type', value: 'rpt_type' },
          { text: 'Repno', value: 'repno' },
          user.rights.delete_wapdc_report ? { text: 'Actions', value: 'actions' } : {}]">
      <template v-slot:item.actions="{item}" v-if="user.rights.delete_wapdc_report">
        <v-btn tabindex="0" @click="openDeleteReport(item)">
          <v-icon>delete</v-icon>
        </v-btn>
      </template>
      <template v-slot:item.name="{item}">
        <router-link
            :to="{ name: 'admin.c6-report', query: { repno: item.repno, origin: 'c6-reports', election_year: item.election_year }}">
          {{ generateDisplayName(item) }}
        </router-link>
      </template>
    </v-data-table>
    <v-dialog v-model="deleteReportDialog">
      <v-card>
        <v-card-title>Delete report</v-card-title>
        <v-card-text>
          <div>
            <v-icon color="error">error</v-icon>
            You can no longer delete reports via this tool. Please open a PDC IT ticket to get help deleting the
            report.</div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" disabled @click="deleteReport()">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="closeDeleteReport()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar" :timeout="3000">
      {{ snackbarText }}
      <v-btn tabindex="0" color="primary" @click="deleteResponse.response = false">
        Close
      </v-btn>
    </v-snackbar>
    <v-dialog v-model="subsequentReportsDialog">
      <v-card>
        <v-card-title>Other reports need attention!</v-card-title>
        <v-card-text>
          <div>This report is not the latest report. You must delete the most recent reports first.</div>
          <v-data-table :items="subsequentReports" :headers="[
          { text: 'Repno', value: 'repno' },
          { text: 'Date Filed', value: 'date_filed' },
          { text: 'Election_year', value: 'election_year' },
          { text: 'Action', value: 'actions' },
          ]">
            <template v-slot:item.actions="{item}">
              <v-btn tabindex="0" @click="openDeleteReport(item)" :disabled="item.repno < highestRepno">
                <v-icon>delete</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="closeSubsequentReportsDialog()" color="primary">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

import {app} from "@/main";
import {mapState} from 'vuex'

export default {
  name: "C6Reports",
  data() {
    return {
      reports: [],
      deleteReportDialog: false,
      selectedReport: {},
      editReportDialog: false,
      election_year: new Date().getFullYear(),
      search: "",
      deleteResponse: {},
      snackbar: false,
      snackbarText: '',
      subsequentReports: [],
      subsequentReportsDialog: false,
      pending: false
    }
  },
  created() {
    this.loadReports();
    ['ie-assign-success', 'ie-assign-failure'].forEach((event) => {
      app.$container.wire.$on(event, () => {
        this.snackbarText = event === 'ie-assign-success' ? 'Update succeeded.' : 'Update failed.';
        this.snackbar = true;
        this.loadReports();
      })
    })
  },
  computed: {
    highestRepno() {
      const repnos = this.subsequentReports.map(n => n.repno)
      return Math.max(...repnos)
    },
    ...mapState(['user'])
  },
  methods: {
    loadReports() {
      if (this.election_year) {
        app.$container.dataService.sponsors(data => {
          this.reports = data || [];
        }, {election_year: this.election_year});
      } else {
        app.$container.dataService.sponsors(data => {
          this.reports = data || [];
        });
      }
    },
    deleteReport() {
      this.closeSubsequentReportsDialog()
      app.$container.dataService.reportDelete(data => {
        this.deleteResponse = data;
        this.selectedReport = {};
        this.snackbarText = data.message;
        this.snackbar = data.response;
        this.loadReports();
      }, this.selectedReport.repno);
      this.deleteReportDialog = false;
    },
    openDeleteReport(report) {
      this.selectedReport = report;
      this.pending = true;
      app.$container.dataService.reportFetchAllData(([data]) => {
        this.selectedReport = data;
        this.pending = false;
        if (data.deletable) {
          this.deleteReportDialog = true;
        } else {
          this.subsequentReportsDialog = true;
          this.subsequentReports = data.subsequentReports
        }
      }, this.selectedReport.repno)
    },
    closeDeleteReport() {
      this.selectedReport = {};
      this.deleteReportDialog = false;
    },
    closeSubsequentReportsDialog() {
      this.subsequentReports = [];
      this.subsequentReportsDialog = false;
    },
    generateDisplayName(item) {
      return item.fname ? `${item.name}, ${item.fname}` : item.name
    },
  }
}
</script>

<style scoped>

</style>
