<template>
  <div>
    <div class="d-flex justify-center mt-10" v-if="spinner">
      <v-progress-circular
          :size="100"
          :value="0"
          :width="12"
          indeterminate
          color="green"
      ></v-progress-circular>
    </div>
    <div v-if="!spinner">
      <v-container>
        <v-card>
          <v-card-title>{{ report.name }}
            <v-chip class="mx-3" small>repno {{ report.repno }}</v-chip>
          </v-card-title>
          <v-card-text>
            <address>
              {{ report.addr }}<br/>
              {{ report.city }}, {{ report.state }} {{ report.zip }}
            </address>
            <v-row>
              <v-col cols="12" lg="3">
                <span class="overline font-weight-black">Email: </span>{{ report.email }}
              </v-col>
              <v-col cols="12" lg="3">
                <span class="overline font-weight-black">Phone: </span>{{ report.phone }}
              </v-col>
              <v-col cols="12" lg="3">
                <span class="overline font-weight-black">Date Filed: </span>{{ report.date_filed }}
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" lg="3">
                <span class="overline font-weight-black">Election Year: </span>{{ report.election_year }}
              </v-col>
              <v-col cols="12" lg="3">
                <span class="overline font-weight-black">Report Type: </span>{{ report.rpt_type }}
              </v-col>
              <v-col cols="12" lg="3">
                <span class="overline font-weight-black">Sponsor Description: </span>{{ report.sponsor_desc }}
              </v-col>
            </v-row>
          </v-card-text>
          <v-spacer></v-spacer>
          <v-card-text>
            <h2 class="mb-3">Report Expenditures</h2>
            <v-data-iterator
                :items="report.entities"
                item-key="ident"
                :items-per-page="10"
                :single-expand="false"
            >
              <template v-slot:default="{ items, isExpanded, expand }">
                <v-card :class="isSelectedIdent(entity.ident) ? 'card-border-selected' : ''" :key="entity.ident"
                        v-for="entity in items" class="mb-2">
                  <v-card-title>{{ generateDisplayName(entity) }}
                    <v-chip
                        class="ma-2"
                        small
                        color="red"
                        text-color="white"
                        v-if="!entity.filer_id && !entity.ballot_name"
                    >
                      Filer ID Missing
                    </v-chip>
                    <v-chip
                        class="ma-2"
                        small
                        color="primary"
                        text-color="white"
                        v-if="entity.filer_id"
                    >
                      {{ entity.filer_id }}
                    </v-chip>

                  </v-card-title>
                  <v-card-text>
                    <h4 v-if="entity.cand_lname">{{ entity.office }}, {{ entity.juris }}</h4>
                    <h4 v-else>{{ entity.ballot_type }}: Ballot Num {{ entity.ballot_num }}</h4>
                    <v-row>
                      <v-col cols="12" md="3" v-if="entity.party">
                        <v-text-field class="mb-n5 mb-md-n2" dense readonly outlined label="Party"
                                      :value="entity.party"/>
                      </v-col>
                      <v-col cols="12" md="3" v-if="entity.portion_of_amt">
                        <v-text-field class="mb-n5 mb-md-n2" dense readonly outlined label="Portion of Amount"
                                      :value="entity.portion_of_amt"/>
                      </v-col>
                      <v-col cols="12" md="3" v-if="entity.spt_opp">
                        <v-text-field class="mb-n5 mb-md-n2" dense readonly outlined label="Support or Oppose"
                                      :value="entity.spt_opp"/>
                      </v-col>
                      <v-col cols="12" md="3" v-if="entity.total_cycle">
                        <v-text-field class="mb-n5 mb-md-n2" dense readonly outlined label="Total Cycle"
                                      :value="entity.total_cycle"/>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </template>
            </v-data-iterator>
          </v-card-text>
        </v-card>
      </v-container>
    </div>
  </div>
</template>

<script>
import {app} from '@/main'
import PersonSearch from '@/admin/PersonSearch'

export default {
  name: 'C6Report.vue',
  components: {
    PersonSearch
  },
  data() {
    return {
      repno: null,
      ident: null,
      report: [],
      selectedIdent: null,
      selectedName: '',
      snackbar: false,
      snackbarText: '',
      spinner: true,
      wire: this,
      origin: null,
      fired: false
    }
  },
  created() {
    this.repno = this.$route.query.repno
    this.origin = this.$route.query.origin
    this.fetchInitialState()
  },
  methods: {
    fetchInitialState() {
      app.$container.dataService.reportFetchAllData(([data]) => {
        this.report = data
        this.spinner = false
      }, this.repno)
    },
    generateDisplayName(item) {
      return item.ballot_name ? item.ballot_name : `${item.cand_lname}, ${item.cand_fname}`
    },
    isSelectedIdent(ident) {
      return ident === this.$route.query.ident
    },
    onPersonSelect(person) {
      app.$container.dataService.identifiedEntitiesUpdate(data => {
        if (data.success) {
          app.$container.wire.$emit('ie-assign-success')
        } else {
          app.$container.wire.$emit('ie-assign-failure')
        }
        this.$router.push(`${this.origin}?election_year=${this.$route.query.election_year}`)
      }, {filer_id: person.filer_id, ident: this.selectedIdent})
    }
  }
}
</script>

<style scoped>
.card-border-selected {
  border: 1px solid #388e3c;
}
</style>
