<template>
  <div>
    <h2>Candidates Missing Filer Ids</h2>
    <br/>
    <p>This functionality is no longer available. The C6 independent expenditures application automatically sets the
      identifier on all records.</p>
  </div>
</template>

<script>

export default {
  name: "CandidatesMissingFilerIds",
  data() {
    return {
      reports: [],
      election_year: this.$route.query.election_year ? this.$route.query.election_year : new Date().getFullYear(),
      search: "",
      snackbar: false,
      snackbarText: ''
    }
  }
}
</script>

<style scoped>

</style>
