<template>
  <v-card>
    <v-card-title>
      Paper registrations without attachments
      <div class="flex-grow-1"></div>
      <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
        v-show="dataLoaded"
        :items="registrations"
        :headers="[
        { text: 'Registration ID', value: 'registration_id' },
        { text: 'Name', value: 'name' },
        { text: 'Submitted At', value: 'submitted_at' }
      ]"
        :search="search"
        no-data-text="No paper registrations without attachments."
    >
      <template v-slot:item.registration_id="{item}">
        <router-link :to="{path: '/registration', query: {registration_id : item.registration_id}}">
          {{ item.registration_id }}
        </router-link>
      </template>
    </v-data-table>

  </v-card>
</template>

<script>
import {app} from '../main'
import {mapState, mapActions} from 'vuex'

export default {
  data() {
    return {
      search: '',
      registrations: [],
    }
  },
  computed: {
    ...mapState(['dataLoaded']),
  },
  mounted() {
    this.setDataLoaded(false);
    this.loadRegistrations();
  },
  methods: {
    ...mapActions(['setDataLoaded']),
    loadRegistrations() {
      this.setDataLoaded(false);
      app.$container.dataService.adminQuery('paper_registrations_no_attachments', data => {
        this.registrations = data;
        this.setDataLoaded(true);
      });
    }
  }
}
</script>