<template>
  <div class="personsearch">
    <v-form class="outer" id="search" @submit.prevent="onFindPerson()">
      <v-text-field v-model="search_name"></v-text-field>
      <v-btn tabindex="0" type="submit" color="primary" class="ml-10 mr-5">Search</v-btn>
    </v-form>

    <v-radio-group v-if="persons.length > 0" v-model="selected_person_id">
      <v-radio v-for="person in persons" :key="person.person_id" @change="onRadioSelected(person)"
               :value="person.person_id">
        <template v-slot:label>
          {{ person.name }}
          <v-icon @click="onGetCandidateDetails(person.person_id)" class="ml-1">info</v-icon>
        </template>
      </v-radio>
    </v-radio-group>
    <p v-else>No similar persons found.</p>

    <v-dialog v-model="show_info">
      <v-card>

        <v-card-title><h3>{{ infoCandidateName }}</h3></v-card-title>
        <v-card-text>
          <div v-if="candidacies.length">
            <div v-if="candidacies[0].address || candidacies[0].city || candidacies[0].state || candidacies[0].postcode"
                 class="candidate-address">
              <div v-if="candidacies[0].address">{{ candidacies[0].address }}</div>
              <div v-if="candidacies[0].city || candidacies[0].state || candidacies[0].postcode">
                <span v-if="candidacies[0].city">{{ candidacies[0].city }}</span>
                <span v-if="candidacies[0].city && candidacies[0].state">,</span>
                <span v-if="candidacies[0].state"> {{ candidacies[0].state }}</span>
                <span v-if="candidacies[0].postcode"> {{ candidacies[0].postcode }}</span>
              </div>
            </div>
            <div v-for="candidate in candidacies" :key="candidate.candidacy_id" class="candidate-candidacy">
              <div>
                <span v-if="candidate.election_code">{{ candidate.election_code }}</span>
                <span v-if="candidate.election_code && candidate.filer_id"> - </span>
                <span v-if="candidate.filer_id">{{ candidate.filer_id }}</span>
              </div>
              <div v-if="candidate.office_title">{{ candidate.office_title }}</div>
              <div v-if="candidate.jurisdiction_name">{{ candidate.jurisdiction_name }}</div>
            </div>
          </div>
          <p v-else>No candidacies found for that person.</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="show_info = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <p v-if="!persons.length>0">Could not find any people matching your search term.</p>
    <p v-if="missingName">Provide a name to search and find a person.</p>

    <v-toolbar flat>
      <v-btn tabindex="0" color="primary" :disabled="!selected_person_id" @click="onSelectedPerson(selected_person)">
        {{ verifyLabel || 'Match Person' }}
      </v-btn>
      <v-btn tabindex="0" @click="onNoMatchingPerson()" class="ml-2">No Match Found</v-btn>
    </v-toolbar>

  </div>
</template>
<script>
import {app} from "@/main";
import {mapState} from 'vuex';

export default {
  name: "PersonSearch",
  props: {
    person_name: String,
    verifyLabel: String,
    verifyText: String
  },
  data() {
    return {
      search_name: "",
      persons: [],
      candidacies: [
        {
          ballot_name: "",
          candidacy_id: "",
          office_title: "",
          jurisdiction_name: "",
          election_code: "",
          address: "",
          city: "",
          postcode: "",
          state: ""
        }
      ],
      selected_person: {
        name: "",
        filer_id: "",
        person_id: ""
      },
      selected_person_id: "",
      missingName: false,
      show_info: false,
      infoCandidateName: "",
      person: {
        name: "",
        person_id: "",
        filer_id: ""
      }
    }
  },
  computed: {
    ...mapState(['registration'])
  },
  created() {
    if (this.person_name) {
      this.search_name = this.person_name;
      this.onFindPerson();
    }
  },
  methods: {
    onFindPerson() {
      this.missingName = false;
      let committee = this.registration.committee;
      if (this.search_name) {
        app.$container.dataService.adminQuery('person',
            data => {
              this.persons = data
            }, {
              search: this.search_name,
              election_code: committee.election_code,
              jurisdiction_id: committee.candidacy.jurisdiction_id,
              office_code: committee.candidacy.offcode,
              similarity: 0.4
            })
      } else {
        this.missingName = true;
      }
    },
    onGetCandidateDetails(personId) {
      let infoCandidate = this.persons.find(e => {
        return e.person_id === personId
      });
      this.infoCandidateName = infoCandidate.name ? infoCandidate.name : personId;
      app.$container.dataService.adminQuery('person_candidacies', data => {
        this.candidacies = data;
        this.show_info = true;
      }, {person_id: personId});
    },
    onRadioSelected(person) {
      this.selected_person = person;
    },
    onSelectedPerson(person) {
      this.$emit('select-person', person);
    },
    onNoMatchingPerson() {
      this.$emit('no-match', null);
    },
  }
}
</script>

<style scoped>
.outer {
  display: flex;
  align-items: baseline;
}

.candidate-address, .candidate-candidacy {
  margin-bottom: 2em;
}
</style>
