<template>
  <div class="similarCommittees">

    <v-form class="outer" @submit.prevent="searchSimilarCommittees()">

      <v-text-field label="Determine if this is an existing committee" id="search_string"
                    v-model="search_string"></v-text-field>
      <v-btn tabindex="0" color="primary" v-on:click="searchSimilarCommittees()" class="ml-10 mr-5">Search</v-btn>
    </v-form>

    <div v-if="!similarCommittees.length>0">No committees were found using the given search criteria.</div>

    <v-radio-group v-else v-model="selected_entity_id">

      <v-radio
          v-for="(similarCommittee, index) in similarCommittees" :key="index"
          :value=similarCommittee.entity_id
          @change="radioSelected(similarCommittee.entity_id, similarCommittee.name, similarCommittee.filer_id)"
      >
        <template v-slot:label>
          {{ similarCommittee.name }}<span
            v-if="similarCommittee.jurisdiction"> - {{ similarCommittee.jurisdiction }}</span>
          {{ parenthetical(similarCommittee.election_title) }}
          <v-icon
              @click="showCommitteeOfficersDialog(similarCommittee.entity_id, similarCommittee.name, similarCommittee.filer_id)"
              class="ml-1">info
          </v-icon>
        </template>
      </v-radio>
    </v-radio-group>

    <v-btn tabindex="0" color="primary" @click="committeeSelected()" :disabled="!selected_entity_id">Verify Committee</v-btn>

    <v-btn tabindex="0" @click="noCommitteesMatched()" class="ml-2">No Match Found</v-btn>

    <v-dialog v-model="showDialog">
      <v-card>

        <v-card-title>
          <h3>Matching Filers</h3>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <h3>Potential match</h3>
              <h4>{{selected_name}}</h4>
              <p>{{ selected_filer_id }}</p>
              <v-card class="dialogCard" v-for="(contact, i) in committeeContacts" :key="i">
                <v-card-title>{{ contact.source }}</v-card-title>
                <v-card-text>
                      <div v-if="contact.title"><strong>{{ contact.title }}</strong></div>
                      <div v-if="contact.name">{{ contact.name }}</div>
                      <div v-if="contact.email">{{ contact.email }}</div>
                      <div v-if="contact.phone">{{ contact.phone }}</div>
                      <div v-if="contact.address || contact.city || contact.state || contact.postcode">
                        <span v-if="contact.address">{{ contact.address }} <br/> </span>
                        <span v-if="contact.city">{{ contact.city }}</span>
                        <span v-if="contact.city && contact.state">,</span>
                        <span v-if="contact.state"> {{ contact.state }} </span>
                        <span v-if="contact.postcode">{{ contact.postcode }}</span>
                      </div>
                </v-card-text>
              </v-card>
              <v-card v-if="committeeContacts.length === 0 ">
                <v-card-text>
                  No Committee Offices Found
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="6" v-if="compareContacts">
              <h3>From registration</h3>
              <h4>{{compare_name}}</h4>
              <v-card class="dialogCard" v-for="(contact,x) in compareContacts" :key="`cc-${x}`">
                <v-card-title></v-card-title>
                <v-card-text>
                  <div v-if="contact.title"><strong>{{ contact.title }}</strong></div>
                  <div v-if="contact.name">{{ contact.name }}</div>
                  <div v-if="contact.email">{{ contact.email }}</div>
                  <div v-if="contact.phone">{{ contact.phone }}</div>
                  <div v-if="contact.address || contact.city || contact.state || contact.postcode">
                    <span v-if="contact.address">{{ contact.address }} <br/> </span>
                    <span v-if="contact.city">{{ contact.city }}</span>
                    <span v-if="contact.city && contact.state">,</span>
                    <span v-if="contact.state"> {{ contact.state }} </span>
                    <span v-if="contact.postcode">{{ contact.postcode }}</span>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="showDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import {app} from "@/main";
import {mapState} from 'vuex';
import filters from '@/filters';

export default {
  name: 'SimilarCommittees',
  props: [
    'compare_name',
    'compareContacts'
  ],
  data() {
    return {
      similarCommittees: [
        {
          entity_id: "",
          registration_id: "",
          committee_id: "",
          name: "",
          election_title: "",
        }
      ],
      committeeContacts: [],
      search_string: "",
      selected_name: "",
      selected_entity_id: "",
      selected_filer_id: "",
      showDialog: false,
      index: ''
    }
  },
  computed: {
    ...mapState(["registration"]),
  },
  created() {
    if (this.compare_name) {
      this.search_string = this.compare_name;
    }
    this.searchSimilarCommittees();
  },
  methods: {
    ...filters.filters,
    showCommitteeOfficersDialog(id, name, filer_id) {
      this.showDialog = true;
      this.selected_entity_id = id;
      this.selected_name = name;
      this.selected_filer_id = filer_id;
      app.$container.dataService.adminQuery('entity_all_contacts', data => {
        this.committeeContacts = data;
      }, {
        entity_id: id
      });
    },
    searchSimilarCommittees() {
      this.selected_entity_id = null;
      this.selected_name = "";
      app.$container.dataService.adminQuery('view_registration_similar_committees', data => {
        this.similarCommittees = data;
      }, {compare_name: this.search_string, committee_id: this.registration.committee.committee_id});
    },
    radioSelected(id, name, filer_id) {
      this.selected_entity_id = id;
      this.selected_name = name;
      this.selected_filer_id = filer_id;
    },
    committeeSelected() {
      this.$emit('select-entity', this.selected_entity_id);
    },
    noCommitteesMatched() {
      this.$emit('no-match', 'No matches found');
    }
  },
}
</script>

<style lang="scss" scoped>
.outer {
  display: flex;
  align-items: baseline;
}

.dialogCard {
  margin: 4px;
}
</style>
