<template>
  <div class="unverified-committees">
    <h2>Unverified Committees</h2>
    <v-data-table :items="unverifiedCommittees"
                  :headers="[
          { text: 'Submitted', value:'submitted_at'},
          { text: 'Type', value: 'pac_type'},
          { text: 'Name', value: 'name'},
          { text: 'Election', value:'election_code'}
    ]">
      <template v-slot:item.name="{item}">
        <td>
          <router-link :to="{path: '/registration', query: {registration_id: item.registration_id}}">{{ item.name }}
          </router-link>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import {app} from "@/main";
import {mapActions} from 'vuex';

export default {
  data() {
    return {
      unverifiedCommittees: []
    };
  },

  mounted() {
    app.$container.wire.$emit('breadcrumbs',[])
    this.setDataLoaded(false);
    app.$container.dataService.adminQuery('unverified_committees', data => {
      this.unverifiedCommittees = data;
    })
  },

  methods: {
    ...mapActions(['setDataLoaded']),
  }
}
</script>