<template>
  <v-card class="outerCard hidden-print-only" v-if="dataLoaded && !registration.verified ">
    <v-card-title>
      <h3>Verify registration</h3>
    </v-card-title>
    <v-card-text>
      <v-card class="innerCard searchCard" v-if="step === 'committee-matching'">
        <v-card-title>
          <h3>Committee search</h3>
        </v-card-title>
        <v-card-text>
          <SimilarCommittees @select-entity="onSelectEntity" @no-match="onNoMatch"
                             :compare_name=registration.committee.name
                             :committee_id=registration.committee.committee_id
                             :compare-contacts="compareContacts"
          >
          </SimilarCommittees>
        </v-card-text>
      </v-card>

      <v-card class="innerCard searchCard" v-if="step === 'person-matching'">
        <v-card-title>
          <h3>Person search</h3>
        </v-card-title>
        <v-card-text>
          <PersonSearch ref="personSearch" @select-person="onSelectPerson" @no-match="onNoMatch"
                        :person_name="registration.committee.candidacy.person"/>
        </v-card-text>
      </v-card>

      <v-card class="innerCard searchCard" v-if="step === 'review-required'">
        <v-card-title>
          <h3>Review required</h3>
        </v-card-title>
        <v-card-text>
          <p v-if="isMiniToFull">
            This appears to be a mini-to-full filer. Permission
            {{ registration.committee.mini_full_permission === true ? 'has' : 'has not' }}
            been granted for this change.
            {{ registration.committee.mini_full_permission !== true && 'Please contact IT.' }}
          </p>
          <p>
            This is a registration for a committee that already has been assigned a filer id. Information from the
            current registration
            will be applied to this committee when you verify it and the registration wil be marked as having been
            verified.
          </p>
          <div v-if="changeOfJurisdictionOrOffice">
            <p>
                There has been a change in either jurisdiction or office with the current amendment.
            </p>
            <div>
              <h4>
                Current candidacy
              </h4>
              <v-row>
                <v-col cols="3">
                  Office: {{ registration.meta_data.candidacy.office}}
                </v-col>
                <v-col cols="3">
                  Jurisdiction: {{ registration.meta_data.candidacy.jurisdiction }}
                </v-col>
              </v-row>
            </div>
            <br/>
            <div>
              <h4>
                Amendment information
              </h4>
              <v-row>
                <v-col cols="3">
                  Office: {{ registration.committee.candidacy.office }}
                </v-col>
                <v-col cols="3">
                  Jurisdiction: {{ registration.committee.candidacy.jurisdiction }}
                </v-col>
              </v-row>
            </div>
          </div>
          <p v-else>
            <strong>Please do not use this except for under the guidance of IT.</strong>
          </p>

          <p>
            <v-radio-group v-model="skipNotification" label="Send email notification of verification">
              <v-radio label="Yes, send" :value="false"/>
              <v-radio label="No, do not send" :value="true"/>
            </v-radio-group>
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="verify">Verify Registration</v-btn>
        </v-card-actions>
      </v-card>

      <v-dialog v-model="confirmRevertRegistration">
        <v-card>

          <v-card-title>Revert registration</v-card-title>
          <v-card-text>
            Are you sure you want to revert this registration? This will return the registration to the
            draft state and remove a registration that has been submitted by a filer. You should only
            do this in the case where the filer has chosen the wrong type of registration. Note that
            you will need to contact the filer to let them know that their registration
            has not been accepted.
            <v-select label="PAC type" v-model="revertPayload.pac_type"
                      :items="[
                      { text: 'Bonafide', value: 'bonafide' },
                      { text: 'Candidate', value: 'candidate' },
                      { text: 'Caucus', value: 'caucus' },
                      { text: 'PAC', value: 'pac' },
                      { text: 'Surplus', value: 'surplus' },
                    ]"
            />
            <v-select label="Continuing" v-show="revertPayload.pac_type === 'pac'" v-model="revertPayload.continuing"
                      :items="[
                      { text: 'Continuing', value: true },
                      { text: 'Single Election', value: false }
                    ]"
            />
            <v-autocomplete label="Election" clearable :items="elections" item-text="title" item-value="election_code"
                            v-model="revertPayload.election_code"
                            v-show="showElections"
            />
            <v-select label="Bonafide type" v-show="revertPayload.pac_type === 'bonafide'"
                      v-model="revertPayload.bonafide_type"
                      :items="[
                      { text: 'State', value: 'state' },
                      { text: 'County', value: 'county' },
                      { text: 'District', value: 'district' },
                    ]"
            />
            <v-radio-group v-model="revertPayload.exempt"
                           v-show="revertPayload.pac_type === 'bonafide' || revertPayload.pac_type === 'caucus'">
              <v-radio value="0" label="Not exempt">Not exempt</v-radio>
              <v-radio value="1" label="Exempt">Exempt</v-radio>
            </v-radio-group>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" @click="revertRegistration">Revert</v-btn>
            <v-btn tabindex="0" @click="confirmRevertRegistration=false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="verifyOutcomesDialog">
        <v-card>
          <v-card-title>Consequences of this action</v-card-title>
          <v-card-text>
            <v-alert v-if="outcomes.error" color="error" outlined>
              <v-icon>warning</v-icon>
              {{ outcomes.error }}
            </v-alert>
            <ul>
              <template v-if="registration.committee.committee_type === 'CA'">
                <!-- filer id -->
                <li v-if="outcomes.filer_id && outcomes.mergeable">Filer ID {{ outcomes.filer_id }} will be used.</li>
                <li v-else-if="outcomes.needs_2_file">This filer appears to have multiple candidacies for this election
                  code. A new filer id will be generated based on the filer ID on the existing candidacy
                  <a :href="'/data-admin/candidacy/' + outcomes.needs_2_file" target="_blank">{{
                      outcomes.needs_2_file
                    }}</a>.
                </li>
                <li v-else-if="outcomes.filer_id">The committee will use filer ID {{ outcomes.filer_id }}.</li>
                <li v-else-if="outcomes.entity_id">A person record exists, but does not have a filer ID yet. A new filer
                  ID will be assigned.
                </li>
                <li v-else>A new person record will be created and a new filer ID assigned.</li>
                <!-- candidacy and committee -->
                <li v-if="outcomes.mergeable">This committee will be merged into the existing committee
                  <a :href="'committee?committee_id=' + outcomes.committee_id" target="_blank">{{
                      outcomes.committee_id
                    }}</a>.
                </li>
                <li v-else-if="outcomes.candidacy_id">The candidacy already exists and there is no committee linked to
                  it. This committee will be verified and linked to the existing candidacy
                  <a :href="'/data-admin/candidacy/' + outcomes.candidacy_id" target="_blank">{{
                      outcomes.candidacy_id
                    }}</a>.
                </li>
                <li v-else-if="registration.committee.pac_type !== 'surplus'">A new candidacy will be created and linked
                  to this person and this committee.
                </li>
              </template>
              <template v-else>
                <!-- committee_type = CO -->
                <li v-if="outcomes.error">{{ outcomes.error }}. A merge is not possible.</li>
                <li v-if="outcomes.mergeable">This committee will be merged into the existing committee
                  <a :href="'committee?committee_id=' + registration.admin_data.target_committee_id"
                     target="_blank">{{ registration.admin_data.target_committee_id }}</a>.
                </li>
                <li v-if="outcomes.filer_id">The committee will use the existing filer ID {{ outcomes.filer_id }}.</li>
                <li v-else>A new filer ID will be assigned to this committee.</li>
                <li v-if="outcomes.continuing">The committee will be marked as continuing.</li>

              </template>
              <!--  misc -->
              <li>The registration will be marked verified.</li>
              <li>Changes should appear on the web site within 30 minutes.</li>
            </ul>
            <p v-if="outcomes.continuing_end"><strong>There is a pre-existing continuing committee for this
              entity.</strong>Please verify whether this committee should be ended before continuing.</p>
          </v-card-text>
          <v-card-actions class="pb-6">
            <v-btn tabindex="0" class="mx-3" color="primary" :disabled="outcomes.error" @click="verify()">Proceed</v-btn>
            <v-btn tabindex="0" @click="cancelVerify()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-text>
    <v-card-actions>
      <v-btn tabindex="0" color="accent" v-if="!this.registration.verified" @click="goRevertRegistration()">Revert Registration
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {app} from "@/main";
import SimilarCommittees from "./SimilarCommittees.vue";
import PersonSearch from "./PersonSearch";
import {mapState, mapActions} from 'vuex'
import {cloneDeep} from "lodash";


export default {
  name: "VerifyRegistration",
  components: {
    SimilarCommittees,
    PersonSearch,
  },
  data() {
    return {
      registration_id: "",
      confirmRevertRegistration: false,
      need_verification: false,
      filerIdError: false,
      filerIdErrorMsg: '',
      showProgressSpinner: false,
      spinnerDiameter: 45,
      verification_type: null,
      verification_id: null,
      verifyOutcomesDialog: false,
      skipNotification: false,
      outcomes: [],
      revertPayload: {
        registration_id: '',
        pac_type: '',
        election_code: '',
        bonafide_type: '',
        continuing: '',
        exempt: ''
      }
    }
  },
  computed: {
    ...mapState(['registration', 'dataLoaded', 'elections']),
    proposals() {
      if (this.registration.committee.proposals) {
        return this.registration.committee.proposals;
      }
      return [];
    },
    compareContacts() {
      const contacts = []
      if (this.registration) {
        const committee = this.registration.committee
        const cc = cloneDeep(committee.contact)
        cc.title = committee.name
        contacts.push(cc)
        contacts.push(...committee.officers)
      }

      return contacts
    },
    isMiniToFull() {
      return this.registration.committee.reporting_type === 'full' && this.registration.admin_data.reporting_type === 'mini';
    },
    step() {
      let entity_id = null;
      const {committee} = this.registration;
      let step = "";

      if (this.registration.verified) {
        return '';
      }

      // Determine if we've matched an entity
      entity_id = committee?.person_id ?? null;

      // Determine where we are in terms of verification
      if (this.registration.committee.filer_id) {
        step = 'review-required'
      } else if (!entity_id && this.registration.committee.committee_type === 'CA') {
        step = 'person-matching';
      } else if (!entity_id && this.registration.committee.committee_type === 'CO') {
        step = 'committee-matching';
      } else {
        // No real expected case here, but just in case
        step = 'review-required';
      }
      return step;

    },
    confirmVerifyActive: {
      get() {
        return this.step === 'confirm-verify'
      },
      set() {

      }
    },
    showElections() {
      return Boolean(this.revertPayload.pac_type === 'candidate' || this.revertPayload.pac_type === 'surplus' || (this.revertPayload.pac_type === 'pac' && this.revertPayload.continuing === false));
    },
    changeOfJurisdictionOrOffice() {
      return (this.registration.committee.pac_type==='candidate' && this.registration.committee.candidacy) ? (this.registration.committee.candidacy.offcode !== this.registration.meta_data.candidacy.office_code || this.registration.committee.candidacy.jurisdiction_id !== this.registration.meta_data.candidacy.jurisdiction_id) : false;
    }
  },
  created() {
    this.registration_id = this.$route.query.registration_id;
    this.getRegistration(this.registration_id);
    this.getElections();
  },

  methods: {
    ...mapActions(['getRegistration', 'verifyRegistration', 'mergeCommittees', 'getElections']),
    async confirmVerificationOutcomes(context) {
      const {data} = await app.$container.dataService.getVerificationOptions(context)
      this.outcomes = data;
      this.verifyOutcomesDialog = true;
    },
    cancelVerify() {
      this.verifyOutcomesDialog = false;
      this.outcomes = [];
    },
    verify() {
      if (this.outcomes.mergeable) {
        this.mergeCommittees(
            this.registration.admin_data.target_committee_id ?? this.outcomes.committee_id
        );
      } else {
        this.registration.admin_data.filer_id = this.outcomes.filer_id;
        this.registration.admin_data.needs_2_file = this.outcomes.needs_2_file;
        this.registration.admin_data.skip_notification = this.skipNotification;
        this.skipNotification = false;
        this.verifyRegistration();
      }
      this.$emit('registration-handled', "Registration verified.");
    },
    goRevertRegistration() {
      this.revertPayload.registration_id = this.registration.registration_id;
      this.revertPayload.pac_type = this.registration.committee.pac_type;
      this.revertPayload.continuing = this.registration.committee.continuing;
      this.revertPayload.election_code = this.registration.committee.election_code;
      this.revertPayload.bonafide_type = this.registration.committee.bonafide_type;
      this.revertPayload.exempt = this.registration.committee.exempt;
      this.confirmRevertRegistration = true;
    },
    revertRegistration() {
      app.$container.dataService.revertRegistration(
          this.revertPayload,
          () => this.$router.push({path: '/committee', query: {committee_id: this.registration.committee.committee_id}})
      );
    },
    onSelectEntity(selected_entity_id) {
      this.registration.admin_data.entity_id = selected_entity_id;
      this.confirmVerificationOutcomes({
        registration_id: this.registration_id,
        entity_id: selected_entity_id
      });
    },
    onNoMatch() {
      this.outcomes = {mergeable: false};
      this.verifyOutcomesDialog = true;
    },
    onSelectPerson(person) {
      this.registration.admin_data.entity_id = person.person_id;
      this.confirmVerificationOutcomes({
        registration_id: this.registration_id,
        entity_id: person.person_id
      })
    }
  },
  watch: {
    '$route'(to) {
      if (to.query.hasOwnProperty('registration_id')) {
        this.getRegistration(to.query.registration_id);
      } else {
        this.registration_id = "";
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.outerCard {
  width: 100%;
}

.innerCard {
  max-width: 1000px;
}

.innerCard .md-radio {
  display: inline-flex;
}

.searchCard {
  min-width: 60ch;
}
</style>

