<template>
  <div class="C3ReportActivity">
    <campaign-page title="Reports" @load="setupReportActivity">
      <h3>Report history</h3>

      <v-simple-table style="max-width: 80em;">
        <thead>
        <tr>
          <th></th>
          <th>Date submitted</th>
          <th>Report</th>
          <th>Amends</th>
          <th>Type</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(activity, index) in c3ReportActivity" :key="index">
          <td>
            <v-icon
                v-if="activity.report_id && activity.processed && !activity.message.toLowerCase().includes('warning')"
                color="green">checkmark
            </v-icon>
            <v-icon
                v-else-if="activity.report_id && activity.message && activity.message.toLowerCase().includes('warning')"
                color="yellow">warning
            </v-icon>
            <v-icon v-else color="red">error</v-icon>
          </td>
          <td>{{ formatDate(activity.submitted_at) }}</td>
          <td v-if="activity.metadata">
            <router-link
                :to="{name: 'orca.fund.report', params: {fund_id: fund.fund_id, report_number: activity.report_id }}"
                target="_blank"> {{ activity.report_id }}
            </router-link>
          </td>
          <td v-else><a :href="'http://web.pdc.wa.gov/rptimg/default.aspx?batchnumber=' + activity.report_id"
                        target="_blank">{{ activity.report_id }}</a></td>
          <td v-if="activity.amends_metadata">
            <router-link
                :to="{name: 'orca.fund.report', params: {fund_id: fund.fund_id, report_number: activity.amends }}"
                target="_blank"> {{ activity.amends }}
            </router-link>
          </td>
          <td v-else><a :href="'http://web.pdc.wa.gov/rptimg/default.aspx?batchnumber=' + activity.amends"
                        target="_blank">{{ activity.amends }}</a></td>
          <td>{{ activity.report_type }}</td>
          <td>{{ activity.message }}</td>
        </tr>
        </tbody>
      </v-simple-table>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from '@/filters';
import CampaignPage from "@/orca/CampaignPage";


export default {
  name: "C3ReportActivity",
  components: {
    CampaignPage
  },
  data() {
    return {
      c3ReportActivity: [],
      deposit_id: null,
      report_type: 'C3',
      period_start: '',
      period_end: ''
    }
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  created() {
    if (this.$route.params && this.$route.params.fund_id) {
      this.setupReportActivity();
    }
  },
  methods: {
    ...filters.filters,
    setupReportActivity() {
      this.deposit_id = this.$route.params.deposit_id;
      if (this.fund.fund_id && this.deposit_id) {
        this.report_type = 'C3';
        this.getDepositReportActivity();
      }
    },

    getDepositReportActivity() {
      orcaDataService.getFundData(this.fund.fund_id, 'c3-report-activity', {
        deposit_id: this.deposit_id
      }).then(data => {
        if (data) {
          this.c3ReportActivity = data['c3-report-activity']
        }
      });
    }
  }
}
</script>
