<template>
  <CampaignPage title="C3 - Cash receipts and monetary contributions" @fundLoaded="loadReports">
    <v-alert outlined color="primary" type="info">The C3 reports you see here are records of deposits to the bank. To
      submit a report preview; then file.
    </v-alert>
    <template v-slot:toolbar>
      <v-btn tabindex="0" small color="primary" :to="{name:'orca.fund.c4-reports', params:{fund_id: fund.fund_id}}">C4 - Summary,
        receipts and expenditures
      </v-btn>
    </template>
    <v-data-table :items="data.deposits" :headers="data.depositHeaders">
      <template v-slot:item.submitted_at="{item}">
        {{ formatDate(item.submitted_at) }}
      </template>
      <template v-slot:item.report_id="{item}">
        <router-link v-if="item.metadata"
                     :to="{name: 'orca.fund.report', params: {fund_id: fund.fund_id, report_number: item.report_id }}"
                     target="_blank">{{ item.report_id }}
        </router-link>
        <a v-else :href="'http://web.pdc.wa.gov/rptimg/default.aspx?batchnumber=' + item.report_id"
           target="_blank">{{ item.report_id }}</a>
      </template>
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.amount="{item}">
        {{ formatMoney(item.amount) }}
      </template>
      <template v-slot:item.action="{item}">
        <accessible-button
            :class="chgColorButton(item.report_id)"
            :to="{name: 'ORCA.C3View', params: { deposit_id: item.trankeygen_id }}"
            button-tooltip="Review for accuracy then file"
        >
          <span v-if="!orcaEmbedded">Preview</span><span v-else> {{ item.report_id ? 'Amend' : 'Preview' }}</span>
        </accessible-button>
        <accessible-button
            button-tooltip="Edit deposit detail"
            v-if="version>=1.470"
            :to="{name: 'orca.fund.edit-deposit', params: {fund_id: item.fund_id, id: item.trankeygen_id}}"
        >
          <v-icon>edit</v-icon>
          Edit
        </accessible-button>
        <v-btn tabindex="0" v-if="allowDelete(item)" @click="confirmDelete(item)">
          <v-icon>delete</v-icon>
          Delete
        </v-btn>
        <accessible-button v-if="item.report_id" :to="{name: 'ORCA.fund.c3-report-activity', params: {fund_id: item.fund_id, deposit_id: item.trankeygen_id}}" button-tooltip="View report history">
          <v-icon>history</v-icon>
        </accessible-button>
      </template>
    </v-data-table>
    <v-toolbar flat>
      <make-deposit-button/>
    </v-toolbar>
    <v-dialog v-model="data.showDeleteDeposit">
      <v-card>
        <v-card-title>
          Delete deposit?
        </v-card-title>
        <v-card-text>
          <p>Are you sure you want to delete the record of deposit for {{ formatDate(data.selectedDeposit.date_) }} of
            {{ formatMoney(data.selectedDeposit.amount) }}? </p>
          <p>This action cannot be undone. This action does not delete the deposited transactions.</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDeleteDeposit">Delete</v-btn>
          <v-btn tabindex="0" @click="data.showDeleteDeposit=false">
            <v-icon>cancel</v-icon>
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </CampaignPage>
</template>

<script>
import CampaignPage from "@/orca/CampaignPage";
import {useOrcaFund} from "@/orca/fund/Fund";
import {computed, reactive} from "vue";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import ORCA from "@/ORCABridge";
import MakeDepositButton from "../deposits/MakeDepositButton";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "C3Reports.vue",
  components: {AccessibleButton, MakeDepositButton, CampaignPage},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const orcaEmbedded = computed(() => ORCA.orcaEmbedded || ORCA.version>= 1.5);
    const data = reactive({

      deposits: [],
      showDeleteDeposit: false,
      depositHeaders: [
        {text: "Submitted", value: "submitted_at"},
        {text: "Report number", value: "report_id"},
        {text: "Account", value: "account"},
        {text: "Date", value: "date_"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Action", value: "action"}
      ],
      selectedDeposit: {},
      filterSummaries: false,
    });
    return {fund, data, orcaFund, orcaEmbedded};
  },
  computed: {
    version() {
      return ORCA.version;
    },
  },
  methods: {
    allowDelete(deposit) {
      return this.version >= 1.470 && !deposit.report_id;
    },
    confirmDelete(deposit) {
      this.data.selectedDeposit = deposit;
      this.data.showDeleteDeposit = true;
    },
    doDeleteDeposit() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'depositevent', this.data.selectedDeposit.trankeygen_id)
          .then((data) => {
            if (data && data.success) {
              this.data.showDeleteDeposit = false;
              ORCA.deleteDeposit(this.data.selectedDeposit);
              this.loadReports();
            } else {
              alert('Unable to delete deposit');
            }
          });
    },
    async loadReports() {
      if (this.fund.fund_id) {
        await orcaDataService.getFundData(this.fund.fund_id, "deposit-search").then(data => {
          this.data.deposits = data['deposit-search'];
        });
      }
    },
    chgColorButton(id) {
      return id ? '' : 'primary';
    },
    ...filters.filters
  },
  created() {
    this.loadReports();
  }

}
</script>

<style scoped>

</style>
