<template>
  <div>
    <campaign-page :title="pageTitle" @fundLoaded="loadReport">
      <div v-if="report">
        <div class="d-print-none" v-if="enableNav">
          <v-alert color="warning" v-if="isBeforeThresholdChangeDate">
            <v-icon>error</v-icon>
            The thresholds for itemization of contributions and expenditures changed on 4/1/2023. As this report covers an earlier period, you need to select "Itemize (optional)" on the contributions above $25 and expenditures above $50 for the report to be compliant.
          </v-alert>
          <v-toolbar flat>
            <v-btn tabindex="0" @click="loadReport">Refresh page</v-btn>
            <v-btn tabindex="0" :class="btn_color" @click="openReportSubmission = true">
              {{ report.user_data.amends ? 'File amendment' : 'File report' }}
            </v-btn>
            <v-btn tabindex="0" v-if="allowSendToSEEC" :class="btn_color" @click="openUploadToSeattle">Upload to Seattle</v-btn>
            <v-btn tabindex="0" @click="onOpenEditAttachmentPage()">Add note</v-btn>
            <v-btn tabindex="0" v-if="report.report_id"
                   :to="{name: 'ORCA.fund.c3-report-activity', params: {fund_id: this.fund_id, deposit_id: this.deposit_id}}">
              History
            </v-btn>
            <v-btn tabindex="0" @click="doPrint">Print</v-btn>
            <v-btn tabindex="0" :to="{name: 'orca.fund.edit-deposit', params: {fund_id: this.fund.fund_id, id:this.deposit_id}}">Edit
              deposit
            </v-btn>
          </v-toolbar>
          <ReportErrors
              :errors="this.errors"
          />
          <v-divider>
          </v-divider>
        </div>
        <div class="report" v-if="report" id="report">
          <C3 :report="report"/>
        </div>
        <ReportSubmission
            v-if="report.user_data"
            v-model="openReportSubmission"
            @submit-report="loadReport"
            @updatedTreasurer="updateTreasurer"
            post-action="submit-c3-report"
            :target_id="deposit_id"
            :report="report"
        />
        <UploadToSEEC
            v-model="uploadToSeattleDialog"
            :report="report"
            @on-close-confirmation-dialog="sendToSeattle()"
            ref="upload-to-seec"
        />
      </div>
    </campaign-page>
    <EditAttachedPage
        v-if="displayEditAttachPage"
        :target-id="deposit_id"
        target-type="deposit"
        @on-close-attachment-page-dialog="onCloseEditAttachmentPage()"
    />
  </div>
</template>

<script>
import C3 from "@/reports/C3";
import ORCA from "@/ORCABridge";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import ReportSubmission from "./ReportSubmission";
import CampaignPage from "@/orca/CampaignPage";
import EditAttachedPage from "./EditAttachedPage";
import ReportErrors from "./ReportErrors";
import UploadToSEEC from "./UploadToSEEC";
import filters from "@/filters"

export default {
  name: "C3View",
  components: {UploadToSEEC, CampaignPage, ReportSubmission, C3, EditAttachedPage, ReportErrors},
  data() {
    return {
      uploadToSeattleDialog: false,
      btn_color: '',
      fund_id: null,
      deposit_id: null,
      report: null,
      pageTitle: 'CASH RECEIPTS MONETARY CONTRIBUTIONS',
      openReportSubmission: false,
      showMessageDialog: false,
      dialogMessage: {},
      committee: {},
      response: {},
      errors: {},
      displayEditAttachPage: false
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  computed: {
    allowSendToSEEC() {
      return this.fund.properties.find(p => p.name === 'SEEC_FILER');
    },
    enableNav() {
      return (ORCA.version >= 1.440)
    },
      isBeforeThresholdChangeDate() {
        const threshold_change_date = new Date('04/01/2023')

        const report_from_date = new Date(this.formatDate(this.report.report_from))

        return (report_from_date <= threshold_change_date)
      },
    },
    methods: {
      ...filters.filters,
    openUploadToSeattle() {
      this.$refs["upload-to-seec"].uploadToSeattle();
    },
    async loadReport() {
      this.report = await orcaDataService.getFundObjectRaw(this.fund_id, 'deposits', this.deposit_id);
      this.btn_color = this.report.report_number ? '' : 'primary';
      this.pageTitle = this.report.report_number ? 'CASH RECEIPTS MONETARY CONTRIBUTIONS (AMENDMENT)' : 'CASH RECEIPTS MONETARY CONTRIBUTIONS';
      this.report.is_draft = true
      if (this.report.messages) {
        this.errors = this.report.messages
      } else {
        this.errors = {};
      }
    },
    onCloseEditAttachmentPage() {
      this.displayEditAttachPage = false;
      this.loadReport();
    },
    onOpenEditAttachmentPage() {
      this.displayEditAttachPage = true;
    },
    updateTreasurer(newTreasurer) {
        this.report = {
          ...this.report,
          user_data: {
            ...this.report.user_data,
            treasurer: newTreasurer
          }
        }
    },
    doPrint() {
      window.print();
    }
  },
  created() {
    if (this.$route.params && this.$route.params.fund_id && this.$route.params.deposit_id) {
      this.fund_id = this.$route.params.fund_id;
      this.deposit_id = parseInt(this.$route.params.deposit_id);
    }
    this.loadReport();
  }
}
</script>