<template>
  <CampaignPage title="C4 - Summary, receipts and expenditures" @fundLoaded="loadReports">
    <template v-slot:toolbar>
      <v-btn tabindex="0" small color="primary" :to="{name:'orca.fund.c3-reports', params:{fund_id: fund.fund_id}}">C3 - Cash
        receipts monetary contributions
      </v-btn>
    </template>
    <v-checkbox tabindex="0" v-model="data.filterSummaries" label="Show future reporting periods"></v-checkbox>
    <v-data-table :items="filteredSummaries" :headers="data.summariesHeaders">
      <template v-slot:item.submitted_at="{item}">
        {{ formatDate(item.submitted_at) }}
      </template>
      <template v-slot:item.report_id="{item}">
        <router-link v-if="item.metadata"
                     :to="{name: 'orca.fund.report', params: {fund_id: fund.fund_id, report_number: item.report_id }}"
                     target="_blank">{{ item.report_id }}
        </router-link>
        <a v-else :href="'http://web.pdc.wa.gov/rptimg/default.aspx?batchnumber=' + item.report_id"
           target="_blank">{{ item.report_id }}</a>
      </template>
      <template v-slot:item.startdate="{item}">
        {{ formatDate(item.startdate) }}
      </template>
      <template v-slot:item.enddate="{item}">
        {{ formatDate(item.enddate) }}
      </template>
      <template v-slot:item.duedate="{item}">
        {{ formatDate(item.duedate) }}
      </template>
      <template v-slot:item.action="{item}">
        <accessible-button
            button-tooltip="Review for accuracy then file"
            v-if="item.startdate <= data.today"
            :class="chgColorButton(item.report_id)"
            class="mr-4"
            :to="{name: 'ORCA.C4View', params: { period_id: item.obligation_id }}"
        >
          <span v-if="!orcaEmbedded">Preview</span><span v-else> {{ item.report_id ? 'Amend' : 'Preview' }}</span>
        </accessible-button>
        <!-- todo: C4 View History  -->
        <accessible-button v-if="item.report_id" :to="{name: 'ORCA.fund.c4-report-activity', params: {fund_id: item.fund_id, reporting_obligation_id: item.obligation_id}}" button-tooltip="View report history">
          <v-icon>history</v-icon>
        </accessible-button>
      </template>
    </v-data-table>
    <v-btn tabindex="0" :disabled="nextReportExists" color="primary" @click="addReportingPeriod()">Add another reporting period
    </v-btn>
  </CampaignPage>
</template>

<script>
import CampaignPage from "@/orca/CampaignPage";
import {computed, reactive} from "vue";
import {useOrcaFund} from "@/orca/fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import ORCA from "@/ORCABridge";
import filters from "@/filters";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "C4Reports",
  components: {AccessibleButton, CampaignPage},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const orcaEmbedded = computed(() => ORCA.orcaEmbedded || ORCA.version>= 1.5);
    const data = reactive({
      summaries: [],
      summariesHeaders: [
        {text: "Submitted", value: "submitted_at"},
        {text: "Report number", value: "report_id"},
        {text: "Period start", value: "startdate"},
        {text: "Period end", value: "enddate"},
        {text: "Due date", value: "duedate"},
        {text: "Action", value: "action"}
      ],
      today: new Date().toISOString(),
      filterSummaries: false,
    });
    return {fund, data, orcaFund, orcaEmbedded};
  },
  methods: {
    async loadReports() {
      if (this.fund.fund_id) {
        await orcaDataService.getFundData(this.fund.fund_id, "deposit-search").then(data => {
          this.data.deposits = data['deposit-search'];
        });
        await orcaDataService.getFundData(this.fund.fund_id, "get-c4-reports").then(data => {
          this.data.summaries = data['get-c4-reports'];
        });
      }
    },
    chgColorButton(id) {
      return id ? '' : 'primary';
    },
    addReportingPeriod() {
      orcaDataService.postFundObject(this.fund.fund_id, 'add-reporting-obligation', {}, true).then((result) => {
        if (result.success) {
          this.$router.push({name: 'ORCA.C4View', params: {period_id: result.obligation_id}})
          this.loadReports();
        }
      });
    },
    ...filters.filters,
  },
  computed: {
    filteredSummaries() {
      if (!this.data.filterSummaries) {
        return this.data.summaries.filter(e => e.startdate <= this.data.today);
      } else {
        return this.data.summaries;
      }
    },
    nextReportExists() {
      return this.data.summaries.filter(e => e.enddate > this.data.today).length > 0;
    },
  },
  created() {
    this.loadReports();
  }
}
</script>

<style scoped>

</style>