<template>
  <div class="C4ReportActivity">
    <campaign-page title="Reports" @load="setupReportActivity">
      <v-card flat>
        <v-card-title>Report history for {{ this.fund.name }}</v-card-title>
        <v-card-text>
          <v-simple-table style="max-width: 80em;">
            <thead>
            <tr>
              <th></th>
              <th>Date submitted</th>
              <th>Report</th>
              <th>Amends</th>
              <th>Type</th>
              <th>Submitted to</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(activity, index) in c4ReportingActivity" :key="index">
              <td>
                <v-icon
                    v-if="activity.report_id && activity.processed && !activity.message.toLowerCase().includes('warning')"
                    color="green">checkmark
                </v-icon>
                <v-icon
                    v-else-if="activity.report_id && activity.message && activity.message.toLowerCase().includes('warning')"
                    color="yellow">warning
                </v-icon>
                <v-icon v-else color="red">error</v-icon>

              </td>
              <td>{{ formatDate(activity.submitted_at) }}</td>
              <td v-if="activity.metadata">
                <router-link
                    :to="{name: 'orca.fund.report', params: {fund_id: fund.fund_id, report_number: activity.report_id }}"
                    target="_blank"> {{ activity.report_id }}
                </router-link>
              </td>
              <td v-else><a :href="'http://web.pdc.wa.gov/rptimg/default.aspx?batchnumber=' + activity.report_id"
                            target="_blank">{{ activity.report_id }}</a></td>
              <td v-if="activity.amends_metadata">
                <router-link
                    :to="{name: 'orca.fund.report', params: {fund_id: fund.fund_id, report_number: activity.amends }}"
                    target="_blank"> {{ activity.amends }}
                </router-link>
              </td>
              <td v-else><a :href="'http://web.pdc.wa.gov/rptimg/default.aspx?batchnumber=' + activity.amends"
                            target="_blank">{{ activity.amends }}</a></td>
              <td>{{ activity.report_type }}</td>
              <td>Public Disclosure Commission</td>
              <td>{{ activity.message }}</td>
            </tr>
            </tbody>
          </v-simple-table>


        </v-card-text>
      </v-card>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from '@/filters';
import CampaignPage from "@/orca/CampaignPage";

export default {
  name: "C4ReportActivity",
  components: {
    CampaignPage
  },
  data() {
    return {
      c4ReportingActivity: [],
      fund_id: 0,
      report_type: 'C4',
      report: {},
      reporting_obligation_id: null
    }
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  created() {
    if (this.$route.params && this.$route.params.fund_id) {
      this.setupReportActivity();
    }
  },
  methods: {
    ...filters.filters,
    setupReportActivity() {
      this.reporting_obligation_id = this.$route.params.reporting_obligation_id;
      if (this.fund.fund_id && this.reporting_obligation_id) {
        this.getExpendituresReportActivity();
      }
    },
    getExpendituresReportActivity() {
      orcaDataService.getFundData(this.fund.fund_id, 'c4-report-activity', {
        obligation_id: this.reporting_obligation_id
      }).then(data => {
        if (data) {
          this.c4ReportingActivity = data['c4-report-activity'];
        }
      });
    },
  }
}
</script>

<style scoped>

</style>