<template>
  <campaign-page :title="pageTitle" @fundLoaded="loadReport">
    <div v-if="report">
      <div class="d-print-none" v-if="enableNav">
        <v-alert color="warning" v-if="isBeforeThresholdChangeDate">
          <v-icon>error</v-icon>
          The thresholds for itemization of contributions and expenditures changed on 4/1/2023. As this report covers an earlier period, you need to select "Itemize (optional)" on the contributions above $25 and expenditures above $50 for the report to be compliant.
        </v-alert>
        <v-toolbar flat>
          <v-btn tabindex="0" @click="loadReport">Refresh page</v-btn>
          <v-btn tabindex="0" :class="btn_color" @click="openReportSubmission = true">
            {{ report.amends_report ? 'File amendment' : 'File report' }}
          </v-btn>
          <v-btn tabindex="0" v-if="allowSendToSEEC" :class="btn_color" @click="openUploadToSeattle">Upload to Seattle</v-btn>
          <v-btn tabindex="0" @click="onOpenEditAttachmentPage()">Add note</v-btn>
          <v-btn tabindex="0" v-if="report.amends_report"
                 :to="{name: 'ORCA.fund.c4-report-activity', params: {fund_id: this.fund_id, reporting_obligation_id: this.period_id}}">
            History
          </v-btn>
          <v-btn tabindex="0" @click="doPrint">Print</v-btn>
        </v-toolbar>
        <div v-if="combined.startdate">
          <v-alert type="info" outlined dense color="primary">
            <p>There are prior unsubmitted reports. You can choose to report activity as a combined report covering
              {{ formatDate(combined.startdate) }} through {{ formatDate(combined.enddate) }}.</p>
            <v-btn tabindex="0" @click="showCombine=true">Combine Reports</v-btn>
          </v-alert>
        </div>
        <ReportErrors
            :errors="this.errors"
        />
        <v-divider></v-divider>
      </div>
      <div class="report" v-if="report" id="report">
        <C4 :report="report"/>
      </div>

      <UploadToSEEC
          v-model="uploadToSeattleDialog"
          :report="report"
          @on-close-confirmation-dialog="sendToSeattle()"
          ref="upload-to-seec"
      />
      <ReportSubmission v-model="openReportSubmission"
                        @submit-report="loadReport"
                        post-action="submit-c4-report"
                        :target_id="period_id"
                        :report="report"
      />
    </div>
    <EditAttachedPage
        v-if="displayEditAttachPage"
        :target-id="period_id"
        target-type="reporting_obligation"
        @on-close-attachment-page-dialog="onCloseEditAttachmentPage()"
    />
    <v-dialog persistent v-model="showCombine" max-width="80em;" v-if="report && report.user_data">
      <v-card>
        <v-card-title>
          Combine Reporting Periods
        </v-card-title>
        <v-card-text>
          <p>Are you sure you want to change the reporting period for this report?</p>
          <p><strong>From:</strong> {{ formatDate(report.user_data.period_start) }} through
            {{ formatDate(report.user_data.period_end) }}</p>
          <p><strong>To:</strong> {{ formatDate(combined.startdate) }} through {{ formatDate(combined.enddate) }}</p>
          <p><strong>This action cannot be undone!</strong></p>

        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="combineReports()">Combine</v-btn>
          <v-btn tabindex="0" @click="showCombine=false">
            <v-icon>cancel</v-icon>
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </campaign-page>

</template>

<script>
import C4 from "@/reports/C4";
import ORCA from "@/ORCABridge";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import ReportSubmission from "./ReportSubmission";
import CampaignPage from "@/orca/CampaignPage";
import EditAttachedPage from "./EditAttachedPage";
import ReportErrors from "./ReportErrors";
import UploadToSEEC from "./UploadToSEEC";
import filters from "@/filters";

export default {
  name: "C4View",
  components: {UploadToSEEC, CampaignPage, EditAttachedPage, ReportSubmission, C4, ReportErrors},
  data() {
    return {
      uploadToSeattleDialog: false,
      btn_color: '',
      fund_id: null,
      period_id: null,
      report: null,
      pageTitle: 'SUMMARY, FULL REPORT RECEIPTS AND EXPENDITURES',
      openReportSubmission: false,
      showMessageDialog: false,
      showCombine: false,
      dialogMessage: {},
      committee: {},
      response: {},
      errors: {},
      displayEditAttachPage: false,
      period_start: null,
      period_end: null
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  computed: {
    combined() {
      return this.report?.user_data.combine_allowed ?? {};
    },
    allowSendToSEEC() {
      return this.fund.properties.find(p => p.name === 'SEEC_FILER');
    },
    enableNav() {
      return (ORCA.version >= 1.440)
    },
    isBeforeThresholdChangeDate() {
      const threshold_change_date = new Date('04/01/2023')

      const report_from_date = new Date(this.formatDate(this.report.report_from))

      return (report_from_date <= threshold_change_date)
    },
  },
  methods: {
    ...filters.filters,
    openUploadToSeattle() {
      this.$refs["upload-to-seec"].uploadToSeattle();
    },
    async loadReport() {
      if (this.$route.params && this.$route.params.fund_id && this.$route.params.period_id) {
        this.fund_id = this.$route.params.fund_id;
        this.period_id = parseInt(this.$route.params.period_id);
        this.report = await orcaDataService.getFundObjectRaw(this.fund_id, 'reporting-obligations', this.period_id);
        this.report.is_draft = true
        this.period_start = this.report.user_data.period_start;
        this.period_end = this.report.user_data.period_end;
        this.btn_color = this.report.report_number ? 'yellow' : 'primary';
        this.pageTitle = this.report.report_id ? 'SUMMARY, FULL REPORT RECEIPTS AND EXPENDITURES (AMENDMENT)' : 'SUMMARY, FULL REPORT RECEIPTS AND EXPENDITURES';
        if (this.report.messages) {
          this.errors = this.report.messages
        } else {
          this.errors = {};
        }
      }
    },
    onCloseEditAttachmentPage() {
      this.displayEditAttachPage = false;
      this.loadReport();
    },
    onOpenEditAttachmentPage() {
      this.displayEditAttachPage = true;
    },
    doPrint() {
      window.print();
    },
    combineReports() {
      orcaDataService.postFundObject(
          this.fund.fund_id,
          'combine-reporting-periods',
          {
            obligation_id: this.period_id,
            start_date: this.combined.startdate,
          },
          true
      ).then((r) => {
        if (r?.success) {
          this.loadReport().then(() => {
            this.showCombine = false;
          });
        }
      })

    }
  },
  created() {
    this.loadReport();
  }
}
</script>