<template>
  <v-dialog v-model="attachmentPageDialog" persistent>
    <v-card flat>
      <v-card-title>Attached Text Page</v-card-title>
      <v-textarea v-model="currentAttachedTextData" outlined></v-textarea>
      <v-card-actions>
        <v-btn tabindex="0" @click="saveAttachedTextPage()" color="primary">Save</v-btn>
        <v-btn tabindex="0" @click="closeAttachmentPageDialog()">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {useOrcaFund} from "../fund/Fund"
import {orcaDataService} from "@/OrcaDataService";

export default {
  name: "EditAttachment.vue",
  props: {
    targetId: {
      type: [Number, String],
      default: null
    },
    targetType: {
      type: String,
      default: "submit-deposit"
    },
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  data() {
    return {
      attachedPageData: {},
      attachmentPageDialog: true,
      currentAttachedTextData: ''
    }
  },
  methods: {
    closeAttachmentPageDialog() {
      this.$emit('on-close-attachment-page-dialog');
      this.currentAttachedTextData = ''
    },
    async loadAttachedTextPage() {
      let attachmentType = this.getAttachmentType(this.targetType)

      this.results = await orcaDataService.getAttachedPageObject(this.fund.fund_id, attachmentType, this.targetId);
      if (this.results.attachedPageData.attachedPage !== null) {
        this.currentAttachedTextData = this.results.attachedPageData.attachedPage.text_data;
      }
    },
    async saveAttachedTextPage() {
      let attachmentType = this.getAttachmentType(this.targetType)

      this.attachedPageData = {
        attachedPage: {
          'fund_id': this.fund.fund_id,
          'target_id': this.targetId,
          'target_type': this.targetType,
          'text_data': this.currentAttachedTextData
        },
      }
      await orcaDataService.postFundObject(this.fund.fund_id, attachmentType, {attachedPageData: this.attachedPageData});
      this.$emit('on-close-attachment-page-dialog');
    },
    getAttachmentType(targetType) {
      switch (targetType) {
        case 'deposit':
          return 'c3-attachments';
        case 'reporting_obligation':
          return 'c4-attachments';
        default:
          return null;
      }
    }
  },
  created() {
    this.loadAttachedTextPage();
  }
}
</script>

<style scoped>

</style>