<template>
<div>
<v-dialog v-model="reportSubmissionDialog" @click:outside="onCloseDialog">
<v-card>
        <v-card-title>
          <h3>{{ pageTitle }}</h3>
        </v-card-title>
        <v-card-text>
          <v-alert v-if="checkPeriodEnd" color="accent" colored-border border="bottom" elevation="2" type="warning">You
            are preparing to file a report before the end of the reporting period. Be sure this is what you intended
            before proceeding.
          </v-alert>
          <span class="text-caption">Campaign Name</span>
          <p class="text-black text-body-1 mb-4">
            {{ report.filer_name }}
          </p>


          <v-text-field dense label="Campaign notification email" v-model="committee_notification_email"></v-text-field>
          <v-text-field
              v-if="committee.pac_type==='candidate' || committee.pac_type === 'surplus' || hasCandidateNotificationEmail"
              dense label="Candidate notification email"
              v-model="candidate_notification_email"></v-text-field>
          <v-checkbox tabindex="0" v-if="allowSendToSEEC" v-model="sendToSEEC"
                      label="Upload to Seattle Ethics Elections Commission"></v-checkbox>
          <v-checkbox tabindex="0" v-model="save_emails" label="Save notification email addresses"></v-checkbox>
          <NotificationEmailInfo/>
          <ReportCertification @treasurerUpdated="handleTreasurerUpdate" @reportCertified="certifyReport" :report="report" :committeeId = "fund.committee_id"/>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="!certification_box || !report.user_data.treasurer" class="primary"
                 @click="submitReport">Submit
          </v-btn>
          <v-btn tabindex="0" @click='onCloseDialog'>Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showMessageDialog">
      <v-card>
        <v-card-title>Results</v-card-title>
        <v-card-text v-html="message">
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              class="primary"
              text
              @click="openUploadToSeattle"
          >
            Close
          </v-btn>
        </v-card-actions>
</v-card>
</v-dialog>
    <UploadToSEEC
        v-model="uploadToSeattleDialog"
        :report="report"
        @on-close-confirmation-dialog="sendToSeattle()"
        ref="upload-to-seec"
    />
</div>
</template>

<script>
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import ORCA from "@/ORCABridge";
import NotificationEmailInfo from "@/info/NotificationEmailInfo";
import UploadToSEEC from "./UploadToSEEC";
import ReportCertification from "./ReportCertification";

export default {
  name: "ReportSubmission",
  components: {UploadToSEEC, NotificationEmailInfo, ReportCertification},
  props: {
    report: Object,
    postAction: String,
    target_id: Number,
    value: Boolean
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const committeeTreasurers = []
    return {fund, orcaFund, committeeTreasurers};
  },
  watch: {
    value(value) {
      if (!this.reportSubmissionDialog && !!value) {
        this.reportSubmissionDialog = true;
      }
    },
  },
  data() {
    return {
      treasurer: {},
      uploadToSeattleDialog: true,
      sendToSEEC: false,
      pageTitle: 'Submit Report',
      save_emails: false,
      certification_box: false,
      original_save_emails: false,
      final_report: false,
      reportSubmissionDialog: false,
      showMessageDialog: false,
      icon: 'warning',
      committee: {},
      message: "",
      hasCandidateNotificationEmail: false,
      candidate_notification_email: '',
      committee_notification_email: '',
      period_end: null,
      period_start: null
    }
  },
  computed: {
    allowSendToSEEC() {
      const SEEC_FILER = this.fund.properties.find(p => p.name === 'SEEC_FILER');
      return typeof (SEEC_FILER) != 'undefined';
    },
    checkPeriodEnd() {
      let currentDate = new Date().toISOString().slice(0, 10);
      this.period_end = this.report.user_data.period_end;
      this.period_start = this.report.user_data.period_start;
      return currentDate > this.period_start && currentDate < this.period_end;
    },
  },
  methods: {
    handleTreasurerUpdate(updatedTreasurer) {
      this.$emit('updatedTreasurer', updatedTreasurer)
    },
    certifyReport(val) {
      this.certification_box = val;
    },
    openUploadToSeattle() {
      if (this.allowSendToSEEC && this.sendToSEEC) {
        this.$refs["upload-to-seec"].uploadToSeattle();
      }
      this.showMessageDialog = false;
    },
    onCloseDialog() {
      this.$emit('on-close-dialog');
      this.reportSubmissionDialog = false;
      this.$emit('input', !!this.reportSubmissionDialog);
    },
    async submitReport() {
      let submissionMetaData = {
        save_emails: this.save_emails,
        committee_notification_email: this.committee_notification_email,
        candidate_notification_email: this.candidate_notification_email,
        version: ORCA.version,
        treasurer: this.report.user_data.treasurer
      };

      if (this.report.origin === 'C4') {
        submissionMetaData.final_report = this.final_report;
      }
      let response = await orcaDataService.postToFundObject(this.fund.fund_id, this.postAction, this.target_id, submissionMetaData);

      if (response && response.message) {
        this.message = response.message.replace(/\r\n|\r|\n/g, '<br/>');
        this.showMessageDialog = true;
        if (response.properties) {
          this.orcaFund.setProperties(response.properties);
        }
      } else {
        alert('Unknown error submitting report');
      }
      this.$emit('submit-report', submissionMetaData);
      this.certification_box = '';
      this.final_report = false;
      this.reportSubmissionDialog = false;
      this.$emit('input', this.reportSubmissionDialog);
    },
  },
  created() {
    this.sendToSEEC = this.allowSendToSEEC; // set initial checkbox state
    const {committee_data} = this.report;
    this.committee = committee_data;
    this.candidate_notification_email = this.committee.candidate_email;
    this.committee_notification_email = this.committee.committee_email;

    let save_notification_emails = this.fund.properties.find(property => property.name === 'PDC.UPLOADER.UPLOADMAIN:SAVEPASSWORDS' && property.value === "true");
    if (save_notification_emails) {
      this.committee_notification_email = this.fund.properties.find(property => property.name === 'PDC.UPLOADER.UPLOADMAIN:EMAIL')?.value;
      this.candidate_notification_email = this.fund.properties.find(property => property.name === 'PDC.UPLOADER.UPLOADMAIN:EMAIL2')?.value;
      this.hasCandidateNotificationEmail = !!this.candidate_notification_email;
      this.save_emails = true;
    }
  },
}
</script>

<style scoped>
  .text-black { color: rgba(0,0,0,1) }
</style>