<template>
  <div>
    <v-tabs v-model="tabActive" v-if="fund">
      <v-tab :to="{name: 'orca.fund.c3-reports', params: {fund_id: fund.fund_id}}" replace>Deposits (C3)</v-tab>
      <v-tab :to="{name: 'orca.fund.c4-reports',  params: {fund_id: fund.fund_id}}" replace>Summary (C4)</v-tab>
    </v-tabs>
    <slot name="default"></slot>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";

export default {
  name: "ReportManagerNav",
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  computed: {
    tabActive: {
      get() {
        return this.$route.name.endsWith('c3-reports') ? 0 : 1
      },
      set() {
      },
    }
  }
}
</script>

<style scoped>

</style>