<template>
  <div class="d-block">
    <p>
      By submitting this report, I certify that I have the authority to sign
      this report for the entity named and that the information contained in
      this report is true. I understand that Washington state law places
      penalties on false reports, up to and including perjury. I further certify
      that the committee has received a certification as required from any
      partnership, association, corporation, organization, or other combination
      of persons making contribution reported here, attesting that the
      contribution was not financed in any part by a foreign national and that
      foreign nationals were not involved in making decisions regarding the
      contribution in any way. I acknowledge that the email address provided on
      the committee's registration shall constitute the official address for
      purposes of all communications with the commission, and that I must notify
      the commission of any change to that address within ten days.
    </p>
    <p>
      To complete your submission, type <strong>I certify</strong> in the
      electronic certification field below and select your name from the list of treasurers. If your name is not
      listed, please amend your registration or have a treasurer submit the report.
    </p>
    <v-text-field autofocus required="true" v-model="certification_box" label="Electronic certification"></v-text-field>
    <p>
      <v-select v-if="report" required="true" v-model="selectedTreasurer" :items="committeeTreasurers"
                item-text="name" label="Treasurer"></v-select>
    </p>
  </div>
</template>

<script>
import debounce from "lodash/debounce";
import {orcaDataService} from "@/OrcaDataService";
import committee from "../../views/Committee.vue";
export default {
  name: "ReportCertification.vue",
  props: {
    report: Object,
    committeeId: Number,
  },
  computed: {
    committee() {
      return committee
    },
    selectedTreasurer: {
      get() {
        if (this.report.user_data?.treasurer) {
          return this.report.user_data.treasurer
        }
        else {
          return null
        }
      },
      set(val) {
        const match = this.committeeTreasurers.find(treasurer => treasurer.name === val)
        if (match) {
          this.report.user_data.treasurer = match
          this.$emit('treasurerUpdated', match)
        }
      }
    }
  },
  data() {
    return {
      certification_box: "",
      committeeTreasurers: [],
    };
  },
  mounted() {

  },
  watch: {
    certification_box(...args) {
      this.debounceCertification(...args);
    },
  },
  created() {
    this.getCommitteeTreasurers().then( () => {
      if (this.committeeTreasurers.length > 0) {
        if (!this.report.user_data) {
          this.report.user_data = {};
        }
        this.report.user_data.treasurer = null;
      } else {
        this.report.user_data.treasurer = this.committeeTreasurers[0];
      }
    });

    this.debounceCertification = debounce((val) => {
      let userCertified = val.toLowerCase().trim() === "i certify";
      this.$emit("reportCertified", userCertified);
    }, 25);
  },
  beforeDestroy() {
    this.debounceCertification.cancel();
  },
  methods: {
    async getCommitteeTreasurers() {
      await orcaDataService.getCommitteeData(this.committeeId, 'get-committee-treasurers').then(response => {
        this.committeeTreasurers = JSON.parse(response.treasurers.treasurers);
      });
    }
  },
};
</script>

<style scoped>

</style>
