<template>
  <div>
    <v-dialog v-model="showConfirmationDialog">
      <v-card>
        <v-card-title>Upload to Seattle</v-card-title>
        <v-card-text>
          <p>Upload {{ report.origin.toUpperCase() }} report to the city of Seattle?</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="sendToSeattle()">Yes</v-btn>
          <v-btn tabindex="0" @click="showConfirmationDialog = false">No</v-btn>
          <v-btn tabindex="0" v-if="showDev" @click="sendToSeattle('dev')">Dev</v-btn>
          <v-btn tabindex="0" v-if="showDev" @click="sendToSeattle('prod')">Prod</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showMessageDialog">
      <v-card>
        <v-card-title>Upload to Seattle Confirmation</v-card-title>
        <v-card-text>
          <p>{{ confirmationMessage }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="showMessageDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SEECDataService from "@/SEECDataService";
import {mapState} from 'vuex';

export default {
  props: {
    report: Object,
  },
  name: "SEECConfirmation",
  data() {
    return {
      showConfirmationDialog: false,
      showMessageDialog: false,
      confirmationMessage: '',
      showDev: false,
    }
  },
  created() {
    const ds = new SEECDataService();
    if (ds.seec_service_host.includes("webqa6.seattle")) {
      this.showDev = true;
    }
  },
  methods: {
    async sendToSeattle(stage = null) {
      const ds = new SEECDataService();
      this.showConfirmationDialog = false
      let result = await ds.uploadReportToSeattle(this.report, this.user.email, stage);
      if (result.message) {
        this.confirmationMessage = result.message;
      }
      this.showMessageDialog = true;
    },
    uploadToSeattle() {
      this.showConfirmationDialog = true;
    }
  },
  computed: {
    ...mapState(['user']),
  }
}
</script>