<template>
  <div>
    <v-menu v-if="version>=1.450">
      <template v-slot:activator="{attrs, on}">
        <v-btn tabindex="0" small color="primary" v-bind="attrs" v-on="on">
          <v-icon>add</v-icon>
          New contribution
        </v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(contribution, index) in filteredAddContributionTypes" :key="index" link :to="{name: contribution.route}">
          <v-list-item-title>{{contribution.value}}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";

export default {
  name: "AddContributions",
  data(){
    return{
      addContributionTypes:[
        {value: 'Monetary contribution', route: 'ORCA.fund.add-monetary-contribution', version: 1.460},
        {value: 'In-kind contribution', route: 'ORCA.fund.add-inkind-contribution', version: 1.460},
        {value: 'Anonymous contribution', route: 'ORCA.fund.add-anonymous-contribution', version: 1.460},
        {value: 'Bank Interest', route: 'ORCA.fund.add-misc-bank-interest', version: 1.470},
        {value: 'Other Receipt', route: 'ORCA.fund.add-misc-other', version: 1.470},
        {value: 'Fundraiser contribution', route: 'ORCA.fund.add-fundraiser-contribution', version: 1.480},
      ]
    }
  },
  computed: {
    version(){
      return ORCA.version;
    },
    filteredAddContributionTypes(){
      return this.addContributionTypes.filter(item => ORCA.version >= item.version)
    }
  }
}
</script>

<style scoped>

</style>