<template>
  <InfoDialog title="Contribution Import Help">
    <p>Downloading the sample.csv will allow you to see column headers for a contribution import.</p>

    <p>Dates should be formatted as <strong>M/D/YYYY</strong>. For example, a contribution made on April, 19th 2022 would be formatted as 4/19/2022.</p>

    <p>If a value is provided for the firstname column, then the contact will automatically be treated as an individual contact.
      Otherwise, any contact without a value in the firstname column will need to have a type provided. </p>

    <h3> Acceptable values for type:</h3>
    <dl><dt>IND</dt><dd> Individual </dd></dl>
    <dl><dt>BUS</dt><dd> Business </dd></dl>
    <dl><dt>CP</dt><dd> County party committee </dd></dl>
    <dl><dt>FI</dt><dd> Financial institution </dd></dl>
    <dl><dt>CAU</dt><dd> Legislative caucus committee </dd></dl>
    <dl><dt>LDP</dt><dd> Legislative district party committee </dd></dl>
    <dl><dt>MP</dt><dd> Minor party committee </dd></dl>
    <dl><dt>OG</dt><dd> Other organization </dd></dl>
    <dl><dt>PAC</dt><dd> Political action committee </dd></dl>
    <dl><dt>SP</dt><dd> State party committee </dd></dl>
    <dl><dt>TRB</dt><dd> Tribal political committee </dd></dl>
    <dl><dt>UN</dt><dd> Union </dd></dl>

  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";
import {useOrcaFund} from "../fund/Fund";
export default {
  name: "ContributionImportHelp",
  components: {InfoDialog},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  }
}
</script>

<style scoped>
dl {
  margin-left: 1em;
}
dt {
  vertical-align: top;
  font-weight: bold;
  width: 5em;
}
dl dd, dl dt {
  display: inline-block
}
</style>