<template>
  <v-form ref="uploadForm" @submit.prevent="processFile">
    <v-card>
      <v-card-title>
         Import monetary contributions
      </v-card-title>
      <v-card-text>
         <div v-if="!parsedFile.data || !parsedFile.data.length">
           <v-file-input label="file" accept="text/csv" @change="uploadFile"></v-file-input>
           <p>How do I properly format contribution imports? <contribution-import-help/></p>
           <v-btn tabindex="0" @click="downloadSample"><v-icon>file_download</v-icon>Sample contribution.csv</v-btn>
         </div>
        <div v-else>
          <div style="max-width: 30em;">
            <date-picker v-model="defaults.date_" label="Contribution date"></date-picker>
            If no date is specified the default contribution date will be used.
            <election-select v-model="defaults.elekey"></election-select>
            <div v-if="fund.pac_type==='candidate'">If no election is specified the default election will be used.</div>
            <v-checkbox tabindex="0"
                v-model.number="defaults.itemized"
                label="Itemize (optional)"
                v-bind:false-value=0
                v-bind:true-value=1
            ></v-checkbox>
          </div>
          <div v-if="parsedFile.hasErrors">
            <h2>Invalid records: </h2>
          </div>
          <v-data-table
            :items="parsedFile.data"
            dense
            :headers="[
                {text: 'Status', value: 'status'},
                {text: 'Type', value: 'type'},
                {text: 'Name', value: 'name'},
                {text: 'Date', value: 'date_'},
                {text: 'Amount', value: 'amount', align: 'end'},
                {text: 'Address', value: 'address'},
                {text: 'Fee', value: 'fee'},
                {text: 'First', value: 'firstname'},
                {text: 'Middle', value: 'middleinitial'},
                {text: 'Last', value: 'lastname'},
                {text: 'Suffix', value: 'suffix'},
                {text: 'Occupation', value: 'occupation'},
                {text: 'Employer', value: 'employer'}
            ]"
          >
            <template v-if="worker.active" v-slot:item.status="{item}">
                <v-tooltip bottom>
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      person_search
                    </v-icon>
                  </template>
                  <span>Analyzing</span>
                </v-tooltip>
            </template>
            <template v-else v-slot:item.status="{item}">
                <v-tooltip bottom v-if="item.error">
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on" color="red">
                      error
                    </v-icon>
                  </template>
                  <span>{{item.error}}</span>
                </v-tooltip>
                <v-tooltip bottom v-else-if="item.duplicate_id" >
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      people
                    </v-icon>
                  </template>
                  <span>Potential Duplicate</span>
                </v-tooltip>
                <v-tooltip bottom v-else-if="item.contid">
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      person_add_disabled
                    </v-icon>
                  </template>
                  <span>Duplicate Contact</span>
                </v-tooltip>
                <v-tooltip bottom v-else>
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      person_add
                    </v-icon>
                  </template>
                  <span>New Contact</span>
                </v-tooltip>
            </template>
            <template v-slot:item.date_="{item}">
              {{formatDate(item.date_)}}
            </template>
            <template v-slot:item.amount="{item}">
              {{formatMoney(item.amount)}}
            </template>
            <template v-slot:item.address="{item}">
              <span v-if="item.street || item.city || item.zip">
              {{item.street}}<br/>
              {{item.city}}, {{item.state}} {{item.zip}}
              </span>
            </template>
            <template v-slot:item.employer="{item}">
              <span v-if="item.employername">
                {{item.employername}}<br/>
                <span v-if="item.employerstreet">
                  {{item.employerstreet}}<br/>
                </span>
                <span v-if="item.employer_city || item.employerzip || item.employerstate">
                  {{item.employercity}}, {{item.employerstate}} {{item.employerzip}}
                </span>
              </span>
            </template>
          </v-data-table>
          <p v-if="parsedFile.data && !parsedFile.hasErrors">Imported rows: {{parsedFile.data.length}}</p>
          <p v-if="parsedFile.data && parsedFile.hasErrors">Invalid rows: {{parsedFile.data.length}}</p>
          <div v-if="parsedFile.uploadActive">
           <p>Importing contacts: {{parsedFile.processedRows}}/{{parsedFile.data.length}}</p>
           <v-progress-linear :value="processProgress" />
          </div>
          <div v-if="worker.active">
            <p>Analyzing duplicates</p>
            <v-progress-linear :value="worker.progress"></v-progress-linear>
          </div>
        </div>
      </v-card-text>
      <v-card-actions>
          <v-btn tabindex="0" type="submit" color="primary" :disabled="uploadDisabled" >Upload</v-btn><v-btn tabindex="0" @click="cancelUpload">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
  import { useContactList } from '../contacts/ContactList';
  import { useContribution } from "./contributions";
  import { reactive } from "vue";
  import { useWorker } from "@/worker-api";
  import { useOrcaFund } from "@/orca/fund/Fund";
  import ORCA from "@/ORCABridge";
  import DatePicker from "@/components/DatePicker";
  import ElectionSelect from "./ElectionSelect";
  import filters from "@/filters";
  import ContributionImportHelp from "./ContributionImportHelp";

export default {
  name: "ContributionImport",
  components: {ElectionSelect, DatePicker, ContributionImportHelp},
  setup() {
    const parsedFile = reactive({data: [], processedRows: 0, uploadActive: false, hasErrors: false});
    const { contactListActions, contacts } = useContactList();
    const { contributionsActions } = useContribution();
    const { worker } = useWorker();
    const { fund, orcaFund } = useOrcaFund();
    const  defaults = reactive({date_:"", elekey: null, itemized: 0});
    worker.$on('task-completed', data => {
      parsedFile.data = data
    })
    return {
      contactListActions,
      contacts,
      contributionsActions,
      defaults,
      fund,
      orcaFund,
      parsedFile,
      worker,
    }
  },
  computed: {
    uploadDisabled () {
      return (ORCA.version < 1.460 || !this.parsedFile
          || !this.parsedFile.data
          || this.worker.progress !== 100.0
          || this.parsedFile.uploadActive
          || this.parsedFile.hasErrors)
    },
    processProgress() {
      return this.parsedFile.data.length > 0 ? 100.0  * (this.parsedFile.processedRows/this.parsedFile.data.length) : 0;
    },
  },
  methods: {
    cancelUpload() {
      this.parsedFile.data = [];
      this.parsedFile.uploadActive = false;
      this.parsedFile.hasErrors = false;
      this.worker.terminateTask();
      this.$emit('cancel');
    },
    async uploadFile(file) {
      if (file) {
        // Importing contacts also imports other fields so import contacts
        // will apply the proper rules for importing contacts and also include other fields such
        // as amount and date.
        await this.contactListActions.importContacts(file, this.parsedFile, this.fund.allow_primary_limits);
        this.worker.executeTask('analyzeDuplicates', {existingContacts: this.contacts, newContacts: this.parsedFile.data, contactProperty: "contid"});
      }
    },
    async processFile() {
      if (!this.$refs.uploadForm.validate()) {
        return;
      }
      let chunkSize = 50;
      this.parsedFile.uploadActive = true;
      this.parsedFile.processedRows = 0;

      let chunk;
      let errors = [];
      this.parsedFile.hasErrors = false;
      let data = this.parsedFile.data;
      const duplicatesFound = this.parsedFile.data.filter((c) => !!c.duplicate_id).length > 0;

      ORCA.disableSync();
      do {
        chunk = data.splice(0, chunkSize);
        if (chunk.length){
          let results = await this.contributionsActions.saveContributions(this.defaults, chunk);
          if (results.errors.length) {
            errors = errors.concat(results.errors);
            this.parsedFile.hasErrors = true;
          }
          this.parsedFile.processedRows += chunk.length;
        }
      } while ((this.parsedFile.uploadActive && chunk && chunk.length));
      ORCA.enableSync();
      this.parsedFile.processedRows = this.parsedFile.data.length;
      this.parsedFile.uploadActive = false;
      this.parsedFile.data = errors;
      if (errors && errors.length === 0) {
        this.$emit('complete', duplicatesFound)
      }
      this.orcaFund.reloadFund()
    },
    downloadSample() {
      this.contributionsActions.exportContributions([{}]);
    },
    ...filters.filters,
  }
}
</script>

<style scoped>

</style>
