<template>
  <div>
    <campaign-page title="Contribution search">
      <template v-slot:toolbar>
        <v-menu v-if="version>=1.460">
          <template v-slot:activator="{attrs, on}">
            <v-btn tabindex="0" small color="primary" v-bind="attrs" v-on="on">
              <v-icon>add</v-icon>
              New Contribution
            </v-btn>
            <v-btn tabindex="0" style="margin-right: 5px" small color="primary" :to="{name : 'ORCA.fund.add-refund-contribution'}">
              <v-icon>u_turn_left</v-icon>
              Refund Contribution
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(contribution, index) in addContributionTypes" :key="index" link :to="{name: contribution.route}">
              <v-list-item-title>{{contribution.value}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <make-deposit-button/>
        <!--   add link to adding contribution  ORCA.fund.add-contribution   -->
        <v-btn tabindex="0" small @click="showImport = true" v-if="version >= 1.460">
          <v-icon>file_upload</v-icon>Import
        </v-btn>
      </template>
      <v-dialog v-model="showImport" persistent>
        <contribution-import @complete="onImportFinish" @cancel="showImport = false"></contribution-import>
      </v-dialog>
      <v-expansion-panels v-model="searchOpen" accordion>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <div>
              <v-icon>search</v-icon>
              Find contributions matching...
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form @submit.prevent="reloadDataTables()">
                <p>Enter some information to help us find what you're looking for.
                  If everything is left blank, we will select some of the most recent transaction for you.</p>
                <v-text-field v-model="search.name" label="Contact name" clearable></v-text-field>
                <v-row align="start" dense>
                  <v-col md="6" lg="3" cols="12">
                    <date-picker v-model="search.start_date" label="Earliest date" clearable></date-picker>
                  </v-col>
                  <v-col md="6" lg="3" cols="12">
                    <date-picker v-model="search.end_date" label="Latest date" clearable></date-picker>
                  </v-col>
                  <v-col md="6" lg="3" cols="12">
                    <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.min_value"
                                  label="Minimum"></v-text-field>
                  </v-col>
                  <v-col md="6" lg="3" cols="12">
                    <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.max_value"
                                  label="Maximum"/>
                  </v-col>
                  <v-col md="6" lg="3" cols="12">
                    <v-select
                    v-model="search.type"
                    label="Contribution type"
                    :items="contributionTypes"
                    item-text="value"
                    item-value="id"
                    clearable
                    >
                    </v-select>
                  </v-col>
                  <v-col>
                    <election-select v-model="search.elekey" :allow-clearing="true" :required="false" />
                  </v-col>
                </v-row>
                <v-btn tabindex="0" type="submit" color="primary" @click="reloadDataTables()">Search</v-btn>
                <v-btn tabindex="0" @click="clearSearch()">Clear</v-btn>
            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <contributions-data-table @load="onTableLoad" query="contribution-search" :parameters="search" ref="table" />
    </campaign-page>
  </div>
</template>

<script>
import CampaignPage from '@/orca/CampaignPage';
import DatePicker from '@/components/DatePicker';
import ContributionsDataTable from "@/orca/contributions/ContributionsDataTable";
import ORCA from "@/ORCABridge";
import ContributionImport from "./ContributionImport";
import MakeDepositButton from "../deposits/MakeDepositButton";
import ElectionSelect from "./ElectionSelect";
import { useOrcaFund } from '@/orca/fund/Fund';

export default {
  name: "ContributionSearch",
  components: {ElectionSelect, MakeDepositButton, ContributionImport, CampaignPage, DatePicker, ContributionsDataTable},
  data() {
    return {
      parameters: [],
      searchOpen: true,
      showImport: false,
      orca_version: ORCA.version,
      search: {
        start_date: null,
        end_date: null,
        min_value: null,
        max_value: null,
        name: null,
        type: null,
        elekey: null
      },
    }
  },
  computed: {
    version() {
      return ORCA.version;
    },
    contributionTypes() {
      const contribution_types = [
        {id: 13, value: 'Anonymous Contribution'},
        {id: 2, value: 'Personal Funds'},
        {id: 27, value: 'Refund Contribution'},
        {id: 4, value: 'Fundraiser Contribution'},
        {id: 6, value: 'In-kind Contribution'},
        {id: 1, value: 'Monetary Contribution'},
      ]

      if (this.fund.isPac && this.orca_version >= 1.500) {
        contribution_types.push({id: 11, value: 'Monetary Group Contribution'})
      }

      return contribution_types
    },
    addContributionTypes() {
      const add_contribution_types = [
        {value:'Anonymous Contribution', route: 'ORCA.fund.add-anonymous-contribution'},
        {value:'In-kind Contribution', route: 'ORCA.fund.add-inkind-contribution'},
        {value:'Monetary Contribution', route:'ORCA.fund.add-monetary-contribution'},
      ]

      if (this.fund.isPac && this.orca_version >= 1.500) {
        add_contribution_types.push(
          {value:'Monetary Group Contribution', route:'ORCA.fund.add-monetary-group-contribution'}
        )
      }

      return add_contribution_types
    }
  },
  methods: {
    onImportFinish(duplicatesFound) {
      this.showImport = false;
      if (duplicatesFound) {
        this.$router.replace({name: 'ORCA.fund.contact-duplicates', params: {fund_id:this.fund.fund_id}});
      }
      else {
        this.reloadDataTables();
      }
    },
    onTableLoad(length) {
      this.searchOpen = length === 0 ? 0 : null;
    },
    reloadDataTables() {
      this.$refs.table.loadTransactions(this.fund);
    },
    clearSearch(){
      Object.keys(this.search).forEach((i) => this.search[i] = null);
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {
    this.showImport = !!this.$route.query.showImport;
  }
}
</script>
