<template>
  <div>
    <slot name="header"/>
    <v-text-field v-model="search" append-icon="mdi-magnifiy" label="Search in results" single-line hide-details></v-text-field>
    <v-data-table
      :search="search"
      :items="transactions"
      :single-expand="true"
      item-key="trankeygen_id"
      :headers="headers"
      :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
    >
      <template v-slot:item.name="{item}">
        <router-link :to="{name:'orca.fund.contact', params: {contact_id: item.contid}}">
          {{item.name}}
        </router-link>
      </template>
      <template v-slot:item.date_="{item}">
        {{formatDate(item.date_)}}
      </template>
      <template v-slot:item.amount="{item}">
        <transaction-link :transaction="item"></transaction-link>
      </template>
      <template v-slot:item.elekey="{item}">
        {{getElection(item)}}
      </template>
      <template v-slot:item.actions="{item}" v-if="orcaVersion >= 1.460">
        <transaction-link :transaction="item" icon="edit" aria-label="Edit contribution"></transaction-link>
        <accessible-button
            button-tooltip="Delete contribution"
            @click="loadDeleteDialog(item)">
          <v-icon>delete</v-icon>
        </accessible-button>
        <accessible-button
            v-if="item.type !== 27 && item.contact_type !== 'GRP'"
            :to="{name: 'ORCA.fund.add-refund-contribution', params: {contribution_id: item.trankeygen_id}}"
            button-tooltip="Refund contribution"
        >
          <v-icon>u_turn_left</v-icon>
        </accessible-button>
      </template>
      <template v-slot:item.deposit_date="{item}">
        <deposit-link :receipt="item"/>
      </template>
    </v-data-table>
    <slot name="maximumResultMessage" v-if="showMaxResultMessage">
      <v-alert color="secondary">
        <v-icon>info</v-icon>
        Only showing the first {{maxResults}} results
      </v-alert>
    </slot>
    <slot name="default"/>
    <v-btn tabindex="0" @click="doDownload"><v-icon>file_download</v-icon>Download as csv</v-btn>
    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete Contribution</v-card-title>
        <v-card-text >
          <div v-if="!contribution.deposit_date">Are you sure you want to delete the contribution?</div>
          <v-alert v-else type="error" >You cannot delete a contribution after it has been deposited.</v-alert>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" @click="deleteContribution" :disabled="contribution.deposit_date != null"><v-icon>delete</v-icon> Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import ORCA from '@/ORCABridge';
  import {orcaDataService} from "@/OrcaDataService";
  import {useOrcaFund} from "@/orca/fund/Fund";
  import filters from "@/filters";
  import {computed} from 'vue'
  import TransactionLink from "../TransactionLink";
  import {useContribution} from "./contributions"
  import DepositLink from "../deposits/DepositLink";
  import AccessibleButton from "@/components/AccessibleButton";

  export default {
    name: "ContributionsDataTable",
    components: {AccessibleButton, DepositLink, TransactionLink},
    props: {
      query: {
        type: String,
        default: 'contribution-search'
      },
      parameters: {
        type: Object
      },
      maxResults: {
        type: Number
      }
    },
    data() {
      return {
        expanded: [],
        search: "",
        showMaxResultMessage: false,
        showDeleteDialog: false,
        transactions: [],
        headers: [
          {text: "Date", value: "date_"},
          {text: "Name", value: "name"},
          {text: "Amount", value: "amount", align: "end"},
          {text: "Type", value: "transaction_type"},
          {text: "Election", value: "elekey"},
          {text: "Description", value: "description"},
          {text: "Deposited", value: "deposit_date"},
          {text: "", value: "actions"}
        ]
      }
    },
    methods: {
      ...filters.filters,
      loadTransactions(fund){
        if(fund.fund_id) {
          orcaDataService.getFundData(fund.fund_id, this.query, this.parameters).then(data => {
            if(data.success) {
              //filter out personal funds
              if(ORCA.version < 1.470 ){
                this.transactions = data[this.query].filter(t => t.type !== 2);
              }else{
                this.transactions = data[this.query]
              }
              this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length);
            } else {
              this.transactions = [];
              this.showMaxResultMessage = false;
            }
            this.$emit('load', this.transactions.length);
          })
        } else {
          this.transactions = []
        }
      },
      getElection(item) {
        //Length check to ignore special elections (and break the code in about 8000 years)
        if (this.fund.election_code.length === 4) {
          if (item.elekey === 0) {
            return "Primary"
          }
          else if (item.elekey === 1) {
            return "General"
          }
        }
      },
      async loadDeleteDialog(c) {
        await this.contributionsActions.loadContribution(c.trankeygen_id)
        this.showDeleteDialog = true;
      },
      deleteContribution() {
        this.contributionsActions.deleteContribution(this.contribution).then(() => {
          this.showDeleteDialog = false;
          this.loadTransactions(this.fund);
        })
      },
      doDownload() {
        const columns = [
          {text: "Date", value: "date_"},
          {text: "Name", value: "name"},
          {text: "Amount", value: "amount", align: "end"},
          {text: "Type", value: "transaction_type"},
          {text: "Description", value: "description"},
          {text: "Deposited", value: "deposit_date"},
          {text: "Address", value: 'street'}  ,
          {text: "City", value: "city"},
          {text: "State", value: "state"},
          {text: "Zip", value: "zip"}
        ]
        if (this.fund.allow_primary_limits) {
          columns.push({text: "Election", value: "elekey"})
        }
        this.generateCSV('contributions.csv', this.transactions, columns )
      }
    },
    setup() {
      const {fund, generateCSV} = useOrcaFund();
      const orcaVersion = computed(() => ORCA.version);
      const {contributionsActions, contribution} = useContribution();
      return {fund, orcaVersion, contributionsActions, contribution, generateCSV}
    },
    created() {
      ORCA.$on('loadFund', this.loadTransactions);
      this.loadTransactions(this.fund);
    },
    beforeDestroy() {
      ORCA.$off('loadFund', this.loadTransactions);
    }
  }
</script>
