<template>
  <CampaignPage ref="campaignPage" title="Anonymous contribution" return-route="ORCA.fund.contribution-search" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must access this page from the ORCA version 1.460 or
      greater.
    </v-alert>
    <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
      <v-icon>error</v-icon>
      Missing accounts for fund. Please contact support.
    </v-alert>
    <template v-slot:toolbar>
      <make-deposit-button/>
      <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.contribution-search'}"><v-icon>search</v-icon>Contribution Search</v-btn>
      <add-contributions/>

    </template>
    <v-form ref="anonymousContributionForm" lazy-validation @submit.prevent="saveContribution()">
      <v-card flat max-width="1100">
        <v-card-text>
          <p>Use this only when the contributor is truly unknown to the campaign. Anonymous contributions are
            limited to ${{fund_thresholds_report_anonymous}} or 1% of total contributions in the current calendar year.</p>

                <v-row no-gutters >
                  <v-col>
                    <date-picker autofocus ref="contributionDate" v-model="contribution.date_" :required=true :max-date="maxContributionDate"
                                 label="Contribution date" :message="dataMessage"></date-picker>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                        v-model="contribution.amount"
                        label="Amount"
                        type="Number"
                        :rules="[validations.required, validations.positiveAmount]"
                        prefix="$"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-textarea
                    v-model="contribution.memo"
                    label="Memo"
                    maxlength=1000
                    rows="2"
                ></v-textarea>

        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </CampaignPage>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import DatePicker from "@/components/DatePicker";
import CampaignPage from "../CampaignPage";
import {useContribution} from "@/orca/contributions/contributions";
import MakeDepositButton from "../deposits/MakeDepositButton";
import formValidations from "@/formValidations";
import AddContributions from "./AddContributions";
import filters from "@/filters";

export default {
  name: "EditAnonymousContribution",
  components: {
    AddContributions,
    MakeDepositButton,
   CampaignPage, DatePicker
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const {contribution, contributionsActions} = useContribution();
    return {fund, contribution, contributionsActions, orcaFund}
  },
  data() {
    return {
      message: "",
      contribution_id: null,
      descriptionHelpText: null,
      validations: {
        ...formValidations
      },
    }
  },
  created() {
    this.initPage();
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.460)
    },
    maxContributionDate() {
      return this.contribution.deposit_date??this.currentDatePlusOneMonth();
    },
    dataMessage() {
      return this.contribution.deposit_date ? 'the deposit date, ' : '';
    },
    fund_thresholds_report_anonymous() {
      return ('thresholds' in this.fund) ? this.fund.thresholds.report_anonymous : ''
    }
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      this.contribution_id = parseInt(this.$route.params?.id ?? "0");
      this.newContribution = this.contribution_id === 0;
      if (!this.newContribution) {
        await this.contributionsActions.loadContribution(this.contribution_id);
      }
    },
    async saveContribution() {
      if (this.$refs.anonymousContributionForm.validate()) {
        let success = await this.contributionsActions.saveAnonymousContribution();
        this.message = "Saved contribution";
        if (this.newContribution && success) {
          this.contributionsActions.newContribution();
          this.$refs.anonymousContributionForm.resetValidation();
          setTimeout(() => {
            this.$refs.contributionDate.focus();
            this.$refs.anonymousContributionForm.resetValidation();},500)
        } else if (!this.newContribution && success) {
          this.contributionsActions.newContribution();
          this.$refs.anonymousContributionForm.resetValidation();
          this.$refs.campaignPage.navigateBack();
        }
      }
    },
  }
};
</script>
