<template>
  <CampaignPage ref="campaignPage" title="In-kind contribution" return-route="ORCA.fund.contribution-search" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must access this page from the ORCA version 1.460 or
      greater.
    </v-alert>
    <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
      <v-icon>error</v-icon>
      Missing accounts for fund. Please contact support.
    </v-alert>
    <template v-slot:toolbar>
      <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.contribution-search'}"><v-icon>search</v-icon>Contribution Search</v-btn>
      <add-contributions/>
    </template>
    <v-form ref="inKindContributionForm" lazy-validation @submit.prevent="saveContribution()" >
      <v-card flat max-width="1100">
        <v-card-text>
          <ContactSelect
            ref="contactSelect"
            label="Contributor name"
            autofocus
            @valid-contact="doSave"
            @contact-selected="onContactSelect"
            :testEmpAddress="true"
            :requireAddress="true"
            :amount = "adjustedAmount"
            v-model="contribution.contid"
            :rules="[validations.required]"
          />

                <p v-if="contribution.pid">
                <transaction-select  :disabled="true" v-model="contribution.pid">
                  <template v-slot:display="{transaction}">
                    Towards pledge of {{formatMoney(transaction.amount)}} made on {{formatDate(transaction.date_)}}
                  </template>
                </transaction-select>
                </p>

                <expenditure-account-select ref="accountSelect" v-model="contribution.cid"/>

                <v-row no-gutters>
                  <v-col cols="6">
                    <date-picker v-model="contribution.date_" :required=true :max-date="maxContributionDate"
                                 label="Contribution date"></date-picker>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      v-model.number="contribution.amount"
                      label="Fair market value"
                      type="text"
                      inputmode="decimal"
                      :rules="[validations.required, validations.positiveAmount]"
                      prefix="$"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row no-gutters >
                  <v-col cols="8">
                    <ElectionSelect
                        v-model="contribution.elekey"
                        item-text="name"
                    ></ElectionSelect>
                  </v-col>
                  <v-col cols="3">
                    <v-checkbox tabindex="0"
                        v-model="contribution.itemized"
                        label="Itemize (optional)"
                        v-bind:false-value=0
                        v-bind:true-value=1
                        dense
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col cols="12">
                    <expenditure-description-text-field
                      v-model="contribution.description"
                      :account_id="contribution.cid"/>
                    <p class="help-text" v-if = "this.requiresDescription">{{ descriptionHelpText }}</p>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-textarea
                        v-model="contribution.memo"
                        label="Memo"
                        maxlength=1000
                        rows="1"
                    ></v-textarea>
                  </v-col>
                </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
    <v-dialog v-model="showSelectPledges" persistent>
      <v-card>
        <v-card-title>Apply in-kind contribution to Pledge</v-card-title>
        <v-card-text>
          <p>An unpaid pledge was found for this contact.  Do you want to apply this in-kind contribution to the pledge?</p>
          <v-radio-group v-model="selectedPledge">
            <v-radio v-for="(pledge,index) in unpaidPledges" :key="index" :value="pledge.trankeygen_id">
              <template v-slot:label>
                {{formatMoney(pledge.amount)}} on {{formatDate(pledge.date_)}} balance: {{formatMoney(pledge.total)}}
              </template>
            </v-radio>
            <v-radio :value="0" label="Do not apply to pledge"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="onPledgeSelect" color="primary">Choose</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </CampaignPage>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import DatePicker from "@/components/DatePicker";
import ElectionSelect from "./ElectionSelect"
import ContactSelect from "@/orca/contacts/ContactSelect";
import CampaignPage from "../CampaignPage";
import {useContribution} from "@/orca/contributions/contributions";
import formValidations from "@/formValidations";
import AddContributions from "./AddContributions";
import ExpenditureAccountSelect from "../accounts/ExpenditureAccountSelect";
import ExpenditureDescriptionTextField from "../accounts/ExpenditureDescriptionTextField";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import TransactionSelect from "../TransactionSelect";

export default {
  name: "EditInKindContribution",
  components: {
    TransactionSelect,
    ExpenditureDescriptionTextField,
    ExpenditureAccountSelect,
    AddContributions,
    ElectionSelect, ContactSelect, CampaignPage, DatePicker
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const {contribution, contributionsActions} = useContribution();
    return {fund, contribution, contributionsActions, orcaFund}
  },
  data() {
    return {
      message: "",
      contribution_id: null,
      selectedElection: null,
      previousAmount: 0.0,
      requiresDescription: false,
      descriptionHelpText: null,
      unpaidPledges: [],
      showSelectPledges: false,
      selectedPledge: null,
      validations: {
        ...formValidations
      },
    }
  },
  created() {
    this.initPage();
  },
  computed: {
    adjustedAmount() {
      const contributionAmount = (this.contribution.amount === '') ? 0 : this.contribution.amount
      if (!this.newContribution) {
        return (contributionAmount - this.previousAmount);
      }
      else {
        return contributionAmount;
      }
    },
    disableEdit() {
      return (ORCA.version < 1.460)
    },
    maxContributionDate() {
      return this.currentDatePlusOneMonth();
    },
    expenseItemAccounts() {
      if (this.fund.accounts) {
        let accountNameSort = function (a, b) {
          if (a.usage_count > 0 && b.usage_count <= 0) return -1;
          if (a.usage_count <= 0 && b.usage_count > 0) return 1;
          if (a.deprecated && !b.deprecated) return 1;
          if (!a.deprecated && b.deprecated) return -1;
          if (a.name > b.name) return 1;
          if (a.name < b.name) return -1;
          return 0;
        };
        return this.fund.accounts.filter(a => a.acctnum >= 5000 && !a.pid && a.cat_lookup !== 'surplus').sort(accountNameSort);
      }
      else {
        return [];
      }
    },
  },
  watch: {
    $route() {
      this.initPage();
    },
    selectedPledge(value) {
      if (value) {
        this.contribution.pid = value;
      }
      else {
        this.contribution.pid = null;
      }
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      this.contribution_id = parseInt(this.$route.params?.id ?? "0");
      this.newContribution = this.contribution_id === 0;
      if(!this.newContribution){
        await this.contributionsActions.loadContribution(this.contribution_id);
        this.previousAmount = this.contribution.amount;
      }
    },
    async saveContribution() {
      let isValid = await this.$refs.contactSelect.contactSelectSoftValidation();
      if(isValid){
        await this.doSave();
      }
    },
    async doSave() {
      if (this.$refs.inKindContributionForm.validate()) {
        let success = await this.contributionsActions.saveInKindContribution();
        this.message = "Saved contribution";
        if (this.newContribution && success) {
          this.contributionsActions.newContribution();
          this.$refs.inKindContributionForm.resetValidation();
          this.selectedPledge = null;
          setTimeout(() => {
            this.$refs.contactSelect.focus();
            this.$refs.inKindContributionForm.resetValidation();}, 200);
        } else if (!this.newContribution && success) {
          this.contributionsActions.newContribution();
          this.$refs.inKindContributionForm.resetValidation();
          this.$refs.campaignPage.navigateBack();
        } else {
          this.message = "Please ensure all required fields are complete.";
        }
      }
    },
    onContactSelect() {
      setTimeout(() => this.$refs.accountSelect.focus(), 200);
      this.selectedPledge = null;
      let pledges = this.fund.accounts.filter((account) => account.acctnum===4900 && account.contid === this.contribution.contid);
      if (pledges && pledges.length > 0 && ORCA.version>=1.490 && !this.contribution.trankeygen_id) {
        orcaDataService.getFundData(this.fund.fund_id, 'pledges-unpaid-for-contact', {contid: this.contribution.contid})
            .then(data => {
              if (data && data['pledges-unpaid-for-contact'] && data['pledges-unpaid-for-contact'].length > 0) {
                this.unpaidPledges = data['pledges-unpaid-for-contact'];
                this.showSelectPledges = true;
              }
            });
      }
    },
    onPledgeSelect() {
      this.showSelectPledges = false;
      setTimeout(() => this.$refs.accountSelect.focus(), 200);
    }

  }
}
</script>

