<template>
  <CampaignPage ref="campaignPage" title="Monetary contribution" return-route="ORCA.fund.contribution-search" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must access this page from the ORCA version 1.460 or
      greater.
    </v-alert>
    <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
      <v-icon>error</v-icon>
      Missing accounts for fund. Please contact support.
    </v-alert>
    <template v-slot:toolbar>
      <make-deposit-button/>
      <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.contribution-search'}"><v-icon>search</v-icon>Contribution Search</v-btn>
      <add-contributions/>
    </template>
    <v-form ref="monetaryContributionForm" lazy-validation @submit.prevent="saveContribution()" v-if="fund.fund_id">
      <v-card flat max-width="1100">
        <v-card-text>
            <p>This function is used for most deposits that go into the campaign account. Use the function for
              monetary contributions from any source.</p>

            <ContactSelect
              autofocus
              ref="contactSelect"
              label="Contributor name"
              v-model.number="contribution.contid"
              @contact-selected="onContactSelect"
              @valid-contact="doSave"
              :type="contactSelectType"
              :election="contribution.elekey"
              :testEmpAddress="true"
              :requireAddress="false"
              :amount = "adjustedAmount"
              :rules="[validations.required]"
              :disableContactSelect="handleDisableContactSelect"
            >

              <template v-slot:limitwarning="{limit,contact}" >
                <v-alert v-if="allowSplit(contact, limit)">
                  <p>The contribution of {{formatMoney(contribution.amount)}} will cause the contributor to exceed the limit of {{formatMoney(limit.amount)}}.   Would you
                    like to apply the remaining amount of {{formatMoney(generalAmount)}} to the general
                    election in a separate contribution?</p>
                  <v-radio-group v-model="splitContribution">
                    <v-radio :value="true" label="Yes, create two contributions"/>
                    <v-radio :value="false" label="No, only create one"/>
                  </v-radio-group>
                </v-alert>
                <v-alert v-else color="warning" border="left">Custom {{contact.name}} is over contribution limit of {{formatMoney(limit.amount)}}.</v-alert>
              </template>
            </ContactSelect>
            <p v-if="contribution.pid">
              <transaction-select :disabled="true" v-model="contribution.pid">
                <template v-slot:display="{ transaction }">
                  Towards pledge of: {{ formatMoney(transaction.amount)}} made on {{ formatDate(transaction.date_)}}
                </template>
              </transaction-select>
            </p>
            <v-row no-gutters>
              <v-col cols="6">
                <date-picker ref="dateEntry" v-model="contribution.date_" :required=true :max-date="maxContributionDate"
                             label="Contribution date" :message="dataMessage"></date-picker>
              </v-col>
              <v-col cols="6">
                <v-text-field
                    v-model.number="contribution.amount"
                    label="Amount"
                    type="text"
                    inputmode="decimal"
                    :rules="[validations.required, validations.positiveAmount]"
                    @change="onAmountChange()"
                    prefix="$"
                ></v-text-field>
              </v-col>
            </v-row>
            <ElectionSelect
                v-model.number="contribution.elekey"
                :disable="isPersonalFund"
                item-text="name"
            ></ElectionSelect>
            <v-row >
              <v-col cols="6">
                <v-text-field
                    v-model="contribution.checkno"
                    label="Check number (optional)"
                    type="Text"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-checkbox tabindex="0"
                    v-model.number="contribution.itemized"
                    label="Itemize (optional)"
                    v-bind:false-value=0
                    v-bind:true-value=1
                ></v-checkbox>
              </v-col>
            </v-row>

            <v-textarea
                v-model="contribution.memo"
                label="Memo (optional)"
                maxlength=1000
                rows="2"
            ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-spacer/>
          {{message}}
        </v-card-actions>
      </v-card>
    </v-form>
    <v-dialog v-model="showSelectPledges" persistent>
      <v-card>
        <v-card-title>Apply monetary contribution to pledge</v-card-title>
        <v-card-text>
          <p>An unpaid pledge was found for this contact. Do you want to apply this monetary contribution to the pledge?</p>
          <v-radio-group v-model="selectedPledge">
            <v-radio v-for="(pledge,index) in unpaidPledges" :key="index" :value="pledge.trankeygen_id">
              <template v-slot:label>
                {{ formatMoney(pledge.amount)}} on {{ formatDate(pledge.date_)}} balance: {{formatMoney(pledge.total)}}
              </template>
            </v-radio>
            <v-radio :value="0" label="Do not apply to pledge"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="onPledgeSelect" color="primary">Choose</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </CampaignPage>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import DatePicker from "@/components/DatePicker";
import ElectionSelect from "./ElectionSelect"
import ContactSelect from "@/orca/contacts/ContactSelect";
import CampaignPage from "../CampaignPage";
import {useContribution} from "@/orca/contributions/contributions";
import filters from "@/filters";
import MakeDepositButton from "../deposits/MakeDepositButton";
import formValidations from "@/formValidations";
import AddContributions from "./AddContributions";
import TransactionSelect from "../TransactionSelect";
import {orcaDataService} from "@/OrcaDataService";

export default {
  name: "EditMonetaryContribution",
  components: {
    TransactionSelect,
    AddContributions,
    MakeDepositButton,
    ElectionSelect, ContactSelect, CampaignPage, DatePicker
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const {contribution, contributionsActions} = useContribution();
    return {fund, contribution, contributionsActions, orcaFund}
  },
  data() {
    return {
      message: "",
      adjustedAmount: 0.0,
      previousAmount: 0.0,
      contribution_id: null,
      selectedElection: null,
      splitContribution: true,
      splitContributionAllowed: false,
      newContribution: true,
      isPersonalFund: false,
      primaryAmount: 0.0,
      generalAmount: 0.0,
      validations: {
        ...formValidations
      },
      showSelectPledges: false,
      unpaidPledges: [],
      selectedPledge: null,
    }
  },
  created() {
    this.initPage();
  },
  computed: {
    handleDisableContactSelect() {
      return ORCA.version < 1.500 && this.isPersonalFund && !this.newContribution;
    },
    disableEdit() {
      return (ORCA.version < 1.460)
    },
    contactSelectType(){
      if(ORCA.version >= 1.500) {
        return null;
      } else {
          if(ORCA.version < 1.470 || (!this.isPersonalFund && !this.newContribution)){
            return '!CAN'
          } else{
            return null
          }
      }
    },
    maxContributionDate() {
      return this.contribution.deposit_date??this.currentDatePlusOneMonth();
    },
    dataMessage(){
      return this.contribution.deposit_date ? 'the deposit date, ' : '';
    },
  },
  watch: {
    $route() {
      this.initPage();
    },
    selectedPledge(value) {
      if(value) {
        this.contribution.pid = value;
      } else {
        this.contribution.pid = null;
      }
    }
  },
  methods: {
    ...filters.filters,
    allowSplit(contact, limit) {

      const paggCents = Math.round(parseFloat(contact.pagg ?? 0)  * 100.0);
      const amountCents = Math.round(parseFloat(this.adjustedAmount ?? 0) * 100.0 );
      const limitCents = Math.round(parseFloat(limit.amount ?? 0) * 100.0);
      const returnValue =  this.contribution
          && this.contribution.elekey === 0
          && (paggCents < limitCents);
      this.splitContributionAllowed = false;
      if (returnValue) {
        const generalCents = (paggCents + amountCents)  - limitCents
        this.generalAmount = (generalCents)/100.0;
        this.primaryAmount = (amountCents - generalCents)/100.0;
        this.splitContributionAllowed = true;
      }
      else {
        this.generalAmount = 0.0;
        this.splitContributionAllowed = false;
      }
      return returnValue;
    },
    async initPage() {
      if (this.fund.fund_id)
      {
        this.contribution_id = parseInt(this.$route.params?.id ?? 0);
        this.newContribution = this.contribution_id === 0;
        if(!this.newContribution){
          await this.contributionsActions.loadContribution(this.contribution_id);
          this.isPersonalFund = this.contribution.type === 2;
          this.previousAmount = this.contribution.amount;
          this.splitContributionAllowed = false;
        }
      }
    },
    onAmountChange() {
      let contributionAmount = this.contribution.amount === '' ? 0 : this.contribution.amount;
      if (this.selectedPledge) {
        this.adjustedAmount = 0;
      } else {
        if (!this.newContribution) {
          this.adjustedAmount = (contributionAmount - this.previousAmount);
        } else {
          this.adjustedAmount = contributionAmount
        }
      }
    },

    async saveContribution() {
      if (this.$refs.monetaryContributionForm.validate()) {
        let isValid = await this.$refs.contactSelect.contactSelectSoftValidation();
        if(isValid){
          await this.doSave();
        }
      }
    },
   onContactSelect(contact) {
     this.$nextTick(() => this.$refs.dateEntry.focus())

     this.selectedPledge = null;
     this.isPersonalFund = contact.type === 'CAN'
     if(!this.contribution.trankeygen_id && ORCA.version >= 1.490) {
       let pledges = this.fund.accounts.filter((account) => account.acctnum === 4900 && account.contid === this.contribution.contid);
       if (pledges && pledges.length > 0) {
         orcaDataService.getFundData(this.fund.fund_id, 'pledges-unpaid-for-contact', {contid: this.contribution.contid}).then(data => {
           if (data && data['pledges-unpaid-for-contact'] && data['pledges-unpaid-for-contact'].length > 0) {
             this.unpaidPledges = data['pledges-unpaid-for-contact'];
             this.showSelectPledges = true;
           }
         })
       }
     }
   },
   async doSave() {
       if (this.$refs.monetaryContributionForm.validate()) {
         let success;

         // Determine if we need to split contribution
         if (this.newContribution && this.splitContributionAllowed && (this.contribution.elekey === 0) && this.splitContribution) {
           success = await this.contributionsActions.saveSplitContribution(this.primaryAmount, this.generalAmount);
         }
         else {
           success = await this.contributionsActions.saveContribution();
         }
         this.message = "Saved contribution";
         this.splitContribution = false;
         if (this.newContribution && success) {
           this.contributionsActions.newContribution();
           this.$refs.monetaryContributionForm.resetValidation();
           this.selectedPledge = null;
           setTimeout( () => {
             this.$refs.contactSelect.focus();
             this.$refs.monetaryContributionForm.resetValidation();}, 200);
         }else if (!this.newContribution && success){
          this.$refs.monetaryContributionForm.resetValidation();
          this.$refs.campaignPage.navigateBack();
        }
       } else {
         this.message = "Please ensure all required fields are complete.";
       }
   },
   onPledgeSelect() {
     this.showSelectPledges = false;
     setTimeout(() => this.$refs.dateEntry.focus(), 200);
   }
  }
}

</script>
