<template>
  <CampaignPage ref="campaignPage" title="Refund contribution" return-route="ORCA.fund.contribution-search" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must access this page from the ORCA version 1.460 or
      greater.
    </v-alert>
    <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
      <v-icon>error</v-icon>
      Missing accounts for fund. Please contact support.
    </v-alert>
    <template v-slot:toolbar>
      <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.contribution-search'}"><v-icon>search</v-icon>Contribution Search</v-btn>
      <add-expenses></add-expenses>
    </template>
    <v-form ref="contributionRefundForm" lazy-validation @submit.prevent="saveRefund()">
      <v-card flat max-width="1100px">
        <v-card-text>
          <v-row>
            <v-col>
              <transaction-select
                :params="{type: 1}" v-model.number="contribution.pid"
                :disabled="disableSelect" @transaction-loaded="setContributionInfo"
                :rules="[validations.required]" label="Select contribution to refund"/>
              <date-picker v-model="contribution.date_" :required=true :max-date="maxContributionDate"
                           label="Date"></date-picker>

              <v-row>
                <v-col>
                  <v-text-field
                    v-model.number="contribution.amount"
                    label="Amount to refund"
                    type="text"
                    inputmode="decimal"
                    :rules="[validations.required, validations.positiveAmount, validations.refundTooLarge]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="contribution.checkno"
                    label="Check number (optional)"
                    type="Number"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-text-field
                v-model="contribution.description"
                label="Description"
                type="Text"
                :rules="[validations.required]"
              ></v-text-field>

              <v-textarea
                v-model="contribution.memo"
                label="Memo"
                maxlength=1000
              ></v-textarea>

            </v-col>
      </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-spacer/>
          {{message}}
        </v-card-actions>
      </v-card>
    </v-form>
  </CampaignPage>
</template>

<script>
  import CampaignPage from "../CampaignPage";
  import TransactionSelect from "../TransactionSelect"
  import {useOrcaFund} from "@/orca/fund/Fund";
  import ORCA from "@/ORCABridge";
  import DatePicker from "@/components/DatePicker";
  import {useContribution} from "@/orca/contributions/contributions";
  import formValidations from "@/formValidations";
  import AddExpenses from "@/orca/expenditures/AddExpenses"
  import {orcaDataService} from "@/OrcaDataService";
  import filters from "@/filters";

  export default {
    name: "EditRefundContribution.vue",
    components: {
      CampaignPage, DatePicker, TransactionSelect, AddExpenses
    },
    setup() {
      const {fund, orcaFund} = useOrcaFund();
      const {contribution, contributionsActions} = useContribution();
      return {fund, contribution, contributionsActions, orcaFund}
    },
    data() {
      return {
        message: "",
        contribution_id: 0,
        originalRefundedAmount: 0.0,
        originalContributionAmount: 0.0,
        trankeygen_id: null,
        totalRefundedAmount: 0.0,
        newContribution: false,
        validations: {
          ...formValidations,
          refundTooLarge:
            v => (!v || (parseFloat(v) <= this.amountToRefund)) || 'Total refunds exceed the original contribution amount'
        },
      }
    },
    created() {
      this.initPage();
    },
    watch: {
      $route() {
        this.initPage();
      },
    },
    computed: {
      disableEdit() {
        return (ORCA.version < 1.460)
      },
      disableSelect() {
        return !!this.contribution_id;
      },
      maxContributionDate() {
        return this.currentDatePlusOneMonth();
      },
      amountToRefund() {
        if (this.totalRefundedAmount) {
          return parseFloat( this.originalContributionAmount - this.totalRefundedAmount + this.originalRefundedAmount);
        } else {
          return parseFloat(this.originalContributionAmount);
        }
      },

    },
    methods: {
      ...filters.filters,
      async initPage() {
        if (this.fund.fund_id)
        {
          this.contribution_id = parseInt(this.$route.params?.id ?? 0);
          this.newContribution = this.contribution_id === 0;
          if (this.$route.params.contribution_id && !this.contribution.pid) {
            this.contribution.pid = this.$route.params.contribution_id;
            await this.loadContribution();
          }
          if(!this.newContribution){
            await this.contributionsActions.loadRefund(this.contribution_id);
            this.originalRefundedAmount = this.contribution.amount;
          }
        }
      },
      async loadContribution() {
        const transaction = await orcaDataService.getFundObject(this.fund.fund_id, 'transaction' ,this.contribution.pid);
        if (transaction) {
          this.setContributionInfo(transaction)
        }
      },
      setContributionInfo(c) {
        this.totalRefundedAmount = c.total_refunded;
        this.originalContributionAmount = c.amount;
        if(!this.contribution_id){
          this.contribution.amount = c.amount - c.total_refunded;
          this.contribution.contid = c.contid;
        }
        this.$refs.contributionRefundForm.validate();
      },
      async saveRefund() {
        if (this.$refs.contributionRefundForm.validate()) {
          let success = await this.contributionsActions.saveContributionRefund();
          this.message = "Saved contribution";
          if (this.newContribution && success) {
            this.contributionsActions.newContribution();
            this.clearAll();
            this.$refs.contributionRefundForm.resetValidation();
          } else if (!this.newContribution && success) {
            this.contributionsActions.newContribution();
            this.$refs.contributionRefundForm.resetValidation();
            this.$refs.campaignPage.navigateBack();
          } else {
            this.message = "Please ensure all required fields are complete.";
          }
        }
      },
      clearAll() {
        this.totalRefundedAmount = null;
        this.contribution_id = 0;
        this.contribution.amount = null;
        this.contribution.name = null;
        this.contribution.pid = null;
        this.originalContributionAmount = 0.0;
        this.contribution.contid = null;
      }
    }
  }
</script>
