<template>
  <CampaignPage ref="campaignPage" title="Monetary group contribution" return-route="ORCA.fund.contribution-search" @load="load">
    <v-alert color="warning" v-if="disabled">
      <v-icon>error</v-icon>
      Read-only mode: To modify, access this page from an ORCA version of 1.500 or greater.
    </v-alert>
    <v-alert color="error" text v-if="error_text !== '' " @click="() => error_text = '' ">
      <v-icon>error</v-icon>
      {{ error_text }}
    </v-alert>
    <v-alert color="error" dark v-if="! disabled && ! fund.accounts">
      <v-icon>error</v-icon>
      Missing accounts for fund. Please contact support.
    </v-alert>
    <template v-slot:toolbar>
      <v-btn
        small
        color="primary"
        :to="{name: 'ORCA.fund.contribution-search'}"
      ><v-icon>search</v-icon>Contribution Search</v-btn>
    </template>
    <v-form ref="monetaryGroupContributionForm" lazy-validation @submit.prevent="save">
      <v-card flat max-width="1100">
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <div v-if="group_contacts.length !== 0">
                <v-autocomplete
                  ref="group_contacts_ref"
                  return-object
                  label="Group"
                  item-text="name"
                  autofocus
                  :items="group_contacts"
                  :rules="[validations.required]"
                  v-model="group_contact"
                />
              </div>
              <div v-else>
                <v-text-field
                  label="Group (No group contacts found, please create one)"
                  disabled
                />
              </div>
            </v-col>
            <v-col cols="6">
              <div v-show="group_contact !== null">
                <v-text-field
                  v-model="search_input"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-data-table
                  show-select
                  item-key="name"
                  :items-per-page="5"
                  :items="filtered_contacts"
                  :headers="headers"
                  :search="search_input"
                  v-model="included"
                  @click:row="onClickDataTableRow"
                >
                  <template v-slot:item.data-table-select="{ item, isSelected }">
                    <v-simple-checkbox
                      color="#006800"
                      :value="isSelected"
                      :ripple="false"
                      @input="onClickDataTableRow(item)"
                    ></v-simple-checkbox>
                  </template>
                </v-data-table>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-text-field
                label="Amount (per member)"
                type="number"
                prefix="$"
                :disabled="group_contact === null"
                v-model="individual_amount"
                :rules="[validations.required, validations.positiveAmount]"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="d-flex">
              <div class="pt-5 pl-2 larger-text">Group amount: {{ formatMoney(included_amount) }}</div>
              <info-dialog class="pt-4 pl-2" title="Group amount formula">
                <div>
                  The individual member amount ({{ included_amount }}) * (the number of group members ({{ filtered_contacts.length }}) - the number of excluded members ({{ excluded_length }})) = the group amount ({{ included_amount }}).
                </div>
              </info-dialog>
            </v-col>
            <v-col cols="2">
              <date-picker
                ref="dateEntry"
                label="Date"
                class="pb-2"
                required
                v-model="date"
              ></date-picker>
            </v-col>
            <v-col cols="2" class="d-flex">
              <v-checkbox tabindex="0"
                label="Itemize (optional)"
                class="pt-1"
                type="number"
                v-model="itemized"
                :false-value=0
                :true-value=1
              ></v-checkbox>
              <info-dialog class="pt-6" title='What does "Itemize" mean?'>
                <div>
                  Contributors of ${{fund_thresholds_itemized_contributions}} or less in the aggregate appear on line 1e of the C-3 report.
                  You must still enter each contributor's name so the program can track
                  the aggregates for that contributor. If you want the names of contributors
                  with ${{fund_thresholds_itemized_contributions}} or less to be reported on the C-3, check the "Itemize (optional)" checkbox.
                </div>
              </info-dialog>
            </v-col>
          </v-row>
          <v-textarea
            label="Memo (optional)"
            maxlength=1000
            rows="2"
            v-model="memo"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disabled">Save</v-btn>
          <v-spacer/>
          {{ message }}
        </v-card-actions>
      </v-card>
    </v-form>
  </CampaignPage>
</template>

<script>
  import { useOrcaFund } from "@/orca/fund/Fund"
  import { orcaDataService } from "@/OrcaDataService"
  import ORCA from "@/ORCABridge"
  import DatePicker from "@/components/DatePicker"
  import CampaignPage from "../CampaignPage"
  import formValidations from "@/formValidations"
  import InfoDialog from "@/info/InfoDialog"
  import filters from "@/filters"

  export default {
    name: "EditMonetaryGroupContribution",
    components: {
      CampaignPage,
      DatePicker,
      InfoDialog,
    },
    setup() {
      const { fund } = useOrcaFund()
      return { fund }
    },
    data() {
      return {
        error_text: '',
        orca_version: ORCA.version,
        individual_amount: null,
        search_input: '',
        included: [],
        headers: [
          {text: 'Contributor', value: 'name'},
          {text: 'Current member of group', value: 'is_member'},
        ],
        all_contacts: [],
        group_contacts: [],
        group_contact: null,
        filtered_contacts: [],
        group_receipt: {},
        individual_receipts: [],
        individual_receipts_contact_ids: [],
        date: '',
        itemized: 0,
        memo: '',
        message: '',
        name: '',
        groups: {},
        validations: {
          ...formValidations
        },
      }
    },
    computed: {
      included_length() {
        return this.included.length
      },
      excluded_length() {
        return this.filtered_contacts.length - this.included_length
      },
      included_amount() {
        return this.included.length * this.individual_amount
      },
      disabled() {
        return (this.orca_version < 1.500)
      },
      is_editing() {
        return 'id' in this.$route.params
      },
      fund_thresholds_itemized_contributions() {
        return ('thresholds' in this.fund) ? this.fund.thresholds.itemized_contributions : ''
      }
    },
    watch: {
      group_contact(new_group_contact) {
        if (new_group_contact === null || new_group_contact === undefined) {
          return
        }

        this.filtered_contacts = this.all_contacts.filter(contact => (
          this.isAMemberOfTheGroupReceipt(contact) ||
          this.isAMemberOfTheGroupContact(contact, new_group_contact)
        ))

        this.filtered_contacts = this.filtered_contacts.map(contact => {
          contact.is_member = this.isAMemberOfTheGroupContact(contact, new_group_contact) ? 'yes' : 'no'
          if (this.is_editing) {
            contact.amount = this.getContactReceiptAmount(contact) ?? 0
          }
          else {
            contact.amount = (! this.individual_amount) ? 0 : parseFloat(this.individual_amount)
          }
          return contact
        })

        this.search_input = ''
        this.handleIncludedContacts(new_group_contact)
      },
      individual_amount(new_amount) {
        this.filtered_contacts = this.filtered_contacts.map(contact => {
          if (this.included.includes(contact)) {
            contact.amount = (new_amount === '') ? 0 : parseFloat(new_amount)
          }
          return contact
        })
        this.triggerIncludedMembers()
      }
    },
    methods: {
      ...filters.filters,
      handleIncludedContacts(new_group_contact) {
        this.included = this.filtered_contacts
        if (
          new_group_contact !== undefined &&
          this.is_editing
        ) {
          this.included = this.included.filter(
            contact => this.individual_receipts_contact_ids.includes(contact.trankeygen_id)
          )
        }
      },
      clearForm() {
        this.group_contact = null
        this.individual_amount = null
        this.date = ''
        this.itemized = 0
        this.memo = ''
        this.$refs.monetaryGroupContributionForm.resetValidation()
        this.$refs.group_contacts_ref.focus()
      },
      isAMemberOfTheGroupReceipt(contact) {
        return this.individual_receipts_contact_ids.includes(contact.trankeygen_id)
      },
      isAMemberOfTheGroupContact(contact, group_contact) {
        return (
          this.groups[contact.trankeygen_id] !== undefined &&
          this.groups[contact.trankeygen_id].has(group_contact.trankeygen_id)
        )
      },
      getContactReceiptAmount(contact) {
        const found_receipt = this.individual_receipts.find(receipt => receipt.contid === contact.trankeygen_id)
        return (found_receipt === undefined) ? null : found_receipt.amount
      },
      triggerIncludedMembers() {
        const temp_first_included_member = this.included.pop()
        this.included.push(temp_first_included_member)
      },
      onClickDataTableRow(selected) {
        const selected_exists_in_included = this.included.some(
          contact => contact.trankeygen_id === selected.trankeygen_id
        )
        if (selected_exists_in_included) {
          if (this.included.length === 1) {
            return
          }
          this.included = this.included.filter(
            contact => contact.trankeygen_id !== selected.trankeygen_id
          )
        }
        else {
          this.included.push(selected)
        }
      },
      async load() {
        if (this.fund.fund_id === 0) {
          return
        }
        this.loadGroups()
        await this.loadTransaction()
        this.loadContacts()
      },
      async loadContacts() {
        try {
          this.all_contacts = await orcaDataService.getFundData(
            this.fund.fund_id,
            'get-contacts-by-fund-id'
          )
          this.all_contacts = this.all_contacts['get-contacts-by-fund-id']
          this.group_contacts = this.all_contacts.filter(contact => contact.type === 'GRP')

          if ('contid' in this.group_receipt) {
            this.group_contact = this.group_contacts.filter(
              contact => contact.trankeygen_id === this.group_receipt.contid
            )[0]
          }
        }
        catch (error) {
          this.error_text = 'Error: ' + error
        }
      },
      async loadGroups() {
        try {
          const groups = await orcaDataService.getFundData(
            this.fund.fund_id,
            'get-registered-group-contacts'
          )
          for(const group of groups['get-registered-group-contacts']) {
            if (this.groups[group.trankeygen_id] === undefined) {
              this.groups[group.trankeygen_id] = new Set()
              this.groups[group.trankeygen_id].add(group.gconid)
            }
            else {
              this.groups[group.trankeygen_id].add(group.gconid)
            }
          }
        }
        catch (error) {
          this.error_text = 'Error: ' + error
        }
      },
      async loadTransaction() {
        if (this.is_editing === false) {
          return
        }
        try {
          const result = await orcaDataService.getFundObject(
            this.fund.fund_id,
            'get-monetary-group-contribution',
            this.$route.params.id,
          )

          this.group_receipt = result.group_receipt
          this.individual_receipts = result.individual_receipts

          this.itemized = this.group_receipt.itemized
          this.memo = this.group_receipt.memo

          this.individual_receipts_contact_ids = this.individual_receipts.map(
            receipt => receipt.contid
          )
          if (this.individual_receipts.length > 0) {
            const first_individual_receipt = this.individual_receipts[0]
            this.individual_amount = first_individual_receipt.amount
            this.date = this.group_receipt.date_
          }
        }
        catch (error) {
          this.error_text = 'Error: ' + error
        }
      },
      async save() {
        if (this.$refs.monetaryGroupContributionForm.validate()) {
          if (this.included.length === 0) {
            this.error_text = 'Error: Need to have at least one included member'
            return
          }
          const included_members_ids = this.included.map(contact => contact.trankeygen_id)
          const all_members_ids = this.filtered_contacts.map(
            contact => contact.trankeygen_id
          )
          const excluded_members_ids = all_members_ids.filter(
            contact_id => ! included_members_ids.includes(contact_id)
          )
          try {
            await orcaDataService.postFundObject(
              this.fund.fund_id,
              'save-monetary-group-contribution',
              {
                trankeygen_id: this.$route.params.id ?? null,
                group_contid: this.group_contact.trankeygen_id,
                date_: this.date,
                individual_amount: this.individual_amount,
                itemized: this.itemized,
                memo: this.memo,
                exclude_members: excluded_members_ids
              },
              true
            );
            (this.is_editing) ? this.$refs.campaignPage.navigateBack() : this.clearForm()
          }
          catch (error) {
            this.error_text = 'Error: ' + error
          }
        }
      }
    }
  }
</script>
<style>
  .larger-text {
    font-size: 1.2em;
  }
</style>
