<template>
  <div class="electionSelect">
    <v-select
        v-model="selectedElection"
        :items="elekeyChoices"
        label="Choose election"
        :disabled="!allowSelection"
        :clearable="allowClearing"
        @change="onChange()"
        :rules="[
            validations.validElekey
        ]"
    ></v-select>
  </div>
</template>

<script>
import {useOrcaFund} from "../fund/Fund";

export default {
  name: "electionSelect",
  props: {
    value: {
      type: Number,
      default: null,
    },
    disable: {
      type: Boolean,
      default: false,
    },
    allowClearing: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      selectedElection: null,
      validations: {
        validElekey: v => (!this.required || v !== null || this.disable) || 'Required',
      },
    }
  },
  computed: {
    allowSelection() {
      return this.fund && this.fund.allow_primary_limits && !this.disable;
    },
    elekeyChoices() {
      if (this.allowSelection) {
        return     [
          { text: 'Primary', value: 0},
          { text: 'General', value: 1},
        ];
      }
      else {
        return  [{ text: '', value: -1}];
      }
    },
  },
  watch: {
    value() {
      this.setElectionFromProp();
    },
    disable: function(newVal){
      this.selectedElection = newVal ? -1 : null
      this.$emit('input', this.selectedElection)
    }
  },
  created() {
    this.setElectionFromProp();
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  methods: {
    setElectionFromProp() {
      this.selectedElection = this.value;
      // Override value when you cannot choose primary
      if (!this.allowSelection && (this.value === 0 || this.value === null)) {
        this.selectedElection = -1;
        this.$emit('input', this.selectedElection);
      }
    },
    onChange() {
      this.$emit('input', this.selectedElection);
    },
  }
}
</script>
