<template>
  <campaign-page ref="campaignPage" title="Credit card" @load="loadInfo">
    <span class="title">{{ account.name }}</span>
    <p>
      <span v-if="account.street">{{ account.street }}<br/></span>
      <span v-if="account.city && account.state">{{ account.city }}, {{ account.zip }}</span>
    </p>
    <p>
      <strong>Balance:</strong> {{ formatMoney(-1 * account.total) }}
    </p>
    <div style="max-width: 1000px">
      <span class="title">Payments</span>
      <accessible-button v-if="allowEdit"
         icon
         :to="{name: 'ORCA.fund.add-credit-card-payment', params: {fund_id: fund.fund_id, account: account.trankeygen_id}}"
          button-tooltip="Add credit card payment">
              <v-icon>add</v-icon>
      </accessible-button>

      <v-data-table
          :items="payments"
          :headers="[
          { text: 'Date', value: 'date_'},
          { text: 'Amount', value: 'amount', align: 'end'},
          { text: 'Interest', value: 'interest', align: 'end'},
          { text: '', value: 'actions'}
        ]"
          :footer-props="{'items-per-page-options':[50,100,-1]}"
      >
        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-slot:item.amount="{item}">
          {{ formatMoney(item.amount) }}
        </template>
        <template v-slot:item.interest="{item}">
          {{ formatMoney(item.interest) }}
        </template>
        <template v-slot:item.actions="{item}">
          <accessible-button
              :to="{name: 'ORCA.fund.credit-card-payment', params: {fund_id: fund.fund_id, id: item.trankeygen_id} }"
              button-tooltip="Edit credit card payment">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button v-if="allowEdit" @click="tryDelete(item)" button-tooltip="Delete credit card payment">
            <v-icon>delete</v-icon>
          </accessible-button>
        </template>

      </v-data-table>
      <h3>Expenses</h3>
      <v-text-field type="search" label="search" v-model="search">
      </v-text-field>
      <v-data-table
          :items="expenses"
          :search="search"
          :headers="[
          { text: 'Date', value: 'date_'},
          { text: 'Name', value: 'name'},
          { text: 'Amount', value: 'amount', align: 'end'},
          { text: 'Memo', value: 'memo'}
        ]"
          :footer-props="{'items-per-page-options':[50,100,1000,-1]}"
      >
        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-slot:item.name="{item}">
          <router-link v-if="item.contid" :to="{name:'orca.fund.contact', params: {contact_id: item.contid}}">
            {{ item.name }}
          </router-link>
        </template>
        <template v-slot:item.amount="{item}">
          <router-link v-if="item.type === 'Debt payment'" :to="{name: 'ORCA.fund.vendor-debt-payment', params: {id: item.trankeygen_id}}">
            {{ formatMoney(item.amount) }}
          </router-link>
          <router-link v-else
              :to="{name: item.uses_surplus_funds ? 'ORCA.fund.edit-surplus-expenditure': 'ORCA.fund.edit-expenditure', params: {id: item.trankeygen_id}}">
            {{ formatMoney(item.amount) }}
          </router-link>
        </template>
      </v-data-table>
    </div>
    <v-dialog v-model="showDeleteTransaction">
      <v-card>
        <v-card-title>Delete {{ transaction.transaction_type.toLowerCase() }}</v-card-title>
        <v-card-text>
          <p>Are you sure you want to delete the {{ transaction.transaction_type.toLowerCase() }} of
            {{ formatMoney(transaction.amount) }} on {{ formatDate(transaction.date_) }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDeleteTransaction">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteTransaction=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import filters from "@/filters";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import ORCA from "@/ORCABridge";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "CreditCardView",
  components: {AccessibleButton, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {
      showDeleteTransaction: false,
      account: {},
      payments: [],
      expenses: [],
      transaction: {type: null, transaction_type: ""},
      search: ""
    }
  },
  methods: {
    ...filters.filters,
    loadInfo() {
      const trankeygen_id = this.$route.params.id;
      orcaDataService.getFundObjectRaw(this.$route.params.fund_id, 'credit-card-details', trankeygen_id)
          .then(result => {
            if (result && result.success) {
              this.account = result.account;
              this.payments = result.payments ?? [];
              this.expenses = result.expenses ?? [];
            }
          });
    },
    allowEdit() {
      return ORCA.version >= 1.490
    },
    tryDelete(item) {
      orcaDataService.getFundObject(this.fund.fund_id, 'transaction', item.trankeygen_id).then(tran => {
        if (tran) {
          this.transaction = tran;
          this.showDeleteTransaction = true
        } else {
          alert('Could not find transaction to delete!');
        }
      })
    },
    doDeleteTransaction() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'transaction', this.transaction.trankeygen_id).then(result => {
        if (result.success) {
          ORCA.deleteReceipt(this.transaction);
          this.showDeleteTransaction = false;
          this.loadInfo();
        }
      })
    },

  }
}
</script>

<style scoped>

</style>