<template>
  <campaign-page @load="doSearch" title="Debt and loan search">
    <template v-slot:toolbar>
      <v-menu v-if="version>=1.480">
        <template v-slot:activator="{attrs, on}">
          <v-btn tabindex="0" small color="primary" v-bind="attrs" v-on="on">
            <v-icon>add</v-icon>
            New Debt/Loan
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-for="(receipt, index) in addReceiptTypes" :key="index" link :to="{name: receipt.route}">
            <v-list-item-title>{{ receipt.value }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <make-deposit-button/>
    </template>

    <v-text-field type="search" label="Search" v-model="search" clearable></v-text-field>
    <v-data-table :items="accounts" :headers='[
      {text: "Type", value: "transaction_type"},
      {text: "Name", value: "name"},
      {text: "Balance", value: "balance", align: "end"},
      {text: "Amount", value: "amount", align: "end"},
      {text: "Date", value: "date_"},
      {text: "Description" , value: "description"},
      {text: "Actions", value: "actions"}
    ]'
                  :footer-props="{'items-per-page-options':[50,-1]}"
                  :search="search">
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template type="number" v-slot:item.amount="{item}">
        <span v-if="item.amount">{{ formatMoney(item.amount) }}</span>
      </template>
      <template type="number" v-slot:item.balance="{item}">
        {{ formatMoney(item.balance) }}
      </template>
      <template v-slot:item.actions="{item}">
        <accessible-button v-if="getRouteTo(item)" :to="getRouteTo(item)" button-tooltip="View debt">
          <v-icon>visibility</v-icon>
        </accessible-button>
      </template>
    </v-data-table>
    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete Miscellaneous</v-card-title>
        <v-card-text>
          Are you sure you want to delete the {{ debt.transaction_type }} for ${{ debt.amount }} on
          {{ formatDate(debt.date_) }} ?
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" @click="deleteDebt">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import ORCA from "@/ORCABridge";
import {computed} from "vue";
import MakeDepositButton from "../deposits/MakeDepositButton";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "DebtSearch",
  components: {AccessibleButton, CampaignPage, MakeDepositButton},
  setup() {
    const {fund} = useOrcaFund();
    const orcaVersion = computed(() => ORCA.version);
    return {fund, orcaVersion}
  },
  data() {
    return {
      showDeleteDialog: false,
      debt: {},
      accounts: [],
      search: "",
      addReceiptTypes: [
        {value: 'Cash loan', route: 'ORCA.fund.add-cash-loan'},
        {value: 'In-kind loan', route: 'ORCA.fund.add-in-kind-loan'},
        {value: 'Vendor debt', route: 'ORCA.fund.add-invoiced-expense'},
      ]
    }
  },
  created() {
    if (this.fund.fund_id) {
      this.doSearch()
    }
  },
  computed: {
    version() {
      return ORCA.version;
    }
  },
  methods: {
    ...filters.filters,
    doSearch() {
      if (this.fund.fund_id) {
        orcaDataService.getFundData(this.fund.fund_id, "search-debt").then(data => {
          if (data.success) {
            this.accounts = data["search-debt"];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.accounts.length);
          } else {
            this.accounts = [];
            this.showMaxResultMessage = false;
          }
          this.searchOpen = this.accounts.length === 0 ? 0 : null;
        });
      } else {
        this.accounts = [];
      }
    },
    async loadDeleteDialog(item) {
      // @TODO: Replace following line with appropriate load transaction code when it's built.
      // await this.contributionsActions.loadContribution(c.trankeygen_id)
      this.miscReceipt = item;
      this.showDeleteDialog = true;
    },
    async deleteDebt() {
      this.showDeleteDialog = false;
      this.doSearch();
    },
    getRouteTo(item) {
      const params = {fund_id: this.fund.fund_id, id: item.trankeygen_id};
      const paramsAccount = {fund_id: this.fund.fund_id, id: item.account_id};
      if (item.acctnum === 2000 && this.version > 1.480) {
        return {name: 'ORCA.fund.vendor-debt-view', params: paramsAccount}
      } else if (item.acctnum === 2100) {
        return {name: 'ORCA.fund.loan', params}
      } else if (item.acctnum === 2600) {
        return {name: 'ORCA.fund.credit-card', params: paramsAccount}
      } else if (item.transaction_type === 'In Kind Loan') {
        return {name: 'ORCA.fund.loan', params}
      }
      return null;
    }
  }
}
</script>
