<template>
  <div class="debtSelect">
          <span v-if="debt_id">
            <slot name="display" :debt="debt">
              <strong>{{ displayName }}</strong> {{ formatDate(debt.date_) }} {{ formatMoney(debt.amount) }}
            </slot>
          </span>
    <span v-else>
            {{ label }}
          </span>
    &nbsp;<v-btn tabindex="0" small @click="onShowDebtSelectDialog()" v-if="!disabled">
    <v-icon small>search</v-icon>
    Find
  </v-btn>

    <v-dialog v-model="showDebtSelectDialog" width="40em" persistent>
      <v-card>
        <v-card-title>
          {{ label }}
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>

          <v-data-table
              :search="search"
              :items="debts"
              item-key="trankeygen_id"
              :headers="headers"
              :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
              @click:row="onDebtSelect"
          >
            <template v-slot:item.amount="{item}">
              {{ item.amount }}
            </template>
            <template v-slot:item.date_="{item}">
              {{ formatDate(item.date_) }}
            </template>

          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="onCloseDebtSelectDialog()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import filters from "@/filters";
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "../fund/Fund";

// noinspection ES6ShorthandObjectProperty,BadExpressionStatementJS
export default {
  name: "DebtSelect",
  props: {
    query: {
      type: String,
      default: 'vendor-debts'
    },
    params: {
      type: Object,
      default: () => {
      },
    },
    label: {
      type: String
    },
    value: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    autoOpen: {
      type: Boolean,
      default: true,
    }
  },
  emits: [
    'input',
  ],
  setup() {
    const {fund} = useOrcaFund();
    return {fund,};
  },
  data() {
    return {
      debt: {},
      search: "",
      showDebtSelectDialog: false,
      debts: [],
      debt_id: null,
      headers: [
        {text: "Amount", value: "amount", align: "end"},
        {text: "Name", value: "name"},
        {text: "Date", value: "date_"},
        {text: "", value: "actions"}
      ],
    }
  },
  computed: {
    displayName() {
      return this.debt.name;
    },
  },
  created() {
    this.debt_id = this.value;
    if (this.debt_id) {
      this.loadDebt();
    }
  },
  mounted() {
    if (!this.disabled && this.autoOpen) {
      this.onShowDebtSelectDialog()
    }
  },
  watch: {
    value: function (value) {
      if (value) {
        this.debt_id = value;
        this.loadDebt();
      } else {
        this.debt = {};
        this.debt_id = null;
      }
    },
  },
  methods: {
    async loadDebt() {
      const debt = await orcaDataService.getFundObject(this.fund.fund_id, 'expenditure', this.debt_id);
      if (debt) {
        this.debt = debt.expenditureEvent
      } else {
        this.debt = {};
      }
      this.$emit('debt-loaded', this.debt);
    },
    onShowDebtSelectDialog() {
      this.loadDebts();
      this.showDebtSelectDialog = true;
    },
    onCloseDebtSelectDialog() {
      this.showDebtSelectDialog = false;
    },
    async onDebtSelect(debt) {
      this.debt_id = debt.trankeygen_id
      await this.loadDebt();
      this.$emit('input', this.debt_id);
      this.showDebtSelectDialog = false;
    },
    loadDebts() {
      if (this.fund.fund_id)
        orcaDataService.getFundData(this.fund.fund_id, this.query, this.params).then(data => {
          if (data.success) {
            this.debts = data[this.query];
          } else {
            this.debts = [];
          }
        });
    },
    ...filters.filters
  }
}
</script>