<template>
  <campaign-page ref="campaignPage" title="Loan guarantor" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit loan payments from the ORCA version 1.480 or
      greater.
    </v-alert>
    <v-form ref="loanEndorserForm" @submit.prevent="saveLoanEndorser">
      <v-card flat>
        <v-card-text>
          <contact-select label="Name" v-model="contid" :rules="[validations.required]"/>
          <!-- THe reason we provide an amount field is that going forward all amounts need to be the loan amount, but we
             need a transition period to make sure the values track and that users understand the rule change.-->
          <v-text-field label="Amount" type="number" v-model="amount" prefix="$" maxLength="50"
                        :rules="[validations.required, validAmount]"/>
          <p class="HelpText">Loan amount is {{ formatMoney(loan.amount) }}</p>
          <election-select v-model="elekey"></election-select>
          <v-textarea label="Memo (optional)" type="text" v-model="memo"/>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-btn tabindex="0" @click="cancel">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "@/orca/fund/Fund";
import {useLoan} from "./loans";
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import formValidations from "@/formValidations";
import filters from "@/filters";
import ContactSelect from "../contacts/ContactSelect";
import ElectionSelect from "../contributions/ElectionSelect";

export default {
  name: "EditLoanEndorser",
  data() {
    return {
      endorser_id: null,
      originalEndorser: {},
      contid: null,
      pid: null,
      elekey: null,
      amount: null,
      memo: null,
      newEndorser: true,
      validations: {...formValidations}
    }
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const {loan, loansActions} = useLoan();
    return {fund, orcaFund, loan, loansActions}
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  components: {ElectionSelect, ContactSelect, CampaignPage},
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.480)
    }
  },
  methods: {
    ...filters.filters,
    validAmount(v) {
      return !v || (Number.parseFloat(v) === this.loan.amount) || 'Amount must be full amount of loan';
    },
    async initPage() {
      if (this.fund.fund_id) {
        this.endorser_id = parseInt(this.$route.params?.id ?? 0);
        this.pid = parseInt(this.$route.params?.loan_id ?? 0);
        await this.loansActions.loadLoan(this.pid);
        this.newEndorser = !this.endorser_id;
        if (!this.newEndorser) {
          orcaDataService.getFundObject(this.fund.fund_id, 'transaction', this.endorser_id).then((endorser) => {
            this.originalEndorser = endorser;
            this.contid = endorser.contid;
            this.amount = endorser.amount;
            this.memo = endorser.memo;
            this.elekey = endorser.elekey;
            this.pid = endorser.pid;
          });
        } else {
          this.resetEndorser();
        }
      }
    },
    resetEndorser() {
      this.endorser_id = null
      this.amount = this.loan.amount;
    },
    async saveLoanEndorser() {
      if (this.$refs.loanEndorserForm.validate()) {
        const endorser = {
          pid: this.pid,
          contid: this.contid,
          amount: this.amount,
          date_: this.date_,
          memo: this.memo,
          elekey: this.elekey
        }
        if (this.endorser_id) {
          endorser.trankeygen_id = this.endorser_id;
        }
        let savedEndorser = await orcaDataService.postFundObject(this.fund.fund_id, 'loan-endorser', endorser);

        if (savedEndorser) {
          let response = JSON.parse(JSON.stringify(savedEndorser));
          if (!response.orca_id) {
            response.orca_id = 0;
          }
          response.rds_id = response.trankeygen_id;
          response.contid = response.contid_orca;
          response.cid = response.cid_orca;
          response.did = response.did_orca;
          response.pid = response.pid_orca;

          await ORCA.saveLoanTransaction(response);

          this.message = "Saved guarantor"
          this.$refs.campaignPage.navigateBack();
        }
      }
    },
    cancel() {
      this.$refs.campaignPage.navigateBack();
    }
  }
}
</script>
