<template>
  <campaign-page ref="campaignPage" title="Loan payment" @load="setUpLoanPayment">
    <template v-slot:toolbar>
      <add-expenses/>
    </template>
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit loan payments from the ORCA version 1.480 or
      greater.
    </v-alert>
    <v-form ref="loanPaymentForm" @submit.prevent="trySave" lazy-validation>
      <v-card flat>
        <v-card-text>
          <transaction-select @input="onPidChange" label="Loan" v-model="pid" :params="{type: loanType}"
                              :disabled="disablePidChange"/>
          <div>
            Loan balance: {{ formatMoney(currentBalance) }}
          </div>
          <bank-account-select
              ref="bankAccount"
              :current-amount="totalAmount"
              :original-account="originalPayment.did"
              :original-amount="previousAmount"
              v-model="did"
              @ignoreWarning="saveLoanPayment"
          />
          <v-row dense>
            <v-col cols="12" sm="3">
              <v-text-field
                autofocus
                label="Principal paid"
                type="number"
                v-model.number="principalPaid"
                :rules="principal_paid_validation_rules"
              />
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field
                label="Interest paid"
                type="number"
                v-model.number="interestPaid"
                :rules="interest_paid_validation_rules"
              />
            </v-col>
            <v-col cols="12" sm="3">
              <date-picker
                label="Payment date"
                required
                v-model="date"
              />
            </v-col>
          </v-row>
          <v-text-field
              v-model="checkno"
              label="Check number (optional)"
              maxlength="50"
              type="Text"
          ></v-text-field>
          <v-textarea
              v-model="memo"
              label="Memo (optional)"
              maxlength=1000
              rows="2"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit">Save</v-btn>
          <v-btn tabindex="0" @click="cancel">Cancel</v-btn>
          <v-spacer/>
          {{ message }}
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import TransactionSelect from "../TransactionSelect";
import DatePicker from "@/components/DatePicker";
import ORCA from "@/ORCABridge";
import formValidations from "@/formValidations"
import {useOrcaFund} from "../fund/Fund";
import {useLoan} from "./loans";
import {orcaDataService} from "@/OrcaDataService";
import BankAccountSelect from "../accounts/BankAccountSelect";
import filters from "@/filters";
import AddExpenses from "../expenditures/AddExpenses";

export default {
  name: "EditLoanPayment",
  components: {AddExpenses, BankAccountSelect, DatePicker, TransactionSelect, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    const {loan, loansActions} = useLoan();
    return {fund, loan, loansActions}
  },
  created() {
    this.setUpLoanPayment();
  },
  data() {
    return {
      loanType: 3,
      originalPayment: {},
      payment_id: null,
      pid: null,
      date: null,
      did: null,
      principalPaid: null,
      interestPaid: null,
      memo: null,
      checkno: null,
      validations: {...formValidations},
      message: "",
    };
  },
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.480);
    },
    disablePidChange() {
      return !!this.payment_id || !!this.$route.query.pid;
    },
    totalAmount() {
      return (this.principalPaid ? this.principalPaid : 0) + (this.interestPaid ? this.interestPaid : 0);
    },
    previousAmount() {
      return (this.originalPayment.amount ? this.originalPayment.amount : 0) + (this.originalPayment.interest ? this.originalPayment.interest : 0)
    },
    currentBalance() {
      return this.originalPayment.trankeygen_id ? this.loan.balance + this.originalPayment.amount - this.principalPaid : this.loan.balance - this.principalPaid
    },
    principal_paid_validation_rules() {
      const validations = [this.validations.positiveAmount, this.noOverPayment, this.validations.required]

      if (this.interestPaid > 0) {
        validations.pop()
      }

      return validations
    },
    interest_paid_validation_rules() {
      const validations = [this.validations.positiveAmount, this.validations.required]

      if (this.principalPaid > 0) {
        validations.pop()
      }

      return validations
    }
  },
  methods: {
    ...filters.filters,
    setUpLoanPayment() {
      if (this.fund.fund_id) {
        if (this.$route.params.id) {
          this.payment_id = this.$route.params.id;
          if (this.$route.query.type) {
            this.loanType = parseInt(this.$route.query.type);
          }
          this.loadLoanPayment();
        } else {
          this.payment_id = null;
          this.originalPayment = {};
          this.principalPaid = null;
          this.interestPaid = null;
          if (this.$route.query.pid) {
            this.pid = Number.parseInt(this.$route.query.pid);
            this.loansActions.loadLoan(this.pid).then(() => {
              this.loanType = this.loan.type;
            });
          } else {
            this.pid = null;
            this.loansActions.newLoan();
          }
          if (this.$refs.loanPaymentForm) {
            this.$refs.loanPaymentForm.resetValidation();
          }
        }
      }
    },
    trySave() {
      if (this.$refs.loanPaymentForm.validate() && this.$refs.bankAccount.checkOverdraft()) {
        this.saveLoanPayment();
      }
    },
    async saveLoanPayment() {
      //Need to actually grab stuff for proper loan saving.
      let loanPayment = {
        'fund_id': this.fund.fund_id,
        'pid': this.pid,
        'did': this.did,
        'date_': this.date,
        'amount': this.principalPaid,
        'interest': this.interestPaid,
        'checkno': this.checkno,
        'memo': this.memo,
      }
      if (this.payment_id) {
        loanPayment.trankeygen_id = this.payment_id;
      }
      const payment = await orcaDataService.postFundObject(this.fund.fund_id, 'loan-payment', loanPayment);
      if (payment) {
        // Prepare ORCA transactions
        const orcaPayment = JSON.parse(JSON.stringify(payment));
        orcaPayment.pid = payment.pid_orca;
        orcaPayment.did = payment.did_orca;
        orcaPayment.cid = payment.cid_orca;
        orcaPayment.contid = payment.contid_orca;
        ORCA.saveLoanTransaction(orcaPayment);
        if (this.$route.query.pid || this.$route.params.id) {
          this.$refs.campaignPage.navigateBack();
        } else {
          this.setUpLoanPayment();
          this.message = "Loan payment saved";
        }
      }
    },
    loadLoanPayment() {
      if (this.fund.fund_id) {
        orcaDataService.getFundObjectRaw(this.fund.fund_id, 'transaction', this.payment_id).then(result => {
          if (result.success) {
            const payment = result.transaction;
            this.pid = payment.pid;
            this.did = payment.did;
            this.date = payment.date_;
            this.principalPaid = payment.amount;
            this.interestPaid = payment.interest;
            this.originalPayment = payment;
            this.checkno = payment.checkno;
            this.memo = payment.memo;
            this.loansActions.loadLoan(payment.pid);
          }
        });
      }
    },
    onPidChange() {
      this.loansActions.loadLoan(this.pid);
    },
    cancel() {
      this.$refs.campaignPage.navigateBack();
    },
    noOverPayment() {
      return (this.currentBalance >= 0.0) || 'This payment would cause overpayment of the loan.'
    }
  }
}
</script>

