<template>
  <campaign-page ref="campaignPage" title="Loan Forgiveness" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit loan payments from the ORCA version 1.480 or
      greater.
    </v-alert>
    <v-form ref="loanForgivenessForm" @submit.prevent="saveLoanForgiveness">
      <v-card flat>
        <v-card-text>
          <p>
            <strong>Balance:</strong>{{ formatMoney(currentBalance) }}
          </p>
          <v-row>
            <v-col cols="3">
              <v-text-field
                label="Amount"
                v-model.number="amount"
                inputmode="decimal"
                type="text"
                prefix="$"
                :rules="[validations.required, validations.positiveAmount, noOverPayment]"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <date-picker label="Date" v-model="date_" :required="true"></date-picker>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-textarea label="Memo (optional)" v-model="memo"></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-btn tabindex="0" @click="cancel">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "@/orca/fund/Fund";
import {useLoan} from "../debt/loans";
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import formValidations from "@/formValidations";
import DatePicker from "@/components/DatePicker";
import filters from "@/filters";

export default {
  name: "EditLoanForgiveness",
  data() {
    return {
      forgiveness_id: null,
      originalForgiveness: {},
      pid: null,
      date_: null,
      amount: null,
      memo: null,
      newForgiveness: true,
      validations: {...formValidations}
    }
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    const {loan, loansActions} = useLoan();
    return {fund, orcaFund, loan, loansActions}
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  components: {DatePicker, CampaignPage},
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.480)
    },
    currentBalance() {
      return this.forgiveness_id ? this.loan.balance + this.originalForgiveness.amount - this.amount : this.loan.balance - this.amount ?? 0;
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      if (this.fund.fund_id) {
        this.forgiveness_id = parseInt(this.$route.params?.id ?? 0);
        this.pid = parseInt(this.$route.params?.loan_id ?? 0);
        await this.loansActions.loadLoan(this.pid);
        this.newForgiveness = !this.forgiveness_id;
        if (!this.newForgiveness) {
          orcaDataService.getFundObject(this.fund.fund_id, 'loan-forgiveness', this.forgiveness_id).then((forgiveness) => {
            this.originalForgiveness = forgiveness;
            this.amount = forgiveness.amount;
            this.date_ = forgiveness.date_;
            this.memo = forgiveness.memo;
          });
        } else {
          this.resetForgiveness();
        }
      }
    },
    resetForgiveness() {
      this.forgiveness_id = null
      this.forgiveness = {
        date_: null,
        amount: null,
        memo: null
      }
    },
    async saveLoanForgiveness() {
      if (this.$refs.loanForgivenessForm.validate()) {
        const forgiveness = {
          pid: this.pid,
          amount: this.amount,
          date_: this.date_,
          memo: this.memo,
        }
        if (this.forgiveness_id) {
          forgiveness.trankeygen_id = this.forgiveness_id;
        }
        let savedForgiveness = await orcaDataService.postFundObject(this.fund.fund_id, 'loan-forgiveness', forgiveness);

        if (savedForgiveness) {
          let response = JSON.parse(JSON.stringify(savedForgiveness));
          if (!response.orca_id) {
            response.orca_id = 0;
          }
          response.rds_id = response.trankeygen_id;
          response.contid = response.contid_orca;
          response.cid = response.cid_orca;
          response.did = response.did_orca;
          response.pid = response.pid_orca;

          await ORCA.saveLoanTransaction(response);

          this.message = "Saved Forgiveness"
          this.$refs.campaignPage.navigateBack();
        }
      }
    },
    cancel() {
      this.$refs.campaignPage.navigateBack();
    },
    noOverPayment() {
      return (this.currentBalance >= 0.0) || 'Cannot forgive more than the balance of the loan.'
    }
  }
}
</script>

<style scoped>

</style>