<template>
  <campaign-page ref="campaignPage" title="Vendor debt adjustment" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit vendor debt forgiveness from the ORCA version 1.490 or
      greater.
    </v-alert>
    <v-form ref="vendorDebtAdjustmentForm" @submit.prevent="trySave" lazy-validation>
      <v-card flat max-width="1100">
        <v-card-text>
          <v-select
              v-model="vendorDebtAdjustment.pid"
              :items="expenses"
              label="Expense"
              item-text="name"
              item-value="trankeygen_id"
          >
            <template v-slot:selection="data">
              <v-list-item-content>
                <v-list-item-title>{{ data.item.name }}</v-list-item-title>
                <v-list-item-subtitle>{{
                    formatMoney(data.item.amount) + ' ' + data.item.description
                  }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
            <template v-slot:item="data">
              <v-list-item-content>
                <v-list-item-title>{{ data.item.name }}</v-list-item-title>
                <v-list-item-subtitle>{{
                    formatMoney(data.item.amount) + ' ' + data.item.description
                  }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </v-select>
          <v-row dense>
            <v-col cols="4">
              <date-picker label="Date" v-model="vendorDebtAdjustment.date_" :required="true"/>
            </v-col>
            <v-col cols="4">
              <v-text-field
                v-model.number="vendorDebtAdjustment.amount"
                label="Amount"
                type="number"
                inputmode="decimal"
                prefix="$"
                maxLength="30"
                :rules="[validations.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-textarea
              v-model="vendorDebtAdjustment.memo"
              label="Memo (optional)"
              maxlength=1000
              rows="2"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import {useOrcaFund} from "../fund/Fund";
import formValidations from "@/formValidations";
import ORCA from "@/ORCABridge";
import filters from "@/filters";
import {orcaDataService} from "@/OrcaDataService";

export default {
  name: "EditInvoicedExpenseAdjustment",
  components: {CampaignPage, DatePicker},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {
      expenses: [],
      adjustment_id: null,
      expenditure_event_id: null,
      search: '',
      expense: null,
      showExpenseSelectDialog: false,
      vendorDebtAdjustment: {
        date_: null,
        amount: 0.0,
        memo: null,
        pid: null
      },
      headers: [
        {text: "Amount", value: "amount", align: "end"},
        {text: "Name", value: "name"},
        {text: "Date", value: "date_"},
        {text: "", value: "actions"}
      ],
      validations: {
        ...formValidations
      },
    }
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.490);
    },
  },
  methods: {
    ...filters.filters,
    initPage() {
      if (this.fund.fund_id) {
        this.expenditure_event_id = parseInt(this.$route.params?.expense_event_id ?? 0)
        this.loadExpenses();
        if (this.$route.params.adjustment_id) {
          this.adjustment_id = parseInt(this.$route.params?.adjustment_id ?? 0);
          this.loadAdjustment(this.adjustment_id);
        }
      }
    },
    async loadExpenses() {
      if (this.fund.fund_id) {
        this.expenses = await orcaDataService.getFundObject(this.fund.fund_id, 'invoiced-expenses', this.expenditure_event_id)
      }
    },
    async loadAdjustment(adjustment_id) {
      if (this.fund.fund_id) {
        await orcaDataService.getFundObjectRaw(this.fund.fund_id, 'transaction', adjustment_id).then(result => {
          if (result.success) {
            const adjustment = result.transaction;
            this.vendorDebtAdjustment = adjustment;
            this.loadExpense(adjustment.pid);
          }
        });
      }
    },
    loadExpense(pid) {
      if (this.expenses) {
        this.expense = this.expenses.find(item => item.trankeygen_id === pid)
      }
    },
    trySave() {
      if (this.$refs.vendorDebtAdjustmentForm.validate()) {
        this.saveVendorDebtAdjustment();
      }
    },
    async saveVendorDebtAdjustment() {
      const savedAdjustment = await orcaDataService.postFundObject(this.fund.fund_id, 'invoiced-expense-adjustment', this.vendorDebtAdjustment);
      if (this.adjustment_id) {
        savedAdjustment.trankeygen_id = this.adjustment_id;
      }

      if (savedAdjustment) {
        const orcaAdjustment = JSON.parse(JSON.stringify(savedAdjustment));
        orcaAdjustment.contid = savedAdjustment.contid_orca;
        orcaAdjustment.cid = savedAdjustment.cid_orca;
        orcaAdjustment.did = savedAdjustment.did_orca;
        orcaAdjustment.pid = savedAdjustment.pid_orca;
        orcaAdjustment.interest_account_id = 0;
        await ORCA.saveReceipt(orcaAdjustment);
        this.$refs.campaignPage.navigateBack();
      }
    },
    cancel() {
      this.$refs.campaignPage.navigateBack();
    },
  }
}
</script>