<template>
  <campaign-page ref="campaignPage" title="Credit card payment" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit credit card payments from ORCA version 1.490 or
      greater.
    </v-alert>
    <v-alert type="info" v-if="!creditCardPayment.trankeygen_id">
      If your campaign has a credit card, enter payments to that account here. Do not use this function to report
      payments to an individual person or a business' credit card.
    </v-alert>


    <v-dialog v-model="showWarningDialog" width="30em">
      <v-card>
        <v-card-title>
          Transaction warnings
        </v-card-title>
        <v-card-text>
          <div v-if="true">
            <v-alert color="warning" border="left">Funds notice: You do not have sufficient funds in the selected
              account.
            </v-alert>
          </div>
          <p>Do you wish to ignore warnings and continue?</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="doSave()">Yes</v-btn>
          <v-btn tabindex="0" @click="showWarningDialog=false">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-form ref="creditCardPaymentForm" @submit.prevent="trySave" lazy-validation>
      <v-card flat max-width="1100">
        <v-card-text>
          <credit-card-select
              ref="creditCardAccount"
              v-model="creditCardPayment.pid"
              :disabled="accountSelected"
              @ignoreWarning="doSave"
          />
          <bank-account-select
              ref="bankAccount"
              :current-amount="totalAmount"
              :original-account="originalPayment.did"
              :original-amount="previousAmount"
              v-model="creditCardPayment.did"
              @ignoreWarning="doSave"
          />

          <v-row dense>
            <v-col cols="4">
              <date-picker label="Payment date" v-model="creditCardPayment.date_" :required="true"/>
            </v-col>
            <v-col cols="4">
              <v-text-field v-model="creditCardPayment.amount" label="Amount" type="number" prefix="$" maxLength="30"
                            :rules="[validations.required, validations.positiveAmount]"></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field v-model="creditCardPayment.interest" label="Interest" type="number" prefix="$"
                            maxLength="30" :rules="[validations.positiveAmount]"></v-text-field>
            </v-col>
          </v-row>

          <v-textarea
              v-model="creditCardPayment.memo"
              label="Memo (optional)"
              maxlength=1000
              rows="2"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-spacer/>
          {{ message }}
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import BankAccountSelect from "../accounts/BankAccountSelect";
import CreditCardSelect from "../accounts/CreditCardSelect";
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import ORCA from "@/ORCABridge";
import formValidations from "@/formValidations"
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";

export default {
  name: "EditCreditCardPayment",
  components: {CampaignPage, DatePicker, CreditCardSelect, BankAccountSelect},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {
      creditCardPayment_id: null,
      originalPayment: {},
      showWarningDialog: false,
      balance: 0,
      creditCardPayment: {
        did: null,
        cid: null,
        date_: null,
        amount: null,
        interest: null
      },
      validations: {...formValidations},
      message: "",
    };
  },
  created() {
    this.initPage();
  },
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.490);
    },
    totalAmount() {
      return (this.principalPaid ? this.principalPaid : 0) + (this.interestPaid ? this.interestPaid : 0);
    },
    previousAmount() {
      return parseInt((this.originalPayment.amount ? this.originalPayment.amount : 0)) + parseInt((this.originalPayment.interest ? this.originalPayment.interest : 0))
    },
    accountSelected() {
      return !!this.$route.params.account;
    }
  },
  methods: {
    ...filters.filters,
    initPage() {
      if (this.fund.fund_id) {
        if (this.$route.params.id) {
          this.creditCardPayment_id = this.$route.params.id;
          this.getCreditCardPayment();
        }
        if (this.$route.params.account) {
          this.creditCardPayment.contid = this.$route.params.account;
          this.creditCardPayment.cid = this.$route.params.account;
          this.creditCardPayment.pid = this.$route.params.account;
        }

      }
    },
    async getCreditCardPayment() {
      if (this.fund.fund_id) {
        this.creditCardPayment = await orcaDataService.getFundObject(this.fund.fund_id, 'credit-card-payment', this.creditCardPayment_id);
      }
      this.originalPayment = this.creditCardPayment;
      return this.creditCardPayment;
    },
    trySave() {
      if (this.$refs.creditCardPaymentForm.validate() && this.checkBalance()) {
        this.doSave();
      }
    },
    async doSave() {
      if (this.payment_id) {
        this.creditCardPayment.trankeygen_id = this.creditCardPayment_id;
      }
      const payment = await orcaDataService.postFundObject(this.fund.fund_id, 'credit-card-payment', this.creditCardPayment);
      if (payment) {
        const orcaPayment = JSON.parse(JSON.stringify(payment));
        orcaPayment.pid = payment.pid_orca;
        orcaPayment.did = payment.did_orca;
        orcaPayment.cid = payment.cid_orca;
        ORCA.saveCreditCardPayment(orcaPayment);
        if (this.$route.query.pid || this.$route.params.id) {
          this.$refs.campaignPage.navigateBack();
        } else {
          this.resetPayment();
          this.message = "Credit card payment saved";
          this.$refs.campaignPage.navigateBack();
        }
      }
    },
    resetPayment() {
      this.creditCardPayment.did = null;
      this.creditCardPayment.cid = null;
      this.creditCardPayment.date_ = null;
      this.creditCardPayment.amount = null;
      this.creditCardPayment.interest = null;
      this.creditCardPayment_id = null;
    },
    checkBalance() {
      this.showWarningDialog = this.isNegative(this.$refs.bankAccount.balance, this.creditCardPayment.amount);
      return !this.showWarningDialog;
    },
  }
}
</script>