<template>
  <campaign-page ref="campaignPage" title="Vendor debt forgiveness" @load="initPage">
    <template v-slot:toolbar>

    </template>
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit vendor debt forgiveness from the ORCA version 1.490 or
      greater.
    </v-alert>
    <v-form ref="vendorDebtForgivenForm" @submit.prevent="saveVendorDebtForgiven" lazy-validation>
      <v-card flat max-width="1100">
        <v-card-text>
          <debt-select query="vendor-debts" label="Vendor debt" v-model="pid" :disabled="disablePidChange"
                       :auto-open="!forgiven_id"></debt-select>
          <div>
            Balance: {{ formatMoney(currentBalance) }}
          </div>
          <v-row dense>
            <v-col cols="3">
              <date-picker label="Date" v-model="vendorForgiven.date_" :required="true"/>
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="vendorForgiven.amount" label="Amount" type="number" prefix="$" maxLength="30"
                            :rules="[validations.required, validations.positiveAmount, noOverPayment]"></v-text-field>
            </v-col>
            <v-col cols="3">
              <ElectionSelect
                  v-model="vendorForgiven.elekey"
                  item-text="name"
              ></ElectionSelect>
            </v-col>
          </v-row>
          <v-text-field
              v-model="vendorForgiven.description"
              label="Description"
              maxlength=1000
              :rules="[validations.required]"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-btn tabindex="0" @click="cancel">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>

import CampaignPage from "../CampaignPage";
import ElectionSelect from "@/orca/contributions/ElectionSelect"
import DatePicker from "@/components/DatePicker";
import {useOrcaFund} from "../fund/Fund";
import ORCA from "@/ORCABridge";
import filters from "@/filters";
import formValidations from "@/formValidations";
import {orcaDataService} from "@/OrcaDataService";
import DebtSelect from "./DebtSelect";

export default {
  name: "EditVendorDebtForgiven",
  components: {CampaignPage, DatePicker, DebtSelect, ElectionSelect},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {
      contactSelectType: null,
      originalForgiven: {},
      balance: 0.0,
      vendorForgiven: {
        date_: null,
        amount: null,
        description: null,
        elekey: null
      },
      pid: null,
      forgiven_id: null,
      newForgiveness: false,
      showOverdraftWarning: false,
      validations: {
        ...formValidations
      },
    }
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.490);
    },
    disablePidChange() {
      return (!!this.forgiven_id) || (!!this.pid);
    },
    currentBalance() {
      if (this.forgiven_id > 0) {
        return parseFloat(this.balance) + parseFloat(this.originalForgiven.amount) - parseFloat(this.vendorForgiven.amount);
      } else {
        return parseFloat(this.balance) - parseFloat(this.vendorForgiven.amount);
      }
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      if (this.fund.fund_id) {
        this.forgiven_id = parseInt(this.$route.params?.id ?? 0);
        this.pid = parseInt(this.$route.params?.expenditure_event_id ?? 0);
        this.balance = parseFloat(this.$route.params?.balance ?? 0);
        this.newForgiveness = !this.forgiven_id;
        if (!this.newForgiveness) {
          orcaDataService.getFundObject(this.fund.fund_id, 'transaction', this.forgiven_id).then((forgiven) => {
            this.originalForgiven = forgiven;
            this.vendorForgiven.amount = forgiven.amount;
            this.vendorForgiven.date_ = forgiven.date_;
            this.vendorForgiven.description = forgiven.description;
            this.vendorForgiven.elekey = forgiven.elekey;
          });
        }
      }
      return true;
    },
    trySave() {
      if (this.$refs.vendorDebtForgivenForm.validate() && this.checkOverdraft()) {
        this.saveVendorDebtForgiven();
      }
    },
    async saveVendorDebtForgiven() {
      if (this.$refs.vendorDebtForgivenForm.validate()) {
        const forgiven = {
          pid: this.pid,
          amount: this.vendorForgiven.amount,
          date_: this.vendorForgiven.date_,
          description: this.vendorForgiven.description,
          elekey: this.vendorForgiven.elekey
        }
        if (this.forgiven_id) {
          forgiven.trankeygen_id = this.forgiven_id;
        }
        const savedForgiven = await orcaDataService.postFundObject(this.fund.fund_id, 'vendor-debt-forgiveness', forgiven);
        if (savedForgiven) {
          const orcaForgiven = JSON.parse(JSON.stringify(savedForgiven));
          orcaForgiven.contid = savedForgiven.contid_orca;
          orcaForgiven.cid = savedForgiven.cid_orca;
          orcaForgiven.did = savedForgiven.did_orca;
          orcaForgiven.pid = savedForgiven.pid_orca;
          orcaForgiven.interest_account_id = 0;
          await ORCA.saveReceipt(orcaForgiven);
          this.$refs.campaignPage.navigateBack();
        }
      }
    },
    cancel() {
      this.$refs.campaignPage.navigateBack();
    },
    checkOverdraft() {
      this.showOverdraftWarning = this.currentBalance < 0;
      return !this.showOverdraftWarning;
    },
    noOverPayment() {
      return (this.currentBalance >= 0.0) || 'This payment would cause overpayment of the debt.'
    },
  }
}

</script>
