<template>
  <campaign-page ref="campaignPage" title="Vendor debt payment" @load="setUpPayment">
    <template v-slot:toolbar>
      <add-expenses/>
    </template>
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit vendor debt payments from the ORCA version 1.490 or
      greater.
    </v-alert>
    <v-form ref="vendorDebtPaymentForm" @submit.prevent="trySave" lazy-validation>
      <v-card>
        <v-card-text>
          <debt-select query="vendor-debts" label="Vendor debt" @debt-loaded="setAmount" v-model="pid"
                       :disabled="disablePidChange" :auto-open="!payment_id"></debt-select>
          <div>
            Debt balance: {{ formatMoney(currentBalance) }}
          </div>
          <v-autocomplete
              ref="entry"
              :items=bankAccounts
              v-model="did"
              label="Bank account"
              item-text="name"
              item-value="trankeygen_id"
              :rules="[validations.required]"
          >
          </v-autocomplete>
          <v-row dense>
            <v-col cols="12" sm="3">
              <v-text-field label="Principal paid" type="number" v-model.number="principalPaid"
                            :rules="[validations.required, validations.positiveAmount, noOverPayment]"/>
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field label="Interest paid" type="number" v-model.number="interestPaid"
                            :rules="[validations.positiveAmount]"/>
            </v-col>
            <v-col cols="12" sm="3">
              <date-picker label="Payment date" v-model="date" :required="true"/>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field label="Description" v-model="description" :rules="[validations.required]"/>
            </v-col>
          </v-row>
          <v-textarea
              v-model="memo"
              label="Memo (optional)"
              maxlength=1000
              rows="2"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit">Save</v-btn>
          <v-btn tabindex="0" @click="cancel">Cancel</v-btn>
          <v-spacer/>
          {{ message }}
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import DatePicker from "../../components/DatePicker";
import ORCA from "../../ORCABridge";
import formValidations from "../../formValidations"
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import AddExpenses from "../expenditures/AddExpenses";
import DebtSelect from "./DebtSelect";

export default {
  name: "EditVendorDebtPayment",
  components: {DebtSelect, AddExpenses, DatePicker, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {
    this.setUpPayment();
  },
  data() {
    return {
      originalPayment: {},
      balance: 0,
      payment_id: null,
      pid: null,
      date: null,
      did: null,
      principalPaid: null,
      interestPaid: null,
      memo: null,
      description: "Debt payment",
      selectedBank: {},
      vendorAccount: {},
      validations: {...formValidations},
      message: "",
    };
  },
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.490);
    },
    disablePidChange() {
      return (!!this.payment_id) || (!!this.$route.query.pid)
    },
    totalAmount() {
      return (this.principalPaid ? this.principalPaid : 0) + (this.interestPaid ? this.interestPaid : 0);
    },
    previousAmount() {
      return (this.originalPayment.amount ? this.originalPayment.amount : 0) + (this.originalPayment.interest ? this.originalPayment.interest : 0)
    },
    currentBalance() {
      return this.originalPayment.trankeygen_id ? this.balance + this.originalPayment.amount - this.principalPaid : this.balance - this.principalPaid
    },
    bankAccounts() {
      return this.fund.accounts.filter(a => a.acctnum === 1000 || a.acctnum === 2600)
    }
  },
  methods: {
    ...filters.filters,
    setUpPayment() {
      if (this.fund.fund_id) {
        if (this.$route.params.id) {
          this.payment_id = this.$route.params.id;
          this.loadPayment();
        } else {
          this.payment_id = null;
          this.originalPayment = {};
          this.principalPaid = null;
          this.interestPaid = null;
          if (this.$route.query.pid) {
            this.pid = Number.parseInt(this.$route.query.pid);
          } else {
            this.pid = null;
          }
          if (this.$refs.vendorDebtPaymentForm) {
            this.$refs.vendorDebtPaymentForm.resetValidation();
          }
        }
      }
    },
    trySave() {
      if (this.$refs.vendorDebtPaymentForm.validate() && this.checkOverdraft()) {
        this.savePayment();
      }
    },
    async savePayment() {
      let payment = {
        'fund_id': this.fund.fund_id,
        'pid': this.pid,
        'did': this.did,
        'date_': this.date,
        'amount': this.principalPaid,
        'interest': this.interestPaid,
        'description': this.description,
        'memo': this.memo,
      }
      if (this.payment_id) {
        payment.trankeygen_id = this.payment_id;
      }
      const vendorPayment = await orcaDataService.postFundObject(this.fund.fund_id, 'invoiced-expense-payment', payment);
      if (vendorPayment) {
        // Prepare ORCA transactions
        const orcaPayment = JSON.parse(JSON.stringify(vendorPayment));
        orcaPayment.pid = vendorPayment.pid_orca;
        orcaPayment.did = vendorPayment.did_orca;
        orcaPayment.cid = vendorPayment.cid_orca;
        orcaPayment.contid = vendorPayment.contid_orca;
        orcaPayment.interest_account_id = vendorPayment.interest_account_orca;
        await ORCA.saveReceipt(orcaPayment);
        if (this.$route.query.pid || this.$route.params.id) {
          this.$refs.campaignPage.navigateBack();
        } else {
          this.setUpPayment();
          this.message = "Payment saved";
        }
      }
    },
    loadPayment() {
      if (this.fund.fund_id) {
        orcaDataService.getFundObjectRaw(this.fund.fund_id, 'transaction', this.payment_id).then(result => {
          if (result.success) {
            const payment = result.transaction;
            this.pid = payment.pid;
            this.did = payment.did;
            this.description = payment.description;
            this.date = payment.date_;
            this.principalPaid = payment.amount;
            this.interestPaid = payment.interest;
            this.originalPayment = payment;
            this.memo = payment.memo;
          }
        });
      }
    },
    cancel() {
      this.$refs.campaignPage.navigateBack();
    },
    checkOverdraft() {
      this.showOverdraftWarning = this.accountBalance < 0;
      return !this.showOverdraftWarning;
    },
    noOverPayment() {
      return (this.currentBalance >= 0.0) || 'This payment would cause overpayment of the debt.'
    },
    setAmount(debt) {
      if (debt) {
        this.balance = debt.balance
      }
    }
  }
}
</script>

