<template>
  <div>
    <campaign-page ref="campaignPage" title="In-kind loan" @load="initPage">
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access this page from the ORCA version 1.490 or
        greater.
      </v-alert>
      <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
        <v-icon>error</v-icon>
        Missing accounts for fund. Please contact support.
      </v-alert>
      <template v-slot:toolbar>
        <make-deposit-button/>
        <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.search-debt'}">
          <v-icon>search</v-icon>
          Debt and loan search
        </v-btn>
      </template>
      <v-form ref="loanForm" lazy-validation @submit.prevent="saveLoan()" v-if="fund.fund_id">
        <v-card flat max-width="1100" class="px-4">
          <v-alert type="info" color="primary" outlined dense>
            For goods or services (not cash) provided to the campaign as a loan. Legal limits apply (per election) for
            repaying loans by a candidate to their own campaign.
          </v-alert>

          <v-row>
            <v-col cols="3">
              <contact-select
                ref="contactSelect"
                label="Lender Name"
                class="pt-3"
                autofocus
                :type="contactSelectType"
                :testEmpAddress="true"
                :requireAddres="false"
                :election="loan.elekey"
                :requireAddress="false"
                v-model.number="loan.contid"
              />
            </v-col>
            <v-col cols="3">
              <date-picker
                v-model="loan.date_"
                label="Date Received"
                ref="dateEntry"
                required
                full-width
                :rules="[validations.required]"
                :message="dataMessage"
              />
            </v-col>
            <v-col cols="3">
              <v-text-field
                v-model="loan.amount"
                label="Loan Amount"
                type="number"
                prefix="$"
                maxLength="50"
                :rules="[validations.required]"
              />
            </v-col>
            <v-col cols="3">
              <election-select
                v-model="loan.elekey"
                item-text="name"
                :rules="[validations.required]"
                disabled="false"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <expenditure-account-select v-model="loan.cid" />
            </v-col>
            <v-col cols="6">
              <expenditure-description-text-field v-model="loan.description" :account_id="loan.cid"/>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-text-field
                v-model="loan.interestrate"
                label="Interest Rate"
                type="number"
                suffix="%"
                maxLength="2"
                :rules="[validations.positiveAmount]"
              />
            </v-col>
            <v-col cols="3">
              <date-picker
                v-model="loan.duedate"
                label="Due Date"
                ref="dateEntry"
                :message="dataMessage"
              />
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="loan.repaymentschedule" label="Repayment Schedule" type="text" />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field v-model="loan.memo" label="Memo" type="text"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="5">
              <v-checkbox tabindex="0"
                v-model="loan.carryforward"
                v-bind:false-value=0
                v-bind:true-value=1
                label="Carry-forward from a previous campaign (uncommon)"
              />
            </v-col>
            <v-col cols="7">
              <carry-forward class="pt-4" />
            </v-col>
          </v-row>
          <v-row v-if="loan.carryforward">
            <v-col cols="4">
              <v-text-field
                label="Committee name"
                type="text"
                :rules="[validations.required]"
                v-model="loan.data.committee_name"
              />
            </v-col>
            <v-col cols="2">
              <v-combobox
                label="Election year"
                :items="election_years"
                :rules="[validations.required]"
                v-model="loan.data.election_year"
              />
            </v-col>
            <v-col cols="6">
              <date-picker
                label="Original loan date"
                required
                :message="dataMessage"
                v-model="loan.original_loan_date"
              />
            </v-col>
          </v-row>
          <v-card-actions class="pt-12">
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
  import ORCA from "@/ORCABridge"
  import formValidations from '@/formValidations';
  import CampaignPage from "../CampaignPage";
  import CarryForward from "@/info/CarryForward";
  import ContactSelect from "@/orca/contacts/ContactSelect";
  import DatePicker from "@/components/DatePicker";
  import ElectionSelect from "@/orca/contributions/ElectionSelect.vue"
  import ExpenditureAccountSelect from "../accounts/ExpenditureAccountSelect";
  import ExpenditureDescriptionTextField from "../accounts/ExpenditureDescriptionTextField";
  import MakeDepositButton from "../deposits/MakeDepositButton";
  import {useLoan} from "@/orca/debt/loans"
  import {useOrcaFund} from "@/orca/fund/Fund";
  import filters from "@/filters";

  export default {
    name: "EditInKindLoan",
    components: {
      CampaignPage,
      CarryForward,
      ContactSelect,
      DatePicker,
      ElectionSelect,
      ExpenditureAccountSelect,
      ExpenditureDescriptionTextField,
      MakeDepositButton,
    },
    data() {
      return {
        message: "",
        loan_id: null,
        newLoan: true,
        validations: {
          ...formValidations
        },
      }
    },
    setup() {
      const {fund, orcaFund} = useOrcaFund();
      const {loan, loansActions} = useLoan();
      return {fund, orcaFund, loan, loansActions}
    },
    created() {
      this.initPage();
    },
    watch: {
      $route() {
        this.initPage();
      }
    },
    computed: {
      election_years() {
        const election_year = parseInt(this.fund.election_code)
        const years = []
        for (let i = election_year - 20; i <= election_year; i++) {
          years.push(i.toString())
        }
        return years
      },
      disableEdit() {
        return (ORCA.version < 1.490)
      },
      contactSelectType() {
        if (ORCA.version < 1.480) {
          return '!CAN'
        } else {
          return null
        }
      },
      dataMessage() {
        return this.loan.deposit_date ? 'the deposit date, ' : '';
      }
    },
    methods: {
      ...filters.filters,
      async initPage() {
        if (this.fund.fund_id) {
          this.loan_id = parseInt(this.$route.params?.id ?? 0);
          this.newLoan = this.loan_id === 0;
          if (!this.newLoan) {
            await this.loansActions.loadLoan(this.loan_id);
          }
        }
      },
      onContactSelect() {
        setTimeout(() => this.$refs.dateEntry.focus(), 200);
      },
      async saveLoan() {
        if (this.$refs.loanForm.validate()) {
          let success;
          success = await this.loansActions.saveInKindLoan();
          this.message = "Saved loan";

          if (success) {
            this.$router.replace({
              name: 'ORCA.fund.loan',
              params: {fund: this.fund.fund_id, id: this.loan.trankeygen_id}
            });
          }
        }
        else {
          this.message = "Please ensure all required fields are complete.";
        }
      }
    }
  }
</script>
