<template>
  <campaign-page ref="campaignPage" :title="pageTitle" @load="loadInfo()">
    <template v-slot:toolbar>
      <v-btn tabindex="0" color="error" small v-if="allowEdit" @click="showDeleteDialog=true">
        <v-icon>delete</v-icon>
        Delete
      </v-btn>
    </template>
    <v-row>
      <v-col cols="12" sm="6" lg="4">
        <span class="title">
          {{ loan.name }}
          <accessible-button v-if="allowEdit" icon @click="editLoan(loan.trankeygen_id)" button-tooltip="Edit loan"><v-icon>edit</v-icon></accessible-button>
        </span>
        <p v-if="loan_address_exists">
          {{ loan.street }}
          <br/>
          {{ loan_city_state_zip }}
        </p>
        <div v-if="isInKind">
          <p><strong>{{ orcaFund.accountName(loan.cid) }}:</strong>{{ loan.description }}</p>
        </div>
        <p>
          <strong>Amount:</strong> {{ formatMoney(loan.amount) }}<br/>
          <strong>Balance:</strong> {{ formatMoney(loan.balance) }}<br/>
          <strong>Received:</strong> {{ formatDate(loan.date_) }}<br/>
        </p>

        <span v-if="loan.carryforward === 1">
          <strong>Carry-forward</strong><br/>
          <strong>Committee name:</strong> {{ loan.data.committee_name }}<br/>
          <strong>Election year:</strong> {{ loan.data.election_year }}<br/>
          <strong>Original loan date:</strong> {{ formatDate(loan.original_loan_date) }}<br/>
        </span>

        <span v-if="loan.deposit_date">
          <strong>Deposited: </strong><deposit-link :receipt="loan"/><br/>
        </span>

        <br />
      </v-col>
      <v-col cols="12" sm="6" lg="4">
        <span class="title">Guarantors</span>
        <accessible-button
            icon
            v-if="allowEdit"
            :to="{name: 'ORCA.fund.add-loan-endorser', params: {loan_id: loan.trankeygen_id}}"
            button-tooltip="Add guarantor" >
          <v-icon>add</v-icon>
        </accessible-button>
        <v-list two-line v-if="endorsers && endorsers.length" max-width="400">
          <v-list-item v-for="(item,index) in endorsers" :key="index">
            <v-list-item-content>
              <v-list-item-title>
                <router-link :to="{name:'orca.fund.contact', params: {contact_id: item.contid}}">
                  {{ item.name }}
                </router-link>
              </v-list-item-title>
              <v-list-item-subtitle>
                {{ formatMoney(item.amount) }}
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action v-if="allowEdit">
              <accessible-button
                  icon
                  :to="{name: 'ORCA.fund.edit-loan-endorser', params: {fund_id: fund.fund_id, loan_id: loan.trankeygen_id, id: item.trankeygen_id} }"
                  button-tooltip="Edit guarantor">
                <v-icon>edit</v-icon>
              </accessible-button>
              <accessible-button icon @click="tryDelete(item)" button-tooltip="Delete guarantor">
                <v-icon>delete</v-icon>
              </accessible-button>
            </v-list-item-action>
          </v-list-item>
        </v-list>
        <p v-else>
          Loan payment is guaranteed by the committee. Add guarantors if other people or organizations are co-signing or
          otherwise
          guaranteeing payment of the loan.
        </p>
      </v-col>
    </v-row>

    <div>
      <span class="title">Payments</span>
      <accessible-button v-if="allowEdit" icon @click="openLoanPayment" button-tooltip="Add payment">
        <v-icon>add</v-icon>
      </accessible-button>
      <v-data-table
          :items="payments"
          :single-expand="true"
          item-key="trankeygen_id"
          :headers="pheaders"
          :footer-props="{'items-per-page-options':[-1]}"
      >
        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-slot:item.amount="{item}">
          {{ formatMoney(item.amount) }}
        </template>
        <template v-slot:item.interest="{item}">
          {{ formatMoney(item.interest) }}
        </template>
        <template v-slot:item.actions="{item}">
          <accessible-button
              v-if="allowEdit"
              :to="{name: 'ORCA.fund.loan-payment', params: {fund_id: fund.fund_id, id: item.trankeygen_id} }"
              button-tooltip="Edit payment">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button v-if="allowEdit" @click="tryDelete(item)" button-tooltip="Delete payment">
            <v-icon>delete</v-icon>
          </accessible-button>
        </template>
      </v-data-table>
    </div>

    <div>
      <span class="title">Forgiveness</span>
      <accessible-button
          icon
          :to="{name: 'ORCA.fund.add-loan-forgiveness', params: {loan_id: loan.trankeygen_id}}"
          v-if="allowEdit"
          button-tooltip="Add forgiveness">
        <v-icon>add</v-icon>
      </accessible-button>
      <v-data-table
          :items="forgiveness"
          :single-expand="true"
          item-key="trankeygen_id"
          :headers="fheaders"
          :footer-props="{'items-per-page-options':[-1]}"
      >
        <template v-slot:item.amount="{item}">
          {{ formatMoney(item.amount) }}
        </template>
        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-slot:item.actions="{item}" v-if="allowEdit">
          <accessible-button
              :to="{name: 'ORCA.fund.edit-loan-forgiveness', params: {id: item.trankeygen_id, loan_id: loan.trankeygen_id, fund_id: fund.fund_id}}"
              button-tooltip="Edit forgiveness">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button @click="tryDelete(item)" button-tooltip="Delete forgiveness">
            <v-icon>delete</v-icon>
          </accessible-button>
        </template>
      </v-data-table>
    </div>
    <v-dialog v-model="showDeleteTransaction">
      <v-card>
        <v-card-title>Delete {{ transaction.transaction_type.toLowerCase() }}</v-card-title>
        <v-card-text>
          <p>Are you sure you want to delete the {{ transaction.transaction_type.toLowerCase() }} of
            {{ formatMoney(transaction.amount) }} on {{ formatDate(transaction.date_) }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDeleteTransaction">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteTransaction=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete loan?</v-card-title>
        <v-card-text>
          <v-alert v-if="disableDelete" type="error">You cannot delete a loan after it has been deposited.</v-alert>
          <p v-else>Are you sure you want to delete the loan of {{ formatMoney(loan.amount) }} on
            {{ formatDate(loan.date_) }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDelete" :disabled="disableDelete">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </campaign-page>
</template>

<script>
import ORCA from "@/ORCABridge";
import CampaignPage from "@/orca/CampaignPage";
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "../fund/Fund";
import filters from "@/filters";
import DepositLink from "../deposits/DepositLink";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "LoanView",
  components: {AccessibleButton, DepositLink, CampaignPage},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      showDeleteTransaction: false,
      loan: {},
      endorsers: [],
      payments: [],
      forgiveness: [],
      transaction: {type: null, transaction_type: ""},
      fheaders: [
        {text: "Date", value: "date_"},
        {text: "Memo (optional)", value: "memo"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "", value: "actions"}
      ],
      pheaders: [
        {text: "Date", value: "date_"},
        {text: "Principal", value: "amount", align: "end"},
        {text: "Interest", value: "interest", align: "end"},
        {text: "", value: "actions"}
      ],
      eheaders: [
        {text: "Name", value: "name"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "", value: "actions"}
      ],
      showDeleteDialog: false,
      allowDelete: false,
    }
  },
  methods: {
    ...filters.filters,
    editLoan(trankeygen_id) {
      if (this.isInKind) {
        this.$router.push({
          name: "ORCA.fund.in-kind-loan",
          params: {id: trankeygen_id, fund_id: this.$route.params.fund_id}
        });
      } else {
        this.$router.push({
          name: "ORCA.fund.cash-loan",
          params: {id: trankeygen_id, fund_id: this.$route.params.fund_id}
        });
      }
    },
    loadInfo() {
      const trankeygen_id = this.$route.params.id
      orcaDataService.getFundData(this.$route.params.fund_id, 'loan-details/' + trankeygen_id)
          .then(result => {
            if (result.success) {
              this.loan = result.loan;
              this.payments = result.payments ?? [];
              this.endorsers = result.endorsers ?? [];
              this.forgiveness = result.forgiveness ?? [];
            }
          });
    },
    openLoanPayment() {
      this.$router.push({
        name: "ORCA.fund.add-loan-payment",
        params: {fund_id: this.fund.fund_id},
        query: {pid: this.loan.trankeygen_id}
      });
    },
    tryDelete(item) {
      orcaDataService.getFundObject(this.fund.fund_id, 'transaction', item.trankeygen_id).then(tran => {
        if (tran) {
          this.transaction = tran;
          this.showDeleteTransaction = true
        } else {
          alert('Could not find transaction to delete!');
        }
      })
    },
    doDeleteTransaction() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'transaction', this.transaction.trankeygen_id).then(result => {
        if (result.success) {
          ORCA.deleteReceipt(this.transaction);
          this.showDeleteTransaction = false;
          this.loadInfo();
        }
      })
    },
    doDelete() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'loan', this.loan.trankeygen_id).then(result => {
        if (result.success) {
          const orcaLoan = JSON.parse(JSON.stringify(this.loan));
          orcaLoan.rds_id = orcaLoan.trankeygen_id;
          ORCA.deleteLoan(orcaLoan);
          this.$refs.campaignPage.navigateBack();
        }
      });
    }
  },
  computed: {
    isInKind() {
      return (this.loan.did_acctnum === 2200);
    },
    pageTitle() {
      return (this.isInKind ? 'In-kind loan' : 'Cash loan')
    },
    allowEdit() {
      return (ORCA.version >= 1.490) || (ORCA.version >= 1.480 && !this.isInKind);
    },
    disableDelete() {
      return !!this.loan.deposit_date;
    },
    loan_address_exists() {
      return (
        this.loan.city !== null &&
        this.loan.state !== null &&
        this.loan.zip !== null &&
        this.loan.street !== null
      )
    },
    loan_city_state_zip() {
      return this.loan.city + ', ' + this.loan.state + ' ' + this.loan.zip
    }
  },
  created() {
    this.loadInfo();
  },
  watch: {
    '$route.params.id': function () {
      this.loadInfo()
    }
  }
}
</script>
