<template>
  <campaign-page ref="campaignPage" title="Vendor debt">
    <template v-slot:toolbar>
      <v-btn tabindex="0" color="error" small v-if="allowEdit" @click="showDeleteDebtDialog=true">
        <v-icon>delete</v-icon>
        Delete
      </v-btn>
    </template>
    <v-card flat v-if="expenditure_event.trankeygen_id">
      <v-card-title>
        <span v-if="vendor.name">{{ vendor.name }}</span>
        <accessible-button
            icon
            :to="{name: 'ORCA.fund.edit-invoiced-expense', params: {id: expenditure_event.trankeygen_id, fund_id: fund.fund_id}}"
            button-tooltip="Edit debt">
          <v-icon>edit</v-icon>
        </accessible-button>
      </v-card-title>
      <v-card-text>

        <div v-if="vendor_address_exists">
          {{ vendor.street }}<br/>
          {{ vendor.city }}, {{ vendor.state }} {{ vendor.zip }}
        </div>
        <div class="subtitle-1"><span v-if="vendor.description">{{ vendor.description }}</span> <span
            v-if="vendor.memo">{{ `- ` + vendor.memo }}</span></div>
        <div>Amount: {{ formatMoney(expenditure_event.amount) }}</div>
        <div>Balance: {{ formatMoney(vendor.balance) }}</div>
        <div>Date: {{ formatDate(expenditure_event.date_) }}</div>

        <div><strong>Expenses:</strong>
          <v-simple-table style="max-width: 60em;" dense>
            <thead>
            </thead>
            <tbody>
            <tr v-for="expense in expenses" :key="expense.cid">
              <td>{{ expense.name }}</td>
              <td>{{ expense.description }}</td>
              <td>{{ formatMoney(expense.amount) }}</td>
            </tr>
            </tbody>
          </v-simple-table>
        </div>
      </v-card-text>
    </v-card>

    <div>
        <span class="title">Payments
      </span>
      <accessible-button
          :to="{name: 'ORCA.fund.add-vendor-debt-payment', params: {fund_id: this.fund.fund_id}, query: {pid: this.expenditure_event.trankeygen_id}}"
          v-if="allowEdit"
          icon
          button-tooltip="Add payment">
        <v-icon>add</v-icon>
      </accessible-button>

      <v-data-table
          :items="payments"
          :single-expand="true"
          item-key="trankeygen_id"
          :headers="[
        {text: 'Date', value: 'date_'},
        {text: 'Amount', value: 'amount', align: 'end'},
        {text: 'Interest', value: 'interest', align: 'end'},
        {text: '', value: 'actions'}
      ]"
          :footer-props="{'items-per-page-options': [25, 50, 100, -1]}"
      >

        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-slot:item.amount="{item}">
          {{ formatMoney(item.amount) }}
        </template>
        <template v-slot:item.interest="{item}">
          {{ formatMoney(item.interest) }}
        </template>
        <template v-slot:item.actions="{item}">
          <accessible-button
              :to="{name: 'ORCA.fund.vendor-debt-payment', params: {fund_id: fund.fund_id, id: item.trankeygen_id} }"
              button-tooltip="Edit payment">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button icon @click="tryDelete(item)" button-tooltip="Delete payment">
            <v-icon>delete</v-icon>
          </accessible-button>
        </template>
      </v-data-table>
    </div>

    <div>
      <span class="title">
        Forgiven
      </span>
      <accessible-button
          :to="{name: 'ORCA.fund.add-vendor-debt-forgiveness', params: {expenditure_event_id: expenditure_event.trankeygen_id, balance: vendor.balance}}"
          v-if="allowEdit"
          button-tooltip="Add forgiveness"
          icon>
        <v-icon>add</v-icon>
      </accessible-button>
      <v-card-text>
        <v-data-table
            :items="forgiven"
            :single-expand="true"
            item-key="trankeygen_id"
            :headers="[
          {text: 'Date', value: 'date_'},
          {text: 'Description', value: 'description'},
          {text: 'Amount', value: 'amount', align: 'end'},
          {text: '', value: 'actions'}
        ]"
            :footer-props="{'items-per-page-options': [25, 50, 100, -1]}"
        >

          <template v-slot:item.date_="{item}">
            {{ formatDate(item.date_) }}
          </template>
          <template v-slot:item.description="{item}">
            {{ item.description }}
          </template>
          <template v-slot:item.amount="{item}">
            {{ formatMoney(item.amount) }}
          </template>
          <template v-slot:item.actions="{item}">
            <accessible-button
                button-tooltip="Edit forgiveness"
                :to="{name: 'ORCA.fund.edit-vendor-debt-forgiveness', params: {fund_id: fund.fund_id, expenditure_event_id: expenditure_event.trankeygen_id, id: item.trankeygen_id} }">
              <v-icon>edit</v-icon>
            </accessible-button>
            <accessible-button icon @click="tryDelete(item)" button-tooltip="Delete forgiveness">
              <v-icon>delete</v-icon>
            </accessible-button>
          </template>
        </v-data-table>
      </v-card-text>
    </div>

    <div>
     <span class="title">
        Adjustment
      </span>
      <accessible-button
          button-tooltip="Add adjustment"
          :to="{name: 'ORCA.fund.add-invoiced-expense-adjustment', params: {fund: fund.fund_id, expense_event_id: expenditure_event.trankeygen_id}}"
          v-if="allowEdit" icon>
        <v-icon>add</v-icon>
      </accessible-button>
      <v-data-table
          :items="adjustments"
          :single-expand="true"
          item-key="trankeygen_id"
          :headers="[
        {text: 'Date', value: 'date_'},
        {text: 'Vendor', value: 'name'},
        {text: 'Amount', value: 'amount', align: 'end'},
        {text: 'Memo (optional)', value: 'memo'},
        {text: '', value: 'actions'},
      ]"
          :footer-props="{'items-per-page-options': [25, 50, 100, -1]}"
      >
        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-slot:item.amount="{item}">
          {{ formatMoney(item.amount) }}
        </template>
        <template v-slot:item.actions="{item}">
          <accessible-button
              button-tooltip="Edit adjustment"
              :to="{name: 'ORCA.fund.edit-invoiced-expense-adjustment', params: {fund_id: fund.fund_id, expense_event_id: expenditure_event.trankeygen_id, adjustment_id: item.trankeygen_id} }">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button icon @click="tryDelete(item)" button-tooltip="Delete adjustment">
            <v-icon>delete</v-icon>
          </accessible-button>
        </template>
      </v-data-table>
    </div>

    <v-dialog v-model="showDeleteTransaction">
      <v-card>
        <v-card-title>Delete {{ transaction.transaction_type.toLowerCase() }}</v-card-title>
        <v-card-text>
          <p>Are you sure you want to delete the {{ transaction.transaction_type.toLowerCase() }} of
            {{ formatMoney(transaction.amount) }} on {{ formatDate(transaction.date_) }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDeleteTransaction">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteTransaction=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showDeleteDebtDialog">
      <v-card>
        <v-card-title>Delete Debt?</v-card-title>
        <v-card-text>
          <v-alert v-if="disableDelete" type="error">You cannot delete a debt that has payments, forgiveness, or
            adjustments on it.
          </v-alert>
          <p v-else>Are you sure you want to delete the debt of {{ formatMoney(expenditure_event.amount) }} on
            {{ formatDate(expenditure_event.date_) }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDelete" :disabled="disableDelete">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteDebtDialog=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </campaign-page>
</template>

<script>
import ORCA from "@/ORCABridge";
import CampaignPage from "@/orca/CampaignPage";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import {useOrcaFund} from "../fund/Fund";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "VendorDebtView",
  components: {AccessibleButton, CampaignPage},
  data() {
    return {
      showDeleteTransaction: false,
      allowDelete: false,
      transaction: {type: null, transaction_type: ""},
      vendor: {},
      payments: [],
      forgiven: [],
      adjustments: [],
      expenditure_event: {},
      expenses: [],
      showDeleteDebtDialog: false
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  methods: {
    ...filters.filters,
    getVendorDetails() {
      const trankeygen_id = this.$route.params.id
      orcaDataService.getFundData(this.$route.params.fund_id, 'vendor-debt-details/' + trankeygen_id)
          .then(result => {
            if (result.success) {
              this.vendor = result.vendor ?? {};
              this.payments = result.payments ?? [];
              this.forgiven = result.forgiven ?? [];
              this.adjustments = result.adjustment ?? [];
              this.expenditure_event = result.expenditure_event ?? {};
              this.expenses = result.expenses ?? [];
            }
          });
    },
    openPayment() {
      this.$router.push({
        name: "ORCA.fund.add-vendor-debt-payment",
        params: {fund_id: this.fund.fund_id},
        query: {pid: this.expenditure_event.trankeygen_id}
      });
    },
    tryDelete(item) {
      orcaDataService.getFundObject(this.fund.fund_id, 'transaction', item.trankeygen_id).then(tran => {
        if (tran) {
          this.transaction = tran;
          this.showDeleteTransaction = true
        } else {
          alert('Could not find transaction to delete!');
        }
      })
    },
    doDeleteTransaction() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'transaction', this.transaction.trankeygen_id).then(result => {
        if (result.success) {
          ORCA.deleteReceipt(this.transaction);
          this.showDeleteTransaction = false;
          this.getVendorDetails();
        }
      })
    },
    async doDelete() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'expenditure', this.expenditure_event.trankeygen_id).then(async result => {
        if (result.success) {
          const orcaDebt = JSON.parse(JSON.stringify(this.expenditure_event));
          orcaDebt.bnkid = orcaDebt.bnkid_orca;
          await ORCA.deleteExpenditure(orcaDebt);
          this.$refs.campaignPage.navigateBack();
        }
      });
    }
  },
  computed: {
    version() {
      return ORCA.version;
    },
    allowEdit() {
      return ORCA.version >= 1.490
    },
    disableDelete() {
      return this.payments.length > 0 || this.forgiven.length > 0 || this.adjustments.length > 0;
    },
    vendor_address_exists() {
      return (
        this.vendor.street !== null &&
        this.vendor.city !== null &&
        this.vendor.state !== null &&
        this.vendor.zip !== null
      )
    }
  },
  created() {
    this.getVendorDetails();
  },
  watch: {
    '$route.params.contid': function () {
      this.getVendorDetails();
    }
  }
}
</script>