<template>
  <div>
    <v-alert :type="success ? 'info': 'error'" text v-if="success_text !== '' " @click="() => success_text = '' ">
      {{ success_text }}
    </v-alert>
    <v-alert color="error" text v-if="error_text !== '' " @click="() => error_text = '' ">
      {{ error_text }}
    </v-alert>
    <v-card class="ma-2">
      <v-card-title>
        Archive
      </v-card-title>
      <v-card-text>
        <div v-if="!archived_file">Requesting a downloadable archive of your campaign is optional as your data is now stored securely in the cloud.</div>
        <v-container v-else fluid>
           <v-row>
             <v-col cols="3">
               <v-btn tabindex="0" :href="getArchiveUrl()" style="text-decoration: none"><v-icon>download</v-icon>Download</v-btn>
             </v-col>
             <v-col cols="7">
               This downloadable campaign archive file will be available until
               {{ formatDate(archived_file.archive_expiration) }}. Should you choose to create another archive, it will
               replace this one rather than creating an additional download.
             </v-col>
             <v-col cols="2"></v-col>
           </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="pb-4">
        <v-btn tabindex="0" color="primary" @click="backup_dialog_is_open = true">Create archive file</v-btn>
      </v-card-actions>
    </v-card>
    <v-card class="ma-2">
      <v-card-title>
        Restore Archive file
      </v-card-title>
      <v-card-subtitle>
        You can restore campaign to a previously saved archive copy. Once you request a restore, your campaign will be unavailable until the restore is complete.
      </v-card-subtitle>
      <v-card-actions class="pb-4">
        <v-btn tabindex="0" color="primary" @click="restore_dialog_is_open = true">Restore archive file</v-btn>
      </v-card-actions>
    </v-card>

    <v-dialog v-model="backup_dialog_is_open" width="700">
      <v-card>
        <v-card-title class="text-h5 grey lighten-2 mb-6">
          Create archive
        </v-card-title>
        <v-card-text class="larger-text">
          Once begun, this process will take up to 15 minutes to complete. Once done, a link to a download page will be sent to your {{user.email}} email address.
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn tabindex="0" color="primary" @click="archive">
            Begin
          </v-btn>
          <v-btn tabindex="0" text @click="backup_dialog_is_open = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="restore_dialog_is_open" width="700">
      <v-card>
        <v-card-title class="text-h5 grey lighten-2 mb-6">
          Restore from archive
        </v-card-title>
        <v-card-text class="larger-text">
          Attach your archive file below and restore results will be sent to your email: {{user.email}}
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-file-input label="Archive File" v-model="backup_file" @change="restoreFileAttached"></v-file-input>
        </v-card-actions>
        <v-card-actions>
          <v-spacer />
          <v-btn tabindex="0" color="primary" :disabled="restore_dialog_is_disabled" @click="restoreArchive">
            Submit
          </v-btn>
          <v-btn tabindex="0" text @click="restore_dialog_is_open = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import {useOrcaFund} from "@/orca/fund/Fund";
  import {orcaDataService} from "@/OrcaDataService";
  import filters from "@/filters"

  export default {
    name: "Archive",

    data() {
      return {
        backup_dialog_is_open: false,
        restore_dialog_is_open: false,
        restore_dialog_is_disabled: true,
        archived_file: {},
        success_text: '',
        success: true,
        error_text: '',
        backup_file: null,
        backup_file_service_url: ''
      }
    },
    computed: {
      ...mapState(['user']),
    },
    setup() {
      const { fund } = useOrcaFund();
      return { fund }
    },
    created() {
      orcaDataService.getFundData(this.fund.fund_id, 'get-archive-backups', {
        'fund_id': this.fund.fund_id
      }).then(
          (data) => {
            this.archived_file = data['get-archive-backups'][0]
          }
          );
    },
    methods: {
      ...filters.filters,
      async archive() {
        // archive function here
        try {
          const result = await orcaDataService.requestBackup(this.fund.fund_id, this.user.email);

          this.success_text = result.message;
          this.success = result.success;
        } catch (e) {
          console.log(e)
        }
        this.backup_dialog_is_open = false;
      },
      getArchiveUrl() {
        return orcaDataService.service_host + 'download-fund-archive/' + this.fund.fund_id
      },
      async restoreArchive() {
        try {
          let result = await orcaDataService.postFundObject(
            this.fund.fund_id,
            'restore-campaign',
            {
              committee_id: this.fund.committee_id,
              file_name: this.backup_file.name,
              content_type: this.backup_file.content_type
            }, true);

          let upload_request_data = result.data;
          let policy = upload_request_data.formElements.formInputs;
          let url = upload_request_data.formElements.formAttributes.action;
          let file = this.backup_file;
          var formData = new FormData();

          formData.append('key', policy.key);
          formData.append('acl', policy.acl);
          formData.append('x-amz-credential', policy['X-Amz-Credential']);
          formData.append('x-amz-algorithm', policy['X-Amz-Algorithm']);
          formData.append('x-amz-date', policy['X-Amz-Date']);
          formData.append('policy', policy.Policy);
          formData.append('x-amz-signature', policy['X-Amz-Signature']);
          formData.append('content-type', policy['content-type']);
          formData.append('file', file);

          result = await orcaDataService.archiveRestoreUpload(url, formData);

          if(result){
            this.$router.replace({name: 'committees'});
          }else{
            this.success_text = 'Something went wrong with restoring archive_file';
          }

          this.resetUploadDialog();
        }
        catch (error) {
          this.error_text = 'Error: ' + error
          this.resetUploadDialog();
        }

        this.backup_file = null;
        this.backup_file_service_url = null;
        this.restore_dialog_is_open = false;
      },
      restoreFileAttached(file) {
        this.backup_file = file
        this.restore_dialog_is_disabled = (file === null)
      },

      resetUploadDialog(){
        this.backup_file = null
        this.backup_file_service_url = null
      }
    }
  }
</script>
<style>
 .larger-text {
   font-size: 1.2em;
 }
</style>
