<template>
  <v-app id="campaign-finance">
    <v-navigation-drawer
        class="d-print-none"
        v-model="drawer"
        app
        v-if="!orcaEmbedded"
    >
      <v-list dense>
        <v-list-item v-for="item in filteredItems" :key="item.title" @click="clickItem(item)">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>


    <v-app-bar
        app
        color="primary"
        dark
        class="d-print-none"
    >
      <v-app-bar-nav-icon v-if="!orcaEmbedded" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="hidden-print-only">Campaign Finance</v-toolbar-title>
      <v-spacer/>
      <orca-version v-if="isInOrca"/>
      <div class="pdc-logo-div">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="pdc-logo-source">
          <defs>
            <g id="pdc-logo-path">
              <path d="M129.6,49.8L129.6,49.8L129.6,49.8L129.6,49.8c-0.1,0-0.2,0-0.4,0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4,3.4-7.9,7.6-7.9
                    c4.2,0,7.6,3.5,7.6,7.9c0,1.8-0.6,3.4-1.5,4.7h19.3c0.3-1.6,0.4-3.2,0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4,0-19.4,6.7-23.4,16.3
                    V0.6H86.7v43.5l0,0c0,4-3.5,7.3-7.8,7.3c-4.3,0-7.8-3.3-7.8-7.3c0-4,3.5-7.3,7.8-7.3c1.7,0,3.3,0.6,4.6,1.4V18.3
                    c-1.5-0.2-3-0.4-4.6-0.4c-11.4,0-21.3,6.6-25.4,15.9c-3.7-10.2-14-17.6-26.1-17.6c-15,0-27.1,11.2-27.5,25.2l0,0v0.6v43.3h19.5V42.1
                    c0-4.1,3.6-7.5,8-7.5s8,3.4,8,7.5c0,4.1-3.6,7.5-8,7.5c-1.8,0-3.5-0.6-4.8-1.5v19.4c1.6,0.3,3.2,0.4,4.8,0.4
                    c11.4,0,21.3-6.6,25.4-15.9c3.7,10.2,14,17.6,26.1,17.6c12.6,0,23.3-8.1,26.5-19c3.3,10.8,12.7,18.7,23.8,18.9v0.1H173V49.9h-43.4
                    V49.8z"/>
            </g>
          </defs>
        </svg>
        <svg viewBox="0 0 173 86" id="pdc-logo-container">
          <use xlink:href="#pdc-logo-path"></use>
        </svg>
      </div>
    </v-app-bar>
    <v-main>
      <card-navigation v-if="currentRoute.name==='tasks'" :items="menuItems"/>
      <v-container fluid>
        <v-breadcrumbs v-if="showBreadcrumbs" :items="currentBreadcrumbs">
          <template v-slot:item="{item}">
            <v-breadcrumbs-item :href="item.href" :to="item.to">
              <v-icon v-if="item.icon">{{item.icon}}</v-icon><template v-if="item.title">{{item.title}}</template>
            </v-breadcrumbs-item>
          </template>
        </v-breadcrumbs>
        <router-view/>
        <orca-vue-controller v-if="isInOrca"/>
      </v-container>
      <v-dialog persistent v-model="servicesPending" width="300" class="data-loading-dialog">
        <v-card>
          <v-card-text>
            {{ progressMessage }}
            <v-progress-linear
                indeterminate
                color="primary"
                class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-main>
    <v-footer color="primary" app inset class="hidden-print-only">
      <span class="white--text">&copy; 2019 Washington Public Disclosure Commission</span>
    </v-footer>
  </v-app>
</template>
<script>
import {app} from "./main";
import {mapActions, mapState} from 'vuex';
import CardNavigation from "./components/CardNavigation";
import ORCA from "@/./ORCABridge";
import OrcaVersion from "@/orca/OrcaVersion";
import OrcaVueController from "@/orca/OrcaVueController";

export default {
  components: {OrcaVueController, OrcaVersion, CardNavigation},
  data() {
    return {
      drawer: false,
      // Items that should appear in the top menu.
      menuItems: [
        {
          icon: 'home',
          title: 'My PDC',
          href: '/',
        },
        {
          icon: 'info',
          title: 'PDC web site',
          href: 'https://www.pdc.wa.gov'
        },
        {
          icon: 'group_work',
          title: 'My Candidates and Committees',
          href: "/campaigns/committees",
        },
        {
          icon: 'search',
          title: 'Committee Search',
          link: '/committee-search',
        },
        {
          icon: 'settings',
          title: 'Administration',
          href: '/my-pdc/staff',
          access: 'access_wapdc_data',
        },
        {
          icon: 'power_settings_new',
          title: 'Logout',
          href: '/user/logout',
        },
      ],
      breadcrumbs: [
          {icon: 'home', href: '/', exact: false},
        {title: 'Committees' , to:'/committees'}
      ],
      localBreadcrumbs: [],
      servicesPending: false,
      orcaServicePending: false,
      dataServicePending: false,
      socrataServicePending: false,
      seecServicePending: false,
      showBreadcrumbs: true,
      progressMessage: "Please wait...",
    };
  },
  watch: {
    $route(to) {
      this.showBreadcrumbs = !to.path.includes('/ORCA/')
    }
  },
  computed: {
    ...mapState(['user']),
    orcaVersion() {
      return ORCA.orcaEmbedded ? "ORCA" + Number(ORCA.version) : null;
    },
    orcaEmbedded() {
      return ORCA.orcaEmbedded;
    },
    currentRoute() {
      return this.$route;
    },
    filteredItems() {
      return this.menuItems.filter((r) => {
        return this.hasAccess(r);
      });
    },
    currentBreadcrumbs() {
      return [...this.breadcrumbs ,...this.localBreadcrumbs]
    },
    isInOrca() {
      return this.$route.name ? this.$route.name.toLowerCase().startsWith('orca') : false
    }
  },
  methods: {
    ...mapActions(['getUserInfo']),
    setServicePending() {
      this.servicesPending = this.dataServicePending || this.orcaServicePending || this.socrataServicePending || this.seecServicePending;
      if (!this.servicesPending) {
        this.progressMessage = "Please wait..."
      }
    },
    clickItem(item) {
      if (item.href) {
        window.location = item.href;
      } else if (item.link) {
        this.$router.push(item.link);
      }
    },
    hasAccess(menuItem) {
      let access = null;
      if (menuItem.hasOwnProperty('access')) {
        let right = menuItem.access;
        if (this.user && this.user.rights) {

          access = this.user.rights.hasOwnProperty(right) && this.user.rights[right];
        } else {
          access = false;
        }
      } else {
        access = true;
      }
      return access;
    },
    authenticate() {
      app.$container.dataService.getPassive('public/service/campaign-finance/auth-check', result => {
        if (result.hasOwnProperty('authenticated') && result['authenticated']) {
          this.user.email = result.email;
          this.user.rights = result.permissions;
          this.authenticated = true;
          this.appLoaded = true;
          if (this.reAuthenticate) {
            window.location.reload();
          }
        } else {
          this.loginStatus = 'unauthenticated';
          window.setTimeout(this.authenticate, 5000);
        }
        this.dataLoaded = true;
      });
    },
    modifyLocalBreadcrumbs(breadcrumbs) {
      this.localBreadcrumbs.splice(0);
      this.localBreadcrumbs.push(...breadcrumbs)

    }
  },
  created() {
    app.$container.wire.$on('DataService.pending', (pending, message) => {
      this.dataServicePending = pending;
      if (pending && message) {
        this.progressMessage = message ? message : "Please wait...";
      }
      this.setServicePending();
    });
    app.$container.wire.$on('OrcaService.pending', (pending, message) => {
      this.orcaServicePending = pending;
      if (pending && message) {
        this.progressMessage = message ? message : "Please wait...";
      }
      this.setServicePending();
    });
    app.$container.wire.$on('SeecService.pending', (pending, message) => {
      this.seecServicePending = pending;
      if (pending && message) {
        this.progressMessage = message ? message : "Please wait...";
      }
      this.setServicePending();
    });
    app.$container.wire.$on('SocrataService.pending', pending => {
      this.socrataServicePending = pending;
      this.setServicePending();
    });
    app.$container.wire.$on('authenticate', this.re_authenticate);
    app.$container.wire.$on('breadcrumbs', this.modifyLocalBreadcrumbs);
  },
  mounted() {
    this.getUserInfo()
    this.authenticate();
  },
  props: {
    source: String
  }
}
</script>
<style lang="scss">
@import 'main.scss';

footer {
  padding: 1em;
}

.data-loading-dialog {
  z-index: 999;
}
 ul.v-breadcrumbs {
  padding-left: 0;
}
</style>

