// Override the theme to make accent buttons have black text
body .v-btn:not(.v-btn--outline).warning,
body .v-chip:not(.v-chip--outline).warning,
body .v-btn:not(.v-btn--outline).accent,
body .v-chip:not(.v-chip--outline).accent {
  color: #000;
}

svg#pdc-logo-source {
  display: none;
}

svg#pdc-logo-container {
  width: 4em;
  vertical-align: top;
}

address {
  font-style: inherit;
}

.v-toolbar__content button, .v-toolbar__content a.v-btn {
  margin-right: 5px;
}

g#pdc-logo-path {
  fill: white;
}

svg#pdc-logo-source {
  display: none;
}

svg#pdc-logo-container {
  display: none;
}

@media screen {
  .schedule {
    margin-top: 2em;
  }
}

@media print {
  div.application {
    background-color: white !important;
  }
  div.application nav.primary {
    background-color: white !important;
    box-shadow: none;
  }
  div.application nav.v-toolbar--fixed {
    position: relative;
    padding: 1em !important;
  }
  div.application--wrap main.v-content {
    display: block;
    padding: 1em !important;
  }
  div.application .v-toolbar__content {
    display: block;
  }
  #access {
    display: none;
  }
  div.pdc-logo-div {
    display: block !important;
    padding-top: 0.5em;
  }
  svg#pdc-logo-container {
    display: block;
    width: 8em !important;
  }
  g#pdc-logo-path {
    fill: black !important;
  }
  .v-content {
    padding: 0 !important;
  }
  .v-tabs-bar {
    display: none !important;
  }
}
