<template>
  <div class="EditVendorRefund">
    <campaign-page ref="campaignPage" title="Vendor refund">
      <template v-slot:toolbar>
        <make-deposit-button/>
        <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.search-misc-receipts'}">
          <v-icon>search</v-icon>
          Misc Search
        </v-btn>
      </template>
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access "Vendor refund" from the ORCA version 1.490 or greater.
      </v-alert>

      <v-form ref="vendorRefund" lazy-validation @submit.prevent="saveVendorRefund()">
        <v-card flat max-width="1100">
          <v-card-text>

            <transaction-select
                query="refundable-expenditures"
                :params="{type: 28}" v-model.number="vendor_refund.pid"
                :disabled="disableSelect"
                :rules="[validations.required]" label="Select expenditure to refund"
            />

            <v-row no-gutters dense>
              <v-col cols="4">
                <v-text-field v-model="vendor_refund.amount" label="Amount" type="number" prefix="$" maxLength="50"
                              :rules="[validations.required, validations.positiveAmount]"></v-text-field>
              </v-col>
              <v-col cols="4">
                <date-picker v-model="vendor_refund.date_" ref="dateEntry" :required="true" label="Date"
                             :message="dataMessage"></date-picker>
              </v-col>
            </v-row>

            <v-textarea v-model="vendor_refund.description" label="Description"
               auto-grow
               :rules="[validations.requireString, validations.max1000]"></v-textarea>

            <v-textarea
                v-model="vendor_refund.memo"
                label="Memo (Optional)"
                maxlength=1000
                rows="1"
            ></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit || disableSave">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import formValidations from "@/formValidations";
import MakeDepositButton from "../deposits/MakeDepositButton";
import TransactionSelect from "../TransactionSelect";

export default {
  name: "EditVendorRefund",
  components: {MakeDepositButton, DatePicker, CampaignPage, TransactionSelect},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      vendor_refund: {
        contid: null,
        pid: null,
        amount: null,
        date_: null,
        description: null,
        memo: null
      },
      refund_id: 0,
      newVendorRefund: false,
      message: null,
      validations: {
        ...formValidations
      }
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.490)
    },
    disableSave() {
      return !this.vendor_refund.pid || this.vendor_refund.pid === 0;
    },
    disableSelect() {
      return !!this.refund_id;
    },
    dataMessage() {
      return this.vendor_refund.date_ ? 'the deposit date, ' : '';
    },
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    async initPage() {
      if (this.fund.fund_id) {
        this.refund_id = parseInt(this.$route.params?.id ?? 0);
        this.newVendorRefund = this.refund_id === 0;

        if (this.$route.params.pid && !this.vendor_refund.pid) {
          this.vendor_refund.pid = this.$route.params.pid;
        } else if (!this.newVendorRefund) {
          this.vendor_refund = await orcaDataService.getFundObject(this.fund.fund_id, 'vendor-refund', this.refund_id);
        } else {
          this.resetVendorRefund();
        }
      }
    },
    resetVendorRefund() {
      this.vendor_refund = {
        contid: null,
        amount: null,
        date_: null,
        description: null,
        memo: null,
        pid: 0,
      }
    },
    async saveVendorRefund() {
      if (this.$refs.vendorRefund.validate()) {
        let savedVendorRefund;

        if (this.vendor_refund.trankeygen_id) {
          savedVendorRefund = await orcaDataService.putFundObject(this.fund.fund_id, 'vendor-refund', this.refund_id, this.vendor_refund);
        } else {
          savedVendorRefund = await orcaDataService.postFundObject(this.fund.fund_id, 'vendor-refund', this.vendor_refund);
        }

        if (savedVendorRefund) {
          let response = JSON.parse(JSON.stringify(savedVendorRefund));
          if (!response.orca_id) {
            response.orca_id = 0;
          }
          response.rds_id = response.trankeygen_id;
          response.pid = response.pid_orca;

          await ORCA.saveVendorRefund(response);
          this.message = "Saved vendor refund";

          if (this.newVendorRefund) {
            this.resetVendorRefund();
            this.$refs.vendorRefund.resetValidation();
          } else if (!this.newVendorRefund) {
            this.$refs.vendorRefund.resetValidation();
            await this.$router.replace({name: "ORCA.fund.search-misc-receipts", params: {fund_id: this.fund.fund_id}});
          }
        }
      } else {
        this.message = "Please ensure all required fields are complete.";
      }
    }
  }
}
</script>

<style></style>