<template>
  <div class="EditBankInterest">
    <campaign-page ref="campaignPage" title="Bank interest">
      <template v-slot:toolbar>
        <make-deposit-button/>
        <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.search-misc-receipts'}">
          <v-icon>search</v-icon>
          Misc Search
        </v-btn>
        <add-contributions/>
      </template>
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access Bank interest from the ORCA version 1.470 or greater.
      </v-alert>
      <v-alert color="error" dark v-if="disableEdit && !fund.accounts">
        <v-icon>error</v-icon>
        Missing accounts for fund. Please contact support.
      </v-alert>
      <v-form ref="miscBankInterest" lazy-validation @submit.prevent="trySave()">
        <v-card flat max-width="1100">
          <v-card-text>
            <p>
              After you have entered a bank interest payment, use the Make a Deposit function to indicate when the
              interest payment was added to the account.
            </p>


            <v-select
              ref="accountSelect"
              item-value="trankeygen_id"
              item-text="name"
              label="Bank Account"
              autofocus
              :rules="[validations.required]"
              :items="accounts"
              v-model="misc.contid"
            ></v-select>

            <v-row no-gutters dense>
              <v-col cols="4">
                <v-text-field v-model="misc.amount" label="Amount" type="number" prefix="$" maxLength="50"
                              :rules="[validations.required, validations.positiveAmount]"></v-text-field>
              </v-col>
              <v-col cols="4">
                <date-picker v-model="misc.date_" ref="dateEntry" :required="true" label="Date" :max-date="maxMiscDate"
                             :message="dataMessage"></date-picker>
              </v-col>
            </v-row>

            <v-textarea v-model="misc.description" label="Description"
                        auto-grow
                          :rules="[validations.requireString, validations.max1000]"></v-textarea>
            <v-textarea
                v-model="misc.memo"
                label="Memo (Optional)"
                maxlength=1000
                rows="1"
            ></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import formValidations from "@/formValidations";
import MakeDepositButton from "../deposits/MakeDepositButton";
import AddContributions from "../contributions/AddContributions";
import filters from "@/filters";


export default {
  name: "EditBankInterest",
  components: {AddContributions, MakeDepositButton, DatePicker, CampaignPage},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      misc: {
        contid: null,
        amount: null,
        description: 'Bank Interest',
        date_: null,
        memo: null,
      },
      misc_id: 0,
      newMisc: false,
      message: null,
      accounts: [],
      validations: {
        ...formValidations
      }
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.470)
    },
    maxMiscDate() {
      return this.misc.deposit_date??this.currentDatePlusOneMonth();
    },
    dataMessage() {
      return this.misc.deposit_date ? 'the deposit date, ' : '';
    },
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      if (this.fund.fund_id) {
        this.misc_id = parseInt(this.$route.params?.id ?? 0);
        this.newMisc = this.misc_id === 0;
        this.accounts = this.fund.accounts.filter((a) => a.acctnum === 1000)
        if (!this.newMisc) {
          this.misc = await orcaDataService.getFundObject(this.fund.fund_id, 'misc-bank-interest', this.misc_id);
          this.previousAmount = this.misc.amount;
          this.splitContributionAllowed = false;
        } else {
          this.resetMisc();
        }
      }
    },
    resetMisc() {
      this.misc = {
        contid: null,
        amount: null,
        date_: null,
        description: 'Bank Interest',
        memo: null
      }
    },
    async trySave() {
      if (this.$refs.miscBankInterest.validate()) {
        await this.doSave();
      }
    },
    async doSave() {
      if (this.$refs.miscBankInterest.validate()) {
        let savedMisc;

        if (this.misc.trankeygen_id) {
          savedMisc = await orcaDataService.putFundObject(this.fund.fund_id, 'misc-bank-interest', this.misc.trankeygen_id, this.misc)
        } else {
          savedMisc = await orcaDataService.postFundObject(this.fund.fund_id, 'misc-bank-interest', this.misc);
        }

        if (savedMisc) {
          let response = JSON.parse(JSON.stringify(savedMisc));
          if (!response.orca_id) {
            response.orca_id = 0;
          }

          response.rds_id = response.trankeygen_id;
          response.contid = response.contid_orca;

          await ORCA.saveMiscBankInterest(response);
          this.message = "Saved misc";
        }
        if (this.newMisc && savedMisc) {
          this.resetMisc();
          this.$refs.miscBankInterest.resetValidation();
          setTimeout(() => {
            this.$refs.accountSelect.focus();
            this.$refs.miscBankInterest.resetValidation();
          }, 200)
        } else if (!this.newMisc && savedMisc) {
          this.$refs.miscBankInterest.resetValidation();
          this.$refs.campaignPage.navigateBack();
        }
      } else {
        this.message = "please ensure all required fields are complete.";
      }
    }
  }
}
</script>
