<template>
  <div class="EditMiscOther">
    <campaign-page ref="campaignPage" title="Other receipts">
      <template v-slot:toolbar>
        <make-deposit-button/>
        <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.search-misc-receipts'}">
          <v-icon>search</v-icon>
          Misc Search
        </v-btn>
        <add-contributions/>
      </template>
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access "Other receipts" from the ORCA version 1.470 or
        greater.
      </v-alert>
      <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
        <v-icon>error</v-icon>
        Missing accounts for fund. Please contact support.
      </v-alert>
      <v-form ref="miscOtherForm" lazy-validation @submit.prevent="trySave()">
        <v-card flat max-width="1100">
          <v-card-text>
            <p>
              Record monetary transactions coming into the campaign, other than contributions such as bank
              interest, vendor refunds, anonymous contributions, auction or fundraiser proceeds, or loans.
            </p>

            <v-text-field
              v-model="misc.name"
              :rules="[validations.required]"
              ref="otherName"
              label="Name"
              type="Text"
              maxlength=110
              autofocus
            />

            <v-text-field
                v-model="misc.street"
                label="Address"
                type="Text"
                :rules="[validations.required]"
                maxlength=50
            ></v-text-field>

            <v-row dense>
              <v-col md="6" lg="7" cols="12">
                <v-text-field
                    v-model="misc.city"
                    label="City"
                    type="Text"
                    maxlength=100
                ></v-text-field>
              </v-col>
              <v-col md="2" lg="2" cols="6">
                <v-combobox
                    v-model.trim="misc.state"
                    :items="states"
                    label="State"
                    type="Text"
                    :rules="[validations.validState]"
                    v-on:blur="setDefaultState"
                >
                </v-combobox>
              </v-col>
              <v-col md="4" lg="3" cols="6">
                <v-text-field
                    v-model="misc.zip"
                    label="Zip"
                    type="Text"
                    maxlength=50
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col md="4" lg="4" cols="7">
                <v-text-field
                    v-model="misc.amount"
                    label="Amount"
                    type="number"
                    :rules="[validations.required, validations.positiveAmount]"
                    maxlength=50
                ></v-text-field>
              </v-col>
              <v-col md="3" lg="3" cols="6">
                <date-picker ref="dateEntry" v-model="misc.date_" :required=true :max-date="maxMiscDate"
                             label="Date" :message="dataMessage"></date-picker>
              </v-col>
              <v-col md="5" lg="5" cols="8">
                <v-text-field
                    v-model="misc.checkno"
                    label="Check number (optional)"
                    type="Text"
                    maxlength=25
                ></v-text-field>
              </v-col>
            </v-row>

            <v-text-field
                v-model="misc.description"
                label="Description"
                type="Text"
                maxlength=1000
                :rules="[validations.requireString]"
            ></v-text-field>

            <v-textarea
                v-model="misc.memo"
                label="Memo (optional)"
                maxlength=1000
                rows="2"
            ></v-textarea>

          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import {orcaDataService} from "@/OrcaDataService";
import MakeDepositButton from "../deposits/MakeDepositButton";
import formValidations from "@/formValidations";
import AddContributions from "../contributions/AddContributions";
import filters from "@/filters";

export default {
  name: "EditMiscOther",
  components: {
    AddContributions,
    MakeDepositButton,
    DatePicker,
    CampaignPage
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      misc: {
        name: null
      },
      misc_id: 0,
      newMisc: false,
      message: null,
      validations: {
        ...formValidations
      },
      states: ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC",
        "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA",
        "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE",
        "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC",
        "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI", "WV", "WY"]
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.470)
    },
    maxMiscDate() {
      return this.misc.deposit_date??this.currentDatePlusOneMonth();
    },
    dataMessage() {
      return this.misc.deposit_date ? 'the deposit date, ' : '';
    },
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      if (this.fund.fund_id) {
        this.misc_id = parseInt(this.$route.params?.id ?? 0);
        this.newMisc = this.misc_id === 0;
        if (!this.newMisc) {
          this.misc = await orcaDataService.getFundObject(this.fund.fund_id, 'misc-other', this.misc_id);
          this.splitContributionAllowed = false;
        } else {
          this.resetMisc();
        }
      }
    },
    resetMisc() {
      this.misc = {
        name: null,
        amount: null,
        date_: null,
        street: null,
        city: null,
        state: 'WA',
        zip: null,
        memo: null
      }
    },
    setDefaultState() {
      if (this.misc.state === "" || this.state === null) {
        this.misc.state = 'WA';
      }
    },
    async trySave() {
      if (this.$refs.miscOtherForm.validate()) {
        await this.doSave();
      }
    },
    async doSave() {
      if (this.$refs.miscOtherForm.validate()) {
        let savedMisc = await orcaDataService.postFundObject(this.fund.fund_id, 'misc-other', this.misc);

        if (savedMisc) {
          let orca_misc = JSON.parse(JSON.stringify(savedMisc));
          if (!orca_misc.orca_id) {
            orca_misc.orca_id = 0;
          }
          orca_misc.rds_id = orca_misc.trankeygen_id;
          orca_misc.contid_rds = orca_misc.contid;
          orca_misc.did = orca_misc.did_orca;
          orca_misc.cid = orca_misc.cid_orca;
          orca_misc.contid = orca_misc.contid_orca;
          await ORCA.saveMiscOther(orca_misc);
          this.message = "Saved misc";
        }
        if (this.newMisc && savedMisc) {
          this.resetMisc();
          this.$refs.miscOtherForm.resetValidation();
          setTimeout(() => {
            this.$refs.otherName.focus();
            this.$refs.miscOtherForm.resetValidation();
          }, 200)
        } else if (!this.newMisc && savedMisc) {
          this.$refs.miscOtherForm.resetValidation();
          this.$refs.campaignPage.navigateBack();
        }
      } else {
        this.message = "Please ensure all required fields are complete.";
      }
    }
  },
}
</script>
<style scoped>
tfoot td {
  color: grey;
}
</style>

