<template>
  <campaign-page @load="doSearch" title="Miscellaneous receipt search">
    <template v-slot:toolbar>
      <v-menu v-if="version>=1.460">
        <template v-slot:activator="{attrs, on}">
          <v-btn tabindex="0" small color="primary" v-bind="attrs" v-on="on">
            <v-icon>add</v-icon>
            New Misc. Receipt
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-for="(receipt, index) in addReceiptTypes" :key="index" link :to="{name: receipt.route}">
            <v-list-item-title>{{ receipt.value }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <make-deposit-button/>
    </template>
    <v-expansion-panels v-model="searchOpen" accordion>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <div>
            <v-icon>search</v-icon>
            Find miscellaneous receipts matching...
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-form @submit.prevent="doSearch()">
            <p>Enter some information to help us find what you're looking for.
              If everything is left blank, we will select some of the most recent transactions for you.</p>
            <v-text-field v-model="search.name" label="Contact name" clearable></v-text-field>
            <v-row align="start" dense>
              <v-col md="6" lg="3" cols="12">
                <date-picker v-model="search.start_date" label="Earliest date" clearable></date-picker>
              </v-col>
              <v-col md="6" lg="3" cols="12">
                <date-picker v-model="search.end_date" label="Latest date" clearable></date-picker>
              </v-col>
              <v-col md="6" lg="3" cols="12">
                <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.min_value"
                              label="Minimum" type="number"></v-text-field>
              </v-col>
              <v-col md="6" lg="3" cols="12">
                <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.max_value"
                              label="Maximum" type="number"/>
              </v-col>
            </v-row>
            <v-btn tabindex="0" type="submit" color="primary">Search</v-btn>
            <v-btn tabindex="0" @click="clearSearch()">Clear</v-btn>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-data-table :items="transactions" :headers="headers">
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.amount="{item}">
        <transaction-link :transaction="item"></transaction-link>
      </template>
      <template v-slot:item.actions="{item}" v-if="orcaVersion >= 1.460">
        <transaction-link :transaction="item" icon="edit"></transaction-link>
        <accessible-button @click="loadDeleteDialog(item)" button-tooltip="Delete receipt">
          <v-icon>delete</v-icon>
        </accessible-button>
      </template>
      <template v-slot:item.deposit_date="{item}">
        <deposit-link :receipt="item"/>
      </template>
    </v-data-table>
    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete Miscellaneous</v-card-title>
        <v-card-text>
          <v-alert type="error" v-if="disableDelete">
            You cannot delete a miscellaneous receipt after it has been deposited.
          </v-alert>
          <p v-else>Are you sure you want to delete the {{ miscReceipt.transaction_type }} for ${{ miscReceipt.amount }}
            on
            {{ formatDate(miscReceipt.date_) }} ?
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" :disabled="disableDelete" @click="deleteMisc">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import TransactionLink from "../TransactionLink";
import ORCA from "@/ORCABridge";
import {computed} from "vue";
import DepositLink from "../deposits/DepositLink";
import MakeDepositButton from "../deposits/MakeDepositButton";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "SearchMisc",
  components: {AccessibleButton, DepositLink, MakeDepositButton, TransactionLink, DatePicker, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    const orcaVersion = computed(() => ORCA.version);
    return {fund, orcaVersion}
  },
  data() {
    return {
      showDeleteDialog: false,
      miscReceipt: {},
      search: {
        start_date: null,
        end_date: null,
        min_value: null,
        max_value: null,
        name: null,
        type: null
      },
      searchOpen: true,
      transactions: [],
      headers: [
        {text: "Date", value: "date_"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Type", value: "transaction_type"},
        {text: "Description", value: "description"},
        {text: "Name", value: "name"},
        {text: "Deposited", value: "deposit_date"},
        {text: "Actions", value: "actions"}
      ],
      addReceiptTypes: [
        {value: 'Other receipt', route: 'ORCA.fund.add-misc-other'},
        {value: 'Bank interest', route: 'ORCA.fund.add-misc-bank-interest'},
        {value: 'Vendor refund', route: 'ORCA.fund.add-vendor-refund'}
      ]
    }
  },
  computed: {
    version() {
      return ORCA.version;
    },
    disableDelete() {
      return !!this.miscReceipt.deposit_id;
    }
  },
  methods: {
    ...filters.filters,
    doSearch() {
      if (this.fund.fund_id) {
        orcaDataService.getFundData(this.fund.fund_id, "search-misc-receipts", this.search).then(data => {
          if (data.success) {
            this.transactions = data["search-misc-receipts"];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length);
          } else {
            this.transactions = [];
            this.showMaxResultMessage = false;
          }
          this.searchOpen = this.transactions.length === 0 ? 0 : null;
        });
      } else {
        this.transactions = [];
      }
    },
    clearSearch() {
      Object.keys(this.search).forEach((i) => this.search[i] = null);
    },
    async loadDeleteDialog(item) {
      // await this.contributionsActions.loadContribution(c.trankeygen_id)
      this.miscReceipt = item;
      this.showDeleteDialog = true;
    },
    async deleteMisc() {
      let objectType = null;
      if (this.miscReceipt.transaction_type === 'Other Receipt') objectType = 'misc-other';
      else if (this.miscReceipt.transaction_type === 'Refund from Vendor') objectType = 'vendor-refund';
      else objectType = 'misc-bank-interest';
      let deleted = await orcaDataService.deleteFundObject(this.fund.fund_id, objectType, this.miscReceipt.trankeygen_id);
      if (deleted.success) {
        let orcaReceipt = JSON.parse(JSON.stringify(this.miscReceipt));
        if (objectType === 'misc-other') {
          orcaReceipt.contid = orcaReceipt.contid_orca;
          ORCA.deleteReceiptContact(orcaReceipt);
        } else {
          ORCA.deleteReceipt(orcaReceipt);
        }
        this.showDeleteDialog = false;
        this.doSearch();
      } else {
        alert("Unable to delete miscellaneous receipt");
      }
    }
  }
}
</script>

<style scoped>

</style>
