<template>
  <router-link v-if="receipt && receipt.deposit_id"
               :to="{name:'ORCA.C3View', params: {fund_id: fund.fund_id, deposit_id: receipt.deposit_id}}">
    {{ formatDate(receipt.deposit_date) }}
  </router-link>
</template>

<script>
import {useOrcaFund} from "../fund/Fund";
import filters from "@/filters";

export default {
  name: "DepositLink",
  props: {
    receipt: {
      type: Object,
      default: () => {
      },
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  methods: {
    ...filters.filters,
  }
}
</script>

<style scoped>

</style>