<template>
  <campaign-page ref="campaignPage" title="Record a deposit" @load="setupDeposit">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must access this page from the ORCA version 1.470 or
      greater.
    </v-alert>
    <v-alert type="error" dark v-if="!disableEdit && !fund.accounts">
      Missing accounts for fund. Please contact support.
    </v-alert>
    <template v-slot:toolbar>
      <v-btn tabindex="0" small color="primary" :to="{name: 'orca.fund.c3-reports'}">
        <v-icon>search</v-icon>
        Find deposits
      </v-btn>
    </template>
    <v-alert type="error" v-if="transactionsAfterDepositDate">
      <v-icon>error</v-icon>
      The deposit contains transactions after the date of deposit. Correct prior to saving.
    </v-alert>
    <v-alert type="error" v-if="emptyDeposit">
      You must have one or more deposited items.
    </v-alert>
    <v-alert color="warning" v-if="isBeforeThresholdChangeDate">
      <v-icon>error</v-icon>
      The thresholds for itemization of contributions and expenditures changed on 4/1/2023. As this report covers an earlier period, you need to select "Itemize (optional)" on the contributions above $25 and expenditures above $50 for the report to be compliant.
    </v-alert>
    <v-form ref="depositForm" @submit.prevent="saveDeposit(false)">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-col cols="6" md="3">
              <date-picker @input="validateDepositItems" :required="true" v-model="deposit_date"
                           label="Date of deposit"></date-picker>
            </v-col>
            <v-col cols="3" md="3">
              <v-autocomplete
                  :items=bankAccounts
                  v-model="accountId"
                  label="Account name"
                  item-text="name"
                  item-value="trankeygen_id"
                  :rules="[validations.required]"
              >
              </v-autocomplete>
            </v-col>
            <v-col cols="3" md="6">
              <v-text-field v-model="memo" label="Memo"/>
            </v-col>
          </v-row>
          <v-data-table
              dense
              :items="depositItems"
              :headers=receiptHeaders
              v-model="selectedItems"
              item-key="trankeygen_id"
              :search="search"
              :footer-props="{'items-per-page-options':[100, 500, 1000, 5000]}"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Deposited items
                </v-toolbar-title>
                <v-spacer/>
                <v-btn tabindex="0" @click="getUndepositedItems">
                  <v-icon>add</v-icon>
                  Add items
                </v-btn>
                <v-btn tabindex="0" :disabled="disableRemove" @click="showRemoveItems = true">
                  <v-icon>remove</v-icon>
                  Remove Items
                </v-btn>
              </v-toolbar>
            </template>
            <template v-slot:item.name="{item}">
              <router-link :to="{name:'orca.fund.contact', params: {contact_id: item.contid}}">
                {{ item.name }}
              </router-link>
              <span v-if="(item.contid && !item.contid_orca) && version < 1.5"><v-icon color="error">error</v-icon>Resave </span>
            </template>
            <template v-slot:item.date_="{item}">
              {{ formatDate(item.date_) }}
            </template>
            <template v-slot:item.amount="{item}">
              <span v-if="!item.orca_id && version < 1.5"><v-icon color="error">error</v-icon>Resave </span>
              <transaction-link :transaction="item"/>
            </template>
          </v-data-table>
          <strong>Total:</strong> {{ formatMoney(totalDepositAmount) }}
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="disableEdit" color="primary" type="submit">Save and file</v-btn>
          <v-btn tabindex="0" @click="saveDeposit(true)" :disabled="disableEdit">Save</v-btn>
          <v-btn tabindex="0" @click="cancelDeposit">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>

    <v-dialog v-model="showAddItems">
      <v-form ref="addItemsForm" @submit.prevent="addUndepositedItems">
        <v-card>
          <v-card-title>
            Add undeposited items
          </v-card-title>
          <v-card-text>
            <v-data-table
                dense
                v-model="itemsToAdd"
                :items="undepositedItems"
                :headers="receiptHeaders"
                show-select
                :single-select="false"
                item-key="trankeygen_id"
                :footer-props="{'items-per-page-options':[50,100, 500, 1000, 5000]}"
            >
              <template v-slot:item.date_="{item}">
                {{ formatDate(item.date_) }}
              </template>
              <template v-slot:body.append>
                <tr>
                  <th colspan="5" class="text-end">
                    Total: <span style="color:#006800">{{ formatMoney(undepositedItemsTotal) }}</span>
                  </th>
                </tr>
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" @click="addItems">
              <v-icon>add</v-icon>
              Add
            </v-btn>
            <v-btn tabindex="0" @click="showAddItems=false">
              <v-icon>cancel</v-icon>
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>


    <v-dialog v-model="showRemoveItems">
      <v-card>
        <v-card-text>
          <v-data-table

              dense
              :items="depositItems"
              :headers=receiptHeaders
              show-select
              v-model="selectedItems"
              item-key="trankeygen_id"
              :search="search"
              :footer-props="{'items-per-page-options':[100, 500, 1000, 5000]}"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Remove deposited items
                </v-toolbar-title>
                <v-spacer/>
              </v-toolbar>
            </template>
            <template v-slot:item.name="{item}">
              <router-link :to="{name:'orca.fund.contact', params: {contact_id: item.contid}}">
                {{ item.name }}
              </router-link>
              <span v-if="(item.contid && !item.contid_orca) && version < 1.5"><v-icon color="error">error</v-icon>Resave </span>
            </template>
            <template v-slot:item.date_="{item}">
              {{ formatDate(item.date_) }}
            </template>
            <template v-slot:item.amount="{item}">
              <span v-if="!item.orca_id && version < 1.5"><v-icon color="error">error</v-icon>Resave </span>
              <transaction-link :transaction="item"/>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" :disabled="preventRemove" @click="removeItems">
            <v-icon>remove</v-icon>
            Remove
          </v-btn>
          <v-btn tabindex="0" @click="showRemoveItems = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showZeroAmendment" max-width="55em">
      <v-card>
        <v-card-title>
          File with no deposits?
        </v-card-title>
        <v-card-text>
          This report will show a zero balance as you are removing any deposited items. Please confirm that this is the intended change.
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="confirmZeroAmendment">Confirm</v-btn>
          <v-btn tabindex="0" @click="showZeroAmendment = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import ORCA from "@/ORCABridge";
import {useOrcaFund} from "../fund/Fund";
import DatePicker from "@/components/DatePicker";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import formValidations from "@/formValidations";
import TransactionLink from "../TransactionLink";

export default {
  name: "EditDeposit.vue",
  components: {TransactionLink, DatePicker, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {
    if (this.fund.fund_id) {
      this.setupDeposit();
    }
  },
  data() {
    return {
      showRemoveItems: false,
      showZeroAmendment: false,
      search: "",
      depositId: 0,
      deposit_date: "",
      memo: "",
      accountId: null,
      depositItems: [],
      selectedItems: [],
      undepositedItems: [],
      removedItems: [],
      itemsToAdd: [],
      transactionsAfterDepositDate: false,
      receiptHeaders: [
        {text: 'Type', value: 'transaction_type'},
        {text: 'Date', value: 'date_'},
        {text: 'Name', value: 'name'},
        {text: 'Amount', value: 'amount', align: "end"},
      ],
      showAddItems: false,
      validations: {
        ...formValidations
      },
      emptyDeposit: false,
      allowZeroAmendment: false
    }
  },
  computed: {
    undepositedItemsTotal() {
      return this.getItemsTotal(this.undepositedItems);
    },
    totalDepositAmount() {
      return this.getItemsTotal(this.depositItems);
    },
    disableRemove() {
      return this.depositItems.length === 0;
    },
    preventRemove() {
      return this.selectedItems.length === 0;
    },
    disableEdit() {
      return (ORCA.version < 1.470)
    },
    bankAccounts() {
      if (this.fund.accounts) {
        return this.fund.accounts.filter(a => a.acctnum === 1000);
      } else {
        return [];
      }
    },
    version() {
      return ORCA.version;
    },
    isBeforeThresholdChangeDate() {
      const threshold_change_date = new Date('04/01/2023')

      const report_from_date = new Date(this.formatDate(this.deposit_date))

      return (report_from_date <= threshold_change_date)
    },
  },
    methods: {
      ...filters.filters,
      getItemsTotal(items) {
        let totalCents = 0;
      items.forEach((b) => {
        totalCents += Math.round(b.amount * 100);
      })
      return totalCents / 100.0;
    },
    setupDeposit() {
      if (this.$route.params.id) {
        this.loadDeposit();
      } else {
        if (this.bankAccounts.length) {
          this.accountId = this.bankAccounts[0].trankeygen_id;
        }
        this.removedItems = [];
        this.getUndepositedItems();
      }
    },
    loadDeposit() {
      this.depositId = this.$route.params.id;
      if (this.depositId && this.fund?.fund_id) {
        orcaDataService.getFundObjectRaw(this.fund.fund_id, 'depositevent', this.depositId).then((result) => {
          const deposit = result.depositEvent;
          this.submitted = deposit.submitted_at ? true : false;
          this.depositId = deposit.trankeygen_id;
          this.deposit_date = deposit.date_;
          this.accountId = deposit.account_id;
          this.memo = deposit.memo;
          this.depositItems = deposit.depositItems ? deposit.depositItems : [];
          this.removedItems = [];
        });
      }
    },
    async saveDeposit(navigateBack) {
      if (this.$refs.depositForm.validate() && this.validateDepositItems()) {
        const deposit = {
          trankeygen_id: this.depositId,
          account_id: this.accountId,
          date_: this.deposit_date,
          depositItems: this.depositItems,
          memo: this.memo
        }
        let result

        if (!this.depositId) {
          result = await orcaDataService.postFundObject(this.fund.fund_id, 'depositevent', deposit, true)
        } else {
          result = await orcaDataService.putFundObject(this.fund.fund_id, 'depositevent', deposit.trankeygen_id, deposit, true)
        }
        if (result.success) {
          const depositEvent = result.depositEvent;
          this.depositId = depositEvent.trankeygen_id;
          ORCA.$emit('deposited.change');

          const orcaDepositEvent = {
            orca_id: depositEvent.orca_id ? depositEvent.orca_id : 0,
            rds_id: depositEvent.trankeygen_id,
            account_id: depositEvent.account_orca_id,
            date_: depositEvent.date_,
            memo: depositEvent.memo,
            deptkey: depositEvent.deptkey,
            depositItems: depositEvent.depositItemsOrca
          }
          ORCA.saveDepositEvent(orcaDepositEvent);
          if (navigateBack) {
            this.$refs.campaignPage.navigateBack()
          } else {
            this.$router.replace({
              name: 'ORCA.C3View',
              params: {fund_id: this.fund.fund_id, deposit_id: this.depositId}
            });
          }
        } else {
          alert("Unable to save deposit");
        }
      }
    },
    validateDepositItems() {
      let valid = true;

      //allow zero deposits if we are amending
      if (!this.depositItems.length && !this.allowZeroAmendment && this.submitted) {
        this.showZeroAmendment = true;
        valid = false;
      }
      else if (!this.depositItems.length && this.allowZeroAmendment && this.submitted) {
        valid = true;
      }
      else if (!this.depositItems.length) {
        this.emptyDeposit = true;
        this.transactionsAfterDepositDate = false;
        valid = false;
      } else {
        this.emptyDeposit = false;
        let invalidDeposit = this.depositItems.find(e => e.date_ > this.deposit_date);
        if (invalidDeposit && this.deposit_date) {
          this.transactionsAfterDepositDate = true;
          valid = false;
        } else {
          this.transactionsAfterDepositDate = false;
        }

      }
      return valid;
    },
    removeItems() {
      // make a shallow copy of the array, so we don't muck with selected items binding
      this.removedItems = [...this.selectedItems];
      // Remove the items form the selected array
      this.depositItems = this.depositItems.filter((e) => !this.removedItems.includes(e));
      this.showRemoveItems = false;
    },
    addItems() {
      this.depositItems = this.depositItems.concat(this.itemsToAdd);
      this.validateDepositItems();
      this.showAddItems = false;
    },
    getUndepositedItems() {
      orcaDataService.getFundData(this.fund.fund_id, 'undeposited-items').then((result) => {
        if (result && result.success && result['undeposited-items']) {
          this.undepositedItems = result['undeposited-items'];
          // We need to remove any undeposited transactions that are in
          for (let i = this.undepositedItems.length - 1; i >= 0; --i) {
            if (this.depositItems.find((e) => e.trankeygen_id === this.undepositedItems[i].trankeygen_id)) {
              this.undepositedItems.splice(i, 1);
            }
          }

        } else {
          this.undepositedItems = [];
        }
        this.undepositedItems = this.removedItems.concat(this.undepositedItems);
        this.itemsToAdd = [];
        this.showAddItems = true;
      })
    },
    cancelDeposit() {
      this.$refs.campaignPage.navigateBack();
    },
    confirmZeroAmendment(){
      this.allowZeroAmendment = true;
      this.showZeroAmendment = false;
      this.saveDeposit();
    }
  }
}
</script>
