<template>
  <v-btn tabindex="0" :disabled="disableMakeADeposit" small color="primary" @click="makeADeposit()">Make a deposit {{ items }}
  </v-btn>
</template>

<script>
import ORCA from "@/ORCABridge";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";

export default {
  name: "MakeDepositButton",
  data() {
    return {
      undepositedItems: 0
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  created() {
    ORCA.$on('receipts.change', this.countUndepositedItems);
    ORCA.$on('undeposited.change', this.countUndepositedItems);
    ORCA.$on('deletions.change', this.countUndepositedItems);
    ORCA.$on("fundLoaded", this.countUndepositedItems);
    this.countUndepositedItems();
  },
  beforeDestroy() {
    ORCA.$off('receipts.change', this.countUndepositedItems);
    ORCA.$off('deposited.change', this.countUndepositedItems);
    ORCA.$off('deletions.change', this.countUndepositedItems);
    ORCA.$off("fundLoaded", this.countUndepositedItems);
  },
  computed: {
    disableMakeADeposit() {
      return (ORCA.version >= 1.470) && (this.undepositedItems === 0);
    },
    items() {
      return this.undepositedItems ? '(' + this.undepositedItems + ')' : '';
    }
  },
  methods: {
    makeADeposit() {
      if (ORCA.version < 1.470) {
        ORCA.executeMenu('deposit');
      } else {
        this.$router.push({name: "orca.fund.add-deposit", params: {fund_id: this.fund.fund_id}})
      }
    },
    async countUndepositedItems() {
      if (this.fund.fund_id) {
        const result = await orcaDataService.getFundData(this.fund.fund_id, 'undeposited-items-count');
        if (result && result.success) {
          this.undepositedItems = result['undeposited-items-count'][0].items;
        }
      }
    }
  }
}
</script>
