<template>
  <div class="committeePage">
    <h2>{{committee.name}}</h2>
    <v-card v-if="committee && committee.committee_id">
      <v-toolbar flat class="d-print-none">
        <accessible-button  icon @click="navigateBack()" button-tooltip="Back">
          <v-icon>arrow_back</v-icon>
        </accessible-button>
        <span class="title">{{ title }}</span>
        <v-spacer/>
        <slot name="toolbar"/>
      </v-toolbar>
      <v-card-text>
        <slot name="default"/>
      </v-card-text>
      <v-card-actions>
        <slot name="actions"/>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import {dataService} from "../DataService";
import AccessibleButton from "../components/AccessibleButton";
import {app} from "@/main"

export default {
  name: "CommitteePage",
  components: {AccessibleButton},
  props: {
    title: {
      type: String,
    },
    returnRoute: {
      type: String,
      default: "committees"
    },
    committeeInfo: {
      type: Object,
    }
  },
  data() {
    return {
      committee: {},
      committee_id: null,
    }
  },
  created() {
    this.committee_id = this.$route.params.committee_id;
    this.loadCommittee();
  },
  watch: {
    $route(to) {
      if (Number.parseInt(to.params.committee_id) !== Number.parseInt(this.committee_id)) {
        this.loadCommittee()
      }
    }
  },
  methods: {
    loadCommittee() {
      dataService.committeeFinanceInfo(this.committee_id, data => {
        this.committee = data;
        this.$emit('load-committee', this.committee);
        app.$container.wire.$emit('breadcrumbs', [{name: data.name, to: {name: 'committee', query: {committee_id: data.committee_id}}}])
      });
    },
    navigateBack() {
      this.$emit('navigate-back');
      if (window.history.length > 0) {
        this.$router.go(-1);
      } else {
        this.$router.replace({name: this.returnRoute, params: {committee_id: this.committee_id}})
      }
    }
  }
}
</script>

