<template>
  <v-app id="ie">
    <v-navigation-drawer class="d-print-none" v-model="drawer" app>
      <v-list dense>
        <v-list-item
            v-for="item in filteredItems"
            :key="item.title"
            @click="clickItem(item)"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app color="primary" dark class="d-print-none">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="hidden-print-only"
      >Independent Expenditures
      </v-toolbar-title
      >
      <v-spacer/>
      <div class="pdc-logo-div">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            id="pdc-logo-source"
        >
          <defs>
            <g id="pdc-logo-path">
              <path
                  d="M129.6,49.8L129.6,49.8L129.6,49.8L129.6,49.8c-0.1,0-0.2,0-0.4,0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4,3.4-7.9,7.6-7.9
                    c4.2,0,7.6,3.5,7.6,7.9c0,1.8-0.6,3.4-1.5,4.7h19.3c0.3-1.6,0.4-3.2,0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4,0-19.4,6.7-23.4,16.3
                    V0.6H86.7v43.5l0,0c0,4-3.5,7.3-7.8,7.3c-4.3,0-7.8-3.3-7.8-7.3c0-4,3.5-7.3,7.8-7.3c1.7,0,3.3,0.6,4.6,1.4V18.3
                    c-1.5-0.2-3-0.4-4.6-0.4c-11.4,0-21.3,6.6-25.4,15.9c-3.7-10.2-14-17.6-26.1-17.6c-15,0-27.1,11.2-27.5,25.2l0,0v0.6v43.3h19.5V42.1
                    c0-4.1,3.6-7.5,8-7.5s8,3.4,8,7.5c0,4.1-3.6,7.5-8,7.5c-1.8,0-3.5-0.6-4.8-1.5v19.4c1.6,0.3,3.2,0.4,4.8,0.4
                    c11.4,0,21.3-6.6,25.4-15.9c3.7,10.2,14,17.6,26.1,17.6c12.6,0,23.3-8.1,26.5-19c3.3,10.8,12.7,18.7,23.8,18.9v0.1H173V49.9h-43.4
                    V49.8z"
              />
            </g>
          </defs>
        </svg>
        <svg viewBox="0 0 173 86" id="pdc-logo-container">
          <use xlink:href="#pdc-logo-path"></use>
        </svg>
      </div>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <router-view/>
      </v-container>
      <v-dialog persistent v-model="ieService.isPending" width="300" class="data-loading-dialog">
        <v-card>
          <v-card-text>
            {{ progressMessage }}
            <v-progress-linear
                indeterminate
                color="primary"
                class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-content>
    <v-footer color="primary" app inset class="hidden-print-only">
      <span class="white--text"
      >&copy; 2019 Washington Public Disclosure Commission</span
      >
    </v-footer>
  </v-app>
</template>

<script>

import {useIE} from './IE';
import {ieService} from "@/IExpendituresDataService";

export default {
  name: "App",
  setup() {
    const {user, ieToolbox} = useIE();
    ieToolbox.loadUserInfo();
    return {user, ieService}
  },
  data: () => ({
    drawer: false,
    menuItems: [
      {
        icon: 'home',
        title: 'My PDC',
        href: '/',
      },
      {
        icon: "info",
        title: "PDC web site",
        href: "https://www.pdc.wa.gov",
      },
      {
        icon: "group_work",
        title: "Sponsors I file For",
        link: "/",
      },
      {
        icon: "settings",
        title: "Administration",
        href: "/my-pdc/staff",
        access: 'access_wapdc_data',
      },
      {
        icon: "power",
        title: "Logout",
        href: "/user/logout",
      },
    ],
    servicesPending: false,
    progressMessage: "Please wait...",
  }),
  computed: {
    filteredItems() {
      return this.menuItems.filter((r) => {
        return this.hasAccess(r);
      });
    },
  },
  created() {
  },
  methods: {

    clickItem(item) {
      if (item.href) {
        window.location = item.href;
      } else if (item.link) {
        this.$router.push(item.link);
      }
    },
    hasAccess(menuItem) {
      let access = null;
      // eslint-disable-next-line no-prototype-builtins
      if (menuItem.hasOwnProperty("access")) {
        let right = menuItem.access;
        if (this.user && this.user.permissions) {
          // eslint-disable-next-line no-prototype-builtins
          access = this.user.permissions.hasOwnProperty(right) && this.user.permissions[right];
        } else {
          access = false;
        }
      } else {
        access = true;
      }
      return access;
    },
  },
};
</script>

<style lang="scss">
@import "main.scss";

footer {
  padding: 1em;
}

.data-loading-dialog {
  z-index: 999;
}
</style>
