<template>
  <div style="max-width: 1100px;">
    <campaign-page title="Contact search">
      <template v-slot:toolbar>
        <div v-if="version>=1.460">
          <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.add-contact'}">
            <v-icon>add</v-icon>
            New Contact
          </v-btn>
          <v-btn tabindex="0" small @click="showImport = true" v-if="version >= 1.450">
            <v-icon>file_upload</v-icon>Import
          </v-btn>
        </div>
      </template>
      <div>
        <v-dialog v-model="showImport" persistent>
          <contact-import @complete="onImportFinish" @cancel="showImport = false"></contact-import>
        </v-dialog>
        <v-form @submit.prevent="loadContacts()">
            <v-row>
              <v-col>
                <v-text-field v-model="parameters.name" label="Name" single-line hide-details clearable>
                  <template slot="append">
                    <search-text-info/>
                  </template>
                </v-text-field>
              </v-col>
              <v-col>
                <v-select
                  v-model="parameters.contact_type"
                  label="Contact type"
                  :items="contactTypes"
                  item-value="value"
                  item-text="text"
                  clearable
                ></v-select>
              </v-col>
              <v-col>
                <v-btn tabindex="0" type="submit" color="primary" @click="onSearch">Search</v-btn>
              </v-col>
            </v-row>
        </v-form>
      </div>
      <v-data-table
        :search="search"
        :items="contactlist"
        :headers="headers"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
      >
        <template v-slot:item.name="{item}">
          <router-link :to="{name: 'orca.fund.contact', params: {contact_id: item.trankeygen_id}}">
            {{item.name}}
          </router-link>
        </template>
        <template v-slot:item.address="{item}">
          <td class="list-td" :colspan="headers.length">
            <div>{{ item.city }}<span v-if="item.city">, </span>{{ item.state }}</div>
          </td>
        </template>
      </v-data-table>
      <slot name="maximumResultMessage" v-if="showMaxResultMessage">
        <v-alert color="secondary">
          <v-icon>info</v-icon>
          Only showing the first {{maxResults}} results.
        </v-alert>
      </slot>
      <slot name="default"/>
      <v-btn tabindex="0" color="primary" @click="contactListActions.exportContacts(contactlist)">Export to CSV</v-btn>
    </campaign-page>
  </div>
</template>

<script>
import CampaignPage from "@/orca/CampaignPage";
import {useOrcaFund} from "@/orca/fund/Fund";
import {useContactList} from "./ContactList";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import SearchTextInfo from "../SearchTextInfo";
import {useContact} from "./Contact";
import ContactImport from "./ContactImport";
import ORCA from "@/ORCABridge";

export default {
  name: "ContactsSearch",
  components: {ContactImport, SearchTextInfo, CampaignPage },
  data() {
    return {
      maxResults:{
        type: Number
      },
      parameters: {
        name: null,
        contact_type: null
      },
      search: "",
      showMaxResultMessage: false,
      showDeleteDialog: false,
      showImport: false,
      contactlist: [],
      headers: [
        {text: "Name", value: "name"},
        {text: "Address", value: "address"},
        {text: "Primary", value: "pagg"},
        {text: "General", value: "gagg"},
        {text: "", value: "actions"}
      ],
    }
  },
  methods: {
    ...filters.filters,
    onImportFinish(duplicatesFound) {
      this.showImport = false;
      if (duplicatesFound) {
        this.$router.replace({name: 'ORCA.fund.contact-duplicates', params: {fund_id:this.fund.fund_id}});
      }else{
        this.loadContacts();
      }
    },
    onSearch(){
      this.$router.replace({name: 'ORCA.fund.contact-search', params: {fund_id:this.fund.fund_id}, query: this.parameters}).catch(err => {
        // Ignore error to the page they are already on.
        if (err.name !== 'NavigationDuplicated' && !err.message.includes('Avoided redundant navigation to current location')) {
          // But print any other errors to the console
          console.error(err);
        }
      });
    },
    loadContacts(){
      if(this.fund.fund_id) {
        orcaDataService.getFundData(this.fund.fund_id, 'contact-search', this.parameters).then(data => {
          if(data.success){
            this.contactlist = data['contact-search'];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.contactlist.length);
            return data;
          } else {
            alert('failure')
            this.contactlist = [];
            this.showMaxResultMessage = false;
          }
          this.$emit('load', this.contactlist.length)
        });
      } else {
        this.contactlist = [];
      }
    },
  },
  created(){
    if(this.$route.query) {
      this.parameters.name = this.$route.query.name
      this.parameters.contact_type = this.$route.query.contact_type
      this.loadContacts();
    }
  },
  computed: {
    sortedContactTypes() {
      return this.contactTypes.sort((a, b) => a.text.localeCompare(b.text));
    },
    version () {
      return ORCA.version;
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    const {contacts, contactListActions} = useContactList(fund.fund_id);
    const {contactTypes} = useContact();

    return {fund, contacts, contactListActions, contactTypes}
  },
}
</script>