<template>
  <v-form @submit.prevent="submit">
    <v-card>
      <v-card-title>
         Import contacts
      </v-card-title>
      <v-card-text>
         <div v-if="!parsedFile.data || !parsedFile.data.length">
           <v-file-input label="file" accept="text/csv" @change="uploadFile"></v-file-input>
           <v-btn tabindex="0" @click="downloadSample"><v-icon>file_download</v-icon>Sample contact.csv</v-btn>
         </div>
        <div v-else>
          <v-data-table
            :items="parsedFile.data"
            dense
            :headers="[
                {text: 'Status', value: 'status'},
                {text: 'Type', value: 'type'},
                {text: 'Name', value: 'name'},
                {text: 'First', value: 'firstname'},
                {text: 'Middle', value: 'middleinitial'},
                {text: 'Last', value: 'lastname'},
                {text: 'Suffix', value: 'suffix'},
                {text: 'Address', value: 'address'},
                {text: 'Occupation', value: 'occupation'},
                {text: 'Employer', value: 'employer'}
            ]"
          >
            <template v-if="!uploadDisabled" v-slot:item.status="{item}">
              <span>
                  <v-tooltip bottom v-if="item.error">
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      error
                    </v-icon>
                  </template>
                  <span>{{item.error}}</span>
                </v-tooltip>
                <v-tooltip bottom v-else-if="item.duplicate_id" >
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      people
                    </v-icon>
                  </template>
                  <span>Potential Duplicate</span>
                </v-tooltip>
                <v-tooltip bottom v-else-if="item.trankeygen_id">
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      person_add_disabled
                    </v-icon>
                  </template>
                  <span>Duplicate Contact</span>
                </v-tooltip>
                <v-tooltip bottom v-else>
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      person_add
                    </v-icon>
                  </template>
                  <span>New Contact</span>
                </v-tooltip>
              </span>
            </template>
            <template v-else v-slot:item.status="{item}">
              <span>
                <v-tooltip bottom>
                  <template v-slot:activator="{on, attrs}">
                    <v-icon v-bind="attrs" v-on="on">
                      person_search
                    </v-icon>
                  </template>
                  <span>Analyzing</span>
                </v-tooltip>
              </span>
            </template>
            <template v-slot:item.address="{item}">
              <span v-if="item.street || item.city || item.zip">
              {{item.street}}<br/>
              {{item.city}}, {{item.state}} {{item.zip}}
              </span>
            </template>
            <template v-slot:item.employer="{item}">
              <span v-if="item.employername">
                {{item.employername}}<br/>
                <span v-if="item.employerstreet">
                  {{item.employerstreet}}<br/>
                </span>
                <span v-if="item.employer_city || item.employerzip || item.employerstate">
                  {{item.employercity}}, {{item.employerstate}} {{item.employerzip}}
                </span>
              </span>
            </template>
          </v-data-table>
          <div v-if="parsedFile.uploadActive">
           <p>Importing contacts: {{parsedFile.processedRows}}/{{parsedFile.data.length}}</p>
           <v-progress-linear :value="processProgress" />
          </div>
          <div v-if="worker.active">
            <p>Analyzing duplicates</p>
            <v-progress-linear :value="worker.progress"></v-progress-linear>
          </div>
        </div>
      </v-card-text>
      <v-card-actions>
          <v-btn tabindex="0" color="primary" :disabled="uploadDisabled" @click="processFile">Upload</v-btn><v-btn tabindex="0" @click="cancelUpload">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
import {useContactList} from "./ContactList";
import {reactive} from "vue";
import {useWorker} from "@/worker-api";
import ORCA from "@/ORCABridge";

export default {
  name: "ContactImport",
  setup() {
    const parsedFile = reactive({data: [], processedRows: 0, uploadActive: false});
    const {contactListActions, contacts} = useContactList();
    const { worker } = useWorker();
    worker.$on('task-completed', data => {
      parsedFile.data = data
    })
    return {contactListActions, contacts, parsedFile, worker};
  },
  computed: {
    uploadDisabled () {
      return ORCA.version < 1.450 || !this.parsedFile
          || !this.parsedFile.data
          || this.worker.progress !== 100.0
          || this.parsedFile.uploadActive;
    },
    processProgress() {
      return this.parsedFile.data.length > 0 ? 100.0  * (this.parsedFile.processedRows/this.parsedFile.data.length) : 0;
    }
  },
  methods: {
    cancelUpload() {
      this.parsedFile.data = [];
      this.parsedFile.uploadActive = false;
      this.worker.terminateTask();
      this.$emit('cancel');
    },
    async uploadFile(file) {
      if (file) {
        await this.contactListActions.importContacts(file, this.parsedFile);
        this.worker.executeTask('analyzeDuplicates', {existingContacts: this.contacts, newContacts: this.parsedFile.data, contactProperty: "trankeygen_id"});
      }
    },
    async processFile() {
      let chunkSize = 50;
      this.parsedFile.uploadActive = true;
      this.parsedFile.processedRows = 0;

      // For now we'll assume we are not altering any contacts that have an assigned
      // trankeygen_id, because that implies that the contact already exists.
      // If we ever change our mind about that we'll need to make sure data gets merged
      // So that we don't null out fields on the contact when saving.
      let data = this.parsedFile.data.filter((c) => !c.trankeygen_id);
      let chunk;
      let errors = [];
      const duplicatesFound = this.parsedFile.data.filter((c) => !!c.duplicate_id).length > 0;

      ORCA.disableSync();
      do {
        chunk = data.splice(0, chunkSize);
        if (chunk.length){
          let response = await this.contactListActions.saveContacts(chunk);
          this.parsedFile.processedRows += chunk.length;
          if (response.errors && response.errors.length > 0) {
            errors = errors.concat(response.errors);
          }
        }
      } while ((this.parsedFile.uploadActive && chunk && chunk.length));
      ORCA.enableSync();
      this.parsedFile.processedRows = this.parsedFile.data.length;
      this.parsedFile.uploadActive = false;
      this.parsedFile.data = errors;
      if (errors && errors.length === 0) {
        this.$emit('complete', duplicatesFound);
      }
    },
    downloadSample() {
      this.contactListActions.exportContacts([{}]);
    }
  }
}
</script>

<style scoped>

</style>