<template>
  <div class="ContactInformation">
    <v-card :flat="flat">
      <v-card-title>
        {{ contact.name }}
      </v-card-title>
      <v-card-text>
        <address v-if="contact.street">
          {{ contact.street }}
          <br/>{{ contact.city | suffix(",") }} {{ contact.state }} {{ contact.zip }}
        </address>
        <div v-if="contact.email">{{ contact.email }}</div>
        <div v-if="contact.phone">{{ contact.phone }}</div>
        <div v-if="contact.occupation">{{ contact.occupation }}</div>
        <div>Primary aggregate: {{formatMoney(contact.pagg)}}</div>
        <div>General aggregate: {{formatMoney(contact.gagg)}}</div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>

import {useOrcaFund} from "@/orca/fund/Fund";
import {useContact} from "./Contact";
import {reactive} from "vue";
import filters from "@/filters";

export default {
  name: "ContactInformation",
  props : {
    contact_id: Number,
    flat: {
      type: Boolean,
      default: false,
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    const {contact, contactActions} = useContact();
    const data = reactive({
      contact: {}
    });
    return {fund, data, contact, contactActions};
  },
  methods: {
    ...filters.filters
  },
  created() {
    if(this.contact_id) {
      this.contactActions.loadContact(this.contact_id);
    }
  },
  watch: {
    contact_id () {
      this.contactActions.loadContact(this.contact_id);
    }
  },
}
</script>