<template>
  <campaign-page title="Contact">
      <v-card flat>
        <v-card-title>
          <span v-if="contact.name">{{contact.name}}</span>
          <accessible-button
              button-tooltip="Edit contact"
              v-if="version >= 1.460"
              icon
              @click="editContact(contact.trankeygen_id)">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button
              button-tooltip="Delete contact"
              v-if="version >= 1.460"
              icon
              @click="showDeleteContactDialog">
            <v-icon>delete</v-icon>
          </accessible-button>
            <accessible-button
                button-tooltip="Recalculate contact aggregates"
                v-if="version >= 1.460"
                icon
                @click="recalculateContactAggregates">
              <v-icon>refresh</v-icon>
          </accessible-button>
        </v-card-title>
        <v-card-text>
          <div v-if="contact.type !== 'GRP'">
          <div>
            {{ contact.street}}<br />
            {{formatCityStateZip(contact.city, contact.state, contact.zip)}}
          </div>
          <div v-if="contact.email">{{contact.email}}</div>
          <div v-if="contact.phone">{{contact.phone}}</div>
          <div v-if="contact.type === 'IND'">
            <h4>Occupation and employment</h4>
              <div v-if="contact.occupation">{{contact.occupation}}</div>
              <div v-if="contact.employername">{{contact.employername}}</div>
              <address>
              <div v-if="contact.employerstreet">{{contact.employerstreet}}<br/>
                {{ formatCityStateZip( contact.employercity, contact.employerstate, contact.employerzip) }}</div>
              </address>
          </div>
          <div>Primary: {{formatMoney(contact.pagg)}}</div>
          <div>General: {{formatMoney(contact.gagg)}}</div>
          </div>

          <div v-if="contact.memo">Memo: {{contact.memo}}</div>

          <v-list v-show="contact.type !== 'GRP'" two-line max-width="25em">
            <h4>Pledges</h4>
            <v-list-item v-for="(item, i) in pledges" :key="i">
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.description }}
                </v-list-item-title>
                <v-list-item-subtitle>
                  {{ formatMoney(item.amount) }} on
                  {{ formatDate(item.date_) }}
                  {{ electionFilter(item.elekey) }}
                  <br/>
                  Balance: {{ formatMoney(item.total) }}
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action v-if="allowPledgeEditing">
                <accessible-button
                    :to="{name: 'ORCA.fund.pledge-cancel', params: {pledge_id: item.trankeygen_id}}"
                    small
                    button-tooltip="Pledge Cancellation"
                >
                  <v-icon>u_turn_left</v-icon>
                </accessible-button>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>

    <v-card v-if="contact.type === 'CPL'&& members && members.length" flat>
      <v-card-title>
        Couple contacts
      </v-card-title>
      <v-card-text>
        <div v-for="c in members" :key="c.trankeygen_id">
          <router-link :to="{name: 'orca.fund.contact', params: {contact_id: c.trankeygen_id}}">
            {{c.name}}
          </router-link>
        </div>
      </v-card-text>
    </v-card>
    <v-card v-if="contact.type === 'GRP'" style="margin-bottom: 1em">
      <v-card-title>
        <div>
          Group members
          <accessible-button
              button-tooltip="Add members"
              icon
              v-if="version >= 1.500"
              style="margin-left: 1em"
              @click="showAddMembersDialog = true">
            <v-icon>add</v-icon>
          </accessible-button>
          <accessible-button
              button-tooltip="Remove members"
              icon
              v-if="version >= 1.500"
              style="margin-left: .25em"
              @click="showRemoveMembersDialog = true">
            <v-icon>remove</v-icon>
          </accessible-button>
        </div>
      </v-card-title>
      <v-data-table
          :items="members"
          :single-expand="true"
          item-key="trankeygen_id"
          :headers="headers"
          :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
      >
        <template v-slot:item.name="{item}">
          <router-link :to="{name: 'orca.fund.contact', params: {contact_id: item.trankeygen_id}}">
            {{item.name}}
          </router-link>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="showAddMembersDialog">
      <v-card>
        <v-card-title>Add member(s) to the group</v-card-title>
        <v-card-text>
            Please select contacts to add to your group. Selecting the contact will add to a running list on the right.
          <v-row style="margin-top: 1em">
            <v-col>
              <contact-select v-model="memberContactId" type="GRP" @contact-selected="onContactSelected"/>
            </v-col>
            <v-col>
              <v-data-table
                  :items="newMembers"
                  :single-expand="true"
                  item-key="trankeygen_id"
                  :headers="headers"
                  dense
                  :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
              >
                <template v-slot:item.actions="{ item }">
                  <v-btn tabindex="0" @click="removeMemberFromList(item)">
                    <v-icon>remove</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="saveNewMembers" color="primary">Save</v-btn>
          <v-btn tabindex="0" @click="cancelAddMember">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showRemoveMembersDialog">
      <v-card>
        <v-card-title>Remove member(s) to the group</v-card-title>
        <v-card-text>
          Please select contacts to remove from your group.
          <v-row style="margin-top: 1em">
            <v-col>
              <v-data-table
                  :items="members"
                  v-model="newMembers"
                  :single-expand="true"
                  item-key="trankeygen_id"
                  :headers="headers"
                  show-select
                  dense
                  :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="deleteGroupMember" color="primary">Delete</v-btn>
          <v-btn tabindex="0" @click="showRemoveMembersDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card>
      <v-card-title>
        Transactions
      </v-card-title>
      <v-card-text>
        <transaction-search @transaction-delete="load" no-search :parameters="{contid: contact.trankeygen_id}" v-if="contact.trankeygen_id"></transaction-search>
      </v-card-text>
    </v-card>
    <v-dialog v-model="showDeleteContact" width="30em">
      <v-card v-if="!preventContactsDeletion">
        <v-card-title>Confirm delete</v-card-title>
        <v-card-text class="my-8">
          Are you sure you want to delete {{ contact.name }} ?
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="deleteContact">
            <v-icon>check</v-icon>
            Ok
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteContact=false">
            <v-icon>cancel</v-icon>
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card v-else>
        <v-card-title class="primary white--text">
          Delete contact
        </v-card-title>
        <v-card-text class="my-8">
          {{ reasonToBlockDeletion }}
        </v-card-text>
        <v-card-actions @click="showDeleteContact=false">
          <v-btn tabindex="0" color="primary">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </campaign-page>
</template>

<script>
import ORCA from "@/ORCABridge";
import CampaignPage from "@/orca/CampaignPage";
import {orcaDataService} from "@/OrcaDataService";
import TransactionSearch from "../TransactionSearch";
import {useContact} from "./Contact";
import filters from "@/filters";
import ContactSelect from "@/orca/contacts/ContactSelect";
import {useOrcaFund} from "@/orca/fund/Fund";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "ContactView",
  components: {AccessibleButton, ContactSelect, TransactionSearch, CampaignPage},
  data() {
    return {
      showDeleteContact: false,
      preventContactsDeletion: true,
      reasonToBlockDeletion: '',
      contact: {},
      groups: [],
      couples: [],
      members: [],
      transactions: [],
      pledges: [],
      headers: [
        {text: "Name", value: "name"},
        {text: "Street", value: "street"},
        {text: "City", value: "city"},
        {text: "", value: "actions"},
      ],
      showAddMembersDialog: false,
      showRemoveMembersDialog: false,
      newMembers: [],
      memberContactId: 0,
    }
  },
  setup() {
    const {contactActions} = useContact();
    const {fund} = useOrcaFund();
    return {contactActions, fund};
  },
  methods: {
    ...filters.filters,
    load() {
      this.getContact(this.$route.params.contact_id);
      this.loadPledges();
    },
    loadPledges() {
      const fund_id = this.$route.params.fund_id;
      const cont_id = this.$route.params.contact_id;
      if(fund_id) {
        orcaDataService.getFundData(fund_id, 'get-pledges-received', {
          fund_id: fund_id, contid: cont_id }).then(result => {
          this.pledges = result['get-pledges-received'];
        })
      }
    },
    getContact(contact_id) {
      orcaDataService.getFundData(this.$route.params.fund_id, 'contact-transactions', {contact_id})
          .then(result => {
            if (result.success) {
              this.contact = result.contact;
              this.members = result.members ?? [];
              this.couples = result.couples ?? [];
              this.groups = result.groups ?? [];
              this.transactions = result.transactions;

              if (this.contact !== null) {
                this.validateContactDeletion()
              }

              if(this.members.length === 0) {
                this.showAddMembersDialog = !!this.$route.query.addMembers;
              }
            }
          });
    },
    showDeleteContactDialog(){
      this.validateContactDeletion();
      this.showDeleteContact = true;
    },
    /**
     * Important: **** Order matters.
     * Example. If an individual is type='CAN' and is a COUPLES CONTACT.
     * Displaying the couples message before the candidate message creates - confusing user experience.
     * 1st message: Cannot delete contact associated with a couples contact. They correct this and get 2nd message.
     * 2nd message: Cannot delete the candidate of this campaign. They should be flipped.
     */
    validateContactDeletion(){
      const contactHasTransactions = (this.transactions && this.transactions.length > 0 || this.contact.pagg > 0 || this.contact.gagg > 0);
      const contactHasCPL = (this.couples.length > 0);
      const contactIsCandidate = (this.contact.type === 'CAN');
      const contactIsInGroup = (this.groups.length > 0);

      // prevents deletion
      this.preventContactsDeletion = (contactHasTransactions || contactHasCPL || contactIsCandidate || contactIsInGroup);

      // Prevent delete messaging
      if (contactIsCandidate) {
        this.reasonToBlockDeletion = 'Cannot delete the candidate of this campaign.'
      }
      else if (contactHasTransactions) {
        this.reasonToBlockDeletion = 'Cannot delete contact containing transactions (e.g. loans, contributions, expenditures).'
      }
      else if (contactIsInGroup) {
        this.reasonToBlockDeletion = 'Cannot delete contact associated with a group'
      }
      else if (contactHasCPL) {
        this.reasonToBlockDeletion = 'Cannot delete contact associated with a couples contact.';
      }
    },
    editContact(contact_id) {
      this.$router.push({name: "ORCA.fund.edit-contact", params: { id: contact_id}});
    },
    deleteContact() {
      this.showDeleteContact = false;
      this.contactActions.deleteContact(this.contact).then( () => {
        if (window.history.length > 0) {
          this.$router.go(-1);
        }
        else {
          this.$router.replace({name: 'ORCA.fund.contact-search'});
        }
      });
    },
    onContactSelected(contact) {
        if (!this.newMembers.find((c) => contact.trankeygen_id === c.trankeygen_id)) {
          this.newMembers.push(JSON.parse(JSON.stringify(contact)));
        } else {
          alert("This contact is already in the list!");
        }
      this.$nextTick(() => {
        this.memberContactId = null;
      })
    },
    removeMemberFromList(item) {
      this.newMembers.splice(this.newMembers.indexOf(item), 1);
    },
    async saveNewMembers() {
      const add = this.newMembers.map((e)=> e.trankeygen_id);
      await orcaDataService.postFundObject(this.fund.fund_id, 'modify-group-members', {trankeygen_id:this.contact.trankeygen_id, add});
      this.newMembers = [];
      this.memberContactId = null;
      this.load();
      this.showAddMembersDialog = false;
    },
    cancelAddMember() {
      this.showAddMembersDialog = false;
      this.newMembers = [];
      this.load();
    },
    async deleteGroupMember() {
      const remove = this.newMembers.map((e)=> e.trankeygen_id)
      await orcaDataService.postFundObject(this.fund.fund_id, 'modify-group-members', {trankeygen_id:this.contact.trankeygen_id, remove})
      this.newMembers = [];
      this.memberContactId = 0;
      this.load();
      this.showRemoveMembersDialog = false;
    },
    async recalculateContactAggregates() {
      await orcaDataService.postFundObject(this.fund.fund_id, 'recalculate-contact-aggregates', {'contact_id': this.contact.trankeygen_id});
      this.load();
    }
  },
  computed: {
    version() {
      return ORCA.version;
    },
    allowPledgeEditing() {
      return ORCA.version >= 1.490
    },
  },
  created() {
    ORCA.$on('contacts.change', this.load);
    this.load();
  },
  beforeDestroy() {
    ORCA.$off('contacts.change', this.load);
  },
  watch: {
    '$route.params.contact_id': function () {
      this.getContact(this.$route.params.contact_id);
    },
  }
}
</script>
