<template>
  <div class="contactSelect">
    <v-autocomplete
        dense
        item-text="name"
        item-value="trankeygen_id"
        ref="contact_control"
        :autofocus="autofocus"
        :filter="similarityFilter"
        :items="filteredContacts"
        :label="label"
        :readonly="disableContactSelect"
        :rules="contactValidations"
        v-model="contact_id"
        @blur="onBlur"
        @change="onChange()"
        @update:search-input="onSearchInput"
    >
      <template v-slot:item="data">
        <v-list-item-content>
          <v-list-item-title>{{data.item.name}}</v-list-item-title>
          <v-list-item-subtitle>{{data.item.street}} {{data.item.city}} {{data.item.state}}</v-list-item-subtitle>
          <v-list-item-subtitle v-if="data.item.occupation">Occupation: {{data.item.occupation}} </v-list-item-subtitle>
          <v-list-item-subtitle v-if="data.item.employername">Employer: {{data.item.employername}} {{data.item.employercity}} {{ data.item.employerstate}}</v-list-item-subtitle>
        </v-list-item-content>
          <v-list-item-icon v-if="data.item.type === 'CAN'">
            <v-tooltip bottom>
              <template v-slot:activator="{on, attrs}">
                <v-icon v-bind="attrs" v-on="on">person</v-icon>
              </template>
              <span>Candidate</span>
            </v-tooltip>
          </v-list-item-icon>
      </template>
      <v-divider></v-divider>
      <template v-slot:append-item>
        <v-list-item-action>
          <v-btn
              dense
              @click="openAddContactDialog()"
              aria-label="Create new contact"
          >
            <v-icon>add</v-icon>
            Create new contact
          </v-btn>
        </v-list-item-action>
      </template>
    </v-autocomplete>

    <v-dialog v-model="addNewContactDialog" persistent>
        <EditContact v-if="addNewContactDialog" :default-type="
        contactType" :default-name="newName" :default-address="defaultAddress" @saved="onContactAdded" @cancel="closeContactAdd"></EditContact>
    </v-dialog>

    <v-dialog v-model="showAddNewContactDialog" width="50em" persistent>
      <v-card >
        <v-card-title>Create new contact</v-card-title>
        <v-form  ref="newContactForm" lazy-validation @submit.prevent="createContact()">
        <v-card-text>
           <p>Choose the type of contact you wish to add and you will be prompted for additional details: </p>
          <v-radio-group v-model="contactsSelection">
            <v-radio value="individualContacts" label="Individual"></v-radio>
            <v-radio value="couplesContacts" label="Couple"></v-radio>
            <v-radio value="othersContacts" label="Other (e.g business or committee)"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
        <v-btn tabindex="0" color="primary" type="submit" :disabled="!contactsSelection">OK</v-btn>
        <v-btn tabindex="0" @click="cancelContactAdd()">Cancel</v-btn>
        </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showEditContactDialog" max-width="60em" persistent>
      <EditContact ref="EditContact"
                   v-model = "contact_id"
                   :showValidationWarnings = "false"
                   :default-address="{defaultAddress}"
                   @cancel="cancelEditContactDialog"
                   @saved="onEditNewContact">
      </EditContact>
    </v-dialog>

    <v-dialog v-model="errorsDialog" max-width="50em">
      <v-card>
        <v-card-title>
          Transaction warnings
        </v-card-title>
        <v-card-text>
          <div v-if="contactAddressRequired">
            <v-alert v-if="requireAddress" color="warning" border="left">Contact address information is missing.
            </v-alert>
            <v-alert v-else color="warning" border="left">Contact address information is missing. This is required when aggregate contributions exceed ${{fund.thresholds.itemized_contributions}}.
            </v-alert>
          </div>
          <div v-if="occupationRequired">
            <v-alert color="warning" border="left">Occupation is required if contributions totals for the primary or general election are greater than ${{fund.thresholds.report_occupation}}.
            </v-alert>
          </div>
          <div v-if="employerAddressRequired">
            <v-alert color="warning" border="left">Employer address information is missing. This is required when aggregate contributions exceed ${{fund.thresholds.report_occupation}}.
            </v-alert>
          </div>
          <div v-if="contactOverLimit">
            <slot name="limitwarning" v-bind:contact="contact" v-bind:limit="limit" >
              <v-alert color="warning" border="left">{{contact.name}} is over contribution limit of {{formatMoney(limit.amount)}}.</v-alert>
            </slot>
          </div>
          <p>Do you wish to ignore warnings and continue?</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" v-if="employerAddressRequired || contactAddressRequired" @click="showEditContactDialog = true">Edit Contact</v-btn>
          <v-btn tabindex="0" @click="doValidationCancel">Cancel</v-btn>
          <v-btn tabindex="0" @click="onCloseErrorsDialog()">Ignore warning and proceed</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import {useOrcaFund} from "@/orca/fund/Fund";
import {useContactList} from "./ContactList";
import {computed} from "vue";
import {useContact} from "./Contact";
import filters from "@/filters";
import formValidations from "@/formValidations";

export default {
  name: "ContactSelect",
  props: {
    value: {
      type: Number,
    },
    label: {
      type: String
    },
    type: {
      type: String
    },
    amount: {
      type: Number
    },
    testEmpAddress: {
      type: Boolean,
      default: false
    },
    requireAddress: {
      type: Boolean,
      default: false
    },
    election: {
      type: Number,
    },
    defaultAddress: {
      type: Object,
      default: null
    },
    disableContactSelect: {
      type: Boolean,
      default: false
    },
    allowAnotherContact: {
      type: Boolean,
      default: false
    },
    optional: {
      type: Boolean,
      default: false,
    },
    autofocus: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: () => []
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    const {contacts, contactListActions} = useContactList();
    const {contact, contactActions, occupationsList} = useContact();
    const orcaVersion = computed(() => ORCA.version);
    return {fund, contact, contacts, contactActions, contactListActions, orcaVersion, occupationsList}
  },

  // This syntax is required when doing a recursive component
  components: {EditContact: () => import('./EditContact.vue') },
  data() {
    return {
      paggCents: 0,
      gaggCents: 0,
      limitCents: 0,
      amountCents: 0,
      errorsDialog: false,
      contact_id: 0,
      requestedNewContact: false,
      contactsSelection: '',
      search: "",
      showAddNewContactDialog: false,
      addNewContactDialog: false,
      isValid: false,
      contactType: "",
      newName: "",
      previousContact: {},
      showEditContactDialog: false,
      isEmployed: false,
      validations: {
         ...formValidations
      },
      limit: {},
    }
  },
  created() {
    ORCA.$on('contacts.add', this.onContactAdd);
    this.contact_id = this.value;
    if (this.type === 'IND') {
      this.contactsSelection = 'individualContacts';
    }
  },
  watch: {
    value: function(value)  {
      if (value) {
        this.previousContact = this.contact;
        this.contact_id = value;
        this.getSelectedContact();
      } else {
        this.contactActions.newContact();
        this.previousContact = {};
        this.contact_id = null;
        this.search = null;
      }
    },
    amount(value) {
      this.amountCents = Math.round(parseFloat(value ? value : 0) * 100.0 );
    },
  },
  computed: {
    contactValidations() {
      return this.optional ? []: [this.validations.required, ...this.rules];
    },
    totalAggCents() {
      return this.paggCents + this.gaggCents + this.amountCents;
    },
    contactAddressRequired() {
      if(this.contact.type === 'CAN'){
        return false
      }else{
        return (!this.contact.street || !this.contact.city || !this.contact.state || !this.contact.zip)
                && (this.totalAggCents > this.fund.thresholds.itemized_contributions * 100 ||  this.requireAddress === true)
      }
    },
    occupationRequired() {
      return !this.contact.occupation && this.contact.type === 'IND' && this.testEmpAddress && this.totalAggCents > this.fund.thresholds.report_occupation * 100;
    },
    employerAddressRequired() {
      return (!this.contact.employercity || !this.contact.employerstate)
          && this.isEmployed && this.contact.type === 'IND' && this.testEmpAddress && this.totalAggCents > this.fund.thresholds.report_occupation * 100;
    },
    contactOverLimit(){
      if (this.fund.has_limits && this.limit) {
        if (this.election === 0) {
          return (this.paggCents + this.amountCents) > this.limitCents;
        }
        else  {
          return (this.gaggCents + this.amountCents) > this.limitCents;
        }
      }
      else {
        return false;
      }
    },
    filteredContacts() {

      switch(this.type) {
        case ('IND'):
          return this.contacts.filter(c =>c.type === 'IND');
        case ('GRP'):
          return this.contacts.filter(c => (c.type !== 'CPL' && c.type !== 'GRP'));
        case ('!CAN'):
          return this.contacts.filter(c =>(c.type !== 'CAN' && c.type !== 'GRP'));
        default:
          return this.contacts.filter(c => (c.type !== 'GRP'));
      }
    },
  },
  beforeDestroy() {
    ORCA.$off('contacts.add', this.onContactAdd);
  },
  methods: {
    ...filters.filters,
    focus() {
      this.$refs.contact_control.focus();
    },
    onSearchInput(s) {
      if (s) {
        this.search = s;
      }
      if(s === '') {
        this.contact_id = 0;
        this.$emit('input', this.contact_id);
      }
    },
    entryFocus() {
      setTimeout(() => this.$refs.contact_control.focus(), 200);
    },
    onBlur() {
      if (!this.contact_id && this.search) {
        this.openAddContactDialog();
      }
    },
    // This listener handles contacts added through ORCA in versions < 1.460.
    onContactAdd(addedContact) {
        let id = addedContact.trankeygen_id;
        let contact = this.contacts.find((c) => Number.parseInt(c.trankeygen_id) === id);
        if (contact && this.requestedNewContact) {
          this.previousContact = this.contact;
          Object.assign(this.contact, contact);
          this.contact_id = contact.trankeygen_id;
          this.$emit('input', contact.trangkeygen_id);
          this.$emit('contact-selected', contact, this.previousContact);
        }
        this.requestedNewContact = false;
    },
    // This one handles new contacts added in ORCA >= 1.460
    onContactAdded(event) {
      Object.assign(this.contact, event.contact);
      this.closeContactAdd();
      this.contact_id = event.contact.trankeygen_id;
      this.$emit('input', event.contact.trankeygen_id);
      this.$emit('contact-selected', event.contact, this.previousContact);

    },
     onChange() {
      this.getSelectedContact().then(() => {
        this.requestedNewContact = false;
        this.isValid = false;
        this.$emit('input', this.contact_id);
        this.previousContact = this.contact;
        this.contact = this.contacts.find((c) => Number.parseInt(c.trankeygen_id)=== Number.parseInt(this.contact_id));
        this.$emit('contact-selected', this.contact, this.previousContact);
      })
    },
    createContact() {
      if (this.contactsSelection.length > 0) {
        this.requestedNewContact = true;
        this.showAddNewContactDialog = false;
        if (this.orcaVersion >= 1.450) {
          this.contactType = "";
          if (this.contactsSelection === "individualContacts") {
            this.contactType = "IND"
          }
          if (this.contactsSelection === "couplesContacts") {
            this.contactType = "CPL"
          }
          this.addNewContactDialog = true;
        } else {
          ORCA.executeMenu(this.contactsSelection);
          this.contactsSelection = "";
        }
      }
    },
    openAddContactDialog() {
      this.newName = this.search;
      if (this.contactsSelection.length > 0) {
        this.createContact();
      } else {
        this.showAddNewContactDialog = true;
      }
    },
    cancelContactAdd() {
      this.showAddNewContactDialog = false;
      this.contactsSelection = '';
    },
    cancelEditContactDialog() {
      this.showEditContactDialog = false;
    },
    onCloseErrorsDialog() {
      this.errorsDialog=false;
      this.isValid=true;
      this.$emit('valid-contact',  this.isValid);
    },
    doValidationCancel() {
      this.errorsDialog = false;
    },
    closeContactAdd() {
      this.addNewContactDialog = false;
      this.contactsSelection = '';
    },
    async onEditNewContact() {
      this.errorsDialog = false;
      this.showEditContactDialog = false;
      this.contactSelectSoftValidation().then(() => {
        if (this.isValid) {
          this.$emit('valid-contact',  this.isValid);
        }
      });
    },
    async contactSelectSoftValidation() {
      await this.getSelectedContact();

      if(this.contact.type === "CAN") {
        this.isValid = true;
        return this.isValid;
      }

      this.isEmployed = true;
      const itemfound = this.occupationsList.find(o => o.label.toUpperCase() === this.contact.occupation?.toUpperCase())
      if (itemfound) {
        this.isEmployed = itemfound.employed;
      }

      this.limitCents = 0;
      if(this.fund.has_limits) {
        this.limit = this.fund.limits?.find(l => l.type_code === this.contact.type);
        if (this.limit) {
          this.limitCents = Math.round(parseFloat(this.limit.amount) * 100.0);
        }
      }

      this.isValid = false;
      if (this.contactAddressRequired
          || this.employerAddressRequired
          || this.occupationRequired
          || this.contactOverLimit) {
        this.errorsDialog = true;
        this.isValid = false;
      }
      else {
        this.errorsDialog = false;
        this.isValid = true;
      }
      return this.isValid;
    },
    async getSelectedContact() {
      if (this.contact_id) {
        this.contact = await this.contactActions.loadContact(this.contact_id);
        this.paggCents = Math.round(parseFloat(this.contact.pagg ?? 0) * 100.0);
        this.gaggCents = Math.round(parseFloat(this.contact.gagg ?? 0) * 100.0);
      } else {
        this.paggCents = 0;
        this.gaggCents = 0;
      }
    }
  }
}
</script>
