<template>
  <CampaignPage title="Duplicate contact analysis" return-route="ORCA.fund.contact-search" @load="initPage">

  <div class="DuplicateContactAnalysis">
    <v-card>
      <v-card-title>
      </v-card-title>

      <v-card-text>
        <v-data-table
          :items="duplicatesList"
          v-model="selected"
          :headers="[
          {text: 'Name', value: 'duplicate_name'},
          {text: 'City', value: 'duplicate_city'},
          {text: 'Duplicate of', value: 'contact_name'},
          {text: 'City', value: 'contact_city'},
          {text: 'Actions', value: 'actions'}
          ]"
          :footer-props="{'items-per-page-options':[25, 50, 100, 1000]}"
          :search="search"
          item-key="person_id"
          contact_id
          >
          <template v-slot:item.actions="{item}">
            <td>
              <v-btn tabindex="0" small color="yellow"
                     @click="onClickCompareDuplicates(item)"
              >
                <v-icon title="Compare">compare_arrows</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>

        <v-dialog v-model="comparison_modal"
                  persistent
                  max-width="80em"

        >
          <v-card>
            <v-card-title>
              Merge Contacts
            </v-card-title>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 md6>
                    <ContactInformation  :contact_id="this.comparisonItem.contact_id" :type="'target'" ref="targetContactInfo" label="Existing contact"/>
                    <p>existing contact</p>
                </v-flex>
                <v-flex xs12 md6>
                  <ContactInformation :contact_id ="this.comparisonItem.duplicate_id" :type="'duplicate'" ref="duplicateContactInfo" label="New contact"/>
                  <p>new contact</p>
                </v-flex>
              </v-layout>

              <v-radio-group v-model="sameContact">
                <v-radio :value="true" label="Yes, these are the same contact, merge them"></v-radio>
                <v-radio :value="false" label="No, these are different contacts"></v-radio>
              </v-radio-group>
              <p>Any contributions and expenses will be moved from the new contact to the existing one.  Name and contact
                information from the existing contact will be retained. </p>
            </v-card-text>
            <v-card-actions>
              <v-btn tabindex="0" color="primary" @click="processDuplicatesSelection">Merge</v-btn>
              <v-btn tabindex="0" @click="comparison_modal = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-text>
    </v-card>
  </div>
  </CampaignPage>
</template>

<script>
import {orcaDataService} from "@/OrcaDataService";
import ContactInformation from "./ContactInformation"
import {useOrcaFund} from "@/orca/fund/Fund";
import CampaignPage from "../CampaignPage";
import ORCA from "@/ORCABridge";


export default {
  name: "DuplicateContactAnalysis",
  components: {
    ContactInformation, CampaignPage
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  data() {
    return {
      comparisonItem: {
        contact_id: '',
        duplicate_id: '',
        pageTitle: ''
      },
      comparison_modal: false,
      sameContact: true,
      duplicatesList: [],
      search: "",
      selected: [],
      jsonString: ''
    }
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    initPage() {
      this.getDuplicatesList();
    },
    processDuplicatesSelection() {
      this.comparison_modal = false;
      let contactsData = {
        contact_id: this.comparisonItem.contact_id,
        duplicate_id: this.comparisonItem.duplicate_id,
        same_contact: this.sameContact
      }
      let orcaContactsData = {
        contact_id: this.comparisonItem.contact_orca_id,
        duplicate_id: this.comparisonItem.duplicate_orca_id,
        same_contact: this.sameContact
      }
      orcaDataService.postFundObject(this.fund.fund_id,"merge-contacts",contactsData).then(() => {
        if (this.sameContact) {
          ORCA.mergeContacts(orcaContactsData);
        }
        this.closeClickCompareDuplicates()
        this.initPage();
    }).catch(r => {
        orcaDataService.handleError(r);
      });

    },
    getDuplicatesList() {
      orcaDataService.getFundData(this.fund.fund_id, "get-duplicate-contacts").then(data => {
        this.duplicatesList  = data['get-duplicate-contacts'];
      });
    },
    onClickCompareDuplicates(item) {
      this.comparisonItem = item;
      this.comparison_modal = true;
    },
    closeClickCompareDuplicates() {
      this.comparison_modal = false;
      this.sameContact = null;
    },
  }
}
</script>