<template>
  <CampaignPage :title="pageTitle" return-route="ORCA.fund.contact-search" @load="initPage" ref="page">
    <edit-contact v-if="fund.fund_id && !showAddNewContactDialog" allow-another-contact ref="editContact" :default-type="defaultType" v-model="contact_id" :default-name="defaultName" @cancel="closeContactPage" @saved="closeContactPage"/>
    <v-dialog v-model="showAddNewContactDialog" width="40em" persistent>
      <v-card >
        <v-card-title>Create new contact</v-card-title>
        <v-form  ref="newContactForm" lazy-validation @submit.prevent="createContact()">
          <v-card-text>
            <p>Choose the type of contact you wish to add and you will be prompted for additional details:</p>
            <v-radio-group v-model="defaultType">
              <v-radio value="IND" label="Individual"></v-radio>
              <v-radio value="CPL" label="Couple"></v-radio>
              <v-radio v-if="fund.isPac" value="GRP" label="Group"></v-radio>
              <v-radio value="OTHER" label="Other (e.g business or committee)"></v-radio>
            </v-radio-group>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="!defaultType">OK</v-btn>
            <v-btn tabindex="0" @click="cancelContactAdd()">Cancel</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </CampaignPage>
</template>

<script>
import CampaignPage from "../CampaignPage";
import EditContact from "./EditContact";
import {useOrcaFund} from "../fund/Fund";
import {ref} from "vue";
import {useContact} from "@/orca/contacts/Contact";
import filters from "@/filters";

export default {
  name: "EditContactPage",
  components: {EditContact, CampaignPage},
  setup() {
     const {fund} = useOrcaFund();
     const contact_id = ref(0);
     const defaultName = ref("");
     const defaultType = ref("");
     const showAddNewContactDialog = ref(true);
     const {contact} = useContact();
     return {
       fund,
       contact_id,
       defaultName,
       defaultType,
       showAddNewContactDialog,
       contact,
     };
  },
  created() {
    this.initPage();
  },
  computed: {
    pageTitle() {
      return this.contact_id ? "Edit Contact" : this.describeContactType(this.defaultType);
    },
  },
  watch: {
    $route() {
      this.initPage();
    },
  },
  methods: {
    ...filters.filters,
    createContact() {
      if (this.defaultType.toString() === "OTHER") {
        this.defaultType = "";
      }
      this.showAddNewContactDialog = false;
    },
    initPage() {
      this.contact_id = parseInt(this.$route.params?.id ?? "0");
      this.showAddNewContactDialog = !this.contact_id;
      this.defaultName = this.$route.query?.name;
    },
    cancelContactAdd() {
      this.showAddNewContactDialog = false;
      this.contact_id = null;
      this.$refs.page.navigateBack();
    },
    closeContactPage(event) {
      let newOrModified = !this.$route.params?.id;
      if(event.addAnother){
        this.contact_id = null;
        this.showAddNewContactDialog = true;
      }
      else if(event.contact.type === 'GRP') {
        if (this.contact_id && newOrModified) {
            const id = parseInt(this.contact_id);
            this.$router.replace({
              name: 'orca.fund.contact',
              params: {contact_id: id},
              query: {addMembers: newOrModified}
            });
        } else {
          this.$refs.page.navigateBack();
        }
      }
      else {
          this.$refs.page.navigateBack();
        }
      },
    },

}
</script>

<style scoped>

</style>