<template>
  <div class="EditContact">
    <v-form max-width="1100" ref="contactForm" lazy-validation @submit.prevent="editContactSoftValidation()">
    <v-card flat>
      <!-- AllowAnotherContact being false implies we are in the page and not the popup-->
      <v-card-title v-if="!allowAnotherContact">
        {{describeContactType(this.defaultType)}}
      </v-card-title>
      <v-card-text>
        <v-row dense  v-if="contact.type === 'IND'">
          <v-col v-if="contact.type !== 'GRP'" md="1" lg="1" cols="12">
              <v-text-field
                  v-model="contact.prefix"
                  label="Prefix"
                  type="Text"
                  maxlength=5
              ></v-text-field>
          </v-col>

          <v-col md="4" lg="4" cols="12">
              <v-text-field
                  v-model="contact.firstname"
                  ref="firstname"
                  label="First name"
                  type="Text"
                  :rules="[validations.required]"
                  maxlength=50
              ></v-text-field>
          </v-col>

          <v-col md="1" lg="1" cols="12">
              <v-text-field
                  v-model="contact.middleinitial"
                  label="Initial"
                  type="Text"
                  maxlength=10
              ></v-text-field>
          </v-col>

          <v-col md="5" lg="3" cols="12">
              <v-text-field
                  v-model="contact.lastname"
                  ref="lastname"
                  label="Last name"
                  type="Text"
                  maxlength=50
              ></v-text-field>
          </v-col>

          <v-col md="1" lg="1" cols="12">
              <v-text-field
                  v-model="contact.suffix"
                  label="Suffix"
                  type="Text"
                  maxlength=5
              ></v-text-field>
          </v-col>
        </v-row>

        <v-text-field v-else
            v-model="contact.name"
            ref="name"
            label="Name"
            type="Text"
            :rules="[validations.requireString]"
            maxlength=140
        ></v-text-field>

        <v-select v-if="allowTypeSelection" ref="type" :items="filteredTypes" :rules="[validations.required]" item-text="text" item-value="value" label="Contact type" v-model="contact.type"></v-select>
        <div v-if="contact.type !== 'GRP'">
        <v-text-field
            ref="address"
            v-model="contact.street"
            label="Street"
            type="Text"
            maxlength=100
            v-on:blur="setDefaultState"
        ></v-text-field>

                <v-row dense>
                  <v-col md="6" lg="3" cols="12">
                    <v-text-field
                        v-model="contact.city"
                        label="City"
                        type="Text"
                        maxlength=100
                    ></v-text-field>
                  </v-col>
                  <v-col md="2" lg="3" cols="12">
                    <v-combobox
                        v-model.trim="contact.state"
                        :items="states"
                        label="State"
                        type="Text"
                        :rules="[validations.validState]"
                    >
                    </v-combobox>
                  </v-col>
                  <v-col md="4" lg="3" cols="12">
                    <v-text-field
                        v-model="contact.zip"
                        label="Zip"
                        type="Text"
                        maxlength=50
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-text-field
                    v-model="contact.phone"
                    label="Telephone"
                    type="Text"
                    maxlength=50
                ></v-text-field>

                <v-text-field
                    v-model="contact.email"
                    label="Email"
                    type="email"
                    maxlength=50
                ></v-text-field>
                </div>

        <v-row>
          <v-col md="6" lg="6" cols="12">
            <ContactSelect v-if="contact.type==='CPL'"
                           label="Contact One"
                           :rules="[validations.required, validations.differentContact1]"
                           v-model="contact.contact1_id"
                           type="IND"
                           @contact-selected="setCoupleAddress"
                           :default-address="{street: contact.street, city: contact.city, state: contact.state, zip:contact.zip}"
            ></ContactSelect>
          </v-col>
          <v-col md="6" lg="6" cols="12">
            <ContactSelect v-if="contact.type==='CPL'"
                           label="Contact Two"
                           :rules="[validations.required, validations.differentContact2]"
                           v-model="contact.contact2_id"
                           type="IND"
                           :default-address="{street: contact.street, city: contact.city, state: contact.state, zip:contact.zip}"
            ></ContactSelect>
          </v-col>
        </v-row>
                  <v-combobox
                      v-if="contact.type==='IND'"
                      v-model="contact.occupation"
                      :items = occupationsList
                      label="Occupation"
                      item-text="label"
                      item-value="label"
                      @change = "selectedOccupation"
                  >
                  </v-combobox>

                  <v-text-field v-if="contact.type==='IND'"
                      v-model="contact.employername"
                      label="Employer name"
                      type="Text"
                      maxlength=110
                  ></v-text-field>

                  <v-text-field
                      v-if="contact.type==='IND' && contact.employerstreet"
                      v-model="contact.employerstreet"
                      label="Employer street"
                      type="Text"
                      maxlength=100
                      clearable
                      v-on:blur="setDefaultState"
                  ></v-text-field>

                  <v-row dense v-if="contact.type==='IND'">
                    <v-col md="6" lg="3" cols="12">
                      <v-text-field
                          v-model="contact.employercity"
                          label="Employer city"
                          type="Text"
                          maxlength=100
                          v-on:blur="setDefaultState"
                      ></v-text-field>
                    </v-col>
                    <v-col md="4" lg="3" cols="6">
                      <v-combobox
                          v-model.trim="contact.employerstate"
                          :items="states"
                          label="Employer state"
                          type="Text"
                          :rules="[validations.validState]"
                      >
                      </v-combobox>
                    </v-col>
                    <v-col md="4" lg="3" cols="6">
                      <v-text-field
                          v-if="contact.employerzip"
                          v-model="contact.employerzip"
                          label="Employer zip"
                          type="Text"
                          maxlength=50
                          clearable
                      ></v-text-field>
                    </v-col>
                  </v-row>
            <v-textarea
                v-model="contact.memo"
                label="Memo"
                ref="memo"
                maxlength=1000
                rows="3"
            ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-btn tabindex="0" v-if="allowAnotherContact" color="primary" type="submit" @click="addAnother=true" :disabled="disableEdit">Save & add new contact</v-btn>
          <v-btn tabindex="0" @click="closeContactForm">Cancel</v-btn>
        <v-spacer/>
        {{message}}
        </v-card-actions>
      </v-card>
    </v-form>

    <v-dialog v-model="errorsDialog" width="30em">
      <v-card>
        <v-card-title>
          Transaction warnings
        </v-card-title>
        <v-card-text>
          <div v-if="occupationRequired">
            <v-alert color="warning" border="left">Occupation is required if contributions totals for the primary or general election are greater than ${{fund.thresholds.report_occupation}}.
            </v-alert>
          </div>
          <div v-if="contactAddressRequired">
            <v-alert color="warning" border="left">Contact address fields are required if contributions totals for the primary or general election are greater than ${{fund.thresholds.itemized_contributions}}.
            </v-alert>
          </div>
          <div v-if="employerAddressRequired">
            <v-alert color="warning" border="left">Employer address fields are required if contributions totals for the primary or general election are greater than ${{fund.thresholds.report_occupation}}.
            </v-alert>
          </div>

          <p>Do you wish to ignore warnings and continue?</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="saveContact">Yes</v-btn>
          <v-btn tabindex="0" @click="errorsDialog=false">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="duplicatesDialog" max-width="60em">
      <v-card>
        <v-card-title>Found potential duplicates</v-card-title>
        <v-card-text>
          <p>Do you want to use one of these existing contacts or create a new one?</p>
          <v-row>
            <v-col cols="6">
              <v-radio-group v-model="selectedContact">
                <v-radio v-for="contact in duplicates" :key="contact.trankeygen_id" :value="contact.trankeygen_id">
                  <template v-slot:label>
                    <v-card min-width="100%">
                      <v-card-text>
                        {{contact.name}} <br/>
                        <address>
                          {{contact.street}} <br/>
                          {{contact.city}}, {{contact.state}}, {{contact.zip}}
                        </address>
                      </v-card-text>
                    </v-card>
                  </template>
                </v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="6">
              <v-card>
                <v-card-title>Entered contact data</v-card-title>
                <v-card-text>
                  <span>{{contact.name}}</span> <br/>
                  <address>
                    {{contact.street}} <br/>
                    {{contact.city}}, {{contact.state}}, {{contact.zip}}
                  </address>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="updateContact()" :disabled="!selectedContact">Use Existing</v-btn>
          <v-btn tabindex="0" @click="createNewContact()">Create New</v-btn>
          <v-btn tabindex="0" @click="cancelDuplicateSelection()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ORCA from "@/ORCABridge";
import {useOrcaFund} from "@/orca/fund/Fund";
import {useContactList} from "./ContactList";
import {useContact} from "./Contact";
import ContactSelect from "./ContactSelect";
import {orcaDataService} from "@/OrcaDataService";
import formValidations from "@/formValidations";
import filters from "@/filters";

export default {
  name: "EditContact",
  components: {
    ContactSelect
  },
  props: {
    defaultName : {
      type: String,
      default: ""
    },
    defaultType : {
      type: String,
      default: ""
    },
    defaultAddress: {
      type: Object,
      default: null
    },
    value: {
      type: Number
    },
    showValidationWarnings: {
      type: Boolean,
      default: true
    },
    allowAnotherContact: {
      type: Boolean,
      default: false
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    const {contact, contactTypes, contactActions, occupationsList} = useContact();
    const {contactListActions} = useContactList();
    return {fund, contact, contactTypes,contactActions, contactListActions, occupationsList }
  },
  created() {
    this.contact_id = this.value;
    this.reloadContact();
  },
  mounted() {
    this.entryFocus();
  },
  data() {
    return {
      message: '',
      contact_id: null,
      newContact: true,
      allowTypeSelection: false,
      isEmployed: true,
      employerAddressRequired: false,
      contactAddressRequired: false,
      occupationRequired: false,
      errorsDialog: false,
      duplicates: {},
      duplicatesDialog: false,
      duplicatesEvaluated: false,
      duplicatesChecked: false,
      selectedContact: null,
      addAnother: false,
      validations: {
        ...formValidations,
        differentContact1: v => !v || (v !== this.contact.contact2_id) || 'Cannot be the same contact',
        differentContact2: v => !v || (v !== this.contact.contact1_id) || 'Cannot be the same contact'
      },
      states: ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC",
        "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA",
        "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE",
        "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC",
        "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI", "WV", "WY"]
    }
  },
  watch: {
    value(new_value) {
      this.contact_id = new_value;
      this.reloadContact();
    },
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.450)
    },
    filteredTypes() {
      return this.contactTypes.filter(n => n.value !== "IND" && n.value !== "GRP" && n.value !== "CPL");
    },
  },
  methods: {
    ...filters.filters,
    focus() {

      switch (this.contact.type) {
        case 'GRP':
          if (this.contact.name === "") {
            this.$refs.name.focus();
          } else {
            this.$refs.memo.focus();
          }
          break;

        case 'CPL':
          if (this.contact.name === "") {
            this.$refs.name.focus();
          } else {
            this.$refs.address.focus();
          }
          break;

        case 'IND':
          if (this.contact.firstname === "") {
            this.$refs.firstname.focus();
          } else if (this.contact.lastname === "") {
            this.$refs.lastname.focus();
          } else {
            this.$refs.address.focus();
          }
          break;

          default:
            if (this.allowTypeSelection && !this.contact_id && this.$refs.type !== undefined) {
                this.$refs.type.focus();
            }
      }
    },
    entryFocus() {
      setTimeout(() => this.focus(), 200);
    },
    closeContactForm(){
      this.$emit('cancel', {contact: this.contact, addAnother: false})
    },
    setDefaultState(){
      if(this.contact.employerstate === ''){
        if(this.contact.employerstreet.length > 0){
          this.contact.employerstate = 'WA'
        }
        if(this.contact.employercity.length > 0){
          this.contact.employerstate = 'WA'
        }
      }
      if(this.contact.state === ''){
        if(this.contact.street.length > 0){
          this.contact.state = 'WA'
        }
      }
    },
    //Set couple contact address to first contact address when selected.
    setCoupleAddress(contact){
      if(this.contact.street === '' && this.contact.city === '' && this.contact.state === '' && this.contact.zip === ''){
        this.contact.street = contact.street
        this.contact.city = contact.city
        this.contact.state = contact.state
        this.contact.zip = contact.zip
      }
    },
    selectedOccupation(){
      if(this.contact.type === 'IND') {
        // Check if object or string. If object, the filer chose from the list. We verify this and then set
        // isEmployed to true or false, depending on what the isEmployed property of the object is set to.
        if (typeof this.contact.occupation === 'object' && this.contact.occupation !== null) {
          this.isEmployed = this.contact.occupation.employed;
          this.contact.occupation = this.contact.occupation.label;
        } else {
          // this is a string that the filer entered and we assume they are employed
          this.isEmployed = true;
          let itemfound = this.occupationsList.find(o => o.label.toUpperCase() === this.contact.occupation.toUpperCase())
          if (itemfound) {
            this.isEmployed = itemfound.employed;
          }
        }
      }
    },
    editContactSoftValidation() {
      if(!this.$refs.contactForm.validate()) {
        return;
      }
      if (this.showValidationWarnings) {
        // If primary or general aggregates are greater than $100 contact address is required.
        if ((this.contact.pagg > this.fund.thresholds.itemized_contributions || this.contact.gagg > this.fund.thresholds.itemized_contributions) && this.contact.type !== 'CAN') {
          this.contactAddressRequired = !this.contact.street || !this.contact.city || !this.contact.state || !this.contact.zip;
        }

        // If primary or general aggregates exceed $250, occupation and employer address information is required.
        if ((this.contact.pagg > this.fund.thresholds.report_occupation || this.contact.gagg > this.fund.thresholds.report_occupation) && this.contact.type !== 'CAN') {
          if (this.contact.occupation === '') {
            this.occupationRequired = true;
          }

          this.employerAddressRequired = this.isEmployed && this.contact.type === 'IND' && (!this.contact.employercity || !this.contact.employerstate);
        }

        if (this.employerAddressRequired === false && this.contactAddressRequired === false && this.occupationRequired === false) {
          if (!this.duplicatesChecked && !this.contact.trankeygen_id) {
            this.findDuplicateContacts();
          } else {
            this.saveContact();
          }
        } else {
          this.errorsDialog = true;
        }
      } else {
        this.saveContact();
      }
    },
    findDuplicateContacts() {
      let contactObj = {};
      if(this.contact.type === 'IND' && this.contact.firstname && this.contact.lastname){
        let fullnamestring = null;
        fullnamestring = (this.contact.firstname ?? '') + ' ' + (this.contact.middleinitial ?? '') + ' ' + (this.contact.lastname ?? '');
        fullnamestring = fullnamestring.replace(/\s+/g, ' ').trim()
        contactObj.name = fullnamestring;
        this.contact.name = fullnamestring;
      } else {
        contactObj.name = this.contact.name;
      }
      contactObj.street = this.contact.street;
      contactObj.city = this.contact.city;
      contactObj.state = this.contact.state;
      contactObj.zip = this.contact.zip;
      contactObj.type = this.contact.type;
      orcaDataService.getFundData(this.fund.fund_id, 'validate-contact', contactObj)
          .then(result => {
            if (result.success) {
              if (result.potential_duplicates.length > 0) {
                this.duplicates = result.potential_duplicates;
                this.duplicatesDialog = true;
              } else {
                this.saveContact();
              }
            }
          });
    },
    createNewContact() {
      this.duplicatesChecked = true;
      this.editContactSoftValidation();
    },
    cancelDuplicateSelection() {
      this.duplicatesDialog = false;
      this.selectedContact = null;
    },
    updateContact() {
      this.contact_id = this.selectedContact;
      this.$emit('input', this.contact_id);
      this.reloadContact();
      this.duplicatesDialog = false;
    },
    saveContact() {
      if(this.contact.type === 'IND'){
        let fullnamestring = null;
        fullnamestring = (this.contact.firstname ?? '') + ' ' + (this.contact.middleinitial ?? '') + ' ' + (this.contact.lastname ?? '');
        fullnamestring = fullnamestring.replace(/\s+/g, ' ').trim()
        this.contact.name = fullnamestring;
      }
      if (this.$refs.contactForm.validate()) {
        this.contactActions.saveContact().then(() => {
          this.message = "Saved contact";
          this.$emit('input', this.contact?.trankeygen_id);
          this.$emit('saved', {contact: this.contact, addAnother: this.addAnother});
          this.addAnother = false;
        });
      }
    },
    async reloadContact() {
      if (this.fund.fund_id) {
        if (this.contact_id) {
          await this.contactActions.loadContact(this.contact_id);
          this.allowTypeSelection = !(this.contact.type === "IND" || this.contact.type === "GRP" || this.contact.type === "CPL" || this.contact.type === "CAN");
          this.newContact = false;
          this.isEmployed = true;
          if (this.contact.type === 'IND') {
            let itemfound = this.occupationsList.find(o => o.label?.toUpperCase() === this.contact.occupation?.toUpperCase())
            if (itemfound) {
              this.isEmployed = itemfound.employed
            }
          }
        }
        else {
          await this.contactActions.newContact();
          this.isEmployed = true;
          this.newContact = true;
          this.contact.name = this.defaultName;
          if(this.defaultAddress){
            this.contact.street = this.defaultAddress.street
            this.contact.city = this.defaultAddress.city
            this.contact.state = this.defaultAddress.state
            this.contact.zip = this.defaultAddress.zip
          }
          if (this.defaultType === 'IND') {
            if (this.defaultName) {
              let [firstName, ...remainingName] = this.defaultName.split(' ');
              this.contact.firstname = firstName;
              this.contact.lastname = remainingName.join(' ');
            }
          }
          this.contact.type = this.defaultType;
          this.allowTypeSelection = !(this.contact.type === "IND" || this.contact.type === "GRP" || this.contact.type === "CPL");
        }
      }
    }
  }
}
</script>
