<template>
  <span>
    <v-btn tabindex="0" class="mr-2" @click="committeeDialog">
      <v-icon>touch_app</v-icon>
      CREATE NEW
    </v-btn>
    <v-dialog persistent v-model="addNewCommitteeDialog" width="unset">
      <v-card>
        <v-card-actions>
          <v-btn tabindex="0" absolute top right icon @click="closeCreateCommitteeDialog">
            <v-icon>cancel</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-title class="mr-10">Begin Campaign Registration</v-card-title>
        <v-card-text>
          <div v-if="branches[branch].component === 'md-input'">
            <p>
              <v-icon color="primary" class="pr-1">check</v-icon>
              <span v-if="pacType == 'pac'">{{
                  $t('message.label.' + (continuing ? 'continuing' : 'single_election'))
                }}</span>
              {{ $t('message.pac_type.' + pacType) }}
              <span v-if="bonafideType"> - {{ $t('message.label.' + bonafideType) }}</span>
              <span v-if="bonafideType"> {{ $t('message.label.' + (exempt ? '' : 'non_') + 'exempt') }}</span>
            </p>
          </div>

          <p id="branch_display">{{ $t(branchDisplay) }}
            <component v-if="infoDialog" :is="infoDialog"/>
          </p>

          <div v-if="branches[branch].component === 'md-button'">
            <div class="branch_options" v-if="branches[branch].options">
              <v-btn tabindex="0" v-for="(v, k) in branches[branch].options" :key="k" class="primary mr-4" @click="branching(v)">
                {{ k }}
              </v-btn>
            </div>
          </div>

          <div v-if="branches[branch].component === 'md-input'">
            <div class="branch_options">
              <v-text-field v-model="committeeName">
                {{ $t('message.label.' + committee_suffix + '_name') }}
              </v-text-field>
              <v-btn tabindex="0" class="primary"
                     @click="createShellCommittee()"
                     :disabled="committeeName.length <= 0"
              >
                {{ $t('message.label.add_' + committee_suffix) }}
              </v-btn>
            </div>
          </div>

          <div v-if="branches[branch].component === 'election-code'">
            <div class="branch_options">
              <v-select :items="filteredElections"
                        item-value="election_code"
                        item-text="title"
                        v-model="electionCode"
                        :placeholder=" $t('message.label.election') "
              >
                {{ electionCode }}
              </v-select>
              <v-btn tabindex="0" class="primary"
                     @click="branching(branches[branch].options.next)"
                     :disabled="!Boolean(electionCode)"
              >{{ $t('message.label.continue') }}
              </v-btn>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </span>

</template>

<script>
import {app} from "@/main";
import {mapState, mapActions} from 'vuex';
import InfoSurplusFunds from "@/info/SurplusFunds";
import InfoBonafideExempt from "@/info/BonafideExempt";

export default {
  name: "AddCommittee",
  components: {
    InfoBonafideExempt,
    InfoSurplusFunds
  },
  data() {
    return {
      branches: {
        candidate: {
          component: "md-button",
          display: "message.wizard.candidate",
          options: {
            yes: function () {
              return "surplus";
            },
            no: function () {
              return "party";
            }
          },
        },
        surplus: {
          component: "md-button",
          display: "message.wizard.surplus",
          options: {
            candidate: function (context) {
              context.pacType = 'candidate';
              return "candidate_election";
            },
            surplus: function (context) {
              context.pacType = 'surplus';
              return "surplus_name";
            }
          },
          help: "InfoSurplusFunds",
        },
        party: {
          component: "md-button",
          display: "message.wizard.party",
          options: {
            yes: function () {
              return "party_choice";
            },
            no: function (context) {
              context.pacType = 'pac';
              return "single_election";
            }
          },
        },
        party_choice: {
          component: "md-button",
          display: "message.wizard.party_choice",
          options: {
            "state": function (context) {
              context.pacType = 'bonafide';
              context.bonafideType = 'state';
              context.continuing = true;
              return "party_exempt";
            },
            "county": function (context) {
              context.pacType = 'bonafide';
              context.bonafideType = 'county';
              context.continuing = true;
              return "party_exempt";
            },
            "district": function (context) {
              context.pacType = 'bonafide';
              context.bonafideType = 'district';
              context.continuing = true;
              return "party_exempt";
            },
            "legislative caucus": function (context) {
              context.pacType = 'caucus';
              context.continuing = true;
              return "party_exempt";
            }
          },
        },
        party_exempt: {
          component: "md-button",
          display: "message.wizard.party_exempt",
          options: {
            "non-exempt": function () {
              return "committee_name";
            },
            "exempt": function (context) {
              context.exempt = true;
              return "committee_name";
            },
          },
          help: "InfoBonafideExempt",
        },
        single_election: {
          component: "md-button",
          display: "message.wizard.single_election",
          options: {
            yes: function (context) {
              context.continuing = false;
              return "committee_election"
            },
            no: function (context) {
              context.continuing = true;
              return "committee_name";
            }
          },
        },
        committee_election: {
          component: "election-code",
          display: "message.wizard.election",
          options: {
            next() {
              return "committee_name";
            }
          }
        },
        candidate_election: {
          component: "election-code",
          display: "message.wizard.election",
          options: {
            next() {
              return "candidate_name";
            }
          }
        },
        candidate_name: {
          component: "md-input",
          display: "message.wizard.candidate_name",
        },
        surplus_name: {
          component: "md-input",
          display: "message.wizard.surplus_name",
        },
        committee_name: {
          component: "md-input",
          display: "message.wizard.committee_name",
        }
      },
      branch: "candidate",
      display: "",
      committeeName: "",
      electionCode: "",
      pacType: "",
      bonafideType: "",
      exempt: false,
      continuing: false,
      addNewCommitteeDialog: false
    }
  },
  mounted() {
    this.getElections();
    this.electionCode = new Date().getFullYear();
  },
  computed: {
    ...mapState(['elections']),
    filteredElections() {
      let prevYear = new Date();
      prevYear.setFullYear(prevYear.getFullYear() - 1);
      // one year and one week to catch the previous general in all cases
      prevYear.setDate(prevYear.getDate() - 7);
      prevYear = prevYear.toISOString();
      let recentElections = this.elections.filter(e => e.election_date > prevYear);
      if (this.committee_type === 'CA') {
        return recentElections.filter(e => !e.is_primary);
      }
      return recentElections;
    },
    branchDisplay() {
      return this.branches[this.branch].display;
    },
    committee_type() {
      if (this.pacType === 'candidate' || this.pacType === 'surplus') {
        return 'CA'
      } else {
        return 'CO'
      }
    },
    committee_suffix() {
      if (this.committee_type === 'CO') {
        return 'committee'
      } else {
        return 'candidate'
      }
    },
    infoDialog() {
      return this.branches[this.branch].help;
    },
  },
  methods: {
    ...mapActions(['getElections']),
    committeeDialog() {
      this.addNewCommitteeDialog = true;
    },
    closeCreateCommitteeDialog() {
      this.addNewCommitteeDialog = false;
      this.branch = 'candidate';
      this.committeeName = "";
      this.electionCode = "";
      this.pacType = "";
      this.bonafideType = "";
      this.exempt = false;
      this.continuing = false;
    },
    createShellCommittee() {
      let committeeData = {
        name: this.committeeName,
        committee_type: this.committee_type,
        pac_type: this.pacType,
        bonafide_type: this.bonafideType,
        exempt: this.exempt,
        election_code: ""
      };

      // Set election code for specific types.
      if (this.pacType === 'candidate' || (this.pacType === 'pac' && !this.continuing)) {
        committeeData.election_code = this.electionCode;
      }

      app.$container.dataService.createCommittee(committeeData, data => {
        this.committee = data;
        this.$router.push({name: 'registration-draft', params: {id: this.committee.committee_id}});
      });
    },

    branching(newValue) {
      if (typeof newValue === "function") {
        this.branch = newValue(this);
      } else if (typeof newValue === "string") {
        this.branch = newValue;
      }
    },
  }
}

</script>

<style scoped>

</style>