<template>
  <div>
    <span v-show="hasError()"></span>
    <p>Political committees established, financed, maintained or controlled by a corporation, union, trade association,
      collective bargaining organization, federation of labor unions or any membership organization are automatically
      affiliated and share a contribution limit with that entity. Political committees led by the same individuals also
      may become affiliated.
      <a href="https://www.pdc.wa.gov/learn/publications/political-committee-instructions/basic-information/affiliation"
         target="_blank">Read more about Affiliations</a>.</p>
    <div>
      <p>Is the committee established, financed, maintained or controlled by another entity, or is it associated with
        another PAC operated by the same individuals?</p>
      <v-radio-group v-model="registration.committee.affiliations_declared" row>
        <v-radio value="Yes" label="Yes"></v-radio>
        <v-radio value="No" label="No"></v-radio>
      </v-radio-group>
    </div>
    <v-card v-if="affiliations_declared === 'Yes'">
      <v-card-text>
        <p v-if="affiliations.length === 0">Please add the committees it is affiliated with.</p>
        <v-simple-table>
          <template v-slot:default>
            <tbody>
            <tr v-for="(affiliation, index) in affiliations" :key="index">
              <td>{{ affiliation.affiliate_name }}</td>
              <td>
                <v-btn tabindex="0" icon @click="requestDelete(index)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
      <v-card-actions>
        <v-btn tabindex="0" color="primary" @click="clearSearch()">Add</v-btn>
      </v-card-actions>
    </v-card>

    <v-dialog v-model="doSearch">
      <v-card>
        <v-card-text>
          <div>
            <v-text-field label="Affiliated Committee Name" v-model="search"></v-text-field>
            <v-btn tabindex="0" :disabled="search.length === 0" color="primary" @click="searchCommittees">Search</v-btn>
          </div>
          <div v-show="showProgressSpinner && !dataReturned">
            <v-progress-circular indeterminate></v-progress-circular>
          </div>
          <v-radio-group v-show="dataReturned" v-model="selectedCommitteeId">
            <v-radio v-for="committee in searchResults" :key="committee.committee_id" :value="committee.committee_id"
                     :label="committee.name"></v-radio>
          </v-radio-group>
          <div v-show="!showProgressSpinner && !dataReturned">No committees were found using the given search
            criteria.
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="warning" :disabled="!(search.length > 0)" @click="addAffiliation(false)">Mine's not listed
          </v-btn>
          <v-btn tabindex="0" color="primary" :disabled="!Boolean(selectedCommitteeId)" @click="addAffiliation(true)">Add
            Affiliation
          </v-btn>
          <v-btn tabindex="0" color="primary" @click="action='view'">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="doDelete">
      <v-card>
        <v-card-text>
          Remove the committee's affiliation with {{ selectedAffiliation.affiliate_name }}?
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="action='view'">Cancel</v-btn>
          <v-btn tabindex="0" color="primary" @click="deleteAffiliation()">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {app} from "@/main";
import {mapState, mapActions} from 'vuex';

export default {
  name: "Affiliations",
  data() {
    return {
      fieldError: false,
      searchResults: [{
        committee_id: "",
        name: ""
      }],
      selectedIndex: 0,
      action: "view",
      search: "",
      showProgressSpinner: false,
      dataReturned: false,
      selectedCommitteeId: "",
      showAddAnotherDialog: false,
      spinnerDiameter: 45
    }
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    affiliations() {
      return this.registration.committee.affiliations
    },
    doSearch() {
      return this.action === 'search';
    },
    doDelete() {
      return this.action === 'delete';
    },
    selectedAffiliation() {
      if (this.affiliations && this.affiliations[this.selectedIndex]) {
        return this.affiliations[this.selectedIndex];
      } else return {
        affiliate_id: "", affiliate_name: ""
      };
    },
    affiliations_declared() {
      return this.registration.committee.hasOwnProperty('affiliations_declared') ? this.registration.committee.affiliations_declared : '';
    }
  },

  mounted() {
    if (!this.registration.committee.affiliations) {
      this.registration.affiliations = [];
    }
  },

  methods: {
    ...mapActions(['saveDraftRegistration']),
    clearSearch() {
      this.action = 'search';
      this.search = "";
      this.searchResults = [];
    },
    hasError() {
      let errorMessage = '';

      if ((this.affiliations_declared === '') || (this.affiliations_declared === 'Yes' && this.affiliations.length < 1)) {
        errorMessage += "affiliations, ";
      } else {
        errorMessage = '';
      }

      if (errorMessage.length > 2) {
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      }
      this.wizardMessages.error = errorMessage;

    },
    searchCommittees() {
      this.dataReturned = false;
      this.showProgressSpinner = true;
      app.$container.dataService.query('sponsoring_committee_search', data => {
        this.searchResults = data;
        if (this.searchResults.length > 0) {
          this.dataReturned = true;
          this.showProgressSpinner = false;
        } else {
          this.showProgressSpinner = false;
        }
      }, {
        search: this.search
      });
    },
    addAffiliation(found) {
      let affiliation = this.searchResults.find(committee => committee.committee_id === this.selectedCommitteeId);
      if (!found || !affiliation) {
        this.affiliations.push({affiliate_id: "", affiliate_name: this.search})
      } else {
        this.affiliations.push({affiliate_id: affiliation.committee_id, affiliate_name: affiliation.name})
      }
      this.action = 'view';
      this.saveDraftRegistration();
    },
    requestDelete(index) {
      this.selectedIndex = index;
      this.action = 'delete';
    },
    deleteAffiliation() {
      this.registration.committee.affiliations.splice(this.selectedIndex, 1);
      this.selectedIndex = 0;
      this.action = 'view';
      this.saveDraftRegistration();
    }
  }
}
</script>

<style lang="scss" scoped>

</style>

