<template>
  <div>
    <div>
      <p>Provide the name and address of the financial institution where the campaign maintains an account or will open
        an account. Any campaign that will accept contributions must open a campaign bank account. <strong>If the
          campaign does
          not accept contributions, it must still list the name of a bank where it plans to open an account if the
          campaign
          receives a future contribution.</strong> See <a href="https://app.leg.wa.gov/rcw/default.aspx?cite=42.17A.215"
                                                          target="_blank">RCW 42.17A.215</a>.</p>
      <v-text-field label="Campaign Bank or Depository" v-model.trim="bank.name"></v-text-field>
      <v-text-field label="Bank Address" v-model.trim="bank.address"></v-text-field>
      <v-text-field label="City" v-model.trim="bank.city"></v-text-field>
      <v-text-field label="State" v-model.trim="bank.state"></v-text-field>
      <v-text-field label="Zip Code" v-model.trim="bank.postcode"></v-text-field>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';

export default {
  computed: {
    ...mapState(['registration', 'dataLoaded', 'wizardMessages']),
    bank() {
      if (this.registration.committee.bank) {
        return this.registration.committee.bank;
      }
      return [];
    }
  },
  methods: {
    checkError() {
      let errorMessage = "";
      if (!this.bank.name)
        errorMessage += "bank name, ";
      if (!this.bank.address || !this.bank.city || !this.bank.state || !this.bank.postcode)
        errorMessage += "complete bank address, ";
      if (errorMessage.length > 2) {
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      }
      this.wizardMessages.error = errorMessage;
    },
    initializeBank() {
      if (!this.registration.committee.bank) {
        this.registration.committee.bank = [{
          name: "",
          address: "",
          city: "",
          state: "",
          postcode: ""
        }];
      }
    }
  },
  mounted() {
    this.initializeBank();
    this.checkError();
  },
  updated() {
    this.checkError();
  }
}
</script>