<template>
  <div>
    <span v-show="hasError()"></span>
    <p>Provide an email for contacting the committee to make an appointment to inspect campaign records.
      <InfoBooksInspection/>
    </p>
    <div>
      <v-checkbox tabindex="0" v-if="committeeContact.email" v-model="sameEmail" label="Email same as committee email"/>
      <v-text-field v-if="!sameEmail" label="Committee Books Inspection Email"
                    v-model="registration.committee.books_contact.email"></v-text-field>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import InfoBooksInspection from "@/info/BooksInspection";

export default {
  components: {InfoBooksInspection},
  data() {
    return {
      fieldError: false
    }
  },
  computed: {
    ...mapState(['registration', 'dataLoaded', 'wizardMessages']),
    committee() {
      return this.registration.committee;
    },
    committeeContact() {
      return this.registration.committee.contact;
    },
    sameEmail: {
      get: function () {
        return this.committeeContact.email && this.registration.committee.books_contact.email === this.committeeContact.email;
      },
      set: function (newValue) {
        if (newValue) {
          this.committee.books_contact.email = this.committeeContact.email;
        } else {
          this.committee.books_contact.email = "";
        }
      }
    }
  },
  methods: {
    hasError() {
      let mailFormat = /^(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;
      if (this.committee.books_contact.email) {
        if (!mailFormat.test(this.committee.books_contact.email.toLowerCase()) && !this.sameEmail) {
          this.wizardMessages.error = "properly formatted email address"
        } else {
          this.wizardMessages.error = ''
        }
      } else {
        this.wizardMessages.error = "properly formatted email address"
      }
    },
  }
}
</script>