<template>
  <div>
    <span v-show="hasError()"></span>
    <p>Please provide details about the candidate.
      <InfoCandidateDefinition/>
    </p>
    <v-text-field label="Candidate name as it appears on voter registration"
                  v-model.trim="candidacy.person"></v-text-field>
    <v-text-field label="Candidate name as it will appear on the ballot (if different)"
                  v-model.trim="registration.committee.candidacy.ballot_name"></v-text-field>
    <v-checkbox tabindex="0" v-if="committeeContact.email" v-model="sameEmail"
                label="Candidate email same as committee email"></v-checkbox>
    <v-text-field label="Candidate email" v-if="!sameEmail"
                  v-model.trim="registration.committee.candidacy.email"></v-text-field>

    <div>
      <p>Is the candidate the treasurer?
        <InfoTreasurer/>
      </p>
      <v-radio-group v-model="treasurer" row>
        <v-radio value="yes" label="Yes"/>
        <v-radio value="no" label="No"/>
      </v-radio-group>
    </div>
    <v-radio-group v-model="registration.committee.candidacy.person">
      <v-radio v-for="person in persons" :key="person.person_id" :value="person.name">{{ person.name }} - {{
          person.address
        }}, {{ person.city }}
      </v-radio>
    </v-radio-group>


  </div>
</template>
<script>
import {mapState} from 'vuex';
import InfoCandidateDefinition from "@/info/CandidateDefinition";
import InfoTreasurer from "@/info/CandidateTreasurer";

export default {
  components: {InfoCandidateDefinition, InfoTreasurer},
  data() {
    return {
      persons: [],
      search: '',
      fieldError: false,
      computeCounter: 0
    }
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    candidacy() {
      if (this.registration.committee.candidacy) {
        return this.registration.committee.candidacy;
      } else {
        return {};
      }
    },
    committeeContact() {
      return this.registration.committee.contact;
    },
    sameEmail: {
      get: function () {
        this.computeCounter;
        return this.committeeContact.email && this.registration.committee.candidacy.email === this.committeeContact.email;
      },
      set: function (newValue) {
        this.computeCounter++;
        if (newValue) {
          this.candidacy.email = this.committeeContact.email;
        } else {
          this.candidacy.email = "";
        }
      }
    },
    treasurer: {
      get: function () {
        if (this.candidacy.treasurer === true) {
          return "yes";
        } else {
          return "no";
        }
      },
      set: function (newValue) {
        if (newValue === "yes") {
          this.candidacy.treasurer = true;
        } else {
          this.candidacy.treasurer = false;
        }
      }
    }
  },
  methods: {
    hasError() {
      let errorMessage = "";
      let mailFormat = /^(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;
      if (!this.candidacy.person) {
        errorMessage += "candidate name, ";
      }
      if (this.candidacy.email) {
        if (!mailFormat.test(this.candidacy.email.toLowerCase()) && !this.sameEmail) {
          errorMessage += "properly formatted email, ";
        }
      } else {
        errorMessage += "properly formatted email, ";
      }
      if (errorMessage.length > 2) {
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      }
      this.wizardMessages.error = errorMessage;
    }
  }
};

</script>