<template>
  <div>
    <v-select label="Political Party" :items="parties" item-text="name" item-value="party_id"
              v-model="candidacy.party_id" @change="onPartySelect"></v-select>
    <v-text-field v-if="showInputForm" label="Enter party name" v-model="candidacy.party"></v-text-field>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex';

export default {
  data() {
    return {
      showInputForm: false,
      hasMounted: false,
    }
  },
  computed: {
    ...mapState(['registration', 'parties']),
    candidacy() {
      return this.registration.committee.candidacy;
    },
  },
  methods: {
    ...mapActions(['wizardNext', 'getParties']),
    onPartySelect() {
      if (this.candidacy.party_id) {
        let pi = this.parties.findIndex(party => party.party_id === this.candidacy.party_id);
        let selectedParty = this.parties[pi];
        if (selectedParty.name === 'OTHER') {
          this.showInputForm = true;
          if (this.hasMounted) {
            this.candidacy.party = '';
          }
        } else {
          this.showInputForm = false;
          this.candidacy.party = selectedParty.name;
        }
      }
    },
  },
  mounted() {
    this.hasMounted = true;
    let p = this.parties.find(element => element.party_id === this.candidacy.party_id);
    if (p && p.name === 'OTHER') {
      this.showInputForm = true;
    }
  }
}
</script>