<template>
  <div>
    <p v-if="!candidacy.offcode">Which office is the candidate running for?</p>
    <OfficeSelect :item="registration.committee.candidacy"></OfficeSelect>
    <p>I can't find my {{ step }}.
      <InfoOfficePositionHelp/>
    </p>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import OfficeSelect from "../components/OfficeSelect";
import InfoOfficePositionHelp from "@/info/OfficePositionHelp";

export default {
  components: {OfficeSelect, InfoOfficePositionHelp},
  data() {
    return {
      fieldError: false,
      hasMounted: false,
      showSpinner: false,
      officeLoaded: false,
      jurisdictionsLoaded: false,
      positionsLoaded: false,
      offices: [],
      jurisdictions: [],
      positions: [],
    }
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    committee() {
      return this.registration.committee;
    },
    candidacy() {
      return this.registration.committee.candidacy;
    },
    step() {
      if (this.candidacy.jurisdiction && this.registration.multiPosition) {
        return 'position';
      } else if (this.candidacy.offcode && this.registration.multiLocation) {
        return 'jurisdiction';
      }
      return 'office'
    },
  },
  mounted() {
    this.checkError()
  },
  methods: {
    checkError() {
      let errorMessage = "";
      if (!this.candidacy.office)
        errorMessage += "office name, ";
      if (!this.candidacy.jurisdiction)
        errorMessage += "location, ";
      if (errorMessage.length > 2)
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      if (!this.candidacy.office && !this.candidacy.jurisdiction)
        errorMessage = '';
      this.wizardMessages.error = errorMessage;
    }
  }
};
</script>