<template>
  <div>
    <v-select :items="parties" item-value="party_id" item-text="name" v-model="committee.party_id"
              @change="onPartySelect" label="Political Party"></v-select>
    <v-text-field v-if="showInputForm" v-model="committee.party_name" label="Enter party name"></v-text-field>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex';

export default {
  data() {
    return {
      showInputForm: false,
      hasMounted: false,
    }
  },
  computed: {
    ...mapState(['registration', 'parties']),
    committee() {
      return this.registration.committee;
    },
  },
  methods: {
    ...mapActions(['wizardNext', 'getParties']),
    onPartySelect() {
      if (this.committee.party_id) {
        let pi = this.parties.findIndex(party => party.party_id === this.committee.party_id);
        let selectedParty = this.parties[pi];
        if (selectedParty.name === 'OTHER') {
          this.showInputForm = true;
          if (this.hasMounted) {
            this.committee.party_name = '';
          }
        } else {
          this.showInputForm = false;
          this.committee.party_name = selectedParty.name;
        }
      }
    },
  },
  mounted() {
    this.hasMounted = true;
    let p = this.parties.find(element => element.party_id === this.committee.party_id);
    if (p && p.name === 'OTHER') {
      this.showInputForm = true;
    }
  }
}
</script>