<template>
  <div class="containingDiv">
    <div>
      <span v-show="hasError()"></span>
      <p>What do we call the committee?
        <InfoCommitteeName v-if="committee.committee_type === 'CO'"/>
      </p>
      <v-text-field v-if="committee.base_name" label="Committee Base Name" v-model.trim="committee.base_name"
                    @change="onBaseNameChange">
        <InfoCommitteeName/>
      </v-text-field>
      <v-text-field readonly v-if="committee.has_sponsor==='yes'" v-model.trim="committee.name"
                    label="Committee Name Including Sponsor">
      </v-text-field>
      <v-text-field v-else v-model.trim="committee.name" label="Committee Name">
      </v-text-field>
      <v-text-field v-model.trim="committee.acronym" label="Acronym (optional)">
      </v-text-field>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import InfoCommitteeName from "@/info/CommitteeName";

export default {
  components: {InfoCommitteeName},
  props: {
    committee_prop: {},
    wire: null
  },
  data() {
    return {
      fieldError: false,
      highlightText: '',
      hasValidName: true,
      showCommitteeSponsorNameInfo: false,
      originalBaseName: ''
    }
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    committee() {
      return this.registration.committee;
    }
  },
  mounted() {
    this.originalBaseName = this.registration.committee.base_name;
  },
  methods: {
    onBaseNameChange() {
      let committee = this.registration.committee;
      if (committee.base_name !== this.originalBaseName) {
        committee.name = committee.name.replace(this.originalBaseName, committee.base_name);
        this.originalBaseName = committee.base_name;
      }
    },
    hasError() {
      let errorMessage = '';
      if (!this.committee.name)
        errorMessage += "committee name";
      else
        errorMessage = '';
      this.wizardMessages.error = errorMessage;
    }
  },
}
</script>

<style scoped>

</style>
