<template>
  <form class="CommitteeContact">
    <span v-show="hasError()"></span>
    <p>How does the public contact the committee?
      <InfoCommitteeContactDetails/>
    </p>
    <v-text-field label="Email" type="email" v-model.trim="registration.committee.contact.email"
                  @input="onChangeEmail"></v-text-field>
    <v-text-field label="Mailing Address" v-model.trim="registration.committee.contact.address"
                  @input="onChangeAddress"></v-text-field>
    <v-text-field label="City" v-model.trim="committee.contact.city" @input="onChangeAddress"></v-text-field>
    <v-text-field label="State" v-model.trim="registration.committee.contact.state"
                  @input="onChangeAddress"></v-text-field>
    <v-text-field label="Zip Code" v-model.trim="registration.committee.contact.postcode"
                  @input="onChangeAddress"></v-text-field>
    <v-text-field label="Telephone" type="tel" v-model.trim="registration.committee.contact.phone"
                  @input="onChangePhone"></v-text-field>
  </form>
</template>
<script>
import {mapState} from 'vuex';
import {parsePhoneNumberFromString} from 'libphonenumber-js';
import InfoCommitteeContactDetails from "@/info/CommitteeContactDetails";

export default {
  components: {InfoCommitteeContactDetails},
  data() {
    return {
      fieldError: false,
      originalPhone: '',
      originalEmail: '',
      originalAddress: '',
      originalCity: '',
      originalState: '',
      originalPostcode: '',
    }
  },
  computed: {
    ...mapState(['registration', 'dataLoaded', 'wizardMessages']),
    books() {
      return this.registration.committee.books_contact;
    },
    committee() {
      return this.registration.committee;
    },
    contact() {
      return this.committee.contact;
    },
    officers() {
      return this.committee.officers;
    },
    phoneObject() {
      return (this.registration.committee.contact.phone) ? parsePhoneNumberFromString(this.registration.committee.contact.phone, 'US') : null;
    }
  },
  mounted() {
    this.originalPhone = this.registration.committee.contact.phone;
    this.originalEmail = this.registration.committee.contact.email;
    this.originalAddress = this.registration.committee.contact.address;
    this.originalCity = this.registration.committee.contact.city;
    this.originalState = this.registration.committee.contact.state;
    this.originalPostcode = this.registration.committee.contact.postcode;
  },
  methods: {
    hasError() {
      let errorMessage = "";
      let mailFormat = /^(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;
      if (this.contact.email) {
        if (!mailFormat.test(this.contact.email.toLowerCase())) {
          errorMessage += " properly formatted email, ";
        }
      } else {
        errorMessage += " properly formatted email, ";
      }
      if (!this.contact.address || !this.contact.city || !this.contact.state || !this.contact.postcode) {
        errorMessage += " complete address, ";
      }
      if (!this.contact.phone || !this.phoneObject || !this.phoneObject.isValid()) {
        errorMessage += " valid phone number, ";
      }
      if (errorMessage.length > 2) {
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      }
      this.wizardMessages.error = errorMessage;
    },
    onChangePhone() {
      this.officers.forEach(function (officer) {
        if (officer.phone === this.originalPhone) {
          officer.phone = this.contact.phone;
        }
      }.bind(this));
      this.originalPhone = this.contact.phone;
    },
    onChangeEmail() {
      this.officers.forEach(function (officer) {
        if (officer.email === this.originalEmail) {
          officer.email = this.contact.email;
        }
      }.bind(this));
      if (this.books.email === this.originalEmail) {
        this.books.email = this.contact.email;
      }
      this.originalEmail = this.contact.email;
    },
    onChangeAddress() {
      this.officers.forEach(function (officer) {
        if (officer.address === this.originalAddress && officer.city === this.originalCity
            && officer.postcode === this.originalPostcode && officer.state === this.originalState) {
          officer.address = this.contact.address;
          officer.city = this.contact.city;
          officer.state = this.contact.state;
          officer.postcode = this.contact.postcode;
        }
      }.bind(this));
      this.originalAddress = this.contact.address;
      this.originalCity = this.contact.city;
      this.originalState = this.contact.state;
      this.originalPostcode = this.contact.postcode;
    },
  }
}
</script>