<template>
  <div>
    <p>You have indicated that this campaign committee is planning on ending after the {{ election.title }} election. Is
      that correct? </p>
    <v-radio-group v-model="single_election">
      <v-radio label="Yes" value="yes"><strong>Yes:</strong> My committee will end after the election. Expense and
        contributions will total for the entire election.
      </v-radio>
      <v-radio value="no" label="No"><strong>No:</strong> My committee intends to continue after the election. Expenses
        and contributions will be rolled up annually.
      </v-radio>
    </v-radio-group>
  </div>
</template>

<script>
import {mapState} from 'vuex';

export default {
  name: "ContinuingStatus",
  computed: {
    ...mapState(['registration', 'elections']),
    committee() {
      return this.registration.committee;
    },
    election() {
      if (this.registration.committee.election_code) {
        return this.elections.find(e => e.election_code.toString() === this.registration.committee.election_code.toString());
      }
      return "";
    },
    single_election: {
      get() {
        return this.committee.continuing ? 'no' : 'yes';
      },
      set(value) {
        if (value === 'yes') {
          this.committee.continuing = false;
        } else {
          this.committee.continuing = true;
        }
      },
    }
  }
}
</script>