<template>
  <div>
    <span v-show="hasError()"></span>
    <p><strong>Does the committee have a filing requirement with the City of Seattle
      (SEEC)?</strong>
      <InfoLocalFiling/>
    </p>

    <v-radio-group v-model="seec.required" @change="updateBooksAvailableContent()" row>
      <v-radio :value="true" label="Yes"/>
      <v-radio :value="false" label="No"/>
    </v-radio-group>
    <p :style="[Boolean(seec.required) ? {'display':'block'} : {'display':'none'}]">
      Please provide a two-hour time period between 8 a.m. and 8 p.m. on the Monday one week before the Primary and
      General when the books and a campaign representative will be available.
      <InfoSEECRules/>
    </p>

    <v-text-field v-model.trim="seec.books_available" v-if="Boolean(seec.required)"
                  label="Please provide a time (eg. 8am to 10am)"></v-text-field>
  </div>
</template>
<script>
import {mapState} from "vuex";
import InfoLocalFiling from "@/info/LocalFiling";
import InfoSEECRules from "@/info/LocalFiling";

export default {
  data() {
    return {
      fieldError: false,
    }
  },
  components: {InfoLocalFiling, InfoSEECRules},

  computed: {
    ...mapState(["registration", "wizardMessages"]),
    seec() {
      return this.registration.local_filing.seec;
    },
  },
  mounted() {
    if (this.registration.committee.base_name === undefined) {
      this.registration.committee.base_name = "";
    }
  },
  methods: {
    hasError() {
      let errorMessage = "";
      if (this.seec.required && !this.seec.books_available) {
        errorMessage = "time period for books inspection";
      }
      this.wizardMessages.error = errorMessage;
    },
    updateBooksAvailableContent() {
      this.registration.local_filing.seec.books_available = "";
    }
  }
};
</script>
