<template>
  <div>
    <span v-show="hasTreasurer()"></span>
    <v-row>
      <v-col cols="12" md="12"><p>Please provide complete details for each person who authorizes expenditures or makes decisions for the candidate
        or political committee. Use the button below to add each board member, treasurer, campaign manager, etc. A
        campaign must have at least one officer.  Either the candidate (for candidate campaigns) or one of the officers
        must be designated as the treasurer.<InfoOfficers/></p></v-col>
    </v-row>



    <v-card v-for="(officer, index) in registration.committee.officers" :key="index">
      <v-card-text>
        <v-alert type="error" v-show="hasError(officer)">{{ getOfficerErrorMessage(officer) }}</v-alert>
        <div>{{ officer.name }}</div>
        <div v-if="officer.title">{{ officer.title }}
          {{ formatTreasurer(officer.treasurer, officer.ministerial, officer.title) }}
        </div>
        <div v-if="officer.address">{{ officer.address }}</div>
        <div>{{ officer.city }}, {{ officer.state }}, {{ officer.postcode }}</div>
        <div v-if="officer.email">{{ officer.email }}</div>
        <div v-if="officer.phone">{{ officer.phone }}</div>
      </v-card-text>
      <v-card-actions>
        <v-btn tabindex="0" class="accent" @click="requestOfficerDeletion(index)">Delete</v-btn>
        <v-btn tabindex="0" class="primary" @click="editOfficer(index)">Edit</v-btn>
      </v-card-actions>
    </v-card>

    <div class="text-center">
      <v-btn tabindex="0" dark
             fab
             small
             class="mt-4" color="primary" @click="addNew">
        <v-icon dark>add</v-icon>
      </v-btn>
    </div>


    <v-dialog v-model="confirmDeleteOfficer" persistent>
      <v-card v-if="selectedOfficer">
        <v-card-text>
          Remove {{ selectedOfficer.name }} from officers?
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" class="primary" @click="confirmDeleteOfficer=false">Cancel</v-btn>
          <v-btn tabindex="0" class="primary" @click="deleteOfficer()">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog v-model="officerActive" persistent>
      <v-card v-if="selectedOfficer">
        <v-card-title>{{ selectedOfficer.name }}</v-card-title>
        <v-card-text>
          <Officer :officer_index="officer_index"></Officer>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" v-if="!editing" class="accent" @click="cancelAdd()">Cancel</v-btn>
          <v-btn tabindex="0" class="primary" @click="saveOfficer()">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import InfoOfficers from "@/info/Officers";
import Officer from "./Officer";
import globalFilters from '@/filters';

export default {
  components: {InfoOfficers, Officer},
  data() {
    return {
      fieldError: false,
      officer_index: 0,
      confirmDeleteOfficer: false,
      officerActive: false,
      editing: false,
    };
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    selectedOfficer() {
      return this.registration.committee.officers.length > 0 ? this.registration.committee.officers[this.officer_index] : ''
    },
    committeeContact() {
      return this.registration.committee.contact;
    },
    missingTreasurerError() {
      return this.registration.draftErrors["treasurer.required"];
    },
    ministerialOnlyError() {
      return this.registration.draftErrors["treasurer.ministerial-only"]
    }
  },
  methods: {
    ...globalFilters.filters,
    ...mapActions(['wizardActivate', 'saveDraftRegistration']),
    addNew() {
      this.officer_index = this.registration.committee.officers.length;

      let contact = this.committeeContact;

      if (!this.registration.committee.officers) {
        this.registration.committee.officers = [];
      }
      this.registration.committee.officers.push({
        name: "",
        title: "",
        role: "officer",
        email: contact.email,
        phone: contact.phone,
        address: contact.address,
        city: contact.city,
        state: contact.state,
        postcode: contact.postcode,
        treasurer: "",
        ministerial: ""
      });
      this.editing = false;
      this.officerActive = true;

    },

    cancelAdd() {
      this.officerActive = false;
      if (!this.editing) {
        this.registration.committee.officers.pop();
      }
    },

    saveOfficer() {
      this.editing = false;
      this.officerActive = false;
      this.saveDraftRegistration();
    },

    editOfficer(index) {
      this.editing = true;
      this.officer_index = index;
      this.officerActive = true;
    },

    requestOfficerDeletion(selectedIndex) {
      this.confirmDeleteOfficer = true;
      this.officer_index = selectedIndex;
    },

    deleteOfficer() {
      this.registration.committee.officers.splice(this.officer_index, 1);
      this.confirmDeleteOfficer = false;
      this.officer_index = 0;
    },

    hasTreasurer() {
      if (this.missingTreasurerError) {
        this.wizardMessages.error = 'at least one treasurer';
        return false;
      }
      else if (this.ministerialOnlyError) {
        this.wizardMessages.error = 'at least one non-ministerial officer'

      } else {
        this.wizardMessages.error = '';
        return true;
      }
    },
    hasError(officer) {
      return !officer.name || !officer.address || !officer.city || !officer.postcode
          || !officer.email || !officer.title;
    },

    getOfficerErrorMessage(officer) {
      let errorMessage = "";
      if (!officer.name)
        errorMessage += "name, ";
      if (!officer.email)
        errorMessage += "email, ";
      if (!officer.address || !officer.city || !officer.postcode)
        errorMessage += "address, ";
      if (!officer.title)
        errorMessage += "title, ";
      if (errorMessage.length > 2) {
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      }
      return "Missing " + errorMessage;
    }
  }
}
</script>
<style>

</style>