<template>
  <div v-if="officer">
    <v-alert type="error" v-show="officerError.length > 0"> {{ officerError }}</v-alert>
    <p>Who makes decisions on behalf of the committee?
      <InfoOfficers/>
    </p>
    <p>Each officer must have a name, a title, an address and an email address.</p>
    <v-text-field v-model.trim="officer.name" label="Officer's Name (First and Last)"></v-text-field>
    <v-text-field v-model.trim="officer.title" label="Title"></v-text-field>
    <div>
      <p>Is this person the treasurer?</p>
      <v-radio-group v-model="treasurer" row>
        <v-radio value="true" label="Yes"></v-radio>
        <v-radio value="false" label="No"></v-radio>
      </v-radio-group>
    </div>
    <div v-if="officer.treasurer">
      Is this person ministerial?
      <InfoMinisterial/>
      <v-radio-group v-model="ministerial" row>
        <v-radio value="true" label="Yes"></v-radio>
        <v-radio value="false" label="No"></v-radio>
      </v-radio-group>
    </div>

    <v-checkbox tabindex="0" v-if="committeeContact.email" v-model="sameEmail" label="Email same as committee email"/>
    <v-checkbox tabindex="0" v-if="committeeContact.phone" v-model="samePhone" label="Phone same as committee phone number"/>
    <v-checkbox tabindex="0" v-if="committeeContact.address" v-model="sameAddress" label="Address same as committee address"/>


    <div v-if="!sameEmail">
      <v-text-field v-model.trim="officer.email" label="Email"></v-text-field>
    </div>
    <div v-if="!samePhone">
      <v-text-field type="tel" label="Phone" v-model.trim="officer.phone"></v-text-field>
    </div>
    <div v-if="!sameAddress">
      <v-text-field label="Address" v-model.trim="officer.address"></v-text-field>
      <div class="inLine">
        <v-text-field label="City" v-model.trim="officer.city"></v-text-field>
        <v-text-field label="State" v-model.trim="officer.state"></v-text-field>
        <v-text-field label="Postcode" v-model.trim="officer.postcode"></v-text-field>
      </div>
    </div>
  </div>
</template>

<script>

import {mapState} from 'vuex';
import InfoMinisterial from "../info/Ministerial";
import InfoOfficers from "@/info/Officers";
import {parsePhoneNumberFromString} from 'libphonenumber-js';

export default {
  name: "Officer",
  components: {InfoMinisterial, InfoOfficers},
  props: {
    officer_index: Number
  },
  data() {
    return {
      fieldError: false,
      oIndex: '',
    }
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    officerError() {
      let errorMessage = '';

      let mailFormat = /^(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;
      if (!this.officer.name) {
        errorMessage += "officer name, ";
      }
      if (!this.officer.title) {
        errorMessage += "title, ";
      }

      if (!this.officer.address || !this.officer.city || !this.officer.state || !this.officer.postcode) {
        errorMessage += "complete address, ";
      }
      if (this.officer.email) {
        if (!mailFormat.test(this.officer.email.toLowerCase()) && !this.sameEmail) {
          errorMessage += "properly formatted email, ";
        }
      } else {
        errorMessage += "properly formatted email, ";
      }
      if (this.officer.phone) {
        if (!this.phoneObject || !this.phoneObject.isValid()) {
          errorMessage += "valid phone number, ";
        }
      }
      if (errorMessage.length > 2) {
        errorMessage = errorMessage.substring(0, errorMessage.length - 2);
      }

      if (errorMessage.length > 0) {
        errorMessage = "Please provide " + errorMessage;
      }
      return errorMessage;
    },
    officer() {
      return this.registration.committee.officers[this.officer_index]
    },
    committeeContact() {
      return this.registration.committee.contact;
    },
    sameAddress: {
      get: function () {
        return this.committeeContact.address && this.officer.address === this.committeeContact.address;
      },
      set: function (newValue) {
        if (newValue) {
          this.officer.address = this.committeeContact.address;
          this.officer.state = this.committeeContact.state;
          this.officer.city = this.committeeContact.city;
          this.officer.postcode = this.committeeContact.postcode;
        } else {
          this.officer.address = "";
          this.officer.state = "";
          this.officer.city = "";
          this.officer.postcode = "";
        }
      }
    },
    samePhone: {
      get: function () {
        return this.committeeContact.phone && this.officer.phone === this.committeeContact.phone;
      },
      set: function (newValue) {
        if (newValue) {
          this.officer.phone = this.committeeContact.phone;
        } else {
          this.officer.phone = "";
        }
      }
    },
    sameEmail: {
      get: function () {
        return this.committeeContact.email && this.officer.email === this.committeeContact.email;
      },
      set: function (newValue) {
        if (newValue) {
          this.officer.email = this.committeeContact.email;
        } else {
          this.officer.email = "";
        }
      }
    },
    treasurer: {
      get: function () {
        if (this.officer.treasurer === true) {
          return "true";
        } else {
          return "false";
        }
      },
      set: function (newValue) {
        if (newValue === "true" || newValue === true) {
          this.officer.treasurer = true;
        } else {
          this.officer.treasurer = false;
          this.officer.ministerial = false;
        }
      }
    },
    ministerial: {
      get: function () {
        if (this.officer.ministerial === true) {
          return "true";
        } else {
          return "false";
        }
      },
      set: function (newValue) {
        if (newValue === "true" || newValue === true) {
          this.officer.ministerial = true;
        } else {
          this.officer.ministerial = false;
        }
      }
    },
    phoneObject() {
      return (this.officer.phone) ? parsePhoneNumberFromString(this.officer.phone, 'US') : null;
    }
  }
}
</script>

<style lang="scss" scoped>
</style>

