<template>
  <div>
    <span v-show="hasError(fieldError)"></span>
    <p>{{ $t('message.proposal.intro') }}</p>
    <v-card v-for="(proposal, index) in committee.proposals" :key="`committee.proposals_${index}`">
      <v-card-text>
        <div>
          {{ $t('message.proposal.' + proposal.stance) }}
          {{ $t('message.proposal.' + proposal.proposal_type.toLowerCase()) }}
          <span v-if="proposal.ballot_number">{{ proposalFilter(proposal.ballot_number) }}</span>
        </div>
        <div v-if="proposal.jurisdiction">
          {{ proposal.jurisdiction }}
        </div>
        <div v-if="proposal.proposal_issue && !proposal.jurisdiction_id">
          {{ proposal.proposal_issue }}
        </div>
        <div v-if="proposal.election_code">
          {{ electionTitle(proposal.election_code) }}
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn tabindex="0" color='primary' @click="editProposal(index)">
          <v-icon>edit</v-icon>
        </v-btn>
        <v-btn tabindex="0" @click="requestProposalDeletion(index)">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <div class="text-center">
      <v-btn
          dark
          fab
          small
          class="mt-4"
          color="primary"
          @click="selectProposalType"
      >
        <v-icon dark>add</v-icon>
      </v-btn>
    </div>

    <v-dialog v-model="showProposalType">
      <v-card>
        <v-card-title>
          {{ $t('message.proposal.add_proposal_title') }}
        </v-card-title>
        <v-card-text>
          <p>{{ $t('message.proposal.add_proposal_content') }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" absolute top right icon @click="showProposalType = false">
            <v-icon>cancel</v-icon>
          </v-btn>
          <v-btn tabindex="0" color="primary" @click="addProposal('initiative')">{{ $t('message.proposal.initiative') }}</v-btn>
          <v-btn tabindex="0" color="primary" @click="jurisdictionSearchForm">{{ $t('message.proposal.levy') }}</v-btn>
          <v-btn tabindex="0" color="primary" @click="addProposal('recall')">{{ $t('message.proposal.recall') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showProposalEdit">
      <v-card>
        <v-card-title v-if="ballotType">
          {{ $t('message.proposal.add_' + ballotType + '_title') }}
        </v-card-title>
        <v-card-text>
          <p v-if="ballotType">{{ $t('message.proposal.add_' + ballotType + '_content') }}</p>
          <div v-if="ballotType === 'initiative'">
            <v-autocomplete v-model="ballotJurisdictionId" :items="initiativeJurisdiction" item-value="jurisdiction_id"
                            item-text="name" :label="$t('message.label.jurisdiction')"
                            @change="setJurisName()"></v-autocomplete>
          </div>
          <p v-if="ballotType === 'levy'">{{ $t('message.label.jurisdiction') }}: {{ ballotJurisdiction }}</p>
          <div v-if="ballotType === 'recall'">
            <v-autocomplete v-model="ballotOffCode" :items="offices" item-text="offtitle" item-value="offcode"
                            @change="onOfficeSelect" label="Office"></v-autocomplete>
          </div>
          <div v-if="ballotType === 'recall'">
            <v-autocomplete v-model="ballotJurisdictionId" :items="jurisData" item-value="jurisdiction_id"
                            item-text="name" :label="$t('message.label.jurisdiction')"
                            @change="onJurisdictionSelect"></v-autocomplete>
          </div>
          <div v-if="ballotType === 'initiative' || ballotType === 'levy'">
            <v-autocomplete v-model="ballotElectionCode" :items="filteredElections" item-value="election_code"
                            item-text="title" :label="$t('message.label.election')"></v-autocomplete>
          </div>
          <div>
            <v-text-field v-model="ballotNumber" :label="$t('message.proposal.proposal_number') "
                          v-if="ballotType === 'initiative' || ballotType === 'levy'"/>
          </div>
          <div>
            <v-text-field v-model="ballotIssue" v-if="ballotType === 'initiative'"
                          :label="$t('message.proposal.proposal_issue')"></v-text-field>
            <v-text-field v-model="ballotIssue" v-if="ballotType === 'recall'"
                          :label="$t('message.label.official')"></v-text-field>
          </div>
          <v-radio-group v-model="ballotStance" row>
            <v-radio value="for"
                     :label="$t('message.proposal.for' + (ballotType === 'recall' ? '_recall' : ''))"></v-radio>
            <v-radio value="against"
                     :label="$t('message.proposal.against' + (ballotType === 'recall' ? '_recall' : ''))"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" absolute top right icon @click="showProposalEdit = false">
            <v-icon>cancel</v-icon>
          </v-btn>
          <v-btn tabindex="0" class="warning" v-if="!isEdit" ref="prevbtn" @click="selectProposalType">
            {{ $t('message.label.previous') }}
          </v-btn>
          <v-btn tabindex="0" class="primary"
                 :disabled="(!ballotJurisdictionId && !ballotJurisdiction) || (!ballotElectionCode && ballotType!=='recall') || (!ballotIssue && ballotType==='recall') || !ballotStance"
                 ref="nextbtn" @click="saveProposal">{{ $t('message.label.' + (isEdit ? 'save' : 'add')) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog v-model="showJurisdictionSearch">
      <v-card>
        <v-card-title>
          {{ $t('message.proposal.jurisdiction_search_title') }}
        </v-card-title>
        <v-card-text>
          <p>{{ $t('message.proposal.jurisdiction_search_content') }}</p>
          <v-text-field v-model="search" :label="$t('message.label.jurisdiction')"></v-text-field>
          <v-autocomplete :items="jurisdictionCategoryLevy" item-value="jurisdiction_category_id" item-text="name"
                          v-model="jurisdictionSearchCategory"
                          :label="$t('message.label.jurisdiction_category')"></v-autocomplete>
          <div v-show="showProgressSpinner && !dataReturned">
            <v-progress-circular indeterminate></v-progress-circular>
          </div>
          <div v-show="dataReturned" style="max-height:300px; overflow:auto;">
            <v-radio-group v-model="ballotJurisdictionId">
              <v-radio class="ml-2" v-for="jurisdiction in searchResults" :key="jurisdiction.jurisdiction_id"
                       :value="jurisdiction.jurisdiction_id" :label="jurisdiction.name"></v-radio>
            </v-radio-group>
          </div>
          <div v-show="!showProgressSpinner && !dataReturned">{{ $t('message.proposal.no_jurisdictions') }}</div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" absolute top right icon @click="showJurisdictionSearch = false">
            <v-icon>cancel</v-icon>
          </v-btn>
          <v-btn tabindex="0" color="primary" :disabled="search.length === 0" ref="nextbtn" @click="jurisdictionSearch()">
            {{ $t('message.label.search') }}
          </v-btn>
          <v-btn tabindex="0" color="warning" v-if="!isEdit" ref="prevbtn" @click="selectProposalType">
            {{ $t('message.label.previous') }}
          </v-btn>
          <v-btn tabindex="0" color="warning" :disabled="search.length===0" @click="onNoneMatched()">{{
              $t('message.label.not_found')
            }}
          </v-btn>
          <v-btn tabindex="0" color="primary" :disabled="!this.ballotJurisdictionId" ref="nextbtn" @click="addProposal('levy')">
            {{ $t('message.label.select') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="confirmDeleteProposal">
      <v-card>
        <v-card-text v-if="selectedProposal">
          <span v-if="selectedProposal.proposal_type">{{
              $t('message.proposal.' + selectedProposal.proposal_type.toLowerCase())
            }}</span><br/>
          {{ selectedProposal.election_code }}
          {{ selectedProposal.jurisdiction }}
          {{ selectedProposal.ballot_number }}<br/><br/>
          {{ $t('message.proposal.confirm_remove') }}
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" v-on:click="confirveleteProposal=false">{{ $t('message.label.cancel') }}</v-btn>
          <v-btn tabindex="0" color="primary" v-on:click="deleteProposal()">{{ $t('message.label.confirm') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import {app} from "../main";
import globalFilters from '@/filters'

export default {
  name: "Proposals",
  data() {
    return {
      offices: [],
      jurisData: [],
      fieldError: false,
      proposal_index: 0,
      showProposalEdit: false,
      showProposalType: false,
      showJurisdictionSearch: false,
      confirmDeleteProposal: false,
      search: '',
      isEdit: false,
      showProgressSpinner: false,
      spinnerDiameter: 45,
      searchResults: [{}],
      dataReturned: false,
      ballotProposal: {},
      ballotJurisdiction: '',
      ballotJurisdictionId: '',
      ballotOffCode: '',
      ballotOffice: '',
      ballotIssue: '',
      ballotNumber: '',
      ballotStance: '',
      ballotType: '',
      ballotElectionCode: '',
      nextEnabled: true,
      hasPrevious: true,
      initiativeJurisdiction: [],
      jurisdictionCategory: [],
      jurisdictionSearchCategory: '',
      searchTriggered: false,
      targetElection: ""
    };
  },
  computed: {
    ...mapState(['registration', 'elections', 'wizardMessages']),
    committee() {
      return this.registration.committee
    },
    hasProposals() {
      if (this.registration.committee.proposals && this.registration.committee.proposals.length > 0) {
        return true;
      }
      return false;
    },
    selectedProposal() {
      if (this.isNumeric(this.proposal_index) && this.registration.committee.proposals && this.registration.committee.proposals[this.proposal_index]) {
        return this.registration.committee.proposals[this.proposal_index];
      } else {
        return {
          proposal_type: "",
          jurisdiction_id: "",
          jurisdiction: "",
          ballot_number: "",
          proposal_issue: "",
          election_code: "",
          stance: "",
          offcode: ""
        };
      }
    },
    jurisdictionCategoryLevy() {
      return this.jurisdictionCategory.filter(function (cat) {
        return cat.levy === true;
      });
    },
    missingPurposeError() {
      return Boolean(this.registration.draftErrors["proposal.incomplete"]);
    },
    filteredElections() {
      let targetElection = null;
      // use committee election code if numeric
      if (!isNaN(this.committee.election_code)) {
        targetElection = new Date(+this.committee.election_code, 1, 1);
      }
      // or calcuate a year back
      else {
        targetElection = new Date();
        targetElection.setFullYear(targetElection.getFullYear() - 1);
        // one year and one week to catch the previous general in all cases
        targetElection.setDate(targetElection.getDate() - 7);
      }
      targetElection = targetElection.toISOString();
      let recentElections = this.elections.filter(e => e.election_date > targetElection);
      if (this.committee_type === 'CA') {
        return recentElections.filter(e => !e.is_primary);
      }
      return recentElections;
    },
  },

  mounted() {
    this.getElections();
    // set election code from committee, or default to this year
    this.ballotElectionCode = (!isNaN(this.committee.election_code)) ? this.committee.election_code : new Date().getFullYear();
    app.$container.dataService.query('initiative_jurisdictions', data => {
      this.initiativeJurisdiction = data;
    });
    app.$container.dataService.query('jurisdiction_category', data => {
      this.jurisdictionCategory = data;
    });
    app.$container.dataService.query('office_types', data => {
      this.offices = data;
    });
  },

  methods: {
    ...mapActions(['saveDraftRegistration', 'getElections']),
    ...globalFilters.filters,
    onJurisdictionSelect() {
      if (this.jurisData) {
        let o = this.jurisData.find(element => element.jurisdiction_id === this.ballotJurisdictionId);
        if (o) {
          this.ballotJurisdictionId = o.jurisdiction_id;
          this.ballotJurisdiction = o.name;
        }
      }
    },
    onOfficeSelect() {
      app.$container.dataService.query('jurisdiction_names', data => {
        this.jurisData = data;
      }, {
        office_code: this.ballotOffCode
      });
      let o = this.offices.find(element => element.offcode === this.ballotOffCode);
      if (o) {
        this.ballotOffice = o.offtitle;
      }
    },
    hasError() {
      if (!this.hasProposals && this.missingPurposeError) {
        this.wizardMessages.error = " candidate, party or proposal information";
      } else {
        this.wizardMessages.error = "";
      }
    },
    closeDialog() {
      this.showProposalEdit = false;
      this.showJurisdictionSearch = false;
    },
    saveProposal() {
      let index = this.proposal_index;
      if (this.isEdit && this.isNumeric(index)) {
        this.committee.proposals[index].proposal_type = this.ballotType;
        this.committee.proposals[index].proposal_issue = this.ballotIssue;
        this.committee.proposals[index].jurisdiction_id = this.ballotJurisdictionId;
        this.committee.proposals[index].jurisdiction = this.ballotJurisdiction;
        this.committee.proposals[index].office = this.ballotOffice;
        this.committee.proposals[index].offcode = this.ballotOffCode;
        this.committee.proposals[index].proposal_issue = this.ballotIssue;
        this.committee.proposals[index].ballot_number = this.ballotNumber;
        this.committee.proposals[index].stance = this.ballotStance;
        this.committee.proposals[index].election_code = this.ballotElectionCode;
        this.saveDraftRegistration();
        this.proposal_index = 0;
      } else {
        if (!this.ballotIssue && this.ballotType === 'levy' && this.jurisdictionSearchCategory) {
          this.ballotIssue = this.jurisdictionCategory.filter(e => e.jurisdiction_category_id === this.jurisdictionSearchCategory)[0].short_name;
        }
        this.proposalPush();
      }
      this.saveDraftRegistration();
      this.showProposalEdit = false;
    },
    proposalPush() {
      if (!this.hasProposals) {
        this.registration.committee.proposals = [];
      }
      this.committee.proposals.push({
        proposal_type: this.ballotType,
        jurisdiction_id: this.ballotJurisdictionId,
        office: this.ballotOffice,
        offcode: this.ballotOffCode,
        jurisdiction: this.ballotJurisdiction,
        election_code: this.ballotElectionCode,
        ballot_number: this.ballotNumber,
        proposal_issue: this.ballotIssue,
        stance: this.ballotStance
      });
    },
    onNoneMatched() {
      this.ballotJurisdiction = this.search;
      this.showProposalEdit = true;
      this.showJurisdictionSearch = false;
    },
    editProposal(index) {
      this.isEdit = true;
      this.proposal_index = index;
      this.ballotOffice = this.committee.proposals[index].office;
      this.ballotOffCode = this.committee.proposals[index].offcode;
      this.ballotJurisdiction = this.committee.proposals[index].jurisdiction;
      this.ballotJurisdictionId = this.committee.proposals[index].jurisdiction_id;
      this.ballotIssue = this.committee.proposals[index].proposal_issue;
      this.ballotNumber = this.committee.proposals[index].ballot_number;
      this.ballotStance = this.committee.proposals[index].stance;
      this.ballotType = this.committee.proposals[index].proposal_type;
      this.ballotElectionCode = this.committee.proposals[index].election_code;
      this.showProposalEdit = true;
    },
    requestProposalDeletion(index) {
      this.proposal_index = index;
      this.confirmDeleteProposal = true;
    },
    deleteProposal() {
      this.registration.committee.proposals.splice(this.proposal_index, 1);
      this.confirmDeleteProposal = false;
      this.proposal_index = 0;
      this.saveDraftRegistration();
    },
    selectProposalType() {
      this.isEdit = false;
      this.showProposalEdit = false;
      this.showJurisdictionSearch = false;
      this.ballotJurisdiction = '';
      this.ballotJurisdictionId = '';
      this.ballotIssue = '';
      this.ballotNumber = '';
      this.ballotStance = '';
      this.ballotType = '';
      this.ballotElectionCode = this.committee.election_code;
      this.showProposalType = true;
    },
    addProposal(ballotType) {
      this.ballotType = ballotType;
      this.showProposalType = false;
      this.showProposalEdit = true;
      this.showJurisdictionSearch = false;
      this.ballotOffice = '';
      if (ballotType === 'levy') {
        this.setJurisName();
      }
    },
    jurisdictionSearchForm() {
      this.ballotType = 'levy';
      this.showProposalType = false;
      this.showProposalEdit = false;
      this.showJurisdictionSearch = true;
      this.searchTriggered = false;
    },
    jurisdictionSearch() {
      this.searchTriggered = true;
      this.showProgressSpinner = true;
      this.dataReturned = false;
      app.$container.dataService.query('jurisdiction_search', data => {
        this.searchResults = data;
        if (this.searchResults.length > 0) {
          this.dataReturned = true;
        }
        this.showProgressSpinner = false;
      }, {
        search: this.search,
        jurisdiction_category: this.jurisdictionSearchCategory
      });
    },
    setJurisName() {
      if (this.ballotJurisdictionId > 0) {
        let j = (this.ballotType === 'initiative' ? this.initiativeJurisdiction : this.searchResults);
        let k = j.find(k => k.jurisdiction_id === this.ballotJurisdictionId);
        this.ballotJurisdiction = k.name;
      }
    },
    electionTitle(code) {
      if (code) {
        let k = this.elections.find(k => k.election_code.toString() === code.toString());
        return k.title;
      }
    },
    isNumeric(n) {
      return !isNaN(parseFloat(n)) && isFinite(n);
    }
  },
}
</script>

<style scoped lang="scss">


</style>
