<template>
  <div v-if="dataLoaded">
    <h2>{{ registration.committee.name }}</h2>
    <v-chip v-show="dataLoaded" color="warning" class="not-done-chip">
      Not Done
    </v-chip>
    <v-stepper v-model="activeStep" vertical class="elevation-0">
      <v-stepper-step editable :step="stepNumber[0]" edit-icon="check" complete-icon="edit"
                      :complete="committeeDetailsComplete">
        Committee Identification
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[0]">
        <div v-if="registration.committee.contact.email">
          <div class="mb-4">
            {{ registration.committee.name }} {{ parenthetical(registration.committee.acronym) }}<br/>
            {{ registration.committee.contact.phone }}<br/>
            {{ registration.committee.contact.email }}<br/>
            {{ registration.committee.contact.address }}<br/>
            {{ suffix(registration.committee.contact.city, ',') }}
            {{ registration.committee.contact.state }}
            {{ registration.committee.contact.postcode }}
          </div>
          <div>
            <v-btn tabindex="0" color="primary" @click="editCommitteeDetails">Change</v-btn>
          </div>
        </div>
        <div v-else>
          <p>Provide information required to identify the committee, sponsorship information and contact
            information.</p>
          <v-btn tabindex="0" v-if="candidateCommittee" color="primary" @click="activateWizard('CommitteeDetails')">Get Started
          </v-btn>
          <v-btn tabindex="0" v-else color="primary" @click="activateWizard('Sponsor')">Get Started</v-btn>
        </div>
      </v-stepper-content>
      <v-stepper-step editable :step="stepNumber[1]" edit-icon="check" complete-icon="edit"
                      :complete="reportingStatusComplete">
        Reporting Status
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[1]">
        <div v-if="this.committee.reporting_type">
          <div>
            {{ titleCase(registration.committee.reporting_type) }} Reporting
            <InfoReportingStatus/>
          </div>
          <div v-if="showContinuingStatus">{{ continuingTypeFormat(election) }}</div>
          <v-btn tabindex="0" color="primary" @click="activateWizard('ReportingStatus')">Change</v-btn>
        </div>
        <div v-else>
          <p>Determine filing requirements with the Washington State Public Disclosure Commission</p>
          <v-btn tabindex="0" color="primary" @click="activateWizard('ReportingStatus')">Get Started</v-btn>
        </div>
      </v-stepper-content>
      <v-stepper-step :step="stepNumber[2]" v-if="registration.committee.committee_type === 'CA'" editable
                      edit-icon="check" complete-icon="edit" :complete="candidacyInformationComplete">
        Candidacy Information
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[2]" v-if="registration.committee.committee_type === 'CA'">
        <div v-if="candidacyInformationStarted">
          {{ registration.committee.candidacy.person }}<br/>
          <span v-if="registration.committee.candidacy.ballot_name">{{
              registration.committee.candidacy.ballot_name
            }}</span>
          <span v-if="registration.committee.candidacy.treasurer">{{
              ifTrue(registration.committee.candidacy.treasurer, 'Treasurer')
            }}</span><br/>
          {{ registration.committee.candidacy.email }}<br/>
          {{ registration.committee.candidacy.office }}<br/>
          {{ registration.committee.candidacy.jurisdiction }}<br/>
          <span v-if="registration.committee.candidacy.position">{{
              registration.committee.candidacy.position
            }}<br/></span>
          {{ ifNotEquals(registration.committee.candidacy.party, 'NONE') }}
        </div>
        <div>
          <v-btn tabindex="0" color="primary" @click="activateWizard('CandidateName')">
            <span v-if="candidacyInformationStarted">Change</span>
            <span v-else>Get Started</span>
          </v-btn>
        </div>
      </v-stepper-content>
      <v-stepper-step :step="stepNumber[3]" editable edit-icon="check" complete-icon="edit"
                      :complete="committeeBankBooksComplete">
        Committee Bank and Books
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[3]">
        <div v-if="committeeBankBooksStarted">
          {{ registration.committee.bank.name }}<br/>
          {{ registration.committee.bank.address }}<br/>
          {{ registration.committee.bank.city }} {{ registration.committee.bank.state }}
          {{ registration.committee.bank.postcode }}<br/>
          {{ registration.committee.books_contact.email }}
        </div>
        <div>
          <v-btn tabindex="0" color="primary" @click="activateWizard('Bank')">
            <span v-if="committeeBankBooksStarted">Change</span>
            <span v-else>Get Started</span>
          </v-btn>
        </div>
      </v-stepper-content>
      <v-stepper-step :step="stepNumber[4]" editable edit-icon="check" complete-icon="edit"
                      :complete="officersComplete">
        Committee Officers
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[4]">
        <div>
          <p>How to contact the people responsible for committee decision making.</p>
          <v-card class="mx-2" v-for="(officer,index) in namedOfficers" :key="index">
            <v-card-title>{{ officer.name }}</v-card-title>
            <v-card-text>
              <span v-if="officer.title">{{ officer.title }} {{
                  ifTrue(officer.ministerial, 'Ministerial')
                }}<br/></span>
              <span v-if="officer.email">{{ officer.email }}<br/></span>
              <span v-if="officer.phone">{{ officer.phone }}</span>
            </v-card-text>
          </v-card>
          <div>
            <v-btn tabindex="0" class="mt-2" color="primary" @click="activateWizard('OfficersView')">
              <span v-if="officersStarted">Change</span>
              <span v-else>Get Started</span>
            </v-btn>
          </div>
        </div>
      </v-stepper-content>
      <v-stepper-step :step="stepNumber[5]" v-if="committee.committee_type==='CO'" editable edit-icon="check"
                      complete-icon="edit" :complete="committeeProposalsComplete">
        Ballot Propositions
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[5]" v-if="committee.committee_type==='CO'">
        <div>
          <p v-if="committee.proposals && committee.proposals.length === 0">List any ballot propositions the committee
            supports or opposes.</p>
          <p v-if="committee.proposals && committee.proposals.length === 0">No proposals listed yet.</p>
          <v-card class="proposal" v-for="(proposal,index) in committee.proposals" :key="index">
            <v-card-title>
              <div v-if="proposal.proposal_type === 'recall' && proposal.stance === 'for'">
                {{ $t('message.proposal.for_recall_official', {official: proposal.proposal_issue}) }}
              </div>
              <div v-else-if="proposal.proposal_type === 'recall' && proposal.stance === 'against'">
                {{ $t('message.proposal.against_recall_official', {official: proposal.proposal_issue}) }}
              </div>
              <div v-else-if="proposal.stance === 'for'">
                {{ $t('message.proposal.for') }} {{ proposal.ballot_number | prefix('#') }} <span
                  v-if="!proposal.jurisdiction_id">{{ proposal.proposal_issue }}</span>
              </div>
              <div v-else-if="proposal.stance === 'against'">
                {{ $t('message.proposal.against') }} {{ proposal.ballot_number | prefix('#') }} <span
                  v-if="!proposal.jurisdiction_id">{{ proposal.proposal_issue }}</span>
              </div>
            </v-card-title>
            <v-card-text>
              <div v-if="proposal.jurisdiction">{{ proposal.jurisdiction | titleCase }}</div>
              <div v-if="proposal.proposal_type">{{ $t('message.proposal.' + proposal.proposal_type.toLowerCase()) }}
              </div>
              <div v-if="proposal.election_code">{{ proposal.election_code }}</div>
              <div v-else>{{ $t('message.proposal.no_election') }}</div>
            </v-card-text>
          </v-card>
          <div>
            <v-btn tabindex="0" color="primary" @click="activateWizard('Proposals')">Specify Proposals</v-btn>
          </div>
        </div>
      </v-stepper-content>
      <v-stepper-step :step="stepNumber[6]" v-if="committee.committee_type==='CO'" editable edit-icon="check"
                      complete-icon="edit" :complete="committeeSupportOpposeComplete">
        Candidate Support or Opposition
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[6]" v-if="committee.committee_type==='CO'">
        <div
            v-if="!registration.committee.purpose || registration.committee.purpose === '' || registration.committee.purpose === 'none'">
          List any candidates or party tickets the committee is supporting or opposing.
        </div>
        <div v-else>
          <div v-if="registration.committee.purpose === 'ticket'">
            {{ registration.committee.ticket.stance }} - {{ registration.committee.ticket.name }}
          </div>
          <v-data-table v-if="registration.committee.purpose === 'candidate'"
                        :items="committee.candidates"
                        :headers="[
                            {text: 'Name', value: 'person'},
                            {text: 'Office', value: 'office'},
                            {text: 'Stance', value: 'stance'}
                            ]"
          ></v-data-table>
        </div>
        <div>
          <v-btn tabindex="0" color="primary" @click="activateWizard('StanceQuestion')">
            <span v-if="registration.committee.purpose === 'candidate' || registration.committee.purpose === 'ticket'">Change</span>
            <span v-else>Specify candidates/parties</span>
          </v-btn>
        </div>
      </v-stepper-content>
      <v-stepper-step :step="stepNumber[7]" v-if="registration.committee.committee_type==='CO'" editable
                      edit-icon="check" complete-icon="edit" :complete="affiliationsComplete">
        Committee Affiliations
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[7]" v-if="registration.committee.committee_type==='CO'">
        <div>
          <div v-if="registration.committee.affiliations && registration.committee.affiliations.length === 0">
            Specify if the committee is affiliated with any other committees.
          </div>
          <p v-if="registration.committee.affiliations && registration.committee.affiliations.length === 0">No
            affiliations entered yet</p>
          <v-card v-for="(affiliation, index) in registration.committee.affiliations" :key="index">
            <v-card-text>
              {{ affiliation.affiliate_name }}
            </v-card-text>
          </v-card>
          <div>
            <v-btn tabindex="0" color="primary" @click="activateWizard('Affiliations')">Specify Affiliations</v-btn>
          </div>
        </div>
      </v-stepper-content>
      <v-stepper-step :step="stepNumber[8]" editable edit-icon="check" complete-icon="edit"
                      :complete="localFilingComplete">
        Local Filing
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[8]">
        <div>
          <p>Does the committee have a filing requirement with the City of Seattle (SEEC)?</p>
          <div>
            <span v-if="registration.local_filing.seec.required" class="title">Yes</span>
            <span v-else-if="registration.local_filing.seec.required !== null" class="title">No</span>
          </div>
          <div>
            <v-btn tabindex="0" color="primary" @click="activateWizard('LocalFiling')">
              <span v-if="localFilingStarted">Change</span>
              <span v-else>Get Started</span>
            </v-btn>
          </div>
        </div>
      </v-stepper-content>

      <v-stepper-step :step="stepNumber[9]" editable edit-icon="check" complete-icon="edit"
                      :complete="draftErrors.length === 0">
        View and Verify
      </v-stepper-step>
      <v-stepper-content :step="stepNumber[9]">
        <p v-if="Object.keys(draftErrors).length>0">There are {{ Object.keys(draftErrors).length }} errors</p>
        <v-btn tabindex="0" color="primary" @click="activateWizard('SubmissionErrorCheck')">Review</v-btn>
      </v-stepper-content>
    </v-stepper>
    <div>
      <v-btn tabindex="0" class="mr-2" @click="confirmDeleteDraft=true">
        <span v-if="registration.type==='amendment'">Delete Draft Amendment</span>
        <span v-else>Delete Draft Registration</span>
      </v-btn>
      <v-btn tabindex="0" v-if="registration.type==='amendment'"
             :href="'/campaigns/committee?committee_id=' + registration.committee.committee_id">Cancel
      </v-btn>
      <v-btn tabindex="0" v-else :href="'/campaigns/committees'">Cancel</v-btn>
    </div>
    <v-dialog width="unset" v-model="confirmDeleteDraft">
      <v-card>
        <v-card-title>
          Delete Draft {{ titleCase(registration.type) }}
        </v-card-title>
        <v-card-text>
          <div v-if="registration.type==='draft'">
            Are you sure you want to delete this draft registration? This action cannot be undone.
          </div>
          <div v-else>
            Are you sure you want to delete this draft amendment? Any changes made in this amendment draft will not be
            saved.
            This action cannot be undone.
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" absolute top right icon @click="confirmDeleteDraft=false">
            <v-icon>cancel</v-icon>
          </v-btn>
          <v-btn tabindex="0" @click="confirmDeleteDraft=false">Cancel</v-btn>
          <v-btn tabindex="0" @click="deleteDraft">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <RegistrationWizard ref="registrationWizard"/>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import {app} from "@/main";
import globalFilters from "@/filters";
import RegistrationWizard from "@/registration/RegistrationWizard";
import InfoReportingStatus from "@/info/ReportingStatus";

export default {
  name: "RegistrationDraft", components: {
    RegistrationWizard,
    InfoReportingStatus
  },
  data() {
    return {
      committee_id: null,
      confirmDeleteDraft: false,
      activeStep: 1,
    }
  },

  mounted() {
    this.setDataLoaded(false);
    this.getDraftRegistration();
    app.$container.wire.$on('CommitteeRegistration.activateStepper', this.activateStepper);
    this.getParties();
    this.getElections();
  },

  computed: {
    ...mapState(['registration', 'dataLoaded', 'elections']),
    namedOfficers: function () {
      return this.registration.committee.officers.filter(function (o) {
        return o.name;
      });
    },
    stepNumber: function () {
      let numbers = [1, 2];
      let counter = 3;
      numbers[2] = (this.registration.committee.committee_type === 'CA') ? counter++ : '';
      numbers[3] = counter++;
      numbers[4] = counter++;
      numbers[5] = (this.registration.committee.committee_type === 'CO') ? counter++ : '';
      numbers[6] = (this.registration.committee.committee_type === 'CO') ? counter++ : '';
      numbers[7] = (this.registration.committee.committee_type === 'CO') ? counter++ : '';
      numbers[8] = counter++;
      numbers[9] = counter++;
      return numbers;
    },
    committee() {
      return this.registration.committee;
    },
    draftErrors() {
      return this.registration.draftErrors;
    },
    candidateCommittee() {
      return this.registration.committee.committee_type === 'CA'
    },
    election() {
      if (this.registration.committee.election_code) {
        return this.elections.find(e => e.election_code.toString() === this.registration.committee.election_code.toString());
      }
      return "";
    },
    showContinuingStatus() {
      return this.committee.committee_type === 'CO' && this.committee.election_code && this.committee.end_year && this.registration.type === 'amendment';
    },
    committeeProposalsComplete: {
      get() {
        return Boolean(this.registration.committee.proposals.length > 0 && this.committee.committee_type === 'CO')
      }
    },
    committeeDetailsComplete: {
      get() {
        let committeeContact = this.committee.contact;
        return Boolean(this.committee.name && committeeContact.address && committeeContact.city
            && committeeContact.state && committeeContact.postcode && committeeContact.email && committeeContact.phone);
      }
    },
    reportingStatusComplete: {
      get() {
        return Boolean(this.committee.reporting_type);
      }
    },
    candidacyInformationComplete: {
      get() {
        return Boolean(this.registration && this.registration.committee.candidacy.person && (this.registration.pac_type === 'surplus' || this.registration.committee.candidacy.office))
      }
    },
    candidacyInformationStarted: {
      get() {
        return Boolean(this.registration.committee.candidacy.person || this.registration.committee.candidacy.office)
      }
    },
    committeeBankBooksComplete: {
      get() {
        let bank = this.registration.committee.bank;
        return Boolean(bank.name && bank.address && bank.city && bank.postcode && bank.state);
      }
    },
    committeeBankBooksStarted: {
      get() {
        let bank = this.registration.committee.bank;
        return Boolean(bank.name || bank.address || bank.city || bank.postcode || bank.state);
      }
    },
    officersComplete: {
      get() {
        return Boolean(this.registration.committee.officers && this.registration.committee.officers.length > 0 && !this.registration.draftErrors.hasOwnProperty('officer.incomplete'))
      }
    },
    officersStarted: {
      get() {
        return Boolean(this.registration.committee.officers || this.registration.committee.officers.length > 0)
      }
    },
    committeeSupportOpposeComplete: {
      get() {
        return Boolean(this.registration.committee.purpose && this.committee.committee_type === 'CO');
      }
    },
    affiliationsComplete: {
      get() {
        return Boolean(this.registration.committee.hasOwnProperty('affiliations_declared') && this.registration.committee.affiliations_declared);
      }
    },
    localFilingComplete: {
      get() {
        return (this.registration.local_filing.seec.required !== null && !this.registration.draftErrors.hasOwnProperty('local_books_available.required'));
      }
    },
    localFilingStarted: {
      get() {
        return (this.registration.local_filing.seec.required);
      }
    }
  },

  methods: {
    ...mapActions(['getDraftRegistration', 'setDataLoaded', 'getParties', 'getElections', 'deleteDraftRegistration']),
    ...globalFilters.filters,

    activateWizard(step) {
      this.$refs.registrationWizard.activate(step);
    },
    activateStepper(stepper) {
      this.activeStep = stepper;
    },
    electionTitle(code) {
      if (code) {
        if (this.elections.length) {
          let k = this.elections.find(l => l.election_code.toString() === code.toString());
          return k.title;
        } else {
          return code;
        }
      }
    },
    deleteDraft() {
      app.$container.dataService.deleteCommitteeDraft(
          this.registration.committee.committee_id,
          (data) => {
            if (data.data) {
              window.location.href = "/campaigns/committee?committee_id=" + data.data;
            } else {
              window.location.href = "/campaigns/committees";
            }
          }
      );
      this.confirmDeleteDraft = false;
    },
    editCommitteeDetails() {
      if (this.committee.committee_type === 'CO') {
        this.activateWizard('Sponsor');
      } else {
        this.activateWizard('CommitteeDetails');
      }

    }
  }
}
</script>


<style lang="scss" scoped>
.not-done-chip {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 5;
}
</style>
