<template>
  <v-dialog v-model="activeWizard" @keydown="processKey" persistent :max-width="maxWidth"
            :fullscreen="$vuetify.breakpoint.xsOnly">
    <v-card>
      <v-card-title>
        <div>
          {{ wizardTitle }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-alert v-if="wizardMessages.error" type="error">Provide {{ wizardMessages.error }}</v-alert>
        <component v-if="activeWizard" :is="wizardStep" ref="wizardComponent" :options="wizardStepOptions"/>
      </v-card-text>
      <v-card-actions class="d-flex justify-space-between">
        <v-btn tabindex="0" class="mb-1" color="warning" ref="prevButton" :disabled="!hasPrevious" @click="previousStep">
          {{ previousLabel }}
        </v-btn>
        <div class="text-center">
          <v-btn  absolute top right icon tabindex="-1" @click="closeDialog()">
            <v-icon>cancel</v-icon>
          </v-btn>
          <v-btn tabindex="0" class="mr-1 mb-1" ref="closeButton" @click="closeDialog()">Finish later</v-btn>
          <v-btn tabindex="0" class="ml-1 mb-1"
                 v-if="!['SubmissionErrorCheck','SubmissionReview','SubmissionTransmit'].includes(wizardStep)"
                 ref="reviewButton" @click="skipToReview()">Skip to review
          </v-btn>
        </div>
        <v-btn tabindex="0" class="mb-1" color="primary" :disabled="!nextEnabled || !hasNext" ref="nextButton" @click="nextStep()">
          {{ nextLabel }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapState, mapActions} from "vuex";
import {app} from "../main";

function loadWizardSteps(steps) {
  return steps.reduce((current, step) => ({
    ...current,
    [step]: () => {
      return import(`./${step}.vue`)
    }
  }), {});
}

export default {
  name: "RegistrationWizard",
  components: {
    ...loadWizardSteps([
      'Affiliations',
      'CandidateName',
      'CandidateOffice',
      'CandidateParty',
      'ReportingStatus',
      'CommitteeParty',
      'ContinuingStatus',
      'Sponsor',
      'CommitteeDetails',
      'Contact',
      'StanceQuestion',
      'Bank',
      'Books',
      'Proposals',
      'OfficersView',
      'Officer',
      'LocalFiling',
      'SubmissionErrorCheck',
      'SubmissionReview',
      'SubmissionTransmit'
    ])
  },
  data() {
    return {
      activeWizard: false,
      hasNext: true,
      nextEnabled: true,
      hasPrevious: true,
      nextLabel: "Next",
      previousLabel: "Previous",
      wizardStep: null,
      wizardComponent: null,
      wizardTitle: "",
      wizardStepOptions: {},
      steps: [
        {
          component: "Sponsor",
          title: "Committee Sponsor",
          stepper: 'identification',
          limitTo: r => r.committee.committee_type !== 'CA',
        },
        {
          component: "CommitteeDetails",
          title: "Committee Identification",
          stepper: 'identification',
        },
        {
          component: "Contact",
          title: "Committee Contact Info",
          stepper: 'identification',
        },
        {
          component: "CommitteeParty",
          title: "Committee Party",
          stepper: 'identification',
          limitTo: r => r.committee.pac_type === 'bonafide' || r.committee.pac_type === 'caucus'
        },
        {
          component: "ReportingStatus",
          title: "Reporting Status",
          stepper: "reportingstatus",
        },
        {
          component: "ContinuingStatus",
          title: "Confirm Single Election Reporting",
          stepper: "reportingstatus",
          limitTo: r => r.committee.committee_type === 'CO' && r.committee.election_code && r.committee.end_year && r.type === 'amendment'
        },
        {
          component: "CandidateName",
          title: "Candidacy Information",
          stepper: "candidacy",
          limitTo: r => r.committee.committee_type === 'CA'
        },
        {
          component: "CandidateOffice",
          title: "Candidacy Information",
          stepper: 'candidacy',
          limitTo: r => r.committee.pac_type === 'candidate'
        },
        {
          component: "CandidateParty",
          title: "Candidacy Information",
          stepper: 'candidacy',
          limitTo: r => r.committee.pac_type === 'candidate' && r.committee.candidacy.partisan
        },
        {
          component: "Bank",
          title: "Bank Information",
          stepper: 'bankbooks',
        },
        {
          component: "Books",
          title: "Books Inspection Contact",
          stepper: 'bankbooks',
        },
        {
          component: "OfficersView",
          title: "Officers",
          stepper: 'officers',
        },
        {
          component: "Proposals",
          title: 'Ballot Propositions',
          stepper: 'proposals',
          limitTo: r => r.committee.committee_type === 'CO',
        },
        {
          component: "StanceQuestion",
          title: "Candidate Support or Opposition",
          stepper: 'stance',
          limitTo: r => r.committee.committee_type === 'CO'
        },
        {
          component: "Affiliations",
          title: "Affiliations",
          stepper: 'affiliations',
          limitTo: r => r.committee.committee_type === 'CO',
        },
        {
          component: "LocalFiling",
          title: "Local Filing",
          stepper: 'localfiling'
        },
        {
          component: "SubmissionErrorCheck",
          title: "Check Errors",
          stepper: "certify",
        },
        {
          component: "SubmissionReview",
          title: "Review Submission",
          stepper: 'certify',
          limitTo: r => r.draftErrors.length === 0
        },
        {
          component: "SubmissionTransmit",
          title: "Send to PDC",
          stepper: "certify",
          limitTo: r => r.draftErrors.length === 0
        }
      ]
    }
  },
  mounted() {
    // register events so that other components can remote control the wizard.
    app.$container.wire.$on('RegistrationWizard.validateWizard', this.validateWizard);
    app.$container.wire.$on('RegistrationWizard.nextStep', this.nextStep);
    app.$container.wire.$on('RegistrationWizard.previousStep', this.previousStep);
    app.$container.wire.$on('RegistrationWizard.close', this.closeDialog);
    app.$container.wire.$on('RegistrationWizard.activate', this.activate);
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    maxWidth() {
      return this.$vuetify.breakpoint.mdAndUp ? '960px' : '';
    }
  },
  methods: {
    ...mapActions(['saveDraftRegistration', 'validateDraft', 'activateStepper']),
    filteredSteps() {
      let registration = this.registration;
      return this.steps.filter(step => {
        if (step.hasOwnProperty("limitTo") && step.component !== this.wizardStep) {
          return step.limitTo(registration);
        } else {
          return true;
        }
      })
    },
    closeDialog() {
      this.activeWizard = false;
      this.wizardStep = "";
      this.saveDraftRegistration();
    },
    findStepIndex(steps, wizardStep) {
      return steps.findIndex(s => s.component === wizardStep || (s.hasOwnProperty('branch') && s.branch === wizardStep));
    },
    nextStep() {
      let filteredSteps = this.filteredSteps();
      let idx = this.findStepIndex(filteredSteps, this.wizardStep);
      idx++;
      if (idx >= filteredSteps.length) {
        this.closeDialog();
      } else {
        this.activate(filteredSteps[idx].component);
      }
      this.saveDraftRegistration();
    },
    previousStep() {
      let filteredSteps = this.filteredSteps();
      let idx = this.findStepIndex(filteredSteps, this.wizardStep);
      idx--;
      if (idx < 0) {
        this.closeDialog();
      } else {
        this.activate(filteredSteps[idx].component)
      }
      this.saveDraftRegistration();
    },
    skipToReview() {
      this.saveDraftRegistration();
      this.activate('SubmissionErrorCheck');
    },
    activate(step, options = {}) {
      this.wizardStep = step;
      this.wizardStepOptions = options;
      let filteredSteps = this.filteredSteps();
      let idx = this.findStepIndex(filteredSteps, this.wizardStep);
      let nextStep = filteredSteps[idx];
      this.hasNext = idx < filteredSteps.length - 1;
      this.hasPrevious = idx > 0;
      this.wizardTitle = nextStep.title;
      this.activeWizard = true;
      this.activateStepper(nextStep.stepper);
      setTimeout(this.validateWizard, 900);
      setTimeout(this.focusFirst, 1000);
    },
    validateWizard() {
      // This ensures that we wait until the components is defined before we set focus.
      // If the components has not initialized we revalidate until we find one every .1 seconds.
      this.wizardComponent = this.$refs['wizardComponent'];
      let filteredSteps = this.filteredSteps();
      let idx = this.findStepIndex(filteredSteps, this.wizardStep);
      this.hasNext = idx < filteredSteps.length - 1;
      if (this.wizardComponent === undefined) {
        setTimeout(() => {
          app.$nextTick(this.validateWizard);
        }, 500);
      }
      if (this.wizardComponent && this.wizardComponent.hasOwnProperty('stepValid')) {
        this.nextEnabled = this.wizardComponent.stepValid();
      } else {
        this.nextEnabled = true;
      }
    },
    focusFirst() {
      if (this.wizardComponent) {
        var ctls = this.wizardComponent.$el.querySelectorAll('a[href], area[href], input:not([disabled]), select:not([disabled]), button:not([tabindex="-1"]), textarea:not([disabled]), [tabindex="0"]');
        if (ctls.length > 0) {
          ctls.item(0).focus();
        }
      }
    },
    processKey(e) {
      if (e.key === "Enter" && this.nextEnabled && this.hasNext) {
        this.nextStep();
      }
    },
  }
}
</script>

<style scoped>

</style>