<template>
  <div>
    <span v-show="hasError(fieldError)"></span>
    <div>
      <p>Campaigns will be expected to file regular contribution and expenditure reports <strong>unless they “check qualifications” and choose mini reporting below.</strong>
        <InfoReportingStatus/>
      </p>
      <div v-if="committee.reporting_type === 'full'">
        <v-icon color="primary" large>check</v-icon>
        <strong>Full Reporting:</strong> The campaign will file contribution and expenditure reports required by law.
      </div>
      <div v-if="committee.reporting_type === 'mini'">
        <v-icon color="primary" large>check</v-icon>
        <strong>Mini Reporting:</strong> the campaign will not be required to file reports.
      </div>
      <div v-if="registration.admin_data.reporting_type !== 'mini' || miniFullPermission">
        <v-card>
          <v-card-text>
            Campaigns raising or spending no more than $7,000 may be eligible for mini reporting with limitations on their campaign activity.
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" @click="reportTypeDialog = true">
              Check Qualifications
            </v-btn>
          </v-card-actions>
        </v-card>
      </div>
      <br/>
      Click next to continue. <strong>By clicking next you are selecting {{ committee.reporting_type }} reporting.</strong>
      <div v-if="committeeReportingType === 'mini' && !miniFullPermission">
        <v-card>
          <v-card-text>
            <div><em><strong>Full Reporting
              unavailable:</strong> A mini-reporting campaign must request permission to change to full reporting status. <a
                target="_blank"
                href="https://www.pdc.wa.gov/registration-reporting/candidates-committees/registration-reporting-basics/choosing-mini-or-full-reporting">Click
              here for information about requesting permission</a>.</em></div>
          </v-card-text>
        </v-card>
      </div>
    </div>
    <v-dialog v-model="reportTypeDialog" max-width="75%">
      <v-card>
        <v-card-title>Mini reporting requirements</v-card-title>
        <v-list>
          <div v-for="requirement in miniReportingRequirements" :key="requirement.index" class="mini-requirement">
              <v-checkbox tabindex="0" v-model="requirement.checked">
                <template v-slot:label>
                  <div>
                    {{requirement.requirement}} <a v-if="requirement.URL" :href=requirement.URL @click.stop target="_blank">({{requirement.urlSiteName}})</a>
                  </div>
                </template>
              </v-checkbox>
              <div v-if="requirement.subItems" style="padding-left: 2em">
                <v-list-item v-for="subItem in requirement.subItems" :key="subItem.index">
                  <v-list-item-subtitle>- {{subItem}} </v-list-item-subtitle>
                </v-list-item>
            </div>
          </div>
        </v-list>
        <v-card-actions>
          <v-btn tabindex="0" :color="!miniReportingRequirementsAcknowledged ? 'primary' : ''" :disabled="miniReportingRequirementsAcknowledged" @click="setReportingType('mini')">Use mini reporting</v-btn>
          <v-btn tabindex="0" :color="miniReportingRequirementsAcknowledged ? 'primary' : ''" @click="setReportingType('full')">Use full reporting</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import InfoReportingStatus from "@/info/ReportingStatus";

export default {
  name: "ReportingStatus",
  components: {InfoReportingStatus},
  data() {
    return {
      fieldError: false,
      reportTypeDialog: false,
      miniReportingRequirements: [
        {checked: false, requirement: 'I understand I can raise no more than $7,000 (in addition to filing fees if a candidate campaign).'},
        {checked: false, requirement: 'I understand I can receive no more than $500 from any one contributor (other than the candidate themselves).'},
        {checked: false, requirement: 'I understand that candidates and committees choosing mini reporting do not file contribution and expenditure reports, but must file a registration statement, keep records of their contributions and expenditures, and comply with disclosure requirements.'},
        {checked: false, requirement: 'I understand that candidate and committees must comply with these disclosure requirements:',
          subItems: ['Allow public inspections of campaign books during the eight calendar days before an election (see WAC 390-16-043).', 'Include proper sponsor identification, any party preference and other required elements needed for political advertising.', 'Submit C-6s for independent expenditures and electioneering communications.']},
        {checked: false, requirement: 'I understand that if I select mini reporting and find the need to raise and spend more than allowable under this classification, I must make a request to move to full reporting. The request must be made in accordance with applicable deadlines, and I will need to complete all reporting (i.e. filing accurate contribution and expenditure reports to disclose all transactions from the beginning of the campaign to the date of the application).\n Failure to meet all of the requirements by the deadlines will result in a rejection of the request to switch to full reporting/higher contribution limits.',
          URL: 'https://app.leg.wa.gov/WAC/default.aspx?cite=390-16-125', urlSiteName: 'WAC 390-16-125'},
        {checked: false, requirement: 'I understand that, in the event that I request such a switch, the PDC must carefully assess whether I have met the criteria, and that this process can take a significant amount of time, especially as deadlines approach and many committees are requesting to switch to full reporting in the same time period.'},
        {checked: false, requirement: 'I understand that I will not be allowed to exceed the mini reporting limits until the assessment and approval are complete.'},
        {checked: false, requirement: 'I understand that if I choose mini reporting and then exceed the limits that apply, I will be subject to enforcement action and possible penalties.'}
      ]
    }
  },
  mounted() {
    this.setDefaultReportType();
  },
  computed: {
    ...mapState(['registration', 'wizardMessages']),
    committee() {
      return this.registration.committee;
    },
    adminData() {
      return this.registration.admin_data;
    },
    committeeReportingType() {
      if (this.registration.admin_data && this.registration.admin_data.reporting_type) {
        return this.registration.admin_data.reporting_type;
      } else
        return null;
    },
    miniFullPermission() {
      if (this.registration.admin_data && this.registration.admin_data.mini_full_permission) {
        return this.registration.admin_data.mini_full_permission === true;
      } else
        return false;
    },
    miniReportingRequirementsAcknowledged(){
      return this.miniReportingRequirements.some(e => e.checked === false)
    }
  },

  methods: {
    setDefaultReportType(){
      if(!this.committee.reporting_type){
        this.committee.reporting_type = 'full'
      }
    },
    setReportingType(reportingType){
      this.committee.reporting_type = reportingType;
      this.reportTypeDialog = false;
    },
    hasError() {
      let errorMessage = '';
      if (!this.committee.reporting_type) {
        errorMessage += "a reporting type"
      } else {
        errorMessage = ''
      }
      this.wizardMessages.error = errorMessage;
    }
  }
}
</script>

<style lang="scss">

.mini-requirement {
  padding: 0 1em 0 1em;
}

.mini-requirement .v-input__slot {
  align-items: flex-start;
}

</style>
