<template>
  <div>
    <div>
      <p><strong>Is this a sponsored committee?</strong></p>
      <p>Has the committee received eighty percent or more of its contributions from a <strong>single</strong> person or
        entity?
        <InfoSponsorDefinition/>
      </p>
    </div>
    <div>
      <v-radio-group row v-model="committee.has_sponsor" @change="onStepChange()">
        <v-radio value="yes" label="Yes"></v-radio>
        <v-radio value="no" label="No"></v-radio>
      </v-radio-group>
    </div>
    <v-text-field v-if="committee.has_sponsor==='yes'" v-model="committee.sponsor" @change="onSponsorChange"
                  label="Sponsor Name">
    </v-text-field>
  </div>
</template>

<script>
import {app} from "../main";
import {mapState} from 'vuex';
import InfoSponsorDefinition from "../info/SponsorDefinition";

export default {
  components: {InfoSponsorDefinition},
  data() {
    return {
      originalSponsor: ''
    }
  },
  computed: {
    ...mapState(['registration']),
    committee() {
      return this.registration.committee;
    },
  },
  mounted() {
    if (this.registration.committee.base_name === undefined) {
      this.registration.committee.base_name = "";
    }
    this.originalSponsor = this.registration.committee.sponsor;
  },
  methods: {
    onStepChange() {
      let committee = this.registration.committee;
      if (committee.has_sponsor === 'yes' && !committee.base_name) {
        committee.base_name = committee.name;
      } else if (committee.has_sponsor === 'no' && committee.base_name) {
        committee.name = committee.base_name;
        committee.base_name = "";
        committee.sponsor = "";
      }
      app.$container.wire.$emit('RegistrationWizard.validateWizard');
    },
    onSponsorChange() {
      let committee = this.registration.committee;

      if (committee.sponsor !== this.originalSponsor) {
        committee.name.replace(this.originalSponsor, committee.sponsor);
      }
      if (!committee.name.includes(committee.sponsor)) {
        committee.name = committee.base_name + " Sponsored by " + committee.sponsor;
      }
    },
    stepValid() {
      let committee = this.registration.committee;
      return committee && committee.hasOwnProperty('has_sponsor') && (committee.has_sponsor === "yes" || committee.has_sponsor === "no");
    }
  }
};
</script>

<style scoped>

</style>