<template>
  <div>
    <span v-show="hasError(fieldError)"></span>
    <p class="v-layout v-alignment-center-left">Is the committee in support or opposition to:
      <InfoTicketOrSlate/>
    </p>

    <v-radio-group v-model="purpose" @change="cardControl">
      <v-radio value="ticket" label="An entire ticket of a political party"/>
      <v-radio value="candidate" label="One or more candidates for public office"/>
      <v-radio value="none" label="Neither"/>
    </v-radio-group>


    <div v-if="purpose !== 'none'">
      <v-card v-if="hasStance">
        <v-card-text v-if="purpose === 'ticket'">
          <div>
            <p>Choosing an entire ticket for:</p>
            <span>Political Party</span>
            <v-select v-model="party_id" @change="addTicket" :items="parties" item-text="name"
                      :value="party_id" item-value="party_id"></v-select>
            <v-radio-group @change="addTicket" v-model="stance">
              <v-radio :disabled="!(party_id)" value="for" label="Support for the entire ticket."></v-radio>
              <v-radio :disabled="!(party_id)" value="against" label="Opposition to the entire ticket."></v-radio>
            </v-radio-group>
          </div>
        </v-card-text>
        <v-card-text v-if="purpose === 'candidate'">
          <p>{{ candidateDescriptionText }}</p>
          <v-simple-table>
            <template v-slot:default>
              <tbody>
              <tr v-for="(candidate, index) in candidates" :key="`candidate_${index}`">
                <td>{{ titleCase(candidate.stance) }} - {{ candidate.person }} for {{ titleCase(candidate.office) }}
                  {{ titleCase(candidate.party) }}
                </td>
                <td>
                  <v-btn tabindex="0" @click="requestDelete(index)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" v-if="purpose === 'candidate'" @click="findCandidate">Add</v-btn>
        </v-card-actions>
      </v-card>
    </div>

    <v-dialog v-model="showCandidateSearch">
      <v-card>
        <v-card-text>
          <div>
            <v-text-field v-model="search" label="Candidate Name"></v-text-field>
            <v-btn tabindex="0" :disabled="search.length === 0" class="primary" @click="searchCandidate">Search</v-btn>
          </div>
          <div v-show="showProgressSpinner && !dataReturned">
            <v-progress-circular color="primary" indeterminate></v-progress-circular>
          </div>
          <div v-show="dataReturned">
            <v-radio-group v-model="selectCandidacyId">
              <v-radio v-for="person in persons" :key="person.candidacy_id"
                       :value="person.candidacy_id"
                       :label="person.name + ' (' + person.office_title + ' ' + person.election + ')'">
              </v-radio>
            </v-radio-group>
          </div>
          <div v-show="!showProgressSpinner && !dataReturned">No candidates were found using the given search
            criteria.
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" class="warning" :disabled="!(search.length > 0)" @click="showOtherCandidate = true">Mine's not listed
          </v-btn>
          <v-btn tabindex="0" class="primary" :disabled="!selectCandidacyId" @click="showCandidateStance = true">Add Candidate
          </v-btn>
          <v-btn tabindex="0" @click="showCandidateSearch = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showCandidateStance">
      <v-card>
        <v-card-text>
          <v-text-field label="Candidate name" :disabled="true" v-model="search"></v-text-field>
          <v-radio-group v-model="stance">
            <v-radio value="for" label="The committee is supporting."></v-radio>
            <v-radio value="against" label="The committee is opposing."></v-radio>
          </v-radio-group>
          <v-btn tabindex="0" :disabled="!Boolean(stance)" @click="addCandidate">Save</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showOtherCandidate">
      <v-card>
        <v-card-text>
          <p>Which candidate is the committee supporting or opposing?
            <InfoCandidateStance/>
          </p>
          <v-text-field label="Name" v-model="search"></v-text-field>
          <v-select :items="offices" item-text="offtitle" item-value="offtitle" v-model="office_title"
                    label="Office Sought"></v-select>
          <v-select :items="parties" item-text="name" item-value="party_id" v-model="party_id"
                    label="Party Affiliation"></v-select>
          <v-radio-group v-model="stance">
            <v-radio value="for" label="The committee is supporting this candidate."></v-radio>
            <v-radio value="against" label="The committee is opposing this candidate."></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="!Boolean(validateFields)" class="primary" @click="savePosition">Save</v-btn>
          <v-btn tabindex="0" @click="showOtherCandidate = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deleteDialog">
      <v-card>
        <v-card-text>
          Remove {{ search }}?
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="deleteDialog = false">Cancel</v-btn>
          <v-btn tabindex="0" class="primary" @click="onDelete">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import {app} from "../main"
import InfoCandidateStance from "@/info/CandidateStance";
import InfoTicketOrSlate from "@/info/TicketOrSlate";
import globalFilters from '@/filters'

export default {
  components: {InfoCandidateStance, InfoTicketOrSlate},
  data() {
    return {
      deleteDialog: false,
      showCandidateStance: false,
      showCandidateSearch: false,
      selectCandidacyId: '',
      fieldError: false,
      office_title: '',
      offices: [],
      persons: [],
      partyList: [],
      action: "",
      search: "",
      stance: '',
      showProgressSpinner: false,
      dataReturned: false,
      spinnerDiameter: 45,
      party_id: null,
      selectedIndex: '',
      candidates: [],
      showOtherCandidate: false,
    }
  },
  computed: {
    ...mapState(['registration', 'parties', 'wizardMessages']),
    rules() {
      return [
        this.stance || "At least one item should be selected"
      ];
    },
    candidateDescriptionText() {
      return this.registration.committee.candidates.length >= 1 ? "My Candidates:" : 'Identify each candidates name, office sought and political party affiliation.'
    },
    hasStance() {
      return this.purpose === 'ticket' || this.purpose === 'candidate';
    },
    validateFields() {
      return this.search && this.office_title && this.stance
    },
    missingPurposeError() {
      if (this.registration.draftErrors["ticket.incomplete"] || this.registration.draftErrors["proposal.incomplete"] || this.registration.draftErrors["candidate.incomplete"]) {
        return true
      }
      return false;
    },
    purpose: {
      get() {
        if (this.registration.committee.purpose) {
          return this.registration.committee.purpose;
        } else {
          return '';
        }
      },
      set(value) {
        this.registration.committee.purpose = value;
      }
    }
  },
  mounted() {
    app.$container.dataService.query('political_party', data => {
      this.partyList = data;
    });
    app.$container.dataService.query('office_types', data => {
      this.offices = data;
    });
    this.purpose = this.registration.committee.purpose;
    this.candidates = this.registration.committee.candidates ?? [];
    this.setLocalProperties();
  },
  methods: {
    ...mapActions(['saveDraftRegistration']),
    ...globalFilters.filters,
    setLocalProperties() {
      this.stance = this.stance || this.registration.committee.ticket?.stance || '';
      this.party_id = this.party_id ?? this.registration.committee.ticket?.party_id ?? null;
    },

    hasError() {
      let errorMessage = '';
      if (
          this.missingPurposeError && (
              !this.registration.committee.purpose
              || (this.registration.committee.purpose === 'ticket' && (!this.party_id || !this.stance))
              || (this.registration.committee.purpose === 'candidate' && this.registration.committee.candidates.length < 1)
              || (this.registration.committee.purpose === 'none')
          )) {
        errorMessage += ' candidate, party or proposal information'
      } else {
        errorMessage = '';
      }
      this.wizardMessages.error = errorMessage;
    },
    requestDelete(index) {
      this.selectedIndex = index;
      this.deleteDialog = true;
      let person = this.registration.committee.candidates[this.selectedIndex];
      this.search = person.person;
    },
    findCandidate() {
      this.search = '';
      this.persons = [];
      this.office_title = '';
      this.showCandidateSearch = true;
    },
    addTicket() {
      let pty = this.parties.find(element => element.party_id === this.party_id);
      if (pty) {
        const p = {
          party_id: pty.party_id,
          name: pty.name,
          stance: this.stance
        };
        this.registration.committee.ticket = p;
        this.registration.committee.purpose = 'ticket';
        this.registration.committee.pc_stance_party = true;
        this.registration.committee.pc_stance_candidate = false;
        this.saveDraftRegistration();
      }
    },
    searchCandidate() {
      // clearing the stance here so that the stance is retained for party ticket
      this.stance = '';
      this.dataReturned = false;
      this.showProgressSpinner = true;
      app.$container.dataService.query('person', data => {
        this.persons = data;
        if (this.persons.length > 0) {
          this.dataReturned = true;
          this.showProgressSpinner = false;
        } else {
          this.showProgressSpinner = false;
        }
      }, {
        search: this.search,
        similarity: 0.4,
        election_code: this.registration.committee.election_code
      });
    },
    cardControl() {
      switch (this.purpose) {
        case 'ticket':
          this.registration.committee.ticket = {party_id: this.party_id ?? null, name: '', stance: ''};
          this.registration.committee.candidates = [];
          this.registration.committee.pc_stance_party = true;
          this.registration.committee.pc_stance_candidate = false;
          break;
        case 'candidate':
          this.registration.committee.ticket = {party_id: null, name: '', stance: ''};
          this.registration.committee.candidates = [];
          this.registration.committee.pc_stance_party = false;
          this.registration.committee.pc_stance_candidate = true;
          break;
        case 'none':
          this.registration.committee.ticket = {party_id: null, name: '', stance: ''};
          this.registration.committee.candidates = [];
          this.registration.committee.pc_stance_party = false;
          this.registration.committee.pc_stance_candidate = false;
          break;
      }
      this.setLocalProperties();
    },
    addCandidate() {
      this.p = this.persons.find(element => element.candidacy_id === this.selectCandidacyId);
      if (this.p) {
        const person = {
          candidacy_id: this.p.candidacy_id,
          person: this.p.name,
          office: this.p.office_title,
          party: '',
          party_id: null,
          stance: this.stance
        };
        this.candidates = [...this.candidates, person];
        this.registration.committee.purpose = 'candidate';
        this.registration.committee.pc_stance_party = false;
        this.registration.committee.pc_stance_candidate = true;
      }
      this.registration.committee.candidates = this.candidates;
      this.saveDraftRegistration();
      this.stance = '';
      this.showCandidateStance = false;
      this.showCandidateSearch = false;
    },
    savePosition() {
      let pty = {
        name: '',
        party_id: null,
      };
      if (this.party_id) {
        pty = this.parties.find(ele => ele.party_id === this.party_id);
      }

      const candidate = {
        candidacy_id: '',
        person: this.search,
        office: this.office_title,
        party: pty.name,
        party_id: pty.party_id,
        stance: this.stance
      };
      this.candidates = [...this.candidates, candidate];
      this.registration.committee.purpose = 'candidate';
      this.registration.committee.pc_stance_party = false;
      this.registration.committee.pc_stance_candidate = true;
      this.registration.committee.candidates = this.candidates;
      this.saveDraftRegistration();
      this.showOtherCandidate = false;
    },
    onStepChange() {
      app.$container.wire.$emit('RegistrationWizard.validateWizard');
      this.setLocalProperties();
    },
    onDelete() {
      if (this.purpose === 'ticket') {
        this.registration.committee.ticket = [];
        this.registration.committee.purpose = '';
        this.registration.committee.pc_stance_party = true;
        this.registration.committee.pc_stance_candidate = false;
      } else {
        this.deleteDialog = false;
        this.registration.committee.candidates.splice(this.selectedIndex, 1);
        if (this.registration.committee.candidates.length === 0) {
          this.registration.committee.purpose = '';
          this.registration.committee.pc_stance_party = false;
          this.registration.committee.pc_stance_candidate = false;
        }
        this.registration.committee.pc_stance_candidate = true;
        this.search = '';
      }
      this.action = 'view';
    },
  }
}
</script>

<style scoped>

</style>