<template>
  <div>
    <div v-if="Object.keys(draftErrors).length>0">
      <p><strong>Time saving tip:</strong> After fixing any errors, click the "Skip to Review" button at the bottom of
        that screen to jump back to this review page.</p>
      <v-simple-table>
        <template v-slot:default>
          <tbody>
          <tr v-for="(error, index) in draftErrors" :key="index">
            <td>{{ error }}</td>
            <td>
              <component :is="fetchVueInfo(index)"/>
              <v-btn tabindex="0" @click="fixError(index)">Fix It</v-btn>
            </td>
          </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
    <div v-if="Object.keys(draftErrors).length===0">
      <v-icon v-if="success" color="primary" size="400%">done</v-icon>
      <p>We've reviewed this submission and found no obvious problems.
        Please remember to review this registration and transmit it to the PDC.
      </p>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import InfoAffiliations from "@/info/Affiliations";
import InfoBooksInspection from "@/info/BooksInspection";
import InfoCandidateDefinition from "@/info/CandidateDefinition";
import InfoElectionIncomplete from "@/info/ElectionIncomplete";
import InfoMissingBankInfo from "@/info/MissingBankInfo";
import InfoIncompleteContact from "@/info/IncompleteContact";
import InfoMissingLocalBooksInspection from "@/info/MissingLocalBooksInspection";
import InfoMissingMiniFull from "@/info/MissingMiniFull";
import InfoMissingTreasurer from "@/info/MissingTreasurer";
import InfoOfficePositionHelp from "@/info/OfficePositionHelp";
import InfoOfficers from "@/info/Officers";
import InfoSponsorDefinition from "@/info/SponsorDefinition";
import InfoMinisterialOnly from '@/info/MinisterialOnly'

export default {
  name: "SubmissionErrorCheck",
  components: {
    InfoAffiliations,
    InfoBooksInspection,
    InfoCandidateDefinition,
    InfoElectionIncomplete,
    InfoMissingBankInfo,
    InfoIncompleteContact,
    InfoMissingLocalBooksInspection,
    InfoMissingMiniFull,
    InfoMissingTreasurer,
    InfoOfficePositionHelp,
    InfoOfficers,
    InfoSponsorDefinition,
    InfoMinisterialOnly
  },
  data() {
    return {
      certify: false,
      certifySubmitted: false,
      certifyWithErrors: false,
      loaded: false,
      success: true,
      errorMessage: "",
    }
  },
  computed: {
    ...mapState(['registration', 'dataLoaded']),
    committee() {
      return this.registration.committee;
    },
    draftErrors() {
      return this.registration.draftErrors;
    },

  },
  methods: {
    ...mapActions(['wizardActivate']),
    containsError(error, key) {
      return error.includes(key);
    },
    fixError(errorKey) {
      switch (true) {
        case this.containsError(errorKey, 'name.required'):
          this.wizardActivate({step: 'CommitteeDetails'});
          break;
        case this.containsError(errorKey, 'committee.party'):
          this.wizardActivate({step: 'CommitteeParty'});
          break;
        case this.containsError(errorKey, 'reporting_type'):
          this.wizardActivate({step: 'ReportingStatus'});
          break;
        case this.containsError(errorKey, 'affiliation'):
          this.wizardActivate({step: 'Affiliations'});
          break;
        case this.containsError(errorKey, 'bank'):
          this.wizardActivate({step: 'Bank'});
          break;
        case this.containsError(errorKey, 'local_books'):
          this.wizardActivate({step: 'LocalFiling'});
          break;
        case this.containsError(errorKey, 'books'):
          this.wizardActivate({step: 'Books'});
          break;
        case this.containsError(errorKey, 'candidacy'):
          this.wizardActivate({step: 'CandidateName'});
          break;
        case this.containsError(errorKey, 'contact'):
          this.wizardActivate({step: 'Contact'});
          break;
        case this.containsError(errorKey, 'ticket'):
          this.wizardActivate({step: 'StanceQuestion'});
          break;
        case this.containsError(errorKey, 'proposal'):
          this.wizardActivate({step: 'Proposals'});
          break;
        case this.containsError(errorKey, 'officer'):
          this.wizardActivate({step: 'OfficersView'});
          break;
        case this.containsError(errorKey, 'sponsor'):
          this.wizardActivate({step: 'Sponsor'});
          break;
        case this.containsError(errorKey, 'treasurer'):
          this.wizardActivate({step: 'OfficersView'});
          break;
        default:
          break;
      }
    },
    fetchVueInfo(index) {
      switch (index) {
        case 'sponsor.undeclared':
          return 'InfoSponsorDefinition';
        case 'reporting_type.invalid':
          return 'InfoMissingMiniFull';
        case'contact.invalid' :
        case'contact.incomplete' :
          return 'InfoIncompleteContact';
        case 'officer.incomplete':
          return 'InfoOfficers';
        case 'bank.incomplete':
          return 'InfoMissingBankInfo';
        case 'books.incomplete':
          return 'InfoBooksInspection';
        case 'candidacy.office.incomplete':
        case 'candidacy.office.invalid':
          return 'InfoOfficePositionHelp';
        case 'candidacy.incomplete':
        case 'candidacy.person.incomplete':
          return 'InfoCandidateDefinition';
        case 'election.incomplete':
          return 'InfoElectionIncomplete';
        case 'treasurer.required':
          return 'InfoMissingTreasurer';
        case 'treasurer.ministerial-only':
          return 'InfoMinisterialOnly';
        case 'affiliations.undeclared':
          return 'InfoAffiliations';
        case 'local_books_available.required':
          return 'InfoMissingLocalBooksInspection';
      }
    }
  }
}
</script>

<style scoped lang="scss">
</style>