<template>
  <div>
    <p>When you're ready to submit to the PDC click the <strong>Certify button</strong>.
    </p>
    <v-btn tabindex="0" class="primary" @click="openCertifyDialog()">Certify...</v-btn>
    <v-dialog v-model="certify" persistent>
      <v-card>
        <v-card-title>Certify</v-card-title>
        <v-card-text>
          <p>
            By typing <strong>I certify</strong> on the last line below, I certify under penalty of perjury under the
            laws of the State of Washington
            that I have the authority to sign PDC reports for the entity named in this registration and that the
            information contained
            in the reports is true. I further acknowledge that the email address provided herein shall constitute the
            official address
            for purposes of all communications with the commission, and that I must notify the commission of any change
            to that address
            within ten days.
          </p>
          <p>I also acknowledge having read the commission’s requirements for electronic filing as set forth in <a
              href="https://apps.leg.wa.gov/wac/default.aspx?cite=390-19&full=true" target="_blank">WAC-390-19-010</a>
            through 050.</p>
          <v-text-field v-if="isAdmin" placeholder="Input filer email"
                        v-model="registration.certification_email"></v-text-field>
          <DatePicker label="Input filing date" v-model="registration.submitted_at" v-if="isAdmin"></DatePicker>
          <v-text-field placeholder="Type here" v-model="registration.certification"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="!certifyEnabled || certifySubmitted" class="primary" @click="showCertifySubmittedDialog(),doSubmitDraft()">
            Certify
          </v-btn>
          <v-btn tabindex="0" class="primary" @click="closeResults()">Not Now</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="certifySubmitted" persistent>
      <v-card>
        <v-card-title>Submission Processing</v-card-title>
        <v-card-text>
          <div>
            <v-spacer></v-spacer>
            <div>
              <v-progress-linear v-if="!loaded" indeterminate></v-progress-linear>
              <v-icon v-else-if="success" color="primary">done</v-icon>
              <v-icon v-else color="warning">error</v-icon>
            </div>
            <div>
              <div v-if="loaded && success"><strong>Registration received.</strong> We will send an email when your
                registration data is verified. In some cases this is instantaneous, otherwise staff will review the
                submission within 2 business days.
              </div>
              <div v-else-if="loaded">{{ this.errorMessage }}</div>
            </div>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="!loaded" class="primary" @click="closeResults()">Okay</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {app} from "@/main";
import {mapState} from 'vuex';
import DatePicker from "@/components/DatePicker";

export default {
  name: "SubmissionTransmit",
  components: {DatePicker},
  data() {
    return {
      certify: false,
      certifySubmitted: false,
      loaded: false,
      success: true,
      errorMessage: "",
    }
  },
  computed: {
    ...mapState(['registration', 'user']),
    draftErrors() {
      return this.registration.draftErrors;
    },
    certifyEnabled() {
      let regex = /^(19|20)\d\d[-/](0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])$/;
      return (this.registration.certification && this.registration.certification.toUpperCase().trim() === 'I CERTIFY' && (!this.isAdmin || regex.test(this.registration.submitted_at)));
    },
    isAdmin() {
      return this.user.rights.administer_wapdc_campaign_finance
    },
  },
  methods: {
    openCertifyDialog() {
      this.certify = true;
    },
    showCertifySubmittedDialog() {
      this.certifySubmitted = true;
      this.certify = false;
    },
    closeResults() {
      if (this.success) {
        window.location.href = "/campaigns/committees";
      }
      this.certifySubmitted = false;
      this.certify = false;
      this.loaded = false;
      this.success = true;
    },
    doSubmitDraft() {
      let me = this;
      app.$container.dataService.submitDraft(this.registration, result => {
        me.loaded = true;
        me.success = result.success;
        me.errorMessage = result.errors;
      })
    },

  }
}
</script>

<style>

</style>
