<template>
  <div>
    <RegistrationView/>
  </div>
</template>

<script>
import RegistrationView from "../components/RegistrationView";

export default {
  name: "SubmissionReview",
  components: {RegistrationView}
}
</script>