<template>
  <span>
    <v-btn tabindex="0" color="primary" @click="doTransmitToSeattle()">Transmit to Seattle</v-btn>
    <v-dialog v-model="doTransmit">
      <v-card>
      <v-card-title>Transmit to SEEC</v-card-title>
      <v-card-text>
        <div v-if="isTransmitting">
          <v-progress-circular indeterminate></v-progress-circular>
        </div>
        <div v-if="!loaded">
          <p>When ready please choose transmit to file your verification to the Seattle Ethics and Election Commission.</p>
        </div>
        <div v-else>
          <div v-if="success & loaded">
            <p>Registration successfully submitted to the SEEC.</p>
              <v-icon color="primary" large>done</v-icon>
          </div>
          <div v-if="!success && loaded ">
            <p>Due to technical problems your eFiling was NOT successfully uploaded to the Seattle Ethics and Elections Commission. Please try again in a little while. If you are still not successful, please <a
                href="https://www.seattle.gov/ethics/contact-us" target="_blank">contact the SEEC</a>. We appreciate your patience!</p>
            <v-icon color="error" large>error</v-icon>
          </div>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn tabindex="0" v-if="!success" color="primary" @click="transmitToSeattle()">Transmit</v-btn>
        <v-btn tabindex="0" v-if="success" color="primary" @click="closeResults()">Ok</v-btn>
        <v-btn tabindex="0" v-if="!success" @click="closeResults()">Cancel</v-btn>
      </v-card-actions>
        </v-card>
    </v-dialog>
  </span>
</template>

<script>
import SEECDataService from "../SEECDataService";
import {mapState} from "vuex";

export default {
  name: "TransmitToSeattle",
  data() {
    return {
      doTransmit: false,
      isTransmitting: false,
      loaded: false,
      success: false,
      certifySubmitted: false
    }
  },
  computed: {
    ...mapState(['registration', 'dataLoaded']),
  },
  methods: {
    doTransmitToSeattle() {
      this.doTransmit = true;
      this.loaded = false;
      this.success = false;
      this.isTransmitting = false;
      this.errorMessage = null;
    },
    closeResults() {
      this.doTransmit = false;
    },
    transmitToSeattle() {
      let ds = new SEECDataService();
      let data = this.registration;
      this.isTransmitting = true;
      ds.post(data, result => {
        this.loaded = true;
        this.success = result.success;
        this.isTransmitting = false;
      });
    }
  }
}
</script>
