<template>
  <campaign-page :title="pageTitle" @load="load">
    <v-form ref="searchForm" @submit.prevent="search" class="d-print-none">
      <v-toolbar flat>
        <date-picker clearable v-model="searchDate" label="As of"/>&nbsp;<v-btn tabindex="0" type="submit" small rounded
                                                                                color="primary">Search
      </v-btn>
      </v-toolbar>
    </v-form>
    <p v-if="asOfDate">
      Summary as of {{ formatDate(asOfDate) }}
    </p>
    <v-data-table
        :items="transactions"
        :headers="[
            {text: 'Date', value: 'date_'},
            {text: 'Name', value: 'name'},
            {text: 'Type', value: 'transaction_type'},
            { text: '-', value: 'did_amount'},
            { text: '+', value: 'cid_amount'},
        ]"
        :footer-props="{'items-per-page-options':[100, 500, 1000, 5000]}"
    >
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.cid_amount="{item}">
        <span v-if="item.direction === accountGroup.negate">{{ formatMoney(item.amount) }}</span>
      </template>
      <template v-slot:item.did_amount="{item}">
        <span v-if="item.direction !== accountGroup.negate">{{ formatMoney(item.amount) }}</span>
      </template>
    </v-data-table>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "../fund/Fund";
import filters from "@/filters";
import {orcaDataService} from "@/OrcaDataService";
import DatePicker from "@/components/DatePicker";

export default {
  name: "AccountTransactions",
  components: {DatePicker, CampaignPage},
  data() {
    return {
      accountGroup: {},
      account: {},
      searchDate: null,
      asOfDate: null,
      account_id: null,
      acctnum: null,
      transactions: [],
    }
  },
  computed: {
    pageTitle() {
      if (this.accountGroup.acctnum) {
        return this.accountGroup.title?.toLowerCase() === this.account.name?.toLowerCase() ? this.accountGroup.title : this.accountGroup.title + " - " + this.account.name
      } else {
        return "Account Group"
      }
    },
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {
    if (this.$route.params) {
      this.acctnum = this.$route.params.acctnum;
      this.account_id = this.$route.params.account_id;
    }
    if (this.$route.query.date) {
      this.searchDate = this.$route.query.date;
      this.asOfDate = this.searchDate;
    }
    if (this.fund.fund_id) {
      this.load();
    }
  },
  methods: {
    ...filters.filters,
    search() {
      if (this.$refs.searchForm && this.$refs.searchForm.validate()) {
        this.load();
      }
    },
    load() {
      orcaDataService.getGeneralData('account-group', {acctnum: this.acctnum}).then(data => {
        this.accountGroup = data['account-group'];
      });
      if (this.account_id) {
        orcaDataService.getFundObject(this.fund.fund_id, 'account', this.account_id).then(data => {
          this.account = data;
        })
      } else {
        this.account = {};
      }
      const query = {date: this.searchDate, acctnum: this.acctnum, account_id: this.account_id};
      orcaDataService.getFundData(this.fund.fund_id, 'account-transactions', query).then((data) => {
        if (this.asOfDate !== this.searchDate) {
          this.$router.replace({query})
        }
        this.asOfDate = this.searchDate;
        this.transactions = data['account-transactions'];
      });
    },
    doPrint() {
      window.print();
    }

  }
}
</script>
