<template>
  <campaign-page title="Account summary" @load="load">
    <template v-slot:toolbar>
      <v-btn tabindex="0" small @click="doPrint">Print</v-btn>
    </template>
    <v-form ref="searchForm" @submit.prevent="search" class="d-print-none">
      <v-toolbar flat>
        <date-picker clearable v-model="searchDate" label="As of"/>&nbsp;<v-btn tabindex="0" type="submit" small rounded
                                                                                color="primary">Search
      </v-btn>
      </v-toolbar>
    </v-form>
    <p class="d-none d-print-block">
      <campaign print/>
    </p>

    <p v-if="asOfDate">
      Summary as of {{ formatDate(asOfDate) }}
    </p>
    <div v-for="section in sections" :key="section.label" style="max-width: 80em;">
      <div v-if="section.required || section.data.length">
        <h2>{{ section.label }}</h2>
        <v-simple-table dense>
          <tbody>
          <tr v-for="group in section.data" :key="group.acctnum">
            <td>
              {{ group.title }}
            </td>
            <td style="text-align: right">
              <router-link :to="getRoute(group)">{{ formatMoney(group.total) }}</router-link>
            </td>
          </tr>
          </tbody>
          <p>{{ section.description }}</p>
        </v-simple-table>
      </div>
    </div>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "../fund/Fund";
import DatePicker from "@/components/DatePicker";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import Campaign from "../Campaign";

export default {
  name: "AccountSummary",
  components: {Campaign, DatePicker, CampaignPage},
  setup() {
    const {fund} = useOrcaFund()
    return {fund}
  },
  created() {
    if (this.$route.query.date) {
      this.searchDate = this.$route.query.date;
      this.asOfDate = this.searchDate;
    }
    if (this.fund.fund_id) {
      this.load();
    }
  },
  data() {
    return {
      searchDate: null,
      asOfDate: null,
      accountGroups: [],
      sections: [
        {label: "Cash on hand", minAcctnum: 1, maxAcctnum: 1999, data: [], required: true},
        {label: "Contributions", minAcctnum: 4000, maxAcctnum: 4999, data: []},
        {label: "Expenditures", minAcctnum: 5000, maxAcctnum: 5999, data: []},
        {label: "Debt and loans", minAcctnum: 2000, maxAcctnum: 2999, data: []},
        {label: "Fundraisers", minAcctnum: 6000, maxAcctnum: 6999, data: []},
      ],
    }
  },
  methods: {
    ...filters.filters,
    search() {
      if (this.$refs.searchForm && this.$refs.searchForm.validate()) {
        this.load();
      }
    },
    load() {
      if (this.searchDate) {
        const query = {date: this.searchDate};
        orcaDataService.getFundData(this.fund.fund_id, 'account-group-summary-as-of', query).then((data) => {
          if (this.asOfDate !== this.searchDate) {
            this.$router.replace({query});
          }
          this.asOfDate = this.searchDate;
          this.setSections(data['account-group-summary-as-of'] ?? []);
        });
      } else {
        orcaDataService.getFundData(this.fund.fund_id, 'account-group-summary', {date: this.searchDate}).then((data) => {
          this.asOfDate = null;
          this.setSections(data['account-group-summary'] ?? []);
          this.$router.replace({query: {}}).catch(error => {
            // Ignore the vue router error regarding navigating to the page they are already on.
            if (
              error.name !== 'NavigationDuplicated' &&
              ! error.message.includes('Avoided redundant navigation to current location')
            ) {
              console.log(error);
            }
          })
        })
      }
    },
    setSections(data) {
      for (let section of this.sections) {
        section.data = data.filter(a => (a.acctnum >= section.minAcctnum) && (a.acctnum <= section.maxAcctnum) && ((parseFloat(a.total) !== 0) || a.required));
      }
    },
    doPrint() {
      window.print();
    },
    getRoute(group) {
      const query = {}
      if (this.asOfDate) {
        query.date = this.asOfDate;
      }
      if (group.accounts === 1) {
        return {
          name: 'ORCA.fund.account-transactions',
          params: {fund_id: this.fund.fund_id, acctnum: group.acctnum, account_id: group.account_id},
          query
        }
      } else {
        return {
          name: 'ORCA.fund.accounts-for-group',
          params: {fund_id: this.fund.fund_id, acctnum: group.acctnum},
          query
        };
      }
    }
  }
}
</script>

<style scoped>

</style>
