<template>
  <campaign-page :title="pageTitle" @load="load">
    <template v-slot:toolbar>
      <v-btn tabindex="0" small @click="doPrint">Print</v-btn>
    </template>
    <v-form ref="searchForm" @submit.prevent="search" class="d-print-none">
      <v-toolbar flat>
        <date-picker clearable v-model="searchDate" label="As of"/>&nbsp;<v-btn tabindex="0" type="submit" small rounded
                                                                                color="primary">Search
      </v-btn>
      </v-toolbar>
    </v-form>
    <div class="d-none d-print-block" style="margin-bottom: 1em;">
      <campaign print/>
      <h4>{{ pageTitle }}</h4>
    </div>
    <p v-if="asOfDate">
      Summary as of {{ formatDate(asOfDate) }}
    </p>
    <div style="max-width: 80em;">
      <v-data-table
          :items="accounts"
          :headers="[
              {text: 'Name', value: 'name'},
              {text: 'Total', value: 'total'}
          ]"

      >
        <template v-slot:item.total="{item}">
          <router-link :to="getRoute(item)">
            {{ formatMoney(item.total) }}
          </router-link>
        </template>
      </v-data-table>
    </div>

  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {orcaDataService} from "@/OrcaDataService";
import Campaign from "../Campaign";
import {useOrcaFund} from "../fund/Fund";
import filters from "@/filters";
import DatePicker from "@/components/DatePicker";

export default {
  name: "AccountsForGroup.vue",
  components: {DatePicker, Campaign, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  data() {
    return {
      searchDate: null,
      asOfDate: null,
      accountGroup: {},
      accounts: [],
    }
  },
  computed: {
    pageTitle() {
      if (this.accountGroup.acctnum) {
        return this.accountGroup.title
      } else {
        return "Account Group"
      }
    }
  },
  created() {
    if (this.$route.params) {
      this.acctnum = this.$route.params.acctnum;
    }
    if (this.$route.query.date) {
      this.searchDate = this.$route.query.date;
    }
    if (this.fund.fund_id) {
      this.load();
    }
  },
  methods: {
    ...filters.filters,
    search() {
      if (this.$refs.searchForm && this.$refs.searchForm.validate()) {
        this.load();
      }
    },
    load() {
      orcaDataService.getGeneralData('account-group', {acctnum: this.acctnum}).then(data => {
        this.accountGroup = data['account-group'];
      })
      if (this.searchDate) {
        const query = {date: this.searchDate, acctnum: this.acctnum};
        orcaDataService.getFundData(this.fund.fund_id, 'accounts-for-group-as-of', query).then((data) => {
          if (this.asOfDate !== this.searchDate) {
            this.$router.replace({query})
          }
          this.asOfDate = this.searchDate;
          this.accounts = data['accounts-for-group-as-of'];
        });
      } else {
        orcaDataService.getFundData(this.fund.fund_id, 'accounts-for-group', {
          date: this.searchDate,
          acctnum: this.acctnum
        }).then((data) => {
          if (this.asOfDate !== this.searchDate) {
            this.$router.replace({query: {}});
          }
          this.asOfDate = null;
          this.accounts = data['accounts-for-group'];
        });
      }
    },
    doPrint() {
      window.print();
    },
    getRoute(item) {
      const query = {}
      if (this.asOfDate) {
        query.date = this.asOfDate;
      }
      return {
        name: 'ORCA.fund.account-transactions',
        params: {fund_id: this.fund.fund_id, acctnum: this.accountGroup.acctnum, account_id: item.account_id},
        query
      }
    }
  },
}
</script>
