<template>
  <v-autocomplete
      v-if="this.fund.fund_id" v-model="account_id" :label="label" class="AccountSelect" :disabled="disabled"
      :rules="rules"
      item-text="name" item-value="trankeygen_id" :items="filteredAccounts"
      @change="onAccountSelect"
  >
    <template v-slot:item="{item}">
      <v-list-item-content>
        <slot name="account" :item="item">
          {{ item.name }}
        </slot>
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script>
import filters from "@/filters";
import {useOrcaFund} from "../fund/Fund";

export default {
  name: "AccountSelect",
  props: {
    acctnum: {
      type: Number
    },
    label: {
      type: String
    },
    value: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: () => [],
    }
  },
  emits: ['input'],
  data() {
    return {
      account: {},
      showAccountSelect: false,
    }
  },
  computed: {
    filteredAccounts() {
      return this.fund.accounts.filter(a => a.acctnum === this.acctnum)
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {
    this.account_id = this.value;
  },
  methods: {
    ...filters.filters,
    selectAccount() {
      this.account = this.fund.accounts.find(a => a.trankeygen_id === this.account_id);
    },
    onAccountSelect() {
      this.selectAccount();
      this.$emit('input', this.account.trankeygen_id);
    }
  },
  watch: {
    value(v) {
      if (v) {
        this.account_id = v;
        this.selectAccount();
      } else {
        this.account_id = null;
        this.account = {};
      }
    }
  }
}
</script>
