<template>
  <campaign-page title="Bank accounts">
    <span class="title">Cash accounts</span>
    <accessible-button
        button-tooltip="Add cash account"
        v-if="allowEdit"
        icon
        :to="{name: 'ORCA.fund.add-bank-account', params: {fund_id: fund.fund_id}}">
      <v-icon>add</v-icon>
    </accessible-button>
    <v-list>
      <v-list-item v-for="ca in cashAccounts" :key="ca.trankeygen_id">
        <v-list-item-content>
          <v-list-item-title>{{ ca.name }}
            <accessible-button
                button-tooltip="Edit cash account"
                v-if="allowEdit && (ca.acctnum === 1000)"
                icon
                :to="{name: 'ORCA.fund.edit-account', params: {fund_id: fund.fund_id, id: ca.trankeygen_id}}">
              <v-icon>edit</v-icon>
            </accessible-button>
          </v-list-item-title>
          <v-list-item-subtitle>Balance: {{ ca.total }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <span class="title">Credit accounts</span>
    <accessible-button
        button-tooltip="Add credit account"
        v-if="allowEdit"
        icon
        :to="{name: 'ORCA.fund.add-credit-card', params: {fund_id: fund.fund_id}}">
      <v-icon>add</v-icon>
    </accessible-button>
    <v-list>
      <v-list-item v-for="(cr) in creditAccounts" :key=cr.trankeygen_id>
        <v-list-item-content>
          <v-list-item-title>
            <router-link :to="{name: 'ORCA.fund.credit-card', params: {fund: fund.fund_id, id: cr.trankeygen_id}}">
              {{ cr.name }}
            </router-link>
            <accessible-button
                button-tooltip="Edit credit account"
                v-if="allowEdit"
                icon
                :to="{name: 'ORCA.fund.edit-account', params: {fund_id: fund.fund_id, id: cr.trankeygen_id}}">
              <v-icon>edit</v-icon>
            </accessible-button>
          </v-list-item-title>
          <v-list-item-subtitle>Balance: {{ formatMoney(cr.total * -1) }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </campaign-page>
</template>

<script>
import ORCA from "@/ORCABridge";
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "../fund/Fund";
import filters from "@/filters";
import {orcaDataService} from "@/OrcaDataService";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "BankAccounts",
  components: {AccessibleButton, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {accounts: []}
  },
  computed: {
    cashAccounts() {
      return this.accounts.filter(a => a.acctnum === 1000 || a.acctnum === 1800);
    },
    creditAccounts() {
      return this.accounts.filter(a => a.acctnum === 2600)
    }
  },
  created() {
    this.loadAccounts();
  },
  methods: {
    ...filters.filters,
    loadAccounts() {
      orcaDataService.getFundData(this.$route.params.fund_id, 'bank-accounts').then(data => {

        this.accounts = data['bank-accounts'] ?? [];
      })
    },
    allowEdit() {
      return ORCA.version >= 1.490
    },
  }
}
</script>

<style scoped>

</style>
