<template>
  <div>
    <v-autocomplete
        :items=bankAccounts
        v-model="account_id"
        label="Account name"
        item-text="name"
        item-value="trankeygen_id"
        :rules="[validations.required]"
        @change="onChange()"
    />
    <div>Available: {{ formatMoney(accountBalance) }}</div>
    <v-dialog v-model="showOverdraftWarning">
      <v-card>
        <v-card-title>
          Insufficient funds
        </v-card-title>
        <v-card-text>
          <p>There are insufficient funds in this account. </p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" @click="ignoreOverdraftWarning">Proceed anyway</v-btn>
          <v-btn tabindex="0" @click="showOverdraftWarning=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import formValidations from "@/formValidations";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";

export default {
  name: "BankAccountSelect",
  props: {
    value: {
      type: Number
    },
    originalAmount: {
      type: Number,
      default: 0,
    },
    currentAmount: {
      type: Number,
      default: 0,
    },
    originalAccount: {
      type: Number,
      default: 0,
    }
  },
  data() {
    return {
      balance: 0,
      account_id: 0,
      validations: {...formValidations},
      showOverdraftWarning: false
    };
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  computed: {
    bankAccounts() {
      if (this.fund.accounts) {
        return this.fund.accounts.filter(a => a.acctnum === 1000 || a.acctnum === 1800);
      } else {
        return [];
      }
    },
    accountBalance() {
      if (this.originalAccount === this.account_id) {
        return this.balance + this.originalAmount - this.currentAmount
      } else {
        return this.balance - this.currentAmount;
      }
    }
  },
  created() {
    this.account_id = this.value;
    if (!this.account_id) {
      this.setDefaultAccount();
    } else {
      this.loadAvailableBalance();
    }
  },
  watch: {
    value(v) {
      this.account_id = v;
      if (!v) {
        this.setDefaultAccount();
      } else {
        this.loadAvailableBalance();
      }
    }
  },
  methods: {
    ...filters.filters,
    onChange() {
      this.$emit('input', this.account_id);
      this.loadAvailableBalance();
    },
    loadAvailableBalance() {
      orcaDataService.getFundData(this.fund.fund_id, 'get-account-balance', {
        fund_id: this.fund.fund_id,
        trankeygen_id: this.account_id
      }).then(data => {

        // Retrieve the current balance
        this.balance = parseFloat(data['get-account-balance'][0]['total']);

      });
    },
    setDefaultAccount() {
      if (this.bankAccounts.length <= 2 && this.bankAccounts.length > 0 && !this.account_id) {
        this.account_id = this.bankAccounts[0].trankeygen_id;
        this.$emit('input', this.account_id);
        this.loadAvailableBalance();
      }
    },
    ignoreOverdraftWarning() {
      this.$emit('ignoreWarning', true);
      this.showOverdraftWarning = false;
    },
    checkOverdraft() {
      this.showOverdraftWarning = this.accountBalance < 0;
      return !this.showOverdraftWarning;
    }
  }
}
</script>
