<template>
  <div>
    <v-autocomplete
        :items=creditCardAccounts
        v-model="account_id"
        label="Credit card"
        item-text="name"
        item-value="trankeygen_id"
        :rules="[validations.required]"
        @change="onChange()"
        :disabled="disabled"
    />
  </div>
</template>

<script>
import formValidations from "@/formValidations";
import {useOrcaFund} from "../fund/Fund";

export default {
  name: "CreditCardSelect",
  props: {
    value: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      validations: {...formValidations},
      account_id: 0
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  created() {
    this.account_id = this.value;
  },
  watch: {
    value(v) {
      this.account_id = v;
      if (!v) {
        this.setDefaultAccount();
      }
    }
  },
  computed: {
    creditCardAccounts() {
      if (this.fund.accounts) {
        return this.fund.accounts.filter(a => a.acctnum === 2600);
      } else {
        return [];
      }
    },
  },
  methods: {
    onChange() {
      this.$emit('input', this.account_id);
    },
    setDefaultAccount() {
      if (this.creditCardAccounts.length <= 2 && this.creditCardAccounts.length > 0 && !this.account_id) {
        this.account_id = this.creditCardAccounts[0].trankeygen_id;
        this.$emit('input', this.account_id);
      }
    },
  }
}
</script>