<template>
  <info-dialog title="Math Adjustment">
    <p>
      To adjust a previously entered receipt, such as a vendor refund, other receipts, or bank interest, choose the
      Receipt bubble. You will see the adjustment reflected in your C-4.
    </p>
    <p>
      To adjust a monetary expenditure, choose the Expenditure bubble to enter the transaction. This only enters the
      information into a list of corrections made. To complete the process, return to the original expenditure
      transaction, edit the dollar amount, and amend all C-4 reports going forward.
    </p>
  </info-dialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";

export default {
  name: "MathAdjustmentHelp",
  components: {InfoDialog}
}
</script>
