<template>
  <div class="EditCreditCard">
    <campaign-page @load="initPage" ref="campaignPage" v-if="fund.fund_id" :title="pageTitle">
      <template v-slot:toolbar>
        <make-deposit-button/>
      </template>

      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access Credit Cards from the ORCA version 1.490 or greater.
      </v-alert>

      <v-alert v-if="newCreditCard" type="info">
        If your campaign has a credit card, indicate it here. Do not use this function to set up payments to an
        individual person or business’ credit card.
      </v-alert>
      <v-form ref="creditCardForm" lazy-validation @submit.prevent="saveCreditCard()">
        <v-card flat max-width="1100">
          <v-card-text>
            <v-text-field
              v-model="account.name"
              :rules="[validations.required]"
              label="Name"
              type="text"
              maxLength="50"
              autofocus
            />
            <v-text-field
                ref="address"
                v-model="account.street"
                label="Street"
                type="Text"
                maxlength=100
                v-on:blur="setDefaultState"
            ></v-text-field>

            <v-row dense>
              <v-col md="6" lg="3" cols="12">
                <v-text-field
                    v-model="account.city"
                    label="City"
                    type="Text"
                    maxlength=100
                ></v-text-field>
              </v-col>
              <v-col md="2" lg="3" cols="12">
                <v-combobox
                    v-model.trim="account.state"
                    :items="states"
                    label="State"
                    type="Text"
                    :rules="[validations.validState]"
                >
                </v-combobox>
              </v-col>
              <v-col md="4" lg="3" cols="12">
                <v-text-field
                    v-model="account.zip"
                    label="Zip"
                    type="Text"
                    maxlength=50
                ></v-text-field>
              </v-col>
            </v-row>

            <v-text-field v-model="account.memo" label="Memo (Optional)" type="text"></v-text-field>

          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import {orcaDataService} from "@/OrcaDataService";
import CampaignPage from "../CampaignPage";
import formValidations from "@/formValidations";
import MakeDepositButton from "../deposits/MakeDepositButton";

export default {
  name: "EditCreditCard",
  components: {MakeDepositButton, CampaignPage},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      account: {
        name: null,
        street: null,
        city: null,
        state: null,
        zip: null
      },
      account_id_id: null,
      newCreditCard: false,
      message: null,
      states: ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC",
        "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA",
        "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE",
        "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC",
        "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI", "WV", "WY"],
      validations: {
        ...formValidations
      }
    }
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.490)
    },
    disableSelect() {
      return !!this.refund_id;
    },
    pageTitle() {
      return this.account.acctnum === 2600 ? 'Credit account' : 'Bank account'
    }
  },
  methods: {
    async initPage() {
      if (this.fund.fund_id) {
        if (this.$route.params.id) {
          this.account_id = this.$route.params.id;
          this.account = await orcaDataService.getFundObject(this.fund.fund_id, 'account', this.account_id);
        } else {
          this.resetCreditCard();
        }
      }
    },
    setDefaultState() {
      if (this.account.state === '') {
        if (this.account.street.length > 0) {
          this.account.state = 'WA'
        }
      }
    },
    resetCreditCard() {
      this.account = {
        name: null,
        street: null,
        city: null,
        state: null,
        zip: null,
        memo: null
      }
      this.account.acctnum = this.$route.name.includes('credit-card') ? 2600 : 1000;
      this.newCreditCard = this.account.acctnum === 2600;
    },
    async saveCreditCard() {
      if (this.$refs.creditCardForm.validate()) {
        let savedCreditCard;

        if (this.account.trankeygen_id) {
          savedCreditCard = await orcaDataService.putFundObject(this.fund.fund_id, 'account', this.account_id, this.account);
        } else {
          savedCreditCard = await orcaDataService.postFundObject(this.fund.fund_id, 'account', this.account);
        }

        if (savedCreditCard) {
          let response = JSON.parse(JSON.stringify(savedCreditCard));
          if (!response.orca_id) {
            response.orca_id = 0
          }
          response.contid = response.contid_orca;
          response.rds_id = response.trankeygen_id;
          response.pid = -1;

          if (response.acctnum === 2600) {
            ORCA.saveCreditCard(response);
          } else {
            ORCA.saveAccount(response);
          }
          this.message = "Saved credit card";
          await this.orcaFund.reloadFund();
          this.$refs.campaignPage.navigateBack();


        } else {
          alert("Unable to save credit card.");
        }
      } else {
        this.message = "Please ensure all required fields are complete.";
      }
    }
  }
}
</script>
