<template>
  <div class="AccountTransfer">
    <campaign-page ref="campaignPage" title="Transfer funds between accounts">
      <template v-slot:toolbar>
        <v-btn tabindex="0" color="primary" :to="{name: 'ORCA.fund.search-adjustments'}">
          <v-icon>search</v-icon>
          Adjustment search
        </v-btn>
      </template>
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access "Transfer funds between accounts" from the ORCA version 1.470 or
        greater.
      </v-alert>
      <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
        <v-icon>error</v-icon>
        Missing accounts for fund. Please contact support.
      </v-alert>
      <v-form ref="accountTransferForm" lazy-validation @submit.prevent="trySave()">
        <v-card flat max-width="1100px">
          <v-card-text>

            <v-alert type="info" outlined>This function is only used if campaign funds are to be held in different bank
              accounts or sub-accounts. If unsure about its use, please contact the PDC.
            </v-alert>

            <v-row dense>
              <v-col md="3" lg="6" cols="12">
                <v-autocomplete
                  :items=filteredContributingAccounts
                  :item-text="item =>item.acctnum + ' - ' + item.name"
                  :rules="[validations.required, validations.sameFund(transfer.did, transfer.cid)]"
                  v-model="transfer.did"
                  @change="loadAvailableBalance()"
                  label="From account"
                  item-value="trankeygen_id"
                  autofocus
                />
              </v-col>
              <v-col md="3" lg="6" cols="12">
                <v-autocomplete
                    :items=filteredReceivingAccounts
                    v-model="transfer.cid"
                    label="To account"
                    :item-text="item =>item.acctnum + ' - ' + item.name"
                    item-value="trankeygen_id"
                    :rules="[validations.required, validations.sameFund(transfer.cid, transfer.did)]"
                    @change="loadAvailableBalance()"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
            <v-row dense>
              <div> Funds available in account prior to transfer: ${{ balance }}</div>
            </v-row>
            <v-row dense>
              <v-col md="4" lg="8" cols="12">
                <v-text-field
                    v-model="transfer.amount"
                    label="Amount"
                    type="Text"
                    :rules="[validations.required, validations.positiveAmount]"
                    maxlength=50
                ></v-text-field>
              </v-col>
              <v-col md="2" lg="4" cols="12">
                <date-picker ref="dateEntry" v-model="transfer.date_" :required=true
                             label="Date" :rules="[validations.required]"></date-picker>
              </v-col>
            </v-row>
            <v-row dense>
              <v-textarea
                  v-model="transfer.memo"
                  label="Memo (optional)"
                  maxlength=1000
                  rows="2"
              ></v-textarea>
            </v-row>

          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import {orcaDataService} from "@/OrcaDataService";
import formValidations from "@/formValidations"

export default {
  name: "EditAccountTransfer",
  components: {
    DatePicker,
    CampaignPage
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      transfer: {
        cid: null,
      },
      balance: 0,
      transfer_id: 0,
      newTransfer: false,
      receivingAccountRange: {
        from: 1000,
        to: 1800
      },
      message: null,
      validations: {
        ...formValidations,
        sameFund(v, v2){ return !v || (v !== v2) || 'Cannot be the same account'}
      },
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.470)
    },
    filteredContributingAccounts() {
      if (this.fund.accounts) {
        return this.fund.accounts.filter(a => a.acctnum === 1000 || a.acctnum === 1800);
      } else {
        return [];
      }
    },
    filteredReceivingAccounts() {
      if (this.fund.accounts) {
        return this.fund.accounts.filter(a => a.acctnum === 1000 || a.acctnum === 1800);
      } else {
        return [];
      }
    },
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    async initPage() {
      if (this.fund.fund_id) {
        this.transfer_id = parseInt(this.$route.params?.id ?? 0);
        this.newTransfer = this.transfer_id === 0;
        if (!this.newTransfer) {
          this.transfer = await orcaDataService.getFundObject(this.fund.fund_id, 'transaction', this.transfer_id);
          this.previousAmount = this.transfer.amount;
          this.loadAvailableBalance();
        } else {
          this.resetTransfer();
        }
      }
    },
    resetTransfer() {
      this.balance = 0;
      this.transfer = {
        cid: null,
        did: null,
        amount: null,
        date_: null,
        memo: null,
      }
    },
    loadAvailableBalance() {
      orcaDataService.getFundData(this.fund.fund_id, 'get-account-balance', {
        fund_id: this.fund.fund_id,
        trankeygen_id: this.transfer.did
      }).then(data => {
        // Retrieve the current balance
        this.balance = parseFloat(data['get-account-balance'][0]['total']);
      });
      let contributingAccount = this.fund.accounts.find(account => account.trankeygen_id === this.transfer.did);
      if (contributingAccount.acctnum === 1000 || contributingAccount.acctnum === 1800) {
        this.receivingAccountRange.from = 1000;
        this.receivingAccountRange.to = 1800;
      }
    },
    async trySave() {
      if (this.$refs.accountTransferForm.validate()) {
        await this.doSave();
      }
    },
    async doSave() {
      if (this.$refs.accountTransferForm.validate()) {
        let savedTransfer = await orcaDataService.postFundObject(this.fund.fund_id, 'account-transfer', this.transfer);

        if (savedTransfer) {
          let response = JSON.parse(JSON.stringify(savedTransfer));
          if (!response.orca_id) {
            response.orca_id = 0;
          }
          response.cid = savedTransfer.cid_orca;
          response.did = savedTransfer.did_orca;
          response.rds_id = response.trankeygen_id;
          await ORCA.saveAccountTransfer(response);
          this.message = "Saved transfer";
        }
        if (this.newTransfer && savedTransfer) {
          this.resetTransfer();
          this.$refs.accountTransferForm.resetValidation();
        } else if (!this.newTransfer && savedTransfer) {
          this.$refs.accountTransferForm.resetValidation();
          this.$refs.campaignPage.navigateBack();
        }
      } else {
        this.message = "Please ensure all required fields are complete.";
      }
    }
  },
}
</script>
<style scoped>
tfoot td {
  color: grey;
}
</style>

