<template>
  <campaign-page ref="campaignPage" title="Transaction Adjustment" @load="setupAdjustment">
    <template v-slot:toolbar>
      <v-btn tabindex="0" small color="primary" :to="{name: 'ORCA.fund.search-adjustments'}">
        <v-icon>search</v-icon>
        Search adjustments
      </v-btn>
    </template>
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must access this page from the ORCA version 1.470 or
      greater.
    </v-alert>
    <v-form ref="correctionForm" @submit.prevent="saveCorrection">
      <v-card flat>
        <v-card-text>
          <v-alert type="info" outlined>Please email or call the PDC before using this function. Corrections must be
            made on the screen where the transaction originated.
          </v-alert>
          <transaction-select
              query="transactions-search-adjustable"
              label="Select transaction to adjust"
              v-model="correction.reported_id"
              :auto-open="!this.correctionId"
          />
          <v-row dense>
            <v-col cols="3" md="6">
              <v-text-field v-model="correction.corrected_amount"
                            :rules="[validations.required, validations.positiveAmount]" label="Corrected amount"
                            type="number"></v-text-field>
            </v-col>
            <v-col cols="3" md="6">
              <date-picker v-model="correction.discovered_date" :required="true" label="Date discovered"></date-picker>
            </v-col>
          </v-row>
          <v-text-field v-model="correction.description" :rules="[validations.requireString]"
                        label="Description"></v-text-field>
          <v-textarea v-model="correction.memo" label="Memo"></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" :disabled="disableEdit" color="primary" type="submit">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import ORCA from "@/ORCABridge";
import filters from "@/filters";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import TransactionSelect from "../TransactionSelect";
import formValidations from "@/formValidations";


export default {
  name: "EditMathAdjustment",
  components: {TransactionSelect, DatePicker, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  data() {
    return {
      correctionId: null,
      correction: {
        trankeygen_id: null,
        reported_id: null,
        discovered_date: "",
        corrected_amount: "",
        description: "",
        memo: ""
      },
      validations: {
        ...formValidations
      },
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.470)
    },
  },
  created() {
    if (this.fund.fund_id) {
      this.setupAdjustment();
    }
  },
  methods: {
    ...filters.filters,
    setupAdjustment() {
      if (this.$route.params.id) {
        this.loadCorrection(this.$route.params.id);
        this.correctionId = this.$route.params.id;
      } else {
        this.correction.trankeygen_id = null;
        this.correction.corrected_amount = null;
        this.correction.memo = null;
        this.correction.description = "";
        this.correction.discovered_date = "";
        this.correction.reported_date = "";
      }

    },
    async saveCorrection() {
      if (this.$refs.correctionForm.validate()) {
        let result;
        if (!this.correctionId) {
          result = await orcaDataService.postFundObject(this.fund.fund_id, 'correction', this.correction, true)
        } else {
          result = await orcaDataService.putFundObject(this.fund.fund_id, 'correction', this.correctionId, this.correction, true)
        }
        if (result && result.success) {
          Object.assign(this.correction, result.correction);
          const orcaCorrection = JSON.parse(JSON.stringify(result.correction));
          if (!orcaCorrection.orca_id) {
            orcaCorrection.orca_id = 0;
          }
          orcaCorrection.rds_id = result.correction.trankeygen_id;
          orcaCorrection.reported_id = result.correction.reported_orca_id;
          ORCA.saveCorrection(orcaCorrection);
          this.$refs.campaignPage.navigateBack();
        }
      }
    },
    loadCorrection(correctionId) {
      orcaDataService.getFundObjectRaw(this.fund.fund_id, 'correction', correctionId)
          .then((result) => {
            if (result.success) {
              Object.assign(this.correction, result.correction);
              this.correctionId = correctionId
            }
          });
    }
  }
}
</script>

<style scoped>

</style>