<template>
  <div>
    <v-textarea
        v-model="description"
        label="Description"
        :rules="[ validations.requireString, validations.max1000]"
        auto-grow
        @input="onDescriptionInput"
    >
    </v-textarea>
    <p class="help-text" v-if="requiresDescription">{{ helpText }}</p>
  </div>
</template>

<script>
import {useOrcaFund} from "../fund/Fund";
import formValidations from "@/formValidations";

export default {
  name: "ExpenditureDescriptionTextField",
  props: {
    value: {
      type: String,
    },
    account_id: {
      type: Number,
      value: 0,
    }
  },
  data() {
    return {
      lastAccountId: 0,
      description: "",
      isNew: false,
      validations: {
        ...formValidations,
      }
    }
  },
  created() {
    this.isNew = !this.$route.params.id
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  computed: {
    currentAccount() {
      return this.fund.accounts.find((a) => a.trankeygen_id === this.account_id);
    },
    requiresDescription() {
      return this.currentAccount ? this.currentAccount.requires_description : true;
    },
    lastLabel() {
      return this.lastAccountId ? this.fund.accounts.find((a) => a.trankeygen_id === this.lastAccountId)?.label : "";
    },
    helpText() {
      return this.currentAccount ? this.currentAccount.help_text : "";
    },
    isCustomDescription(){
      if(this.description.length > 0){
        return !this.fund.accounts.find(a => a.label === this.description)
      }else{
        return false;
      }
    }
  },
  watch: {
    value(v) {
      this.description = v;
    },
    account_id(v, old_v) {
      //new case
      if(this.isNew){
        this.setDefaultDescription();
        this.lastAccountId = v;
        this.isNew = false;
      }else{ //edit case
        if(old_v !== null){
          this.setDefaultDescription();
          this.lastAccountId = old_v;
        }
      }
    },
  },
  methods: {
    onDescriptionInput() {
      this.$emit('input', this.description);
    },
    setDefaultDescription() {
      if(!this.isCustomDescription){
        if (!this.requiresDescription && this.account_id) {
          this.description = this.currentAccount.label;
          this.$emit('input', this.description);
        } else if(this.description === this.lastLabel){
          this.description = "";
          this.$emit('input', this.description);
        }
      }
    }
  }
}
</script>

<style scoped>

</style>