<template>
  <v-autocomplete
      ref="entry"
      :items=expenseItemAccounts
      v-model="account_id"
      :label="label"
      item-text="name"
      item-value="trankeygen_id"
      :rules="[validations.required]"
      @change="onAutoCompleteChange()"
      :disabled="disable"
  >
    <template v-slot:item="{item}">
      <v-list-item-icon>
        <v-icon v-if="item && item.usage_count > 0" color="warning">star</v-icon>
        <v-icon v-else-if="item.deprecated" color="error">dangerous</v-icon>
        <v-icon v-else color="primary">circle</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title v-text="item.name"></v-list-item-title>
      </v-list-item-content>
    </template>
    >
  </v-autocomplete>
</template>

<script>
import {useOrcaFund} from "../fund/Fund";
import formValidations from "@/formValidations";

export default {
  name: "ExpenditureAccountSelect",
  props: {
    value: {
      type: Number
    },
    label: {
      type: String,
      default: "Category or account",
    },
    surplusFunds: {
      type: Boolean,
      default: false,
    },
    disable: {
      type: Boolean,
      default: false
    }
  },
  emits: ['input'],
  setup() {
    const {fund} = useOrcaFund();
    return {fund};
  },
  data() {
    return {
      account_id: 0,
      validations: {...formValidations}
    }
  },
  watch: {
    value(v) {
      this.account_id = v;
    }
  },
  computed: {
    expenseItemAccounts() {

      if (this.fund.accounts) {
        let accountNameSort = function (a, b) {

          if (a.usage_count > 0 && b.usage_count <= 0) return -1;
          if (a.usage_count <= 0 && b.usage_count > 0) return 1;

          if (a.deprecated && !b.deprecated) return 1;
          if (!a.deprecated && b.deprecated) return -1;

          if (a.name > b.name) return 1;
          if (a.name < b.name) return -1;

          return 0;
        };

        if (this.surplusFunds) {
          return this.fund.accounts.filter(a => a.cat_lookup === 'surplus').sort(accountNameSort);
        } else {
          return this.fund.accounts.filter(a => a.acctnum >= 5000 && !a.pid && a.cat_lookup !== 'surplus').sort(accountNameSort);
        }
      } else {
        return [];
      }
    },
  },
  methods: {
    onAutoCompleteChange() {
      this.$emit('input', this.account_id);
    },
    focus() {
      this.$refs.entry.focus();
    }
  }
}
</script>
