<template>
  <campaign-page @load="doSearch" title="Adjustment search">
    <template v-slot:toolbar>
      <v-menu v-if="version>=1.460">
        <template v-slot:activator="{attrs, on}">
          <v-btn tabindex="0" color="primary" v-bind="attrs" v-on="on">
            <v-icon>add</v-icon>
            New Adjustment
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-for="(receipt, index) in addReceiptTypes" :key="index" link :to="{name: receipt.route}">
            <v-list-item-title>{{ receipt.value }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <v-expansion-panels v-model="searchOpen" accordion>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <div>
            <v-icon>search</v-icon>
            Find adjustments matching
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-form @submit.prevent="doSearch()">
            <p>Enter some information to help us find what you're looking for.
              If everything is left blank, we will select some of the most recent transactions for you.</p>
            <v-row dense>
              <v-col md="6" lg="3" cols="12">
                <date-picker v-model="search.start_date" label="Earliest date" clearable></date-picker>
              </v-col>
              <v-col md="6" lg="3" cols="12">
                <date-picker v-model="search.end_date" label="Latest date" clearable></date-picker>
              </v-col>
              <v-col md="6" lg="3" cols="12">
                <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.min_value"
                              label="Minimum" type="number"></v-text-field>
              </v-col>
              <v-col md="6" lg="3" cols="12">
                <v-text-field prepend-icon="attach_money" clearable class="amount" v-model="search.max_value"
                              label="Maximum" type="number"/>
              </v-col>
            </v-row>
            <v-btn tabindex="0" type="submit" color="primary">Search</v-btn>
            <v-btn tabindex="0" @click="clearSearch()">Clear</v-btn>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-data-table :items="transactions" :headers="headers">
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.amount="{item}">
        <transaction-link :transaction="item"></transaction-link>
      </template>
      <template v-slot:item.actions="{item}">
        <transaction-link :transaction="item" icon="edit"></transaction-link>
        <accessible-button @click="loadDeleteDialog(item)" :disabled="item.deposit_date != null" button-tooltip="Delete adjustment">
          <v-icon>delete</v-icon>
        </accessible-button>
      </template>
    </v-data-table>
    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete Adjustment</v-card-title>
        <v-card-text>
          <div>Are you sure you want to delete this adjustment?</div>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" @click="deleteReceipt()">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import {useOrcaFund} from "../fund/Fund";
import {orcaDataService} from "@/OrcaDataService";
import filters from "@/filters";
import TransactionLink from "../TransactionLink";
import ORCA from "@/ORCABridge";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "SearchAdjustments",
  components: {AccessibleButton, TransactionLink, DatePicker, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {
      search: {
        start_date: null,
        end_date: null,
        min_value: null,
        max_value: null,
        name: null,
        type: null
      },
      searchOpen: true,
      showDeleteDialog: false,
      transactions: [],
      headers: [
        {text: "Date", value: "date_"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Type", value: "transaction_type"},
        {text: "Description", value: "description"},
        {text: "Original Amount", value: "original_amount"},
        {text: "", value: "actions"}
      ],
      addReceiptTypes: [
        {value: 'Transfer between accounts', route: 'ORCA.fund.add-account-transfer'},
        {value: "Transaction Adjustment", route: "ORCA.fund.add-transaction-adjustment"},
        {value: "Math Error", route: "ORCA.fund.add-math-error-adjustment"}
      ],
      selectedReceipt: {
        deposit_date: null
      }
    }
  },
  computed: {
    version() {
      return ORCA.version;
    }
  },
  methods: {
    ...filters.filters,
    doSearch() {
      if (this.fund.fund_id) {
        orcaDataService.getFundData(this.fund.fund_id, "search-account-adjustments", this.search).then(data => {
          if (data.success) {
            this.transactions = data["search-account-adjustments"];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length);
          } else {
            this.transactions = [];
            this.showMaxResultMessage = false;
          }
          this.searchOpen = this.transactions.length === 0 ? 0 : null;
        });
      } else {
        this.transactions = [];
      }
    },
    clearSearch() {
      Object.keys(this.search).forEach((i) => this.search[i] = null);
    },
    async loadDeleteDialog(receipt) {
      this.selectedReceipt = await orcaDataService.getFundObject(this.fund.fund_id, 'transaction', receipt.trankeygen_id);
      this.showDeleteDialog = true;
    },
    deleteReceipt() {
      if (this.selectedReceipt.type === 23 || this.selectedReceipt.type === 33) {
        orcaDataService.deleteFundObject(this.fund.fund_id, 'correction', this.selectedReceipt.trankeygen_id).then(response => {
          if (response.success) {
            ORCA.deleteReceipt(this.selectedReceipt);
            this.showDeleteDialog = false;
            this.doSearch(this.fund);
          }
        });
      } else if (this.selectedReceipt.type === 42) {
        orcaDataService.deleteFundObject(this.fund.fund_id, 'transaction', this.selectedReceipt.trankeygen_id).then(response => {
          if (response.success) {
            let orcaReceipt = JSON.parse(JSON.stringify(this.selectedReceipt));
            ORCA.deleteReceipt(orcaReceipt);
            this.showDeleteDialog = false;
            this.doSearch(this.fund);
          }
        });
      }
    },
  }
}
</script>
