<template>
  <div>
    <h2>Unverified Sponsors</h2>
    <v-data-table :items="unverifiedSponsors"
                  :headers="[
          { text: 'Name', value: 'name'},
          { text: 'Submitted', value:'submitted_at'},
          { text: 'Sponsor Type', value: 'sponsor_type'}
    ]">
      <template v-slot:item.name="{item}">
        <td>
          <router-link :to="{name: 'verify-sponsor', params: {sponsor_request_id: item.sponsor_request_id}}">
            {{ item.name }}
          </router-link>
        </td>
      </template>
      <template v-slot:item.sponsor_type="{item}">
        {{ sponsor_types_filter(item.sponsor_type) }}
      </template>
      <template v-slot:item.submitted_at="{item}">
        {{ formatDate(item.submitted_at) }}
      </template>
    </v-data-table>
  </div>
</template>

<script>

import {ref} from "vue";
import {ieDataService} from "@/IExpendituresDataService";
import {useIE} from "@/IE";

export default {
  name: "UnverifiedSponsors",
  setup() {
    const {sponsor_types_filter, formatDate} = useIE();
    const unverifiedSponsors = ref([]);
    return {unverifiedSponsors, sponsor_types_filter, formatDate};
  },
  created() {
    this.loadSponsorRequests();
  },
  methods: {
    loadSponsorRequests() {
      ieDataService.getAdminData('get-sponsor-request-list').then(data => {
        if (data.queryResult) this.unverifiedSponsors = data.queryResult;
      });
    }
  },
}
</script>

<style scoped>

</style>