<template>
  <div>
    <v-row>
      <v-col cols="6">
        <v-card>
          <v-card-title>Unverified Sponsor Request Data</v-card-title>
          <v-card-text>
            <p>SAW User: {{ sponsor_request.saw_email }}</p>
            <p>{{ sponsor_request.name }}</p>
            <p>{{ sponsor_request.email }}</p>
            <p>{{ sponsor_request.phone }}</p>
            <div>
              {{ sponsor_request.address }}<br/>
              {{ sponsor_request.city }}, {{ sponsor_request.state }} {{ sponsor_request.postcode }}
            </div>
            <p>Sponsor Type: {{ sponsor_types_filter(sponsor_request.sponsor_type) }}</p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card>
          <v-card-title>Possible Matches</v-card-title>
          <v-card-text>
            <v-form @submit.prevent="loadEntitySponsorSearch()">
              <v-text-field label="Search" v-model="search">
                <template v-slot:append-outer>
                  <v-btn type="submit" color="primary">Search</v-btn>
                </template>
              </v-text-field>
            </v-form>
            <v-data-table
                :items-per-page="5"
                :headers=
                    "[
                          { text: 'Name', value: 'name' },
                          { text: 'City', value: 'city' },
                          { text: 'Compare', value: 'compare' },
                        ]"
                :items="matches">

              <template v-slot:item.compare="{item}">
                <v-btn color="primary" @click="compareEntities(item)">
                  <v-icon>compare_arrows</v-icon>
                </v-btn>
              </template>
            </v-data-table>
            <v-toolbar flat>
              <v-btn color="accent" @click="openVerifySponsorDialog()">No Matching Entity</v-btn>
              <v-btn color="error" @click="denySponsorRequestDialog = true">Decline Request</v-btn>
            </v-toolbar>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog persistent v-model="compareEntitiesDialog">
      <v-card>
        <v-card-title>Sponsor Verification</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <v-card>
                <v-card-title>Unverified Sponsor Request Data</v-card-title>
                <v-card-text>
                  <p>SAW User: {{ sponsor_request.saw_email }}</p>
                  <p>{{ sponsor_request.name }}</p>
                  <p>{{ sponsor_request.email }}</p>
                  <p>{{ sponsor_request.phone }}</p>
                  <div>
                    {{ sponsor_request.address }} <br/>
                    {{ sponsor_request.city }}, {{ sponsor_request.state }} {{ sponsor_request.postcode }}
                  </div>
                  <v-select :items="sponsor_types" item-value="value" item-text="text" v-model="sponsor_type_update"
                            label="Sponsor type"></v-select>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-card>
                <v-card-title>Selected sponsor/entity data</v-card-title>
                <v-card-text>
                  <p>SAW User(s): {{ selectedSponsor.saw_email }}</p>
                  <p>{{ selectedSponsor.name }}</p>
                  <p>{{ selectedSponsor.email }}</p>
                  <p>{{ selectedSponsor.phone }}</p>
                  <div>
                    {{ selectedSponsor.address }}<br/>
                    {{ selectedSponsor.city }}, {{ selectedSponsor.state }} {{ selectedSponsor.postcode }}
                  </div>
                  <p>Sponsor Type: {{ selectedSponsor.sponsor_type }}</p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="openVerifySponsorDialog()">Verify</v-btn>
          <v-btn @click="cancelComparison()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog persistent v-model="sponsorVerificationDialog">
      <v-card>
        <v-card-title>Verify sponsor request</v-card-title>
        <v-card-text>
          <p>Verifying the sponsor will perform the following actions:</p>
          <ul>
            <li v-if="!selectedSponsor.name">Record a new entity/person for {{ sponsor_request.name }}</li>
            <li>Allow filing of C6 reports for {{ sponsor_request.name }}</li>
            <li v-if="selectedSponsor.name">Grant {{ sponsor_request.saw_email }} access to file reports for
              {{ selectedSponsor.name }}'s reports
            </li>
            <li v-else>Grant {{ sponsor_request.saw_email }} access to file reports for {{ sponsor_request.name }}</li>
          </ul>
          <p style="margin-top: 1em;">
            Are you sure you wish to continue?
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="verifySponsor()">Verify Sponsor</v-btn>
          <v-btn @click="cancelVerifySponsor()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="denySponsorRequestDialog" persistent>
      <v-card>
        <v-card-title>Deny Sponsor Request</v-card-title>
        <v-card-text>
          <p>Denying the sponsor will perform the following actions:</p>
          <ul>
            <li>Removal of the sponsor request for {{ sponsor_request.name }}</li>
          </ul>
          <p style="margin-top: 1em;">
            Are you sure you wish to continue?
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="error" @click="denySponsorRequest()">Deny Request</v-btn>
          <v-btn @click="denySponsorRequestDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="sponsorRequestDeletedDialog" persistent>
      <v-card>
        <v-card-title>Sponsor request denied</v-card-title>
        <v-card-text>Sponsor access request for {{ sponsor_request.name }} successfully denied.</v-card-text>
        <v-card-actions>
          <v-btn @click="goBackToList()">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

import {ref} from "vue";
import {ieDataService} from "@/IExpendituresDataService";
import {useIE} from "@/IE";

export default {
  name: "VerifySponsor",
  setup() {
    const {sponsor_types_filter, sponsor_types} = useIE();
    const title = ref("");
    return {title, sponsor_types_filter, sponsor_types};
  },
  data() {
    return {
      sponsor_request: {},
      matches: [],
      search: "",
      compareEntitiesDialog: false,
      selectedSponsor: {},
      sponsorVerificationDialog: false,
      sponsor_type_update: '',
      denySponsorRequestDialog: false,
      sponsorRequestDeletedDialog: false,
    }
  },
  created() {
    this.loadSponsorRequest();
  },
  methods: {
    // This will be the call that verifies a sponsor request with an existing sponsor
    verifySponsor() {
      const adminData = {
        sponsor_request_id: this.sponsor_request.sponsor_request_id,
        entity_id: this.selectedSponsor.entity_id,
        sponsor_type: this.sponsor_type_update,
      }
      ieDataService.adminApiPost('verify-sponsor', adminData).then(result => {
        if (result.success) {
          this.$router.replace({name: 'unverified-sponsors'});
        }
      });
    },
    denySponsorRequest() {
      ieDataService.adminApiPost('deny-sponsor', {sponsor_request_id: this.sponsor_request.sponsor_request_id}).then(result => {
        if (result.success) {
          this.denySponsorRequestDialog = false;
          this.sponsorRequestDeletedDialog = true;
        }
      });
    },
    goBackToList() {
      this.$router.replace({name: 'unverified-sponsors'});
    },
    openVerifySponsorDialog() {
      this.sponsorVerificationDialog = true;
    },
    cancelVerifySponsor() {
      this.sponsorVerificationDialog = false;
    },
    loadSponsorRequest() {
      ieDataService.getAdminData('get-sponsor-request', {sponsor_request_id: this.$route.params.sponsor_request_id}).then(data => {
        if (data.queryResult) {
          this.sponsor_request = data.queryResult[0];
          this.search = this.sponsor_request.name;
          this.sponsor_type_update = this.sponsor_request.sponsor_type;
          this.loadEntitySponsorSearch();
        }
      });
    },
    loadEntitySponsorSearch() {
      ieDataService.getAdminData('sponsor-entity-search', {search: this.search}).then(data => {
        if (data.queryResult) this.matches = data.queryResult;
      });
    },
    compareEntities(item) {
      this.compareEntitiesDialog = true;
      this.selectedSponsor = item;
    },
    cancelComparison() {
      this.compareEntitiesDialog = false;
      this.selectedSponsor = {};
    },
  }
}
</script>
