<template>
  <div>
    <h2>Sponsors I file for</h2>
    <v-text-field v-model="search" label="Search" single-line></v-text-field>
    <v-data-table
        :items="sponsors"
        :search="search"
        sort-by="name"
        sort-asc
        dense
        :headers="[
        { text: 'Name', value: 'name' },
        { text: 'Type', value: 'sponsor_type'},
        { text: 'Actions', value: 'actions' },
      ]"
    >
      <template v-slot:item.actions="{item}">
        <router-link :to="{name: 'sponsor-profile', params: {sponsor_id: item.sponsor_id}}">
          <v-icon aria-label="Edit">edit</v-icon>
        </router-link>
      </template>
      <template v-slot:item.name="{ item }">
          <a v-if="item.email" :href="legacyUrl(item.entity_id, item.sponsor_id)">{{ item.name }}</a>
          <span v-else>{{ item.name }} <router-link :to="{ name: 'sponsor-profile', params: { sponsor_id: item.sponsor_id } }">(update profile)</router-link></span>
      </template>
      <template v-slot:item.sponsor_type="{item}">
        {{ sponsor_types_filter(item.sponsor_type) }}
      </template>
    </v-data-table>
    <div v-if="sponsorRequests && sponsorRequests.length > 0">
      <h2>Pending requests</h2>
      <p>Requests should be processed within two business days.</p>
      <v-data-table
          :items="sponsorRequests"
          sort-by="submitted_at"
          sort-asc
          dense
          :headers="[
        { text: 'Name', value: 'name' },
        { text: 'Submitted', value: 'submitted_at'},
      ]"
      >
        <template v-slot:item.submitted_at="{item}">
          {{ formatDateTime(item.submitted_at) }}
        </template>
      </v-data-table>
    </div>
    <AddSponsor @sponsors-changed="getSponsorsData"/>
  </div>
</template>

<script>
import AddSponsor from "@/registration/AddSponsor";
import {useIE} from "@/IE";
import {ieDataService} from "@/IExpendituresDataService";

export default {
  name: "IndependentExpenditures",
  components: {AddSponsor},
  setup() {
    const {validations, formatDateTime, sponsor_types, sponsor_types_filter} = useIE();
    return {validations, formatDateTime, sponsor_types, sponsor_types_filter}
  },
  data() {
    return {
      sponsors: [],
      entity_id: 0,
      sponsor: {
        name: "",
        sponsor_type: "",
        address: "",
        city: "",
        state: "",
        postcode: "",
        phone: "",
      },
      sponsorRequests: [],
      loading: true,
      loading_text: "Loading... Please wait",
      search: "",
    };
  },
  created() {
    this.getSponsorsData();
  },
  methods: {
    registrationState() {
      let display = [];
      display.icon = 'verified_user';
      display.button = 'View';
      display.state = 'Complete';
      display.buttonColor = 'success';
      display.iconColor = 'success';
      return display;
    },
    getSponsorsData() {
      ieDataService.getFilerData('my-sponsors').then(result => {
        this.sponsors = result.sponsors ?? [];
        this.sponsorRequests = result.sponsorRequests ?? [];
      });
    },
    legacyUrl(entity_id, sponsor_id) {
      let url;
      if (location.host.search('localhost') >= 0) {
        url = 'https://apollod8.lndo.site/';
      } else {
        url = '/';
      }
      return url + 'iexpenditures/redirect-to-c6/' + entity_id + '/' + sponsor_id;
    }
  },
};
</script>
