<template>
  <div v-if="employerContact.employer">
    <div v-if="employerContact.employer.name">{{ employerContact.employer.name }}</div>
    <div v-if="employerContact.employer.city">
      {{ employerContact.employer.city }} {{ employerContact.employer.state }}
    </div>
    <div v-if="employerContact.employer.occupation">Occupation: {{ employerContact.employer.occupation }}</div>
  </div>
</template>

<script>
export default {
  props: {
    contId: String,
    contacts: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  name: "EmployerInfo.vue",
  data() {
    return {
      employerContact: {}
    }
  },
  created() {
    this.employerContact = this.contacts.find(c => c.contact_key === this.contId);
  }
}
</script>