<template>
  <div v-if="contact && contact.name" style="margin-bottom: 1em;">
    <div>{{ contact.name }}</div>
    <div>
      {{ contact.address }}
      <span v-if="contact.city && contact.state">{{ contact.city }}, {{ contact.state }} {{ contact.postcode }}</span>
    </div>
    <div v-if="contact.employer">
      <strong>Occupation/Employer</strong><br/>
      <span v-if="contact.employer.occupation">{{
          contact.employer.occupation
        }}<br/></span>{{ contact.employer.name }}<span v-if="contact.employer.city"> {{
        contact.employer.city
      }}, {{ contact.employer.state }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "EndorserInfo",
  props: {
    contId: String,
    contacts: {
      type: Array,
      election: String,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      contact: {}
    }
  },
  methods: {
    electionFilter(code) {
      return code === 'G' ? 'General Election' : 'Primary Election'
    },
  },
  created() {
    this.contact = this.contacts.find(c => c.contact_key === this.contId);
  },
}
</script>