<template>
  <CampaignPage ref="campaignPage" title="Auction" @load="loadInfo">
    <template v-slot:toolbar>
      <v-btn tabindex="0" color="error" small v-if="allowEdit" @click="showDeleteAuctionDialog=true">
        <v-icon>delete</v-icon>
        Delete
      </v-btn>
    </template>
    <h2>{{ auction.name }}
      <v-btn tabindex="0" v-if="allowEdit" icon
             :to="{name: 'ORCA.fund.edit-auction', params: {fund_id: fund.fund_id, id: auction.trankeygen_id}}">
        <v-icon>edit</v-icon>
      </v-btn>
    </h2>
    <div>
      <span v-if="auction.street">{{ auction.street }} <br/></span>
      <span v-if="auction.city">{{ auction.city }}, {{ auction.state }} {{ auction.zip }}</span>
    </div>
    <div v-if="auction.date_"><strong>Date:</strong> {{ formatDate(auction.date_) }}</div>
    <div><strong>Total raised:</strong> {{ formatMoney(totalRaised) }}</div>
    <div style="margin-top: 1em;">
      <h3>Items
        <v-btn tabindex="0" v-if="allowEdit"
               :to="{name: 'ORCA.fund.auction.add-item', params: {fund_id: fund.fund_id, auction_id: auction.trankeygen_id}}"
               icon small>
          <v-icon>add</v-icon>
        </v-btn>
      </h3>
      <v-data-table
          :headers="[
            {text: '#', value: 'itemnumber'},
            {text: 'Description', value: 'itemdescription'},
            {text: 'Donor', value: 'donor'},
            {text: 'Market value', value: 'marketval'},
            {text: 'Buyer', value: 'buyer'},
            {text: 'Sold for', value: 'sale_price', align: 'end'},
            {text: 'Date', value: 'date_'},
            {text: '', value: 'actions'},
          ]"
          :items="auction.items">
        <template v-slot:item.buyer="{item}">
          <router-link v-if="item.buyer_contid"
                       :to="{name:'orca.fund.contact', params: {contact_id: item.buyer_contid}}">
            {{ item.buyer }}
          </router-link>
        </template>
        <template v-slot:item.donor="{item}">
          <router-link v-if="item.donor_contid"
                       :to="{name:'orca.fund.contact', params: {contact_id: item.donor_contid}}">
            {{ item.donor }}
          </router-link>
        </template>
        <template v-slot:item.marketval="{item}">
          {{ formatMoney(item.marketval) }}
        </template>
        <template v-slot:item.sale_price="{item}">
          {{ formatMoney(item.sale_price, null) }}
        </template>
        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-if="allowEdit" v-slot:item.actions="{item}">
          <v-btn tabindex="0" small
                 :to="{name: 'ORCA.fund.auction.edit-item', params: {fund_id: fund.fund_id, auction_id: auction.trankeygen_id, id: item.trankeygen_id}}">
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn tabindex="0" small @click="tryDeleteAuctionItem(item)">
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </div>
    <v-dialog v-model="showDeleteAuctionItemDialog">
      <v-card>
        <v-card-title>
          Delete auction Item?
        </v-card-title>
        <v-card-text>
          <v-alert v-if="disableItemDelete" type="error">You cannot delete an auction item that have been deposited.
          </v-alert>
          <p v-else>Are you sure you want to delete auction item {{ auctionItem.itemnumber }}
            {{ auctionItem.itemdescription }}?</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDeleteAuctionItem" :disabled="disableItemDelete">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteAuctionItemDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showDeleteAuctionDialog">
      <v-card>
        <v-card-title>Delete auction?</v-card-title>
        <v-card-text>
          <v-alert v-if="disableDelete" type="error">You cannot delete an auction when any of the item sales have been
            deposited.
          </v-alert>
          <p v-else>Are you sure you want to delete the auction of {{ auction.name }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDeleteAuction" :disabled="disableDelete">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteAuctionDialog=false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </CampaignPage>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "../fund/Fund";
import ORCA from "@/ORCABridge";
import filters from "@/filters";
import {orcaDataService} from "@/OrcaDataService";

export default {
  name: "AuctionView",
  components: {CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {
      auction: {
        items: []
      },
      auctionItem: {},
      showDeleteAuctionItemDialog: false,
      showDeleteAuctionDialog: false
    }
  },
  created() {
    this.loadInfo();
  },
  computed: {
    allowEdit() {
      return ORCA.version >= 1.490;
    },
    totalRaised() {
      return this.auction.total * -1;
    },
    disableDelete() {
      return this.auction.items.filter(x => x.deptkey).length > 0;
    },
    disableItemDelete() {
      return this.auctionItem.deptkey > 0;
    }
  },
  methods: {
    ...filters.filters,
    loadInfo() {
      if (this.fund.fund_id) {
        const trankeygen_id = this.$route.params.id;
        orcaDataService.getFundObject(this.fund.fund_id, 'auction-details', trankeygen_id).then((data) => {
          this.auction = data;
          if (!this.auction.items) {
            this.auction.items = [];
          }
        });
      }
    },
    doDeleteAuctionItem() {
      const id = this.auctionItem.trankeygen_id;
      orcaDataService.deleteFundObject(this.fund.fund_id, 'auction-item', id).then((result) => {
        if (result.success) {
          ORCA.deleteReceipt(this.auctionItem);
          this.loadInfo();
          this.showDeleteAuctionItemDialog = false;
        }
      });
    },
    tryDeleteAuctionItem(item) {
      this.auctionItem = item;
      this.showDeleteAuctionItemDialog = true;
    },
    doDeleteAuction() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'auction', this.auction.trankeygen_id).then(result => {
        if (result.success) {
          ORCA.deleteReceipt(this.auction);
          this.$refs.campaignPage.navigateBack();
        }
      })
    }
  }
}
</script>

