<template>
  <div class="EditCashFundraiser">
    <campaign-page ref="campaignPage" title="Cash fundraiser">
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must edit Cash fundraisers from ORCA version 1.480 or
        greater.
      </v-alert>
      <template v-slot:toolbar>
        <v-btn tabindex="0" color="primary" :to="{name: 'ORCA.fund.fundraiser-search'}">
          <v-icon>search</v-icon>
          Fundraiser Search
        </v-btn>
      </template>
      <v-form ref="cashFundraiserForm" lazy-validation @submit.prevent="doSave()">
        <v-card flat max-width="1100">
          <v-card-text>
            <v-text-field
              v-model="fundraiser.name"
              :rules="[validations.requireString]"
              label="Fundraiser name"
              type="Text"
              maxlength=110
              autofocus
            />
            <date-picker ref="dateEntry" v-model="fundraiser.date_"
                         label="Fundraiser date (Optional)"></date-picker>
            <v-text-field
                v-model="fundraiser.street"
                label="Address (Optional)"
                type="Text"
                maxlength=100
            ></v-text-field>
            <v-row dense>
              <v-col md="6" lg="7" cols="12">
                <v-text-field
                    v-model="fundraiser.city"
                    label="City"
                    type="Text"
                    maxlength=100
                ></v-text-field>
              </v-col>
              <v-col md="2" cols="6">
                <v-combobox
                    v-model.trim="fundraiser.state"
                    :items="validations.states"
                    label="State"
                    type="Text"
                    :rules="[validations.validState]"
                >
                </v-combobox>
              </v-col>
              <v-col md="4" lg="3" cols="6">
                <v-text-field
                    v-model="fundraiser.zip"
                    label="Zip"
                    type="Text"
                    maxlength=50
                ></v-text-field>
              </v-col>
            </v-row>

            <v-textarea
                v-model="fundraiser.memo"
                label="Memo (optional)"
                maxlength=1000
                rows="2"
            ></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import {orcaDataService} from "@/OrcaDataService";
import formValidations from "@/formValidations";

export default {
  name: "CashFundraiser.vue",
  components: {
    DatePicker,
    CampaignPage
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      fundraiser: {
        name: null
      },
      fundraiser_id: 0,
      newFundraiser: false,
      message: null,
      validations: {
        ...formValidations
      },
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.480)
    },
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    async initPage() {
      if (this.fund.fund_id) {
        this.fundraiser_id = parseInt(this.$route.params?.id ?? 0);
        this.newFundraiser = this.fundraiser_id === 0;
        if (!this.newFundraiser) {
          this.fundraiser = await orcaDataService.getFundObject(this.fund.fund_id, 'cash-fundraiser', this.fundraiser_id);
        } else {
          this.resetFundraiser();
        }
      }
    },
    resetFundraiser() {
      this.fundraiser = {
        name: null,
        amount: null,
        date_: null,
        street: null,
        city: null,
        state: null,
        zip: null,
        memo: null
      }
    },
    async doSave() {
      if (this.$refs.cashFundraiserForm.validate()) {
        let savedCashFundraiser = await orcaDataService.postFundObject(this.fund.fund_id, 'cash-fundraiser', this.fundraiser);
        // Reload fund to make sure accounts are there.
        if (!this.fundraiser_id) {
          await this.orcaFund.reloadFund();
        }

        if (savedCashFundraiser) {
          let orcaFundraiser = JSON.parse(JSON.stringify(savedCashFundraiser));
          if (!orcaFundraiser.orca_id) {
            orcaFundraiser.orca_id = 0;
          }
          orcaFundraiser.rds_id = orcaFundraiser.trankeygen_id;
          orcaFundraiser.contid_rds = orcaFundraiser.did;
          await ORCA.saveFundraiserEvent(orcaFundraiser);
          this.message = "Saved fundraiser";
          this.$router.replace({
            name: 'ORCA.fund.fundraiser',
            params: {fund_id: this.fund.fund_id, id: savedCashFundraiser.trankeygen_id}
          });
        }
      }
      return true
    }
  }
}
</script>

<style scoped>
</style>
