<template>
  <campaign-page ref="campiagnPage" title="Auction" @load="initPage">
    <v-alert color="warning" v-if="disableEdit">
      <v-icon>error</v-icon>
      Read only mode: To modify, you must edit auctions from ORCA version 1.490 or
      greater.
    </v-alert>
    <template v-slot:toolbar>
      <v-btn tabindex="0" color="primary" :to="{name: 'ORCA.fund.fundraiser-search'}">
        <v-icon>search</v-icon>
        Fundraiser Search
      </v-btn>
    </template>
    <v-form ref="auctionForm" lazy-validation @submit.prevent="doSave()">
      <v-card flat max-width="1100">
        <v-card-text>
          <v-text-field
            v-model="fundraiser.name"
            :rules="[validations.requireString]"
            label="Name"
            type="Text"
            maxlength=110
            autofocus
          />
          <date-picker ref="dateEntry" v-model="fundraiser.date_"
                       label="Date" :required="true"></date-picker>
          <v-text-field
              v-model="fundraiser.street"
              label="Address (Optional)"
              type="Text"
              maxlength=100
          ></v-text-field>
          <v-row dense>
            <v-col md="6" lg="7" cols="12">
              <v-text-field
                  v-model="fundraiser.city"
                  label="City"
                  type="Text"
                  maxlength=100
              ></v-text-field>
            </v-col>
            <v-col md="2" cols="6">
              <v-combobox
                  v-model.trim="fundraiser.state"
                  :items="validations.states"
                  label="State"
                  type="Text"
                  :rules="[validations.validState]"
              >
              </v-combobox>
            </v-col>
            <v-col md="4" lg="3" cols="6">
              <v-text-field
                  v-model="fundraiser.zip"
                  label="Zip"
                  type="Text"
                  maxlength=50
              ></v-text-field>
            </v-col>
          </v-row>

          <v-textarea
              v-model="fundraiser.memo"
              label="Memo (optional)"
              maxlength=1000
              rows="2"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-spacer/>
          {{ message }}
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import ORCA from "@/ORCABridge";
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "../fund/Fund";
import formValidations from "@/formValidations";
import {orcaDataService} from "@/OrcaDataService";
import DatePicker from "@/components/DatePicker";

export default {
  name: "EditAuction",
  components: {DatePicker, CampaignPage},
  data() {
    return {
      fundraiser: {
        name: null
      },
      fundraiser_id: 0,
      newFundraiser: false,
      message: null,
      validations: {...formValidations}
    };
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.490)
    }
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    async initPage() {
      if (this.fund.fund_id) {
        this.fundraiser_id = parseInt(this.$route.params?.id ?? 0);
        this.newFundraiser = this.fundraiser_id === 0;
        if (!this.newFundraiser) {
          this.fundraiser = await orcaDataService.getFundObject(this.fund.fund_id, 'cash-fundraiser', this.fundraiser_id);
        } else {
          this.resetFundraiser();
        }
      }
    },
    resetFundraiser() {
      this.fundraiser = {
        name: null,
        amount: null,
        date_: null,
        street: null,
        city: null,
        state: null,
        zip: null,
        memo: null
      }
    },
    async doSave() {
      if (this.$refs.auctionForm.validate()) {
        let savedAuction = await orcaDataService.postFundObject(this.fund.fund_id, 'auction', this.fundraiser);
        // Reload fund to make sure accounts are there.
        if (!this.fundraiser_id) {
          await this.orcaFund.reloadFund();
        }

        if (savedAuction) {
          let orcaAuction = JSON.parse(JSON.stringify(savedAuction));
          orcaAuction.rds_id = orcaAuction.trankeygen_id;
          orcaAuction.contid_rds = orcaAuction.contid;
          await ORCA.saveAuction(orcaAuction);
          this.$router.replace({
            name: 'ORCA.fund.auction',
            params: {fund_id: this.fund.fund_id, id: savedAuction.trankeygen_id}
          });
        }
      }
    }
  }
}
</script>

