<template>
  <campaign-page ref="campaignPage" title="Fundraiser Contribution" @load="setupContribution">
    <template v-slot:toolbar>
      <add-contributions/>
    </template>
    <v-alert color="warning" v-if="disableEdit">
      Read only mode: To modify, you must edit fundraiser contributions from the ORCA version 1.480 or
      greater.
    </v-alert>
    <v-alert color="warning" v-if="!hasCashFundraiser">
      You need to create a cash fundraiser before recording a cash fundraiser contribution.
    </v-alert>
    <v-form lazy-validation @submit.prevent="trySave" ref="contributionForm">
      <v-card flat>
        <v-card-text>
          <account-select v-model="pid" :acctnum="4096" label="Cash fundraiser" :rules="[validations.required]"
                          :disabled="!!contribution_id">
            <template v-slot:account="{item}">
              {{ item.name }} {{ formatDate(item.date_) }}
            </template>
          </account-select>
          <contact-select
              ref="contactSelect"
              label="Contributor"
              @valid-contact="doSave"
              :election="elekey"
              :test-emp-address="true"
              :require-address="false"
              :amount="adjustedAmount"
              :rules="[validations.required]"
              v-model.number="contid"/>
          <v-row dense>
            <v-col cols="12" sm="6">
              <v-text-field
                label="Amount"
                type="text"
                inputmode="decimal"
                v-model.number="amount"
                :rules="[validations.required, validations.positiveAmount]"
              />
            </v-col>
            <v-col cols="12" sm="6">
              <date-picker ref="dateEntry" label="Date" v-model="date" :required="true"/>
            </v-col>
            <v-col cols="12" sm="6">
              <election-select v-model="elekey"/>
            </v-col>
            <v-col cols="12" sm="6">
              <v-checkbox tabindex="0"
                  v-model.number="itemized"
                  label="Itemize (optional)"
                  v-bind:false-value=0
                  v-bind:true-value=1
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-text-field
              v-model="checkno"
              label="Check number (optional)"
              maxlength="50"/>
          <v-textarea v-model="memo" label="Memo (optional)"
                      maxlength="1000" rows="2"/>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
          <v-spacer/>
          {{ message }}
        </v-card-actions>
      </v-card>
    </v-form>
  </campaign-page>
</template>

<script>
import CampaignPage from "../CampaignPage";
import AddContributions from "../contributions/AddContributions";
import formValidations from "@/formValidations";
import ORCA from "@/ORCABridge";
import ContactSelect from "../contacts/ContactSelect";
import DatePicker from "@/components/DatePicker";
import AccountSelect from "../accounts/AccountSelect";
import ElectionSelect from "../contributions/ElectionSelect";
import {useOrcaFund} from "../fund/Fund";
import filters from "@/filters";
import {orcaDataService} from "@/OrcaDataService";

export default {
  name: "EditFundraiserContribution",
  components: {
    ElectionSelect,
    AccountSelect, DatePicker, ContactSelect, AddContributions, CampaignPage
  },
  data() {
    return {
      validations: {...formValidations},
      originalContribution: {},
      amount: null,
      pid: null,
      date: null,
      contid: null,
      itemized: 0,
      checkno: null,
      elekey: null,
      memo: null,
      message: "",
    }
  },
  computed: {
    disableEdit() {
      return !(ORCA.version >= 1.480);
    },
    disablePidChange() {
      return !!this.contribution_id;
    },
    adjustedAmount() {
      const amount = this.amount ? this.amount : 0
      return this.originalContribution.trankeygen_id ? amount - this.originalContribution.amount : amount;
    },
    hasCashFundraiser(){
      return this.fund.accounts.filter(a => a.acctnum === 4096).length > 0
    },
  },
  created() {
    this.setupContribution();
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  methods: {
    ...filters.filters,
    setupContribution() {
      if (this.fund.fund_id) {
        if (this.$route.params.id) {
          this.contribution_id = this.$route.params.id;
          this.loadContribution()
        } else {
          this.contribution_id = null;
          this.originalPayment = {};
          this.amount = null;
          this.contid = null;

          if (this.$route.query.pid) {
            this.pid = Number.parseInt(this.$route.query.pid);
          } else {
            this.pid = null;
          }
          if (this.$refs.contributionForm) {
            this.$refs.contributionForm.resetValidation();
          }
        }
      }
    },
    onContactSelect() {
      setTimeout(() => this.$refs.dateEntry.focus(), 200);
    },
    loadContribution() {
      orcaDataService.getFundObject(this.fund.fund_id, 'fundraiser-contribution', this.contribution_id)
          .then(contribution => {
            if (contribution) {
              this.originalContribution = contribution;
              this.pid = contribution.pid;
              this.contid = contribution.contid;
              this.amount = contribution.amount;
              this.date = contribution.date_;
              this.elekey = contribution.elekey;
              this.checkno = contribution.checkno;
              this.memo = contribution.memo;
              this.itemized = contribution.itemized;
            }
          })
    },
    async trySave() {
      if (this.$refs.contributionForm.validate()) {
        const isValid = await this.$refs.contactSelect.contactSelectSoftValidation();
        if (isValid) {
          this.doSave();
        }
      }
    },
    async doSave() {
      const contribution = {
        pid: this.pid,
        contid: this.contid,
        date_: this.date,
        amount: this.amount,
        checkno: this.checkno,
        elekey: this.elekey,
        itemized: this.itemized,
        memo: this.memo,
      };
      if (this.contribution_id) {
        contribution.trankeygen_id = this.contribution_id;
      }
      const result = await orcaDataService.postFundObject(this.fund.fund_id, 'fundraiser-contribution', contribution, true);

      if (result.success) {
        // Save to orca
        const orcaContribution = JSON.parse(JSON.stringify(result['fundraiser-contribution']));
        orcaContribution.contid = orcaContribution.contid_orca;
        orcaContribution.pid = orcaContribution.pid_orca;
        ORCA.saveFundraiserContribution(orcaContribution);

        if (!this.contribution_id) {
          // Clear out fields we don't want to stay.
          this.contid = null;
          this.amount = null;
          this.checkno = null;
          this.memo = null;
          this.message = "Saved contribution";
          this.$refs.contributionForm.resetValidation();
          setTimeout(() => this.$refs.contactSelect.focus(), 200);
        } else {
          this.$refs.campaignPage.navigateBack();
        }

      }
    }
  }
}
</script>

