<template>
  <CampaignPage ref="campaignPage" @load="initPage" :title="pageTitle">
    <v-row>
      <v-col cols="12" md="6">
        <v-form ref="auctionItemForm" @submit.prevent="trySave">
          <v-card flat>
            <v-card-text>
              <v-row dense>
                <v-col cols="12" sm="4">
                  <v-text-field ref="itemNumber" :rules="[validations.requireString]" v-model="auctionItem.itemnumber"
                                label="Item #"/>
                </v-col>
                <v-col cols="12" sm="8">
                  <v-text-field :rules="[validations.requireString]" v-model="auctionItem.itemdescription"
                                label="Description"/>
                </v-col>
              </v-row>
              <v-card style="margin-bottom: 1em;">
                <v-card-text>
                  <p><strong>Donor information</strong></p>
                  <contact-select ref="donorSelect" @contact-selected="onDonorSelect" @valid-contact="onDonorValid"
                                  :amount="currentDonorDonation" :test-emp-address="true" :require-address="false"
                                  label="Name" v-model="auctionItem.donor_contid"/>
                  <v-row dense>
                    <v-col rows="12" sm="4">
                      <v-text-field :rules="[validations.required, validations.positiveAmount]"
                                    ref="fairMarketTextField" type="number" label="Fair market value"
                                    v-model="auctionItem.marketval"/>
                    </v-col>
                    <v-col rows="12" sm="4">
                      <v-text-field label="Check no." v-model="auctionItem.donor_checkno"/>
                    </v-col>
                    <v-col rows="12" sm="4">
                      <election-select v-model="auctionItem.donor_elekey"/>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
              <v-card>
                <v-card-text>
                  <p><strong>Buyer information</strong></p>
                  <v-row dense>
                    <v-col cols="12" sm="8">
                      <contact-select :optional="!buyerInfoRequired" @contact-selected="onBuyerSelect"
                                      @valid-contact="doSave" ref="buyerSelect" :amount="currentBuyerDonation"
                                      :test-emp-address="true" :require-address="false" label="Name"
                                      v-model="auctionItem.buyer_contid"/>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <date-picker dense v-model="auctionItem.date_" label="Sale date"></date-picker>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col rows="12" sm="4">
                      <v-text-field ref="salePriceTextField"
                                    :rules="[validations.requireBuyerInfo, validations.positiveAmount]" type="number"
                                    label="Sale price" v-model="auctionItem.sale_price"/>
                    </v-col>
                    <v-col rows="12" sm="4">
                      <v-text-field v-model="auctionItem.buyer_checkno" label="Check no."/>
                    </v-col>
                    <v-col rows="12" sm="4">
                      <election-select v-model="auctionItem.buyer_elekey"/>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-card-text>
            <v-card-actions>
              <v-btn tabindex="0" type="submit" color="primary">Save</v-btn>
              <v-btn tabindex="0" @click="cancel">Cancel</v-btn>
              <v-spacer>{{ message }}</v-spacer>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-col>
      <v-col cols="12" md="6">
        <v-data-table
            :items="auction.items"
            :headers="[
              { text: 'No.', value: 'itemnumber'},
              { text: 'Description', value: 'itemdescription'},
              { text: 'Sold', value: 'date_'},
              { text: 'Market value', value: 'marketval', align: 'end'},
              { text: 'Sale price', value: 'sale_price', align: 'end'},
            ]"
            :footer-props="{'items-per-page-options':[50,-1]}"
        >
          <template v-slot:item.marketval="{item}">
            {{ formatMoney(item.marketval) }}
          </template>
          <template v-slot:item.date_="{item}">
            {{ formatDate(item.date_) }}
          </template>
          <template v-slot:item.sale_price="{item}">
            {{ formatMoney(item.sale_price) }}
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </CampaignPage>
</template>

<script>
import CampaignPage from "../CampaignPage";
import {useOrcaFund} from "../fund/Fund";
import ContactSelect from "../contacts/ContactSelect";
import ElectionSelect from "../contributions/ElectionSelect";
import formValidations from "@/formValidations";
import {orcaDataService} from "@/OrcaDataService";
import ORCA from "@/ORCABridge";
import filters from "@/filters";
import DatePicker from "@/components/DatePicker";

export default {
  name: "EditAuctionItem",
  components: {DatePicker, ElectionSelect, ContactSelect, CampaignPage},
  data() {
    return {
      message: "",
      auctionItem: {
        marketval: null,
        sale_price: null,
        itemdescription: null,
        itemnumber: null,
        donor_elekey: null,
        donor_contid: null,
        donor_checkno: null,
        buyer_contid: null,
        buyer_checkno: null,
        buyer_elekey: null,
        date_: null
      },
      auction: {},
      item: {},
      originalItem: {
        donor_donation: null,
        buyer_donation: null,
      },
      validations: {
        ...formValidations,
        requireBuyerInfo: (v) => !!v || !this.buyerInfoRequired || 'Required',
      }
    }
  },
  computed: {
    pageTitle(){
      return !this.auction.items?.length ? 'Create auction item': 'Edit auction item';
    },
    buyerInfoRequired() {
      return !!this.auctionItem.buyer_contid || !!this.auctionItem.sale_price || !!this.auctionItem.deptkey;
    },
    currentBuyerDonation() {
      const oldAmount = this.originalItem.buyer_donation ? this.originalItem.buyer_donation : 0.0;
      if (!this.auctionItem.sale_price || !this.auctionItem.marketval) {
        return 0.0;
      }
      if (this.auctionItem.sale_price > this.auctionItem.marketval) {
        return this.auctionItem.sale_price - this.auctionItem.marketval - oldAmount;
      } else {
        return 0.0 - oldAmount;
      }
    },
    currentDonorDonation() {
      const oldAmount = this.originalItem.donor_donation ? this.originalItem.donor_donation : 0.0;
      if (!this.auctionItem.sale_price || !this.auctionItem.marketval) {
        return 0.0;
      }
      if ((this.auctionItem.sale_price < this.auctionItem.marketval)) {
        return this.auctionItem.sale_price - oldAmount;
      } else {
        return this.auctionItem.marketval - oldAmount
      }
    }
  },
  created() {
    this.initPage();
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  methods: {
    ...filters.filters,
    initPage() {
      if (this.fund.fund_id) {
        this.auction_id = this.$route.params.auction_id;
        this.loadAuction();
        if (this.$route.params.id) {
          this.loadAuctionItem(this.$route.params.id);
        }
      }
    },
    async loadAuction() {
      const auction = await orcaDataService.getFundObject(this.fund.fund_id, 'auction-details', this.auction_id);
      if (auction) {
        this.auction = auction;
        if (!this.auction.items) {
          this.auction.items = [];
        }
      }
      if (!this.auctionItem.date_) {
        this.auctionItem.date_ = this.auction.date_;
      }
    },
    loadAuctionItem(id) {
      orcaDataService.getFundObject(this.fund.fund_id, 'auction-item', id).then((data) => {
        Object.assign(this.originalItem, data);
        Object.assign(this.auctionItem, data);
      });
    },
    async trySave() {
      if (this.$refs.auctionItemForm.validate()) {
        if (await this.$refs.donorSelect.contactSelectSoftValidation()) {
          if (await this.$refs.buyerSelect.contactSelectSoftValidation()) {
            this.doSave();
          }
        }
      }
    },
    onDonorValid() {
      if (this.$refs.buyerSelect.contactSelectSoftValidation()) {
        this.doSave();
      }
    },
    async doSave() {
      this.auctionItem.pid = this.auction.trankeygen_id;
      const newAuctionItem = !this.auctionItem.trankeygen_id;
      let response = await orcaDataService.postFundObject(this.fund.fund_id, 'auction-item', this.auctionItem, true);
      if (response.success) {
        Object.assign(this.auctionItem, response['auction-item']);
        Object.assign(this.originalItem, response['auction-item']);
        const orcaAuctionItem = JSON.parse(JSON.stringify(response['auction-item']));
        orcaAuctionItem.rds_id = orcaAuctionItem.trankeygen_id;
        orcaAuctionItem.pid = orcaAuctionItem.pid_orca;
        orcaAuctionItem.donor_contid = orcaAuctionItem.donor_contid_orca;
        orcaAuctionItem.buyer_contid = orcaAuctionItem.buyer_contid ? orcaAuctionItem.buyer_contid_orca : 0;
        ORCA.saveAuctionItem(orcaAuctionItem);
        this.message = "Saved"
        if (response.success && newAuctionItem) {
          this.loadAuction();
          this.resetAuctionItem();
          this.$refs.auctionItemForm.resetValidation();
          setTimeout(() => {
            this.$refs.itemNumber.focus();
          }, 200)
        } else {
          this.$refs.campaignPage.navigateBack();
        }
      } else {
        alert("Error saving Auction");
      }
    },
    cancel() {
      this.$refs.campaignPage.navigateBack();
    },
    onBuyerSelect() {
      setTimeout(() => this.$refs.salePriceTextField.focus(), 100);
    },
    onDonorSelect() {
      setTimeout(() => this.$refs.fairMarketTextField.focus(), 100);
    },
    resetAuctionItem() {
      this.auctionItem = {
        marketval: null,
        sale_price: null,
        itemdescription: null,
        itemnumber: null,
        donor_elekey: null,
        donor_contid: null,
        donor_checkno: null,
        buyer_contid: null,
        buyer_checkno: null,
        buyer_elekey: null,
        date_: this.auction.date_
      }
    }
  }
}
</script>

