<template>
  <div style="max-width: 1100px;">
    <campaign-page title="Fundraiser search">
      <template v-slot:toolbar>
        <v-menu v-if="version>=1.460">
          <template v-slot:activator="{attrs, on}">
            <v-btn tabindex="0" small color="primary" v-bind="attrs" v-on="on">
              <v-icon>add</v-icon>
              New Fundraiser
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(fundraiser, index) in addFundraiserTypes" :key="index" link
                         :to="{name: fundraiser.route}">
              <v-list-item-title>{{ fundraiser.value }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <make-deposit-button/>
      </template>
      <v-expansion-panels v-model="searchOpen" accordion>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <div>
              <v-icon>search</v-icon>
              Find fundraisers matching...
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form @submit.prevent="reloadDataTables()">
              <p>Enter some information to help us find what you're looking for.
                If everything is left blank, we will select some of the most recent transaction for you.</p>
              <v-text-field v-model="search.name" label="Name" clearable></v-text-field>
              <v-row align="start" dense>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="search.start_date" label="Earliest date" clearable></date-picker>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <date-picker v-model="search.end_date" label="Latest date" clearable></date-picker>
                </v-col>
                <v-col md="6" lg="3" cols="12">
                  <v-select
                      v-model="search.fundraiser_type"
                      label="Fundraiser type"
                      :items="fundraiserTypes"
                      item-text="value"
                      item-value="id"
                      clearable
                  >
                  </v-select>
                </v-col>
              </v-row>
              <v-btn tabindex="0" type="submit" color="primary" @click="reloadDataTables()">Search</v-btn>
              <v-btn tabindex="0" @click="clearSearch()">Clear</v-btn>
            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <fundraisers-data-table @load="onTableLoad" query="fundraiser-search" :parameters="search" ref="table"/>
    </campaign-page>
  </div>
</template>

<script>
import CampaignPage from '@/orca/CampaignPage';
import DatePicker from '@/components/DatePicker';
import {useOrcaFund} from '@/orca/fund/Fund';
import FundraisersDataTable from "@/orca/fundraisers/FundraisersDataTable";
import ORCA from "@/ORCABridge";
import MakeDepositButton from "../deposits/MakeDepositButton";

export default {
  name: "FundraiserSearch",
  components: {CampaignPage, MakeDepositButton, DatePicker, FundraisersDataTable},
  data() {
    return {
      parameters: [],
      searchOpen: true,
      search: {
        start_date: null,
        end_date: null,
        min_value: null,
        max_value: null,
        name: null,
        fundraiser_type: null
      },
      fundraiserTypes: [
        {id: 4098, value: 'Auction'},
        {id: 4096, value: 'Cash fundraiser'},
        {id: 4097, value: 'Low-cost fundraiser'},
      ],
      addFundraiserTypes: [
        {value: 'Cash fundraiser', route: 'ORCA.fund.add-cash-fundraiser'},
        {value: 'Low-cost fundraiser', route: 'ORCA.fund.add-low-cost-fundraiser'},
        {value: 'Auction', route: 'ORCA.fund.add-auction'},
      ]
    }
  },
  computed: {
    version() {
      return ORCA.version;
    }
  },
  methods: {
    onTableLoad(length) {
      this.searchOpen = length === 0 ? 0 : null;
    },
    reloadDataTables() {
      this.$refs.table.loadTransactions(this.fund);
    },
    clearSearch() {
      Object.keys(this.search).forEach((i) => this.search[i] = null);
    }
  },
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  }
}
</script>
