<template>
  <campaign-page title="Fundraiser" @load="loadInfo()">
    <template v-slot:toolbar>
      <v-btn tabindex="0" color="error" small v-if="allowEdit" @click="showDeleteFundraiserDialog=true">
        <v-icon>delete</v-icon>
        Delete
      </v-btn>
    </template>
    <v-card flat>
      <v-card-title>
        <span v-if="fundraiser.name">{{ fundraiser.name }}</span>
        <accessible-button
            v-if="allowEdit"
            icon
            @click="editFundraiser(fundraiser.trankeygen_id)"
            button-tooltip="Edit fundraiser">
          <v-icon>edit</v-icon>
        </accessible-button>
      </v-card-title>
      <v-card-text>
        <div>
          <span v-if="fundraiser.street">{{ fundraiser.street }} <br/></span>
          <span v-if="fundraiser.city">{{ fundraiser.city }}, {{ fundraiser.state }} {{ fundraiser.zip }}</span>
        </div>
        <div v-if="fundraiser.date_"><strong>Date:</strong> {{ formatDate(fundraiser.date_) }}</div>
        <div><strong>Total raised:</strong> {{ formatMoney(totalRaised) }}</div>
        <div v-if="fundraiser.description">Description: {{ fundraiser.description }}</div>
      </v-card-text>
    </v-card>

    <div>
      <span class="title">Contributions</span>
      <accessible-button
          button-tooltip="Add contribution"
          icon
          v-if="allowEdit"
          :to="{name: 'ORCA.fund.add-fundraiser-contribution', params: {fund_id: fund.fund_id}, query: {pid: fundraiser.trankeygen_id}}">
        <v-icon>add</v-icon>
      </accessible-button>

      <v-data-table
          :items="contributions"
          :single-expand="true"
          item-key="trankeygen_id"
          :headers="cheaders"
          :footer-props="{'items-per-page-options':[-1]}"
      >
        <template v-slot:item.name="{item}">
          <router-link v-if="item.contid" :to="{name:'orca.fund.contact', params: {contact_id: item.contid}}">
            {{ item.name }}
          </router-link>
        </template>
        <template v-slot:item.date_="{item}">
          {{ formatDate(item.date_) }}
        </template>
        <template v-slot:item.amount="{item}">
          {{ formatMoney(item.amount) }}
        </template>
        <template v-slot:item.deposit_date="{item}">
          <deposit-link :receipt="item"/>
        </template>
        <template v-slot:item.actions="{item}" v-if="allowEdit">
          <accessible-button
              button-tooltip="Edit fundraiser"
              icon
              :to="{name: 'ORCA.fund.fundraiser-contribution', params: {fund_id: fund.fund_id, id: item.trankeygen_id}}">
            <v-icon>edit</v-icon>
          </accessible-button>
          <accessible-button
              button-tooltip="Delete fundraiser"
              icon
              @click="tryDeleteContribution(item)">
            <v-icon>delete</v-icon>
          </accessible-button>
        </template>
      </v-data-table>
    </div>
    <v-dialog v-model="showDeleteContribution">
      <v-card>
        <v-card-title>
          Delete fundraiser contribution?
        </v-card-title>
        <v-card-text>
          <v-alert v-if="disableDelete" type="error">You cannot delete a contribution after it has been deposited.
          </v-alert>
          <p v-else>Are you sure you want to delete the contribution of {{ formatMoney(contribution.amount) }} made
            by {{ contribution.name }} on {{ formatDate(contribution.date_) }}?</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="primary" @click="doDeleteContribution">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteContribution = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showDeleteFundraiserDialog">
      <v-card>
        <v-card-title>
          Delete fundraiser?
        </v-card-title>
        <v-card-text>
          <v-alert v-if="disableFundraiserDelete" type="error">You cannot delete a fundraiser that has contributions.
            Please delete all associated contributions before deleting.
          </v-alert>
          <p v-else>Are you sure you want to delete this fundraiser?</p>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" v-if="!disableFundraiserDelete" color="primary" @click="doDeleteFundraiser">Delete</v-btn>
          <v-btn tabindex="0" @click="showDeleteFundraiserDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </campaign-page>
</template>

<script>
import ORCA from "@/ORCABridge";
import CampaignPage from "@/orca/CampaignPage";
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "../fund/Fund";
import filters from "@/filters";
import DepositLink from "../deposits/DepositLink";
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "FundraiserView",
  components: {AccessibleButton, DepositLink, CampaignPage},
  setup() {
    const {fund} = useOrcaFund();
    return {fund}
  },
  data() {
    return {
      fundraiser: {},
      contributions: [],
      contribution: {},
      showDeleteContribution: false,
      showDeleteFundraiserDialog: false,
      cheaders: [
        {text: "Name", value: "name"},
        {text: "Date", value: "date_"},
        {text: "Amount", value: "amount", align: "end"},
        {text: "Deposited", value: "deposit_date"},
        {text: "", value: "actions"}
      ],
    }
  },
  computed: {
    disableDelete() {
      return !!this.contribution.deptkey;
    },
    disableFundraiserDelete() {
      return !!this.contributions.length;
    },
    allowEdit() {
      return ORCA.version >= 1.480
    },
    totalRaised() {
      return this.fundraiser.total * -1;
    }
  },
  methods: {
    ...filters.filters,
    editFundraiser(trankeygen_id) {
      this.$router.push({
        name: "ORCA.fund.edit-cash-fundraiser",
        params: {id: trankeygen_id, fund_id: this.$route.params.fund_id}
      });
    },
    tryDeleteContribution(item) {
      this.contribution = item;
      this.showDeleteContribution = true;
    },
    doDeleteFundraiser() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'cash-fundraiser', this.fundraiser.trankeygen_id)
          .then(result => {
            if (result.success) {
              ORCA.deleteReceipt(this.fundraiser);
              this.showDeleteFundraiserDialog = false;
              this.$router.replace({name: 'ORCA.fund.fundraiser-search', params: {fund_id: this.fund.fund_id}});
            }
          });
    },
    doDeleteContribution() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'transaction', this.contribution.trankeygen_id)
          .then(result => {
            if (result.success) {
              ORCA.deleteReceipt(this.contribution);
              this.loadInfo();
              this.showDeleteContribution = false;
            }
          });
    },
    loadInfo() {
      const trankeygen_id = this.$route.params.id
      orcaDataService.getFundData(this.$route.params.fund_id, 'fundraiser-details/' + trankeygen_id)
          .then(result => {
            if (result.success) {
              this.fundraiser = result.fundraiser;
              this.contributions = result.contributions ?? [];
            }
          });
    },
  },
  created() {
    this.loadInfo();
  }
}
</script>
