<template>
  <div>
    <slot name="header"/>
    <v-text-field v-model="search" append-icon="mdi-magnify" label="Search in results" single-line
                  hide-details></v-text-field>
    <v-data-table
        :search="search"
        :items="transactions"
        :single-expand="true"
        item-key="trankeygen_id"
        :headers="headers"
        :footer-props="{'items-per-page-options':[25, 50, 100, -1]}"
    >
      <template v-slot:item.name="{item}">
        {{ item.name }}
      </template>
      <template v-slot:item.date_="{item}">
        {{ formatDate(item.date_) }}
      </template>
      <template v-slot:item.amount="{item}">
        {{ formatMoney(item.amount) }}
      </template>
      <template v-slot:item.actions="{item}">
        <accessible-button v-if="getEditRoute(item)" :to="getEditRoute(item)" button-tooltip="Edit fundraiser">
          <v-icon>edit</v-icon>
        </accessible-button>
        <accessible-button v-if="getViewRoute(item)" :to="getViewRoute(item)" button-tooltip="View fundraiser">
          <v-icon>visibility</v-icon>
        </accessible-button>
        <accessible-button v-if="canDelete(item)" @click="loadDeleteDialog(item)" button-tooltip="Delete fundraiser">
          <v-icon>delete</v-icon>
        </accessible-button>
      </template>
    </v-data-table>
    <slot name="maximumResultMessage" v-if="showMaxResultMessage">
      <v-alert color="secondary">
        <v-icon>info</v-icon>
        Only showing the first {{ maxResults }} results
      </v-alert>
    </slot>
    <slot name="default"/>
    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete Fundraiser</v-card-title>
        <v-card-text>
          <div v-if="!fundraiser.deposit_date">Are you sure you want to delete the fundraiser?</div>
          <v-alert v-else type="error">You cannot delete a fundraiser after it has been deposited.</v-alert>
        </v-card-text>
        <v-card-actions>
          <v-btn tabindex="0" color="error" @click="deleteFundraiser()" :disabled="!!fundraiser.deposit_date">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
          <v-btn tabindex="0" @click="showDeleteDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ORCA from '@/ORCABridge';
import {orcaDataService} from "@/OrcaDataService";
import {useOrcaFund} from "@/orca/fund/Fund";
import filters from "@/filters";
import {computed} from 'vue'
import AccessibleButton from "@/components/AccessibleButton";

export default {
  name: "FundraisersDataTable",
  components: {AccessibleButton},
  props: {
    query: {
      type: String,
      default: 'fundraiser-search'
    },
    parameters: {
      type: Object
    },
    maxResults: {
      type: Number
    }
  },
  data() {
    return {
      expanded: [],
      search: "",
      showMaxResultMessage: false,
      showDeleteDialog: false,
      transactions: [],
      fundraiser: [],
      headers: [
        {text: "Date", value: "date_"},
        {text: "Name", value: "name"},
        {text: "Raised", value: "amount", align: "end"},
        {text: "Type", value: "transaction_type"},
        {text: "", value: "actions"}
      ]
    }
  },
  computed: {
    allowEdit() {
      return ORCA.version >= 1.480
    },
    version() {
      return ORCA.version;
    },
  },
  methods: {
    ...filters.filters,
    loadTransactions(fund) {
      if (fund.fund_id) {
        orcaDataService.getFundData(fund.fund_id, this.query, this.parameters).then(data => {
          if (data.success) {
            this.transactions = data["fundraiser-search"];
            this.showMaxResultMessage = !!(this.maxResults && this.maxResults <= this.transactions.length);
          } else {
            this.transactions = [];
            this.showMaxResultMessage = false;
          }
          this.$emit('load', this.transactions.length);
        })
      } else {
        this.transactions = []
      }
    },
    async loadDeleteDialog(fundraiser) {
      this.fundraiser = fundraiser;
      this.showDeleteDialog = true;
    },
    deleteFundraiser() {
      orcaDataService.deleteFundObject(this.fund.fund_id, 'fundraiser', this.fundraiser.receipt_id).then(response => {
        if (response.success) {
          let orcaFundraiser = JSON.parse(JSON.stringify(this.fundraiser));
          orcaFundraiser.contid = this.fundraiser.contid_orca;
          orcaFundraiser.rds_id = this.fundraiser.receipt_id;
          ORCA.deleteReceiptContactAccount(orcaFundraiser);
          this.loadTransactions(this.fund);
        }
        this.showDeleteDialog = false;
      });
    },
    getEditRoute(item) {
      const paramsReceipt = {fund_id: this.fund.fund_id, id: item.receipt_id};
      if (ORCA.version >= 1.480 && item.acctnum === 4097) {
        return {name: 'ORCA.fund.edit-low-cost-fundraiser', params: paramsReceipt};
      }
      return null;
    },
    getViewRoute(item) {
      const params = {fund_id: this.fund.fund_id, id: item.trankeygen_id};

      switch (item.acctnum) {
        case 4096:
          return {name: 'ORCA.fund.fundraiser', params};
        case 4098:
          return {name: 'ORCA.fund.auction', params}
      }
      return null;
    },
    canDelete(item) {
      if (item.acctnum === 4097) {
        return this.orcaVersion >= 1.470
      } else {
        return false;
      }
    },
  },
  setup() {
    const {fund} = useOrcaFund();
    const orcaVersion = computed(() => ORCA.version);
    return {fund, orcaVersion}
  },
  created() {
    ORCA.$on('loadFund', this.loadTransactions);
    this.loadTransactions(this.fund);
  },
  beforeDestroy() {
    ORCA.$off('loadFund', this.loadTransactions);
  },
}
</script>