<template>
  <InfoDialog title="Low-cost Fundraiser">
    <h3>Qualifying events</h3>
    <ul>
      <li>Retail sales of goods or services at a reasonable approximation of their fair market value;</li>
      <li>A gambling operation conducted in compliance with state gambling laws (contact the Gambling Commission);</li>
      <li>A food and beverage event where the admission price or the cost for food and beverages is no more than {{fund.thresholds.itemized_contributions}};
      </li>
      <li>An entertainment event where the admission price is no more than ${{fund.thresholds.itemized_contributions}};</li>
      <li>An auction or similar sale where the total fair market value of items donated by any person is no more than
        ${{fund.thresholds.report_auctions}}.
      </li>
    </ul>
    <p>
      <strong>If someone pays over ${{fund.thresholds.report_auctions}}</strong> to participate in a qualifying event or pays more than $150 to purchase
      auction or sale
      items, that contribution is <strong>not included</strong> in the lump sum reported from the low-cost fundraiser.
      Instead, itemize
      the contribution on the C-3. The rest of the funds collected from participants paying ${{fund.thresholds.report_auctions}} or less may still be
      lumped together and reported as a single sum on the C-3.
    </p>
    <h3>Disqualification</h3>
    <p>The entire event does not qualify as a low-cost fundraiser (and you must record and report the amounts given by
      each contributor participating in the event) if you sell goods or services at more than fair market value, or have
      no stated admission price. Donors who pay for the event but do not attend must be treated as regular contributors.
      Do not lump their money in with fundraiser receipts.
    </p>
  </InfoDialog>
</template>

<script>
import InfoDialog from "@/info/InfoDialog";
import {useOrcaFund} from "@/orca/fund/Fund";

export default {
  name: "LowCostFundraiserHelp",
  components: {InfoDialog},
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
}
</script>
