<template>
  <div class="EditLowCostFundraiser">
    <campaign-page ref="campaignPage" title="Low-cost fundraiser">
      <v-alert color="warning" v-if="disableEdit">
        <v-icon>error</v-icon>
        Read only mode: To modify, you must access "Low-cost fundraiser" from the ORCA version 1.470 or greater.
      </v-alert>
      <v-alert color="error" dark v-if="!disableEdit && !fund.accounts">
        <v-icon>error</v-icon>
        Missing accounts for fund. Please contact support.
      </v-alert>
      <template v-slot:toolbar>
        <v-btn tabindex="0" color="primary" :to="{name: 'ORCA.fund.fundraiser-search'}">
          <v-icon>search</v-icon>
          Fundraiser Search
        </v-btn>
      </template>
      <v-form ref="lowCostForm" lazy-validation @submit.prevent="trySave()">
        <v-card flat max-width="1100">
          <v-card-text>

            <p>Low-cost fundraisers are a specific type of fundraiser. They must meet certain rules to qualify as
              low-cost.
              <low-cost-fundraiser-help/>
            </p>
            <v-text-field
              v-model="fundraiser.name"
              :rules="[validations.requireString]"
              label="Fundraiser name"
              ref="fundraiserName"
              type="Text"
              maxlength=110
              autofocus
            />
            <v-row dense>
              <v-col cols="6">
                <v-text-field
                    v-model="fundraiser.amount"
                    label="Amount"
                    type="number"
                    :rules="[validations.required, validations.positiveAmount]"
                    maxlength=50
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <date-picker ref="dateEntry" v-model="fundraiser.date_" :max-date="maxFundraiserDate"
                             label="Fundraiser date" :message="dataMessage" :required=true></date-picker>
              </v-col>
            </v-row>
            <v-text-field
                v-model="fundraiser.street"
                label="Address (Optional)"
                type="Text"
                maxlength=100
            ></v-text-field>
            <v-row dense>
              <v-col md="6" lg="7" cols="12">
                <v-text-field
                    v-model="fundraiser.city"
                    label="City"
                    type="Text"
                    maxlength=100
                ></v-text-field>
              </v-col>
              <v-col md="2" cols="6">
                <v-combobox
                    v-model.trim="fundraiser.state"
                    :items="states"
                    label="State"
                    type="Text"
                    :rules="[validations.validState]"
                >
                </v-combobox>
              </v-col>
              <v-col md="4" lg="3" cols="6">
                <v-text-field
                    v-model="fundraiser.zip"
                    label="Zip"
                    type="Text"
                    maxlength=50
                ></v-text-field>
              </v-col>
            </v-row>

            <v-textarea
                v-model="fundraiser.memo"
                label="Memo (optional)"
                maxlength=1000
                rows="2"
            ></v-textarea>

          </v-card-text>
          <v-card-actions>
            <v-btn tabindex="0" color="primary" type="submit" :disabled="disableEdit">Save</v-btn>
            <v-spacer/>
            {{ message }}
          </v-card-actions>
        </v-card>
      </v-form>
    </campaign-page>
  </div>
</template>

<script>
import {useOrcaFund} from "@/orca/fund/Fund";
import ORCA from "@/ORCABridge";
import CampaignPage from "../CampaignPage";
import DatePicker from "@/components/DatePicker";
import {orcaDataService} from "@/OrcaDataService";
import LowCostFundraiserHelp from "./LowCostFundraiserHelp";
import formValidations from "@/formValidations";
import filters from "@/filters";

export default {
  name: "EditLowCostFundraiser",
  components: {
    LowCostFundraiserHelp,
    DatePicker,
    CampaignPage
  },
  setup() {
    const {fund, orcaFund} = useOrcaFund();
    return {fund, orcaFund}
  },
  data() {
    return {
      fundraiser: {
        name: null
      },
      fundraiser_id: 0,
      newFundraiser: false,
      message: null,
      validations: {
        ...formValidations
      },
      states: ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC",
        "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA",
        "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE",
        "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC",
        "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI", "WV", "WY"]
    }
  },
  computed: {
    disableEdit() {
      return (ORCA.version < 1.470)
    },
    maxFundraiserDate() {
      return this.fundraiser.deposit_date??this.currentDatePlusOneMonth();
    },
    dataMessage() {
      return this.fundraiser.deposit_date ? 'the deposit date, ' : '';
    },
  },
  created() {
    this.initPage();
  },
  watch: {
    $route() {
      this.initPage();
    }
  },
  methods: {
    ...filters.filters,
    async initPage() {
      if (this.fund.fund_id) {
        this.fundraiser_id = parseInt(this.$route.params?.id ?? 0);
        this.newFundraiser = this.fundraiser_id === 0;
        if (!this.newFundraiser) {
          this.fundraiser = await orcaDataService.getFundObject(this.fund.fund_id, 'low-cost-fundraiser', this.fundraiser_id);
        } else {
          this.resetFundraiser();
        }
      }
    },
    resetFundraiser() {
      this.fundraiser = {
        name: null,
        amount: null,
        date_: null,
        street: null,
        city: null,
        state: null,
        zip: null,
        memo: null
      }
    },
    async trySave() {
      if (this.$refs.lowCostForm.validate()) {
        await this.doSave();
      }
    },
    async doSave() {
      if (this.$refs.lowCostForm.validate()) {
        let savedFundraiser = await orcaDataService.postFundObject(this.fund.fund_id, 'low-cost-fundraiser', this.fundraiser);

        if (savedFundraiser) {
          let response = JSON.parse(JSON.stringify(savedFundraiser));
          if (!response.orca_id) {
            response.orca_id = 0;
          }
          response.rds_id = response.trankeygen_id;
          response.contid = response.contid_orca;
          response.contid_rds = response.did;
          await ORCA.saveLowCostFundraiser(response);
          this.message = "Saved fundraiser";
        }
        if (this.newFundraiser && savedFundraiser) {
          this.resetFundraiser();
          this.$refs.lowCostForm.resetValidation();
          setTimeout(() => {
            this.$refs.fundraiserName.focus();
            this.$refs.lowCostForm.resetValidation();
          }, 200)
        } else if (!this.newFundraiser && savedFundraiser) {
          this.$refs.lowCostForm.resetValidation();
          this.$refs.campaignPage.navigateBack();
        }
      } else {
        this.message = "Please ensure all required fields are complete.";
      }
    }
  },
}
</script>
<style scoped>
tfoot td {
  color: grey;
}
</style>

